Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*

Use `qdel_self()` for `QDEL_IN()`
  code/_macros.dm
Labels: none

Replace deletion timers with `QDEL_IN()`
  code/game/machinery/_machines_base/machinery.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/misc.dm
  code/modules/multiz/zmimic/mimic_movable.dm
  code/modules/power/singularity/singularity.dm
Labels: none

Resprites EMS jackets and autocomps
  code/modules/clothing/suits/jobs.dm
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/auto_cpr.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: Sprites

FEAT: ARF
  code/game/area/Space Station 13 areas.dm
  code/game/area/areas.dm
  icons/obj/atm_fieldgen.dmi
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra.dm
  mods/machinery/atmos_ret_field/_atm_ret_field.dme
  mods/machinery/atmos_ret_field/atmospheric_retention_field.dm
  mods/species/resomi/clothing/misc.dm.dm
Labels: Map, Sprites

Mapfixes
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-3.dmm
Labels: Map

unathi can have tattoos, they layer over plates
  code/modules/species/station/lizard.dm
  code/modules/sprite_accessories/accessory_tattoo.dm
  code/modules/sprite_accessories/accessory_unathi.dm
  icons/mob/human_races/species/tattoos.dmi
  icons/mob/human_races/species/unathi/body.dmi
  icons/mob/human_races/species/unathi/deformed.dmi
  icons/mob/human_races/species/unathi/markings.dmi
  icons/mob/human_races/species/unathi/skin.dmi
  icons/mob/human_races/species/unathi/tattoo.dmi
Labels: Sprites

Add the beamotron
  baystation12.dme
  code/game/machinery/beamotron/_beamotron.dm
  code/game/machinery/beamotron/particle_beam/_particle_beam.dm
  icons/obj/machines/beamotron.dmi
Labels: Sprites

Minor tweaks
  code/game/machinery/beamotron/_beamotron.dm
Labels: none

Automatic changelog generation for PR #32837 [ci skip]
  html/changelogs/AutoChangeLog-pr-32837.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32837.yml
Labels: none

Remove unused return value from `attack_generic()`
  code/_onclick/other_mobs.dm
  code/game/objects/structures.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/inflatable.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  code/modules/power/lighting.dm
  code/modules/turbolift/turbolift_console.dm
Labels: none

Apply standardized health to `attack_generic()`
  code/_onclick/other_mobs.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/inflatable.dm
  code/game/objects/structures/window.dm
  code/modules/hydroponics/spreading/spreading_response.dm
  code/modules/integrated_electronics/core/assemblies.dm
Labels: none

Apply standardized health to `hitby()`
  code/game/atoms.dm
  code/game/objects/structures/wall_frame.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/turf.dm
  code/modules/shieldgen/emergency_shield.dm
Labels: none

potted plants; our friends
  baystation12.dme
  code/datums/supplypacks/hydroponics.dm
  code/game/objects/items/flora.dm
  code/game/objects/structures/flora.dm
  maps/away/meatstation/meatstation.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

glowing pipes
  baystation12.dme
  code/_helpers/visual_filters.dm
  code/modules/atmospherics/he_pipes.dm
Labels: none

Automatic changelog generation for PR #32856 [ci skip]
  html/changelogs/AutoChangeLog-pr-32856.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32856.yml
Labels: none

Rename to roomotron, prepare for particle code.
  baystation12.dme
  code/game/machinery/beamotron/particle_beam/_particle_beam.dm
  code/game/machinery/roomotron/_roomotron.dm
  code/game/machinery/roomotron/particle_beam/_particle_beam.dm
  code/game/machinery/roomotron/particle_beam/particle_beam_projectile.dm
  icons/obj/machines/beamotron.dmi
  icons/obj/machines/roomotron.dmi
Labels: Sprites

Randomly pulse wires when machinery EMP'd
  code/game/machinery/_machines_base/machinery.dm
Labels: none

Fix DreamChecker error
  code/game/machinery/roomotron/_roomotron.dm
Labels: none

Revert "Apply standardized health to majority of the codebase"
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/barrier.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/doors/airlock_interactions.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/admin/buildmode/turret.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/modular_computer/damage.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/computers/modular_computer/variables.dm
  code/modules/modular_computers/computers/subtypes/dev_laptop.dm
  code/modules/modular_computers/computers/subtypes/dev_telescreen.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/power/solar.dm
  code/modules/shieldgen/emergency_shield.dm
  maps/away/errant_pisces/errant_pisces.dm
  test/check-paths.sh
Labels: Repo

revert
  baystation12.dme
  code/_macros.dm
  code/_version.dm
  code/core/math/math.dm
Labels: none

Revert "Revert "Apply standardized health to majority of the codebase""
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/barrier.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/doors/airlock_interactions.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/admin/buildmode/turret.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/modular_computer/damage.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/computers/modular_computer/variables.dm
  code/modules/modular_computers/computers/subtypes/dev_laptop.dm
  code/modules/modular_computers/computers/subtypes/dev_telescreen.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/power/solar.dm
  code/modules/shieldgen/emergency_shield.dm
  maps/away/errant_pisces/errant_pisces.dm
  test/check-paths.sh
Labels: Repo

postmerge fixes
  maps/deepmaint/deepmaint_rooms/normal/office.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-4.dmm
Labels: Map

Fix spider webs and cocoons not dying
  code/game/objects/effects/spiders.dm
Labels: none

Fix spiderling death message class
  code/game/objects/effects/spiders.dm
Labels: none

Create spiderlings when egg clusters die
  code/game/objects/effects/spiders.dm
Labels: none

Remove hardcoded EMP effects from doors and APCs
  code/game/machinery/doors/airlock.dm
  code/modules/power/apc.dm
  test/check-paths.sh
Labels: Repo

random map fixes
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  mods/sofa/sofa.dm
Labels: Map

small opt.
  code/game/turfs/unsimulated.dm
  code/modules/alarm/alarm.dm
Labels: none

security state fix
  code/datums/security_state.dm
  maps/sierra/sierra_security_state.dm
Labels: none

add vector2 and vector3 datums
  baystation12.dme
  code/core/math/vector2.dm
  code/core/math/vector3.dm
Labels: none

fix clone_atom & copy_contents_to behavior
  code/_helpers/unsorted.dm
Labels: none

disabled vector overloads invalid at linter 1.5.1
  code/core/math/vector2.dm
  code/core/math/vector3.dm
Labels: none

Log and inform use of TTV error
  code/game/objects/items/weapons/tanks/tanks.dm
Labels: none

Don't update icons for qdeleted atoms
  code/game/atoms.dm
Labels: none

Runtime batch fix 2023-01-02
  code/game/turfs/simulated/wall_icon.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/mob/living/silicon/robot/analyzer.dm
  code/modules/mob/transform_procs.dm
  code/modules/organs/external/head.dm
  code/modules/organs/internal/species/fbp.dm
  code/modules/projectiles/guns/projectile/flaregun.dm
  code/modules/supermatter/supermatter.dm
Labels: none

More.
  baystation12.dme
  code/game/machinery/roomotron/_roomotron.dm
  code/game/machinery/roomotron/particle_beam/_particle_beam.dm
  code/game/machinery/roomotron/roomotron_generator.dm
  icons/obj/machines/roomotron.dmi
Labels: Sprites

Lowers mutineer/loyalist slots, adjusts TC
  code/game/antagonist/station/loyalist.dm
  code/game/antagonist/station/revolutionary.dm
Labels: none

technical wording
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/projectiles/ammunition/boxes.dm
Labels: none
