Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

Automatic changelog generation for PR #32486 [ci skip]
  html/changelogs/AutoChangeLog-pr-32486.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32486.yml
  html/changelogs/AutoChangeLog-pr-32517.yml
Labels: none

Implement mob/species traits
  baystation12.dme
  code/datums/traits/boons/boon.dm
  code/datums/traits/boons/cast_iron_stomach.dm
  code/datums/traits/boons/clear_mind.dm
  code/datums/traits/boons/filtered_blood.dm
  code/datums/traits/maluses/animal_protein.dm
  code/datums/traits/maluses/ethanol.dm
  code/datums/traits/maluses/malus.dm
  code/datums/traits/maluses/sugar.dm
  code/datums/traits/maluses/water.dm
  code/datums/traits/metabolically_inert.dm
  code/datums/traits/trait_helpers.dm
  code/datums/traits/trait_levels.dm
  code/datums/traits/traits.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/species/species.dm
  code/modules/species/station/golem.dm
  code/unit_tests/_includes.dm
  code/unit_tests/trait_tests.dm
Labels: none

Remove unnecessary trait_types() proc
  code/datums/traits/traits.dm
  code/unit_tests/trait_tests.dm
Labels: none

Utilize mob/species traits
  code/datums/traits/boons/cast_iron_stomach.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Ethanol.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food.dm
  code/modules/species/station/golem.dm
  code/modules/species/station/lizard.dm
  code/modules/species/station/monkey.dm
  code/modules/species/station/prometheans.dm
  code/modules/species/station/station.dm
Labels: none

Adjust comments to be VSCode-friendly
  code/datums/traits/traits.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/species/species.dm
Labels: none

Prevent inappropriate use of internal movement vars
  code/datums/movement/atom_movable.dm
  code/datums/movement/mob.dm
  code/datums/movement/movement.dm
  code/datums/movement/robot.dm
Labels: none

Fixes issues with GAS climbing instead of flying sometimes
  code/modules/multiz/movement.dm
Labels: none

fix exoplanet animals eating themselves when they die
  code/modules/mob/living/simple_animal/hostile/retaliate/exoplanet.dm
Labels: none

Automatic changelog generation for PR #32523 [ci skip]
  html/changelogs/AutoChangeLog-pr-32523.yml
Labels: none

reduces BSD's power draw
  code/game/machinery/bluespace_drive.dm
Labels: none

Automatic changelog generation for PR #32524 [ci skip]
  html/changelogs/AutoChangeLog-pr-32524.yml
Labels: none

upgrade the maintenance jack to a two-handed item
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/braces.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/research/designs/designs_tool.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/tools.dmi
  maps/away/scavver/scavver_gantry-1.dmm
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dmm
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/torch/structures/closets/engineering.dm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map, Sprites

update world topic to be modular and jsony
  code/game/world.dm
Labels: none

fix sfv arbiter access, add syndicate ids
  maps/event/sfv_arbiter/sfv_arbiter.dm
  maps/event/sfv_arbiter/sfv_arbiter.dmm
Labels: Map

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32523.yml
  html/changelogs/AutoChangeLog-pr-32524.yml
Labels: none

removes all no-smoking signs
  code/game/objects/structures/signs.dm
  maps/antag_spawn/heist/heist_base.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/derelict/derelict-station.dmm
  maps/event/sfv_arbiter/sfv_arbiter.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Automatic changelog generation for PR #32522 [ci skip]
  html/changelogs/AutoChangeLog-pr-32522.yml
Labels: none

Updated voxQOL changes
  maps/away/voxship/voxship-2.dmm
Labels: Map

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32522.yml
Labels: none

Purge formal name suffixes and prefixes
  code/datums/uplink/services.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/cards_ids_syndicate.dm
  code/modules/culture_descriptor/_culture.dm
  code/modules/culture_descriptor/culture/cultures_serpentid.dm
  code/modules/modular_computers/file_system/manifest.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
Labels: none

Move flash logic to `do_flash()`
  code/game/objects/items/devices/flash.dm
Labels: none

Use flash effects for stun talismans
  code/game/gamemodes/cult/talisman/stun.dm
Labels: none

Automatic changelog generation for PR #32505 [ci skip]
  html/changelogs/AutoChangeLog-pr-32505.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32505.yml
Labels: none

жабий апдейт (#224)
  baystation12.dme
  code/modules/organs/internal/species/skrell.dm
  proxima/code/modules/sprite_accessories/accessory_skrell.dm
  proxima/icons/mob/human_races/species/skrell/eyes.dmi
  proxima/icons/mob/human_races/species/skrell/hair.dmi
Labels: Sprites

Automatic changelog generation for PR #224 [ci skip]
  html/changelogs/AutoChangeLog-pr-224.yml
Labels: none

adds exactly one hair
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Sprites

adds skrell emotes and speech sounds
  baystation12.dme
  code/modules/emotes/definitions/audible.dm
  code/modules/emotes/skrell.dm
  code/modules/species/station/station.dm
  sound/skrell/anger1.ogg
  sound/skrell/anger2.ogg
  sound/skrell/credit.txt
  sound/skrell/laughter1.ogg
  sound/skrell/peep1.ogg
  sound/skrell/trill1.ogg
  sound/skrell/trill2.ogg
  sound/skrell/warble1.ogg
  sound/skrell/warble2.ogg
  sound/skrell/warble3.ogg
Labels: Sound

Automatic changelog generation for PR #32534 [ci skip]
  html/changelogs/AutoChangeLog-pr-32534.yml
Labels: none

Revamped Barsigns 2.0
  code/game/objects/structures/barsign.dm
  icons/obj/barsigns.dmi
Labels: Sprites

Minimoog Multidirectional Madness
  code/modules/synthesized_instruments/real_instruments/Synthesizer/synthesizer.dm
  icons/obj/musician.dmi
  maps/torch/torch2_deck4.dmm
Labels: Map, Sprites

Minimoog Multidirectional Madness
  code/modules/synthesized_instruments/real_instruments/Synthesizer/synthesizer.dm
  icons/obj/musician.dmi
Labels: Sprites

REVAMPED BARSIGNS FOR REAL NOW
  code/game/objects/structures/barsign.dm
  icons/obj/barsigns.dmi
Labels: Sprites

4-WAY MOOG FOR REAL
  code/modules/synthesized_instruments/real_instruments/Synthesizer/synthesizer.dm
  icons/obj/musician.dmi
Labels: Sprites

Automatic changelog generation for PR #32487 [ci skip]
  html/changelogs/AutoChangeLog-pr-32487.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-224.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32487.yml
  html/changelogs/AutoChangeLog-pr-32534.yml
Labels: none

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*
