Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*

Runtime batch fix 2023-01-06
  code/datums/wires/apc.dm
  code/game/objects/items/devices/radio/electropack.dm
  code/modules/mob/living/carbon/human/descriptors/_descriptors.dm
  code/modules/multiz/movement.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/internal/stomach.dm
  code/modules/reagents/reagent_dispenser.dm
Labels: none

Move `get_random_edge_turfs()` to globals
  code/_helpers/turfs.dm
  code/modules/events/carp_migration.dm
Labels: none

Add mob_spawning event subtype
  baystation12.dme
  code/modules/events/mob_spawning/_mob_spawning.dm
Labels: none

Transfer carp to mob_spawning subtype
  baystation12.dme
  code/modules/events/carp_migration.dm
  code/modules/events/event_container.dm
  code/modules/events/event_dynamic.dm
  code/modules/events/mob_spawning/carp.dm
  code/modules/overmap/events/event.dm
Labels: none

Transfer rogue drones to mob_spawning subtype
  baystation12.dme
  code/modules/events/event_container.dm
  code/modules/events/event_dynamic.dm
  code/modules/events/mob_spawning/rogue_drones.dm
  code/modules/events/rogue_drones.dm
Labels: none

Transfer whales to mob_spawning subtype
  baystation12.dme
  code/modules/events/event_container.dm
  code/modules/events/mob_spawning/whale.dm
  code/modules/events/whale_migration.dm
Labels: none

gives the telebaton sprites, changes desc, more verbs
  code/game/objects/items/weapons/swords_axes_etc.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons/melee_physical.dmi
Labels: Sprites

automatic lights (test)
  code/game/machinery/lightswitch.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
Labels: none

Pipe leak and stasis clamp changes
  code/game/machinery/atmoalter/clamp.dm
  code/modules/atmospherics/pipes.dm
Labels: none

dreamchecker fixes
  code/game/machinery/lightswitch.dm
Labels: none

Automatic changelog generation for PR #32875 [ci skip]
  html/changelogs/AutoChangeLog-pr-32875.yml
Labels: none

Automatic changelog generation for PR #32887 [ci skip]
  html/changelogs/AutoChangeLog-pr-32887.yml
Labels: none

Add debug logs to `explosion_rec()`
  code/game/objects/explosion_recursive.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32875.yml
  html/changelogs/AutoChangeLog-pr-32887.yml
Labels: none

debug_real_globals functions properly
  code/modules/admin/buildmode/edit.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/admin/view_variables/helpers.dm
  code/modules/admin/view_variables/view_variables_global.dm
Labels: none

move edit real globals to MC tab
  code/modules/admin/admin_verbs.dm
  code/modules/admin/view_variables/view_variables_global.dm
  code/modules/mob/mob.dm
Labels: none

remove /tmp/ from current vars
  code/controllers/subsystems/airflow.dm
  code/datums/datum.dm
  code/datums/weakref.dm
  code/game/machinery/cracker.dm
  code/game/objects/effects/overlays.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_ao.dm
  code/modules/ZAS/Airflow.dm
  code/modules/ZAS/ConnectionManager.dm
  code/modules/ZAS/Debug.dm
  code/modules/goonchat/browserOutput.dm
  code/modules/lighting/lighting_source.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/mob/living/carbon/alien/diona/_nymph.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/_gestalt.dm
  code/modules/multiz/zmimic/mimic_movable.dm
  code/modules/multiz/zmimic/mimic_turf.dm
  code/modules/organs/external/wounds/wound.dm
  code/modules/organs/internal/eyes.dm
  code/modules/organs/internal/heart.dm
  code/modules/projectiles/gun.dm
  code/modules/turbolift/turbolift.dm
Labels: none

add no tmp/ vars test
  test/check-paths.sh
Labels: Repo

only generate dmdoc when dm changes
  .github/workflows/generate_documentation.yml
Labels: Repo

generate docs self cancels
  .github/workflows/generate_documentation.yml
Labels: Repo

Automatic changelog generation for PR #32876 [ci skip]
  html/changelogs/AutoChangeLog-pr-32876.yml
Labels: none

Automatic changelog generation [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32876.yml
Labels: none

Automatic changelog generation for PR #32886 [ci skip]
  html/changelogs/AutoChangeLog-pr-32886.yml
Labels: none

Add inhands to the rat
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
Labels: Sprites

Add nymph pet option
  code/modules/client/preference_setup/loadout/lists/pet.dm
Labels: none

Shotgun Rebalanced & Rebranded: Electric Boogaloo
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: none

New() should call parent
  code/game/atoms.dm
Labels: none

Resolve New() not calling parent
  code/game/gamemodes/events/black_hole.dm
  code/game/machinery/kitchen/icecream.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/effects/manifest.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/multiz/zmimic/mimic_movable.dm
  code/modules/overmap/spacetravel.dm
  code/modules/paperwork/photography.dm
  code/modules/psionics/interface/ui.dm
  code/modules/random_map/dungeon/deepmaint.dm
  code/modules/random_map/dungeon/jp_dungeon_gen.dm
  code/modules/spells/hand/hand_item.dm
  code/modules/xenoarcheaology/finds/fossils.dm
  code/modules/xenoarcheaology/sampling.dm
Labels: none

Automatic changelog generation [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32886.yml
Labels: none

Check for ai_holder before using during rejuvenate
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: none

Error handle and debug log invalid jobs in department paging
  code/modules/research/message_server.dm
Labels: none

Handle missing limbs in acrobatics multiplier
  code/modules/mob/living/carbon/human/human_maneuvers.dm
Labels: none

Remove broken summon bear spell
  code/modules/spells/aoe_turf/conjure/druidic_spells.dm
  code/modules/spells/spellbook/druid.dm
Labels: none

Remove unused commanded mob files
  baystation12.dme
  code/modules/mob/living/simple_animal/hostile/commanded/_command_defines.dm
  code/modules/mob/living/simple_animal/hostile/commanded/bear_companion.dm
  code/modules/mob/living/simple_animal/hostile/commanded/commanded.dm
  code/modules/mob/living/simple_animal/hostile/commanded/nanomachines.dm
  test/check-paths.sh
Labels: Repo

Add deletion event handler to attached accessories
  code/modules/clothing/clothing_accessories.dm
Labels: none

да я ж блядь исправил конфликт в этом файле
  code/modules/admin/admin_verbs.dm
Labels: none

Drop instead of deleting equipment when zombified
  code/modules/species/outsider/zombie.dm
Labels: none

no more reload
  code/modules/projectiles/guns/energy.dm
  sound/weapons/guns/interaction/energy_magin.ogg
  sound/weapons/guns/interaction/energy_magout.ogg
Labels: Sound

Fix damage message conditions
  code/game/machinery/doors/door.dm
  code/game/objects/structures/window.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
Labels: none

Fix attack_generic not passing damage flags to damage_health
  code/_onclick/other_mobs.dm
Labels: none
