Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

fix silencer attaching
  code/modules/projectiles/guns/projectile/pistol.dm
Labels: none

Remove holding checks for silencer attachment
  code/modules/projectiles/guns/projectile/pistol.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation for PR #32734 [ci skip]
  html/changelogs/AutoChangeLog-pr-32734.yml
Labels: none

Automatic changelog generation for PR #32715 [ci skip]
  html/changelogs/AutoChangeLog-pr-32715.yml
Labels: none

roundstart audio is optional & supports pick lists
  code/controllers/subsystems/ticker.dm
  maps/mapsystem/maps.dm
Labels: none

corrected lobby notify, torch roundstart is silent
  code/controllers/master.dm
  maps/torch/torch_define.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32715.yml
  html/changelogs/AutoChangeLog-pr-32734.yml
Labels: none

Automatic changelog generation for PR #32731 [ci skip]
  html/changelogs/AutoChangeLog-pr-32731.yml
Labels: none

New sprites for xenobio
  code/modules/mob/living/carbon/xenobiological/items.dm
  icons/obj/chemical.dmi
Labels: Sprites

Automatic changelog generation for PR #32735 [ci skip]
  html/changelogs/AutoChangeLog-pr-32735.yml
Labels: none

Minor cleanup to force-equipping clothing
  code/game/objects/items.dm
  code/modules/clothing/_clothing.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: none

cracker unit and doppler are now printable
  code/game/objects/items/weapons/circuitboards/machinery/research.dm
  code/modules/research/designs/designs_circuits.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32731.yml
  html/changelogs/AutoChangeLog-pr-32735.yml
Labels: none

Add defines for `/atom/var/level`
  code/__defines/misc.dm
  code/game/atoms.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/pipe/construction.dm
  code/game/machinery/teleporter/beacon.dm
  code/game/objects/items/devices/t_scanner.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/objs.dm
  code/game/objects/structures/safe.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/turf.dm
  code/modules/alarm/alarm.dm
  code/modules/atmospherics/atmospherics.dm
  code/modules/atmospherics/components/binary_devices/oxyregenerator.dm
  code/modules/atmospherics/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/components/binary_devices/pump.dm
  code/modules/atmospherics/components/binary_devices/volume_pump.dm
  code/modules/atmospherics/components/omni_devices/omni_base.dm
  code/modules/atmospherics/components/pipesparker.dm
  code/modules/atmospherics/components/portables_connector.dm
  code/modules/atmospherics/components/shutoff.dm
  code/modules/atmospherics/components/tvalve.dm
  code/modules/atmospherics/components/unary/heat_exchanger.dm
  code/modules/atmospherics/components/unary/outlet_injector.dm
  code/modules/atmospherics/components/unary/tank.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/atmospherics/components/unary/vent_scrubber.dm
  code/modules/atmospherics/components/valve.dm
  code/modules/atmospherics/he_pipes.dm
  code/modules/atmospherics/pipes.dm
  code/modules/multiz/pipes.dm
  code/modules/power/cable_structure.dm
  code/modules/power/sensors/powernet_sensor.dm
  code/modules/power/singularity/act.dm
  code/modules/power/terminal.dm
  code/modules/recycling/disposal-construction.dm
  code/modules/recycling/disposalpipe.dm
  code/modules/shield_generators/floor_diffuser.dm
Labels: none

Add `ATOM_FLOURESCENCE` defines
  code/__defines/misc.dm
  code/game/atoms.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/items.dm
  code/modules/detectivework/tools/uvlight.dm
  code/modules/organs/blood.dm
Labels: none

Remove unused parameter from `HasProximity()` calls
  code/game/turfs/turf.dm
Labels: none

Remove unused procs
  code/modules/ZAS/Fire.dm
Labels: none

Automatic changelog generation for PR #32737 [ci skip]
  html/changelogs/AutoChangeLog-pr-32737.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32737.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Lethal shots in to heart can now KO
  code/modules/organs/internal/heart.dm
Labels: none

FAD
  baystation12.dme
  code/modules/culture_descriptor/faction/factions_human.dm
  code/modules/mob/mob_movement.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
  customs/code/dude.dm
  customs/code/krabinator.dm
  customs/config/dude.json
  customs/config/krabinator-rev.json
  customs/icons/mob/custom_items_mob.dmi
  customs/icons/obj/custom_items_obj.dmi
  maps/torch/torch6_bridge.dmm
  maps/torch/z1_admin.dmm
  proxima/icons/mob/onmob/lefthand.dmi
  proxima/icons/mob/onmob/righthand.dmi
Labels: Map, Sprites

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

added initial abstract pool behavior
  baystation12.dme
  code/datums/singletons/pools/instance_configurator.dm
  code/datums/singletons/pools/instance_configurator_auto.dm
  code/datums/singletons/pools/instance_pool.dm
  code/datums/singletons/pools/pool_behavior.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Berets can now be put on the belt slot
  code/modules/clothing/head/jobs.dm
Labels: none

Berets can now be stored on the belt
  code/modules/clothing/head/jobs.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

sdfsdf
  code/controllers/subsystems/initialization/misc_early.dm
  code/controllers/subsystems/jobs.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/silicon/robot/modules/module_illegal.dm
  code/modules/mob/skills/skill.dm
  code/modules/mob/skills/skill_ui.dm
  code/modules/mob/skills/skill_verbs.dm
  code/modules/mob/skills/skillset.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
  code/modules/species/outsider/zombie.dm
Labels: none

sdfsfd
  code/modules/client/preference_setup/occupation/skill_selection.dm
Labels: none

dsfsdf
  code/__defines/skills.dm
  code/datums/uplink/services.dm
  code/modules/client/preference_setup/occupation/skill_selection.dm
  code/modules/mob/skills/skill.dm
  code/modules/mob/skills/skill_ui.dm
  code/modules/mob/skills/skill_verbs.dm
  code/modules/mob/skills/skillset.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
Labels: none

dfgdfgf
  code/game/jobs/job/job.dm
  code/game/machinery/_machines_base/machinery.dm
  code/game/objects/items/stacks/stack.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/client/preference_setup/occupation/skill_selection.dm
  code/modules/codex/categories/category_skills.dm
  code/modules/mob/skills/skill_ui.dm
Labels: none

sdfsfd
  code/__defines/skills.dm
  code/modules/mob/skills/_skill.dm
  code/modules/mob/skills/skills/anatomy.dm
  code/modules/mob/skills/skills/atmos.dm
  code/modules/mob/skills/skills/botany.dm
  code/modules/mob/skills/skills/bureaucracy.dm
  code/modules/mob/skills/skills/chemistry.dm
  code/modules/mob/skills/skills/combat.dm
  code/modules/mob/skills/skills/computer.dm
  code/modules/mob/skills/skills/construction.dm
  code/modules/mob/skills/skills/cooking.dm
  code/modules/mob/skills/skills/devices.dm
  code/modules/mob/skills/skills/electrical.dm
  code/modules/mob/skills/skills/engines.dm
  code/modules/mob/skills/skills/eva.dm
  code/modules/mob/skills/skills/finance.dm
  code/modules/mob/skills/skills/forensics.dm
  code/modules/mob/skills/skills/hauling.dm
  code/modules/mob/skills/skills/mecha.dm
  code/modules/mob/skills/skills/medical.dm
  code/modules/mob/skills/skills/pilot.dm
  code/modules/mob/skills/skills/science.dm
  code/modules/mob/skills/skills/weapons.dm
Labels: none

use regex for trim, improves file reading behavior
  baystation12.dme
  code/_global_vars/lists/names.dm
  code/_helpers/files.dm
  code/_helpers/text.dm
  code/_helpers/type2type.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/mapping.dm
  code/datums/helper_datums/getrev.dm
  code/game/jobs/whitelist.dm
  code/game/world.dm
  code/modules/admin/admin_ranks.dm
  test/check-paths.sh
Labels: Repo

Mouthful Update
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/organs/internal/stomach.dm
Labels: none

move vending machine def to own dir
  baystation12.dme
  code/game/machinery/vending/_vending.dm
Labels: none

split out vending machines to their own files
  baystation12.dme
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/adherent.dm
  code/game/machinery/vending/antag.dm
  code/game/machinery/vending/boda.dm
  code/game/machinery/vending/boozeomat.dm
  code/game/machinery/vending/cigarette.dm
  code/game/machinery/vending/coffee.dm
  code/game/machinery/vending/cola.dm
  code/game/machinery/vending/containers.dm
  code/game/machinery/vending/dinnerware.dm
  code/game/machinery/vending/engineering.dm
  code/game/machinery/vending/engivend.dm
  code/game/machinery/vending/fashion.dm
  code/game/machinery/vending/fitness.dm
  code/game/machinery/vending/games.dm
  code/game/machinery/vending/generic.dm
  code/game/machinery/vending/hotfood.dm
  code/game/machinery/vending/hydronutrients.dm
  code/game/machinery/vending/hydroseeds.dm
  code/game/machinery/vending/lavatory.dm
  code/game/machinery/vending/medical.dm
  code/game/machinery/vending/mre.dm
  code/game/machinery/vending/phoron.dm
  code/game/machinery/vending/props.dm
  code/game/machinery/vending/robotics.dm
  code/game/machinery/vending/security.dm
  code/game/machinery/vending/snack.dm
  code/game/machinery/vending/snix.dm
  code/game/machinery/vending/soda.dm
  code/game/machinery/vending/sol.dm
  code/game/machinery/vending/tool.dm
  code/game/machinery/vending/wallmed1.dm
  code/game/machinery/vending/wallmed2.dm
  code/game/machinery/vending/weeb.dm
  code/game/machinery/vending/wizard.dm
Labels: none

vendor implementations style cleanup pass
  code/game/machinery/vending/adherent.dm
  code/game/machinery/vending/antag.dm
  code/game/machinery/vending/boda.dm
  code/game/machinery/vending/boozeomat.dm
  code/game/machinery/vending/cigarette.dm
  code/game/machinery/vending/coffee.dm
  code/game/machinery/vending/cola.dm
  code/game/machinery/vending/containers.dm
  code/game/machinery/vending/dinnerware.dm
  code/game/machinery/vending/engineering.dm
  code/game/machinery/vending/engivend.dm
  code/game/machinery/vending/fashion.dm
  code/game/machinery/vending/fitness.dm
  code/game/machinery/vending/games.dm
  code/game/machinery/vending/generic.dm
  code/game/machinery/vending/hotfood.dm
  code/game/machinery/vending/hydronutrients.dm
  code/game/machinery/vending/hydroseeds.dm
  code/game/machinery/vending/lavatory.dm
  code/game/machinery/vending/medical.dm
  code/game/machinery/vending/mre.dm
  code/game/machinery/vending/phoron.dm
  code/game/machinery/vending/props.dm
  code/game/machinery/vending/robotics.dm
  code/game/machinery/vending/security.dm
  code/game/machinery/vending/snack.dm
  code/game/machinery/vending/snix.dm
  code/game/machinery/vending/soda.dm
  code/game/machinery/vending/sol.dm
  code/game/machinery/vending/tool.dm
  code/game/machinery/vending/wallmed1.dm
  code/game/machinery/vending/wallmed2.dm
  code/game/machinery/vending/weeb.dm
  code/game/machinery/vending/wizard.dm
Labels: none

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*
