Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*

Fix stun effect passing weapons as flags
  code/modules/mob/living/living_defense.dm
Labels: none

Use constants for build stage values
  code/game/machinery/alarm.dm
  code/game/machinery/nuclear_bomb.dm
Labels: none

Replace machinery attackby overrides with use_*
  code/game/machinery/CableLayer.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/_machines_base/machinery_components.dm
  code/game/machinery/alarm.dm
  code/game/machinery/barrier.dm
  code/game/machinery/biogenerator.dm
  code/game/machinery/bioprinter.dm
  code/game/machinery/bluespace_drive.dm
  code/game/machinery/bodyscanner.dm
  code/game/machinery/buttons.dm
  code/game/machinery/cell_charger.dm
  code/game/machinery/cracker.dm
  code/game/machinery/cryo.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/doppler_array.dm
  code/game/machinery/flasher.dm
  code/game/machinery/floor_light.dm
  code/game/machinery/floorlayer.dm
  code/game/machinery/igniter.dm
  code/game/machinery/jukebox.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/nuclear_bomb.dm
  code/game/machinery/nuke_cylinder_dispenser.dm
  code/game/machinery/oxygen_pump.dm
  code/game/machinery/pager.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/recharger.dm
  code/game/machinery/requests_console.dm
Labels: none

AI HUD
  baystation12.dme
  code/__defines/misc.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ai.dm
  code/_onclick/hud/ai_screen_objects.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/observer/freelook/chunk.dm
  icons/mob/screen_ai.dmi
Labels: Sprites

emote sound update
  code/modules/emotes/definitions/audible.dm
  code/modules/emotes/emote_define.dm
Labels: none

UI fixes
  code/modules/client/client_procs.dm
Labels: none

Map_fixes
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra-4.dmm
Labels: Map

Ух ты перевод (#245)
  code/__defines/culture.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/culture_descriptor/culture/cultures_human.dm
  code/modules/culture_descriptor/faction/factions_human.dm
  code/modules/culture_descriptor/faction/factions_ipc.dm
  code/modules/culture_descriptor/faction/factions_skrell.dm
  code/modules/culture_descriptor/faction/factions_unathi.dm
  code/modules/culture_descriptor/faction/factions_vox.dm
  code/modules/culture_descriptor/location/locations_adherent.dm
  code/modules/culture_descriptor/location/locations_diona.dm
  code/modules/culture_descriptor/location/locations_human.dm
  code/modules/culture_descriptor/location/locations_ipc.dm
  code/modules/culture_descriptor/location/locations_other.dm
  code/modules/culture_descriptor/location/locations_serpentids.dm
  code/modules/culture_descriptor/location/locations_skrell.dm
  code/modules/culture_descriptor/location/locations_unathi.dm
  code/modules/culture_descriptor/location/locations_vox.dm
  code/modules/culture_descriptor/religion/religions_human.dm
  code/modules/culture_descriptor/religion/religions_skrell.dm
  code/modules/culture_descriptor/religion/religions_unathi.dm
  code/modules/culture_descriptor/religion/religions_vox.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/misc_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/supply_jobs.dm
  maps/~mapsystem/maps.dm
Labels: none

Емодзи (#244)
  code/modules/emoji/emoji_parse.dm
  icons/emoji.dmi
Labels: Sprites

Перевод или ошибка? [Исправь это - эдишен] (#243)
  baystation12.dme
  code/__defines/culture.dm
  code/game/objects/random/random.dm
  code/modules/client/preferences_spawnpoints.dm
  code/modules/clothing/under/accessories/stethoscope.dm
  code/modules/culture_descriptor/culture/cultures_adherent.dm
  code/modules/culture_descriptor/culture/cultures_diona.dm
  code/modules/culture_descriptor/culture/cultures_ipc.dm
  code/modules/culture_descriptor/culture/cultures_serpentid.dm
  code/modules/culture_descriptor/culture/cultures_skrell.dm
  code/modules/culture_descriptor/culture/cultures_unathi.dm
  code/modules/culture_descriptor/culture/cultures_vox.dm
  code/modules/emoji/emoji_parse.dm
  code/modules/species/shell/shell.dm
  code/modules/species/station/machine.dm
  proxima/code/game/objects/items/toys.dm
  proxima/code/modules/silicon/ai/ai.dm
  proxima/icons/obj/toys.dmi
  sound/AI/a-newAI.ogg
  sound/AI/newAI.ogg
Labels: Sprites, Sound

Species-based footwear footprints
  code/modules/species/species.dm
  code/modules/species/station/lizard.dm
Labels: none

Automatic changelog generation for PR #32931 [ci skip]
  html/changelogs/AutoChangeLog-pr-32931.yml
Labels: none

Automatic changelog generation for PR #32938 [ci skip]
  html/changelogs/AutoChangeLog-pr-32938.yml
Labels: none

Automatic changelog generation [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32931.yml
  html/changelogs/AutoChangeLog-pr-32938.yml
Labels: none

Add a light to the kitchen counter
  maps/torch/torch3_deck3.dmm
Labels: Map

Fix item on mob interactions
  code/_onclick/item_attack.dm
Labels: none

Automatic changelog generation for PR #32957 [ci skip]
  html/changelogs/AutoChangeLog-pr-32957.yml
Labels: none

Automatic changelog generation [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32957.yml
Labels: none

crewrecords fixes
  nano/templates/crew_records.tmpl
Labels: none

records background
  code/modules/modular_computers/file_system/reports/crew_record.dm
  icons/obj/mugshot.dmi
Labels: Sprites
