Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*

you should fix your conflicts.... NOW
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
Labels: Sprites

Revert "Merge pull request #32322 from Spookerton/spkrtn/cng/bugmeat"
  maps/torch/torch3_deck3.dmm
Labels: Map

fix the special attacks of drake, shark, vagrant
  code/modules/mob/living/simple_animal/hostile/drake.dm
  code/modules/mob/living/simple_animal/hostile/space_shark.dm
  code/modules/mob/living/simple_animal/hostile/vagrant.dm
Labels: none

Automatic changelog generation for PR #32353 [ci skip]
  html/changelogs/AutoChangeLog-pr-32353.yml
Labels: none

Adds a check for cavity openness
  code/modules/mob/mob.dm
Labels: none

add discord button to the skin
  code/modules/client/darkmode.dm
  interface/interface.dm
  interface/skin.dmf
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32353.yml
  html/changelogs/AutoChangeLog-pr-32361.yml
  html/changelogs/AutoChangeLog-pr-32362.yml
  html/changelogs/AutoChangeLog-pr-32364.yml
Labels: none

Add bugmeat to standard meat freezers
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
Labels: none

Automatic changelog generation for PR #32332 [ci skip]
  html/changelogs/AutoChangeLog-pr-32332.yml
Labels: none

Automatic changelog generation for PR #32369 [ci skip]
  html/changelogs/AutoChangeLog-pr-32369.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32332.yml
  html/changelogs/AutoChangeLog-pr-32369.yml
Labels: none

Add lava_act to standardized health
  code/game/atoms_health.dm
Labels: none

adds radiation fak
  baystation12.dme
  code/datums/supplypacks/medical.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/med_pouch.dm
  code/game/objects/items/weapons/storage/pill_bottle.dm
  code/game/objects/random/random.dm
  code/modules/random_map/drop/drop_types.dm
  icons/obj/med_pouch.dmi
  icons/obj/medical.dmi
  icons/obj/medical_kits.dmi
  icons/obj/mediwall.dmi
  icons/obj/storage.dmi
  maps/antag_spawn/ert/ert_base.dmm
  maps/antag_spawn/heist/heist_base.dmm
  maps/antag_spawn/ninja/ninja_base.dmm
  maps/antag_spawn/vox/vox_raider.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map, Sprites

Automatic changelog generation for PR #32370 [ci skip]
  html/changelogs/AutoChangeLog-pr-32370.yml
Labels: none

Automatic changelog generation for PR #32368 [ci skip]
  html/changelogs/AutoChangeLog-pr-32368.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32368.yml
  html/changelogs/AutoChangeLog-pr-32370.yml
Labels: none

Restrict hangar access to roles that normally use shuttles
  maps/torch/job/command_jobs.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
Labels: none

Restrict maintenance tunnel access to engineers
  maps/torch/job/command_jobs.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: none

Update issue template to github forms
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/config.yml
Labels: Repo

Give off-ships spacer for team building
  code/modules/submaps/submap_job.dm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/torch/job/misc_jobs.dm
  maps/torch/torch_ranks.dm
  maps/torch/torch_submaps.dm
Labels: none

Delete the other old issue template file
  .github/ISSUE_TEMPLATE.md
Labels: Repo

Fix bug template yaml error
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: Repo

Update SECURITY.md
  docs/SECURITY.md
Labels: Repo

make both vox and skrell ship spawn guaranteed
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/voxship/voxship.dm
Labels: none

Add telecomms to ICGNV Hound
  code/__defines/colors.dm
  maps/event/iccgn_ship/icgnv_hound.dm
  maps/event/iccgn_ship/icgnv_hound.dmm
  maps/event/iccgn_ship/icgnv_hound_radio.dm
Labels: Map

Block shield generator nanoui with open panels
  code/modules/shield_generators/shield_generator.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation for PR #32385 [ci skip]
  html/changelogs/AutoChangeLog-pr-32385.yml
Labels: none

Новый язык для планеты "Лорриман" - Лирис! (#215)
  baystation12.dme
  code/__defines/languages.dm
  code/modules/culture_descriptor/location/locations_human.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/mob/language/human/arabic.dm
  code/modules/mob/language/human/chinese.dm
  code/modules/mob/language/human/euro.dm
  code/modules/mob/language/human/indian.dm
  code/modules/mob/language/human/lirris.dm
  code/modules/mob/language/human/misc/gutter.dm
  code/modules/mob/language/human/misc/spacer.dm
  code/modules/mob/language/human/russian.dm
  code/modules/mob/language/human/selenian.dm
  code/modules/mob/language/human/spanish.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/software_modules.dm
  code/modules/mob/living/silicon/robot/modules/_module.dm
  code/stylesheet.dm
Labels: none

Automatic changelog generation for PR #215 [ci skip]
  html/changelogs/AutoChangeLog-pr-215.yml
Labels: none

Remove unused mob afterattack proc
  code/modules/mob/living/carbon/human/human_attackhand.dm
Labels: none

Apply ranks to uniform vendor uniforms
  maps/torch/items/uniform_vendor.dm
Labels: none

Fix voter rights check
  code/datums/vote/vote.dm
Labels: none

Document attack and click procs
  code/_onclick/ai.dm
  code/_onclick/click.dm
  code/_onclick/ghost.dm
  code/_onclick/item_attack.dm
  code/_onclick/other_mobs.dm
Labels: none

reviews
  code/__defines/ZAS.dm
  code/modules/ZAS/Turf.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-215.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32385.yml
Labels: none

add allinone tcomms to icgnv hound
  code/__defines/colors.dm
  code/controllers/communications.dm
  maps/event/iccgn_ship/icgnv_hound.dmm
  maps/event/iccgn_ship/icgnv_hound_shuttle.dm
Labels: Map

Add distress signals
  baystation12.dme
  code/game/machinery/distress_beacon.dm
  icons/obj/computer.dmi
  icons/obj/tmp.dmi
Labels: Sprites

Fixes broken onmob sprite for the alt medical uniform
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/onmob/onmob_under.dmi
  icons/obj/clothing/obj_under.dmi
Labels: Sprites
