Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

saws the shotgun
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
Labels: Sprites

adds a random pill
  code/datums/uplink/medical.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: none

Дополнение
  baystation12.dme
  code/datums/supplypacks/security.dm
  code/game/gamemodes/objective.dm
  icons/mob/onmob/onmob_modular_armor.dmi
  icons/obj/card.dmi
  icons/obj/clothing/obj_suit_modular_armor.dmi
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/structures/closets/command.dm
  maps/torch/torch5_deck1.dmm
  proxima/code/modules/clothing/suits/armor.dm
  proxima/code/modules/clothing/under/accessories/armor_tag.dm
Labels: Map, Sprites

Изменения в доступности значков пилота
  maps/torch/loadout/loadout_accessories.dm
Labels: none

White/Medical Hazard Vests
  code/modules/clothing/suits/jobs.dm
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: Sprites

Automatic changelog generation
  html/changelog.html
Labels: none

Изменение названия полевой униформы ЭК
  maps/torch/items/clothing/solgov-under.dm
Labels: none

Automatic changelog generation for PR #228 [ci skip]
  html/changelogs/AutoChangeLog-pr-228.yml
Labels: none

Blackness plane is no longer black
  code/__defines/_renderer.dm
Labels: none

Runtime batch fix 2022-10-07
  code/game/movietitles.dm
  code/modules/xenoarcheaology/tools/artifact_harvester.dm
Labels: none

Tweak & fix welding pack interactions
  code/game/objects/items/weapons/weldbackpack.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-228.yml
Labels: none

Convert 'user lacking prefs' message to runtime
  code/modules/client/preference_setup/global/05_settings.dm
Labels: none

Move client connect chat calls to deferred login
  code/modules/client/client_procs.dm
  code/modules/mob/new_player/login.dm
Labels: none

Replace client connect fail messages with legacy chat
  code/modules/client/client_procs.dm
Labels: none

Add client join and disconnect logs
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/global/preferences.dm
Labels: none

Fix extinguishers not working on airless tiles
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Command backpacks for uniformed support
  maps/torch/job/outfits/command_outfits.dm
Labels: none

mobs must be living to get verb typing indicators
  code/controllers/subsystems/typing.dm
Labels: none

Automatic changelog generation for PR #32618 [ci skip]
  html/changelogs/AutoChangeLog-pr-32618.yml
Labels: none

Add compact smart revolver
  code/modules/projectiles/guns/energy/secure.dm
  icons/obj/guns/small_energy_revolver.dmi
Labels: Sprites

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32618.yml
Labels: none

Prevented players from being decapitated when wearing a voidsuit with a deployed helmet
  code/modules/clothing/spacesuits/void/void.dm
Labels: none

make anomaly containers machinery
  code/datums/supplypacks/science.dm
  code/game/objects/items/weapons/circuitboards/machinery/research.dm
  code/modules/research/designs/designs_circuits.dm
  code/modules/xenoarcheaology/anomaly_container.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
  icons/obj/xenoarchaeology.dmi
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/random_ruins/exoplanet_ruins/deserted_lab/deserted_lab.dmm
  maps/random_ruins/exoplanet_ruins/icarus/icarus.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/torch/torch1_deck5.dmm
Labels: Map, Sprites

Automatic changelog generation for PR #32629 [ci skip]
  html/changelogs/AutoChangeLog-pr-32629.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32629.yml
Labels: none

Automatic changelog generation for PR #32575 [ci skip]
  html/changelogs/AutoChangeLog-pr-32575.yml
Labels: none

Automatic changelog generation for PR #32597 [ci skip]
  html/changelogs/AutoChangeLog-pr-32597.yml
Labels: none

Automatic changelog generation for PR #32611 [ci skip]
  html/changelogs/AutoChangeLog-pr-32611.yml
Labels: none

Automatic changelog generation for PR #32616 [ci skip]
  html/changelogs/AutoChangeLog-pr-32616.yml
Labels: none

Automatic changelog generation for PR #32622 [ci skip]
  html/changelogs/AutoChangeLog-pr-32622.yml
Labels: none

Automatic changelog generation for PR #32625 [ci skip]
  html/changelogs/AutoChangeLog-pr-32625.yml
Labels: none

Automatic changelog generation for PR #32627 [ci skip]
  html/changelogs/AutoChangeLog-pr-32627.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32575.yml
  html/changelogs/AutoChangeLog-pr-32597.yml
  html/changelogs/AutoChangeLog-pr-32611.yml
  html/changelogs/AutoChangeLog-pr-32616.yml
  html/changelogs/AutoChangeLog-pr-32622.yml
  html/changelogs/AutoChangeLog-pr-32625.yml
  html/changelogs/AutoChangeLog-pr-32627.yml
Labels: none

Round `skill_fail_chance()` result
  code/modules/mob/skills/skillset.dm
Labels: none

Revert "Convert 'user lacking prefs' message to runtime"
  code/modules/client/preference_setup/global/05_settings.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*
