Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*

Fix broken grammar in `attack_generic()`
  code/_onclick/other_mobs.dm
Labels: none

Update shotgun.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: none

Update shotgun.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: none

WIP: Add door opening to attack_generic
  code/game/machinery/doors/door.dm
Labels: none

revert
  baystation12.dme
  code/_helpers/maths.dm
  code/_onclick/adjacent.dm
  code/datums/supplypacks/engineering.dm
  code/datums/wires/inertial_damper.dm
  code/game/area/areas.dm
  code/game/objects/items/weapons/circuitboards/machinery/inertial_damper.dm
  code/modules/events/event.dm
  code/modules/events/inertial_damper.dm
  code/modules/inertial_damper/inertial_damper.dm
  code/modules/overmap/ships/computers/engine_control.dm
  code/modules/overmap/ships/ship.dm
  code/modules/research/designs/designs_circuits.dm
  code/modules/shuttles/shuttle.dm
  icons/obj/machines/inertial_damper.dmi
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra_overmap.dm
  nano/templates/engines_control.tmpl
  nano/templates/inertial_damper.tmpl
Labels: Map, Sprites

Automatic changelog generation [ci skip]
  html/changelog.html
Labels: none

change trainee job descs
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
Labels: none

Automatic changelog generation for PR #32848 [ci skip]
  html/changelogs/AutoChangeLog-pr-32848.yml
Labels: none

Automatic changelog generation [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32848.yml
Labels: none

Automatic changelog generation [ci skip]
  html/changelog.html
Labels: none

Automatic changelog generation for PR #32903 [ci skip]
  html/changelogs/AutoChangeLog-pr-32903.yml
Labels: none

Update loadout_xeno.dm
  maps/torch/loadout/loadout_xeno.dm
Labels: none

Automatic changelog generation for PR #32897 [ci skip]
  html/changelogs/AutoChangeLog-pr-32897.yml
Labels: none

Automatic changelog generation for PR #32900 [ci skip]
  html/changelogs/AutoChangeLog-pr-32900.yml
Labels: none

Give emergency adrenaline autoinjector the intended volume
  code/game/objects/items/weapons/storage/med_pouch.dm
Labels: none

Automatic changelog generation for PR #32908 [ci skip]
  html/changelogs/AutoChangeLog-pr-32908.yml
Labels: none

Automatic changelog generation [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32897.yml
  html/changelogs/AutoChangeLog-pr-32900.yml
  html/changelogs/AutoChangeLog-pr-32903.yml
  html/changelogs/AutoChangeLog-pr-32908.yml
Labels: none

correct adrenaline injectors 2
  code/game/objects/items/weapons/storage/med_pouch.dm
Labels: none

Automatic changelog generation for PR #32909 [ci skip]
  html/changelogs/AutoChangeLog-pr-32909.yml
Labels: none

Automatic changelog generation [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32909.yml
Labels: none

Emergency adrenaline autoinjector cleanup
  code/game/objects/items/weapons/storage/med_pouch.dm
Labels: none

Enforce `uncreated_component_parts` as a lazylist
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/_machines_base/machinery_components.dm
Labels: none

Don't try to shock if there's no mob
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/doors/airlock.dm
Labels: none

Fix crab proc and subtype pathing errors
  code/datums/trading/misc.dm
  code/modules/admin/topic.dm
  code/modules/mob/living/simple_animal/friendly/crab.dm
  code/modules/mob/transform_procs.dm
  code/modules/random_map/noise/tundra.dm
  code/modules/xenoarcheaology/artifacts/autocloner.dm
  maps/antag_spawn/wizard/wizard_base.dmm
  maps/torch/z1_admin.dmm
Labels: Map

Remove redundant and unused vars from crabs
  code/modules/mob/living/simple_animal/friendly/crab.dm
Labels: none

Fix gibbers processing deleted mobs
  code/game/machinery/kitchen/gibber.dm
Labels: none

SSOverlays
  baystation12.dme
  code/__defines/subsystem-priority.dm
  code/__defines/subsystems.dm
  code/controllers/subsystems/overlays.dm
  code/game/machinery/vending/_vending.dm
Labels: none

doors now beeps
  code/game/machinery/doors/airlock.dm
  sound/machines/deniedboop.ogg
Labels: Sound

more sounds
  code/game/machinery/embedded_controller/airlock_program.dm
  sound/machines/airlockdone.ogg
  sound/machines/airlockin.ogg
  sound/machines/airlockout.ogg
Labels: Sound

Gravitational_Degenerator
  baystation12.dme
  code/__defines/lighting.dm
  code/__defines/misc.dm
  code/game/objects/items/weapons/circuitboards/machinery/gravgen.dm
  code/modules/events/gravity.dm
  code/modules/power/gravity_generator/areas.dm
  code/modules/power/gravity_generator/grav_event.dm
  code/modules/power/gravity_generator/gravitygenerator.dm
  code/modules/power/gravity_generator/mob.dm
  code/modules/power/gravity_generator/wires.dm
  code/modules/power/gravitygenerator.dm
  icons/obj/machines/gravity_gen.dmi
  maps/sierra/sierra-2.dmm
  nano/templates/gravgen.tmpl
Labels: Map, Sprites

rust_g
  baystation12.dme
  code/__defines/rust_g.dm
Labels: none

lobby assets
  baystation12.dme
  code/__defines/rust_g.dm
  code/__defines/subsystems.dm
  code/_helpers/text.dm
  code/controllers/subsystems/assets.dm
  code/controllers/subsystems/initialization/misc_late.dm
  code/game/world.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/asset_cache/asset_cache.dm
  code/modules/asset_cache/asset_cache_client.dm
  code/modules/asset_cache/asset_cache_item.dm
  code/modules/asset_cache/asset_list.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/asset_cache/validate_assets.html
  code/modules/client/asset_cache.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  interface/skin.dmf
Labels: none

fix an ancient incorrect reference in MC setup
  code/controllers/master.dm
Labels: none

Automatic changelog generation [ci skip]
  html/changelog.html
Labels: none

Mech punches are now telegraphed
  code/modules/mechs/components/arms.dm
  code/modules/mechs/components/body.dm
  code/modules/mechs/components/legs.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mechs/interface/screen_objects.dm
  code/modules/mechs/mech.dm
  code/modules/mechs/mech_interaction.dm
  sound/mecha/mech_punch.ogg
  sound/mecha/mech_punch_fast.ogg
  sound/mecha/mech_punch_slow.ogg
Labels: Sound

alt welcome sound
  maps/sierra/sierra_define.dm
  sound/AI/welcome_alt.ogg
Labels: Sound

New Event (need add to container)
  baystation12.dme
  code/modules/events/vent_clog.dm
Labels: none

EQ (#242)
  code/datums/audio/_tracks.dm
  code/datums/audio/jukebox.dm
  code/modules/fabrication/designs/general/designs_devices_components.dm
  code/modules/mob/living/silicon/ai/icons.dm
  icons/accents.dmi
  icons/chattags.dmi
  icons/mob/AI.dmi
  maps/torch/icons/assignment_hud.dmi
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/service_jobs.dm
  maps/torch/torch_lobby.dm
  maps/torch/torch_ranks.dm
  proxima/code/modules/clothing/spacesuits/rig/suits/marine.dm
Labels: Sprites

fix phoron bulb explosions
  code/modules/power/lighting.dm
Labels: none

Fixes
  baystation12.dme
  code/__defines/lighting.dm
  code/modules/power/gravity_generator/gravitygenerator.dm
Labels: none
