Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*

give rename ship window a cancel button
  code/modules/admin/verbs/randomverbs.dm
Labels: none

fix issues with renamed ships taking off/landing
  code/modules/admin/verbs/randomverbs.dm
Labels: none

fix admin log doubling the admin name
  code/modules/admin/verbs/randomverbs.dm
Labels: none

Automatic changelog generation for PR #32412 [ci skip]
  html/changelogs/AutoChangeLog-pr-32412.yml
Labels: none

Automatic changelog generation for PR #32459 [ci skip]
  html/changelogs/AutoChangeLog-pr-32459.yml
Labels: none

Чуть более логичные вещи (#218)
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/weapons/mop.dm
  code/modules/fabrication/designs/general/designs_general.dm
Labels: none

Automatic changelog generation for PR #218 [ci skip]
  html/changelogs/AutoChangeLog-pr-218.yml
Labels: none

Automatic changelog generation for PR #32458 [ci skip]
  html/changelogs/AutoChangeLog-pr-32458.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32412.yml
  html/changelogs/AutoChangeLog-pr-32458.yml
  html/changelogs/AutoChangeLog-pr-32459.yml
Labels: none

Integrate bugmeat into main repo
  baystation12.dme
  code/modules/reagents/reagent_containers/food/snacks/bugmeat.dm
  packs/event_2022jul30/_pack.dm
  packs/event_2022jul30/bugmeat.dmi
Labels: Sprites

Re-add dmi file for icondiff bot
  icons/obj/food_bugmeat.dmi
Labels: Sprites

Add `native_gasses` parameter to seed randomization
  code/modules/hydroponics/seed.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-218.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Add `LAZYEMERGELIST` define
  code/__defines/lists.dm
Labels: none

Fix forced_ambience runtimes in holodeck
  code/game/area/areas.dm
  code/modules/holodeck/HolodeckControl.dm
Labels: none

Restrict exoplanet flora gasses to those in the planet's atmosphere
  code/modules/overmap/exoplanets/exoplanet_flora.dm
Labels: none

Move bad and good gas generation to build_level()
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/exoplanets/exoplanet_fauna.dm
Labels: none

Hypospray Timer
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: none

Automatic changelog generation for PR #32451 [ci skip]
  html/changelogs/AutoChangeLog-pr-32451.yml
Labels: none

Automatic changelog generation for PR #32464 [ci skip]
  html/changelogs/AutoChangeLog-pr-32464.yml
Labels: none

Fix incorrect glare dampener description
  code/modules/augment/active/glare_dampeners.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32451.yml
  html/changelogs/AutoChangeLog-pr-32464.yml
Labels: none

MAA Brassard Colour Fix
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
Labels: Sprites

Automatic changelog generation for PR #32474 [ci skip]
  html/changelogs/AutoChangeLog-pr-32474.yml
Labels: none

add iccgn rank icons
  maps/event/iccgn_ship/icgnv_hound.dmm
  packs/faction_iccgn/faction.dm
  packs/faction_iccgn/misc.dm
  packs/faction_iccgn/outfits.dm
  packs/faction_iccgn/ranks.dm
  packs/faction_iccgn/ranks.dmi
Labels: Map, Sprites

Fix heat overlay being clickable on low graphics
  code/game/objects/effects/misc.dm
Labels: none

Automatic changelog generation for PR #32471 [ci skip]
  html/changelogs/AutoChangeLog-pr-32471.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32471.yml
  html/changelogs/AutoChangeLog-pr-32474.yml
Labels: none

Automatic changelog generation for PR #32478 [ci skip]
  html/changelogs/AutoChangeLog-pr-32478.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32478.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Fix hub visibility toggle not being a toggle
  code/modules/admin/admin.dm
Labels: none

Automatic changelog generation for PR #32484 [ci skip]
  html/changelogs/AutoChangeLog-pr-32484.yml
Labels: none

resprite torch patch
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/icons/obj/obj_accessories_solgov.dmi
Labels: Sprites

add finite state machine (> Nebula)
  baystation12.dme
  code/_macros.dm
  code/datums/datum.dm
  code/datums/extensions/state_machine.dm
  code/datums/state_machine/paper_fortune_fsm.dm
  code/datums/state_machine/state.dm
  code/datums/state_machine/transition.dm
  code/game/objects/items/paper_fortune_teller.dm
  icons/obj/fortune_teller.dmi
Labels: Sprites

Automatic changelog generation for PR #32476 [ci skip]
  html/changelogs/AutoChangeLog-pr-32476.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none
