Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*

Automatic changelog generation
  html/changelog.html
Labels: none

add more exploding cuddly toys
  code/game/objects/items/traitor_plush.dm
Labels: none

gloves protect hands when opening shellfish
  code/modules/reagents/reagent_containers/food/snacks/shellfish.dm
Labels: none

Automatic changelog generation for PR #32596 [ci skip]
  html/changelogs/AutoChangeLog-pr-32596.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32596.yml
Labels: none

Adds slowclap emote
  code/game/objects/items/weapons/implants/implants/compressed.dm
  code/game/objects/items/weapons/implants/implants/freedom.dm
  code/game/objects/items/weapons/implants/implants/uplink.dm
  code/modules/emotes/definitions/_mob.dm
  code/modules/emotes/definitions/audible.dm
Labels: none

Automatic changelog generation for PR #32594 [ci skip]
  html/changelogs/AutoChangeLog-pr-32594.yml
Labels: none

Fix potential double-references in `add_to_stacks` when checking hands
  code/game/objects/items/stacks/stack.dm
Labels: none

Automatic changelog generation for PR #32599 [ci skip]
  html/changelogs/AutoChangeLog-pr-32599.yml
Labels: none

Automatic changelog generation for PR #32598 [ci skip]
  html/changelogs/AutoChangeLog-pr-32598.yml
Labels: none

Automatic changelog generation for PR #32593 [ci skip]
  html/changelogs/AutoChangeLog-pr-32593.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32593.yml
  html/changelogs/AutoChangeLog-pr-32594.yml
  html/changelogs/AutoChangeLog-pr-32598.yml
  html/changelogs/AutoChangeLog-pr-32599.yml
Labels: none

я починил мечи, теперь я кузнец (Сиквел ПРа "РнД и мечи") (#231)
  code/modules/research/designs/designs_weapon.dm
  proxima/code/game/items/weapons/melee/swords.dm
Labels: none

add shotgun cane
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
  code/game/objects/items/weapons/cane.dm
Labels: none

added sstyping
  baystation12.dme
  code/__defines/appearance.dm
  code/controllers/subsystems/typing.dm
  code/game/atoms_movable.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/mob/say.dm
  code/modules/mob/typing_indicator.dm
  code/modules/species/species.dm
  code/modules/species/station/nabber.dm
Labels: none

Reduce throw speed of dropped limbs
  code/modules/organs/external/_external.dm
Labels: none

Automatic changelog generation for PR #32604 [ci skip]
  html/changelogs/AutoChangeLog-pr-32604.yml
Labels: none

Automatic changelog generation for PR #32603 [ci skip]
  html/changelogs/AutoChangeLog-pr-32603.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32603.yml
  html/changelogs/AutoChangeLog-pr-32604.yml
Labels: none

Prefix species appearance flags appropriately
  code/__defines/species.dm
  code/game/objects/items/devices/t_scanner.dm
  code/game/objects/structures/under_wardrobe.dm
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/client/preference_setup/general/03_equipment.dm
  code/modules/client/preference_setup/general/05_preview.dm
  code/modules/clothing/underwear/base.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/nano/modules/human_appearance.dm
  code/modules/organs/external/_external_icons.dm
  code/modules/organs/external/head.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/species/outsider/random.dm
  code/modules/species/outsider/vox.dm
  code/modules/species/species.dm
  code/modules/species/species_random.dm
  code/modules/species/station/adherent.dm
  code/modules/species/station/golem.dm
  code/modules/species/station/human_subspecies.dm
  code/modules/species/station/lizard.dm
  code/modules/species/station/machine.dm
  code/modules/species/station/nabber.dm
  code/modules/species/station/prometheans.dm
  code/modules/species/station/station.dm
  code/unit_tests/mob_tests.dm
Labels: none

Add helpers for in-hand checks
  code/modules/mob/inventory.dm
  code/modules/mob/living/silicon/robot/inventory.dm
Labels: none

Use in hand helpers for cyborgs
  code/_onclick/hud/robot.dm
  code/datums/mind/mind.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/nano/interaction/hands.dm
Labels: none

Fix ambience runtimes
  code/game/area/areas.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Format & comment C4
  code/game/objects/items/weapons/explosives.dm
Labels: none

Move C4 to target instead of nullspace when planted
  code/game/objects/items/weapons/explosives.dm
Labels: none

Remove C4 gender definition
  code/game/objects/items/weapons/explosives.dm
Labels: none

Restrict C4 targets to turfs, structures, and doors
  code/game/objects/items/weapons/explosives.dm
Labels: none

Standardize C4 user messages
  code/game/objects/items/weapons/explosives.dm
Labels: none

Update C4 to Initialize()
  code/game/objects/items/weapons/explosives.dm
Labels: none

Convert C4 timer seconds to more readable times
  code/game/objects/items/weapons/explosives.dm
Labels: none

Add `c4_act()` proc
  code/game/objects/items/weapons/explosives.dm
Labels: none

Add icon update event
  baystation12.dme
  code/datums/observation/icon_updated.dm
  test/check-paths.sh
Labels: Repo

Use icon update event for C4
  code/game/objects/items/weapons/explosives.dm
Labels: none

Move C4 target handling to `set_target()`
  code/game/objects/items/weapons/explosives.dm
Labels: none

Replace mapped nanoblood with O- blood
  maps/torch/torch5_deck1.dmm
Labels: Map

Fix blood bag colors not syncing to species
  code/modules/reagents/reagent_containers/blood_pack.dm
Labels: none

Add skrell and unathi blood bags
  code/datums/supplypacks/medical.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  maps/torch/torch5_deck1.dmm
Labels: Map

port different soaps from polaris
  code/game/objects/items/weapons/soap.dm
  code/game/objects/random/random.dm
  icons/obj/soap.dmi
Labels: Sprites
