Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*

Automatic changelog generation for PR #32545 [ci skip]
  html/changelogs/AutoChangeLog-pr-32545.yml
Labels: none

Adminabuse (#226)
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/supply_jobs.dm
  maps/torch/torch_procs.dm
  maps/torch/torch_ranks.dm
Labels: none

Automatic changelog generation for PR #226 [ci skip]
  html/changelogs/AutoChangeLog-pr-226.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-225.yml
  html/changelogs/AutoChangeLog-pr-226.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32540.yml
  html/changelogs/AutoChangeLog-pr-32545.yml
Labels: none

Fix chem sprayers not generating attack logs
  code/modules/reagents/reagent_containers/spray.dm
Labels: none

(re-)adds medical medal
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/loadout/loadout_accessories.dm
Labels: none

Automatic changelog generation for PR #32564 [ci skip]
  html/changelogs/AutoChangeLog-pr-32564.yml
Labels: none

Adds Meatbeast
  baystation12.dme
  code/modules/mob/living/simple_animal/friendly/alien.dm
  icons/mob/simple_animal/animal.dmi
Labels: Sprites

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32564.yml
Labels: none

Makes water put out fire
  code/game/objects/effects/fire/fire.dm
Labels: none

Cookers unattended will start small fires
  code/game/machinery/kitchen/cookers.dm
Labels: none

Automatic changelog generation for PR #32569 [ci skip]
  html/changelogs/AutoChangeLog-pr-32569.yml
Labels: none

Automatic changelog generation for PR #32561 [ci skip]
  html/changelogs/AutoChangeLog-pr-32561.yml
Labels: none

Automatic changelog generation for PR #32567 [ci skip]
  html/changelogs/AutoChangeLog-pr-32567.yml
Labels: none

Adds canon round thing
  baystation12.dme
  icons/mob/bot/ED209.dmi
  maps/torch/structures/memorabilia.dm
  maps/torch/torch4_deck2.dmm
Labels: Map, Sprites

Automatic changelog generation for PR #32563 [ci skip]
  html/changelogs/AutoChangeLog-pr-32563.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32561.yml
  html/changelogs/AutoChangeLog-pr-32563.yml
  html/changelogs/AutoChangeLog-pr-32567.yml
  html/changelogs/AutoChangeLog-pr-32569.yml
Labels: none

update workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
  interface/interface.dm
Labels: Repo

update workflows for lazy running / preflight
  .github/workflow-config/codeql.yml
  .github/workflow-config/preflight-filters.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
Labels: Repo

resolve post-merge tests issue
  scripts/validateTestingContainsAllMaps.sh
  test/run-test.sh
Labels: Repo

Fix RCON console using wrong operable check
  code/game/machinery/computer/RCON_Console.dm
Labels: none

Remove unused `is_operable()` global proc
  code/game/machinery/_machines_base/machinery.dm
Labels: none

Replace stat procs
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/_machines_base/machinery_stat.dm
  code/game/machinery/_machines_base/stock_parts/stock_parts_interface.dm
Labels: none

Move machinery stat handling to new file
  baystation12.dme
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/_machines_base/machinery_stat.dm
Labels: none

Cleanup & update outdated machine header comment
  code/game/machinery/_machines_base/machinery.dm
Labels: none

Remove redundant stat definitions
  code/game/machinery/supplybeacon.dm
  code/game/machinery/syndicatebeacon.dm
Labels: none

Remove `BROKEN` stat in favor of `reason_broken` checks
  code/__defines/machinery.dm
  code/game/machinery/_machines_base/machinery_stat.dm
  code/game/machinery/doors/simple.dm
  code/modules/power/smes.dm
  maps/away/derelict/derelict-station.dmm
  maps/away/mining/mining-signal.dmm
Labels: Map

Fix invalid mapped machinery broken states
  maps/away/derelict/derelict-station.dmm
  maps/away/mining/mining-signal.dmm
Labels: Map

lore updates
  code/game/objects/items/passport.dm
  code/modules/culture_descriptor/culture/cultures_human.dm
  code/modules/culture_descriptor/location/locations_human.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation for PR #32574 [ci skip]
  html/changelogs/AutoChangeLog-pr-32574.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32574.yml
Labels: none

correct map includes into torch from environment
  baystation12.dme
  maps/torch/torch.dm
Labels: none

shield resprite and fire/bomb suit fixes
  code/game/objects/items/weapons/shields.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/mob/species/unathi/generated/onmob_head_unathi.dmi
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
  icons/obj/weapons/melee_energy.dmi
  icons/obj/weapons/melee_physical.dmi
Labels: Sprites

Adds th'oom
  code/modules/ai/say_list.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  icons/mob/simple_animal/animal.dmi
Labels: Sprites

Automatic changelog generation for PR #32579 [ci skip]
  html/changelogs/AutoChangeLog-pr-32579.yml
Labels: none

Automatic changelog generation for PR #32559 [ci skip]
  html/changelogs/AutoChangeLog-pr-32559.yml
Labels: none

Remove noback panties
  code/datums/underwear/bottom.dm
  icons/mob/human.dmi
Labels: Sprites

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32559.yml
  html/changelogs/AutoChangeLog-pr-32579.yml
Labels: none
