Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

map fixes
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
Labels: Map

Automatic changelog generation for PR #32845 [ci skip]
  html/changelogs/AutoChangeLog-pr-32845.yml
Labels: none

Automatic changelog generation for PR #32864 [ci skip]
  html/changelogs/AutoChangeLog-pr-32864.yml
Labels: none

Automatic changelog generation for PR #32857 [ci skip]
  html/changelogs/AutoChangeLog-pr-32857.yml
Labels: none

Automatic changelog generation for PR #32858 [ci skip]
  html/changelogs/AutoChangeLog-pr-32858.yml
Labels: none

Automatic changelog generation for PR #32859 [ci skip]
  html/changelogs/AutoChangeLog-pr-32859.yml
Labels: none

Automatic changelog generation for PR #32839 [ci skip]
  html/changelogs/AutoChangeLog-pr-32839.yml
Labels: none

Automatic changelog generation for PR #32850 [ci skip]
  html/changelogs/AutoChangeLog-pr-32850.yml
Labels: none

Automatic changelog generation for PR #32861 [ci skip]
  html/changelogs/AutoChangeLog-pr-32861.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32839.yml
  html/changelogs/AutoChangeLog-pr-32845.yml
  html/changelogs/AutoChangeLog-pr-32850.yml
  html/changelogs/AutoChangeLog-pr-32857.yml
  html/changelogs/AutoChangeLog-pr-32858.yml
  html/changelogs/AutoChangeLog-pr-32859.yml
  html/changelogs/AutoChangeLog-pr-32861.yml
  html/changelogs/AutoChangeLog-pr-32864.yml
Labels: none

tweak post 32839
  code/game/turfs/simulated/walls.dm
Labels: none

tweak post 32854
  code/game/objects/structures/inflatable.dm
Labels: none

tweak post 32845
  code/game/objects/effects/fire/fire.dm
Labels: none

test appeasement
  test/check-paths.sh
Labels: Repo

Automatic changelog generation for PR #32865 [ci skip]
  html/changelogs/AutoChangeLog-pr-32865.yml
Labels: none

Revert "typo changes (again)"
  code/game/objects/items/weapons/material/coins.dm
  maps/torch/items/coins.dm
  maps/torch/loadout/loadout_misc.dm
  packs/faction_iccgn/badges.dm
  packs/faction_iccgn/clothing.dm
  packs/faction_iccgn/coins.dm
  packs/faction_iccgn/patches.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32865.yml
Labels: none

Add health broken flag to machinery
  code/__defines/machinery.dm
  code/game/machinery/_machines_base/machinery.dm
Labels: none

Call parent in machinery on_death overrides
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/bluespace_drive.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/portable_turret.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/power/solar.dm
  code/modules/shieldgen/emergency_shield.dm
  code/modules/xenoarcheaology/anomaly_container.dm
Labels: none

Move health overrides to root proc definitions
  code/_onclick/item_attack.dm
  code/game/atoms.dm
  code/game/atoms_health.dm
Labels: none

Set machinery resistance to electrical
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/bluespace_drive.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/portable_turret.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/power/solar.dm
  code/modules/shieldgen/emergency_shield.dm
  code/modules/xenoarcheaology/anomaly_container.dm
Labels: none

Apply standardized health to artifacts
  code/modules/xenoarcheaology/artifacts/artifact.dm
Labels: none

Add damage flags to health processing
  code/__defines/damage_organs.dm
  code/__defines/health.dm
  code/_onclick/item_attack.dm
  code/game/atoms.dm
  code/game/atoms_health.dm
Labels: none

Apply standardized health to doors
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/machinery/doors/simple.dm
  code/game/machinery/doors/windowdoor.dm
  code/modules/blob/blob.dm
  code/modules/holodeck/HolodeckObjects.dm
Labels: none

Apply standardized health to cameras
  code/game/machinery/camera/camera.dm
  code/modules/blob/blob.dm
  code/modules/events/camera_damage.dm
Labels: none

Add boolean return to airlock_crush
  code/game/machinery/doors/airlock_interactions.dm
  code/game/objects/effects/fluids.dm
Labels: none

Set unpowered doors to physical damage
  code/game/machinery/doors/unpowered.dm
Labels: none

add node make-suid tool and /proc/is_suid
  code/_helpers/text.dm
  tools/make-suid/index.js
  tools/make-suid/package.json
Labels: Repo

move mapcapturemerge & midi2piano to org/Tools
  tools/Readme.md
  tools/mapcapturemerge/.gitignore
  tools/mapcapturemerge/README.md
  tools/mapcapturemerge/captures/.gitkeep
  tools/mapcapturemerge/imageHelpers.py
  tools/mapcapturemerge/merge.py
  tools/midi2piano/README.txt
  tools/midi2piano/easygui/__init__.py
  tools/midi2piano/midi/__init__.py
  tools/midi2piano/midi/midi.py
  tools/midi2piano/midi2piano.py
  tools/midi2piano/pyperclip/__init__.py
  tools/midi2piano/pyperclip/clipboards.py
  tools/midi2piano/pyperclip/exceptions.py
  tools/midi2piano/pyperclip/windows.py
Labels: Repo

fix tests not running the correct maps
  maps/_maps.dm
  scripts/dm.sh
Labels: Repo

fix up revealed issues
  baystation12.dme
  code/game/area/Space Station 13 areas.dm
  code/modules/holomap/ship_holomap.dm
  maps/away/slavers/slavers_base.dmm
  maps/away_sites_testing/away_sites_testing.dm
  maps/example/example.dm
  maps/example/example_define.dm
  maps/example/example_unit_testing.dm
  maps/torch/holomap_areas.dm
  maps/torch/torch.dm
  maps/torch/torch_areas.dm
Labels: Map

icarus event stuff
  maps/away/icarus2/icarus2-1.dmm
  maps/away/icarus2/icarus2-2.dmm
  maps/away/icarus2/icarus2.dm
  maps/away/icarus2/icarus2.dmi
  maps/away/icarus2/icarus2_areas.dm
  maps/torch/torch.dm
Labels: Map, Sprites

make bed deploying instant
  code/game/objects/structures/roller_bed.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Add destroy event handler to buckled mobs
  code/controllers/subsystems/jobs.dm
  code/game/objects/buckling.dm
Labels: none

Add destroy event handlers to oxygen pumps
  code/game/machinery/oxygen_pump.dm
Labels: none

Fix material coins being abstract
  code/game/objects/items/weapons/material/coins.dm
Labels: none

Fix roller beds clearing buckled mob on ripdrip
  code/game/objects/structures/roller_bed.dm
Labels: none

Runtime batch fix 2023-01-03
  code/modules/mob/living/bot/farmbot.dm
  code/modules/organs/internal/brain.dm
  code/procs/announce.dm
Labels: none

Automatic changelog generation for PR #32870 [ci skip]
  html/changelogs/AutoChangeLog-pr-32870.yml
Labels: none

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*
