Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*

Automatic changelog generation for PR #32646 [ci skip]
  html/changelogs/AutoChangeLog-pr-32646.yml
Labels: none

Automatic changelog generation for PR #32647 [ci skip]
  html/changelogs/AutoChangeLog-pr-32647.yml
Labels: none

Automatic changelog generation for PR #32648 [ci skip]
  html/changelogs/AutoChangeLog-pr-32648.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32646.yml
  html/changelogs/AutoChangeLog-pr-32647.yml
  html/changelogs/AutoChangeLog-pr-32648.yml
Labels: none

Automatic changelog generation for PR #32667 [ci skip]
  html/changelogs/AutoChangeLog-pr-32667.yml
Labels: none

ports some sprites
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/simple_animal/animal.dmi
  icons/obj/guns/plasmacutter.dmi
  icons/obj/items.dmi
  icons/obj/machines/shielding.dmi
  icons/obj/stationobjs.dmi
  icons/obj/storage.dmi
  icons/obj/structures.dmi
  icons/obj/tools.dmi
  icons/obj/weapons/melee_physical.dmi
Labels: Sprites

Add `SPAN_CLASS()` define.
  code/_macros.dm
Labels: none

Updates the old gun sprites. Adds the Z9 Pitbull.
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/boltaction.dmi
  icons/obj/guns/broomstick.dmi
  icons/obj/guns/bullpup_rifle.dmi
  icons/obj/guns/bullpup_rifle_light.dmi
  icons/obj/guns/garand.dmi
  icons/obj/guns/pistol_throwback.dmi
  icons/obj/guns/semistrip.dmi
  maps/torch/datums/supplypacks/security.dm
Labels: Sprites

Add cleaner spray to medical robots
  code/modules/mob/living/silicon/robot/flying/module_flying_emergency.dm
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/reagents/reagent_containers/spray.dm
Labels: none

Automatic changelog generation for PR #32658 [ci skip]
  html/changelogs/AutoChangeLog-pr-32658.yml
Labels: none

Automatic changelog generation for PR #32666 [ci skip]
  html/changelogs/AutoChangeLog-pr-32666.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32658.yml
  html/changelogs/AutoChangeLog-pr-32666.yml
  html/changelogs/AutoChangeLog-pr-32667.yml
Labels: none

adrenaline takes 20% less volume to restart hearts
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: none

fix FBP's being able to be chosen as Changeling
  code/game/antagonist/station/changeling.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation for PR #32668 [ci skip]
  html/changelogs/AutoChangeLog-pr-32668.yml
Labels: none

Automatic changelog generation for PR #32673 [ci skip]
  html/changelogs/AutoChangeLog-pr-32673.yml
Labels: none

Automatic changelog generation for PR #32672 [ci skip]
  html/changelogs/AutoChangeLog-pr-32672.yml
Labels: none

add empty sector for event usage
  maps/event/empty/empty.dm
  maps/event/empty/empty.dmm
  maps/torch/torch.dm
Labels: Map

Resprites medical equipment
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/mob/onmob/onmob_belt.dmi
  icons/obj/chemical.dmi
  icons/obj/defibrillator.dmi
  icons/obj/medical.dmi
  icons/obj/reagentfillings.dmi
  icons/obj/syringe.dmi
Labels: Sprites

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32668.yml
  html/changelogs/AutoChangeLog-pr-32672.yml
  html/changelogs/AutoChangeLog-pr-32673.yml
Labels: none

Fix inheritance issue for simple animal gibbing
  code/modules/mob/living/simple_animal/life.dm
Labels: none

Zombie Powder no longer kills you, merely pretends to kill you
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: none

IV drips properly show their filling color
  icons/obj/iv_drip.dmi
Labels: Sprites

Automatic changelog generation for PR #32677 [ci skip]
  html/changelogs/AutoChangeLog-pr-32677.yml
Labels: none

Automatic changelog generation for PR #32678 [ci skip]
  html/changelogs/AutoChangeLog-pr-32678.yml
Labels: none

Automatic changelog generation for PR #32675 [ci skip]
  html/changelogs/AutoChangeLog-pr-32675.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32675.yml
  html/changelogs/AutoChangeLog-pr-32677.yml
  html/changelogs/AutoChangeLog-pr-32678.yml
Labels: none

Fix font sizes for UI elements
  code/_macros.dm
  code/game/gamemodes/changeling/modularchangling.dm
  code/modules/admin/admin.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/view_variables/helpers.dm
  code/modules/admin/view_variables/view_variables.dm
  code/modules/client/preference_setup/_defines.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/paperwork/adminpaper.dm
Labels: none

Automatic changelog generation for PR #32679 [ci skip]
  html/changelogs/AutoChangeLog-pr-32679.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32679.yml
Labels: none

Adds a bluespace ghost simplemob, for shenanigan purposes
  baystation12.dme
  code/modules/mob/living/simple_animal/hostile/bluespace.dm
  icons/mob/simple_animal/bluespace.dmi
Labels: Sprites

Automatic changelog generation
  html/changelog.html
Labels: none

make cable restraint progress bar be visible
  code/modules/power/cable_coil.dm
Labels: none

Fixes small and large font sizes in papers
  code/_helpers/text.dm
Labels: none

Automatic changelog generation for PR #32670 [ci skip]
  html/changelogs/AutoChangeLog-pr-32670.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32670.yml
Labels: none

Automatic changelog generation for PR #32680 [ci skip]
  html/changelogs/AutoChangeLog-pr-32680.yml
Labels: none
