Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*

revert of revert
  code/_macros.dm
  code/_version.dm
  code/core/math/math.dm
Labels: none

Use material hitsound for table hitsound
  code/modules/tables/tables.dm
Labels: none

Apply minimum damage value to tables
  code/modules/tables/tables.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32870.yml
Labels: none

Update maths.dm
  code/_helpers/maths.dm
Labels: none

Automatic changelog generation for PR #32873 [ci skip]
  html/changelogs/AutoChangeLog-pr-32873.yml
Labels: none

Automatic changelog generation for PR #32871 [ci skip]
  html/changelogs/AutoChangeLog-pr-32871.yml
Labels: none

EVENT: MORTARS
  maps/sierra/sierra.dm
  mods/mortar/_mortar.dm
  mods/mortar/mortar.dme
  mods/mortar/mortar.dmi
  mods/mortar/mortar_falling.ogg
  mods/mortar/mortar_fire.ogg
  mods/mortar/rpgreload.ogg
Labels: Sprites, Sound

initial signature compatibility
  baystation12.dme
Labels: none

add vector2 and vector3 datums
  baystation12.dme
  code/core/math/vector2.dm
  code/core/math/vector3.dm
Labels: none

disabled vector overloads invalid at linter 1.5.1
  code/core/math/vector2.dm
  code/core/math/vector3.dm
Labels: none

Bugfixes syringes and carp meat
  code/modules/reagents/reagent_containers/food/fish.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32871.yml
  html/changelogs/AutoChangeLog-pr-32873.yml
Labels: none

Uplink radios now look like shortwave radios
  code/game/objects/items/devices/uplink.dm
Labels: none

Update _mortar.dm
  mods/mortar/_mortar.dm
Labels: none

Autofire
  code/_onclick/MouseDrag.dm
  code/modules/client/client_procs.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/vox.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/sniper.dm
Labels: none

Automatic changelog generation for PR #32826 [ci skip]
  html/changelogs/AutoChangeLog-pr-32826.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32826.yml
Labels: none

Fix airlocks damaging themselves when closing
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_interactions.dm
  code/game/objects/effects/fluids.dm
Labels: none

Automatic changelog generation for PR #32877 [ci skip]
  html/changelogs/AutoChangeLog-pr-32877.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32877.yml
Labels: none

Add `ci skip` flag to changelog compilation action
  .github/workflows/changelog_generation.yml
Labels: Repo

reloadable energy weapons
  code/modules/projectiles/guns/energy.dm
  sound/weapons/guns/interaction/energy_magin.ogg
  sound/weapons/guns/interaction/energy_magout.ogg
Labels: Sound

misc fixes
  code/game/machinery/doors/blast_door.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/projectiles/guns/energy.dm
  nano/templates/communication.tmpl
Labels: none

Add melting point checks to door and wall fire_act
  code/game/machinery/doors/airlock.dm
  code/game/turfs/simulated/walls.dm
Labels: none

Fix grilles taking fire damage twice
  code/game/objects/structures/grille.dm
Labels: none

Add material melting point proc
  code/game/atoms.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/walls.dm
  code/modules/materials/_materials.dm
Labels: none

Use blast doors for supermatter containment
  maps/torch/torch4_deck2.dmm
Labels: Map

Use PLASTEEL material for fire door
  code/game/machinery/doors/firedoor.dm
Labels: none

Apply `heat_proof` to door melting point
  code/game/machinery/doors/door.dm
Labels: none

Use plasteel for cameras
  code/game/machinery/camera/camera.dm
Labels: none

Automatic changelog generation for PR #32880 [ci skip]
  html/changelogs/AutoChangeLog-pr-32880.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32880.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

fix blastdoors opening when interacted with
  code/game/machinery/doors/blast_door.dm
Labels: none

Shotgun Rebalanced and Rebranded
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: none

Fix bad door opening calls
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/door.dm
Labels: none

Grammar_Fix
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: none

Automatic changelog generation for PR #32883 [ci skip]
  html/changelogs/AutoChangeLog-pr-32883.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32883.yml
Labels: none
