Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

add emergency position-indicating radio beacon
  baystation12.dme
  code/game/objects/items/devices/radio/epirb.dm
  icons/obj/radio.dmi
Labels: Sprites

Revert "add emergency position-indicating radio beacon"
  baystation12.dme
  code/game/objects/items/devices/radio/epirb.dm
  icons/obj/radio.dmi
Labels: Sprites

Weapon touchups and shotgun sawing
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/guns/shotguns.dmi
Labels: Sprites

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32802.yml
  html/changelogs/AutoChangeLog-pr-32806.yml
Labels: none

Automatic changelog generation for PR #32808 [ci skip]
  html/changelogs/AutoChangeLog-pr-32808.yml
Labels: none

wip
  code/game/machinery/biogenerator.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/food/recipes_microwave.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/goose.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/meat/bacon.dm
  code/modules/reagents/reagent_containers/food/snacks/meat/cutlet.dm
  code/modules/reagents/reagent_containers/food/snacks/meat/meat.dm
  code/modules/reagents/reagent_containers/food/snacks/meat/other.dm
  icons/obj/food.dmi
  icons/obj/food_ingredients.dmi
  icons/obj/snacks/meat.dmi
  maps/away/errant_pisces/errant_pisces.dmm
Labels: Map, Sprites

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32808.yml
Labels: none

здраствуйте я умею убивать людей шкафами (#238)
  maps/torch/datums/reports/medical.dm
Labels: none

Automatic changelog generation for PR #32683 [ci skip]
  html/changelogs/AutoChangeLog-pr-32683.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32683.yml
Labels: none

Riot shotgun
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: none

shotgun fix
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: none

Automatic changelog generation for PR #32811 [ci skip]
  html/changelogs/AutoChangeLog-pr-32811.yml
Labels: none

Прокачиваем Тесты. Анотации ошибок в коде
  .github/workflows/test.yml
Labels: Repo

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32811.yml
Labels: none

More shotgun fixes
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/obj/guns/shotguns.dmi
Labels: Sprites

Automatic changelog generation for PR #32812 [ci skip]
  html/changelogs/AutoChangeLog-pr-32812.yml
Labels: none

Add new version of lifepods
  baystation12.dme
  code/game/machinery/lifepod.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  icons/obj/machines/lifepod.dmi
Labels: Sprites

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32812.yml
Labels: none

Removes Grandpa
  config/names/first_male.txt
Labels: none

Automatic changelog generation for PR #32816 [ci skip]
  html/changelogs/AutoChangeLog-pr-32816.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32816.yml
Labels: none

Continued
  code/game/machinery/lifepod.dm
Labels: none

prepare gh-pages branch for wider usage
  .github/workflows/generate_documentation.yml
Labels: Repo

update dmdoc url in readme
  README.md
Labels: Repo

Update CodeQL badge link in readme
  README.md
Labels: Repo

update CI Status badge link in readme
  README.md
Labels: Repo

html/README; libs & info for ie8-friendly byond
  html/README/README.md
  html/README/lib/es6-promise.min.js
  html/README/lib/excanvas.min.js
  html/README/lib/fetch-ie8.min.js
  html/README/lib/json2.min.js
  html/README/style.css
  html/README/template.html
Labels: none

Continued
  code/game/machinery/lifepod.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Fix attackby standardized damage return value
  code/game/atoms_health.dm
Labels: none

Fix items and machines deleting during explosions
  code/game/machinery/_machines_base/machinery.dm
  code/game/objects/items.dm
Labels: none

Use structure damage for machinery
  code/game/atoms_health.dm
Labels: none

Apply standardized health to majority of the codebase
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/barrier.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/doors/airlock_interactions.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/admin/buildmode/turret.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/modular_computer/damage.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/computers/modular_computer/variables.dm
  code/modules/modular_computers/computers/subtypes/dev_laptop.dm
  code/modules/modular_computers/computers/subtypes/dev_telescreen.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/power/solar.dm
  code/modules/shieldgen/emergency_shield.dm
  maps/away/errant_pisces/errant_pisces.dm
  test/check-paths.sh
Labels: Repo

Document and format door variables
  baystation12.dme
  code/__defines/doors.dm
  code/datums/wires/airlock.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/alarmlock.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/machinery/doors/simple.dm
  code/game/machinery/doors/unpowered.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/devices/debugger.dm
  code/game/objects/items/devices/paint_sprayer.dm
  code/game/objects/structures/door_assembly.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/spells/aoe_turf/knock.dm
  code/modules/turbolift/turbolift_door.dm
Labels: none

Remove unused door variables
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
Labels: none

Remove redundant justzap var
  code/game/machinery/doors/airlock.dm
Labels: none

Move airlock AI bypass to separate boolean
  code/__defines/doors.dm
  code/datums/wires/airlock.dm
  code/game/machinery/doors/airlock.dm
Labels: none

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*
