Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*

update SSmobs fire loop
  code/controllers/subsystems/mobs.dm
Labels: none

re-add /datum to /chatOutput
  code/controllers/subsystems/ping.dm
  code/game/verbs/ooc.dm
  code/game/world.dm
  code/modules/goonchat/browserOutput.dm
Labels: none

SSskybox static members, doc, style & GLOB use
  code/controllers/subsystems/skybox.dm
Labels: none

Automatic changelog generation for PR #32395 [ci skip]
  html/changelogs/AutoChangeLog-pr-32395.yml
Labels: none

Add shutoff valves to engine room pipes
  maps/torch/torch4_deck2.dmm
Labels: Map

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32395.yml
  html/changelogs/AutoChangeLog-pr-32424.yml
Labels: none

make iccgn mil ranks usable
  maps/torch/torch_ranks.dm
  packs/faction_iccgn/faction.dm
Labels: none

ticket qol changes
  code/modules/admin/ticket.dm
Labels: none

Fixes cremation attack log being reversed
  code/game/objects/structures/morgue.dm
Labels: none

makes RPEDs have sounds, and new sprites
  code/game/machinery/_machines_base/machinery_components.dm
  icons/obj/storage.dmi
  sound/items/rped.ogg
Labels: Sprites, Sound

update behavior of ssthrowing
  code/controllers/subsystems/throwing.dm
  code/game/atoms_movable.dm
Labels: none

Automatic changelog generation for PR #32440 [ci skip]
  html/changelogs/AutoChangeLog-pr-32440.yml
Labels: none

Automatic changelog generation for PR #32431 [ci skip]
  html/changelogs/AutoChangeLog-pr-32431.yml
Labels: none

Automatic changelog generation for PR #32416 [ci skip]
  html/changelogs/AutoChangeLog-pr-32416.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32416.yml
  html/changelogs/AutoChangeLog-pr-32431.yml
  html/changelogs/AutoChangeLog-pr-32440.yml
Labels: none

fixes prosthetic splinting, adds resin patch sounds
  code/game/objects/items/stacks/medical.dm
Labels: none

Automatic changelog generation for PR #32443 [ci skip]
  html/changelogs/AutoChangeLog-pr-32443.yml
Labels: none

Automatic changelog generation for PR #32439 [ci skip]
  html/changelogs/AutoChangeLog-pr-32439.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32439.yml
  html/changelogs/AutoChangeLog-pr-32443.yml
Labels: none

Fixed GAS bay remnant (#216)
  code/modules/culture_descriptor/culture/cultures_serpentid.dm
Labels: none

Automatic changelog generation for PR #216 [ci skip]
  html/changelogs/AutoChangeLog-pr-216.yml
Labels: none

Remove borg cameras
  code/__defines/machinery.dm
  code/datums/wires/robot.dm
  code/game/machinery/camera/tracking.dm
  code/modules/alarm/alarm.dm
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/mob/living/silicon/robot/death.dm
  code/modules/mob/living/silicon/robot/flying/flying.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/modules/_module.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/modular_computers/file_system/programs/generic/camera.dm
  maps/torch/torch_presets.dm
Labels: none

Revert "Fixed GAS bay remnant (#216)" (#217)
  code/modules/culture_descriptor/culture/cultures_serpentid.dm
Labels: none

Add cancel button to kick
  code/modules/admin/topic.dm
Labels: none

Automatic changelog generation for PR #32453 [ci skip]
  html/changelogs/AutoChangeLog-pr-32453.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-216.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32453.yml
Labels: none

fix senior researcher not having locker access
  maps/torch/job/research_jobs.dm
Labels: none

skrell rig fixes
  code/modules/skrell/skrell_rigs.dm
  icons/obj/tools.dmi
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
Labels: Sprites

update hivebots, add more to exo event
  code/modules/events/event_container.dm
  code/modules/events/exo_awakening/_datums.dm
  code/modules/mob/living/simple_animal/hostile/hivebot/ranged.dm
Labels: none

change brain damage notification message
  code/modules/organs/internal/brain.dm
Labels: none

Automatic changelog generation for PR #32449 [ci skip]
  html/changelogs/AutoChangeLog-pr-32449.yml
Labels: none

Automatic changelog generation for PR #32408 [ci skip]
  html/changelogs/AutoChangeLog-pr-32408.yml
Labels: none

Automatic changelog generation for PR #32457 [ci skip]
  html/changelogs/AutoChangeLog-pr-32457.yml
Labels: none

Automatic changelog generation for PR #32456 [ci skip]
  html/changelogs/AutoChangeLog-pr-32456.yml
Labels: none

Automatic changelog generation for PR #32455 [ci skip]
  html/changelogs/AutoChangeLog-pr-32455.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32408.yml
  html/changelogs/AutoChangeLog-pr-32449.yml
  html/changelogs/AutoChangeLog-pr-32455.yml
  html/changelogs/AutoChangeLog-pr-32456.yml
  html/changelogs/AutoChangeLog-pr-32457.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation for PR #32452 [ci skip]
  html/changelogs/AutoChangeLog-pr-32452.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32452.yml
Labels: none
