Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*

Automatic changelog generation
  html/changelog.html
Labels: none

RCDs can now print low walls and machine frames, and deconstruct firedoor/airlock assemblies
  code/game/objects/items/weapons/RCD.dm
Labels: none

Added failure cases to the pump shotgun when one-handed
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: none

Added challenge coins
  code/game/objects/items/weapons/material/coins.dm
  code/game/objects/items/weapons/storage/wallets.dm
  icons/obj/coin.dmi
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_misc.dm
  maps/torch/loadout/~defines.dm
  maps/torch/torch.dm
Labels: Sprites

Automatic changelog generation for PR #32633 [ci skip]
  html/changelogs/AutoChangeLog-pr-32633.yml
Labels: none

Makes ghost trap noticeable
  code/modules/ghosttrap/trap.dm
Labels: none

Automatic changelog generation for PR #32513 [ci skip]
  html/changelogs/AutoChangeLog-pr-32513.yml
Labels: none

Automatic changelog generation for PR #32631 [ci skip]
  html/changelogs/AutoChangeLog-pr-32631.yml
Labels: none

Revert "User lacking preferences spam fix"
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/new_player/login.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32513.yml
  html/changelogs/AutoChangeLog-pr-32631.yml
  html/changelogs/AutoChangeLog-pr-32633.yml
Labels: none

adds volume handling shit for heads and removes flag spam
  code/modules/clothing/_clothing.dm
  code/modules/clothing/head/misc.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: none

Medical resprite
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/game/objects/structures/iv_drip.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  icons/obj/bloodpack.dmi
  icons/obj/iv_drip.dmi
  icons/obj/medical.dmi
  icons/obj/nanopaste.dmi
  icons/obj/surgery.dmi
Labels: Sprites

Resprites the nasa voidsuit
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: Sprites

Bag of holding, swiss knives, point defense, boards, robot components, freezers and crystal agent
  code/game/objects/items/weapons/circuitboards/circuitboard.dm
  code/game/objects/items/weapons/material/swiss.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/pointdefense/pointdefense.dm
  code/modules/psionics/null/chemistry.dm
  code/modules/psionics/null/material.dm
  code/modules/psionics/null/material_sheet.dm
  code/modules/reagents/heat_sources/_heat_source.dm
  code/modules/research/designs/designs_bluespace.dm
  code/modules/research/designs/designs_circuits.dm
  code/modules/research/designs/designs_medical.dm
  code/modules/research/designs/designs_singletons.dm
  icons/mob/onmob/onmob_back.dmi
  icons/obj/storage.dmi
  icons/turf/flooring/tiles.dmi
Labels: Sprites

Automatic changelog generation
  html/changelog.html
Labels: none

adds rags to closets and belts
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  maps/torch/structures/closets/services.dm
Labels: none

Automatic changelog generation for PR #32632 [ci skip]
  html/changelogs/AutoChangeLog-pr-32632.yml
Labels: none

Automatic changelog generation for PR #32649 [ci skip]
  html/changelogs/AutoChangeLog-pr-32649.yml
Labels: none

Automatic changelog generation for PR #32661 [ci skip]
  html/changelogs/AutoChangeLog-pr-32661.yml
Labels: none

Automatic changelog generation for PR #32657 [ci skip]
  html/changelogs/AutoChangeLog-pr-32657.yml
Labels: none

Automatic changelog generation for PR #32609 [ci skip]
  html/changelogs/AutoChangeLog-pr-32609.yml
Labels: none

you can have custom pets in loadout
  baystation12.dme
  code/modules/assembly/mousetrap.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/client/preference_setup/loadout/lists/pet.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: none

Глайдинг (#227)
  code/__defines/movement.dm
  code/_helpers/maths.dm
  code/controllers/configuration.dm
  code/datums/movement/atom_movable.dm
  code/datums/movement/mob.dm
  code/datums/movement/movement.dm
  code/game/atoms_movable.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/world.dm
Labels: none

Automatic changelog generation for PR #227 [ci skip]
  html/changelogs/AutoChangeLog-pr-227.yml
Labels: none

Adds spooky skeleton
  baystation12.dme
  code/modules/mob/living/simple_animal/hostile/skeleton.dm
Labels: none

Shrimp no longer drop clam shells when eaten
  code/modules/reagents/reagent_containers/food/snacks/shellfish.dm
Labels: none

Fix inheritance issue for simple animal gibbing
  code/modules/mob/living/simple_animal/life.dm
Labels: none

Add AI no movement flag
  code/modules/ai/ai_holder_combat.dm
  code/modules/ai/ai_holder_disabled.dm
  code/modules/ai/ai_holder_fleeing.dm
  code/modules/ai/ai_holder_follow.dm
  code/modules/ai/ai_holder_movement.dm
Labels: none

Add no-pull flag to mobs
  baystation12.dme
  code/__defines/mobs.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_codex.dm
Labels: none

Add stance update call to AI holders
  code/modules/ai/ai_holder.dm
Labels: none

Add robomines
  baystation12.dme
  code/modules/mob/living/simple_animal/hostile/robomine/chaser.dm
  code/modules/mob/living/simple_animal/hostile/robomine/robomine.dm
  icons/mob/simple_animal/robomine.dmi
  sound/items/countdown_short.ogg
Labels: Sprites, Sound

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-227.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32609.yml
  html/changelogs/AutoChangeLog-pr-32632.yml
  html/changelogs/AutoChangeLog-pr-32649.yml
  html/changelogs/AutoChangeLog-pr-32657.yml
  html/changelogs/AutoChangeLog-pr-32661.yml
Labels: none

Automatic changelog generation for PR #32665 [ci skip]
  html/changelogs/AutoChangeLog-pr-32665.yml
Labels: none

Added challenge coins
  code/game/objects/items/weapons/material/coins.dm
  code/game/objects/items/weapons/storage/wallets.dm
  icons/obj/coin.dmi
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_misc.dm
  maps/torch/loadout/~defines.dm
  maps/torch/torch.dm
Labels: Sprites

added randomness procs proc/xdy and proc/grand
  code/_helpers/maths.dm
Labels: none

refactor wallets, coins, split challenge coins
  baystation12.dme
  code/__defines/flags.dm
  code/__defines/materials.dm
  code/_onclick/item_attack.dm
  code/game/machinery/biogenerator.dm
  code/game/objects/items/weapons/material/coins.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/random/random.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/client/preference_setup/loadout/lists/trinkets.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/material_sheets.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  icons/obj/coin.dmi
  maps/away/magshield/magshield.dmm
  maps/torch/icons/obj/coins.dmi
  maps/torch/items/coins.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_misc.dm
  maps/torch/loadout/~defines.dm
  maps/torch/torch.dm
  packs/faction_iccgn/_pack.dm
  packs/faction_iccgn/coins.dm
  packs/faction_iccgn/coins.dmi
  test/check-paths.sh
Labels: Repo, Map, Sprites

wired coins apply color to removed wires
  baystation12.dme
  code/datums/extensions/multitool/items/cable.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/cable_painter.dm
  code/game/objects/items/weapons/material/coins.dm
  code/game/turfs/simulated.dm
  code/game/turfs/space/space.dm
  code/modules/multiz/turf.dm
  code/modules/power/cable_coil.dm
  code/modules/power/cable_structure.dm
  code/modules/power/power.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32665.yml
Labels: none

Fix damage hitsound calls
  code/game/atoms_health.dm
Labels: none
