Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

base vending machine style pass & tweaks 1
  code/datums/wires/vending.dm
  code/game/machinery/vending/_vending.dm
  maps/torch/torch5_deck1.dmm
Labels: Map

move vending product datum and vending refill defs
  baystation12.dme
  code/datums/vending/vending.dm
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/_vending_products.dm
  code/game/machinery/vending/_vending_refill.dm
  code/game/machinery/vending_deconstruction.dm
Labels: none

move & update vendor wires & vendor category flags
  baystation12.dme
  code/datums/vending/vending.dm
  code/datums/wires/vending.dm
  code/datums/wires/wires.dm
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/_wires.dm
  code/game/machinery/vending/hydroseeds.dm
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dmm
Labels: Map

vending/assist -> generic, antag version is unique
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/antag.dm
  code/game/machinery/vending/generic.dm
  code/game/objects/items/weapons/circuitboards/machinery/household.dm
  maps/antag_spawn/ert/ert_base.dmm
  maps/away/casino/casino.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/z1_admin.dmm
Labels: Map

add some final vendor state modifying procs
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/_wires.dm
Labels: none

Automatic changelog generation for PR #32729 [ci skip]
  html/changelogs/AutoChangeLog-pr-32729.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32729.yml
Labels: none

Adds Radio Beacons and sensor QoL
  baystation12.dme
  code/datums/extensions/multitool/store.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/ships/beacon.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/research/designs/designs_circuits.dm
  icons/obj/overmap.dmi
  icons/obj/stationobjs.dmi
  icons/obj/structures/beacon.dmi
  maps/away/bearcat/bearcat-2.dmm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/casino/casino.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/yacht/yacht.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  nano/templates/shipsensors.tmpl
  sound/machines/sensors/newcontact.ogg
Labels: Map, Sprites, Sound

Fixes Crackers and dopplers
  code/game/machinery/cracker.dm
  code/game/machinery/doppler_array.dm
  icons/obj/machines/research.dmi
Labels: Sprites

Automatic changelog generation
  html/changelog.html
Labels: none

lower power of bombard z level verb explosions
  code/modules/admin/verbs/randomverbs.dm
Labels: none

enable apc usage for ghosted admins
  code/modules/power/apc.dm
Labels: none

Automatic changelog generation for PR #32727 [ci skip]
  html/changelogs/AutoChangeLog-pr-32727.yml
Labels: none

Automatic changelog generation for PR #32746 [ci skip]
  html/changelogs/AutoChangeLog-pr-32746.yml
Labels: none

Automatic changelog generation for PR #32756 [ci skip]
  html/changelogs/AutoChangeLog-pr-32756.yml
Labels: none

add deepmaint as admin spawnable event
  baystation12.dme
  code/game/objects/random/random.dm
  code/modules/events/deepmaint_event.dm
  code/modules/random_map/dungeon/deepmaint.dm
  code/modules/random_map/dungeon/jp_dungeon_gen.dm
  code/modules/random_map/dungeon/rooms/deepmain_room.dm
  maps/deepmaint/deepmaint-1.dmm
  maps/deepmaint/deepmaint-2.dmm
  maps/deepmaint/deepmaint-3.dmm
  maps/deepmaint/deepmaint.dm
  maps/deepmaint/deepmaint_rooms/core/_core_rooms.dm
  maps/deepmaint/deepmaint_rooms/core/ai_core.dmm
  maps/deepmaint/deepmaint_rooms/core/archive.dmm
  maps/deepmaint/deepmaint_rooms/core/diner.dmm
  maps/deepmaint/deepmaint_rooms/core/maint_asteroid.dmm
  maps/deepmaint/deepmaint_rooms/core/medbay.dmm
  maps/deepmaint/deepmaint_rooms/core/telecoms.dmm
  maps/deepmaint/deepmaint_rooms/normal/_normal_rooms.dm
  maps/deepmaint/deepmaint_rooms/normal/angry_unionists.dmm
  maps/deepmaint/deepmaint_rooms/normal/asteroid_bar.dmm
  maps/deepmaint/deepmaint_rooms/normal/casino.dmm
  maps/deepmaint/deepmaint_rooms/normal/catwalks.dmm
  maps/deepmaint/deepmaint_rooms/normal/diner.dmm
  maps/deepmaint/deepmaint_rooms/normal/engine_room.dmm
  maps/deepmaint/deepmaint_rooms/normal/geese_observation.dmm
  maps/deepmaint/deepmaint_rooms/normal/lab.dmm
  maps/deepmaint/deepmaint_rooms/normal/medical.dmm
  maps/deepmaint/deepmaint_rooms/normal/office.dmm
  maps/deepmaint/deepmaint_rooms/normal/pirate_asteroid.dmm
  maps/deepmaint/deepmaint_rooms/normal/robot_asteroid.dmm
  maps/deepmaint/deepmaint_rooms/normal/ship_wreck.dmm
  maps/deepmaint/deepmaint_rooms/normal/supply.dmm
  maps/deepmaint/deepmaint_rooms/normal/tundra.dmm
  maps/deepmaint/deepmaint_rooms/normal/vampire_lair.dmm
  maps/deepmaint/deepmaint_rooms/template.dm
  maps/deepmaint/deepmaint_rooms/template.dmm
  test/check-paths.sh
Labels: Repo, Map

Пытаемся починить чейнджлоги
  .github/workflows/changelog_generation.yml
Labels: Repo

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32727.yml
  html/changelogs/AutoChangeLog-pr-32746.yml
  html/changelogs/AutoChangeLog-pr-32756.yml
Labels: none

reduces laser armor of merc void from MAJOR to RIFLES
  code/modules/clothing/spacesuits/void/merc.dm
Labels: none

fix beacon on/off toggle not working
  code/modules/overmap/ships/beacon.dm
Labels: none

Automatic changelog generation for PR #32759 [ci skip]
  html/changelogs/AutoChangeLog-pr-32759.yml
Labels: none

Обновляем зависимости для ТГС
  dependencies.sh
Labels: none

Пытаемся убрать лишние зависимости
  dependencies.sh
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32759.yml
Labels: none

Automatic changelog generation for PR #32758 [ci skip]
  html/changelogs/AutoChangeLog-pr-32758.yml
Labels: none

Automatic changelog generation for PR #32558 [ci skip]
  html/changelogs/AutoChangeLog-pr-32558.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32558.yml
  html/changelogs/AutoChangeLog-pr-32758.yml
Labels: none

fix deepmaint not generating rooms
  code/modules/random_map/dungeon/deepmaint.dm
  code/unit_tests/~unit_test_subsystems.dm
  maps/deepmaint/deepmaint_rooms/core/_core_rooms.dm
  maps/deepmaint/deepmaint_rooms/normal/_normal_rooms.dm
Labels: none

add emergency position-indicating radio beacon
  baystation12.dme
  code/game/objects/items/devices/radio/epirb.dm
  icons/obj/radio.dmi
Labels: Sprites

Makes specialized armor slowdown 0.5 instead of 1
  code/modules/clothing/suits/armor.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

fix some beacon interaction behaviour
  code/modules/overmap/ships/beacon.dm
Labels: none

Пытаемся сделать бота для Чейнджлогов
  .github/workflows/changelog_generation.yml
Labels: Repo

Automatic changelog generation
  html/changelog.html
Labels: none

Change the GUP interior to accomodate new beacon
  maps/torch/torch1_deck5.dmm
Labels: Map

Add a transmission beacon to the Aquila
  maps/torch/torch6_bridge.dmm
Labels: Map

add missing wires
  maps/torch/torch1_deck5.dmm
Labels: Map

Automatic changelog generation for PR #32761 [ci skip]
  html/changelogs/AutoChangeLog-pr-32761.yml
Labels: none

Automatic changelog generation for PR #32760 [ci skip]
  html/changelogs/AutoChangeLog-pr-32760.yml
Labels: none

correct map format after 32727
  maps/away/bearcat/bearcat-2.dmm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/casino/casino.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/yacht/yacht.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*
