Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32680.yml
Labels: none

Voidsuit helmets and magboots de-link from voidsuit on dismemberment
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/organs/external/_external.dm
Labels: none

de-mangle and document decls repository
  code/datums/repositories/decls.dm
Labels: none

Singletons.get_decls/_plain -> GetAssoc/GetList
  code/datums/repositories/decls.dm
  code/game/machinery/suit_cycler.dm
  code/modules/reagents/Chemistry-Reagents/Random/Chemistry-Reagents-Random.dm
  code/unit_tests/icon_tests.dm
Labels: none

get_decls_of_subtype -> GetSubtypesAssoc
  code/controllers/subsystems/initialization/fabrication.dm
  code/controllers/subsystems/initialization/webhooks.dm
  code/controllers/subsystems/plants.dm
  code/controllers/subsystems/processing/psi.dm
  code/datums/communication/channel.dm
  code/datums/outfits/equipment/backpacks.dm
  code/datums/repositories/decls.dm
  code/game/objects/structures/catwalk.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/modules/admin/secrets/fun_secrets/change_credits.dm
  code/modules/admin/topic.dm
  code/modules/client/preference_setup/_defines.dm
  code/modules/client/preference_setup/general/03_equipment.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/organs/external/diagnostics.dm
  code/modules/surgery/surgery.dm
  code/unit_tests/music_test.dm
  code/unit_tests/trait_tests.dm
  code/unit_tests/unique_tests.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

акценты (#85) (#235)
  baystation12.dme
  code/modules/client/preference_setup/background/02_language.dm
  code/modules/client/preferences.dm
  code/modules/culture_descriptor/_culture.dm
  code/modules/culture_descriptor/culture/cultures_human.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/language/accent/_accent.dm
  code/modules/mob/language/accent/adherent.dm
  code/modules/mob/language/accent/diona.dm
  code/modules/mob/language/accent/gcc.dm
  code/modules/mob/language/accent/misc.dm
  code/modules/mob/language/accent/serpentid.dm
  code/modules/mob/language/accent/skrell.dm
  code/modules/mob/language/accent/sol.dm
  code/modules/mob/language/accent/sol_other.dm
  code/modules/mob/language/accent/unathi.dm
  code/modules/mob/language/accent/vox.dm
  code/modules/mob/language/alien/adherent.dm
  code/modules/mob/language/alien/diona.dm
  code/modules/mob/language/alien/monkey.dm
  code/modules/mob/language/alien/serpentid.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/synthetic.dm
  code/modules/mob/mob_defines.dm
  icons/accents.dmi
Labels: Sprites

Automatic changelog generation
  html/changelog.html
Labels: none

add aromantic pin
  code/datums/supplypacks/nonessent.dm
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/under/accessories/pride_pin.dm
  icons/obj/clothing/obj_accessories.dmi
Labels: Sprites

Automatic changelog generation for PR #32693 [ci skip]
  html/changelogs/AutoChangeLog-pr-32693.yml
Labels: none

remove tails from collectible cat/bun ears
  icons/mob/onmob/onmob_head.dmi
Labels: Sprites

update byond version for tests to 1589
  .github/workflows/test.yml
Labels: Repo

Automatic changelog generation for PR #32694 [ci skip]
  html/changelogs/AutoChangeLog-pr-32694.yml
Labels: none

adds GET_SINGLETON macro
  baystation12.dme
  code/__defines/singletons.dm
Labels: none

decls.dm->singletons, more renames, resolved lists
  baystation12.dme
  code/datums/repositories/decls.dm
  code/datums/repositories/singletons.dm
Labels: none

add & use other GET_SINGLETON* single-path macros
  code/__defines/singletons.dm
  code/controllers/subsystems/initialization/fabrication.dm
  code/controllers/subsystems/initialization/webhooks.dm
  code/controllers/subsystems/plants.dm
  code/controllers/subsystems/processing/psi.dm
  code/datums/communication/channel.dm
  code/datums/outfits/equipment/backpacks.dm
  code/datums/repositories/singletons.dm
  code/game/objects/structures/catwalk.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/modules/admin/secrets/fun_secrets/change_credits.dm
  code/modules/admin/topic.dm
  code/modules/client/preference_setup/_defines.dm
  code/modules/client/preference_setup/general/03_equipment.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/organs/external/diagnostics.dm
  code/modules/surgery/surgery.dm
  code/unit_tests/music_test.dm
  code/unit_tests/trait_tests.dm
  code/unit_tests/unique_tests.dm
Labels: none

Fixes brain damage font size
  code/modules/organs/internal/brain.dm
Labels: none

Automatic changelog generation for PR #32684 [ci skip]
  html/changelogs/AutoChangeLog-pr-32684.yml
Labels: none

Automatic changelog generation for PR #32699 [ci skip]
  html/changelogs/AutoChangeLog-pr-32699.yml
Labels: none

Adds MD Slug used by Hale
  code/game/objects/munition.dm
  icons/obj/munitions.dmi
  maps/torch/structures/memorabilia.dm
  maps/torch/torch3_deck3.dmm
Labels: Map, Sprites

Automatic changelog generation for PR #32692 [ci skip]
  html/changelogs/AutoChangeLog-pr-32692.yml
Labels: none

Adds gromit mug
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  icons/obj/drink_glasses/mug.dmi
Labels: Sprites

Automatic changelog generation for PR #32695 [ci skip]
  html/changelogs/AutoChangeLog-pr-32695.yml
Labels: none

code and map CI is skipped if dreamchecker fails
  .github/workflows/test.yml
Labels: Repo

xenobio re-adding extract bottles
  code/modules/mob/living/carbon/xenobiological/items.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32684.yml
  html/changelogs/AutoChangeLog-pr-32692.yml
  html/changelogs/AutoChangeLog-pr-32693.yml
  html/changelogs/AutoChangeLog-pr-32694.yml
  html/changelogs/AutoChangeLog-pr-32695.yml
  html/changelogs/AutoChangeLog-pr-32699.yml
Labels: none

Automatic changelog generation for PR #32700 [ci skip]
  html/changelogs/AutoChangeLog-pr-32700.yml
Labels: none

make slug dense and unanchored
  maps/torch/structures/memorabilia.dm
Labels: none

Automatic changelog generation for PR #32703 [ci skip]
  html/changelogs/AutoChangeLog-pr-32703.yml
Labels: none

datum prefix /PriorityQueue
  code/__datastructures/priority_queue.dm
  code/datums/appearances/appearance_manager.dm
  code/datums/repositories/crew/crew.dm
  code/procs/AStar.dm
Labels: none

datumificate /hook
  code/__defines/_renderer.dm
  code/_helpers/global_lists.dm
  code/_helpers/time.dm
  code/controllers/communications.dm
  code/controllers/hooks-defs.dm
  code/controllers/hooks.dm
  code/controllers/subsystems/initialization/webhooks.dm
  code/datums/mil_ranks.dm
  code/game/jobs/whitelist.dm
  code/game/objects/random/random.dm
  code/game/world.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/admin_investigate.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/banjob.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/error_handler/error_reporting.dm
  code/modules/ext_scripts/irc.dm
  code/modules/mob/gender.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/silicon/pai/software.dm
  code/modules/mob/living/silicon/robot/custom_sprites.dm
  code/modules/xgm/xgm_gas_data.dm
  maps/mapsystem/maps.dm
Labels: none

dhartoum /PathNode
  code/procs/AStar.dm
Labels: none

dootify /suit_sensor_jammer_method
  code/datums/suit_sensor_jammer_method.dm
  code/datums/uplink/services.dm
  code/game/objects/items/devices/suit_sensor_jammer.dm
  code/modules/events/sensor_suit_jamming.dm
Labels: none

dummy thiccs /jukebox
  code/datums/audio/jukebox.dm
  code/game/machinery/jukebox.dm
  code/game/objects/items/devices/boombox.dm
  code/modules/clothing/ears/headphones.dm
  code/unit_tests/music_test.dm
Labels: none

some kind of esoteric reference to jukebox tracks
  code/datums/audio/jukebox.dm
  code/unit_tests/music_test.dm
Labels: none

/repository gains the datum gym medal
  code/datums/repositories/admin_pm.dm
  code/datums/repositories/areas.dm
  code/datums/repositories/attack_logs.dm
  code/datums/repositories/cameras.dm
  code/datums/repositories/client.dm
  code/datums/repositories/follow.dm
  code/datums/repositories/images.dm
  code/datums/repositories/mobs.dm
  code/datums/repositories/repository.dm
  code/datums/repositories/singletons.dm
  code/datums/repositories/sound_channels.dm
  code/datums/repositories/unique.dm
  code/datums/repositories/uplink_purchases.dm
Labels: none

crew_sensor_modifier senses extra path symbols
  code/_helpers/cmp.dm
  code/datums/repositories/crew/binary.dm
  code/datums/repositories/crew/crew.dm
  code/datums/repositories/crew/crew_sensor_modifier.dm
  code/datums/repositories/crew/general.dm
  code/datums/repositories/crew/tracking.dm
  code/datums/repositories/crew/vital.dm
  code/datums/suit_sensor_jammer_method.dm
Labels: none

connection_edge pun here, gets datum prefix
  code/controllers/subsystems/air.dm
  code/modules/ZAS/Connection.dm
  code/modules/ZAS/ConnectionGroup.dm
  code/modules/ZAS/Debug.dm
  code/modules/ZAS/Zone.dm
  code/modules/ZAS/_docs.dm
  code/modules/admin/verbs/mapping.dm
Labels: none

let's make a /connection, you and I; for the datum
  code/controllers/subsystems/air.dm
  code/modules/ZAS/Connection.dm
  code/modules/ZAS/ConnectionGroup.dm
  code/modules/ZAS/ConnectionManager.dm
  code/modules/admin/buildmode/atmosphere.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32700.yml
  html/changelogs/AutoChangeLog-pr-32703.yml
Labels: none
