Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

Revert "Removed del() from GC HardDel proc because it is using too much CPU"
  code/controllers/subsystems/garbage.dm
Labels: none

GC value fixes
  code/__defines/fluids.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/cult/narsie.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/atmo_control.dm
  code/game/machinery/doppler_array.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/newscaster.dm
  code/game/objects/effects/fake_fire.dm
  code/game/objects/items/weapons/implants/implantcase.dm
  code/game/objects/items/weapons/implants/implanter.dm
  code/game/objects/items/weapons/implants/implants/explosive.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/turfs/simulated.dm
  code/game/turfs/turf_changing.dm
  code/modules/atmospherics/datum_pipe_network.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/locks/lock.dm
  code/modules/mob/mob.dm
  code/modules/power/breaker_box.dm
  code/modules/power/smes_construction.dm
  code/modules/power/solar.dm
  code/modules/power/tracker.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/disposalpipe.dm
  code/modules/recycling/sortingmachinery.dm
  mods/sofa/_sofa.dme
  ~code/global_init.dm
Labels: none

some more optimization
  code/_macros.dm
  code/game/atoms_movable.dm
  code/modules/mob/mob.dm
Labels: none

Revert "Optimized machinery processing, especially APC update() calling"
  code/game/area/area_power.dm
  code/game/machinery/_machines_base/machinery.dm
  code/modules/power/apc.dm
Labels: none

Machinery optimization
  baystation12.dme
  code/datums/observation/area_power_change.dm
  code/game/area/area_power.dm
  code/game/machinery/_machines_base/machinery_power.dm
  code/modules/atmospherics/pipes.dm
Labels: none

undress panel
  code/modules/mob/living/carbon/human/human.dm
Labels: none

spawnpoint
  code/modules/client/preference_setup/general/01_basic.dm
Labels: none

spawnpoint tweaks
  code/__defines/misc.dm
  code/controllers/subsystems/jobs.dm
  code/game/jobs/job/job.dm
  code/modules/client/preferences_spawnpoints.dm
  code/modules/mob/new_player/new_player.dm
Labels: none

Will this fix DreamChecker... please?
  code/game/machinery/lifepod.dm
Labels: none

Declare constants before usage, REALLY hone overmap landing
  code/game/machinery/lifepod.dm
Labels: none

initial signature compatibility
  baystation12.dme
  code/_helpers/maths.dm
  code/_macros.dm
  code/_version.dm
  code/core/math/math.dm
Labels: none

typo changes (again)
  code/game/objects/items/weapons/material/coins.dm
  maps/torch/items/coins.dm
  maps/torch/loadout/loadout_misc.dm
  packs/faction_iccgn/badges.dm
  packs/faction_iccgn/clothing.dm
  packs/faction_iccgn/coins.dm
  packs/faction_iccgn/patches.dm
Labels: none

Finally fix define-constant struggle
  code/game/machinery/lifepod.dm
Labels: none

Observers can't be floored
  code/modules/mob/observer/observer.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

More changes and attempts to fix overmap landing
  code/game/machinery/lifepod.dm
Labels: none

Cleanly crash zcopy that exceeds maximum z-level
  code/controllers/subsystems/zcopy.dm
Labels: none

Runtime fix batch 2022-12-26
  code/datums/trading/unique.dm
  code/game/atoms_movable.dm
  code/modules/mining/machinery/mineral_console.dm
  code/modules/organs/internal/species/ipc.dm
  code/modules/species/species_random.dm
  maps/away/casino/casino.dm
  maps/away/casino/casino.dmm
Labels: Map

Fix inconsistent wall fire damage handling
  code/game/turfs/simulated/walls.dm
  code/game/turfs/turf.dm
Labels: none

Replace turf burn spawn with timer
  code/game/turfs/simulated/walls.dm
  test/check-paths.sh
Labels: Repo

Remove window damage per fire tick limiter
  code/game/objects/structures/window.dm
Labels: none

Affect all dense air-blocking objects in adjacent fires
  code/game/turfs/simulated/floor_acts.dm
Labels: none

moves alert light in bridge saferoom
  maps/torch/torch6_bridge.dmm
Labels: Map

Automatic changelog generation for PR #32836 [ci skip]
  html/changelogs/AutoChangeLog-pr-32836.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32836.yml
Labels: none

Hone overmap landing, still need to fix why it accidentally lands on Torch
  code/game/machinery/lifepod.dm
Labels: none

Fix replicators producing the wrong circuit board
  code/modules/fabrication/fabricator_food.dm
Labels: none

Remove duplicate replicator subtype
  code/modules/fabrication/fabricator_food.dm
Labels: none

Lots of documentation and formatting changes
  code/game/machinery/lifepod.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

More changes
  code/game/machinery/lifepod.dm
  maps/away/bearcat/bearcat-2.dmm
Labels: Map

Remove old lifepods
  code/game/machinery/cryopod.dm
Labels: none

Runtime batch fix 2022-12-27
  code/game/objects/effects/fire/fire.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/paperwork/photography.dm
Labels: none

Fix mech pilot deletion checks
  code/modules/mechs/mech.dm
  code/modules/mechs/mech_interaction.dm
Labels: none

QMech and various fixes
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  maps/sierra/sierra.dm
  mods/quantum_mechanic/_quantum_mechanic.dme
  mods/quantum_mechanic/quantum_mechanic.dm
  mods/quantum_mechanic/uniform_quantum.dmi
Labels: Sprites

FIX: Sofa's and mapping issues
  maps/sierra/sierra-3.dmm
Labels: Map

meh
  code/game/objects/items/devices/radio/encryptionkey.dm
  mods/quantum_mechanic/quantum_mechanic.dm
Labels: none

Automatic changelog generation for PR #32835 [ci skip]
  html/changelogs/AutoChangeLog-pr-32835.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32835.yml
Labels: none

Remove unused timer delete me flag
  code/__defines/MC.dm
  code/controllers/subsystems/timer.dm
  code/datums/datum.dm
Labels: none

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*
