Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*

resolve all enabled diagnostics
  code/_onclick/hud/ability_screen_objects.dm
  code/datums/datum.dm
  code/datums/observation/density_set.dm
  code/datums/observation/dir_set.dm
  code/datums/observation/equipped.dm
  code/datums/observation/hands_swapped.dm
  code/datums/observation/unequipped.dm
  code/game/atoms.dm
  code/game/atoms_fluids.dm
  code/game/objects/items.dm
  code/modules/ZAS/Atom.dm
  code/modules/admin/view_variables/helpers.dm
  code/modules/detectivework/forensics.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
  code/unit_tests/map_tests.dm
  maps/_maps.dm
  maps/mapsystem/map_preferences.dm
  maps/mapsystem/map_ranks.dm
  maps/mapsystem/maps.dm
  maps/mapsystem/maps_announcements.dm
  maps/mapsystem/maps_areas.dm
  maps/mapsystem/maps_jobs.dm
  maps/mapsystem/maps_unit_testing.dm
  maps/unit_tests/unit_testing.dm
  maps/unit_tests/virtual_mob_test.dmm
Labels: Map

mob_not_participating -> mob_can_vote
  code/datums/vote/transfer.dm
  code/datums/vote/vote.dm
Labels: none

Фиксим кириллицу в слепую. (#222)
  code/_macros.dm
Labels: none

Мне пришлось открыть глаза, потому что опечатка
  code/_macros.dm
  code/game/machinery/newscaster.dm
Labels: none

Skrell lab tweaks
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

Automatic changelog generation for PR #32506 [ci skip]
  html/changelogs/AutoChangeLog-pr-32506.yml
Labels: none

Adds Th'oom plushie
  code/game/objects/items/toys.dm
  icons/obj/toy.dmi
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map, Sprites

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32499.yml
  html/changelogs/AutoChangeLog-pr-32502.yml
  html/changelogs/AutoChangeLog-pr-32506.yml
Labels: none

Automatic changelog generation for PR #32507 [ci skip]
  html/changelogs/AutoChangeLog-pr-32507.yml
Labels: none

refactor anomaly susceptibility, fix CSO rig
  code/modules/xenoarcheaology/effect.dm
  maps/torch/items/rigs.dm
Labels: none

RIGs balance changes
  code/game/objects/items/weapons/RCD.dm
  maps/torch/items/rigs.dm
Labels: none

Automatic changelog generation for PR #32473 [ci skip]
  html/changelogs/AutoChangeLog-pr-32473.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32473.yml
  html/changelogs/AutoChangeLog-pr-32507.yml
Labels: none

attempt to fix the mining station airlock
  maps/away/mininghome/mininghome.dm
  maps/away/mininghome/mininghome.dmm
Labels: Map

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation for PR #32509 [ci skip]
  html/changelogs/AutoChangeLog-pr-32509.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32509.yml
Labels: none

add codeql workflow for non-dm languages
  .github/workflows/codeql-analysis.yml
Labels: Repo

add Rome linter extension recommendation for JS
  .vscode/extensions.json
  rome.json
Labels: Repo

add codebeatsettings with friendlier nesting rules
  .codebeatsettings
Labels: none

commit to resolve assorted codeQL issues
  .github/workflows/codeql-analysis.yml
  code/modules/goonchat/browserassets/html/browserOutput.html
  code/modules/goonchat/browserassets/js/browserOutput.js
Labels: Repo

add .dm to codebeatignore
  .codebeatignore
Labels: Repo

Automatic changelog generation for PR #32508 [ci skip]
  html/changelogs/AutoChangeLog-pr-32508.yml
Labels: none

Automatic changelog generation for PR #32511 [ci skip]
  html/changelogs/AutoChangeLog-pr-32511.yml
Labels: none

adds stairs to the center ladder well
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

serving bowl & sandwich fixes and enhancements
  code/modules/reagents/reagent_containers/food/sandwich.dm
  code/modules/reagents/reagent_containers/food/servingbowl.dm
  icons/obj/food_custom.dmi
Labels: Sprites

Automatic changelog generation for PR #32498 [ci skip]
  html/changelogs/AutoChangeLog-pr-32498.yml
Labels: none

Automatic changelog generation for PR #32515 [ci skip]
  html/changelogs/AutoChangeLog-pr-32515.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32498.yml
  html/changelogs/AutoChangeLog-pr-32508.yml
  html/changelogs/AutoChangeLog-pr-32511.yml
  html/changelogs/AutoChangeLog-pr-32515.yml
Labels: none

corrects chat markup to allow goonchat to work
  code/modules/goonchat/browserassets/html/browserOutput.html
Labels: none

mob_not_participating -> mob_can_vote
  code/datums/vote/transfer.dm
  code/datums/vote/vote.dm
Labels: none

add codeql badge to readme
  README.md
Labels: Repo

Clean up & divide cult talismans
  baystation12.dme
  code/game/gamemodes/cult/talisman.dm
  code/game/gamemodes/cult/talisman/emp.dm
  code/game/gamemodes/cult/talisman/stun.dm
Labels: none

Refactor cult talismans
  code/game/gamemodes/cult/talisman.dm
  code/game/gamemodes/cult/talisman/emp.dm
  code/game/gamemodes/cult/talisman/stun.dm
Labels: none

Remove unused `imbue` var
  code/game/gamemodes/cult/talisman.dm
Labels: none

Add codex data to cult talismans
  code/game/gamemodes/cult/talisman.dm
Labels: none

Add talisman sound effects
  code/game/gamemodes/cult/talisman.dm
  code/game/gamemodes/cult/talisman/emp.dm
  code/game/gamemodes/cult/talisman/stun.dm
Labels: none

Automatic changelog generation for PR #32517 [ci skip]
  html/changelogs/AutoChangeLog-pr-32517.yml
Labels: none
