Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

up chances of cool spider types for spider events
  code/game/objects/effects/spiders.dm
  code/modules/events/exo_awakening/_datums.dm
Labels: none

Automatic changelog generation for PR #32533 [ci skip]
  html/changelogs/AutoChangeLog-pr-32533.yml
Labels: none

Обновление!!!
  code/modules/events/infestation.dm
  code/modules/events/money_hacker.dm
  code/modules/mob/new_player/new_player.dm
Labels: none

Allow selecting window type to place
  code/game/objects/structures/grille.dm
  code/game/objects/structures/wall_frame.dm
  code/game/objects/structures/window.dm
Labels: none

Automatic changelog generation for PR #32538 [ci skip]
  html/changelogs/AutoChangeLog-pr-32538.yml
Labels: none

Add height to species and mobs
  baystation12.dme
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/species/outsider/vox.dm
  code/modules/species/species_height.dm
  code/modules/species/station/adherent.dm
  code/modules/species/station/lizard.dm
  code/modules/species/station/lizard_subspecies.dm
  code/modules/species/station/monkey.dm
  code/modules/species/station/nabber.dm
  code/modules/species/station/station.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32533.yml
  html/changelogs/AutoChangeLog-pr-32538.yml
Labels: none

Automatic changelog generation for PR #32537 [ci skip]
  html/changelogs/AutoChangeLog-pr-32537.yml
Labels: none

Fixes zmimic darkness
  code/__defines/_renderer.dm
  code/modules/multiz/zmimic/mimic_movable.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32537.yml
Labels: none

Refactor rig module installation checks and feedback
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/rig_attackby.dm
Labels: none

Prevent installing multiple vision modules in rigs
  code/modules/clothing/spacesuits/rig/modules/vision.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Use standardized health for stock parts
  code/modules/events/computer_damage.dm
  code/modules/modular_computers/computers/modular_computer/damage.dm
  code/modules/modular_computers/hardware/_hardware.dm
  code/modules/modular_computers/hardware/card_slot.dm
  code/modules/modular_computers/hardware/nano_printer.dm
  code/modules/modular_computers/hardware/scanners/scanner.dm
  code/modules/modular_computers/ntos/ntos.dm
Labels: none

Fix redundant can_damage_health() calls
  code/game/atoms_health.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/game/turfs/simulated/walls.dm
  code/modules/blob/blob.dm
  code/modules/tables/tables.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Исправление ошибок и недочётов
  code/_macros.dm
  code/game/gamemodes/cult/runes.dm
  code/modules/events/disposals_explosion.dm
  code/modules/events/infestation.dm
  code/procs/announce.dm
Labels: none

add codeql config, codql only runs on tools & nano
  .github/codeql/config.yml
  .github/workflows/codeql-analysis.yml
Labels: Repo

adds 2 pistols
  code/datums/trading/weaponry.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/game/antagonist/station/renegade.dm
  code/game/objects/effects/spawners/guns.dm
  code/game/objects/random/random.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  icons/obj/guns/machine_pistol.dmi
  icons/obj/guns/magnum_pistol.dmi
  icons/obj/guns/military_pistol.dmi
  icons/obj/guns/military_pistol2.dmi
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/event/iccgn_ship/icgnv_hound.dmm
  maps/event/sfv_arbiter/sfv_arbiter.dmm
  maps/random_ruins/exoplanet_ruins/icarus/icarus.dm
  maps/random_ruins/exoplanet_ruins/icarus/icarus.dmm
  maps/torch/datums/antags/deathsquad.dm
  maps/torch/datums/antags/ert.dm
  maps/torch/datums/antags/foundation.dm
  maps/torch/datums/antags/mercenary.dm
  maps/torch/datums/antags/raider.dm
  maps/torch/datums/antags/renegade.dm
  maps/torch/datums/supplypacks/security.dm
  maps/torch/datums/traders.dm
  maps/torch/datums/uplink.dm
  maps/torch/icons/obj/weapons.dmi
  maps/torch/items/wallets.dm
  maps/torch/items/weapons.dm
  maps/torch/spawners.dm
  maps/torch/torch.dm
  packs/faction_iccgn/_pack.dm
  packs/faction_iccgn/weapons.dm
  packs/faction_iccgn/weapons.dmi
Labels: Map, Sprites

Исправления карты
  maps/torch/torch5_deck1.dmm
Labels: Map

added thoom juice, may the stars have mercy on us
  code/datums/supplypacks/galley.dm
  code/game/machinery/vending.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  icons/obj/drinks.dmi
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map, Sprites

Automatic changelog generation for PR #32549 [ci skip]
  html/changelogs/AutoChangeLog-pr-32549.yml
Labels: none

adds thoom plushie bomb
  code/game/objects/items/traitor_plush.dm
Labels: none

Automatic changelog generation for PR #32551 [ci skip]
  html/changelogs/AutoChangeLog-pr-32551.yml
Labels: none

Automatic changelog generation for PR #32552 [ci skip]
  html/changelogs/AutoChangeLog-pr-32552.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32549.yml
  html/changelogs/AutoChangeLog-pr-32551.yml
  html/changelogs/AutoChangeLog-pr-32552.yml
Labels: none

Automatic changelog generation for PR #223 [ci skip]
  html/changelogs/AutoChangeLog-pr-223.yml
Labels: none

Minor grammar, spelling fixes
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/bugmeat.dm
  icons/obj/food.dmi
Labels: Sprites

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-223.yml
Labels: none

Automatic changelog generation for PR #32554 [ci skip]
  html/changelogs/AutoChangeLog-pr-32554.yml
Labels: none

Zeng-Hu Tunic Fix
  code/modules/clothing/under/accessories/tunic.dm
Labels: none

Gives the roboticist access to the AI Upload
  maps/torch/job/engineering_jobs.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32554.yml
Labels: none

add event map and object defs pack
  maps/torch/torch.dm
  packs/event_2022sep10/_pack.dm
  packs/event_2022sep10/marooned.dm
  packs/event_2022sep10/marooned.dmm
Labels: Map

corrections
  packs/event_2022sep10/marooned.dm
Labels: none

remove as * from /proc/ defs
  code/_helpers/game.dm
  code/_helpers/icons.dm
  code/_helpers/matrices.dm
  code/_helpers/text.dm
  code/_helpers/unsorted.dm
  code/datums/recipe.dm
  code/game/gamemodes/events/wormholes.dm
  code/game/machinery/camera/tracking.dm
  code/game/machinery/status_display_ai.dm
  code/game/sound.dm
  code/game/turfs/turf_flick_animations.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/admin_attack_log.dm
  code/modules/admin/player_notes.dm
  code/modules/economy/cash.dm
  code/modules/item_worth/item_worth.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/power/power.dm
  code/modules/projectiles/projectile.dm
Labels: none

Окошки научились закрываться.
  code/_macros.dm
  code/modules/nano/nanoui.dm
Labels: none

Сat ERP update (#225)
  code/modules/sprite_accessories/accessory_human.dm
  proxima/code/modules/sprite_accessories/accessory_human.dm
Labels: none

Automatic changelog generation for PR #225 [ci skip]
  html/changelogs/AutoChangeLog-pr-225.yml
Labels: none

Automatic changelog generation for PR #32540 [ci skip]
  html/changelogs/AutoChangeLog-pr-32540.yml
Labels: none

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*
