Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*

fixes fusion injector linking and bioprinter feedback
  code/game/machinery/bioprinter.dm
  code/modules/power/fusion/fuel_assembly/fuel_injector.dm
Labels: none

Automatic changelog generation for PR #32580 [ci skip]
  html/changelogs/AutoChangeLog-pr-32580.yml
Labels: none

Smoke alone no longer makes you drop things
  code/game/objects/effects/effect_system.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32580.yml
Labels: none

add some more plushies
  code/game/objects/items/toys.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  icons/obj/toy.dmi
Labels: Sprites

Adds aquaculture
  baystation12.dme
  code/__defines/hydroponics.dm
  code/datums/supplypacks/hydroponics.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/objects/items/devices/scanners/plant.dm
  code/game/objects/items/weapons/storage/specialized.dm
  code/modules/food/recipes_microwave.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/mob/living/simple_animal/friendly/crab.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/exoplanet.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_crab.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/shellfish.dm
  icons/obj/food.dmi
  icons/obj/food_shellfish.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/seeds.dmi
Labels: Sprites

Forensic Changes
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/detectivework/tools/crimekit.dm
  code/modules/detectivework/tools/sample_kits.dm
  code/modules/detectivework/tools/storage.dm
  code/modules/paperwork/photocopier.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/torch5_deck1.dmm
Labels: Map

Automatic changelog generation for PR #32577 [ci skip]
  html/changelogs/AutoChangeLog-pr-32577.yml
Labels: none

Automatic changelog generation for PR #32565 [ci skip]
  html/changelogs/AutoChangeLog-pr-32565.yml
Labels: none

Automatic changelog generation for PR #32581 [ci skip]
  html/changelogs/AutoChangeLog-pr-32581.yml
Labels: none

Automatic changelog generation for PR #32582 [ci skip]
  html/changelogs/AutoChangeLog-pr-32582.yml
Labels: none

Document disposal vars
  code/modules/recycling/disposal.dm
  code/modules/recycling/disposalpipe.dm
  code/modules/recycling/sortingmachinery.dm
Labels: none

Add defines for disposal mode
  baystation12.dme
  code/__defines/disposal.dm
  code/modules/recycling/disposal-construction.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/sortingmachinery.dm
Labels: none

Use defines for existing disposal vars
  code/modules/recycling/disposal.dm
  code/modules/recycling/disposalpipe.dm
  code/modules/recycling/sortingmachinery.dm
Labels: none

Update disposal init process
  code/modules/recycling/disposal.dm
  code/modules/recycling/sortingmachinery.dm
Labels: none

Fix turf explosion resistance applying twice
  code/game/objects/explosion_recursive.dm
Labels: none

Fix explosions affecting qdeleted atoms after ex_act()
  code/game/objects/explosion_recursive.dm
Labels: none

Only spread explosions if power > 0
  code/game/objects/explosion_recursive.dm
Labels: none

Round severity
  code/game/objects/explosion_recursive.dm
Labels: none

Fix runtimes when initializing debug seed storage
  code/modules/hydroponics/seed_storage.dm
Labels: none

Sort seed storage UI
  code/modules/hydroponics/seed_storage.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32565.yml
  html/changelogs/AutoChangeLog-pr-32577.yml
  html/changelogs/AutoChangeLog-pr-32581.yml
  html/changelogs/AutoChangeLog-pr-32582.yml
Labels: none

hopefully corrects codeql to not die
  .github/workflows/codeql-analysis.yml
Labels: Repo

re-corrects codeql scope & config path
  .github/workflows/codeql-analysis.yml
Labels: Repo

Automatic changelog generation for PR #32583 [ci skip]
  html/changelogs/AutoChangeLog-pr-32583.yml
Labels: none

moved sdmm suite defines to as early as possible
  baystation12.dme
  code/__spaceman_dmm.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32583.yml
Labels: none

Adds instrument waiting
  baystation12.dme
  code/datums/observation/instruments.dm
  code/modules/synthesized_instruments/real_instruments.dm
  code/modules/synthesized_instruments/sound_player.dm
  nano/templates/synthesizer.tmpl
Labels: none

Automatic changelog generation for PR #32584 [ci skip]
  html/changelogs/AutoChangeLog-pr-32584.yml
Labels: none

Adds new hazard vests
  code/modules/clothing/suits/jobs.dm
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: Sprites

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32584.yml
Labels: none

Counselor Outfit Fixes
  maps/torch/items/cards_ids.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/outfits/medical_outfits.dm
Labels: none

Operant ID rework
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  maps/torch/loadout/loadout_accessories.dm
Labels: none

fixes invisible shields
  code/game/objects/items/weapons/shields.dm
  icons/mob/onmob/onmob_back.dmi
Labels: Sprites

Automatic changelog generation for PR #32562 [ci skip]
  html/changelogs/AutoChangeLog-pr-32562.yml
Labels: none

Automatic changelog generation for PR #32585 [ci skip]
  html/changelogs/AutoChangeLog-pr-32585.yml
Labels: none

Automatic changelog generation for PR #32586 [ci skip]
  html/changelogs/AutoChangeLog-pr-32586.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32562.yml
  html/changelogs/AutoChangeLog-pr-32585.yml
  html/changelogs/AutoChangeLog-pr-32586.yml
Labels: none

Hazard vests + deck crew helmets
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/jobs.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  maps/torch/loadout/loadout_head.dm
  maps/torch/structures/closets/supply.dm
Labels: Sprites
