Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

Locks some non-uniform items to civ
  maps/torch/loadout/loadout_suit.dm
Labels: none

icgnv hound radio fix
  maps/event/iccgn_ship/icgnv_hound_shuttle.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

adds Allow Respawn alt to Allow Player to Respawn
  code/modules/admin/verbs/randomverbs.dm
Labels: none

Fix badges/medals appearing on rolled down uniforms
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/accessories/medals.dm
  maps/torch/items/clothing/ec_skillbadges.dm
  maps/torch/items/clothing/solgov-accessory.dm
Labels: none

Display scarves, webbings, and armbands on rolled down clothing
  code/modules/clothing/under/accessories/armband.dm
  code/modules/clothing/under/accessories/storage.dm
  maps/torch/items/clothing/solgov-accessory.dm
Labels: none

Automatic changelog generation for PR #32372 [ci skip]
  html/changelogs/AutoChangeLog-pr-32372.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32372.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation for PR #32398 [ci skip]
  html/changelogs/AutoChangeLog-pr-32398.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32398.yml
Labels: none

staff can vote while aghosted
  code/datums/vote/transfer.dm
  code/datums/vote/vote.dm
Labels: none

Automatic changelog generation for PR #32404 [ci skip]
  html/changelogs/AutoChangeLog-pr-32404.yml
Labels: none

Automatic changelog generation for PR #32402 [ci skip]
  html/changelogs/AutoChangeLog-pr-32402.yml
Labels: none

Automatic changelog generation for PR #32397 [ci skip]
  html/changelogs/AutoChangeLog-pr-32397.yml
Labels: none

Automatic changelog generation for PR #32363 [ci skip]
  html/changelogs/AutoChangeLog-pr-32363.yml
Labels: none

Automatic changelog generation for PR #32343 [ci skip]
  html/changelogs/AutoChangeLog-pr-32343.yml
Labels: none

Add cell charger to gup
  maps/torch/torch1_deck5.dmm
Labels: Map

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32343.yml
  html/changelogs/AutoChangeLog-pr-32363.yml
  html/changelogs/AutoChangeLog-pr-32397.yml
  html/changelogs/AutoChangeLog-pr-32402.yml
  html/changelogs/AutoChangeLog-pr-32404.yml
Labels: none

Update changelog template file line endings
  html/templates/header.html
Labels: none

Update changelog template
  html/templates/header.html
Labels: none

Refactor accessory on_rolled handling
  code/datums/extensions/chameleon.dm
  code/modules/clothing/under/accessories/_accessory.dm
  code/modules/clothing/under/accessories/armband.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/accessories/chaplain.dm
  code/modules/clothing/under/accessories/medals.dm
  code/modules/clothing/under/accessories/pride_pin.dm
  code/modules/clothing/under/accessories/pronouns.dm
  code/modules/clothing/under/accessories/storage.dm
  maps/torch/items/clothing/ec_skillbadges.dm
  maps/torch/items/clothing/solgov-accessory.dm
  packs/faction_iccgn/badges.dm
  packs/faction_iccgn/patches.dm
  packs/faction_iccgn/ranks.dm
Labels: none

Remove spin view verbs
  code/modules/client/movement.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Fix door prying locking up AI processing
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: none

add verb to rename ships
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: none

Automatic changelog generation for PR #32413 [ci skip]
  html/changelogs/AutoChangeLog-pr-32413.yml
Labels: none

Automatic changelog generation for PR #32411 [ci skip]
  html/changelogs/AutoChangeLog-pr-32411.yml
Labels: none

Добавление плащей для отделов, новых балаклав для людей и новых военных курточек для гражданских! (#208)
  baystation12.dme
  code/modules/clothing/spacesuits/spacesuits.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_head.dm
  maps/torch/loadout/loadout_suit.dm
  proxima/code/modules/clothing/accessories/cloak.dm
  proxima/code/modules/clothing/masks/masks.dm
  proxima/code/modules/clothing/suits/suits.dm
  proxima/icons/mob/onmob/onmob_accessories.dmi
  proxima/icons/mob/onmob/onmob_suit.dmi
  proxima/icons/obj/clothing/obj_accessories.dmi
  proxima/icons/obj/clothing/obj_suit.dmi
Labels: Sprites

Automatic changelog generation for PR #208 [ci skip]
  html/changelogs/AutoChangeLog-pr-208.yml
Labels: none

new obj icons for ec rank/fleet patch
  maps/torch/icons/obj/obj_accessories_solgov.dmi
  maps/torch/items/clothing/solgov-accessory.dm
Labels: Sprites

Automatic changelog generation for PR #32417 [ci skip]
  html/changelogs/AutoChangeLog-pr-32417.yml
Labels: none

Fixes adherents batteries using 1000w instead of 3000
  code/modules/organs/internal/species/adherent.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-208.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32411.yml
  html/changelogs/AutoChangeLog-pr-32413.yml
  html/changelogs/AutoChangeLog-pr-32417.yml
Labels: none

Automatic changelog generation for PR #32424 [ci skip]
  html/changelogs/AutoChangeLog-pr-32424.yml
Labels: none

update SSping to use a queue
  code/controllers/subsystems/ping.dm
Labels: none

add GLOB.living_players
  code/_global_vars/mobs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/logout.dm
Labels: none

update SSpresence loop
  code/controllers/subsystems/presence.dm
Labels: none

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*
