Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32476.yml
  html/changelogs/AutoChangeLog-pr-32484.yml
Labels: none

Automatic changelog generation for PR #32483 [ci skip]
  html/changelogs/AutoChangeLog-pr-32483.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32483.yml
Labels: none

correct TIMER_SUBSYSTEM_DEF
  code/__defines/MC.dm
Labels: none

add some assoc lazy list macros
  code/__defines/lists.dm
Labels: none

Add Runechat
  baystation12.dme
  code/__defines/subsystem-priority.dm
  code/controllers/subsystems/timer/runechat.dm
  code/game/atoms.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/language/language.dm
  icons/chat_icons.dmi
  icons/language.dmi
  interface/skin.dmf
Labels: Sprites

Add Runechat2
  code/controllers/subsystems/timer/runechat.dm
  code/game/atoms.dm
  code/modules/mob/hear_say.dm
Labels: none

pause
  baystation12.dme
  code/modules/client/preference_setup/background/02_language.dm
  code/modules/client/preferences.dm
  code/modules/mob/language/accent/_accent.dm
  code/modules/mob/language/accent/adherent.dm
  code/modules/mob/language/accent/diona.dm
  code/modules/mob/language/accent/human/gcc.dm
  code/modules/mob/language/accent/human/misc.dm
  code/modules/mob/language/accent/human/sol.dm
  code/modules/mob/language/accent/human/sol_other.dm
  code/modules/mob/language/accent/serpentid.dm
  code/modules/mob/language/accent/skrell.dm
  code/modules/mob/language/accent/unathi.dm
  code/modules/mob/language/accent/vox.dm
  code/modules/mob/language/alien/adherent.dm
  code/modules/mob/language/alien/antag.dm
  code/modules/mob/language/alien/diona.dm
  code/modules/mob/language/alien/monkey.dm
  code/modules/mob/language/alien/serpentid.dm
  code/modules/mob/language/generic.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/synthetic.dm
  code/modules/mob/mob_defines.dm
Labels: none

in-prog-2
  code/modules/client/preference_setup/background/02_language.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/language/accent/_accent.dm
  code/modules/mob/language/accent/adherent.dm
  code/modules/mob/language/accent/human/gcc.dm
  code/modules/mob/language/accent/human/misc.dm
  code/modules/mob/language/accent/human/sol.dm
  code/modules/mob/language/accent/human/sol_other.dm
  icons/accents.dmi
Labels: Sprites

asdasd
  code/modules/mob/hear_say.dm
  code/modules/mob/language/accent/_accent.dm
Labels: none

Prevent admin paralyzed mobs from ghosting
  code/modules/mob/observer/ghost/ghost.dm
Labels: none

add a new event ship
  code/controllers/communications.dm
  maps/event/sfv_arbiter/sfv_arbiter.dm
  maps/event/sfv_arbiter/sfv_arbiter.dmm
  maps/event/sfv_arbiter/sfv_arbiter_shuttle.dm
  maps/torch/torch.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_overmap.dm
Labels: Map

allow the hound to dock to torch
  maps/event/iccgn_ship/icgnv_hound.dmm
  maps/event/iccgn_ship/icgnv_hound_shuttle.dm
Labels: Map

Automatic changelog generation for PR #32489 [ci skip]
  html/changelogs/AutoChangeLog-pr-32489.yml
Labels: none

Automatic changelog generation for PR #32387 [ci skip]
  html/changelogs/AutoChangeLog-pr-32387.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32387.yml
  html/changelogs/AutoChangeLog-pr-32489.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Revert commit a4eddfd
  code/modules/reagents/reagent_containers/dropper.dm
  maps/torch/torch5_deck1.dmm
Labels: Map

Automatic changelog generation
  html/changelog.html
Labels: none

Add GAS bioprinter to medbay
  code/game/machinery/bioprinter.dm
  code/game/objects/items/weapons/circuitboards/machinery/cloning.dm
  code/modules/research/designs/designs_circuits.dm
  maps/torch/torch5_deck1.dmm
Labels: Map

Update vending.dm
  code/game/machinery/vending.dm
Labels: none

duffelbags in character setup
  code/datums/outfits/equipment/backpacks.dm
Labels: none

Automatic changelog generation for PR #32497 [ci skip]
  html/changelogs/AutoChangeLog-pr-32497.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32497.yml
Labels: none

Невероятные изменения в сборке и где они обитают? (#219)
  code/datums/supplypacks/galley.dm
  code/datums/supplypacks/operations.dm
  code/datums/supplypacks/security.dm
  code/game/machinery/teleporter/console.dm
  code/game/objects/items/weapons/storage/boxes.dm
  maps/torch/datums/supplypacks/security.dm
Labels: none

Ох мой бог (#220)
  code/game/verbs/emotions.dm
  code/modules/emotes/definitions/visible.dm
Labels: none

Automatic changelog generation for PR #220 [ci skip]
  html/changelogs/AutoChangeLog-pr-220.yml
Labels: none

блять, сука, пиздец. (#221)
  code/game/objects/items/weapons/storage/wall_mirror.dm
  code/modules/lighting/lighting_overlay.dm
Labels: none

Automatic changelog generation for PR #221 [ci skip]
  html/changelogs/AutoChangeLog-pr-221.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-220.yml
  html/changelogs/AutoChangeLog-pr-221.yml
Labels: none

Revamped Barsigns
  code/game/objects/structures/barsign.dm
  icons/obj/barsigns.dmi
Labels: Sprites

deck four hallway changes
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_areas.dm
Labels: Map

SSV anomaly equipment
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship_areas.dm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
Labels: Map

Automatic changelog generation for PR #32499 [ci skip]
  html/changelogs/AutoChangeLog-pr-32499.yml
Labels: none

add var/ removal 2 git blame ignore, add qual test
  .git-blame-ignore-revs
  test/check-paths.sh
Labels: Repo

Automatic changelog generation for PR #32502 [ci skip]
  html/changelogs/AutoChangeLog-pr-32502.yml
Labels: none

enable all diagnostics except redefined_proc
  SpacemanDMM.toml
Labels: Repo

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*
