Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*

Automatic changelog generation for PR #32792 [ci skip]
  html/changelogs/AutoChangeLog-pr-32792.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32792.yml
Labels: none

Add cooling units to offsites
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmm
Labels: Map

Add aluminum and plastic to offsite lathes
  maps/antag_spawn/heist/heist_base.dmm
  maps/antag_spawn/ninja/ninja_base.dmm
Labels: Map

fixes typo
  code/modules/modular_computers/file_system/programs/engineering/atmos_control.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Remove weak variant of ship sensors
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/research/designs/designs_circuits.dm
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/torch/torch1_deck5.dmm
Labels: Map

Reduce default sensor heat mitigation
  code/modules/overmap/ships/computers/sensors.dm
Labels: none

Remove heat reduction minimum from sensor machines
  code/modules/overmap/ships/computers/sensors.dm
Labels: none

Round sensor range input
  code/modules/overmap/ships/computers/sensors.dm
Labels: none

Ева, привет. У меня бессоница. (#229)
  code/controllers/hooks-defs.dm
  code/datums/communication/ooc.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/player_notes.dm
  proxima/code/modules/TGSIntegration/TGSChatHooks.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Remove old explosion method
  code/controllers/configuration.dm
  code/game/objects/explosion.dm
  code/modules/admin/verbs/randomverbs.dm
  config/example/config.txt
Labels: Config Update

Remove spawn from explosions
  code/game/objects/explosion.dm
  test/check-paths.sh
Labels: Repo

Remove unused flash parameter from explosions
  code/__defines/misc.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/HARDWARE.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_manipulation.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/effects/mines.dm
  code/game/objects/explosion.dm
  code/game/objects/items/devices/personal_shield.dm
  code/game/objects/items/devices/powersink.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/traitor_plush.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/grenades/explosive.dm
  code/game/objects/items/weapons/grenades/supermatter.dm
  code/game/objects/items/weapons/implants/implants/explosive.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/phorogenic.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
  code/modules/organs/external/_external.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/lighting.dm
  code/modules/power/port_gen.dm
  code/modules/power/smes_construction.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/random_map/drop/droppod.dm
  code/modules/random_map/drop/supply.dm
  code/modules/shieldgen/emergency_shield.dm
  code/modules/spells/targeted/projectile/fireball.dm
  code/modules/supermatter/supermatter.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation for PR #32790 [ci skip]
  html/changelogs/AutoChangeLog-pr-32790.yml
Labels: none

Automatic changelog generation for PR #32789 [ci skip]
  html/changelogs/AutoChangeLog-pr-32789.yml
Labels: none

Automatic changelog generation for PR #32800 [ci skip]
  html/changelogs/AutoChangeLog-pr-32800.yml
Labels: none

Automatic changelog generation for PR #32779 [ci skip]
  html/changelogs/AutoChangeLog-pr-32779.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32779.yml
  html/changelogs/AutoChangeLog-pr-32789.yml
  html/changelogs/AutoChangeLog-pr-32790.yml
  html/changelogs/AutoChangeLog-pr-32800.yml
Labels: none

double vox ship generators & uranium, add coolant
  code/modules/materials/material_sheets.dm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship.dm
Labels: Map

Automatic changelog generation for PR #32803 [ci skip]
  html/changelogs/AutoChangeLog-pr-32803.yml
Labels: none

Clear trash heap turfs
  maps/random_ruins/exoplanet_ruins/trash_heap/trash_heap.dmm
Labels: Map

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32803.yml
Labels: none

typoshit
  code/game/objects/items/weapons/material/coins.dm
  maps/torch/items/coins.dm
  maps/torch/loadout/loadout_misc.dm
  packs/faction_iccgn/badges.dm
  packs/faction_iccgn/clothing.dm
  packs/faction_iccgn/coins.dm
  packs/faction_iccgn/patches.dm
Labels: none

robot roller racks do the things
  code/_helpers/lists.dm
  code/_onclick/drag_drop.dm
  code/game/objects/structures/roller_bed.dm
Labels: none

blood & drips, corrections & errata
  code/_onclick/drag_drop.dm
  code/game/atoms_movable.dm
  code/game/objects/buckling.dm
  code/game/objects/structures/ironing_board.dm
  code/game/objects/structures/iv_drip.dm
  code/game/objects/structures/roller_bed.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/integrated_electronics/subtypes/reagents.dm
  code/modules/organs/pain.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  sound/effects/3beep.ogg
Labels: Sound

blood_pack.dm -> ivbag.dm
  baystation12.dme
  code/modules/reagents/reagent_containers/ivbag.dm
Labels: none

iv stands and roller beds use iv bag drip rate
  code/game/objects/structures/iv_drip.dm
  code/game/objects/structures/roller_bed.dm
  code/modules/reagents/reagent_containers/ivbag.dm
Labels: none

adjust mapped blood distributions
  maps/antag_spawn/ert/ert_base.dmm
  maps/antag_spawn/ninja/ninja_base.dmm
  maps/antag_spawn/vox/vox_raider.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/example/example-2.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

add two-way mousedroppiness to iv bags
  code/modules/reagents/reagent_containers/ivbag.dm
Labels: none

correct mousedrop guard changes
  code/_onclick/drag_drop.dm
  code/game/objects/structures/iv_drip.dm
  code/game/objects/structures/roller_bed.dm
Labels: none

labels sidequest
  code/datums/extensions/label.dm
  code/modules/paperwork/handlabeler.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
Labels: none

iv bags use labels instead of hard names
  code/modules/reagents/reagent_containers/ivbag.dm
Labels: none

update tests for removed spawn()
  test/check-paths.sh
Labels: Repo

Automatic changelog generation for PR #32802 [ci skip]
  html/changelogs/AutoChangeLog-pr-32802.yml
Labels: none

bandaid for shuttle power increase issues
  code/modules/shuttles/shuttle.dm
Labels: none

Automatic changelog generation for PR #32806 [ci skip]
  html/changelogs/AutoChangeLog-pr-32806.yml
Labels: none

Weapon touchups and shotgun sawing
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/guns/shotguns.dmi
Labels: Sprites
