Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

Move psychologist to counselor alt titles
  maps/torch/job/medical_jobs.dm
  maps/torch/job/misc_jobs.dm
  maps/torch/job/outfits/misc_outfits.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Пушки и мой проёб (#236)
  code/modules/projectiles/ammunition.dm
  proxima/code/game/items/weapons/gun/projectiles/bosnia.dm
  proxima/icons/mob/onmob/items/back-guns.dmi
  proxima/icons/mob/onmob/lefthand.dmi
  proxima/icons/mob/onmob/righthand.dmi
  proxima/icons/obj/guns/aurora_port/adhomian_heavy_pistol.dmi
  proxima/icons/obj/guns/aurora_port/autorevolver.dmi
  proxima/icons/obj/guns/aurora_port/coltauto.dmi
  proxima/icons/obj/guns/aurora_port/dragunov.dmi
  proxima/icons/obj/guns/aurora_port/heavysniper.dmi
  proxima/icons/obj/guns/aurora_port/sol_pistol.dmi
  proxima/icons/obj/guns/minigun.dmi
Labels: Sprites

Add sound to ChangeToSkeleton()
  code/modules/mob/living/carbon/human/death.dm
Labels: none

Add skeleton artefact effect
  baystation12.dme
  code/modules/xenoarcheaology/effects/spooky.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Fixes Heavy Bullpup not being Orderable
  maps/torch/datums/supplypacks/security.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Port rat and rat sprites
  code/modules/client/preference_setup/loadout/lists/pet.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  icons/mob/simple_animal/animal.dmi
Labels: Sprites

Automatic changelog generation
  html/changelog.html
Labels: none

replaced vote notification sound
  code/datums/vote/vote.dm
  sound/ui/vote-notify.ogg
Labels: Sound

add lobby ready notification sound
  code/controllers/master.dm
  sound/ui/lobby-notify.ogg
Labels: Sound

sound/misc/staff_message -> sound/ui/pm-notify
  code/game/world.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/mob/login.dm
  sound/ui/pm-notify.ogg
Labels: Sound

Automatic changelog generation for PR #32708 [ci skip]
  html/changelogs/AutoChangeLog-pr-32708.yml
Labels: none

Automatic changelog generation for PR #32713 [ci skip]
  html/changelogs/AutoChangeLog-pr-32713.yml
Labels: none

Automatic changelog generation for PR #32709 [ci skip]
  html/changelogs/AutoChangeLog-pr-32709.yml
Labels: none

Automatic changelog generation for PR #32710 [ci skip]
  html/changelogs/AutoChangeLog-pr-32710.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32708.yml
  html/changelogs/AutoChangeLog-pr-32709.yml
  html/changelogs/AutoChangeLog-pr-32710.yml
  html/changelogs/AutoChangeLog-pr-32713.yml
Labels: none

fix lobby notify being very loud
  code/controllers/master.dm
  code/datums/vote/vote.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Я ЕБАЛ В РОТ, СОЗДАТЕЛЯ ХЕРНЕ-ТЕК (#237)
  baystation12.dme
  proxima/code/game/items/weapons/gun/projectiles/bosnia.dm
  proxima/code/game/items/weapons/projectile/infinity-guns.dm
  proxima/icons/obj/guns/minigun.dmi
Labels: Sprites

Automatic changelog generation for PR #32706 [ci skip]
  html/changelogs/AutoChangeLog-pr-32706.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32706.yml
Labels: none

Rename cyborg cable color changing verb
  code/modules/power/cable_coil.dm
Labels: none

Add codex for cable coils
  code/modules/power/cable_coil.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

minor buff to decay tolerance for synth organs prosth organs and reg organs now decay differently to med scanner grammar change for synth decay status
  code/modules/organs/internal/_internal.dm
  code/modules/organs/organ.dm
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

Puppies, bluespace wyverns, and simplemob revives
  code/modules/mob/living/simple_animal/friendly/juvenile_space_whale.dm
  code/modules/mob/living/simple_animal/hostile/drake.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/space_whale.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/simple_animal/animal.dmi
  icons/mob/simple_animal/bluespace_dragon.dmi
Labels: Sprites

Re-adds NanoBlood to medical.
  maps/torch/torch5_deck1.dmm
Labels: Map

Automatic changelog generation for PR #32721 [ci skip]
  html/changelogs/AutoChangeLog-pr-32721.yml
Labels: none

Automatic changelog generation for PR #32720 [ci skip]
  html/changelogs/AutoChangeLog-pr-32720.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32720.yml
  html/changelogs/AutoChangeLog-pr-32721.yml
Labels: none

Automatic changelog generation for PR #32730 [ci skip]
  html/changelogs/AutoChangeLog-pr-32730.yml
Labels: none

energy shields have sounds
  code/_macros.dm
  code/game/objects/items/weapons/shields.dm
  sound/obj/item/shield/energy/shield-loop.ogg
  sound/obj/item/shield/energy/shield-start.ogg
  sound/obj/item/shield/energy/shield-stop.ogg
Labels: Sound

Update _internal.dm
  code/modules/organs/internal/_internal.dm
Labels: none

Revert "Merge branch 'Baystation12:dev' into iron-lungs"
  code/modules/mob/living/simple_animal/friendly/juvenile_space_whale.dm
  code/modules/mob/living/simple_animal/hostile/drake.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/space_whale.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/power/cable_coil.dm
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32730.yml
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/simple_animal/animal.dmi
  icons/mob/simple_animal/bluespace_dragon.dmi
  maps/torch/torch5_deck1.dmm
Labels: Map, Sprites

grammar changes for prosthetic organ examine + medical scanner readout
  code/modules/organs/organ.dm
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32730.yml
Labels: none

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*
