Repository Baystation12/Baystation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update

Automatic changelog generation for PR #32814 [ci skip]
  html/changelogs/AutoChangeLog-pr-32814.yml
Labels: none

Automatic changelog generation
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-32814.yml
Labels: none

Automatic changelog generation
  html/changelog.html
Labels: none

fix multi-tile doors opacity
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/multi_tile.dm
Labels: none

Map initialize fix
  maps/sierra/job/jobs.dm
  maps/sierra/job/jobs_command.dm
  maps/sierra/job/jobs_security.dm
  maps/sierra/sierra.dm
  maps/sierra/sierra_define.dm
  maps/sierra/sierra_ranks.dm
  maps/sierra/sierra_snatch.dm
Labels: none

Update skin.dmf
  interface/skin.dmf
Labels: none

floating messages
  baystation12.dme
  code/_helpers/game.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/floating_message.dm
  code/modules/mob/living/say.dm
Labels: none

UTF-8 Browser kostyl
  code/_macros.dm
Labels: none

Inertial Dampers (TODO GRAVGEN)
  baystation12.dme
  code/__defines/misc.dm
  code/_helpers/maths.dm
  code/_onclick/adjacent.dm
  code/datums/supplypacks/engineering.dm
  code/datums/wires/inertial_damper.dm
  code/game/area/areas.dm
  code/game/objects/items/weapons/circuitboards/machinery/inertial_damper.dm
  code/modules/events/event.dm
  code/modules/events/inertial_damper.dm
  code/modules/inertial_damper/inertial_damper.dm
  code/modules/nano/interaction/default.dm
  code/modules/overmap/ships/computers/engine_control.dm
  code/modules/overmap/ships/ship.dm
  code/modules/research/designs/designs_circuits.dm
  code/modules/shuttles/shuttle.dm
  icons/obj/machines/inertial_damper.dmi
  maps/sierra/sierra_overmap.dm
  nano/templates/engines_control.tmpl
  nano/templates/inertial_damper.tmpl
Labels: Sprites

Nebula modpacks initial commit
  baystation12.dme
  code/controllers/subsystems/initialization/culture.dm
  code/controllers/subsystems/initialization/modpacks.dm
  mods/_modpack.dm
Labels: none

Eris announcment
  baystation12.dme
  code/controllers/subsystems/initialization/modpacks.dm
  code/game/objects/items/devices/radio/radio.dm
  code/procs/announce.dm
  maps/mapsystem/maps_announcements.dm
  maps/sierra/sierra_announcements.dm
  mods/_modpack.dm
  mods/eris_announcer/_eris_announcer.dme
  mods/eris_announcer/announce.dm
Labels: none

Hotkey fixes
  code/datums/movement/mob.dm
  code/modules/keybindings/human.dm
  code/modules/keybindings/mob.dm
  code/modules/mob/mob_movement.dm
Labels: none

some fixes plus emote panel
  baystation12.dme
  code/game/verbs/emotions.dm
  code/game/verbs/sound.dm
  interface/skin.dmf
  maps/sierra/sierra.dm
Labels: none

map fixes
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
Labels: Map

movement fix
  code/modules/keybindings/bindings_atom.dm
Labels: none

assets fix
  code/_macros.dm
  code/game/world.dm
Labels: none

SSassets plus rust_g
  baystation12.dme
  code/__defines/rust_g.dm
  code/__defines/subsystems.dm
  code/_helpers/logging.dm
  code/_helpers/text.dm
  code/controllers/subsystems/assets.dm
  code/controllers/subsystems/initialization/misc_late.dm
  code/game/world.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/asset_cache/asset_cache.dm
  code/modules/asset_cache/asset_cache_client.dm
  code/modules/asset_cache/asset_cache_item.dm
  code/modules/asset_cache/asset_list.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/asset_cache/validate_assets.html
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/nano/interaction/default.dm
  interface/skin.dmf
Labels: none

resomi modpack
  code/__defines/mobs.dm
  code/game/objects/items/devices/auto_cpr.dm
  code/game/objects/structures/safe.dm
  code/modules/admin/admin.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/clothing/buttons.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/software_modules.dm
  code/modules/species/species.dm
  maps/sierra/items/clothing/exploration.dm
  maps/sierra/items/rigs.dm
  maps/sierra/job/jobs.dm
  maps/sierra/sierra.dm
  mods/species/resomi/_resomi.dm
  mods/species/resomi/_resomi.dme
  mods/species/resomi/clothing/accessories.dm.dm
  mods/species/resomi/clothing/clothing.dm
  mods/species/resomi/clothing/glasses.dm
  mods/species/resomi/clothing/misc.dm
  mods/species/resomi/clothing/misc.dm.dm
  mods/species/resomi/clothing/suits.dm
  mods/species/resomi/clothing/under.dm
  mods/species/resomi/datum/body/organs.dm
  mods/species/resomi/datum/culture/resomi_culture.dm
  mods/species/resomi/datum/species.dm
  mods/species/resomi/language/language.dm
  packs/Infinity/clothing/accessories/collar.dm
Labels: none

browser and misc fixes
  code/__defines/subsystem-priority.dm
  code/controllers/subsystems/vote.dm
  code/game/machinery/spaceheater.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/stripping.dm
  code/modules/mob/mob.dm
  code/modules/nano/nanoui.dm
  mods/species/resomi/datum/species.dm
Labels: none

Removed del() from GC HardDel proc because it is using too much CPU
  code/controllers/subsystems/garbage.dm
Labels: none

Vote tweaks from Infinity
  baystation12.dme
  code/controllers/subsystems/ticker.dm
  code/datums/vote/custom.dm
  code/datums/vote/end_round.dm
  code/datums/vote/gamemode.dm
  code/datums/vote/restart.dm
  code/datums/vote/transfer.dm
Labels: none

Database from Infinity
  code/_global_vars/sensitive.dm
  code/controllers/configuration.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin.dm
  code/modules/admin/banjob.dm
  code/modules/admin/ticket.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/new_player.dm
  config/example/config.txt
  config/example/dbconfig.txt
  sql/migrate/V001__Initial_schema.sql
  sql/migrate/V006__InfinityTables.sql
Labels: Config Update

Optimized machinery processing, especially APC update() calling
  code/game/area/area_power.dm
  code/game/machinery/_machines_base/machinery.dm
  code/modules/power/apc.dm
Labels: none

RUST_G LOGS
  code/_global_vars/logging.dm
  code/_helpers/logging.dm
  code/controllers/master.dm
  code/controllers/subsystems/inactivity.dm
  code/controllers/subsystems/jobs.dm
  code/controllers/subsystems/ticker.dm
  code/datums/communication/channel.dm
  code/datums/communication/dsay.dm
  code/datums/communication/looc.dm
  code/game/world.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_attack_log.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/emotes/emote_mob.dm
  code/modules/mob/living/say.dm
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
Labels: none

Alarm update
  code/game/area/area_power.dm
  code/game/area/areas.dm
  icons/turf/areas.dmi
Labels: Sprites

Fix VSCODE problem plus Ai Runtime
  code/datums/communication/channel.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/silicon/say.dm
Labels: none

Mapfixes
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
Labels: Map

Я надеюсь это работает
  baystation12.dme
  code/__defines/jobs.dm
  code/__defines/misc.dm
  code/__defines/subsystems.dm
  code/_global_vars/sensitive.dm
  code/_helpers/text.dm
  code/_helpers/time.dm
  code/_helpers/unsorted.dm
  code/_macros.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/dbcore.dm
  code/controllers/subsystems/statistics.dm
  code/game/world.dm
  code/modules/admin/admin_verbs.dm
  code/modules/player_experience/job_exp.dm
  code/modules/player_experience/species_exp.dm
  sql/migrate/v007__Add_Discord_Accounts.sql
  sql/migrate/v008__Add_Player_Experience.sql
Labels: none

bloodpack fixes
  maps/sierra/machinery/random.dm
Labels: none

after merge fixes
  maps/sierra/items/rigs.dm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra-4.dmm
Labels: Map

brand new lobby menu
  baystation12.dme
  code/controllers/subsystems/jobs.dm
  code/modules/admin/admin_verbs.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/mob/new_player/lobby.dm
  code/modules/mob/new_player/new_player.dm
  html/browser/FixedsysExcelsior3.01Regular.ttf
  html/lobby_titlescreen.html
  maps/mapsystem/maps.dm
Labels: none

misc fixes
  code/game/machinery/doors/multi_tile.dm
  code/modules/client/client_procs.dm
  interface/skin.dmf
Labels: none

Revert "Vote tweaks from Infinity"
  baystation12.dme
  code/controllers/subsystems/ticker.dm
  code/datums/vote/custom.dm
  code/datums/vote/end_round.dm
  code/datums/vote/gamemode.dm
  code/datums/vote/restart.dm
  code/datums/vote/transfer.dm
Labels: none

Revert "Revert "Vote tweaks from Infinity""
  baystation12.dme
  code/controllers/subsystems/ticker.dm
  code/datums/vote/custom.dm
  code/datums/vote/end_round.dm
  code/datums/vote/gamemode.dm
  code/datums/vote/restart.dm
  code/datums/vote/transfer.dm
Labels: none

post merge fixes
  code/game/machinery/doors/multi_tile.dm
Labels: none

Fix: Resomi Clothing
  baystation12.dme
  code/modules/clothing/under/jobs/engineering.dm
  mods/species/resomi/clothing/clothing.dm
  mods/species/resomi/clothing/misc.dm
  mods/species/resomi/clothing/suits.dm
  packs/Infinity/icons/mob/species/resomi/onmob_accessories_resomi.dmi
  packs/Infinity/icons/mob/species/resomi/onmob_back_resomi.dmi
  packs/Infinity/icons/mob/species/resomi/onmob_belt_resomi.dmi
  packs/Infinity/icons/mob/species/resomi/onmob_ears_resomi.dmi
  packs/Infinity/icons/mob/species/resomi/onmob_eyes_resomi.dmi
  packs/Infinity/icons/mob/species/resomi/onmob_feet_resomi.dmi
  packs/Infinity/icons/mob/species/resomi/onmob_hands_resomi.dmi
  packs/Infinity/icons/mob/species/resomi/onmob_head_resomi.dmi
  packs/Infinity/icons/mob/species/resomi/onmob_suit_resomi.dmi
  packs/Infinity/icons/mob/species/resomi/onmob_under_resomi.dmi
  packs/Infinity/icons/obj/clothing/species/resomi/obj_eyes_resomi.dmi
  packs/Infinity/icons/obj/clothing/species/resomi/obj_head_resomi.dmi
  packs/Infinity/icons/obj/clothing/species/resomi/obj_suit_resomi.dmi
Labels: Sprites

Update sierra-3.dmm
  maps/sierra/sierra-3.dmm
Labels: Map

Automatic changelog generation
  html/changelog.html
Labels: none

Sofas Part one
  baystation12.dme
  code/__defines/materials.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/materials/definitions/materials_organic.dm
  icons/obj/furniture.dmi
  maps/sierra/sierra.dm
  mods/sofa/_sofa.dm
  mods/sofa/_sofa.dme
  mods/sofa/furniture.dmi
  mods/sofa/sofa.dm
  mods/species/resomi/clothing/clothing.dm
Labels: Sprites

sofas fix
  icons/obj/furniture.dmi
  mods/sofa/_sofa.dme
Labels: Sprites

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Sprites:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/example/**/*
