Repository Baystation12/Baystation12, pull requests merged in 2018-11, with the labels that each got.

#23671 Makes secret (almost) never fail to start.
  code/__defines/gamemode.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/ticker.dm
Labels: Tweak

#23668 Adds fleet branch berets
  maps/torch/icons/mob/solgov-head.dmi
  maps/torch/icons/obj/solgov-head.dmi
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/loadout/loadout_head.dm
Labels: Feature, Lore approved, Map, Sprites

#23694 Fix job slots not opening on cryo
  code/game/jobs/job_controller.dm
  code/game/machinery/cryopod.dm
  code/modules/mob/living/silicon/silicon.dm
Labels: Fix

#23682 Do some additional checking around holder associate
  code/modules/admin/holder2.dm
Labels: Staff Tools :wrench:

#23693 Lets you empty pill bottles into the grinder quickly.
  code/modules/reagents/Chemistry-Machinery.dm
Labels: Tweak

#23700 Removes some unreasonable TC prices for mercs.
  code/datums/uplink/grenades.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Balance/Rebalance, Revert/Removal

#23690 Adds Skrellian Holobadges, moves Skrellian Helmet (Skrellmet) to global loadout
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/clothing/under/accessories/badges.dm
  icons/mob/onmob/ties.dmi
  icons/obj/clothing/ties.dmi
  maps/torch/loadout/loadout_xeno.dm
Labels: Feature, Lore approved, Map, Sprites

#23708 Sanitize crew record checks on cryo storage
  code/game/machinery/cryopod.dm
Labels: Fix

#23706 Adds three new hairstyles
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Feature, Sprites

#23710 Rebalances synthetic humans.
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/internal/species/fbp.dm
  code/modules/organs/organ.dm
Labels: Balance/Rebalance, Tweak

#23691 Fixes loadout issues with special characters
  code/modules/client/preference_setup/loadout/loadout.dm
Labels: Fix

#23681 Unify log directory on something less verbose
  code/game/world.dm
Labels: Staff Tools :wrench:

#23683 Bugfixes
  code/__defines/misc.dm
  code/controllers/subsystems/supply.dm
  code/datums/outfits/jobs/job.dm
  code/game/antagonist/antagonist_add.dm
  code/game/machinery/kitchen/cooking_machines/_cooker.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/grenades/anti_photon_grenade.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/grenades/smokebomb.dm
  code/modules/hydroponics/seed.dm
  code/modules/maps/map_template.dm
  code/modules/maps/ruins.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/internal/lungs.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dm
Labels: Fix, Map

#23715 Add corporate polo undershirt to underwear options
  code/datums/underwear/undershirt.dm
  icons/mob/human.dmi
Labels: Feature, Sprites

#23707 Add broken icon states for blast doors and shutters
  code/game/machinery/doors/blast_door.dm
  icons/obj/doors/rapid_pdoor.dmi
Labels: Ready for Review, Sprites, Tweak

#23721 Add deck 5 air alarms
  maps/torch/torch-0.dmm
Labels: Fix, Map

#23531 Replaces shuttle walls with reinforced titanium walls
  code/game/turfs/simulated/wall_types.dm
  maps/torch/torch-1.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-6.dmm
Labels: Map, Ready for Review

#23718 Fixes Skrell education blockers and unarmed attacks
  code/modules/species/station/station.dm
Labels: Tweak

#23705 Fixes punctuation and spacing issues with emotes; auto-formats spoken text.
  code/modules/emotes/emote_mob.dm
  code/modules/mob/living/say.dm
Labels: Fix, Ready for Review

#23734 Adds access_solgov_crew and access_eva to Prospector
  maps/torch/job/supply_jobs.dm
Labels: Feature, Map

#23737 Remove a superfluous requests console from supply
  maps/torch/torch-1.dmm
Labels: Fix, Map

#23738 Adds missing air and fire alarms to the Charon
  maps/torch/torch-0.dmm
Labels: Map

#23720 Replaces overlapping generic piping with supply and scrubber piping in Xenobiology.
  maps/torch/torch-4.dmm
Labels: Map, Revert/Removal

#23667 Redesigns the crashed pod into a crashed survival pod
  baystation12.dme
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dm
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dmm
Labels: Map

#23747 Adds Sprites for Anomaly Scanning Machines
  code/modules/xenoarcheaology/tools/artifact_analyser.dm
  code/modules/xenoarcheaology/tools/artifact_scanner.dm
  icons/obj/xenoarchaeology.dmi
Labels: Sprites

#23758 Fix service device icon states
  code/datums/uplink/services.dm
  icons/obj/device.dmi
Labels: Fix, Sprites

#23754 Fixes some issues with fake_crew_announcements
  code/datums/uplink/services.dm
Labels: Fix

#23730 Allows cancelling of Skrell holobadge SDTF prompt
  code/modules/clothing/under/accessories/badges.dm
Labels: Fix

#23717 Attachable assemblies and digital multitool
  code/modules/augment/active/tool/engineering.dm
  code/modules/integrated_electronics/core/assemblies.dm
  icons/obj/augment_tools.dmi
Labels: Feature, Sprites

#23751 Attempted fix for wall overlays runtimes.
  code/game/gamemodes/cult/cultify/mob.dm
  code/game/gamemodes/endgame/supermatter_cascade/portal.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/atmoalter/pump.dm
  code/game/machinery/atmoalter/scrubber.dm
  code/game/machinery/floodlight.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/items/weapons/tape.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/alien/update_icons.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  code/modules/power/singularity/singularity.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/xenoarcheaology/tools/artifact_analyser.dm
  code/modules/xenoarcheaology/tools/geosample_scanner.dm
Labels: Ready for Review

#23664 SolGov Standardised Voidsuits
  code/game/machinery/suit_storage_unit.dm
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/species/unathi/obj_head_unathi.dmi
  icons/obj/clothing/species/unathi/obj_suit_unathi.dmi
  maps/torch/icons/mob/skrell/solgov-head-skrell.dmi
  maps/torch/icons/mob/skrell/solgov-suit-skrell.dmi
  maps/torch/icons/mob/solgov-head.dmi
  maps/torch/icons/mob/solgov-suit.dmi
  maps/torch/icons/mob/unathi/solgov-head-unathi.dmi
  maps/torch/icons/mob/unathi/solgov-suit-unathi.dmi
  maps/torch/icons/obj/skrell/solgov-head-skrell.dmi
  maps/torch/icons/obj/skrell/solgov-suit-skrell.dmi
  maps/torch/icons/obj/solgov-head.dmi
  maps/torch/icons/obj/solgov-suit.dmi
  maps/torch/icons/obj/unathi/solgov-head-unathi.dmi
  maps/torch/icons/obj/unathi/solgov-suit-unathi.dmi
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/machinery/suit_storage.dm
  maps/torch/torch-0.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-5.dmm
  maps/torch/torch.dm
Labels: Map, Sprites

#23666 Increases lobby vote start time, and time before retrying should non-secret mode fail
  code/controllers/subsystems/ticker.dm
  config/example/config.txt
Labels: Config Update

#23769 Implements assembly destruction
  code/modules/integrated_electronics/core/assemblies.dm
  html/changelogs/TheWelp - circuitDamage.yml
Labels: Update Wiki after Merge

#23766 Adds a Non-Holster Security Belt Variant
  code/__defines/items_clothing.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/accessories/holster.dm
  icons/mob/onmob/onmob_belt.dmi
  icons/obj/clothing/obj_belt.dmi
  maps/torch/structures/closets/security.dm
Labels: Map, Sprites

#23771 Adds missing Deck 3 Security Checkpoint disposal pipes and fixes broken pipe on deck 1
  maps/torch/torch-2.dmm
  maps/torch/torch-4.dmm
Labels: Map

#23763 Adds proper MREs.
  baystation12.dme
  code/datums/supplypacks/galley.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/med_pouch.dm
  code/game/objects/items/weapons/storage/mre.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
Labels: Sprites

#23784 Change blast door buttons and map paint overlay icons
  code/game/objects/effects/misc.dm
  icons/effects/effects.dmi
  icons/obj/stationobjs.dmi
Labels: Sprites

#23768 Adds Null Suit
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/rig_attackby.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/research/mechfab_designs.dm
  icons/mob/light_overlays.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/light_overlays.dmi
  icons/obj/rig_modules.dmi
Labels: Feature, Ready for Review, Sprites

#23803 Standardise solgov clothing icon names
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/icons/mob/onmob_feet_solgov.dmi
  maps/torch/icons/mob/onmob_hands_solgov.dmi
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/icons/mob/skrell/onmob_head_solgov_skrell.dmi
  maps/torch/icons/mob/skrell/onmob_suit_solgov_skrell.dmi
  maps/torch/icons/mob/unathi/onmob_head_solgov_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_suit_solgov_unathi.dmi
  maps/torch/icons/obj/obj_accessories_solgov.dmi
  maps/torch/icons/obj/obj_feet_solgov.dmi
  maps/torch/icons/obj/obj_hands_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/icons/obj/obj_under_solgov.dmi
  maps/torch/icons/obj/skrell/obj_head_solgov_skrell.dmi
  maps/torch/icons/obj/skrell/obj_suit_solgov_skrell.dmi
  maps/torch/icons/obj/unathi/obj_head_solgov_unathi.dmi
  maps/torch/icons/obj/unathi/obj_suit_solgov_unathi.dmi
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/clothing/solgov-armor.dm
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/clothing/solgov-under.dm
  maps/torch/items/rigs.dm
Labels: Map

#23778 Changes the autopsy scanner icon, attack self calls print_data
  code/game/objects/items/weapons/autopsy.dm
  code/modules/hydroponics/trays/tray_tools.dm
  icons/obj/autopsy_scanner.dmi
  icons/obj/surgery.dmi
Labels: Ready for Review, Sprites, Tweak

#23814 Updates the guest pass terminal's icon; adds/moves some
  icons/obj/computer.dmi
  maps/torch/torch-0.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
Labels: Map, Sprites

#23802 Allows CPOs to get their dress sword regardless of department.
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/items/clothing/solgov-head.dm
Labels: Map

#23817 Allows autobanning connections from broken byond versions.
  code/controllers/configuration.dm
  code/modules/client/client_procs.dm
  config/example/config.txt
Labels: Config Update

#23808 Nerfs Malfunctioning drone on away sites
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dm
Labels: Map, Ready for Review, Tweak

#23826 Fixes up the Fleet exploration uniform dispenser datum.
  maps/torch/datums/uniforms_fleet.dm
Labels: Map

#23829 Yet another clonex fix
  code/game/machinery/cryo.dm
Labels: Fix

#23785 Add helm access flags to overmap shuttle APCs
  maps/torch/machinery/apc_shuttle.dm
  maps/torch/torch-0.dmm
  maps/torch/torch-5.dmm
  maps/torch/torch.dm
Labels: Map, Tweak

#23833 Fixes Skrell Medical Voidsuit helmet improper icon name.
  maps/torch/icons/mob/skrell/onmob_head_solgov_skrell.dmi
Labels: Fix, Map

#23800 Hostile mob fixes, additions, spider and carp expansion pack
  code/game/gamemodes/godmode/god_structures.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/displaycase.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/railing.dm
  code/game/objects/structures/wall_frame.dm
  code/game/objects/structures/window.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/pike.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/tables/tables.dm
  icons/mob/animal.dmi
  icons/mob/spider.dmi
  maps/away/errant_pisces/errant_pisces.dm
Labels: Balance/Rebalance, Feature, Fix, Map, Sprites

#23836 I give up on clonex fixes.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Tweak

#23815 May fix multiple circuit issues
  code/controllers/subsystems/processing/circuit.dm
Labels: Fix

#23838 Add more carp colours
  code/modules/mob/living/simple_animal/hostile/carp.dm
  icons/mob/animal.dmi
  icons/mob/carp.dmi
Labels: Feature, Sprites

#23837 Adds an insulated beaker to medbay chem
  maps/torch/torch-4.dmm
Labels: Map, Tweak

#23818 Adds skill perks/subskills; mecha operation is now a perk.
  code/__defines/skills.dm
  code/datums/hierarchy.dm
  code/datums/outfits/outfit.dm
  code/datums/repositories/decls.dm
  code/game/mecha/mecha.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/client/preference_setup/occupation/skill_selection.dm
  code/modules/mob/skills/skill.dm
  code/modules/mob/skills/skill_ui.dm
  maps/away/slavers/slavers_base.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/supply_jobs.dm
  nano/templates/skill_ui.tmpl
  nano/templates/skill_ui_admin.tmpl
  nano/templates/skill_ui_antag.tmpl
Labels: Feature, Map, Tweak

#23852 Fix spiderling icons, spider tweaks
  code/modules/food/recipes_microwave.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/sushi.dm
  icons/effects/effects.dmi
  icons/obj/food.dmi
Labels: Feature, Fix, Sprites, Tweak

#23843 Resprites the Photocopier
  code/modules/paperwork/photocopier.dm
  icons/obj/bureaucracy.dmi
Labels: Sprites, Tweak

#23874 Fix full cable coils being dropped from certain telecomms machinery
  code/game/machinery/telecomms/machine_interactions.dm
Labels: Fix

#23846 Overmap Autopilot Adjustments
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/ship.dm
Labels: Ready for Review

#23858 Makes intent-based unholstering a preference option
  code/datums/extensions/holster/holster.dm
  code/modules/client/preference_setup/global/preferences.dm
Labels: Revert/Removal

#23866 Fix runtime when deconstructing telecomms mainframes
  code/game/machinery/telecomms/broadcaster.dm
  code/game/objects/items/weapons/circuitboards/machinery/telecomms.dm
Labels: Fix

#23884 Fixes organ max damage becoming zero from surgical repair.
  code/modules/organs/internal/_internal.dm
  code/modules/organs/organ.dm
Labels: Tweak

#23786 Makes ammunition icons more distinct.
  code/datums/outfits/tournament.dm
  code/datums/uplink/ammunition.dm
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  icons/obj/ammo.dmi
  icons/obj/gun.dmi
  maps/away/smugglers/smugglers.dm
  maps/away/unishi/unishi-3.dmm
  maps/torch/datums/supplypacks/security.dm
  maps/torch/items/items.dm
Labels: Map, Sprites

#23901 Adds AI to list of restricted traitor jobs
  code/game/antagonist/station/traitor.dm
Labels: Revert/Removal

#23889 Less square exoplanet puddles
  code/modules/overmap/exoplanets/chlorine.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/garbage.dm
  code/modules/overmap/exoplanets/shrouded.dm
  code/modules/overmap/exoplanets/snow.dm
  code/modules/overmap/exoplanets/volcanic.dm
  icons/turf/chlorine.dmi
  icons/turf/desert.dmi
  icons/turf/flooring/lava.dmi
  icons/turf/jungle.dmi
  icons/turf/shrouded.dmi
  icons/turf/snow.dmi
Labels: Sprites, Work In Progress

#23891 Artillery tweaks
  baystation12.dme
  code/game/objects/effects/fake_fire.dm
  code/modules/bsa/bsa_charge.dm
  code/modules/spells/hand/sunwrath.dm
Labels: Fix, Tweak

#23842 Speeds up circuit processing; makes it autohalt if lagging.
  baystation12.dme
  code/__defines/subsystem-priority.dm
  code/_helpers/global_access.dm
  code/controllers/subsystems/circuit_component.dm
  code/controllers/subsystems/processing/circuit.dm
  code/modules/admin/secrets/admin_secrets/toggle_circuits.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/integrated_electronics/core/pins.dm
  test/run-test.sh
Labels: Feature

#23832 Add General Notes (Public) field to Crew Records
  code/modules/client/preference_setup/background/03_records.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
Labels: Feature
