Repository Baystation12/Baystation12, pull requests merged in 2018-12, with the labels that each got.

#23869 Add Playable Colony
  baystation12.dme
  code/modules/overmap/exoplanets/chlorine.dm
  code/modules/overmap/exoplanets/desert.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/grass.dm
  code/modules/overmap/exoplanets/mountain.dm
  code/modules/overmap/exoplanets/shrouded.dm
  code/modules/overmap/exoplanets/snow.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmi
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/playablecolony.dm
Labels: Map

#23899 ID resprite
  code/game/machinery/computer/guestpass.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/cards_ids_syndicate.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  icons/mob/onmob/onmob_id.dmi
  icons/obj/card.dmi
  maps/torch/items/cards_ids.dm
Labels: Map, Sprites

#23905 More mob tweaks
  code/game/objects/effects/spiders.dm
  code/modules/events/event_container.dm
  code/modules/events/spider_infestation.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/mob/animal.dmi
  icons/mob/king_of_goats.dmi
Labels: Balance/Rebalance, Sprites, Tweak

#23924 Fix simple_animal immortality
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix, priority: high ⚠

#23922 Playable colony fixes
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/torch/torch_unit_testing.dm
Labels: Fix, Map

#23904 Adds MEDIC and OCIE AGENT tags for plate carriers.
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/icons/obj/obj_accessories_solgov.dmi
  maps/torch/items/clothing/solgov-accessory.dm
Labels: Feature, Map

#23877 Adds Terran Navy ranks, uniforms, and outfits
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  maps/torch/icons/mob/onmob_accessories_terran.dmi
  maps/torch/icons/mob/onmob_head_terran.dmi
  maps/torch/icons/mob/onmob_suit_terran.dmi
  maps/torch/icons/mob/onmob_under_terran.dmi
  maps/torch/icons/obj/obj_accessories_terran.dmi
  maps/torch/icons/obj/obj_head_terran.dmi
  maps/torch/icons/obj/obj_suit_terran.dmi
  maps/torch/icons/obj/obj_under_terran.dmi
  maps/torch/items/clothing/terran-accessory.dm
  maps/torch/items/clothing/terran-feet.dm
  maps/torch/items/clothing/terran-hands.dm
  maps/torch/items/clothing/terran-head.dm
  maps/torch/items/clothing/terran-suit.dm
  maps/torch/items/clothing/terran-under.dm
  maps/torch/job/torch_outfits.dm
  maps/torch/torch.dm
  maps/torch/torch_ranks.dm
Labels: Feature, Lore approved, Map, Ready for Review, Sprites

#23928 Makes heater and cooler not break during power outages.
  code/modules/reagents/heat_sources/_heat_source.dm
Labels: Fix

#23934 AI Traitor Removal Take Two
  code/game/antagonist/station/renegade.dm
  maps/torch/torch_antagonism.dm
Labels: Map

#23925 New take on guppy, v2.
  baystation12.dme
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/embedded_controller/airlock_docking_controller.dm
  code/game/machinery/embedded_controller/airlock_docking_controller_multi.dm
  code/game/machinery/embedded_controller/airlock_program.dm
  code/game/machinery/embedded_controller/docking_program.dm
  code/game/machinery/embedded_controller/docking_program_multi.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  code/game/machinery/embedded_controller/embedded_program_base.dm
  code/game/machinery/embedded_controller/simple_docking_controller.dm
  code/game/machinery/embedded_controller/tin_can.dm
  code/modules/modular_computers/file_system/programs/generic/docks.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/shuttles/escape_pods.dm
  code/modules/shuttles/landmarks.dm
  maps/torch/torch-0.dmm
  maps/torch/torch_overmap.dm
  nano/templates/tin_can.tmpl
Labels: Map, Tweak

#23941 Stops observers from activating artifacts
  code/modules/xenoarcheaology/artifacts/artifact.dm
Labels: Fix

#23951 Fix large misc pouch selection referencing non-large pouch
  maps/torch/loadout/loadout_accessories.dm
Labels: Map

#23937 Install the ship xmas tree
  code/game/gamemodes/events/holidays/Christmas.dm
  code/game/objects/structures/flora.dm
  icons/mob/onmob/onmob_head.dmi
  icons/obj/clothing/obj_head.dmi
  maps/torch/torch-2.dmm
Labels: Map, Sprites

#23961 Fixes uniform errors
  maps/torch/icons/mob/onmob_under_terran.dmi
  maps/torch/items/clothing/solgov-suit.dm
Labels: Map

#23795 Makes construction skill relevant
  code/modules/materials/definitions/materials_glass.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/definitions/materials_organic.dm
  code/modules/materials/definitions/materials_stone.dm
  code/modules/materials/recipes_items.dm
  code/modules/materials/recipes_stacks.dm
  maps/torch/job/engineering_jobs.dm
Labels: Map

#23969 Fix spitter spider eye states
  code/game/objects/effects/spiders.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  icons/mob/spider.dmi
Labels: Sprites

#23943 Refactor suit cycler to use datums instead of a switch
  baystation12.dme
  code/_helpers/lists.dm
  code/_macros.dm
  code/datums/item_modifiers/_defines.dm
  code/datums/item_modifiers/item_modifier.dm
  code/datums/item_modifiers/space_suits.dm
  code/datums/item_modifiers/~defines.dm
  code/game/machinery/suit_storage_unit.dm
  code/unit_tests/icon_tests.dm
  code/unit_tests/unique_tests.dm
  maps/torch/items/machinery.dm
Labels: Map, Refactor

#23949 Remove TCC meme ushanka from loadout
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/suits/miscellaneous.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
Labels: Map

#23926 Allows you to order bsa ammo from supply.
  code/datums/supplypacks/munitions.dm
Labels: Tweak

#23998 Supply Candystriped List
  nano/templates/supply.tmpl
Labels: Tweak

#23986 Assorted Bugfixes
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/clothing/solgov-under.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/structures/signs.dm
Labels: Map

#24007 Adds order notices to supply console
  code/modules/modular_computers/file_system/programs/generic/supply.dm
  nano/css/shared.css
  nano/images/source/uiInfoBackground.xcf
  nano/images/uiInfoBackground.jpg
  nano/templates/supply.tmpl
Labels: Feature, Grammar and Formatting

#24014 You no longer "see" items taken in/out when blind
  code/game/objects/items/weapons/storage/storage.dm
Labels: Fix

#23990 Prevent filling fire extinguishers with acid, cleanup
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/modules/clothing/masks/chewable.dm
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
Labels: Tweak

#24015 Tweak test, test messages, fix re-occuring build error
  code/unit_tests/area_tests.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  test/run-test.sh
Labels: Map

#23964 Makes create_object instantly populate lists
  html/create_object.html
Labels: Staff Tools :wrench:, Tweak

#24013 Unclogs showers
  code/game/objects/structures/watercloset.dm
Labels: Fix

#24004 Add Zeng-Hu corporate uniforms
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/accessories/clothing.dm
  code/modules/clothing/under/accessories/ties.dm
  code/modules/clothing/under/corporate.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/onmob/onmob_under_corporate.dmi
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
  icons/mob/species/unathi/generated/onmob_under_corporate_unathi.dmi
  icons/obj/clothing/obj_accessories.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/obj_under.dmi
Labels: Feature, Sprites

#24017 Removes ntsl.
  baystation12.dme
  code/game/machinery/telecomms/telecomunications.dm
  code/game/machinery/telecomms/traffic_control.dm
  code/game/objects/items/weapons/circuitboards/computer/telecomms.dm
  code/modules/random_map/drop/droppod.dm
  code/modules/reagents/reagent_containers/food/sandwich.dm
  code/modules/research/designs.dm
  code/modules/scripting/AST/AST Nodes.dm
  code/modules/scripting/AST/Blocks.dm
  code/modules/scripting/AST/Operators/Binary Operators.dm
  code/modules/scripting/AST/Operators/Unary Operators.dm
  code/modules/scripting/AST/Statements.dm
  code/modules/scripting/Errors.dm
  code/modules/scripting/IDE.dm
  code/modules/scripting/Implementations/Telecomms.dm
  code/modules/scripting/Implementations/_Logic.dm
  code/modules/scripting/Interpreter/Evaluation.dm
  code/modules/scripting/Interpreter/Interaction.dm
  code/modules/scripting/Interpreter/Interpreter.dm
  code/modules/scripting/Interpreter/Scope.dm
  code/modules/scripting/Options.dm
  code/modules/scripting/Parser/Expressions.dm
  code/modules/scripting/Parser/Keywords.dm
  code/modules/scripting/Parser/Parser.dm
  code/modules/scripting/Scanner/Scanner.dm
  code/modules/scripting/Scanner/Tokens.dm
  code/modules/scripting/stack.dm
  test/check-paths.sh
Labels: Revert/Removal

#24020 Fixes movement with grab
  code/datums/movement/mob.dm
Labels: Fix

#24028 Removes Vat-grown culture from humans
  code/modules/species/station/station.dm
Labels: Fix, Revert/Removal

#24034 Alters the female vat-grown icons a bit.
  icons/mob/human_races/species/human/subspecies/vatgrown_body.dmi
  icons/mob/human_races/species/human/subspecies/vatgrown_preview.dmi
Labels: Sprites

#24035 Adjusts underwear icons for the current human icons.
  icons/mob/human.dmi
Labels: Sprites

#24001 Added navigation lights
  code/modules/power/lighting.dm
  icons/obj/lighting_nav.dmi
  maps/torch/torch-5.dmm
Labels: Map, Ready for Review, Sprites

#24021 Finish recolouring corporate security
  code/datums/outfits/jobs/_defines.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/under/accessories/armband.dm
  code/modules/clothing/under/accessories/armor.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_modular_armor.dmi
  icons/obj/clothing/obj_accessories.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit_modular_armor.dmi
  icons/obj/storage.dmi
  maps/torch/job/torch_outfits.dm
  maps/torch/structures/closets/research.dm
Labels: Map, Sprites

#24033 Standardises belts.
  code/game/objects/items/weapons/storage/belt.dm
Labels: Ready for Review

#24056 Fix a runtime in king_of_goats.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
Labels: Fix

#24060 Adds Smuggler's Satchel
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/game/objects/items/weapons/storage/backpack.dm
  icons/obj/storage.dmi
Labels: Sprites

#24032 Add two new holodeck programs
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/fountain.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/tables/presets.dm
  icons/obj/fountain.dmi
  icons/obj/tiles.dmi
  icons/turf/flooring/decals.dmi
  icons/turf/flooring/tiles.dmi
  icons/turf/floors.dmi
  maps/torch/torch-6.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_holodecks.dm
Labels: Feature, Map, Sprites

#24040 Shotgun shell holders.
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/projectiles/ammunition/boxes.dm
  icons/obj/ammo.dmi
Labels: Sprites

#24068 You can now show notifications on new & awaiting delivery orders.
  code/modules/modular_computers/file_system/programs/generic/supply.dm
  nano/images/modular_computers/supply_awaiting_delivery.gif
  nano/images/modular_computers/supply_idle.gif
  nano/images/modular_computers/supply_new_order.gif
  nano/templates/supply.tmpl
Labels: Feature

#24062 Removes some questionable code.
  code/game/atoms_movable.dm
  code/game/objects/weapons.dm
Labels: Revert/Removal

#24059 Fixes up the STS-35 icons.
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Ready for Review

#24019 You can now print pending, approved, and fulfilled orders [Ready]
  code/modules/modular_computers/file_system/programs/generic/supply.dm
  nano/templates/supply.tmpl
Labels: Feature

#23982 Buffs the RCD and gives it a new sprite
  code/game/objects/items/weapons/RCD.dm
  code/modules/projectiles/guns/launcher/crossbow.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/items.dmi
  icons/obj/tools.dmi
  icons/obj/weapons.dmi
Labels: Feature, Ready for Review, Revert/Removal, Sprites, Tweak

#24072 Maps monitoring alarms into Xenobio and Anomaly
  maps/torch/torch-0.dmm
  maps/torch/torch-4.dmm
Labels: Fix, Map

#24065 Off-station roles are blacklisted from being on-station antags.
  code/game/antagonist/antagonist.dm
  code/game/antagonist/station/changeling.dm
  code/game/antagonist/station/cult_god.dm
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/loyalist.dm
  code/game/antagonist/station/renegade.dm
  code/game/antagonist/station/traitor.dm
  maps/torch/torch_antagonism.dm
Labels: Map, Tweak

#24069 Recolors terran commander cape
  maps/torch/icons/mob/onmob_suit_terran.dmi
  maps/torch/icons/obj/obj_suit_terran.dmi
Labels: Map

#24091 Gives shuttle SMES' a capacitance coil
  maps/torch/torch_presets.dm
Labels: Map

#24078 You can run diagnostics on RFID card readers
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/hardware/card_slot.dm
Labels: Feature

#24079 You no longer keep dropping hardware onto the floor as a default
  code/modules/modular_computers/computers/modular_computer/hardware.dm
Labels: Tweak
