Repository Baystation12/Baystation12, pull requests merged in 2018-08, with the labels that each got.

#22443 Removes some see-through double doors.
  html/changelogs/zaredman-double-door-double-down.yml
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
Labels: Map, Revert/Removal

#22501 Makes brig timers broadcast to HUDs
  code/game/machinery/doors/brigdoors.dm
Labels: Tweak

#22456 Replaces all instances of access_heads with access_bridge and makes a new access_heads
  code/game/jobs/access_datum.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/machinery/computer/shuttle.dm
  code/game/machinery/deployable.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/devices/holowarrant.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/modular_computers/file_system/programs/generic/deck_management.dm
  code/modules/modular_computers/file_system/programs/generic/docks.dm
  code/modules/modular_computers/file_system/programs/generic/records.dm
  code/modules/modular_computers/file_system/programs/research/ai_restorer.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
  code/modules/modular_computers/file_system/reports/deck_reports.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/projectiles/guns/energy/secure.dm
  code/modules/shuttles/shuttle_emergency.dm
  maps/torch/job/jobs.dm
  maps/~mapsystem/maps.dm
Labels: Map

#22525 Hotfix for bridge officers having wrong kind of access
  maps/torch/job/jobs.dm
Labels: Map

#22472 Vigil mk 2
  baystation12.dme
  code/__defines/mobs.dm
  code/game/objects/items/weapons/tools.dm
  code/game/objects/items/weapons/tools_crystal.dm
  code/game/objects/structures/charge_pylon.dm
  code/game/objects/structures/mineral_bath.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated/wall_types.dm
  code/modules/client/preferences.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/helmet.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/adherent.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/species_helpers.dm
  code/modules/mob/living/carbon/human/species/species_shapeshift.dm
  code/modules/mob/living/carbon/human/species/station/adherent.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/station/machine.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/internal/species/adherent.dm
  icons/mob/human_races/species/adherent/organs.dmi
  icons/mob/onmob/belt.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/lefthand_backpacks.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/lefthand_guns_secure.dmi
  icons/mob/onmob/items/lefthand_hats.dmi
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/lefthand_spacesuits.dmi
  icons/mob/onmob/items/lefthand_uniforms.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/items/righthand_backpacks.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/items/righthand_guns_secure.dmi
  icons/mob/onmob/items/righthand_hats.dmi
  icons/mob/onmob/items/righthand_holder.dmi
  icons/mob/onmob/items/righthand_spacesuits.dmi
  icons/mob/onmob/items/righthand_uniforms.dmi
  icons/obj/action_buttons/organs.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/crystal_tools.dmi
  icons/obj/machines/adherent.dmi
  icons/turf/flooring/crystal.dmi
  icons/turf/wall_template.dmi
  sound/effects/ding2.ogg
  sound/voice/chime.ogg
  sound/voice/ding.ogg
Labels: Ready for Review, Sprites

#22500 Deny access to hardsuit rigs for those without access
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  maps/torch/items/clothing/clothing.dm
  maps/torch/items/rigs.dm
  maps/torch/torch.dm
Labels: Fix, Map

#22499 More map bugfixes.
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
Labels: Map

#22518 Make the merc shuttle less extremely easily vented
  maps/torch/torch-6.dmm
Labels: Map, Tweak

#22535 Lets Bridge Officers access their lockers
  maps/torch/job/jobs.dm
  maps/torch/structures/closets/command.dm
Labels: Map

#22544 Allows Skrell and IPC to be Brig Officer.
  html/changelogs/zaredman-xeno-bo.yml
  maps/torch/job/jobs.dm
Labels: Map

#22517 Refactored voiceboxes.
  baystation12.dme
  code/modules/mob/living/carbon/human/say.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/species/nabber.dm
  code/modules/organs/internal/species/voice.dm
Labels: Refactor

#22555 Fix map-template-loading admin verb
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/maps/map_template.dm
Labels: Fix

#22563 Fix command hardsuit access & typo
  code/modules/mob/living/carbon/human/human_descriptors.dm
  maps/torch/items/rigs.dm
Labels: Map

#22531 Backports sushi from Europa.
  baystation12.dme
  code/datums/supplypacks/hospitality.dm
  code/game/machinery/kitchen/microwave.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/modules/food/recipes_microwave.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/tree.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/fish.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/sushi.dm
  html/changelogs/zuhayr-sushi.yml
  icons/obj/sushi.dmi
  maps/away/errant_pisces/errant_pisces.dmm
Labels: Map, Sprites

#22529 Allows OCIE Agents and SolGov Representatives to wear SolGov loadout items
  maps/torch/job/jobs.dm
  maps/torch/job/outfits.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/~defines.dm
  maps/torch/torch_ranks.dm
Labels: Map, Tweak, feature

#22569 Map Tweaks to Deck 3
  maps/torch/torch-2.dmm
Labels: Map

#22578 Updates Hephaestus Alt. Optics
  icons/mob/human_races/species/default_markings.dmi
Labels: Sprites, Tweak

#22530 Minor map fixes
  maps/torch/torch-2.dmm
  maps/torch/torch-4.dmm
Labels: Map

#22587 Emergency Holodeck Wiring + Piping Fix
  maps/torch/torch-2.dmm
Labels: Map

#22537 Reorder the contents of the booze vendor, misc stuff
  code/game/machinery/vending.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: Tweak

#22588 Fix non-admin ghosts interacting with computers
  code/modules/power/fusion/core/core_control.dm
  code/modules/power/fusion/fuel_assembly/fuel_control.dm
  code/modules/power/fusion/gyrotron/gyrotron_control.dm
Labels: Do Not Merge, Fix, Ready for Review

#22574 Add Eight Balls
  baystation12.dme
  code/game/machinery/vending.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/material/bell.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_items.dm
  icons/obj/objects.dmi
  icons/obj/toy.dmi
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
Labels: Map, Sprites, feature

#22592 ACTUALLY allows FT to be Contractor again
  maps/torch/job/jobs.dm
Labels: Fix, Map

#22611 Torch-4 fixes
  maps/torch/torch-4.dmm
Labels: Map

#22620 Fix all them material weapons
  code/game/objects/items/weapons/material/bell.dm
Labels: Fix, priority: high ⚠

#22360 Adds basic lost souls for starlight deity
  baystation12.dme
  code/game/gamemodes/godmode/form_items/starlight_mobs.dm
  code/game/gamemodes/godmode/form_items/starlight_structures.dm
  code/game/gamemodes/godmode/god_pylon.dm
  html/changelogs/TheWelp - lostSouls.yml
Labels: Ready for Review

#22526 Make some changes to boomboxes
  code/game/objects/items/devices/boombox.dm
Labels: Ready for Review, Tweak

#22629 Add Multipens to Loadout
  code/modules/client/preference_setup/loadout/lists/utility.dm
Labels: Tweak

#22630 Replace Crowbars in Medical Storage with Prybars
  maps/torch/torch-3.dmm
Labels: Map

#22627 SPACE PETA OPEN UP: Preventing Diona Death
  code/game/turfs/unsimulated.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/hydroponics/_hydro_setup.dm
Labels: Fix

#22626 Adds Expeditionary Corps division patches
  maps/torch/icons/mob/solgov-accessory.dmi
  maps/torch/icons/obj/solgov-accessory.dmi
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/loadout/loadout_accessories.dm
Labels: Map, feature

#22643 Cargo Manifest Update
  code/datums/supplypacks/miscellaneous.dm
  code/game/objects/items/devices/flashlight.dm
  icons/obj/machines/floodlight.dmi
Labels: Sprites, feature

#22645 Fixes shield generator atmosphere containment mode
  code/modules/shield_generators/shield.dm
Labels: Fix

#22582 Ensure parrots cannot pick up consoles
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/modular_computers/computers/subtypes/dev_laptop.dm
  code/modules/modular_computers/computers/subtypes/dev_pda.dm
  code/modules/modular_computers/computers/subtypes/dev_tablet.dm
Labels: Ready for Review

#22617 Fixes the shield generator diffuser bypass mode
  code/modules/shield_generators/shield.dm
Labels: Fix

#22488 Makes engine skill effect the SM monitor and emitters.
  code/modules/modular_computers/file_system/programs/engineering/supermatter_monitor.dm
  code/modules/power/singularity/emitter.dm
  code/modules/supermatter/supermatter.dm
Labels: feature

#22660 Removed newscasters from Bearcat
  maps/away/bearcat/bearcat-2.dmm
Labels: Map

#22650 Saferoom tweaks again
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
Labels: Map

#22598 Bar area remap and associated changes
  baystation12.dme
  code/game/machinery/kitchen/icecream.dm
  code/game/machinery/kitchen/microwave.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/integrated_electronics/manipulation.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/shaker.dm
  code/modules/reagents/reagent_containers/glass.dm
  maps/torch/torch-2.dmm
  maps/torch/torch_areas.dm
Labels: Fix, Map

#22623 Minor tweaks
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/paperwork/papershredder.dm
Labels: Tweak

#22486 Makes hacking use the electrical skill.
  baystation12.dme
  code/datums/wires/airlock.dm
  code/datums/wires/alarm.dm
  code/datums/wires/apc.dm
  code/datums/wires/autolathe.dm
  code/datums/wires/camera.dm
  code/datums/wires/nuclearbomb.dm
  code/datums/wires/particle_accelerator.dm
  code/datums/wires/radio.dm
  code/datums/wires/robot.dm
  code/datums/wires/shield_generator.dm
  code/datums/wires/smartfridge.dm
  code/datums/wires/smes.dm
  code/datums/wires/suit_storage_unit.dm
  code/datums/wires/vending.dm
  code/datums/wires/wire_description.dm
  code/datums/wires/wires.dm
  code/game/machinery/autolathe.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/clothing/spacesuits/rig/rig_wiring.dm
Labels: feature

#22684 Fixes #22682 and #22683.
  code/game/machinery/autolathe.dm
  code/game/machinery/autolathe_datums.dm
Labels: Fix

#22624 Adds a CTI research vessel as an away site. (Spoilers in PR... duh)
  code/modules/supermatter/supermatter.dm
  maps/away/unishi/unishi-1.dmm
  maps/away/unishi/unishi-2.dmm
  maps/away/unishi/unishi-3.dmm
  maps/away/unishi/unishi.dm
  maps/away/unishi/unishi.dmi
  maps/away/unishi/unishi_areas.dm
  maps/away/unishi/unishi_jobs.dm
  maps/away_sites_testing/away_sites_testing.dm
  maps/away_sites_testing/away_sites_testing_unit_testing.dm
  maps/torch/torch.dm
  maps/torch/torch_unit_testing.dm
Labels: Map, Ready for Review

#22655 Graphics Dab
  code/game/objects/items/devices/flashlight.dm
  icons/obj/bureaucracy.dmi
  icons/obj/machines/floodlight.dmi
  icons/obj/machines/washing_machine.dmi
  icons/obj/plants.dmi
  icons/obj/toy.dmi
Labels: Sprites, Tweak

#22698 Adds polarized windows to robotics
  maps/torch/torch-4.dmm
Labels: Map

#22672 Added Tritonians.
  code/__defines/species.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/human_subspecies.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  html/changelogs/zuhayr-toot.yml
  icons/mob/human_races/species/human/subspecies/tritonian_body.dmi
  icons/mob/human_races/species/human/subspecies/tritonian_preview.dmi
Labels: Sprites

#22700 Fixes CTI ship maploader, fixes airlock issues/runtimes.
  maps/away/unishi/unishi-1.dmm
  maps/away/unishi/unishi-2.dmm
  maps/away/unishi/unishi.dm
Labels: Fix, Map

#22715 Various small species tweaks.
  code/_helpers/global_access.dm
  code/game/jobs/job/job.dm
  code/modules/economy/economy_misc.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/human_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/lizard.dm
  code/modules/mob/living/carbon/human/species/station/machine.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  icons/mob/human_races/species/human/subspecies/tritonian_body.dmi
  icons/mob/human_races/species/human/subspecies/tritonian_preview.dmi
  test/run-test.sh
Labels: Sprites

#22714 Dramatically cuts minimum player ages
  maps/torch/job/jobs.dm
Labels: Map, Tweak, ♨️HOT♨️

#22704 Add explorer voidsuit for unathi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/obj/clothing/species/unathi/hats.dmi
  icons/obj/clothing/species/unathi/suits.dmi
Labels: Sprites

#22729 Remove access reqs from the rest of Bearcat air alarms
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
Labels: Map

#22726 Various fixes to CTI ship
  maps/away/unishi/unishi-1.dmm
  maps/away/unishi/unishi-2.dmm
  maps/away/unishi/unishi-3.dmm
  maps/away/unishi/unishi.dm
  maps/away/unishi/unishi_jobs.dm
Labels: Fix, Map

#22737 More CTI ship fixes
  maps/away/unishi/unishi-1.dmm
  maps/away/unishi/unishi-2.dmm
  maps/away/unishi/unishi-3.dmm
  maps/away/unishi/unishi.dm
Labels: Fix, Map

#22565 Maptweaks and fixes
  maps/torch/torch-2.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-6.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_unit_testing.dm
Labels: Map

#22638 IPCs + FBPs Get Affected by Ion Storms
  code/__defines/misc.dm
  code/modules/events/ion_storm.dm
  maps/torch/torch_areas.dm
Labels: Map, Ready for Review, feature

#22736 Adding Prescription Science Goggles
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  code/modules/clothing/glasses/glasses.dm
Labels: feature

#22742 Allows SolGov personnel to wear SolGov hats
  maps/torch/loadout/loadout_head.dm
Labels: Map

#22562 Port TG's Inducers
  baystation12.dme
  code/game/atoms.dm
  code/game/objects/items/devices/inducer.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/objs.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/power/apc.dm
  code/modules/power/cell.dm
  code/modules/research/designs.dm
  icons/obj/tools.dmi
Labels: Awaiting Author, Sprites

#22731 Made Adherents available as Torch crew.
  code/game/objects/structures/charge_pylon.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/adherent.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/organs/internal/species/adherent.dm
  maps/torch/job/jobs.dm
  maps/torch/torch-4.dmm
Labels: Map

#22625 Chemistry Napalm Relabel and Adds
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Ready for Review, Tweak, feature

#22758 Adjusts cutoff values for oxygen regenerators
  code/modules/atmospherics/components/binary_devices/oxyregenerator.dm
Labels: Fix

#22748 Using ladders leaves fingerprints on them
  code/modules/multiz/structures.dm
Labels: Ready for Review

#22784 Fix a fuel pipe
  maps/torch/torch-2.dmm
Labels: Fix, Map

#22753 Adds new medical equipment boards, enables click and drag for cryo pods.
  baystation12.dme
  code/game/machinery/OpTable.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/cryo.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/weapons/circuitboards/machinery/medical.dm
  code/modules/research/designs.dm
  html/changelogs/Textor - Buildable Medical Equipment.yml
Labels: Ready for Review

#22785 Adds and tweaks supplies
  code/datums/supplypacks/miscellaneous.dm
  code/datums/supplypacks/supply.dm
Labels: Tweak, feature

#22783 Adds Video Games to IPC Monitors
  code/modules/clothing/masks/monitor.dm
  icons/mob/monitor_icons.dmi
  icons/obj/clothing/monitor.dmi
Labels: Sprites, feature

#22804 Adds the ability to rotate unwrenched computer frames
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/computer/computer.dm
  icons/obj/stock_parts.dmi
Labels: Fix, Ready for Review, Sprites, feature

#22809 Smol detective hat resprite
  icons/mob/onmob/head.dmi
Labels: Sprites

#22822 Hopefully fixes problems with names.
  code/modules/client/preference_setup/background/02_language.dm
  code/modules/client/preferences.dm
  code/modules/culture_descriptor/culture/cultures_ipc.dm
  code/modules/culture_descriptor/culture/cultures_serpentid.dm
  code/modules/culture_descriptor/culture/cultures_skrell.dm
  code/modules/culture_descriptor/culture/cultures_unathi.dm
  code/modules/culture_descriptor/culture/cultures_vox.dm
  code/modules/mob/language/generic.dm
  code/modules/organs/internal/species/adherent.dm
Labels: Fix

#22521 Adds the secure service energy revolver to CO's and XO's closets
  code/modules/projectiles/guns/energy/secure.dm
  icons/mob/onmob/belt.dmi
  icons/mob/onmob/items/lefthand_guns_secure.dmi
  icons/mob/onmob/items/righthand_guns_secure.dmi
  icons/obj/clothing/belts_overlays.dmi
  icons/obj/gun_secure.dmi
  maps/torch/structures/closets/command.dm
Labels: Map, Sprites, feature

#22834 Adds oxygen regenerator boards to printer
  code/game/objects/items/weapons/circuitboards/machinery/oxyregenerator.dm
  code/modules/research/designs.dm
Labels: feature

#22786 Remove Chameleon Kit EMP Act
  code/modules/clothing/chameleon.dm
Labels: Tweak

#22863 Makes Press Drone a Subtype of Camera
  code/game/objects/items/devices/tvcamera.dm
  code/modules/client/preference_setup/loadout/lists/utility.dm
  code/modules/paperwork/photography.dm
  icons/obj/device.dmi
  icons/obj/items.dmi
  icons/obj/photography.dmi
  maps/torch/job/outfits.dm
Labels: Map, Sprites, Tweak

#22842 Removes floorlength braid hairstyle
  code/__defines/items_clothing.dm
  code/datums/movement/mob.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob_movement.dm
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Ready for Review, Revert/Removal, Sprites

#22860 Adds balaclavas and hand labelers to loadout
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/utility.dm
  maps/torch/loadout/loadout_head.dm
Labels: Map

#22848 Added antag checks to shredding and leap behavior.
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/species/species.dm
  code/modules/species/station/nabber.dm
Labels: Ready for Review

#22869 remove off-duty
  maps/torch/items/cards_ids.dm
  maps/torch/job/jobs.dm
  maps/torch/torch_ranks.dm
Labels: 24 Hour Hold (DNM) :alarm_clock:, Map, Tweak

#22791 More circuit bug fixes
  code/_helpers/type2type.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/helpers.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/integrated_electronics/core/saved_circuits.dm
  code/modules/integrated_electronics/passive/power.dm
  code/modules/integrated_electronics/subtypes/access.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  icons/obj/assemblies/electronic_components.dmi
Labels: Sprites

#22870 Adds edible Unathi eggs
  code/game/objects/random/random.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
  icons/obj/food_ingredients.dmi
Labels: Sprites

#22892 Emotes: Fixes handshake and salute, adds 10 more targeted emotes.
  code/modules/emotes/definitions/audible.dm
  code/modules/emotes/definitions/visible.dm
Labels: Feature

#22865 (Security) Map Fixes and Tweaks
  html/changelogs/moonyman - map tweaks.yml
  maps/torch/torch-1.dmm
  maps/torch/torch-4.dmm
Labels: Map

#22888 Make APLU circuits printable by default
  code/game/objects/items/weapons/circuitboards/mecha.dm
  code/modules/research/designs.dm
Labels: Tweak

#22881 Move handcuff immunity to item flag
  code/__defines/flags.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
Labels: Tweak

#22740 Let light frames be built in free power areas.
  code/game/machinery/wall_frames.dm
  html/changelogs/HeyBanditoz - light.yml
Labels: Ready for Review

#22898 Stops the supermatter monitor from reporting on off-site crystals
  code/modules/supermatter/supermatter.dm
Labels: Fix, Ready for Review

#22781 Implement RGB for IPC, FBP, Adherent, and Synthetic Eyes
  code/modules/organs/internal/eyes.dm
  code/modules/organs/internal/species/adherent.dm
  code/modules/species/station/machine.dm
Labels: Feature, Ready for Review
