Repository Baystation12/Baystation12, pull requests merged in 2018-04, with the labels that each got.

#21032 Cleanup of the corgi icon, plus a few misc. tweaks.
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/lobby_music/herecomesthemoney.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/projectiles/guns/launcher/money_cannon.dm
  maps/torch/icons/lobby.dmi
  maps/torch/torch.dm
  maps/torch/torch_define.dm
  sound/music/here_comes_the_money.ogg
Labels: Sound, Sprites, feature

#20948 Kitchen Overhaul 2
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/material/knives.dm
  code/modules/food/recipes_microwave.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  icons/obj/drinks.dmi
  icons/obj/food.dmi
  icons/obj/kitchen.dmi
Labels: Ready for Review, Sprites

#21037 Revert "Modifies corgi icon."
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/lobby_music/herecomesthemoney.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/projectiles/guns/launcher/money_cannon.dm
  maps/torch/icons/lobby.dmi
  maps/torch/torch.dm
  maps/torch/torch_define.dm
  sound/music/here_comes_the_money.ogg
Labels: :^), Balance/Rebalance, Lore approved, Revert/Removal, ♨️HOT♨️

#21029 Re-add Marines
  code/modules/clothing/spacesuits/rig/suits/station.dm
  icons/mob/species/skrell/helmet.dmi
Labels: Sprites, feature

#21031 Give command rig proper obj helmet icons
  maps/torch/icons/obj/solgov-head.dmi
Labels: Sprites

#21044 Revert chinsky's heavy roleplay experiment
  code/_onclick/hud/screen_objects.dm
  code/game/objects/weapons.dm
  code/modules/emotes/definitions/visible.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_movement.dm
  code/modules/projectiles/gun.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/torch.dm
Labels: :^), Revert/Removal

#20746 Tweaks #20662 - enables missed tieable hairstyles
  code/modules/mob/new_player/sprite_accessories.dm
Labels: Tweak

#20966 Add a new mining site - The Orb
  code/game/objects/structures/showcase.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/modules/mob/living/simple_animal/parrot.dm
  icons/mob/animal.dmi
  icons/mob/bigbird.dmi
  icons/obj/stationobjs.dmi
  maps/away/mining/mining-orb.dmm
  maps/away/mining/mining.dm
Labels: Sprites, map

#21039 Adds a mech recharger to Security Armory
  maps/torch/torch-2.dmm
Labels: map

#20907 Attempt to fix roller bed SSD bug.
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  html/changelogs/afterthought2-rollerssd.yml
Labels: Fix

#20743 Changes occupation settings from a cycle to a list.
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/client/preferences.dm
Labels: Tweak

#20984 misc bugfixes & QOL
  code/game/machinery/OpTable.dm
  code/game/machinery/atmoalter/pump.dm
  code/game/machinery/atmoalter/scrubber.dm
  code/game/machinery/nuclear_bomb.dm
  code/game/objects/effects/temporary_effect.dm
  code/game/objects/items/devices/t_scanner.dm
  code/modules/projectiles/effects.dm
Labels: Fix, Tweak

#21004 Gurantees the Torch spawning on an asteroid.
  code/modules/maps/map_template.dm
  maps/away/mining/mining.dm
  maps/torch/torch_overmap.dm
  maps/~mapsystem/maps.dm
Labels: Tweak

#21054 Adds a messenger crow.
  baystation12.dme
  code/modules/mob/living/simple_animal/crow/crow.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  icons/mob/crow.dmi
Labels: Sprites

#21060 Fix deck 4 map issues
  maps/torch/torch-1.dmm
Labels: Fix, map

#21059 Paints Torch's outer hull
  code/__defines/colors.dm
  code/game/turfs/simulated/wall_types.dm
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
Labels: map

#21058 Makes jungle planet grass randomcolor
  code/modules/overmap/exoplanets/grass.dm
  icons/turf/jungle.dmi
Labels: Sprites

#21068 Gives Roboticist some medical loadout items
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_suit.dm
Labels: Tweak

#21066 A small collection of bugfixes
  code/game/antagonist/station/cult_god.dm
  code/game/machinery/alarm.dm
  code/modules/mob/living/silicon/posi_brainmob.dm
Labels: Fix

#19908 New Railgun Sprites, Add Advanced Railgun, Railgun tweaks.
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  icons/obj/railgun.dmi
Labels: Sprites, Tweak, feature

#21077 Adjust xenoarch tools
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/mining/mine_items.dm
  code/modules/xenoarcheaology/finds/finds.dm
  code/modules/xenoarcheaology/misc.dm
  code/modules/xenoarcheaology/tools/equipment.dm
  code/modules/xenoarcheaology/tools/tools_pickaxe.dm
  icons/obj/xenoarchaeology.dmi
  maps/away/blueriver/blueriver-1.dmm
  maps/away/smugglers/smugglers.dmm
  maps/torch/structures/closets.dm
Labels: Sprites, Tweak, map

#21080 Adds new IPC shackle set
  html/changelogs/chinsky - memes.yml
  maps/torch/datums/shackle_law_sets.dm
  maps/torch/torch.dm
Labels: Lore approved

#20849 Moves crawling onto click.
  code/game/turfs/turf.dm
Labels: Fix, Tweak

#21093 Adds green pens to the SCGR's and NTL's offices
  maps/torch/torch-5.dmm
Labels: map

#21100 Adds additional L O R E to detergent pod bags.
  code/game/objects/items/weapons/storage/boxes.dm
Labels: Lore approved

#21012 Turns conference room into a briefing room
  maps/torch/torch-4.dmm
  maps/torch/torch_areas.dm
Labels: cannot merge ☠, map

#21118 Breath volume now depends on pulse
  code/__defines/atmos.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/modules/mob/living/carbon/breathe.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/internal/lungs.dm
Labels: feature

#21104 Adjusts breathing to be relevant
  code/__defines/atmos.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/modules/organs/internal/lungs.dm
Labels: feature

#21138 Fix orb map landmark area
  maps/away/mining/mining.dm
Labels: Fix

#21154 Fix wiring in conference room
  maps/torch/torch-4.dmm
Labels: Fix

#21168 Gives explorers purple packs
  icons/mob/onmob/back.dmi
  icons/obj/storage.dmi
  maps/torch/items/items.dm
  maps/torch/job/outfits.dm
Labels: Sprites

#21139 Slaps some dropped code from crawling back on.
  code/game/turfs/turf.dm
Labels: Fix

#21172 Adds ability to educate people on EC directives
  maps/torch/structures/signs.dm
Labels: feature

#21155 Ports floor and floor decal sprites from Eris
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/materials/material_recipes.dm
  icons/obj/tiles.dmi
  icons/turf/flooring/decals.dmi
  icons/turf/flooring/techfloor.dmi
  icons/turf/flooring/tiles.dmi
Labels: Sprites, feature

#21046 Lamps, Bits, Bobs and Doodads.
  code/datums/supplypacks/miscellaneous.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/flora.dm
  code/modules/paperwork/paper.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/bureaucracy.dmi
  icons/obj/drinks.dmi
  icons/obj/food.dmi
  icons/obj/lighting.dmi
  icons/obj/plants.dmi
  icons/obj/toy.dmi
  maps/torch/structures/closets/services.dm
Labels: Awaiting Author, Sprites, Tweak, feature

#21174 Remap the bird temple on monolithic mine
  code/modules/shuttles/shuttle_console.dm
  icons/mob/bigbird.dmi
  icons/mob/parrot_grey.dmi
  icons/turf/flooring/cult.dmi
  maps/away/mining/mining-orb.dmm
  maps/away/mining/mining.dm
  maps/torch/job/jobs.dm
Labels: Sprites, map

#21187 Add flash mod to species with above average darksight
  code/modules/mob/living/carbon/human/species/station/lizard.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  icons/obj/bureaucracy.dmi
  icons/obj/food.dmi
  icons/obj/lighting.dmi
Labels: Sprites, Tweak

#21177 Fixes for breathing mobs
  code/__defines/machinery.dm
  code/game/machinery/alarm.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/modules/atmospherics/components/unary/vent_scrubber.dm
  code/modules/organs/internal/lungs.dm
  maps/torch/torch-4.dmm
  maps/torch/torch_unit_testing.dm
  nano/templates/air_alarm.tmpl
Labels: Fix

#21190 FORS office changes
  maps/torch/structures/closets/security.dm
  maps/torch/torch-2.dmm
Labels: map

#21194 Critical Lighting Hotfixes
  code/__defines/lighting.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/atmospherics/components/unary/vent_scrubber.dm
  code/modules/power/lighting.dm
Labels: Fix

#21184 Reduce round extension time to 30 minutes
  code/controllers/configuration.dm
  code/controllers/voting.dm
  config/example/config.txt
Labels: Config Update, Ready for Review, Tweak

#20878 Make robot default for cyborg job
  code/datums/mind.dm
  code/game/jobs/job/silicon.dm
  code/game/jobs/job_controller.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/robot/robot_parts.dm
  code/modules/admin/player_panel.dm
  code/modules/client/preferences_spawnpoints.dm
  code/modules/events/event_container.dm
  code/modules/events/event_dynamic.dm
  code/modules/ghosttrap/trap.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/transform_procs.dm
  code/modules/projectiles/projectile/change.dm
  sql/migrate/V005__Cyborg2Robot.sql
Labels: Database changes ⚠, Ready for Review, Update Wiki after Merge

#21189 Expedition storage lights fix
  html/changelogs/HetNeSS-PR-21189.yml
  maps/torch/torch-1.dmm
Labels: map, needs changelog

#21192 Adds a storage book to NTL
  maps/torch/items/items.dm
  maps/torch/items/manuals.dm
  maps/torch/structures/closets/misc.dm
Labels: feature

#21167 Mess Hall V2
  maps/torch/torch-2.dmm
Labels: map

#21198 COS' office and BDR changes
  maps/torch/structures/closets/security.dm
  maps/torch/torch-5.dmm
Labels: map

#21213 Wall resprite
  code/game/turfs/simulated/wall_types.dm
  icons/turf/wall_masks.dmi
Labels: Sprites

#21218 Brig Office remap
  maps/torch/torch-2.dmm
Labels: map

#21227 Map in more newscasters
  html/changelogs/HeyBanditoz - packonewscasters.yml
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
Labels: Fix, map

#20993 Skills are selected on a per-job basis
  baystation12.dme
  code/_helpers/global_access.dm
  code/datums/mind.dm
  code/game/antagonist/antagonist_add.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/silicon.dm
  code/game/jobs/job_controller.dm
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/client/preference_setup/occupation/skill_selection.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/client/preference_setup/skills/skills.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/new_player/skill.dm
  code/modules/mob/skills/skill.dm
  code/modules/mob/skills/skillset.dm
  code/modules/mob/skills/skillset_silicon.dm
  html/changelogs/afterthought2-skills.yml
  maps/torch/job/jobs.dm
  test/check-paths.sh
  test/run-test.sh
Labels: Ready for Review

#21160 Add test to enforce color hex standard
  code/game/machinery/telecomms/presets.dm
  code/modules/mob/living/carbon/human/species/outsider/bogani.dm
  code/modules/mob/living/simple_animal/hostile/vagrant.dm
  code/modules/modular_computers/file_system/manifest.dm
  code/modules/projectiles/effects.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  maps/away/bearcat/bearcat.dm
  maps/away/blueriver/blueriver.dm
  maps/away/yacht/yacht.dm
  test/run-test.sh
  tools/ColorHexChecker/CheckColorHex.bat
  tools/ColorHexChecker/color-hex-checker.py
Labels: Tools

#21224 Paints all walls
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
  maps/torch/torch-6.dmm
Labels: map

#21225 Fix wrapping paper in shipping lockers, utility closet cleanup
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/recycling/sortingmachinery.dm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/lost_supply_base/lost_supply_base.dmm
  maps/overmap_example/bearcat/bearcat-2.dmm
  maps/torch/structures/closets.dm
  maps/torch/torch-1.dmm
  maps/torch/torch-3.dmm
Labels: Fix, map

#21056 Rollable Smokes & Chewable... chews.
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/mask.dmi
  icons/obj/cigarettes.dmi
  icons/obj/clothing/masks.dmi
Labels: Sprites

#21221 Non-living may no longer vote during transfer
  code/controllers/configuration.dm
  code/controllers/voting.dm
  config/example/config.txt
  html/changelogs/HeyBanditoz - crew_transfer_votes.yml
Labels: Config Update

#21134 Fire extinguishers accept more reagents, and may spray water to cool below 100c. Misc. related changes.
  code/__defines/math_physics.dm
  code/game/mecha/equipment/tools/tools.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
Labels: Tweak, feature

#21065 Add spinning animation to thrown objects
  code/game/atoms_movable.dm
Labels: Ready for Review, feature

#21249 Torch Gun Changes
  code/game/objects/structures/displaycase.dm
  code/modules/projectiles/guns/energy/secure.dm
  icons/obj/gun_secure.dmi
  icons/obj/stationobjs.dmi
  maps/away/bearcat/bearcat-2.dmm
  maps/torch/items/items.dm
  maps/torch/structures/closets/command.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/structures/closets/security.dm
  maps/torch/torch-2.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
  nano/templates/forceauthorization.tmpl
Labels: Sprites

#21212 Making floors white again
  code/__defines/colors.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_decals.dm
  icons/turf/flooring/decals.dmi
  icons/turf/flooring/tiles.dmi
Labels: Sprites

#21235 plump obsession + some hydrotray changes.
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/hydroponics/trays/tray_update_icons.dm
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_machines.dmi
  icons/obj/hydroponics_products.dmi
Labels: Sprites, Tweak, feature

#21277 Fix escape pod
  maps/torch/torch-4.dmm
Labels: Fix

#21247 Various stungun related changes
  code/modules/projectiles/guns/energy/secure.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/energy.dm
  icons/mob/onmob/items/lefthand_guns_secure.dmi
  icons/mob/onmob/items/righthand_guns_secure.dmi
  icons/obj/gun.dmi
  icons/obj/gun_secure.dmi
  icons/obj/projectiles.dmi
Labels: Fix, Sprites, Tweak

#21232 [Ready for review] Adds plasteel combat shields
  code/game/objects/items/weapons/shields.dm
  icons/mob/onmob/back.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons.dmi
  maps/torch/torch-4.dmm
Labels: Ready for Review, Sprites, feature, map

#21265 Fixes secure guns not firing on red
  code/modules/projectiles/guns/energy/secure.dm
Labels: Fix⚒

#21298 Fixes several lighting issues
  code/game/objects/effects/effect_system.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/maps/map_template.dm
  code/modules/mob/living/living_defense.dm
  code/modules/projectiles/projectile/energy.dm
  maps/away/magshield/magshield.dm
Labels: Fix

#21263 Fix and add few miscellaneous things
  code/datums/mind.dm
  code/game/antagonist/antagonist_objectives.dm
  code/game/machinery/doors/firedoor.dm
  code/modules/mob/observer/ghost/ghost.dm
  maps/torch/icons/obj/solgov-head.dmi
  maps/torch/torch-5.dmm
Labels: Fix, Ready for Review, map

#21288 Magnetic gripper - trit+deut ingots gripper
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
Labels: Tweak

#21273 The transliterator now works properly
  tools/languageconverter/transliterator.py
Labels: Tools

#21307 Cargo fixes
  maps/torch/torch-1.dmm
Labels: map

#21316 Skill system save fix
  code/modules/client/preference_setup/occupation/skill_selection.dm
Labels: Fix

#21319 Revert cigarette packet capacity tweak
  code/game/objects/items/weapons/storage/fancy.dm
Labels: Fix, Revert/Removal

#21301 Vegan Update
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
Labels: Sprites

#21324 Actual skill save fix
  code/modules/client/preference_setup/occupation/skill_selection.dm
Labels: Fix

#21024 Fake aliens
  baystation12.dme
  code/__defines/colors.dm
  code/__defines/languages.dm
  code/controllers/subsystems/skybox.dm
  code/game/objects/items/weapons/implants/implants/translator.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/mob/language/outsider.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/outsider/random.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/organs/blood.dm
  icons/mob/human_races/r_humanoid.dmi
Labels: Sprites

#21175 Random cleanup of flares
  code/datums/supplypacks/atmospherics.dm
  code/game/machinery/vending.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/random/random.dm
  maps/away/magshield/magshield.dmm
  maps/away/smugglers/smugglers.dmm
  maps/torch/structures/closets/command.dm
  maps/torch/structures/closets/exploration.dm
  maps/torch/torch-1.dmm
  maps/torch/torch-4.dmm
Labels: Tweak

#21346 Job description window
  code/_macros.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job_controller.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  maps/torch/job/jobs.dm
  test/check-paths.sh
Labels: Ready for Review

#21278 Explorer Prep changes
  html/changelogs/chinsky - exp.yml
  maps/torch/structures/closets/exploration.dm
  maps/torch/torch-1.dmm
  maps/torch/torch_areas.dm
Labels: map

#21342 Replace taser rifle with secure gun on secborgs
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/modular_computers/file_system/programs/security/forceauthorization.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/secure.dm
  html/changelogs/HeyBanditoz - borg_secure_gun.yml
  nano/templates/forceauthorization.tmpl
Labels: feature
