Repository Baystation12/Baystation12, pull requests merged in 2018-10, with the labels that each got.

#23293 Makes ion storms respect z levels.
  code/modules/events/ion_storm.dm
Labels: Fix

#23289 Wiring fixes, pipe fixes and maintenance tweaks
  maps/away/mining/mining-asteroid.dmm
  maps/torch/torch-0.dmm
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_presets.dm
Labels: Fix, Map

#23290 Fixes vending machine event GC issues.
  code/modules/events/brand_intelligence.dm
Labels: Fix

#23272 New sprites for exopanet plants
  code/modules/hydroponics/trays/tray_soil.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_products.dmi
Labels: Sprites

#23278 Permit adherent to select some jobs
  maps/torch/job/jobs.dm
  maps/torch/torch_ranks.dm
Labels: Lore approved, Map, Tweak

#23243 Recolour the research department & uniforms
  code/__defines/colors.dm
  code/__defines/culture.dm
  code/_helpers/text.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/objects/items/devices/floor_painter.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/accessories/clothing.dm
  code/modules/clothing/under/accessories/ties.dm
  code/modules/clothing/under/nanotrasen.dm
  code/modules/culture_descriptor/faction/factions.dm
  code/modules/library/manuals/union.dm
  code/modules/species/station/station.dm
  html/images/torchltd.png
  icons/mob/onmob/Unathi/nanotrasen.dmi
  icons/mob/onmob/Unathi/suit.dmi
  icons/mob/onmob/Unathi/ties.dmi
  icons/mob/onmob/back.dmi
  icons/mob/onmob/nanotrasen.dmi
  icons/mob/onmob/suit.dmi
  icons/mob/onmob/ties.dmi
  icons/mob/species/nabber/suit.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/card.dmi
  icons/obj/closet.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/library.dmi
  icons/obj/modular_pda.dmi
  icons/obj/radio.dmi
  icons/obj/storage.dmi
  icons/turf/flooring/corp_floor.dmi
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/job/jobs.dm
  maps/torch/job/outfits.dm
  maps/torch/loadout/loadout_suit.dm
  maps/torch/loadout/loadout_uniform.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/structures/closets/research.dm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
  maps/~mapsystem/maps.dm
Labels: Feature, Map, Sprites, Tweak

#23271 Shuttle ceilings & making them leave
  code/game/turfs/simulated/floor.dm
  code/modules/shuttles/shuttle_supply.dm
  icons/turf/flooring/tiles.dmi
  maps/torch/backup/torch-1 - Copy.dmm
  maps/torch/backup/torch-1.dmm
  maps/torch/torch-0.dmm
  maps/torch/torch-1.dmm
  maps/torch/torch_define.dm
  maps/torch/torch_shuttles.dm
Labels: Map, Sprites

#23296 Adds Robotics OR/other minor map changes
  maps/torch/torch-4.dmm
  maps/torch/torch_areas.dm
Labels: Feature, Map

#23304 Adds missing stone wall sprites
  icons/turf/wall_masks.dmi
Labels: Fix, Sprites

#23306 Fixes camera pixel shifting
  code/game/machinery/camera/camera_assembly.dm
Labels: Fix

#23295 Splits roboticist and biomech engineer; allows one of each to spawn.
  maps/torch/icons/assignment_hud.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/job/jobs.dm
  maps/torch/job/outfits.dm
  maps/torch/loadout/_defines.dm
Labels: Feature, Map

#23156 Snacks.dm refactoring II
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: Refactor

#23313 Fixes disposals mail loop
  maps/torch/torch-1.dmm
Labels: Map

#23307 Small changes for command consoles and tablets
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/computers/subtypes/preset_tablet.dm
Labels: Revert/Removal

#23320 Add built in protection to light maker
  code/modules/admin/buildmode/light_maker.dm
Labels: Fix

#23302 Adds mechanical descriptions to skill blurbs
  code/modules/mob/skills/skill.dm
Labels: Feature

#23297 Adds Tile Items to the list of things Magnetic Grippers can pick up
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
Labels: Tweak

#23191 Gunshot residue tweaks and forensic fixes
  code/game/atoms.dm
  code/modules/clothing/clothing.dm
  code/modules/detectivework/forensics.dm
  code/modules/detectivework/microscope/microscope.dm
  code/modules/detectivework/tools/swabs.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/guns/projectile.dm
  html/changelogs/chinsky - powder.yml
Labels: Fix, Ready for Review

#23318 Bugfixes for new biomech slot.
  maps/torch/job/jobs.dm
Labels: Map

#23325 Add unit tests for wires and terminals
  code/_helpers/type2type.dm
  code/unit_tests/map_tests.dm
  maps/overmap_example/bearcat/bearcat-2.dmm
  maps/overmap_example/overmap_unit_testing.dm
  maps/torch/torch-0.dmm
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
  maps/torch/torch_unit_testing.dm
Labels: Map, priority: high ⚠

#23351 Fixes science floor on rotation.
  icons/turf/flooring/corp_floor.dmi
Labels: Fix, Sprites

#23361 Makes filth anchored
  code/modules/persistence/filth.dm
Labels: Fix

#23360 Fixes runtime with the dos antag program.
  code/modules/modular_computers/file_system/programs/antagonist/dos.dm
Labels: Fix

#23367 Fixes a wizard exploit.
  code/modules/spells/artifacts/spellbound_servants.dm
  code/modules/spells/spellbook.dm
  code/modules/spells/spellbook/student.dm
Labels: Fix

#23341 Add new colours of wrench and clippers and a cup
  code/game/objects/effects/decals/posters/tgposters.dm
  code/game/objects/items/weapons/storage/lunchbox.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/drinks.dmi
  icons/obj/tools.dmi
Labels: Feature, Sprites

#23379 Un-wizardproofs B-deck
  maps/torch/torch_define.dm
Labels: Map

#23348 Add different colours for adherent to pick from
  code/modules/organs/external/_external_icons.dm
  code/modules/species/station/adherent.dm
  icons/mob/human_races/species/adherent/body.dmi
Labels: Feature, Sprites

#23386 Fixes a bunch of runtime errors.
  code/controllers/subsystems/chemistry.dm
  code/modules/augment/passive/boost.dm
  code/modules/detectivework/forensics.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/research/rdconsole.dm
  test/check-paths.sh
Labels: Fix

#23388 Fixes some snack runtimes; adds better debug output.
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: Fix

#23384 Steals new sprites for implanters and implanter accessories
  icons/obj/items.dmi
Labels: Sprites

#23383 Steals new heater sprites
  code/game/machinery/spaceheater.dm
  icons/obj/atmos.dmi
Labels: Sprites

#23391 Fixes the microphone circuit
  code/modules/integrated_electronics/subtypes/input.dm
Labels: Fix

#23396 Raises min player age for AI to 7 days, borg to 3 days.
  maps/torch/job/jobs.dm
Labels: Map, Tweak

#23056 Cargo - Cubed spiders
  code/datums/supplypacks/livecargo.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: Feature

#23335 Adds roller bed crates and wheelchair crates to supply.
  code/datums/supplypacks/medical.dm
Labels: Tweak

#23397 Changes Fleet Service tie to navy
  maps/torch/items/clothing/solgov-under.dm
Labels: Map

#23067 Ship Munitions
  baystation12.dme
  code/datums/supplypacks/munitions.dm
  code/game/objects/munition.dm
  icons/obj/munitions.dmi
Labels: Feature, Sprites, Work In Progress

#23399 More bugfixes, mostly to tanks.
  code/game/machinery/alarm.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/swords_axes_etc.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/modules/research/rdconsole.dm
Labels: Fix

#23400 Add button links to github and issue report
  code/controllers/configuration.dm
  config/example/config.txt
  interface/interface.dm
  interface/skin.dmf
  test/check-paths.sh
Labels: Config Update

#23117 Adds starlight deity.
  baystation12.dme
  code/datums/extensions/deity_be_near.dm
  code/game/antagonist/station/cult_god.dm
  code/game/gamemodes/godmode/form_items/narsie_structures.dm
  code/game/gamemodes/godmode/form_items/starlight_items.dm
  code/game/gamemodes/godmode/form_items/starlight_mobs.dm
  code/game/gamemodes/godmode/form_items/starlight_structures.dm
  code/game/gamemodes/godmode/form_items/wizard_structures.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/deity/deity_phenomena.dm
  code/modules/mob/living/deity/deity_power.dm
  code/modules/mob/living/deity/forms.dm
  code/modules/mob/living/deity/forms/narsie.dm
  code/modules/mob/living/deity/forms/starlight.dm
  code/modules/mob/living/deity/forms/tower.dm
  code/modules/mob/living/deity/items/_defines.dm
  code/modules/mob/living/deity/items/narsie/smithing.dm
  code/modules/mob/living/deity/items/starlight/artifacts.dm
  code/modules/mob/living/deity/items/starlight/phenomena.dm
  code/modules/mob/living/deity/items/starlight/spells.dm
  code/modules/mob/living/deity/items/tower/conjuration.dm
  code/modules/mob/living/deity/phenomena/conjuration.dm
  code/modules/mob/living/deity/phenomena/generic.dm
  code/modules/mob/living/deity/phenomena/phenomena.dm
  code/modules/mob/living/deity/phenomena/starlight.dm
  code/modules/species/outsider/shadow.dm
  code/modules/spells/general/open_gateway.dm
  html/changelogs/starlightFinale - TheWelp.yml
  icons/mob/deity_big.dmi
  icons/obj/cult.dmi
Labels: Sprites, Update Wiki after Merge

#23150 Crates no longer mentioned in shipment title in the cargo order interface but remains on the actual delivered crate Fix
  code/datums/supplypacks/atmospherics.dm
  code/datums/supplypacks/custodial.dm
  code/datums/supplypacks/engineering.dm
  code/datums/supplypacks/flooring.dm
  code/datums/supplypacks/galley.dm
  code/datums/supplypacks/hydroponics.dm
  code/datums/supplypacks/livecargo.dm
  code/datums/supplypacks/materials.dm
  code/datums/supplypacks/medical.dm
  code/datums/supplypacks/nonessent.dm
  code/datums/supplypacks/operations.dm
  code/datums/supplypacks/science.dm
  code/datums/supplypacks/security.dm
  code/datums/supplypacks/supply.dm
  maps/torch/datums/supplypacks/science.dm
  maps/torch/datums/supplypacks/security.dm
Labels: Map, Revert/Removal, Sprites

#23381 Adv medpacks resprite
  code/game/objects/items/stacks/medical.dm
  icons/obj/items.dmi
  icons/obj/medical_kits.dmi
Labels: Sprites

#23377 Adds "All" Buttons to Antag Role Selection
  code/modules/client/preference_setup/antagonism/01_candidacy.dm
Labels: Feature

#23421 Nerfs exploitable deity spells.
  code/modules/mob/living/deity/forms/starlight.dm
  code/modules/spells/targeted/genetic.dm
Labels: priority: high ⚠

#23420 Adds character setup SS to handle init order for character setup.
  baystation12.dme
  code/__defines/subsystems.dm
  code/_helpers/global_access.dm
  code/controllers/subsystems/initialization/character_setup.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  test/run-test.sh
Labels: Fix

#23418 Yet more bug fixes.
  code/game/objects/items/devices/floor_painter.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: Fix

#23424 Fix floor slips
  code/game/turfs/simulated.dm
Labels: Fix

#23414 Might improve quality of runtime logging.
  docker-entrypoint.sh
Labels: priority: high ⚠

#23415 Adds chem recipe for adrenaline.
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Tweak, Update Wiki after Merge

#23206 Attempt at reducing number of proxy listeners used by instruments
  code/datums/sound_player.dm
  code/modules/synthesized_instruments/song.dm
  code/modules/synthesized_instruments/sound_player.dm
  code/modules/synthesized_instruments/sound_token.dm
  tools/midi2piano/midi2piano.py
Labels: Ready for Review, Tools, priority: high ⚠

#23435 Updates globals script to use python3
  test/run-test.sh
  tools/GenerateGlobalVarAccess/gen_globals.py
Labels: Tools

#23443 Fixes runtimes with holograms, deleted slimes, and armor augments.
  code/game/machinery/hologram.dm
  code/modules/mob/living/carbon/xenobiological/slime_AI.dm
  code/modules/organs/external/_external_damage.dm
Labels: Fix

#23327 Big Mapping and Bug fixes v2
  code/__defines/machinery.dm
  code/__defines/mobs.dm
  code/game/atoms.dm
  code/game/machinery/camera/presets.dm
  code/game/objects/structures/railing.dm
  icons/obj/railing.dmi
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/rigs.dm
  maps/torch/job/jobs.dm
  maps/torch/torch-0.dmm
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
  maps/torch/torch-6.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_presets.dm
Labels: Map, Ready for Review, Sprites, Tweak

#23428 Fixes yet more runtimes. Makes click catcher screen objs shared.
  code/_onclick/click.dm
  code/_onclick/hud/hud.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/jobs/job_controller.dm
  code/game/machinery/hologram.dm
  code/modules/client/client_defines.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/client/preferences.dm
  code/modules/mob/new_player/new_player.dm
Labels: Fix

#23366 Makes robotic eyes not get cataracts.
  code/game/dna/genes/disabilities.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/tools.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/projectile/energy.dm
Labels: Fix

#23438 Add skillcheck for slips
  code/game/turfs/simulated.dm
Labels: Tweak

#23463 Fixes CO2 pipeline, adds hangar exit buttons
  maps/torch/torch-0.dmm
  maps/torch/torch-3.dmm
Labels: Fix, Map

#23472 Removes cameras from explorer helmets
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/rigs.dm
Labels: Map, Revert/Removal

#23408 Atmospheric pump efficiency rebalance
  code/__defines/machinery.dm
  code/modules/atmospherics/components/unary/outlet_injector.dm
Labels: Balance/Rebalance

#23485 Revert "Atmospheric pump efficiency rebalance"
  code/__defines/machinery.dm
  code/modules/atmospherics/components/unary/outlet_injector.dm
Labels: Revert/Removal

#23431 Fixes a few of the starlight bugs
  code/datums/extensions/deity_be_near.dm
  code/game/gamemodes/godmode/form_items/starlight_mobs.dm
  code/game/gamemodes/godmode/form_items/starlight_structures.dm
  code/modules/mob/living/deity/deity.dm
  code/modules/mob/living/deity/forms/starlight.dm
  code/modules/mob/living/deity/items/generic.dm
  code/modules/mob/living/deity/items/starlight/spells.dm
  code/modules/mob/living/deity/phenomena/starlight.dm
  code/modules/mob/observer/freelook/chunk.dm
  code/modules/mob/observer/freelook/cult/mask.dm
  code/modules/spells/aoe_turf/disable_tech.dm
  code/modules/spells/general/radiant_aura.dm
  code/modules/spells/targeted/genetic.dm
Labels: Fix

#23460 Petrov fixes
  maps/torch/torch-0.dmm
Labels: Fix, Map

#23461 Fixes stairs for 512
  code/controllers/communications.dm
  code/game/machinery/atmo_control.dm
  code/game/machinery/buttons.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  code/game/machinery/magnet.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/atmospherics/components/binary_devices/dp_vent_pump.dm
  code/modules/atmospherics/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/components/binary_devices/pump.dm
  code/modules/atmospherics/components/omni_devices/filter.dm
  code/modules/multiz/structures.dm
Labels: Byond 512

#23477 Keycard Authentication Device Tweaks
  code/controllers/evacuation/evacuation_option.dm
  code/controllers/evacuation/evacuation_pods.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  maps/torch/machinery/keycard authentication.dm
  nano/templates/communication.tmpl
  test/check-paths.sh
Labels: Map, Tweak

#23410 Changes Tower deity spells' charge and recharge time
  code/game/gamemodes/godmode/form_items/wizard_structures.dm
  code/modules/mob/living/deity/forms/tower.dm
  code/modules/mob/living/deity/items/generic.dm
  code/modules/mob/living/deity/items/tower/conjuration.dm
  code/modules/mob/living/deity/items/tower/transmutation.dm
  code/modules/spells/aoe_turf/conjure/faithful_hound.dm
  code/modules/spells/aoe_turf/conjure/force_portal.dm
  code/modules/spells/aoe_turf/conjure/forcewall.dm
  code/modules/spells/aoe_turf/knock.dm
  code/modules/spells/aoe_turf/smoke.dm
  code/modules/spells/general/acid_spray.dm
  code/modules/spells/general/create_air.dm
  code/modules/spells/hand/burning_grip.dm
  code/modules/spells/hand/slippery_surface.dm
  code/modules/spells/targeted/cleric_spells.dm
  code/modules/spells/targeted/equip/dyrnwyn.dm
  code/modules/spells/targeted/equip/shield.dm
  code/modules/spells/targeted/ethereal_jaunt.dm
  code/modules/spells/targeted/projectile/fireball.dm
Labels: Tweak

#23493 Fixes adminordrazine.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Fix

#23515 Makes O2 Tank Removable From Worn Hardsuits
  code/modules/clothing/spacesuits/rig/rig_attackby.dm
Labels: Tweak

#23513 Restores laptops to medical.
  maps/torch/torch-4.dmm
Labels: Map

#23504 Buffs merchants
  code/controllers/subsystems/trade.dm
  code/datums/trading/ship.dm
  code/datums/trading/trade.dm
  code/datums/trading/unique.dm
  code/datums/trading/vox.dm
  code/game/jobs/job/job.dm
Labels: Tweak

#23517 Removes spiderbots.
  baystation12.dme
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/ventcrawl/ventcrawl.dm
Labels: Revert/Removal

#23511 Fixes #23510
  code/modules/mob/mob.dm
Labels: Fix

#23303 Makes Aquila overmap-capable
  maps/torch/torch-0.dmm
  maps/torch/torch-5.dmm
  maps/torch/torch_overmap.dm
Labels: Map

#23342 Rename the Torch conglomerate to Tenjin Holdings
  code/__defines/culture.dm
  code/game/objects/items/devices/floor_painter.dm
  code/game/objects/items/weapons/secrets_disk.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/nanotrasen.dm
  code/modules/culture_descriptor/faction/factions.dm
  code/modules/library/manuals/union.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/species/station/station.dm
  maps/torch/job/jobs.dm
  maps/torch/job/outfits.dm
  maps/torch/structures/closets/research.dm
  maps/~mapsystem/maps.dm
Labels: Defer to Forums :classical_building:, Map, Tweak

#23464 Adds washroom to medical and adjusts everything else accordingly.
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch_areas.dm
Labels: Map

#23166 Body Scan Improvements, Adds Body Scan Display, Adds "Eye of Beholder" Functionality to Scans
  baystation12.dme
  code/_helpers/medical_scans.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/bodyscanner.dm
  code/game/machinery/bodyscanner_console.dm
  code/game/machinery/bodyscanner_display.dm
  code/modules/admin/verbs/debug.dm
  code/modules/modular_computers/file_system/computer_file.dm
  code/modules/modular_computers/file_system/data.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/generic/file_browser.dm
  code/modules/modular_computers/file_system/programs/generic/scanner.dm
  code/modules/modular_computers/hardware/nano_printer.dm
  code/modules/modular_computers/hardware/scanners/scanner_paper.dm
  code/modules/organs/organ.dm
  code/modules/paperwork/bodyscan_paper.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/paperwork/photocopier.dm
  maps/torch/torch-4.dmm
  nano/templates/body_scan_display.tmpl
  nano/templates/body_scanner.tmpl
  test/check-paths.sh
Labels: Map, Ready for Review

#23519 Fixes Automatic Shutoff Valve Examine Echo
  code/modules/atmospherics/components/shutoff.dm
Labels: Fix

#23533 Adrenaline changes mk2
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Update Wiki after Merge

#23479 Fixes runtime reporting in 512.
  code/modules/error_handler/error_handler.dm
  code/modules/species/species_helpers.dm
  code/modules/species/station/adherent.dm
  code/modules/species/station/monkey.dm
  code/modules/species/station/nabber.dm
Labels: Byond 512, Fix

#23523 Fix qdel() mob duplications
  code/game/machinery/kitchen/cooking_machines/_cooker.dm
  code/game/machinery/kitchen/microwave.dm
  code/modules/research/rdconsole.dm
Labels: Fix

#23527 Infirmary mapfix and minor maptweaks
  maps/torch/torch-4.dmm
Labels: Map

#23294 Adds goto use checking to Travis; removes all existing gotos.
  code/game/objects/structures/morgue.dm
  code/modules/mob/mob.dm
  code/modules/synthesized_instruments/song.dm
  test/check-paths.sh
Labels: Ready for Review, Revert/Removal

#23534 adds helmets for skrell
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/onmob/head.dmi
  icons/obj/clothing/hats.dmi
  maps/torch/loadout/loadout_xeno.dm
Labels: Feature, Lore approved, Map, Sprites

#23549 Adds 19 new emotes
  code/modules/emotes/definitions/_mob.dm
  code/modules/emotes/definitions/visible.dm
Labels: Feature

#23525 IC recycling fixes & tweaks
  code/modules/integrated_electronics/core/printer.dm
Labels: Feature, Fix

#23554 Restores noticeboard in Medical.
  maps/torch/torch-4.dmm
Labels: Map

#23557 Replaces D2 CO2 volume pump with pressure regulator @ 2500kpa max
  maps/torch/torch-0.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
Labels: Fix, Map

#23512 Fixes miscellaneous issues.
  code/datums/supplypacks/supply.dm
  code/game/gamemodes/godmode/form_items/starlight_items.dm
  code/game/objects/items/devices/personal_shield.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/mob/living/deity/phenomena/conjuration.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/paperwork/paper_sticky.dm
  code/modules/power/smes.dm
  code/modules/projectiles/guns/energy/special.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dm
Labels: Fix, Map

#23502 Yet more runtime fixes.
  code/__defines/misc.dm
  code/_macros.dm
  code/game/objects/items/devices/inducer.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/mob/living/carbon/alien/diona/nymph_inventory.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/internal/stack.dm
  code/modules/organs/organ.dm
  code/modules/paperwork/photography.dm
Labels: Fix

#23547 Fixes tank icons not updating properly
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/atmoalter/pump.dm
  code/game/machinery/atmoalter/scrubber.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/modules/overmap/overmap_shuttle.dm
  code/modules/power/pacman2.dm
  code/modules/power/singularity/collector.dm
  code/modules/projectiles/guns/launcher/pneumatic.dm
Labels: Fix

#23363 Fixes Torch LTD In DAIS Lore
  code/__defines/culture.dm
  code/modules/clothing/under/accessories/clothing.dm
  code/modules/clothing/under/nanotrasen.dm
  code/modules/culture_descriptor/faction/factions.dm
  maps/torch/loadout/loadout_suit.dm
Labels: Map, Tweak

#23565 Fixes empty cell icons being improperly displayed and other issues.
  code/game/machinery/floodlight.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/power/batteryrack.dm
  code/modules/power/cell.dm
  nano/templates/psu.tmpl
Labels: Fix

#23560 Renames Uplink Kits After Spawning
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: Tweak

#23555 Give bridge officers Charon access
  maps/torch/job/jobs.dm
Labels: Feature, Map

#23584 Add air alarms to pilot's lounge and deck 5 maint
  maps/torch/torch-0.dmm
Labels: Fix, Map

#23583 Allows geiger counters to go on radsuits
  code/modules/clothing/suits/utility.dm
Labels: Tweak

#23589 Fixes twohanded weapons back icon
  baystation12.dme
  code/__defines/items_clothing.dm
  code/game/objects/items/weapons/material/bats.dm
  code/game/objects/items/weapons/material/twohanded.dm
  icons/mob/onmob/back.dmi
Labels: Fix, Sprites

#23567 Split up jobs.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/misc_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/supply_jobs.dm
  maps/torch/job/torch_access.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_outfits.dm
  maps/torch/torch.dm
Labels: Map, Tweak

#23577 Some atmospheric pipe pressure fixes, minor refactors
  code/__defines/atmos.dm
  code/modules/atmospherics/datum_pipeline.dm
  code/modules/atmospherics/pipes.dm
  code/modules/multiz/pipes.dm
Labels: Fix, Refactor

#23392 Adds temperature requirements to certain chems + maps in equipment
  code/game/machinery/cryo.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  maps/torch/torch-0.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-4.dmm
Labels: Map, Sprites, Update Wiki after Merge

#23602 Fix lighters not lighting candles
  code/game/objects/items/weapons/candle.dm
  code/game/objects/items/weapons/storage/boxes.dm
Labels: Fix

#23592 Possibly fixes grab runtimes.
  baystation12.dme
  code/_onclick/hud/screen_objects.dm
  code/datums/observation/dismembered.dm
  code/datums/observation/zone_selected.dm
  code/modules/mob/grab/grab_datum.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/grab/normal/grab_normal.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/organs/organ.dm
Labels: Fix

#23615 Fixes shuttle grav
  code/modules/shuttles/shuttle.dm
Labels: Fix

#23617 More safety stuff
  code/datums/extensions/holster/holster.dm
  maps/torch/items/items.dm
Labels: Feature, Map, Tweak

#23631 Changes the 'broad-shouldered' generic descriptor to 'well-built'.
  code/modules/mob/living/carbon/human/descriptors/descriptors_generic.dm
Labels: Tweak

#23627 Corrects Darkspot Issues
  code/game/atoms.dm
Labels: Fix

#23628 Human body adjustments to fit clothes, undies
  icons/mob/human.dmi
  icons/mob/human_races/species/human/body.dmi
  icons/mob/human_races/species/human/subspecies/gravworlder_body.dmi
  icons/mob/human_races/species/human/subspecies/spacer_body.dmi
  icons/mob/human_races/species/human/subspecies/tritonian_body.dmi
  icons/mob/human_races/species/human/subspecies/vatgrown_body.dmi
Labels: Fix, Sprites

#23596 Adds weapon charger to Deck One Checkpoint. And removes a duplicate fire alarm hiding in a bin
  maps/torch/torch-0.dmm
  maps/torch/torch-4.dmm
Labels: Map

#23612 Shutdown and update
  baystation12.dme
  code/modules/events/computer_damage.dm
  code/modules/events/computer_update.dm
  code/modules/events/event_container.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/computers/modular_computer/ui.dm
  code/modules/modular_computers/computers/modular_computer/variables.dm
  code/modules/modular_computers/computers/subtypes/dev_pda.dm
  code/modules/modular_computers/file_system/programs/generic/configurator.dm
  nano/templates/laptop_configuration.tmpl
  nano/templates/laptop_mainscreen.tmpl
Labels: Feature, Ready for Review

#23586 Fixes minor map oversights
  maps/torch/torch-0.dmm
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
Labels: Map

#23610 Adds insulated beakers, makes clonex less of a pain.
  code/game/atoms_temperature.dm
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/glass.dm
  icons/obj/chemical.dmi
  maps/torch/torch-4.dmm
Labels: Feature, Map, Sprites

#23656 Removes last mentions of Tajara and Resomii
  news_articles/space_magazine_3.html
Labels: Revert/Removal

#23657 Connect Disposal Units
  maps/torch/torch-1.dmm
Labels: Fix, Map

#23595 Add maximum education tiers for jobs
  code/game/jobs/job/job.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/species/species_helpers.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/misc_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: Feature, Map

#23665 Gives offstation roles a few more skills to choose
  code/modules/mob/skills/antag_skill_setter.dm
  code/modules/mob/skills/skill_ui.dm
  code/modules/submaps/_submap.dm
Labels: Ready for Review

#23652 Fixes ion storms affecting wrong z levels, and other misc improvements
  code/game/machinery/cryo.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/implants/implantchair.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/events/computer_damage.dm
  code/modules/events/ion_storm.dm
  code/modules/events/sensor_suit_jamming.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/grab/nab/grab_nab.dm
  code/modules/mob/grab/normal/grab_normal.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/mob_defines.dm
  code/modules/overmap/events/event.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/species/station/nabber.dm
  code/procs/announce.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dm
Labels: Fix, Map

#23662 Smol fixes for faxes and the TV drone
  code/game/objects/items/devices/tvcamera.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/paperwork/photocopier.dm
Labels: Ready for Review
