Repository Baystation12/Baystation12, pull requests merged in 2018-05, with the labels that each got.

#21344 Irreparable organs are now actually irreparable.
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/external/wounds/wound.dm
  code/modules/organs/external/wounds/wound_types.dm
Labels: Fix, Ready for Review

#21365 Adjust railgun ammo creation logic
  code/game/objects/items/stacks/stack.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
Labels: Fix

#21405 Fixes bug with autogenerating landmarks
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/shuttles/landmarks.dm
Labels: Fix

#21402 Bandolier holding list extension
  code/modules/clothing/under/accessories/storage.dm
Labels: Tweak

#21395 Fixes #21373
  code/datums/uplink/uplink_sources.dm
  code/modules/modular_computers/file_system/programs/antagonist/uplink.dm
Labels: Fix

#21411 Crisis borgs get a stasis bag rack.
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/ironing_board.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Tweak, feature

#21401 fixes MAA alt title
  maps/torch/job/jobs.dm
Labels: Fix

#21363 Reduce text2path uses
  code/_helpers/global_access.dm
  code/_helpers/global_lists.dm
  code/_helpers/unsorted.dm
  code/_macros.dm
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/effects/decals/posters/bs12.dm
  code/game/objects/effects/decals/posters/tgposters.dm
  code/game/objects/items/weapons/storage/storage_ui/tgui.dm
  code/game/objects/random/random.dm
  code/modules/integrated_electronics/machine_printer.dm
  code/modules/mob/living/deity/deity.dm
  code/modules/mob/living/deity/deity_topic.dm
  code/modules/mob/mob_transformation_simple.dm
  code/modules/spells/targeted/projectile/projectile.dm
  code/unit_tests/icon_tests.dm
  icons/obj/contraband.dmi
  maps/torch/torch-6.dmm
  test/check-paths.sh
  test/run-test.sh
Labels: Sprites

#21388 Borg and AI email bugfix/improvement
  code/_helpers/text.dm
  code/_helpers/unsorted.dm
  code/game/jobs/job_controller.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/silicon/subsystems.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/file_system/programs/research/email_administration.dm
Labels: Fix

#21425 Scanner fixes/improvements.
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/computers/subtypes/preset_pda.dm
  code/modules/research/designs.dm
Labels: Fix, Tweak

#21412 Cleanbots make cute little booping noises when operating.
  code/modules/mob/living/bot/cleanbot.dm
  sound/machines/boop1.ogg
  sound/machines/boop2.ogg
Labels: Sound

#21444 fixes duct tape removal
  code/game/objects/items/weapons/tape.dm
Labels: Fix

#21439 Fixes AI runtimes
  code/_helpers/global_access.dm
  code/game/antagonist/station/rogue_ai.dm
  code/game/machinery/computer/ai_core.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/silicon.dm
  test/run-test.sh
Labels: Fix

#21193 Manually reverts the removal of plant filling.
  code/game/objects/structures/watercloset.dm
  code/modules/hydroponics/grown.dm
Labels: Ready for Review, Revert/Removal

#21404 Heads are no longer marked as "irreparable."
  code/game/machinery/adv_med.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/diona.dm
  code/modules/organs/external/head.dm
  code/modules/organs/external/standard.dm
  code/modules/organs/external/wounds/wound.dm
  code/modules/organs/subtypes/nabber_organ.dm
Labels: Tweak

#21450 Security/Checkpoint re-map
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
Labels: Map

#21462 Sign language can be used while being muzzled.
  code/modules/mob/living/say.dm
Labels: Fix

#21470 Fixes infinite disposal loop & all rubbish ending in security processing
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-5.dmm
Labels: Map

#21457 Deck management program, generic report datums, crew record refactor
  baystation12.dme
  code/__defines/misc.dm
  code/_helpers/lists.dm
  code/_helpers/names.dm
  code/_helpers/sanitize_values.dm
  code/controllers/shuttle_controller.dm
  code/datums/uplink/services.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/hologram.dm
  code/game/movietitles.dm
  code/game/objects/items/devices/uplink.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/mob_helpers.dm
  code/modules/modular_computers/NTNet/emails/email_account.dm
  code/modules/modular_computers/file_system/crew_record.dm
  code/modules/modular_computers/file_system/manifest.dm
  code/modules/modular_computers/file_system/programs/generic/deck_management.dm
  code/modules/modular_computers/file_system/programs/generic/records.dm
  code/modules/modular_computers/file_system/programs/generic/reports.dm
  code/modules/modular_computers/file_system/programs/security/digitalwarrant.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
  code/modules/modular_computers/file_system/reports/deck_reports.dm
  code/modules/modular_computers/file_system/reports/people.dm
  code/modules/modular_computers/file_system/reports/report.dm
  code/modules/modular_computers/file_system/reports/report_field.dm
  code/modules/nano/modules/nano_module.dm
  code/modules/shuttles/shuttle.dm
  code/modules/shuttles/shuttle_log.dm
  maps/torch/torch_shuttles.dm
  nano/templates/crew_records.tmpl
  nano/templates/deck_management.tmpl
  nano/templates/reports.tmpl
  nano/templates/uplink.tmpl
  test/check-paths.sh
Labels: Refactor, feature

#21469 Make carrots orange
  code/modules/hydroponics/seed_datums.dm
Labels: Lore approved

#21482 Nabber Fashions by Dukica
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/species/nabber/suit.dmi
Labels: Sprites, feature

#21484 [READY 4 REVIEW] Fixes multiple bugs with 3/4 sprites, adds alignments to consoles as well
  code/modules/overmap/ships/computers/engine_control.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/computers/shuttle.dm
  code/modules/tables/interactions.dm
  icons/obj/computer.dmi
  icons/obj/modular_console.dmi
  icons/obj/modular_laptop.dmi
  icons/obj/storage.dmi
Labels: Sprites

#21456 Remap toxins on the Petrov
  html/changelogs/HeyBanditoz - toxins.yml
  maps/torch/torch-1.dmm
Labels: Map, Ready for Review

#21182 Emergencies are now down to tango with multi-Z, and now satisfy a useful distance of coverage.
  code/modules/shieldgen/emergency_shield.dm
Labels: Fix, Tweak

#21479 Adds railings to the stairwells
  code/game/objects/structures/railing.dm
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
Labels: Lore approved, Map

#21496 Adds kimono.
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/onmob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Sprites, feature

#21455 Add ability to damage blast doors/shutters with objects
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/door.dm
Labels: feature

#21318 Nerfs ID cards
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/cards_ids_syndicate.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/computers/subtypes/dev_pda.dm
  html/changelogs/chinsky - whois.yml
  maps/torch/items/cards_ids.dm
Labels: Tweak

#21005 Adds a boombox
  baystation12.dme
  code/datums/music_tracks/wake.dm
  code/game/machinery/jukebox.dm
  code/game/objects/items/devices/boombox.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/boombox.dmi
  sound/music/wake.ogg
Labels: Sprites

#21497 Deck management fixes, round 2
  code/game/jobs/access.dm
  code/modules/modular_computers/file_system/programs/generic/deck_management.dm
  code/modules/modular_computers/file_system/reports/deck_reports.dm
  code/modules/modular_computers/file_system/reports/report.dm
  code/modules/modular_computers/file_system/reports/report_field.dm
  maps/torch/torch_shuttles.dm
  nano/templates/deck_management.tmpl
Labels: Map

#21512 Makes headset encryption keys less bad.
  code/game/objects/items/devices/radio/headset.dm
  maps/torch/items/headsets.dm
Labels: Map, Tweak

#21513 Fixes organ printer printing invisible organs.
  code/game/machinery/bioprinter.dm
  code/modules/organs/organ.dm
Labels: Fix

#21506 Cryo tube tweaks
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Ready for Review, Tweak

#21493 Rotates all mapped consoles
  maps/away/bearcat/bearcat-2.dmm
  maps/away/casino/casino.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/hydro/hydro.dmm
  maps/away/icarus/icarus-2.dmm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/lost_supply_base/lost_supply_base.dmm
  maps/away/magshield/magshield.dmm
  maps/away/mining/mining-signal.dmm
  maps/away/yacht/yacht.dmm
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
  maps/torch/torch-6.dmm
Labels: Map, Ready for Review

#21474 More Vending Machines take2
  code/game/machinery/vending.dm
  code/game/objects/items/trash.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
  icons/obj/lavatory.dmi
  icons/obj/trash.dmi
  icons/obj/vending.dmi
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
Labels: Map, Sprites, Tweak, feature

#21538 Fixes multiple runtimes with energy.dm
  code/modules/projectiles/projectile/energy.dm
Labels: Fix

#21488 Let borgs unlock and lock own panel
  code/modules/mob/living/silicon/robot/robot.dm
  html/changelogs/HeyBanditoz - borg_panel_locking.yml
Labels: Ready for Review

#21217 [ready for review] dynamic light colors
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/turfs/simulated/wall_types.dm
  code/modules/power/lighting.dm
  icons/obj/doors/edge_Doorfire.dmi
  icons/obj/lighting.dmi
Labels: Ready for Review, Sprites, feature

#21539 Destroyed turrets are now climbable
  code/game/machinery/portable_turret.dm
  html/changelogs/HeyBanditoz - turrets_climbable.yml
Labels: Ready for Review

#21540 Fixes fake crew announcements.
  code/datums/uplink/services.dm
Labels: Fix

#21543 fixes #20383
  code/modules/spells/contracts.dm
Labels: Fix

#21556 Fixes "3" when placed on surgery table
  code/game/machinery/OpTable.dm
Labels: Fix

#21572 Quick fix for lighting size revert.
  code/modules/power/lighting.dm
Labels: Fix, Revert/Removal

#21557 Actually fixes whispering encoding.
  code/modules/mob/mob_helpers.dm
Labels: Fix

#21415 Adds lore to Torch
  code/game/gamemodes/game_mode.dm
  code/modules/client/client_procs.dm
  maps/torch/torch_define.dm
Labels: Map, Ready for Review

#21568 Broken icon fixes
  code/game/machinery/vending.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/mob/onmob/items/lefthand_guns_secure.dmi
  icons/mob/onmob/items/righthand_guns_secure.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/food.dmi
  icons/obj/storage.dmi
Labels: Sprites, Work In Progress

#21491 [Ready] Ports oxycandles from Aurora
  baystation12.dme
  code/__defines/turfs.dm
  code/game/objects/items/devices/oxycandle.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/unsimulated/beach.dm
  code/modules/research/designs.dm
  html/changelogs/sindorman-oxycandle.yml
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/device.dmi
Labels: Ready for Review, Sprites

#21569 Fixes encoding issues with crew records and savefiles.
  code/modules/client/preference_setup/general/05_background.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
Labels: Fix, Ready for Review

#21443 D4 main docks & mercenaries shuttle
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/icarus/icarus-2.dmm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/lost_supply_base/lost_supply_base.dmm
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-6.dmm
Labels: Fix, Map

#21579 Fixes teleporters
  code/game/machinery/teleporter.dm
  maps/torch/torch-1.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-5.dmm
Labels: Map

#21585 Adds missing uniform definition for off-duty EC officers
  maps/torch/datums/uniforms_expedition.dm
Labels: Fix, Map

#21586 Replaces the Research Server with a Reel to Reel data bank.
  icons/obj/machines/research.dmi
Labels: Sprites

#21608 Readds helm computer screen
  icons/obj/computer.dmi
Labels: Sprites

#21607 research server (and vending machine) icon fix
  icons/obj/machines/research.dmi
  icons/obj/vending.dmi
Labels: Sprites

#21609 Updates Fax Machine Icon and path
  code/modules/paperwork/faxmachine.dm
  icons/obj/bureaucracy.dmi
  icons/obj/library.dmi
Labels: Sprites, Tweak

#21622 Fix floating light in D3 saferoom
  maps/torch/torch-2.dmm
Labels: Fix, Map

#21626 Makes the amputation text larger (for the surgeon)
  code/modules/surgery/generic.dm
Labels: Tweak

#21595 Fixes some recently reported bugs.
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/stacks/stack.dm
  code/modules/modular_computers/file_system/programs/generic/deck_management.dm
  nano/templates/communication.tmpl
Labels: Fix

#21267 Makes it possible to secure all the gun
  baystation12.dme
  code/datums/supplypacks/security.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/modular_computers/file_system/programs/security/forceauthorization.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/secure.dm
  code/modules/projectiles/secure.dm
  maps/torch/datums/supplypacks/security.dm
  maps/torch/structures/closets/command.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/structures/closets/security.dm
  maps/torch/torch-2.dmm
  maps/torch/torch-4.dmm
Labels: Map, Ready for Review, Refactor

#21625 Report Editor impovements.
  baystation12.dme
  code/__defines/misc.dm
  code/_helpers/sanitize_values.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/file_system/computer_file.dm
  code/modules/modular_computers/file_system/programs/generic/reports.dm
  code/modules/modular_computers/file_system/reports/deck_reports.dm
  code/modules/modular_computers/file_system/reports/report.dm
  code/modules/modular_computers/file_system/reports/report_field.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  code/unit_tests/garbage_tests.dm
  code/unit_tests/unit_test.dm
  maps/torch/datums/reports.dm
  maps/torch/torch.dm
  nano/templates/reports.tmpl
Labels: Map, feature

#21627 Trauma packs now start in stacks of 10 (up from 5)
  code/game/objects/items/stacks/medical.dm
Labels: Tweak

#21297 Lets you amputate ass
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/nabber.dm
  code/modules/organs/external/standard.dm
Labels: Ready for Review

#21640 Remove tele beacons from some high sec areas.
  html/changelogs/HeyBanditoz - high_security.yml
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
Labels: Map

#21624 Prevent ID computers from modifying off-duty IDs
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
  maps/torch/items/cards_ids.dm
Labels: Map, Tweak
