Repository Baystation12/Baystation12, pull requests merged in 2018-07, with the labels that each got.

#22040 Adds reports and deck management to programs on spawn for some jobs.
  code/modules/modular_computers/file_system/programs/generic/reports.dm
  maps/torch/job/jobs.dm
Labels: Map

#22068 Waddling
  baystation12.dme
  code/modules/admin/secrets/fun_secrets/waddle.dm
Labels: Ready for Review

#22021 Replaces trainee alt-titles with actual jobs.
  maps/torch/icons/assignment_hud.dmi
  maps/torch/job/jobs.dm
  maps/torch/loadout/_defines.dm
Labels: Map, Tweak

#22050 Breaking up sprite accessories and making them inherit properly.
  baystation12.dme
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/lizard.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/organs/external/head.dm
  code/modules/sprite_accessories/_accessory.dm
  code/modules/sprite_accessories/_accessory_facial.dm
  code/modules/sprite_accessories/_accessory_hair.dm
  code/modules/sprite_accessories/_accessory_markings.dm
  code/modules/sprite_accessories/_accessory_skin.dm
  code/modules/sprite_accessories/accessory_ipc.dm
  code/modules/sprite_accessories/accessory_skrell.dm
  code/modules/sprite_accessories/accessory_tajara.dm
  code/modules/sprite_accessories/accessory_unathi.dm
  code/modules/sprite_accessories/accessory_vox.dm
  icons/mob/human_face.dmi
  icons/mob/human_races/markings.dmi
  icons/mob/human_races/species/diona/eyes.dmi
  icons/mob/human_races/species/eyes.dmi
  icons/mob/human_races/species/lips.dmi
  icons/mob/human_races/species/unathi/eyes.dmi
  icons/mob/human_races/species/xenos/r_xenos_drone.dmi
  icons/mob/human_races/species/xenos/r_xenos_hunter.dmi
  icons/mob/human_races/species/xenos/r_xenos_queen.dmi
  icons/mob/human_races/species/xenos/r_xenos_sentinel.dmi
  icons/mob/lizard_face.dmi
Labels: Sprites

#22053 Tweaks IV drip detaching and two sprites; Hot Foods Display now accepts utensils
  code/game/machinery/kitchen/smartfridge.dm
  code/game/objects/structures/iv_drip.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/iv_drip.dmi
Labels: Sprites, Tweak, feature

#22082 Fixes botanical satchel lag.
  code/game/machinery/biogenerator.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/mob.dm
Labels: Fix

#21973 Converts marooned away mission to planet ruin
  baystation12.dme
  code/modules/overmap/exoplanets/desert.dm
  code/modules/overmap/exoplanets/grass.dm
  code/modules/overmap/exoplanets/snow.dm
  maps/away/marooned/marooned.dm
  maps/away/marooned/marooned.dmm
  maps/away/marooned/marooned_areas.dm
  maps/away/marooned/marooned_sprites.dmi
  maps/away_sites_testing/away_sites_testing.dm
  maps/away_sites_testing/away_sites_testing_unit_testing.dm
  maps/overmap_example/overmap_unit_testing.dm
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dm
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dmm
  maps/random_ruins/exoplanet_ruins/marooned/marooned_icons.dmi
  maps/torch/torch.dm
  maps/torch/torch_unit_testing.dm
  maps/~mapsystem/maps_unit_testing.dm
Labels: Map, Ready for Review, cannot merge ☠

#21964 Add ability for edged weapons to cut wires
  code/modules/power/cable.dm
Labels: Ready for Review, Tweak, feature

#22108 Add config option to disable LOOC by default
  baystation12.dme
  code/controllers/configuration.dm
  config/example/config.txt
Labels: Config Update

#22107 Spawns a wheelchair for characters that can't walk
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/mob/new_player/new_player.dm
Labels: Fix

#22114 Fix yellow pouch torn icon state name
  icons/obj/med_pouch.dmi
Labels: Sprites

#22126 Some inventory change fixes.
  code/game/antagonist/antagonist_equip.dm
  code/game/gamemodes/godmode/god_altar.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
Labels: Fix

#22122 Fixes airlock brace not being moved into airlock
  code/game/machinery/doors/airlock.dm
Labels: Fix

#22074 Flash rounds buff.
  code/datums/supplypacks/security.dm
  code/game/machinery/autolathe_datums.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/projectile/energy.dm
  maps/torch/datums/supplypacks/security.dm
Labels: Map, Ready for Review

#22135 fixes paper bundles
  code/modules/paperwork/carbonpaper.dm
  code/modules/paperwork/paper_bundle.dm
Labels: Fix

#22152 Adds a ping button to the file menu.
  interface/skin.dmf
Labels: feature

#22162 Permit myself to ignore OOC
  code/datums/communication/channel.dm
Labels: adminbus

#22165 Standardizes BO/CoS lockers
  maps/torch/structures/closets/security.dm
Labels: Map, Revert/Removal, Tweak

#22141 Additions and fixes for the king of goats
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
  icons/mob/animal.dmi
Labels: Sprites, Tweak, feature

#22170 Nerfs pathfinder
  maps/torch/job/jobs.dm
Labels: Map, Tweak

#22183 Fix simple animals and AI confused/blurry
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#22024 Nabber powers now reside on their organs.
  baystation12.dme
  code/_onclick/hud/action.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/human_skin.dm
  code/modules/mob/living/carbon/human/species/station/nabber.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/login.dm
  code/modules/organs/external/species/nabber.dm
  code/modules/organs/external/species/nabber_camo.dm
  code/modules/organs/external/species/nabber_stance.dm
  code/modules/organs/external/species/nabber_threat.dm
  code/modules/organs/external/standard.dm
  code/modules/organs/internal/species/nabber.dm
  code/modules/organs/organ.dm
  icons/obj/action_buttons/actions.dmi
  icons/obj/action_buttons/organs.dmi
Labels: Ready for Review, Sprites

#22182 Fix OOC ignoring
  code/datums/communication/channel.dm
  code/modules/admin/admin.dm
Labels: Fix, Ready for Review

#22016 ERT Changes: second attempt
  code/game/antagonist/outsider/ert.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  maps/torch/items/clothing/solgov-under.dm
  maps/torch/job/outfits.dm
  maps/torch/torch-6.dmm
  maps/torch/torch_antagonism.dm
Labels: Map, Tweak

#22204 Fix mobs being able to control other mobs while inside them
  code/datums/movement/atom_movable.dm
  code/datums/movement/movement.dm
  code/modules/mob/living/carbon/alien/diona/diona_powers.dm
Labels: Fix

#22099 Reconfigure permissions for tactical equipment
  code/modules/client/preference_setup/loadout/lists/tactical.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_suit.dm
Labels: Map, Ready for Review, Tweak

#22199 All maintenance airlocks now require maint access.
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
Labels: Map, Tweak

#22213 Some map fixes.
  maps/away/lar_maria/lar_maria-1.dmm
  maps/torch/torch-1.dmm
Labels: Map

#22215 Reconfigure tactical loadout again
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_suit.dm
Labels: Map

#22209 Fixes windows not connecting under special circumstances
  code/game/objects/structures.dm
  code/game/objects/structures/window.dm
Labels: Fix

#22190 Make ladders work on open spaces instead of floors
  code/modules/multiz/movement.dm
  code/modules/multiz/structures.dm
  code/unit_tests/map_tests.dm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
Labels: Map, Ready for Review

#21985 [Ready] Self destructing now spawns explosions after a cutoff is reached.
  code/game/machinery/nuclear_bomb.dm
Labels: Ready for Review

#22222 Nerf spellbound servant familiars
  code/modules/spells/targeted/shapeshift.dm
Labels: Balance/Rebalance

#22225 Garbage tweaks
  code/game/objects/structures/rubble.dm
  code/game/turfs/simulated/floor_static.dm
  code/game/turfs/simulated/wall_types.dm
  code/modules/materials/material_sheets.dm
  code/modules/materials/materials.dm
  code/modules/overmap/exoplanets/garbage.dm
  code/modules/radiation/radiation.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  html/changelogs/chinsky - trashheap.yml
  icons/obj/items.dmi
  icons/obj/rubble.dmi
  maps/random_ruins/exoplanet_ruins/monoliths/monoliths.dm
Labels: Map, Sprites

#21871 Adds artifacts specific to a new deity form
  baystation12.dme
  code/datums/extensions/deity_be_near.dm
  code/game/gamemodes/godmode/form_items/starlight_items.dm
  code/game/gamemodes/godmode/form_items/starlight_structures.dm
  code/game/objects/auras/aura.dm
  code/game/objects/auras/blueforge_aura.dm
  code/game/objects/auras/personal_shields/personal_shield.dm
  code/game/objects/auras/radiant_aura.dm
  code/game/objects/auras/shadowling_aura.dm
  code/modules/projectiles/guns/energy/special.dm
  icons/mob/onmob/head.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/rings.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/weapons.dmi
  icons/obj/wizard.dmi
Labels: Ready for Review, Sprites

#22175 [Ready] Plated Catwalk Servicing
  code/game/objects/structures/catwalk.dm
Labels: feature

#22229 Changes robotics maintenance airlock access
  maps/torch/torch-4.dmm
Labels: Map, Tweak

#22220 New chair sprites
  code/game/objects/structures/noticeboard.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/materials.dm
  icons/obj/furniture.dmi
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
Labels: Map, Ready for Review, Sprites

#22168 [Ready] Belt and Holster Overhaul
  baystation12.dme
  code/__defines/items_clothing.dm
  code/datums/extensions/holster/holster.dm
  code/datums/outfits/spec_op.dm
  code/datums/supplypacks/operations.dm
  code/datums/supplypacks/security.dm
  code/datums/trading/goods.dm
  code/datums/trading/weaponry.dm
  code/game/antagonist/outsider/raider.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/client/preference_setup/loadout/lists/tactical.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/mob/living/living.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  icons/mob/onmob/belt.dmi
  icons/mob/onmob/belt_mirror.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/belts_overlays.dmi
  maps/torch/datums/supplypacks/security.dm
  maps/torch/structures/closets/command.dm
  maps/torch/structures/closets/engineering.dm
  maps/torch/structures/closets/exploration.dm
  maps/torch/structures/closets/medical.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/structures/closets/research.dm
  maps/torch/structures/closets/security.dm
  maps/torch/structures/closets/supply.dm
  maps/torch/torch-4.dmm
  maps/torch/torch-6.dmm
Labels: Map, Sprites

#22144 Adds the volleyball court & cafe to holodeck
  code/game/turfs/flooring/flooring_decals.dm
  code/modules/holodeck/HolodeckObjects.dm
  icons/misc/beach.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/basketball.dmi
  maps/torch/torch-6.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_holodecks.dm
Labels: Map, Ready for Review, Sprites

#22177 Adjust how ghosts see messages
  code/modules/mob/hear_say.dm
  code/modules/mob/mob.dm
Labels: Ready for Review

#22238 Removes Diona from RD & Liason
  maps/torch/job/jobs.dm
Labels: Map, Revert/Removal, Tweak

#22246 Fix fire alarm, add KoG pixel offsets
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
  maps/torch/torch-4.dmm
Labels: Map

#22174 Small robot QoL changes
  code/game/turfs/turf.dm
  code/modules/power/cable.dm
Labels: Tweak

#22255 speculative fix 22254
  code/modules/mob/mob.dm
Labels: Fix

#22251 Belt bugfixes
  code/datums/extensions/holster/holster.dm
  icons/mob/onmob/belt.dmi
  maps/torch/torch-4.dmm
Labels: Map, Sprites

#22250 Add some lights to dark spots in hallways; intercom icon tweak
  icons/obj/furniture.dmi
  icons/obj/monitors.dmi
  icons/obj/radio.dmi
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
Labels: Fix, Map, Sprites

#22245 Make boomboxes play speed adjustable
  code/_macros.dm
  code/game/objects/items/devices/boombox.dm
  code/game/objects/topic.dm
  code/modules/nano/interaction/physical.dm
Labels: feature

#22273 Modify the changelog header & credits
  html/changelog.html
  html/templates/header.html
Labels: Tweak

#22276 Fixes #22266
  code/game/objects/auras/regenerating_aura.dm
Labels: Fix

#22248 Return robotic checks to implants
  code/modules/surgery/implant.dm
Labels: Tweak

#22169 Moves pilot to exploration, prospector to supply
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/onmob/head.dmi
  icons/obj/clothing/hats.dmi
  maps/torch/icons/assignment_hud.dmi
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/encryption_keys.dm
  maps/torch/items/headsets.dm
  maps/torch/job/jobs.dm
  maps/torch/job/outfits.dm
  maps/torch/torch-1.dmm
Labels: Map, Ready for Review, Sprites

#22297 Changes heads' offices' chairs
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
Labels: Map

#22287 Map tweaks & potential bugfix (take two)
  html/changelogs/zaredman-red-tweaks-maps.yml
  maps/torch/structures/closets/medical.dm
  maps/torch/torch-4.dmm
Labels: Map

#22278 Adds bowman headset for SEA and fixes COS' headset icon
  maps/torch/items/headsets.dm
  maps/torch/structures/closets/command.dm
  maps/torch/structures/closets/misc.dm
Labels: Map

#22096 New research concept: Uncertified robot modules.
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/weapons/clown_items.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/research/designs.dm
  code/modules/research/mechfab_designs.dm
  icons/effects/lens_flare.dmi
  icons/mob/screen1_robot.dmi
  icons/obj/items.dmi
  icons/obj/lighting.dmi
  icons/obj/module.dmi
  sound/items/air_horn_1.ogg
  sound/items/air_horn_2.ogg
Labels: Ready for Review, Sprites

#22300 Minor cell charger resprite, enbiggen boombox window
  code/game/objects/items/devices/boombox.dm
  icons/obj/power.dmi
Labels: Sprites

#22312 removes inspector general, RCON access from SCGR
  maps/torch/job/jobs.dm
Labels: Map, Revert/Removal, Tweak

#22317 Expands forensic swabbing powers
  code/modules/detectivework/tools/swabs.dm
Labels: Tweak

#22318 Swabbing a person with gloves will now swab gloves
  code/modules/detectivework/tools/swabs.dm
Labels: Tweak

#22316 Gives forensics secbelt back
  maps/torch/structures/closets/security.dm
Labels: Map, Tweak

#22259 Add functionality to construct and move plastic flaps
  code/game/objects/structures/plasticflaps.dm
  code/modules/materials/material_recipes.dm
  maps/torch/torch-1.dmm
Labels: Map, Ready for Review, feature

#22203 Diona changes.
  baystation12.dme
  code/game/turfs/flooring/flooring.dm
  code/modules/emotes/definitions/_mob.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/materials/materials.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/diona/_nymph.dm
  code/modules/mob/living/carbon/alien/diona/diona.dm
  code/modules/mob/living/carbon/alien/diona/diona_attacks.dm
  code/modules/mob/living/carbon/alien/diona/diona_powers.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/_gestalt.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/gestalt_attacks.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/gestalt_movement.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/gestalt_nymph.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/gestalt_turfs.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/gestalt_verbs.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/gestalt_vote.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/gestalt_vote_types.dm
  code/modules/mob/living/carbon/alien/diona/life.dm
  code/modules/mob/living/carbon/alien/diona/nymph_attacks.dm
  code/modules/mob/living/carbon/alien/diona/nymph_chemistry.dm
  code/modules/mob/living/carbon/alien/diona/nymph_death.dm
  code/modules/mob/living/carbon/alien/diona/nymph_gestalting.dm
  code/modules/mob/living/carbon/alien/diona/nymph_holder.dm
  code/modules/mob/living/carbon/alien/diona/nymph_inventory.dm
  code/modules/mob/living/carbon/alien/diona/nymph_life.dm
  code/modules/mob/living/carbon/alien/diona/nymph_ui.dm
  code/modules/mob/living/carbon/alien/diona/nymph_update_icons.dm
  code/modules/mob/living/carbon/alien/diona/progression.dm
  code/modules/mob/living/carbon/alien/diona/say_understands.dm
  code/modules/mob/living/carbon/alien/diona/~diona.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/alien/larva/life.dm
  code/modules/mob/living/carbon/alien/larva/progression.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/alien/progression.dm
  code/modules/mob/living/carbon/alien/update_icons.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/organs/external/head.dm
  code/modules/organs/external/species/diona.dm
  code/modules/organs/external/species/skrell.dm
  html/changelogs/zuhayr-chirp.yml
  icons/mob/alien.dmi
  icons/mob/gestalt.dmi
  icons/mob/human_races/species/diona/body.dmi
  icons/mob/human_races/species/diona/eyes.dmi
  icons/prototype.dmi
  icons/turf/doona.dmi
  icons/turf/floors.dmi
  icons/turf/wall_masks.dmi
Labels: Sprites

#22307 Gives Chief of Security hangar access & map edit.
  html/changelogs/zaredman-instead-of-a-doorbell.yml
  maps/torch/job/jobs.dm
  maps/torch/torch-1.dmm
Labels: Map

#22224 Adds alert status warning to title screen
  code/datums/security_state.dm
  code/modules/mob/new_player/login.dm
  maps/torch/torch_security_state.dm
Labels: Map, Ready for Review, feature

#22326 Changes Colonial Marshal references to Office of Civil Investigation and Enforcement.
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/paperwork/faxmachine.dm
  html/changelogs/zaredman-we-agents-now.yml
  icons/mob/onmob/suit.dmi
  icons/mob/onmob/ties.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/ties.dmi
  maps/torch/job/jobs.dm
  maps/torch/job/outfits.dm
  maps/torch/torch_ranks.dm
  news_articles/space_magazine_6.html
Labels: Map, Ready for Review, Sprites

#22354 Restricts SolGov medals by branch instead of role
  maps/torch/loadout/loadout_accessories.dm
Labels: Map

#22361 Adds Hephaestus Alt Optics
  code/modules/sprite_accessories/accessory_ipc.dm
  icons/mob/human_races/species/default_markings.dmi
Labels: Sprites, feature

#22363 Adds stok/neaera/farwa cubes to Viro.
  html/changelogs/zaredman-for-those-hard-to-reach-diseases.yml
  maps/torch/torch-4.dmm
Labels: Map

#22301 Added submaps as an alternative to latejoining the main map.
  baystation12.dme
  code/controllers/subsystems/mapping.dm
  code/datums/outfits/pirates.dm
  code/game/gamemodes/game_mode_latespawn.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job_controller.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/submaps/_submap.dm
  code/modules/submaps/submap_archetype.dm
  code/modules/submaps/submap_job.dm
  code/modules/submaps/submap_join.dm
  code/modules/submaps/submap_landmark.dm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_jobs.dm
  maps/example/example_jobs.dm
  maps/torch/torch_ranks.dm
  maps/~mapsystem/maps.dm
Labels: Map

#22367 Restore access requirements for supply office
  maps/torch/torch-1.dmm
Labels: Map

#22366 Updates the merchant's ship
  maps/torch/torch-6.dmm
Labels: Map

#22347 Fix being able to insert any item into the uniform vendor
  maps/torch/items/uniform_vendor.dm
Labels: Map, Ready for Review

#22392 Fixes compile issue with ORGAN_ROBOT.
  code/datums/repositories/crew/binary.dm
  code/datums/repositories/crew/vital.dm
Labels: priority: high ⚠

#22373 Cleans up Bearcat.
  code/game/antagonist/antagonist_helpers.dm
  code/modules/admin/admin_verbs.dm
  code/modules/submaps/_submap.dm
  code/modules/submaps/submap_job.dm
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_access.dm
  maps/away/bearcat/bearcat_jobs.dm
Labels: Map

#22389 Make some miscellaneous changes
  code/game/antagonist/station/renegade.dm
  code/game/objects/structures/fountain.dm
  maps/torch/icons/mob/solgov-under.dmi
Labels: Map

#22391 Lets forensics notice evidence sources
  code/modules/detectivework/forensics.dm
  code/modules/mob/skills/skill.dm
Labels: Update Wiki after Merge, feature

#22404 OCIE-Related Holowarrant Change
  code/game/objects/items/devices/holowarrant.dm
  html/changelogs/zaredman-more-ocie-things.yml
  maps/torch/job/jobs.dm
Labels: Map, Revert/Removal, feature

#22299 Allows EC and Fleet to be shuttle pilots
  code/modules/clothing/head/helmet.dm
  icons/mob/onmob/head.dmi
  icons/obj/clothing/hats.dmi
  maps/torch/icons/mob/solgov-head.dmi
  maps/torch/icons/obj/solgov-head.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/machinery.dm
  maps/torch/job/access.dm
  maps/torch/job/jobs.dm
  maps/torch/job/outfits.dm
  maps/torch/structures/closets/exploration.dm
  maps/torch/torch-1.dmm
Labels: Map, Ready for Review, Sprites, Tweak

#22409 Removes excessive items from NTL and SCGR
  maps/torch/job/outfits.dm
  maps/torch/structures/closets/misc.dm
Labels: Map, Revert/Removal

#22408 Tweaks gestalt spell.
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/item_worth/materials.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/gestalt_turfs.dm
  code/modules/spells/racial_wizard.dm
Labels: Fix

#22378 Disallows choosing above Trained in non-generic job-unrelated skills.
  code/modules/client/preference_setup/occupation/skill_selection.dm
  code/modules/mob/skills/skill.dm
  maps/torch/job/jobs.dm
Labels: Map, Tweak

#22435 Fixes #22432
  code/modules/surgery/organs_internal.dm
Labels: priority: high ⚠

#22413 Removes E5 from Senior Engineer, Deck Officer, and Brig Officer
  maps/torch/job/jobs.dm
Labels: Lore approved, Map, Tweak, Update Wiki after Merge

#22437 Fixes for some belt icons
  icons/mob/onmob/belt.dmi
Labels: Sprites

#22294 Fixes some nanoui runtimes.
  code/modules/nano/nanoui.dm
Labels: Fix

#22417 Makes stack construction use the construction skill.
  baystation12.dme
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/hydroponics/beekeeping/beehive.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/materials.dm
  code/modules/materials/recipes_furniture.dm
  code/modules/materials/recipes_items.dm
  code/modules/materials/recipes_stacks.dm
  code/modules/materials/recipes_storage.dm
  code/modules/materials/recipes_structures.dm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/torch/torch-4.dmm
Labels: Map, Tweak, feature

#22420 Adds 'Jump-to-next-nymph' verb for diona
  code/modules/mob/living/carbon/alien/diona/_nymph.dm
  code/modules/mob/living/carbon/alien/diona/nymph_death.dm
  code/modules/mob/living/carbon/alien/diona/nymph_gestalting.dm
  html/changelogs/sicktrigger-nymphjump.yml
Labels: Fix

#22445 Another nanoui fix.
  code/modules/nano/nanoui.dm
Labels: Fix

#22410 Shuttle Pilot Tweaks
  maps/torch/items/headsets.dm
  maps/torch/job/jobs.dm
  maps/torch/job/outfits.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_head.dm
  maps/torch/structures/closets/exploration.dm
  maps/torch/torch-1.dmm
Labels: Map, Tweak

#22449 Adds sound to power failure event for APCs, increases light power
  code/modules/power/apc.dm
Labels: Tweak

#22386 maint drone law friendliness & disambiguation
  code/datums/ai_law_sets.dm
Labels: Tweak, Update Wiki after Merge

#22286 Adds Adherents and the Vigil.
  baystation12.dme
  code/__defines/languages.dm
  code/__defines/mobs.dm
  code/_global_vars/lists/objects.dm
  code/modules/mob/language/adherent.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/station/adherent.dm
  code/modules/organs/external/species/adherent.dm
  code/modules/organs/internal/species/adherent.dm
  code/modules/organs/internal/species/fbp.dm
  code/stylesheet.dm
  icons/mob/human_races/species/adherent/blood_mask.dmi
  icons/mob/human_races/species/adherent/body.dmi
  icons/mob/human_races/species/adherent/damage_mask.dmi
  icons/mob/human_races/species/adherent/damage_overlay.dmi
  icons/mob/human_races/species/adherent/eyes.dmi
  icons/mob/human_races/species/adherent/organs.dmi
  icons/mob/human_races/species/adherent/preview.dmi
  icons/mob/human_races/species/adherent/template.dmi
  icons/obj/action_buttons/organs.dmi
Labels: Sprites

#22462 Prevents crewmembers from choking on poop fumes
  maps/torch/torch-2.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
Labels: Fix, Map

#22469 Replaces unary vent in Xenoflora with a gas injector.
  maps/torch/torch-4.dmm
Labels: Map

#22473 Brings CE_SPEEDBOOST into line with CE_SLOWDOWN.
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Fix

#22474 Make the abolition extremists less extreme
  maps/away/slavers/slavers_base.dm
Labels: Map

#22457 System/faction selection updates.
  maps/torch/torch_define.dm
Labels: Awaiting Lore ✎, Map, Tweak

#22465 Changes "Nurse" alt-title to "Nursing Assistant"
  maps/torch/job/jobs.dm
Labels: Awaiting Lore ✎, Map, Tweak

#22487 Fixes apc frames and other stuff not showing up on build list.
  code/modules/materials/recipes_items.dm
Labels: Fix
