Repository Baystation12/Baystation12, pull requests merged in 2019-10, with the labels that each got.

#27197 Sets minimal character ages for jobs
  code/game/jobs/job/job.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/submaps/submap_job.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: Feature, Map

#27147 Ascent Lepidoptera Remap and Dock Fixes
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent_areas.dm
  maps/away/ascent/ascent_shuttles.dm
Labels: Fix, Map

#27090 Adds skill descriptions to Codex
  baystation12.dme
  code/modules/codex/categories/category_skills.dm
Labels: Feature

#27211 Makes the labcoat only available to Scientists and Doctors
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_suit.dm
  maps/torch/loadout/~defines.dm
  maps/torch/structures/closets/medical.dm
Labels: Map, Tweak

#27135 Fixed Jani/Medibot crafting
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/crafting/_crafting_stage.dm
  code/modules/crafting/crafting_medibot.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  icons/obj/crafting_icons.dmi
Labels: Fix, Sprites

#27204 Random ion pistol resprite
  icons/obj/guns/ion_pistol.dmi
Labels: Sprites

#27196 Chemist Job Changes and Alt Title Tweaking
  code/datums/supplypacks/medical.dm
  code/game/jobs/job/medical.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/jobs/medsci.dm
  icons/mob/hud.dmi
  maps/torch/icons/assignment_hud.dmi
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
Labels: Map, Revert/Removal, Sprites, Tweak

#27210 Random explo shotgun resprite
  maps/torch/icons/obj/explshotgun.dmi
Labels: Map

#27224 Disables Highlander job assignment mode
  code/controllers/subsystems/jobs.dm
Labels: Fix

#27228 Fixed transferring reagents between glass
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/storage.dm
Labels: Fix

#27223 Increases maximum Gyne lineage position to 999
  maps/away/ascent/ascent_jobs.dm
Labels: Map

#27237 Couple computer fixes and tweaks
  code/__defines/misc.dm
  code/game/objects/items/weapons/circuitboards/computer/modular.dm
  code/modules/modular_computers/file_system/programs/generic/ntdownloader.dm
Labels: Fix

#27031 Random multiz tweakery
  code/__defines/flags.dm
  code/_onclick/other_mobs.dm
  code/game/objects/structures/catwalk.dm
  code/game/objects/structures/lattice.dm
  code/modules/multiz/movement.dm
  code/modules/multiz/structures.dm
Labels: Tweak

#27241 Buffs Stabilization Kits Slightly
  code/game/objects/items/weapons/storage/firstaid.dm
Labels: Tweak

#27101 Port TGstation's Spirit Board
  baystation12.dme
  code/game/machinery/vending.dm
  code/game/objects/items/spirit_board.dm
  icons/obj/objects.dmi
  maps/torch/torch3_deck3.dmm
Labels: Feature, Map, Ready for Review, Sprites

#27194 Change Kabobs, Steaks to use Cutlets
  code/modules/food/recipes_microwave.dm
Labels: Tweak, Update Wiki after Merge

#27260 Improve flare activation sanity check
  code/game/objects/items/devices/flashlight.dm
Labels: Fix

#27261 Fix mouse trap HitBy sending incorrect argument
  code/modules/assembly/mousetrap.dm
Labels: Fix

#27278 More Labcoat Restrictions
  code/modules/client/preference_setup/loadout/lists/suits.dm
  maps/torch/loadout/loadout_suit.dm
Labels: Map

#27288 Shows recipies that you lack skills for
  code/game/objects/items/stacks/stack.dm
Labels: Tweak

#27298 Default aim mode tweak
  code/_onclick/hud/gun_mode.dm
  code/modules/projectiles/targeting/targeting_overlay.dm
Labels: Tweak

#27297 EVA skill tweak
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Tweak

#27302 Fleet tatters
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/icons/obj/obj_under_solgov.dmi
Labels: Map, Tweak

#27266 Adds exosuit shields, fixes issue with auras not calling proc
  code/game/objects/auras/aura.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mechs/interface/screen_objects.dm
  code/modules/mechs/premade/heavy.dm
  code/modules/research/designs/designs_mechfab.dm
  icons/mecha/mech_equipment.dmi
  icons/mecha/mech_weapon_overlays.dmi
  icons/mecha/shield.dmi
Labels: Feature, Sprites

#27315 Small map tweaks
  maps/torch/torch2_deck4.dmm
  maps/torch/torch4_deck2.dmm
Labels: Map

#27317 rejuvenate removes undislocate verb from mob
  code/modules/mob/living/carbon/human/human_damage.dm
Labels: Revert/Removal

#27314 Adds planetary rings to planet icons
  code/modules/overmap/exoplanets/exoplanet.dm
  icons/skybox/planet_rings.dmi
Labels: Sprites

#27313 Fixes uniform vendor sprite on deck 3
  maps/torch/torch3_deck3.dmm
Labels: Map

#27306 Renames OCIE to SFP
  code/_helpers/text.dm
  code/game/objects/items/devices/holowarrant.dm
  code/modules/client/client_procs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/codex/entries/paperwork.dm
  code/modules/culture_descriptor/location/locations_human.dm
  code/modules/paperwork/adminpaper.dm
  code/modules/paperwork/faxmachine.dm
  html/images/sfplogo.png
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/job/outfits/security_outfits.dm
  maps/torch/loadout/loadout_suit.dm
  maps/torch/torch_ranks.dm
  news_articles/space_magazine_6.html
Labels: Lore approved, Map, Tweak

#27319 Removes corpsec beret from loadout
  code/modules/client/preference_setup/loadout/lists/headwear.dm
Labels: Revert/Removal

#27284 Add plasma cutter crate + minor tweaks & fixes [Ready]
  code/datums/supplypacks/operations.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/skills/skill.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Feature, Ready for Review, Tweak

#27117 Turf Click Interception
  baystation12.dme
  code/datums/extensions/on_click/turf_hand.dm
  code/game/gamemodes/cult/runes.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/structures/curtains.dm
  code/game/turfs/turf.dm
  code/modules/multiz/structures.dm
  code/modules/turbolift/turbolift_console.dm
Labels: Ready for Review

#27337 Catches nulled lists when making food in microwaves
  code/datums/recipe.dm
Labels: Fix

#27336 updates holopad sprite
  icons/obj/stationobjs.dmi
Labels: Sprites

#27333 Fixes rotations for watercooler and coffee vendors
  maps/torch/torch3_deck3.dmm
Labels: Map

#27328 Minor pai fixes
  code/modules/mob/living/silicon/pai/pai.dm
Labels: Fix

#27280 Counselor's Remap
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
Labels: Map

#27245 Refactor Overmap Hazards (To prep for moving hazards) [Despaghettified/READY]
  code/modules/overmap/disperser/disperser_fire.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/ship.dm
Labels: Refactor

#27258 Firefighting equipment
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/tools/crowbar.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/objects/structures/inflatable.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/shoes/jobs.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/under/accessories/clothing.dm
  code/modules/mob/living/carbon/human/life.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/onmob_accessories.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_accessories.dmi
  icons/obj/clothing/obj_belt.dmi
  icons/obj/clothing/obj_belt_overlays.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/grenade.dmi
  icons/obj/tank.dmi
  icons/obj/tools.dmi
  maps/torch/structures/closets/engineering.dm
Labels: Feature, Map, Sprites, Tweak

#27345 Camera, Airlock Name adjustments
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#27351 Pylon update
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/godmode/god_pylon.dm
  icons/obj/cult.dmi
  icons/obj/pylon.dmi
Labels: Sprites

#27352 Various sprite updates
  code/game/objects/items/weapons/material/bell.dm
  icons/obj/objects.dmi
  icons/obj/stationobjs.dmi
Labels: Sprites

#27334 new fridge sprites
  icons/obj/closets/fridge.dmi
Labels: Sprites

#27343 Changes to adjacency, more exo code
  code/_onclick/adjacent.dm
  code/_onclick/click.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/mechs/mech_interaction.dm
Labels: Feature

#27370 Fix Crafting Floorbots
  code/modules/crafting/crafting_floorbot.dm
Labels: Fix

#27359 Somethings I missed for #27345
  maps/torch/torch3_deck3.dmm
Labels: Map

#27249 Personal closets and runtime fix
  code/game/objects/items/weapons/towels.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/modules/augment/simple.dm
  code/modules/nano/interaction/physical.dm
Labels: Fix

#27144 Added some projectile impact effects
  baystation12.dme
  code/__defines/guns.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/temporaray.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/organs/blood.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/effects/blood.dmi
  icons/effects/bloodspatter.dmi
  sound/effects/projectile_impact/bullet_meat1.ogg
  sound/effects/projectile_impact/bullet_meat2.ogg
  sound/effects/projectile_impact/bullet_meat3.ogg
  sound/effects/projectile_impact/bullet_meat4.ogg
  sound/effects/projectile_impact/bullet_metal1.ogg
  sound/effects/projectile_impact/bullet_metal2.ogg
  sound/effects/projectile_impact/bullet_metal3.ogg
  sound/effects/projectile_impact/energy_meat1.ogg
  sound/effects/projectile_impact/energy_meat2.ogg
  sound/effects/projectile_impact/energy_metal1.ogg
  sound/effects/projectile_impact/energy_metal2.ogg
Labels: Sprites

#27375 Quick voidsuit SOUND tweak
  code/modules/clothing/spacesuits/void/void.dm
Labels: Fix

#27367 Increases SecHUD flash protection back to old values.
  code/modules/clothing/glasses/sunglasses.dm
Labels: Fix

#27386 touches up christmas tree sprite, moves holopad to the left 1 pixel
  icons/obj/flora/pinetrees.dmi
  icons/obj/stationobjs.dmi
Labels: Sprites

#27368 crate resprite + open decals
  code/game/objects/structures/crates_lockers/closets/_closet_appearance_definitions.dm
  icons/obj/closets/bases/crate.dmi
  icons/obj/closets/decals/cart.dmi
  icons/obj/closets/decals/closet.dmi
  icons/obj/closets/decals/crate.dmi
  icons/obj/closets/decals/large_crate.dmi
  icons/obj/closets/decals/wall.dmi
Labels: Sprites

#27373 Fix & Tweak some mining access
  code/datums/supplypacks/operations.dm
  maps/torch/job/research_jobs.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
Labels: Fix, Map, Tweak

#27257 build mode areas +select/unselect/timer
  baystation12.dme
  code/modules/admin/buildmode/areas.dm
  code/modules/admin/buildmode/build_mode.dm
  code/modules/admin/buildmode/buttons.dm
  code/modules/admin/buildmode/click_handler.dm
  icons/misc/buildmode.dmi
  icons/turf/overlays.dmi
Labels: Admin, Sprites

#27389 New equipment mapped to Vox base
  maps/away/voxship/voxship-1.dmm
Labels: Map

#27374 Cargo mech tweak
  code/modules/mechs/premade/_premade.dm
  code/modules/mechs/premade/combat.dm
  code/modules/mechs/premade/heavy.dm
  code/modules/mechs/premade/light.dm
  code/modules/mechs/premade/powerloader.dm
Labels: Tweak

#27396 Gives Head Revs traitor uplinks
  code/game/antagonist/station/revolutionary.dm
Labels: Tweak

#27415 Minor fixes and tweaks to bearcat
  html/changelogs/Ithalan-bearfix.yml
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
Labels: Map

#27414 Fixes psych office window tint
  maps/torch/torch5_deck1.dmm
Labels: Map

#27419 Correct shutter examination distance
  code/game/machinery/doors/firedoor.dm
Labels: Fix

#27421 Fix health scanner centering text for 513 clients
  code/game/objects/items/devices/scanners/health.dm
Labels: Fix

#27420 fixes two additional missing cables on Bearcat
  maps/away/bearcat/bearcat-1.dmm
Labels: Map

#27424 Fix gaia lore blurb
  code/modules/culture_descriptor/location/locations_human.dm
Labels: Grammar and Formatting

#27410 Add Barista Things
  code/datums/supplypacks/dispcarts.dm
  code/game/jobs/job/civilian.dm
  code/game/machinery/vending.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
Labels: Feature

#27438 Removes the skrell nose
  icons/mob/human_races/species/skrell/body.dmi
  icons/mob/human_races/species/skrell/deformed_body.dmi
Labels: Revert/Removal, Sprites
