Repository Baystation12/Baystation12, pull requests merged in 2019-09, with the labels that each got.

#26832 Make more tweaks to the blob
  code/modules/blob/blob.dm
Labels: Tweak

#26856 Adjusts haircut to make it fit with EC regulations
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Sprites

#26861 Random on-wall things sprite tweaks
  code/game/machinery/alarm.dm
  code/game/machinery/wall_frames.dm
  code/game/objects/items/devices/radio/intercom.dm
  icons/obj/firealarm.dmi
  icons/obj/monitors.dmi
  icons/obj/radio.dmi
Labels: Sprites

#26820 Add incense
  baystation12.dme
  code/game/objects/items/weapons/candle.dm
  code/game/objects/items/weapons/incense.dm
  code/game/objects/structures/crates_lockers/closets/secure/service.dm
  code/modules/spells/spellbook/standard.dm
  icons/obj/candle.dmi
Labels: Feature, Sprites

#26871 Fixes floodlights being stuck on after uninstall
  code/modules/mechs/equipment/utility.dm
Labels: Fix

#26875 Monoliths now play beep sound when activated
  maps/random_ruins/exoplanet_ruins/monoliths/monoliths.dm
  sound/effects/zapbeep.ogg
Labels: Map

#26874 Readds second robo slot
  maps/torch/job/engineering_jobs.dm
Labels: Feature, Map

#26870 Tweaks to planetary plant spawn
  code/game/turfs/flooring/flooring_decals.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/garbage.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/overmap/exoplanets/random_map.dm
  code/modules/overmap/exoplanets/turfs.dm
  icons/obj/flora/greygrass.dmi
Labels: Sprites

#26868 Gas overlay tweaks
  code/modules/xgm/gases.dm
  code/modules/xgm/xgm_gas_data.dm
  code/modules/xgm/xgm_gas_mixture.dm
  icons/effects/tile_effects.dmi
Labels: Sprites

#26877 Mass removes layers set in maps
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/casino/casino.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/icarus/icarus-1.dmm
  maps/away/icarus/icarus-2.dmm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/magshield/magshield.dmm
  maps/away/mining/mining-signal.dmm
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
  maps/away/slavers/slavers_base.dmm
  maps/away/smugglers/smugglers.dmm
  maps/away/unishi/unishi-2.dmm
  maps/away/unishi/unishi-3.dmm
  maps/away/voxship/voxship-1.dmm
  maps/away/yacht/yacht.dmm
  maps/bearcat/bearcat-1.dmm
  maps/bearcat/bearcat-2.dmm
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dmm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/z1_admin.dmm
Labels: Map, Revert/Removal

#26873 Adds "Resident" and removes "Trauma Surgeon" alt title from physician
  maps/torch/job/medical_jobs.dm
Labels: Map, Tweak

#26876 Adds a Morpheus Cyberkinetics labcoat
  code/modules/clothing/suits/labcoat.dm
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: Feature, Sprites

#26845 Added buildable Material Cross
  code/game/objects/items/weapons/material/misc.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_items.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons.dmi
Labels: Feature, Sprites

#26866 Small bearcat fixes
  maps/bearcat/bearcat-1.dmm
  maps/bearcat/bearcat-2.dmm
  maps/bearcat/bearcat_jobs.dm
Labels: Map

#26885 Ports high-res lobby screen system from Eris
  code/_helpers/global_access.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/logout.dm
  html/lobby_titlescreen.html
  icons/default_lobby.png
  interface/skin.dmf
  maps/away_sites_testing/away_sites_testing_define.dm
  maps/bearcat/bearcat_define.dm
  maps/bearcat/bearcat_lobby.dmi
  maps/bearcat/lobby/bloodmoney.png
  maps/bearcat/lobby/vapormoney.png
  maps/example/example_define.dm
  maps/example/example_lobby.dmi
  maps/example/lobby.png
  maps/torch/icons/lobby.dmi
  maps/torch/lobby/hullside.gif
  maps/torch/lobby/ship.gif
  maps/torch/lobby/torchlogo.gif
  maps/torch/torch_lobby.dm
  maps/~mapsystem/maps.dm
  test/run-test.sh
Labels: Map, Sprites

#26883 Minor map cleanup
  code/game/objects/random/random.dm
  code/unit_tests/icon_tests.dm
  maps/away/blueriver/blueriver-1.dmm
  maps/away/smugglers/smugglers.dm
  maps/torch/items/items.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/z1_admin.dmm
  test/run-test.sh
Labels: Map

#26886 Maps a powerloader to cargo
  code/modules/mechs/premade/powerloader.dm
  maps/torch/torch1_deck5.dmm
Labels: Feature, Map

#26826 Skybox refactor and additions
  code/_onclick/hud/skybox.dm
  code/controllers/subsystems/skybox.dm
  code/game/gamemodes/cult/hell_universe.dm
  code/game/gamemodes/endgame/supermatter_cascade/universe.dm
  code/game/turfs/space/space.dm
  code/modules/events/electrical_storm.dm
  code/modules/events/event.dm
  code/modules/events/ion_storm.dm
  code/modules/events/meteors.dm
  code/modules/events/radiation_storm.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/garbage.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/overmap/exoplanets/theme.dm
  code/modules/overmap/sectors.dm
  icons/skybox/electrobox.dmi
  icons/skybox/planet.dmi
  icons/skybox/radbox.dmi
  icons/skybox/rockbox.dmi
  icons/skybox/skybox.dmi
  icons/skybox/skybox_rock_128.dmi
  icons/skybox/skybox_rocks.dmi
  icons/turf/rockbox.dmi
  icons/turf/skybox.dmi
  icons/turf/skybox_rocks.dmi
  maps/away/mining/mining.dm
Labels: Map, Ready for Review, Refactor, Sprites

#26898 Fixes some issues with pipes
  code/game/machinery/pipe/pipe_datums/pipe_datum_base.dm
  code/game/machinery/pipe/pipe_datums/pipe_datums.dm
  code/modules/atmospherics/pipes.dm
  icons/atmos/pipes.dmi
Labels: Sprites

#26909 Fixes bad number runtimes in blob.dm
  code/modules/blob/blob.dm
Labels: Fix

#26911 Removed stunbatons from default borgs
  code/modules/mob/living/silicon/robot/modules/module_standard.dm
Labels: Tweak

#26836 Unified crafting system.
  baystation12.dme
  code/controllers/subsystems/initialization/fabrication.dm
  code/datums/trading/goods.dm
  code/game/objects/items.dm
  code/game/objects/items/robot/robot_frame.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/RCD.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/improvised_components.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/objs.dm
  code/game/objects/random/random.dm
  code/modules/crafting/_crafting_holder.dm
  code/modules/crafting/_crafting_interactions.dm
  code/modules/crafting/_crafting_stage.dm
  code/modules/crafting/crafting_butterflyknife.dm
  code/modules/crafting/crafting_cannon.dm
  code/modules/crafting/crafting_coilgun.dm
  code/modules/crafting/crafting_crossbow.dm
  code/modules/crafting/crafting_ed209.dm
  code/modules/crafting/crafting_farmbot.dm
  code/modules/crafting/crafting_floorbot.dm
  code/modules/crafting/crafting_janibot.dm
  code/modules/crafting/crafting_medibot.dm
  code/modules/crafting/crafting_secbot.dm
  code/modules/crafting/crafting_spear_prod.dm
  code/modules/crafting/crafting_zipgun.dm
  code/modules/item_worth/worths_list.dm
  code/modules/materials/material_sheets.dm
  code/modules/mob/living/bot/cleanbot.dm
  code/modules/mob/living/bot/ed209bot.dm
  code/modules/mob/living/bot/farmbot.dm
  code/modules/mob/living/bot/floorbot.dm
  code/modules/mob/living/bot/medibot.dm
  code/modules/mob/living/bot/secbot.dm
  code/modules/projectiles/guns/launcher/crossbow.dm
  code/modules/projectiles/guns/launcher/pneumatic.dm
  code/modules/projectiles/guns/magnetic/magnetic_construction.dm
  code/modules/projectiles/guns/projectile/zipgun.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_dispenser.dm
  icons/mob/bot/ED209.dmi
  icons/mob/bot/cleanbot.dmi
  icons/mob/bot/floorbot.dmi
  icons/mob/bot/secbot.dmi
  icons/obj/buildingobject.dmi
  icons/obj/crafting_icons.dmi
  icons/obj/guns/coilgun.dmi
  icons/obj/guns/crossbow.dmi
  icons/obj/guns/pneumatic.dmi
  icons/obj/guns/zipgun.dmi
  icons/obj/weapons.dmi
  maps/away/mining/mining-signal.dmm
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dmm
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dmm
Labels: Map, Sprites

#26921 Fix some light fixture runtimes
  code/modules/power/lighting.dm
Labels: Fix

#26865 Cleans up pulling code slightlly
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
Labels: Fix

#26850 Refactoring the custom item code into a subsystem.
  baystation12.dme
  code/__defines/misc.dm
  code/_helpers/global_access.dm
  code/controllers/subsystems/initialization/customitems.dm
  code/controllers/subsystems/ticker.dm
  code/game/objects/items.dm
  code/game/objects/items/paintkit.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/check_customitem_activity.dm
  code/modules/clothing/clothing.dm
  code/modules/customitems/item_spawning.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/submaps/submap_join.dm
  config/custom_items/README.md
  config/example/custom_items.txt
  test/check-paths.sh
  test/run-test.sh
Labels: Config Update, Ready for Review, Refactor

#26914 Gave cat ears to boosters.
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/organs/external/head.dm
  code/modules/species/species.dm
  code/modules/sprite_accessories/_accessory.dm
  code/modules/sprite_accessories/_accessory_hair.dm
  code/modules/sprite_accessories/_accessory_markings.dm
  icons/mob/human_races/species/human/subspecies/booster_hair.dmi
Labels: Sprites

#26934 Fixes rogue ..() on item attackby.
  baystation12.dme
  code/controllers/subsystems/initialization/fabrication.dm
  code/game/objects/items.dm
  code/modules/crafting/_crafting_interactions.dm
Labels: Fix

#26930 Air Alarm tweaks for Skrellship
  maps/away/skrellscoutship/skrellscoutship-2.dmm
  maps/away/skrellscoutship/skrellscoutship.dm
Labels: Map

#26940 Delete blanks paper
  maps/torch/items/manuals.dm
  maps/torch/torch6_bridge.dmm
Labels: Map

#26950 Adds descs to ships and shuttles of Torch
  maps/torch/torch_overmap.dm
Labels: Map

#26941 adds priority and conflict guidance to law display header
  code/modules/mob/living/silicon/ai/laws.dm
  code/modules/mob/living/silicon/robot/laws.dm
Labels: Tweak

#26953 Gives Ascent people basic skills.
  maps/away/ascent/ascent_jobs.dm
Labels: Map

#26981 Adds new pencode to codex
  code/modules/codex/entries/paperwork.dm
Labels: Feature

#26983 Wizard and Ninja now require a minimum of 5 players
  code/game/gamemodes/ninja/ninja.dm
  code/game/gamemodes/wizard/wizard.dm
Labels: Tweak

#26964 adds default skills to Skrellship roles
  maps/away/skrellscoutship/skrellscoutship.dm
Labels: Map

#26982 Remove duplicate Z-pulling during mob movement
  code/datums/movement/mob.dm
Labels: Fix

#26976 Add goose
  baystation12.dme
  code/datums/supplypacks/livecargo.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/goose.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  code/modules/xenoarcheaology/artifacts/autocloner.dm
  icons/mob/simple_animal/goose.dmi
Labels: Feature, Sprites

#26998 Monoliths resprite
  code/game/objects/structures/pit.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/overmap/exoplanets/turfs.dm
  icons/obj/monolith.dmi
  maps/random_ruins/exoplanet_ruins/monoliths/monoliths.dm
Labels: Map, Sprites

#27002 Fix some goose bugs and tweaks
  code/modules/mob/living/simple_animal/hostile/retaliate/goose.dm
Labels: Ready for Review

#27001 Disable end user macros
  code/client_macros.dm
Labels: Do Not Merge

#26986 Runtimes fix and minor gas analyzer poke
  code/_onclick/hud/robot.dm
  code/game/antagonist/outsider/wizard.dm
  code/game/objects/items/devices/scanners/gas.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/mob_defines.dm
  code/modules/projectiles/targeting/targeting_overlay.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/surgery.dm
  code/modules/vehicles/bike.dm
Labels: Fix, Ready for Review

#27016 Fixes Invisible Floodlights
  code/game/machinery/floodlight.dm
Labels: Fix

#27020 Revert "Disable end user macros"
  code/client_macros.dm
Labels: Revert/Removal

#27029 Revert pipeline changes
  azure-pipelines.yml
Labels: Revert/Removal

#27004 Fixes #26990, minor bump to medical voidsuit bomb resistance.
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/void/station.dm
Labels: Fix, Tweak

#27014 moves spam prevention values to configuration
  code/controllers/configuration.dm
  code/modules/admin/spam_prevention.dm
  config/example/config.txt
Labels: Config Update

#27036 Fixes limb surgery not working
  code/modules/surgery/limb_reattach.dm
Labels: Fix

#27026 Fix rd labcoat loadout
  code/modules/clothing/suits/labcoat.dm
  maps/torch/datums/uniforms_expedition.dm
  maps/torch/loadout/loadout_suit.dm
  maps/torch/structures/closets/research.dm
Labels: Map

#27021 adds sink to deck 4 laundry room
  maps/torch/torch2_deck4.dmm
Labels: Map

#27027 Removes non-ec cso outfits from the cso locker
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
Labels: Revert/Removal

#27043 Adds a dong to antlion sprite
  code/modules/mob/living/simple_animal/hostile/antlion.dm
  icons/mob/simple_animal/antlion.dmi
Labels: Sprites

#27044 Axes tcomm relays
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/machinery/telecomms/presets.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/items/weapons/circuitboards/machinery/telecomms.dm
  code/modules/research/designs/designs_circuits.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch_presets.dm
  maps/torch/z1_admin.dmm
Labels: Map

#27050 Random resprite of cryo escape pod
  icons/obj/Cryogenic2.dmi
Labels: Sprites

#27024 Various loadout tweaks
  code/modules/client/preference_setup/loadout/lists/storage.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_eyes.dm
  maps/torch/loadout/loadout_gloves.dm
  maps/torch/loadout/loadout_uniform.dm
  maps/torch/loadout/~defines.dm
Labels: Map, Tweak

#27048 Reduces point cost of Ascent and vox ships
  maps/away/ascent/ascent.dm
  maps/away/voxship/voxship.dm
Labels: Map

#27041 Fixes Charon and GUP leaving ceilings behind
  maps/torch/torch2_deck4.dmm
Labels: Map

#27000 Adds limits to inflatables
  code/game/objects/structures/inflatable.dm
Labels: Tweak

#27064 Fix Secbot spawn runtime
  code/modules/mob/living/bot/secbot.dm
Labels: Fix

#27053 Random forensic things
  baystation12.dme
  code/modules/detectivework/microscope/microscope.dm
  code/modules/detectivework/tools/crimekit.dm
  code/modules/detectivework/tools/scene_cards.dm
  icons/obj/forensics.dmi
  maps/torch/torch5_deck1.dmm
Labels: Map, Sprites

#27068 Supermatter grenade box icon bugfix
  icons/obj/storage.dmi
Labels: Sprites

#27077 Boosting boosters Fix
  code/modules/species/station/human_subspecies.dm
Labels: Fix

#27040 Adds the organ disposal cart
  code/__defines/colors.dm
  code/game/objects/structures/crates_lockers/closets/_closet_appearance_definitions.dm
  code/game/objects/structures/crates_lockers/crates.dm
  maps/torch/torch5_deck1.dmm
Labels: Map, Ready for Review

#27073 Change heavy armor plate slowdown from 1 to 0.5
  code/modules/clothing/under/accessories/armor.dm
Labels: Tweak

#27054 Gyrotron construction implementation
  code/modules/power/fusion/consoles/gyrotron_control.dm
  code/modules/power/fusion/fusion_circuits.dm
  code/modules/power/fusion/gyrotron/gyrotron.dm
  html/changelogs/gyrotron.yml
  maps/torch/torch4_deck2.dmm
Labels: Map

#27092 Adds gas products to chemical explosions
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
Labels: Feature

#27081 Plant sampling skill reqs and plant scan objective fix
  code/game/objects/items/devices/scanners/plant.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/trays/tray.dm
  maps/torch/datums/department_exploration.dm
Labels: Fix, Map

#27028 Adds vitals monitor machine
  baystation12.dme
  code/game/machinery/vitals_monitor.dm
  code/modules/research/designs/designs_circuits.dm
  icons/obj/heartmonitor.dmi
  maps/torch/torch1_deck5.dmm
  maps/torch/torch5_deck1.dmm
  sound/machines/quiet_beep.ogg
Labels: Feature, Map, Sprites

#27096 Spacies/Grav-adapted/Unathi oxygen requirement tweaks
  code/modules/organs/internal/species/nabber.dm
  code/modules/species/station/human_subspecies.dm
  code/modules/species/station/lizard.dm
Labels: Tweak

#27111 Garbage planet icon and rename
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/planet_types/garbage.dm
  icons/skybox/planet.dmi
Labels: Sprites, Tweak

#27116 Lets you scan animals inside stasis cages with xenolife scanners
  code/game/objects/items/devices/scanners/xenobio.dm
Labels: Feature

#27099 Ascent Voidsuits, Mining, and Chemistry
  baystation12.dme
  code/modules/ascent/ascent_atoms.dm
  code/modules/ascent/ascent_outfit.dm
  code/modules/ascent/ascent_rigs.dm
  code/modules/ascent/ascent_suits.dm
  icons/mob/species/mantid/onmob_back_alate.dmi
  icons/mob/species/mantid/onmob_head_alate.dmi
  icons/mob/species/mantid/onmob_suit_alate.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/tank.dmi
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent_areas.dm
Labels: Feature, Map, Sprites

#27094 Minor vox changes
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/species/outsider/vox.dm
Labels: Feature, Tweak

#27103 Give Janitor Borgs Welding Tools
  code/modules/mob/living/silicon/robot/modules/module_janitor.dm
Labels: Tweak

#27136 Smaller Multi-Colored Pen Sprites
  icons/obj/bureaucracy.dmi
Labels: Sprites

#27142 Some NTOS fixes
  code/game/objects/items/weapons/circuitboards/computer/modular.dm
  code/modules/events/computer_update.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/file_system/programs/antagonist/uplink.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/modular_computers/file_system/programs/engineering/power_monitor.dm
  code/modules/modular_computers/file_system/programs/engineering/shields_monitor.dm
  code/modules/modular_computers/file_system/programs/engineering/supermatter_monitor.dm
  code/modules/modular_computers/file_system/programs/generic/docks.dm
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  code/modules/modular_computers/hardware/network_card.dm
  code/modules/modular_computers/ntos/ntos.dm
  code/modules/modular_computers/ntos/subtypes/console.dm
  code/modules/modular_computers/ntos/subtypes/device.dm
  code/modules/modular_computers/ntos/ui.dm
  code/modules/modular_computers/terminal/terminal_commands.dm
  code/modules/nano/modules/nano_module.dm
Labels: Fix

#27128 Removes Solgov marking flags
  code/modules/mining/mine_items.dm
  icons/obj/mining.dmi
  maps/torch/torch1_deck5.dmm
Labels: Map, Revert/Removal, Sprites

#27149 Random gun sprite touchups
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/obj/guns/machine_pistol.dmi
  icons/obj/guns/magnum_pistol.dmi
  icons/obj/guns/military_pistol.dmi
  icons/obj/guns/military_pistol2.dmi
  icons/obj/guns/pistol.dmi
  icons/obj/guns/revolvers.dmi
  icons/obj/guns/sec_smg.dmi
Labels: Sprites

#27129 Robustify Mining equipment & minor rig changes
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/station.dm
  maps/torch/structures/closets/supply.dm
  maps/torch/torch1_deck5.dmm
Labels: Map, Tweak

#27153 Changes EC scarves to be for all uniforms
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/loadout/loadout_accessories.dm
Labels: Map, Tweak

#27133 Adds some pretty gun/ammo icons by Dongwaiver
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/shotguns.dmi
Labels: Sprites

#27089 Adds EC specialist badges
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/icons/obj/obj_accessories_solgov.dmi
  maps/torch/items/clothing/ec_skillbadges.dm
  maps/torch/loadout/loadout_ec_skillbadges.dm
  maps/torch/torch.dm
Labels: Map

#27126 Exploration dept goals fixes and additions
  code/__defines/misc.dm
  code/__defines/subsystems.dm
  code/controllers/subsystems/goals.dm
  code/game/objects/items/devices/scanners/plant.dm
  code/game/objects/items/devices/scanners/xenobio.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  maps/torch/datums/department_exploration.dm
  maps/torch/items/solbanner.dm
Labels: Map

#27146 Makes eyeblur overlay blurrier
  code/_onclick/hud/fullscreen.dm
  icons/mob/screen1.dmi
Labels: Sprites

#27150 Replaces mining flags with beacons
  code/modules/mining/mine_items.dm
  icons/obj/marking_beacon.dmi
  icons/obj/mining.dmi
Labels: Ready for Review, Sprites

#27169 Tiny Sized Figurines
  code/game/objects/items/toys.dm
Labels: Tweak

#27162 Windows nerfs and sounds
  code/game/objects/structures/window.dm
  code/game/sound.dm
  sound/effects/glass_crack1.ogg
  sound/effects/glass_crack2.ogg
  sound/effects/glass_crack3.ogg
  sound/effects/glass_crack4.ogg
Labels: Tweak

#27165 Medical window nerf
  code/game/objects/structures/wallframe_spawner.dm
  code/game/objects/structures/window.dm
  maps/torch/torch5_deck1.dmm
Labels: Map

#27181 Fixes #27179
  maps/torch/loadout/loadout_ec_skillbadges.dm
Labels: Map

#27180 More NTOS fixes
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/modular_computers/file_system/programs/generic/docks.dm
  code/modules/modular_computers/file_system/programs/generic/scanner.dm
  code/modules/modular_computers/file_system/programs/generic/supply.dm
  code/modules/modular_computers/ntos/subtypes/console.dm
  code/modules/modular_computers/ntos/subtypes/device.dm
  code/modules/modular_computers/ntos/ui.dm
Labels: Fix

#27186 Fixes #27183
  maps/torch/items/explo_shotgun.dm
Labels: Map

#27185 Couple more NTOS fixes
  code/modules/modular_computers/file_system/computer_file.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  code/modules/modular_computers/ntos/files.dm
Labels: Fix

#27164 Meteor & auto-pilot Fix
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/ship.dm
Labels: Fix

#27187 Fixes IPC Monitors
  icons/mob/monitor_icons.dmi
Labels: Fix, Sprites
