Repository Baystation12/Baystation12, pull requests merged in 2019-01, with the labels that each got.

#24117 Icon touchup.
  maps/torch/icons/mob/onmob_under_solgov.dmi
Labels: Map

#24100 Fixes shuttle ceilings replacing atmosphere
  code/game/turfs/turf_changing.dm
  code/modules/shuttles/shuttle.dm
Labels: Fix

#24075 Ports aurora client_color, adds use as forensics verb
  baystation12.dme
  code/_helpers/cmp.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/items.dm
  code/modules/client/client_color.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/skills/skill_verbs.dm
Labels: Feature

#24110 Radiation resistance calculation change
  code/modules/mob/living/damage_procs.dm
Labels: Tweak

#24057 Legacy upload consoles begone
  code/_helpers/unsorted.dm
  code/datums/wires/robot.dm
  code/game/machinery/computer/law.dm
  code/game/objects/items/weapons/AI_modules.dm
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/modules/mob/living/silicon/robot/robot.dm
  maps/torch/torch-2.dmm
Labels: Map

#24129 Remove the Christmas tree
  maps/torch/torch-2.dmm
Labels: Map

#24106 CE rigsuit is now firefighting rated
  code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: Tweak

#24143 Removes wall icon runtime during init.
  code/game/turfs/simulated/wall_icon.dm
Labels: Revert/Removal

#24145 Adds new gases to gas mask filter list
  code/modules/clothing/masks/gasmask.dm
Labels: Fix

#24135 Makes shuttles not show up on sensor report
  maps/torch/torch_define.dm
Labels: Map

#24132 Nerfs xenoflora and xenoarch
  code/modules/hydroponics/seed_storage.dm
  maps/torch/datums/supplypacks/science.dm
  maps/torch/torch-0.dmm
  maps/torch/torch-3.dmm
Labels: Map

#24115 Atmospheric Waste Tank Added. Engineering Thrusters Removed.
  maps/torch/torch-3.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_unit_testing.dm
Labels: Feature, Map

#24086 Add SPECIES_IPC to command RIGs
  maps/torch/items/rigs.dm
Labels: Fix, Map

#24139 Fixes law update feedback
  code/game/machinery/computer/law.dm
Labels: Fix

#24141 Changed radiation planets backround radiation to 20-75bq.
  code/modules/overmap/exoplanets/garbage.dm
Labels: Tweak

#24159 CE backpack fix
  maps/torch/job/torch_outfits.dm
Labels: Fix, Map

#24157 Waste tank fix
  maps/torch/torch-3.dmm
Labels: Map

#24131 Dislocation and locomotors pain
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/multiz/movement.dm
  html/changelogs/chinsky - pain.yml
Labels: Ready for Review

#24162 Changed gas sensors mode in atmos
  maps/torch/torch-3.dmm
Labels: Map, Tweak

#24150 Reagent containers 'set transfer amount' verb range increased to one tile + refactor + fixes
  code/game/objects/structures/iv_drip.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_dispenser.dm
Labels: Tweak

#24149 Backported the stomach organ from Europa.
  baystation12.dme
  code/__defines/mobs.dm
  code/game/atoms.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/bioprinter.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/item_worth/reagents.dm
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/taste.dm
  code/modules/mob/living/carbon/xenobiological/life.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/stomach.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Metabolism.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/species/outsider/vox.dm
  code/modules/species/species.dm
  code/modules/species/station/human_subspecies.dm
  code/modules/species/station/lizard_subspecies.dm
  code/modules/species/station/nabber.dm
  code/modules/species/station/station.dm
  code/modules/species/xenomorphs/alien_species.dm
  html/changelogs/mistakenot-stomach.yml
Labels: Ready for Review

#24166 The merchant will no longer charge money for taking goods off you
  code/datums/trading/trade.dm
Labels: Fix

#24185 Fixes a pathing error
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
Labels: Fix, Map

#23929 Exoplanet day-night cycles
  code/modules/overmap/exoplanets/exoplanet.dm
Labels: Ready for Review

#24153 Expeditionary Corps Science.
  code/__defines/colors.dm
  code/datums/outfits/jobs/science.dm
  code/game/gamemodes/objective.dm
  code/game/jobs/access_datum.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/modules/admin/newbanjob.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/corporate.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/flufftext/Dreaming.dm
  code/modules/modular_computers/_description.dm
  code/modules/paperwork/stamps.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  html/changelogs/mistakenot-ecscience.yml
  icons/mob/hud.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
  icons/obj/closet.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/radio.dmi
  maps/torch/datums/reports.dm
  maps/torch/icons/assignment_hud.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/encryption_keys.dm
  maps/torch/items/headsets.dm
  maps/torch/items/manuals.dm
  maps/torch/items/rigs.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/torch_access.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_outfits.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_head.dm
  maps/torch/loadout/loadout_suit.dm
  maps/torch/loadout/loadout_uniform.dm
  maps/torch/structures/closets/research.dm
  maps/torch/torch-0.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
  maps/torch/torch_presets.dm
Labels: Map, Sprites, Update Wiki after Merge, ♨️HOT♨️

#24183 Items.dmi cleanup
  code/game/objects/items/weapons/paint.dm
  code/game/objects/items/weapons/soap.dm
  code/game/objects/structures/bedsheet_bin.dm
  icons/obj/bedsheet.dmi
  icons/obj/items.dmi
  icons/obj/reagentfillings.dmi
Labels: Sprites

#24196 Removes infinite loops when electrocuted.
  code/modules/mob/living/carbon/human/human.dm
Labels: Revert/Removal, priority: high ⚠

#24172 Fixes certain cameras not being accessible
  code/_helpers/game.dm
  code/_macros.dm
  code/game/machinery/camera/camera.dm
  code/modules/modular_computers/file_system/programs/generic/camera.dm
  code/modules/nano/nanoui.dm
Labels: Fix

#24176 Random pinpointer resprite
  code/game/gamemodes/nuclear/pinpointer.dm
  icons/obj/pinpointer.dmi
Labels: Sprites

#24184 Gives security borgs a hailer
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Tweak

#24209 Fixes for Riot Security Voidsuit Icons
  code/modules/clothing/spacesuits/void/station.dm
Labels: Fix

#24204 Makes adherents shock-immune.
  code/modules/species/station/adherent.dm
Labels: Tweak

#24212 Centralize Torch command headsets
  maps/torch/items/encryption_keys.dm
  maps/torch/items/headsets.dm
  maps/torch/job/torch_outfits.dm
  maps/torch/structures/closets/command.dm
Labels: Map, Tweak

#24210 Fixes some swag issues with EC sci
  code/modules/client/preference_setup/loadout/lists/suits.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_gloves.dm
  maps/torch/loadout/loadout_head.dm
  maps/torch/loadout/loadout_shoes.dm
  maps/torch/loadout/loadout_suit.dm
  maps/torch/loadout/~defines.dm
  maps/torch/structures/closets/research.dm
Labels: Map

#24146 Add aluminium, add more materials to autolathe
  code/__defines/colors.dm
  code/__defines/materials.dm
  code/datums/supplypacks/materials.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/autolathe_datums.dm
  code/game/machinery/camera/camera_assembly.dm
  code/game/objects/items/devices/debugger.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/devices/paint_gun.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/devices/suit_cooling.dm
  code/game/objects/items/devices/t_scanner.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/weapons/cane.dm
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/items/weapons/implants/implanter.dm
  code/game/objects/items/weapons/material/bell.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/paint.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/game/objects/items/weapons/teleportation.dm
  code/game/objects/items/weapons/trays.dm
  code/game/objects/structures/railing.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/modules/integrated_electronics/core/analyzer.dm
  code/modules/integrated_electronics/core/debugger.dm
  code/modules/integrated_electronics/core/wirer.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/definitions/materials_mineral.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/material_sheets.dm
  code/modules/materials/material_synth.dm
  code/modules/mining/drilling/scanner.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/paperwork/clipboard.dm
  code/modules/paperwork/handlabeler.dm
  code/modules/paperwork/pen.dm
  code/modules/paperwork/photography.dm
  code/modules/power/cable.dm
  code/modules/power/cell.dm
  code/modules/power/lighting.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/tables/presets.dm
  code/modules/tables/rack.dm
  code/modules/xenoarcheaology/tools/tools.dm
  icons/obj/items.dmi
  icons/obj/materials.dmi
  maps/torch/torch-3.dmm
Labels: Feature, Map, Ready for Review, Sprites, Tweak

#24237 Add Science encryption key to XO key box
  maps/torch/items/encryption_keys.dm
Labels: Map, Tweak

#24239 Purges unticked .dm files.
  code/game/dna/genes/monkey.dm
  code/game/gamemodes/events/PortalStorm.dm
  code/game/gamemodes/events/VirusEpidemic.dm
  code/game/gamemodes/events/holidays/AprilFools.dm
  code/game/gamemodes/events/holidays/Easter.dm
  code/game/gamemodes/sandbox/h_sandbox.dm
  code/game/gamemodes/sandbox/sandbox.dm
  code/game/machinery/atmoalter/zvent.dm
  code/game/mecha/equipment/tools/unused_tools.dm
  code/game/objects/effects/decals/posters/tgposters.dm
  code/game/objects/items/weapons/paiwire.dm
  code/game/objects/items/weapons/syndie.dm
  code/modules/admin/admin_report.dm
  code/modules/admin/newbanjob.dm
  code/modules/events/viral_outbreak.dm
  code/modules/icon generation/Bluespaced.dm
  code/modules/icon generation/Icon_color_animation.dm
  code/modules/icon generation/Uristrunes.dm
  code/modules/maps/fromdmp.dm
  code/modules/maps/writer.dm
  code/modules/mob/living/simple_animal/head.dm
  code/modules/mob/living/simple_animal/kobold.dm
  code/modules/power/pacman2.dm
  code/modules/power/profiling.dm
  code/modules/random_map/automata/diona.dm
  code/modules/spells/general/rune_write.dm
  code/modules/tables/debug.dm
  code/modules/virus2/biohazard destroyer.dm
  icons/obj/diona.dmi
  icons/obj/pipes.dmi
  icons/obj/syndieweapons.dmi
  icons/obj/tables.dmi
  test/check-paths.sh
Labels: Sprites

#24246 Fixed borg and drone stacks for glass and rglass
  code/modules/materials/material_synth.dm
Labels: Fix

#24225 Adds get_pulse_as_number() for machines needing a integer number
  code/__defines/mobs.dm
  code/_helpers/medical_scans.dm
  code/datums/repositories/crew/vital.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Feature

#24218 Robotics fixes
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
Labels: Map

#24242 Fixes Drop-Item verb for robot/drone grippers
  code/modules/mob/living/silicon/robot/death.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
Labels: Fix

#24254 TGM-izes science ship away mission map
  maps/away/unishi/unishi-1.dmm
  maps/away/unishi/unishi-2.dmm
  maps/away/unishi/unishi-3.dmm
Labels: Map

#24256 Fixes #24247
  maps/torch/structures/closets/medical.dm
Labels: Map

#24259 Removes unused icon.
  icons/obj/gun_secure.dmi
Labels: Revert/Removal, Sprites

#24258 Cleans up some whitelisted species code.
  code/__defines/mobs.dm
  code/_helpers/global_access.dm
  code/_helpers/global_lists.dm
  code/modules/species/station/human_subspecies.dm
  code/modules/submaps/submap_archetype.dm
  maps/away/unishi/unishi.dm
  test/run-test.sh
Labels: Map

#24067 You can show the contents of supply products
  code/modules/modular_computers/file_system/programs/generic/supply.dm
  nano/templates/supply.tmpl
Labels: Feature

#24265 Enforces minimal costs on cargo crates.
  code/datums/supplypacks/engineering.dm
  code/datums/supplypacks/hydroponics.dm
  code/unit_tests/cargo_tests.dm
Labels: Fix, Tweak

#24252 Adds a new ruin - Data Capsule (Squashed #24031)
  baystation12.dme
  code/modules/overmap/exoplanets/chlorine.dm
  code/modules/overmap/exoplanets/desert.dm
  code/modules/overmap/exoplanets/grass.dm
  code/modules/overmap/exoplanets/mountain.dm
  code/modules/overmap/exoplanets/shrouded.dm
  code/modules/overmap/exoplanets/snow.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/Pandolphina-zombie_pod.yml
  maps/overmap_example/overmap_unit_testing.dm
  maps/random_ruins/exoplanet_ruins/datacapsule/datacapsule.dm
  maps/random_ruins/exoplanet_ruins/datacapsule/datacapsule.dmm
  maps/torch/torch_unit_testing.dm
Labels: Map

#24271 Fix overmap unit test failure
  maps/away_sites_testing/away_sites_testing_unit_testing.dm
  maps/overmap_example/overmap_unit_testing.dm
  maps/torch/torch_unit_testing.dm
Labels: Map

#24263 Adrenaline does heart damage on heart restart.
  code/modules/mob/living/carbon/human/human.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Tweak

#24255 Add green tea and related things
  code/datums/supplypacks/dispcarts.dm
  code/game/machinery/vending.dm
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/pill.dm
  icons/obj/drinks.dmi
  icons/obj/food.dmi
Labels: Feature, Revert/Removal, Sprites

#24202 Adds a hole in the floor of D3 maint
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
Labels: Map

#24192 Adds language partial understanding, adds Legalese language
  code/__defines/languages.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/language/generic.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/monkey.dm
  code/modules/mob/language/station.dm
  code/modules/mob/skills/skill.dm
  code/modules/mob/skills/skill_buffs.dm
  code/modules/mob/skills/skill_ui.dm
  code/modules/mob/skills/skillset.dm
Labels: Lore approved

#24301 Fixes #24284
  maps/torch/job/torch_outfits.dm
Labels: Map

#24302 Adds Fleet Logo to Paperwork, Fixes Stasis Cages
  code/_helpers/text.dm
  code/modules/client/client_procs.dm
  code/modules/modular_computers/file_system/programs/generic/wordprocessor.dm
  code/modules/paperwork/adminpaper.dm
  html/images/FleetLogo.png
  icons/obj/storage.dmi
Labels: Fix, Sprites

#24269 Re-adds explorer helmet cams
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/rigs.dm
Labels: Feature, Map

#24303 Generic material stack icons
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/random/random.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/definitions/materials_stone.dm
  code/modules/materials/material_sheets.dm
  code/modules/materials/material_synth.dm
  icons/obj/materials.dmi
Labels: Sprites

#24292 Robotics fixes
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
Labels: Map

#24319 Add more storage space to RnD kit
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
Labels: Tweak

#24318 Makes the LPA still spawn a holstered weapon even if not equippable.
  maps/torch/job/torch_outfits.dm
Labels: Map

#24307 Brings species rank whitelists up to date.
  maps/torch/torch_ranks.dm
Labels: Fix, Map

#24316 Fixes RUST issue, adds unit test.
  baystation12.dme
  code/modules/power/fusion/fusion_plant.dm
  code/unit_tests/fusion_plants.dm
Labels: Fix

#24294 Fixes/removes the cap on away site jobs' skills
  code/modules/submaps/submap_job.dm
Labels: Revert/Removal

#24329 Fixes some shells/mags not having icons
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/obj/ammo.dmi
Labels: Sprites

#24295 Allows grab interaction with low walls
  code/game/machinery/deployable.dm
  code/game/objects/structures.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/railing.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/wall_frame.dm
  code/game/objects/structures/window.dm
  code/modules/tables/interactions.dm
  code/modules/tables/tables.dm
Labels: Ready for Review, Tweak

#24325 Adds Skrellian Weaponry
  code/modules/projectiles/ammunition/magnetic.dm
  code/modules/projectiles/effects.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  code/modules/projectiles/projectile/beams.dm
  icons/effects/projectiles.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/guns/flechette.dmi
  icons/obj/guns/skrell_carbine.dmi
  icons/obj/guns/skrell_pistol.dmi
  icons/obj/guns/skrell_rifle.dmi
  icons/obj/projectiles.dmi
Labels: Feature, Sprites

#24338 Remove non-existent items on away map
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
Labels: Map

#24323 Backports the fluid cracker from Europa.
  baystation12.dme
  code/game/machinery/cracker.dm
  icons/obj/machines/cracker.dmi
Labels: Ready for Review, Sprites

#24350 Prevent the middle mouse drag exploit
  code/_onclick/click.dm
  code/controllers/configuration.dm
  code/modules/client/client_procs.dm
  config/example/config.txt
Labels: Config Update, Priority: High ⚠
