Repository Baystation12/Baystation12, pull requests merged in 2019-05, with the labels that each got.

#25379 Changes Fleet PT uniform, adds some undershirt options
  code/datums/underwear/undershirt.dm
  icons/mob/human.dmi
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/icons/obj/obj_under_solgov.dmi
  maps/torch/items/clothing/solgov-under.dm
Labels: Map, Sprites

#25415 welding tools are genericized + tanks change sizes
  code/game/objects/items/weapons/electric_welder.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
  icons/obj/tools.dmi
Labels: Sprites, Tweak

#25405 Pepperspray tweaks.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
Labels: Tweak

#25048 Adds Swiss Army Knives
  baystation12.dme
  code/_helpers/tools.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/weapons/material/folding.dm
  code/game/objects/items/weapons/material/swiss.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown_inedible.dm
  icons/obj/swiss_knife.dmi
  maps/torch/structures/closets/command.dm
  maps/torch/structures/closets/engineering.dm
  maps/torch/structures/closets/exploration.dm
  maps/torch/structures/closets/medical.dm
  maps/torch/structures/closets/security.dm
Labels: Feature, Map, Ready for Review, Sprites

#25381 Fixes #25284 and #25352
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/overmap/ships/engines/gas_thruster.dm
  maps/torch/torch1_deck5.dmm
Labels: Map

#25436 Adds hospital gowns
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: Sprites

#25400 Gun resprites no one asked for
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  icons/obj/guns/machine_pistol.dmi
  icons/obj/guns/magnum_pistol.dmi
  icons/obj/guns/military_pistol.dmi
  icons/obj/guns/military_pistol2.dmi
Labels: Sprites

#25418 Add keybinds to move up/down for robots and non-hotkey mode
  interface/skin.dmf
Labels: Feature

#25421 secure weapon registration changes are slightly more informative
  code/modules/projectiles/secure.dm
Labels: Tweak

#25448 Deck4/5 Map Quickfix
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
Labels: Map

#25440 Makes closets give all their steel back when deconstructed
  code/game/objects/structures/crates_lockers/closets/__closet.dm
Labels: Fix

#25439 Fixes swiss knives not technically closing
  code/game/objects/items/weapons/material/swiss.dm
Labels: Fix

#25447 Add check for get_brake_path() in ship.dm to avoid divide-by-zero runtime
  code/modules/overmap/ships/ship.dm
Labels: Fix

#25450 Fix issue with new keybinds on non hotkey-mode
  interface/skin.dmf
Labels: Fix

#25454 Fix personal goal adding
  code/datums/mind.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/game_mode_latespawn.dm
  code/modules/goals/goal_mind.dm
Labels: Fix

#25462 Change Graphene to Graphite + Mining quick fixes
  code/__defines/materials.dm
  code/game/objects/items/devices/scanners/mining.dm
  code/modules/atmospherics/components/binary_devices/oxyregenerator.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/definitions/materials_mineral.dm
  code/modules/materials/materials_ore.dm
  code/modules/mining/drilling/drill.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/random_map/automata/caves.dm
  code/modules/random_map/noise/ore.dm
  maps/torch/torch1_deck5.dmm
Labels: Map

#25389 Adds OCIE Agent Jacket to loadout
  maps/torch/loadout/loadout_suit.dm
Labels: Map

#25476 fix account db
  code/modules/economy/Accounts_DB.dm
  nano/templates/accounts_terminal.tmpl
Labels: Fix

#25466 Some minor uniform adjustments.
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/icons/mob/onmob_under_solgov.dmi
Labels: Map

#25419 Adds medical lollipop jar
  code/game/objects/items/weapons/storage/misc.dm
  code/modules/clothing/masks/chewable.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  icons/obj/storage.dmi
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Feature, Map, Sprites

#25468 artery bleed visibility tweak
  code/modules/organs/internal/heart.dm
Labels: Tweak

#25458 Add skill requirements to loadout items
  code/controllers/subsystems/jobs.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  maps/torch/loadout/loadout_accessories.dm
Labels: Map

#25423 Exploration Voidsuit Replacement
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/spacesuits/void/station.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/mob/skrell/onmob_head_solgov_skrell.dmi
  maps/torch/icons/mob/unathi/onmob_suit_solgov_unathi.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/items/clothing/solgov-suit.dm
Labels: Map, Sprites

#25482 Adds ability to scan overmap objects with scanner console
  code/modules/maps/ruins.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/ship.dm
  nano/templates/shipsensors.tmpl
Labels: Feature

#25485 RIGs need gloves/boots to be airtight.
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/myazaki - hardsuitglovesboots.yml
Labels: Fix

#25500 Exploration voidsuit helmets are now untinted by default
  maps/torch/items/clothing/solgov-suit.dm
Labels: Map

#25451 Directional Vending Machines
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/vending.dm
  code/modules/food/replicator.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/modular_computers/laptop_vendor.dm
  code/modules/reagents/reagent_dispenser.dm
  icons/obj/vending.dmi
  maps/torch/items/uniform_vendor.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map, Ready for Review, Sprites

#25492 B-deck Quick Fix
  maps/torch/torch6_bridge.dmm
Labels: Map

#25510 Re-add Spacer language color
  code/modules/mob/language/human/misc/spacer.dm
  code/stylesheet.dm
Labels: Fix

#25514 Make gun sprites not go away for higher than 100% charge
  code/modules/projectiles/guns/energy.dm
Labels: Fix

#25511 Allows IPCs to kick and stomp
  code/modules/species/station/machine.dm
Labels: Feature

#25499 Changes way shuttle (jump) fuel is displayed
  code/modules/overmap/ships/computers/shuttle.dm
  nano/templates/shuttle_control_console_exploration.tmpl
Labels: Tweak

#25505 Resprites MMI to have a glass cover
  code/modules/mob/living/carbon/brain/MMI.dm
  icons/obj/assemblies.dmi
Labels: Sprites

#25452 Makes a bunch of stack quantity checks more consistent
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/kitchen/microwave.dm
  code/game/machinery/robot_fabricator.dm
  code/game/mecha/equipment/tools/tools.dm
  code/game/mecha/mech_fabricator.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/objects/items/devices/tvcamera.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/game/turfs/space/space.dm
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  code/modules/materials/_materials.dm
  code/modules/mob/living/bot/ed209bot.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/multiz/turf.dm
  code/modules/power/apc.dm
  code/modules/power/cable.dm
  code/modules/power/fusion/fuel_assembly/fuel_compressor.dm
  code/modules/power/smes.dm
  code/modules/projectiles/guns/magnetic/magnetic_construction.dm
  code/modules/research/rdconsole.dm
  code/modules/surgery/robotics.dm
Labels: Fix, Ready for Review

#25496 Report tweaks
  code/modules/modular_computers/file_system/reports/deck_reports.dm
  code/modules/modular_computers/file_system/reports/report.dm
  code/modules/modular_computers/file_system/reports/report_field.dm
  maps/torch/datums/reports.dm
  maps/torch/datums/reports/command.dm
  maps/torch/datums/reports/corporate.dm
  maps/torch/datums/reports/deck.dm
  maps/torch/datums/reports/exploration.dm
  maps/torch/datums/reports/robotics.dm
  maps/torch/datums/reports/science.dm
  maps/torch/datums/reports/security.dm
  maps/torch/datums/reports/solgov.dm
  maps/torch/torch.dm
  nano/templates/reports.tmpl
Labels: Map

#25498 Adds new skrell culture locations and factions
  baystation12.dme
  code/__defines/culture.dm
  code/modules/culture_descriptor/faction/factions_skrell.dm
  code/modules/culture_descriptor/location/locations_skrell.dm
  code/modules/species/station/station.dm
Labels: Feature

#25524 Fix being muted while incapacitated with radio set to broadcast
  code/game/objects/items/devices/radio/radio.dm
Labels: Fix

#25526 Removes rounding for movement delay from items.
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Revert/Removal, Tweak

#25489 Xilvuxix Tweaks 4
  code/game/machinery/embedded_controller/airlock_docking_controller.dm
  code/game/machinery/embedded_controller/airlock_program.dm
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
  maps/away/skrellscoutship/skrellscoutship_areas.dm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
Labels: Map

#25477 New Expeditionary Corps Dress Uniform
  maps/torch/datums/uniforms.dm
  maps/torch/datums/uniforms_expedition.dm
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/torch_ranks.dm
Labels: Map

#25536 Ports Airlock Electronics to NanoUI
  code/game/jobs/_access_defs.dm
  code/game/machinery/doors/airlock_electronics.dm
  nano/templates/airlock_electronics.tmpl
  tgui/src/interfaces/airlock_electronics.ract
Labels: Ready for Review

#25537 Kills most TGui interfaces
  baystation12.dme
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/jukebox.dm
  code/game/machinery/resleever.dm
  code/game/objects/items/devices/suit_sensor_jammer.dm
  nano/templates/brig_timer.tmpl
  nano/templates/jukebox.tmpl
  nano/templates/resleever.tmpl
  nano/templates/suit_sensor_jammer.tmpl
  tgui/src/interfaces/brig_timer.ract
  tgui/src/interfaces/jukebox.ract
  tgui/src/interfaces/resleever.ract
  tgui/src/interfaces/storage.ract
  tgui/src/interfaces/suit_sensor_jammer.ract
Labels: Ready for Review

#25546 Updated atmos can icons and can details.
  icons/obj/atmos.dmi
Labels: Sprites

#25548 Updated corgi icon
  icons/mob/animal.dmi
Labels: Sprites

#25553 Fixes pipes missing on the Xilvuxix
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
Labels: Map

#25554 Fix access flags for research access area/deck 1 security checkpoint windoors
  maps/torch/torch_areas.dm
Labels: Fix, Map

#25552 Add pry difficulty for doors for simple animals
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/simple.dm
  code/game/machinery/doors/windowdoor.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: Tweak

#25518 vendor fixes
  code/game/machinery/vending.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

#25484 Tweaks to giant spiders
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/simple_animal/aquatic/aquatic_carp.dm
  code/modules/mob/living/simple_animal/aquatic/aquatic_sharks.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/exoplanet.dm
  code/modules/mob/living/simple_animal/hostile/russian.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: Tweak

#25539 Game start popup reshuffle
  code/modules/mob/new_player/new_player.dm
  maps/bearcat/bearcat_define.dm
  maps/torch/torch_define.dm
  maps/~mapsystem/maps.dm
Labels: Map

#25495 Medical record now auto-lists roundstart robotic organs
  code/modules/modular_computers/file_system/reports/crew_record.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/eyes.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/voice.dm
  code/modules/organs/organ.dm
Labels: Feature

#25432 Adds buddy tags
  baystation12.dme
  code/modules/clothing/under/accessories/buddytag.dm
  icons/obj/clothing/obj_accessories.dmi
  maps/torch/structures/closets/exploration.dm
Labels: Map, Ready for Review, Sprites

#25559 Removes free Athletics skill from Fleet branch
  maps/torch/torch_ranks.dm
Labels: Map, Revert/Removal

#25533 Add `gigameters/hour` and `degrees` labels to helm and navigation readouts
  nano/templates/helm.tmpl
  nano/templates/nav.tmpl
Labels: Tweak

#25473 Remade Bridge Deck
  code/modules/tables/presets.dm
  maps/torch/items/manuals.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
Labels: Map

#25574 Misc bridge updates
  maps/torch/torch6_bridge.dmm
Labels: Map

#25502 Heavy Exploration Rig
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  icons/mob/light_overlays.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  maps/torch/icons/mob/onmob_feet_solgov.dmi
  maps/torch/icons/mob/onmob_hands_solgov.dmi
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/items/rigs.dm
  maps/torch/torch1_deck5.dmm
Labels: Map, Sprites

#25591 Add camera to Charon power compartment
  maps/torch/torch1_deck5.dmm
Labels: Map

#25590 Roboticist and Biomechanical Engineer changes
  maps/torch/items/encryption_keys.dm
  maps/torch/items/headsets.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/outfits/engineering_outfits.dm
  maps/torch/job/outfits/medical_outfits.dm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map, Revert/Removal, Tweak

#25578 Medical drop pouch and webbing access
  code/modules/client/preference_setup/loadout/lists/storage.dm
  maps/torch/loadout/loadout_accessories.dm
Labels: Feature, Map

#25575 Aquila Map Tweaks & Fixes
  maps/torch/torch6_bridge.dmm
Labels: Map

#25606 Fixes small haywire ammo boxes
  code/modules/projectiles/ammunition/boxes.dm
Labels: Fix

#25593 Fixes VTEC speed limit checks
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#25604 Reduce flying borg speed
  code/modules/mob/living/silicon/robot/flying/flying.dm
Labels: Tweak

#25581 Bridge window oversight, Adds airlock braces, Door buttons, and No smoking signs.
  maps/torch/torch6_bridge.dmm
Labels: Map

#25588 Helmets on suit storage slots.
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
Labels: Feature

#25595 Adds EC branch berets
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/loadout/loadout_head.dm
Labels: Feature, Map

#25599 Enhances restrictions on pilot qualification pin.
  maps/torch/loadout/loadout_accessories.dm
Labels: Map, Tweak

#25610 Add pill bottles to autolathes
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/weapons/storage/firstaid.dm
Labels: Feature

#25576 Splits pressure protection into high/low thresholds
  code/__defines/flags.dm
  code/__defines/items_clothing.dm
  code/game/gamemodes/godmode/form_items/starlight_items.dm
  code/game/gamemodes/wizard/servant_items/overseer.dm
  code/game/objects/items.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/breaches.dm
  code/modules/clothing/spacesuits/captain.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/clothing/suits/utility.dm
  code/modules/codex/entries/clothing.dm
  code/modules/mob/grab/normal/grab_normal.dm
  code/modules/mob/grab/normal/norm_aggressive.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/internal/lungs.dm
Labels: Tweak

#25580 Add disabling radio beacons with EMP/emag
  code/game/machinery/teleporter.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/xenoarcheaology/tools/tools.dm
  icons/obj/radio.dmi
Labels: Feature, Sprites

#25620 Randomizes Runtime's spawn location
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_npcs.dm
Labels: Map

#25629 Add firedoors to lifts
  code/modules/turbolift/turbolift_map.dm
Labels: Feature

#25631 Fixes #25630
  code/modules/power/apc.dm
Labels: Fix

#25600 Can now whack borgs with crowbars
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Tweak

#25589 Coveralls for fleet security (as utility extra)
  maps/torch/datums/uniforms_fleet.dm
Labels: Feature, Map, Tweak

#25617 Add light armor for flying borgs
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/mob/living/silicon/robot/flying/flying.dm
  code/modules/research/designs/designs_mechfab.dm
Labels: Feature, Work In Progress

#25608 Add percentages to shield generators
  code/modules/modular_computers/file_system/programs/engineering/shields_monitor.dm
  code/modules/shield_generators/shield_generator.dm
  nano/templates/shieldgen.tmpl
  nano/templates/shields_monitor.tmpl
Labels: Feature

#25626 Non hotkey mode binds for move-up/down moved to Numpad+/-
  interface/skin.dmf
Labels: Fix

#25628 Bridge deck tweaks & fixes
  maps/torch/structures/closets/misc.dm
  maps/torch/torch6_bridge.dmm
Labels: Map

#25611 Reshuffles starting software a bit
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/computers/subtypes/preset_pda.dm
  code/modules/modular_computers/computers/subtypes/preset_tablet.dm
Labels: Tweak

#25579 Firefighting equipment rework
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/suits/utility.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  maps/torch/torch1_deck5.dmm
  maps/torch/torch4_deck2.dmm
Labels: Feature, Map, Sprites, Tweak

#25594 Fatigues for Fleet Pilot
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/items/clothing/solgov-under.dm
Labels: Map

#25639 Fix AI intro
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Grammar and Formatting

#25601 EC under-jumpers and cappy's cap
  icons/mob/species/unathi/onmob_accessories_sol_unathi.dmi
  icons/mob/species/unathi/onmob_under_unathi.dmi
  maps/torch/datums/uniforms_expedition.dm
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/icons/obj/obj_under_solgov.dmi
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/solgov-under.dm
Labels: Feature, Map, Sprites, Update Wiki after Merge

#25506 Thruster Volume changes + Overmap Tweaks + Charon changes
  code/__defines/overmap.dm
  code/modules/atmospherics/pipes.dm
  code/modules/overmap/ships/computers/engine_control.dm
  code/modules/overmap/ships/engines/gas_thruster.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch_overmap.dm
  maps/torch/torch_shuttles.dm
  nano/templates/engines_control.tmpl
Labels: Map

#25663 Charon quick mapfix fixes #25662
  maps/torch/torch1_deck5.dmm
Labels: Map

#25673 Blacklists IPCs from Corporate Liaison
  maps/torch/job/torch_jobs.dm
Labels: Map

#25653 Removes Jungle Boots from Fleet Med Tech
  maps/torch/datums/uniforms_fleet.dm
Labels: Map, Revert/Removal

#25650 Hardsuit Defib module + fixes
  code/game/objects/items/weapons/defib.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  icons/obj/rig_modules.dmi
  maps/torch/items/rigs.dm
  nano/templates/hardsuit.tmpl
Labels: Feature, Map, Sprites, Tweak

#25681 Fixes #25680
  maps/torch/torch5_deck1.dmm
Labels: Map

#25624 Genericise rotate() on obj
  code/__defines/flags.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/floodlight.dm
  code/game/machinery/pipe/construction.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/objs.dm
  code/game/objects/structures/railing.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/window.dm
  code/modules/assembly/infrared.dm
  code/modules/mining/drilling/drill.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/particle_accelerator/particle_accelerator.dm
  code/modules/recycling/disposal-construction.dm
Labels: Ready for Review, Tweak

#25512 Suit Storage Unit NanoUI
  baystation12.dme
  code/game/machinery/machinery.dm
  code/game/machinery/suit_cycler.dm
  code/game/machinery/suit_cycler_units.dm
  code/game/machinery/suit_storage.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/suit_storage_units.dm
  maps/torch/items/machinery.dm
  maps/torch/machinery/suit_storage.dm
  nano/templates/suit_storage_unit.tmpl
  test/check-paths.sh
Labels: Feature, Map, Ready for Review

#25671 Aquila engine room shuffle
  maps/torch/torch6_bridge.dmm
Labels: Map

#25676 Fixes exploration hardsuit using old icons
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/mob/skrell/onmob_head_solgov_skrell.dmi
  maps/torch/icons/mob/unathi/onmob_head_solgov_unathi.dmi
Labels: Map

#25657 Removes the vat-grown blanks from Petrov
  maps/torch/torch1_deck5.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map, Revert/Removal
