Repository Baystation12/Baystation12, pull requests merged in 2019-04, with the labels that each got.

#25069 Revert "Turns Torch map so aft = upper part of map"
  maps/torch/torch.dm
  maps/torch/torch_immersion.dm
Labels: (^:, Map, Revert/Removal

#25054 April sound changes.
  code/game/sound.dm
  maps/torch/torch_define.dm
  maps/~mapsystem/maps.dm
Labels: :^), Map

#25053 Some job spawn tweaks
  code/modules/mob/transform_procs.dm
  maps/torch/job/command_jobs.dm
Labels: :^), Map, Tweak

#24978 Implemented remaining flying robot modules.
  baystation12.dme
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/storage/specialized.dm
  code/modules/detectivework/tools/swabs.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/flying/module_flying.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_cultivator.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_emergency.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_filing.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_forensics.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_repair.dm
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/projectiles/guns/launcher/net.dm
  html/changelogs/HeyBanditoz - loafmodules.yml
  icons/mob/robots_flying.dmi
  maps/torch/robot/module_flying_surveyor.dm
  maps/torch/torch.dm
Labels: Map, Sprites

#25058 Makes rogue drones spawn in seperate groups
  code/modules/events/maint_drones.dm
Labels: Tweak

#25068 Curing viruses adds antigens correctly
  code/modules/virus2/disease2.dm
Labels: Fix

#25006 Moves all the engine vent control buttons inside the access-controlled box
  html/changelogs/myazaki - engine buttons move.yml
  maps/torch/torch4_deck2.dmm
Labels: Fix, Map

#25030 Add 'admin' changelog entry
  html/auction-hammer-gavel.png
  html/changelog.css
  html/changelogs/example.yml
  test/run-test.sh
  tools/GenerateChangelog/ss13_genchangelog.py
Labels: Tools

#25042 Add universal enzymes to colony kitchen
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
Labels: Map

#25059 Add duffle bag to mining Locker
  maps/torch/structures/closets/supply.dm
Labels: Feature, Map

#25047 IC fixes
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
Labels: Fix

#25028 Adds extracting slime cores as a department goal for science
  code/controllers/subsystems/statistics.dm
  code/modules/goals/definitions/department_science.dm
  code/modules/mob/living/carbon/xenobiological/items.dm
  maps/~mapsystem/maps.dm
Labels: Feature, Map, Ready for Review

#25076 Revert "Some job spawn tweaks"
  code/modules/mob/transform_procs.dm
  maps/torch/job/command_jobs.dm
Labels: Map, Revert/Removal

#25075 Revert "April sound changes."
  code/game/sound.dm
  maps/torch/torch_define.dm
  maps/~mapsystem/maps.dm
Labels: Map, Revert/Removal

#25084 Fix all invalid characters
  .travis.yml
  code/_helpers/text.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_manipulation.dm
  code/game/gamemodes/wizard/servant_items/familiar.dm
  code/game/gamemodes/wizard/servant_items/fiend.dm
  code/game/gamemodes/wizard/servant_items/infiltrator.dm
  code/game/gamemodes/wizard/servant_items/overseer.dm
  code/game/objects/items/weapons/storage/storage_ui/tgui.dm
  code/modules/admin/admin.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/culture_descriptor/culture/cultures.dm
  code/modules/culture_descriptor/culture/cultures_skrell.dm
  code/modules/culture_descriptor/culture/cultures_unathi.dm
  code/modules/culture_descriptor/faction/factions_unathi.dm
  code/modules/culture_descriptor/location/locations_unathi.dm
  code/modules/culture_descriptor/religion/religions_unathi.dm
  code/modules/economy/Events_Mundane.dm
  code/modules/flufftext/TextFilters.dm
  code/modules/library/manuals/union.dm
  code/modules/spells/artifacts/spellbound_servants.dm
  code/modules/synthesized_instruments/globals.dm
  maps/away/lar_maria/lar_maria.dm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/medical_jobs.dm
  test/check-paths.sh
Labels: Map

#25082 Fixes lore stuff in codex entries for Terran and Gaia (Home Planet)
  code/modules/culture_descriptor/culture/cultures.dm
  code/modules/culture_descriptor/location/locations_human.dm
Labels: Fix

#25066 Grab, Push, and Close Combat Tweaks
  code/__defines/mobs.dm
  code/modules/mob/grab/normal/norm_struggle.dm
  code/modules/mob/living/living.dm
  code/modules/mob/skills/skill.dm
  code/modules/species/species.dm
Labels: Tweak

#24962 Tweaks global base miss chances, organ damage, and brain damage.
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/brain.dm
Labels: Tweak

#25108 Fixes wrong type of rods used in the map
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dmm
Labels: Map

#25116 Fixes #25007
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
Labels: Fix

#25098 Fix #25089
  maps/torch/robot/module_flying_surveyor.dm
Labels: Map

#25099 Fix #24789
  maps/torch/torch1_deck5.dmm
Labels: Fix, Map

#25086 Holosigns Tweak
  code/game/machinery/holosign.dm
  icons/obj/holosign.dmi
  maps/torch/torch5_deck1.dmm
Labels: Map, Sprites

#25087 Fixes Fire Alarm construction
  code/game/machinery/alarm.dm
Labels: Fix

#25107 Removes long-range holopad range & renames holopads
  code/game/machinery/hologram.dm
Labels: Revert/Removal, Tweak

#25080 Carps Migration works for Overmap shuttles
  code/__defines/flags.dm
  code/modules/overmap/ships/landable.dm
  code/modules/shuttles/shuttle.dm
  maps/torch/z2_transit.dmm
Labels: Feature, Map

#25106 Fix #21367
  maps/torch/torch5_deck1.dmm
Labels: Fix, Map

#25123 Adds Eggs to the Biogenerator
  code/game/machinery/biogenerator.dm
Labels: Tweak

#25040 Some GC stuff
  baystation12.dme
  code/controllers/subsystems/garbage.dm
  code/game/objects/auras/regenerating_aura.dm
  code/modules/admin/secrets/debug/toggle_harddel.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/mob.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/wounds/wound.dm
  code/modules/surgery/implant.dm
Labels: Feature, Ready for Review, Staff Tools

#25002 Adds wooden wall icons, maps wooden walls into the Torch
  code/game/turfs/simulated/wall_types.dm
  code/game/turfs/simulated/walls.dm
  code/modules/materials/definitions/materials_wood.dm
  icons/turf/wall_masks.dmi
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map, Sprites

#25011 Makes limb damage collapse more avoidable.
  code/modules/mob/living/carbon/human/human_organs.dm
Labels: Tweak

#25093 Ribbon, Patches, and Tags can go in wallets.
  code/game/objects/items/weapons/storage/wallets.dm
  code/modules/clothing/under/accessories/armor.dm
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/weapon/storage/wallets.dm
  maps/torch/torch.dm
Labels: Map, Tweak

#25139 extinguisher refilling clarifications
  code/game/objects/items/weapons/extinguisher.dm
Labels: Fix

#25133 Adds a spare explorer equipment crate to supply - Take Two
  html/changelogs/WatermelonsEverywhere-explorerscelebrate.yml
  maps/torch/datums/supplypacks/science.dm
Labels: Map

#25115 Changes how area test exception lists are formed
  baystation12.dme
  code/modules/maps/map_template_unit_testing.dm
  code/unit_tests/area_tests.dm
  maps/away/bearcat/bearcat.dm
  maps/away/blueriver/blueriver.dm
  maps/away/casino/casino.dm
  maps/away/derelict/derelict.dm
  maps/away/errant_pisces/errant_pisces.dm
  maps/away/icarus/icarus.dm
  maps/away/lar_maria/lar_maria.dm
  maps/away/lost_supply_base/lost_supply_base.dm
  maps/away/magshield/magshield.dm
  maps/away/mining/mining.dm
  maps/away/mobius_rift/mobius_rift.dm
  maps/away/slavers/slavers_base.dm
  maps/away/smugglers/smugglers.dm
  maps/away/unishi/unishi.dm
  maps/away/voxship/voxship.dm
  maps/away/yacht/yacht.dm
  maps/away_sites_testing/away_sites_testing.dm
  maps/away_sites_testing/away_sites_testing_unit_testing.dm
  maps/bearcat/bearcat_unit_testing.dm
  maps/random_ruins/exoplanet_ruins/datacapsule/datacapsule.dm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dm
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/playablecolony.dm
  maps/torch/torch_unit_testing.dm
  maps/~mapsystem/maps_unit_testing.dm
Labels: Map

#25120 Fix #25110
  code/game/objects/structures/morgue.dm
Labels: Fix

#25137 Couple of fixes; nerfs acids.
  code/game/machinery/portable_turret.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: Tweak

#25125 Adding Ore box to Supply crate
  code/datums/supplypacks/operations.dm
Labels: Feature

#25124 Tweaks and runtime fixes for ICs
  code/modules/integrated_electronics/subtypes/access.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/integrated_electronics/subtypes/reagents.dm
  code/modules/integrated_electronics/subtypes/smart.dm
Labels: Fix

#25039 Xilvuxix Tweaks Round 3
  baystation12.dme
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/overmap/ships/engines/ion_thruster.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/clothing/obj_under.dmi
  icons/obj/weapons.dmi
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
  maps/away/skrellscoutship/skrellscoutship.dm
Labels: Map, Sprites

#25111 Various melee weapon tweaks.
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/material/material_weapons.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/tools/crowbar.dm
Labels: Feature, Tweak

#25074 Increases explorer slot count, reduces prospector slot count.
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/supply_jobs.dm
  maps/torch/torch1_deck5.dmm
Labels: Jobs & Access, Map, Tweak

#25131 Charon and Guppy now only need Basic skill for overmap flight
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/ship.dm
  html/changelogs/chinsky - ezpz.yml
  maps/torch/torch_overmap.dm
Labels: Map

#25158 Adds couple dept goals for exoploration
  code/controllers/subsystems/goals.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/trays/tray_tools.dm
  maps/torch/datums/department_exploration.dm
  maps/torch/items/solbanner.dm
  maps/torch/torch.dm
  maps/~mapsystem/maps.dm
Labels: Map

#25129 Fix #24748
  code/modules/mob/living/simple_animal/hostile/bad_drone.dm
Labels: Fix, Ready for Review, Sprites, Tweak

#25136 Adds a way to synthesize crystallizing agent.
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Feature

#25141 Fix #25100 Take 2
  code/modules/spells/targeted/cleric_spells.dm
  code/modules/spells/targeted/targeted.dm
Labels: Fix

#25148 Robots and drones fixes and tweaks
  code/__defines/materials.dm
  code/game/machinery/computer/ai_core.dm
  code/game/turfs/simulated/wall_types.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_remote_control.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_cultivator.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_repair.dm
  code/modules/mob/living/silicon/robot/modules/_module.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/mob/living/silicon/robot/modules/module_engineering.dm
  code/modules/mob/living/silicon/robot/modules/module_illegal.dm
  code/modules/mob/living/silicon/robot/modules/module_janitor.dm
  code/modules/mob/living/silicon/robot/modules/module_maintenance_drone.dm
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/mob/living/silicon/robot/modules/module_miner.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/power/solar.dm
Labels: Fix, Tweak

#25156 Antag selection defaults to NONE
  code/game/gamemodes/game_mode.dm
  code/modules/client/preference_setup/antagonism/01_candidacy.dm
Labels: Tweak

#25153 Mapping adjustments on D1 for SEC, take two.
  code/game/machinery/vending.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_unit_testing.dm
Labels: Map

#25155 Moves the external airlock buttons onto the Skrellship
  maps/away/skrellscoutship/skrellscoutship-2.dmm
Labels: Map

#25167 Monkey and Augment Fixes
  code/modules/augment/augment.dm
  code/modules/organs/external/_external.dm
  code/modules/species/station/monkey.dm
Labels: Fix, Tweak

#25154 Fixes handling of always-on flashlights
  code/game/objects/items/devices/flashlight.dm
Labels: Fix

#25185 Prevents coercing non-mobs
  code/modules/psionics/faculties/coercion.dm
Labels: Fix

#25184 Fixes deck 1 checkpoint shutter control
  maps/torch/torch5_deck1.dmm
Labels: Fix, Map

#25152 Adds a verb to play next lobby track
  code/modules/mob/new_player/new_player.dm
  html/changelogs/chinsky - next.yml
  maps/~mapsystem/maps.dm
Labels: Map

#25190 Removed console outside of ship from PR #25153
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#25193 Fix 25168
  code/modules/surgery/other.dm
Labels: Fix

#25191 Adds supply access to supply office and warehouse shutters
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
Labels: Map

#25214 Deck four Map fixes
  maps/torch/torch2_deck4.dmm
Labels: Map

#25209 lava removes victims again
  code/modules/overmap/exoplanets/volcanic.dm
Labels: Fix

#25215 Removes commented-out code
  code/game/machinery/vending.dm
Labels: Revert/Removal

#25218 Add preview states to various door files
  icons/obj/doors/double/door.dmi
  icons/obj/doors/external/door.dmi
  icons/obj/doors/hatch/door.dmi
  icons/obj/doors/hazard/door.dmi
  icons/obj/doors/secure/door.dmi
  icons/obj/doors/vault/door.dmi
Labels: Sprites

#25162 Supply order tweaks
  code/datums/supplypacks/medical.dm
  maps/torch/datums/supplypacks/security.dm
Labels: Map, Ready for Review, Tweak

#25196 Adjusts piloting skill message
  code/modules/mob/skills/skill.dm
  html/changelogs/Myazaki - Piloting skill description.yml
Labels: Ready for Review

#25201 Unapolegetic shuttle buffs
  baystation12.dme
  code/__defines/overmap.dm
  code/modules/events/meteors.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/ship.dm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
  maps/torch/torch_overmap.dm
Labels: Feature, Map, Tweak

#25226 Adds vibrokatana
  code/game/objects/items/weapons/material/swords.dm
  maps/torch/z1_admin.dmm
  sound/weapons/anime_sword.wav
  sound/weapons/katana_out.wav
Labels: Map

#25224 Titanium and Rutile are now obtainable via mining.
  code/__defines/materials.dm
  code/game/turfs/simulated/wall_types.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/material_sheets.dm
  code/modules/materials/materials_ore.dm
  code/modules/mining/drilling/drill.dm
  code/modules/mining/drilling/scanner.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/random_map/automata/caves.dm
  code/modules/random_map/noise/ore.dm
  html/changelogs/myazaki - titanium.yml
  maps/torch/torch3_deck3.dmm
Labels: Map

#25186 Cryo Tube and Healing Changes
  code/game/gamemodes/cult/runes.dm
  code/game/machinery/cryo.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Feature, Fix, Ready for Review, Tweak, Update Wiki after Merge

#25230 Can dismantle floor lights with a wrench.
  code/game/machinery/floor_light.dm
  html/changelogs/myazaki - floor light dismantle.yml
Labels: Fix

#25228 Various Layer Fixes
  code/game/objects/structures/stasis_cage.dm
  code/modules/hydroponics/beekeeping/beehive.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/dispenser/dispenser2.dm
Labels: Fix

#25217 Gas overlay changes
  code/modules/ZAS/Turf.dm
  code/modules/reagents/Chemistry-Sublimator.dm
  code/modules/xgm/xgm_gas_data.dm
  icons/effects/tile_effects.dmi
Labels: Sprites

#25161 Adds high heels.
  code/__defines/colors.dm
  code/modules/client/preference_setup/loadout/lists/footwear.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/shoes/miscellaneous.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/obj/clothing/obj_feet.dmi
  maps/torch/datums/uniforms.dm
  maps/torch/loadout/loadout_shoes.dm
Labels: Feature, Map, Ready for Review, Sprites

#25079 Exoplanet tweaks and additions
  baystation12.dme
  code/__defines/ruin_tags.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/mining/mine_turfs.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/garbage.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/overmap/exoplanets/random_map.dm
  code/modules/overmap/exoplanets/theme.dm
  code/modules/overmap/exoplanets/turfs.dm
  code/modules/random_map/noise/ore.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dm
  maps/random_ruins/exoplanet_ruins/datacapsule/datacapsule.dm
  maps/random_ruins/exoplanet_ruins/deserted_lab/deserted_lab.dm
  maps/random_ruins/exoplanet_ruins/drill_site/drill_site.dm
  maps/random_ruins/exoplanet_ruins/exoplanet_ruins.dm
  maps/random_ruins/exoplanet_ruins/fountain/fountain_ruin.dm
  maps/random_ruins/exoplanet_ruins/hut/hut.dm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dm
  maps/random_ruins/exoplanet_ruins/little_house.dmm
  maps/random_ruins/exoplanet_ruins/lodge/lodge.dm
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dm
  maps/random_ruins/exoplanet_ruins/monoliths/monoliths.dm
  maps/random_ruins/exoplanet_ruins/oasis/oasis.dm
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/playablecolony.dm
  maps/random_ruins/exoplanet_ruins/radshrine/radshrine.dm
  maps/random_ruins/exoplanet_ruins/spider_nest/spider_nest.dm
  maps/random_ruins/exoplanet_ruins/tar_anomaly/tar_anomaly.dm
  maps/~mapsystem/maps.dm
Labels: Map

#25265 Add some admin message/logs relating to disposals.
  code/modules/recycling/disposal.dm
  code/modules/recycling/sortingmachinery.dm
Labels: Ready for Review, Staff Tools

#25208 Remove Tajaran body markings, remove species restriction for tattoos
  code/modules/sprite_accessories/_accessory_markings.dm
  code/modules/sprite_accessories/accessory_unathi.dm
  icons/mob/human_races/species/default_markings.dmi
Labels: Sprites

#25235 Cleansing Code of Tajaran
  code/game/objects/effects/decals/posters/bs12.dm
  icons/obj/contraband.dmi
Labels: Revert/Removal, Sprites

#25157 Add new random events
  baystation12.dme
  code/_helpers/areas.dm
  code/controllers/subsystems/supply.dm
  code/game/objects/items/devices/t_scanner.dm
  code/modules/events/brain_expansion.dm
  code/modules/events/disposals_explosion.dm
  code/modules/events/event_container.dm
  code/modules/events/mail.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/research/research.dm
Labels: Feature, Tweak

#25200 Remaps Charon to have depressurizible cargo bay
  code/game/machinery/alarm.dm
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/embedded_controller/airlock_program.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  html/changelogs/chinsky - fatcharon.yml
  maps/torch/torch1_deck5.dmm
  maps/torch/torch_overmap.dm
Labels: Map

#25243 Small Typo Fix
  code/game/objects/items/devices/flashlight.dm
Labels: Grammar and Formatting

#25245 Add button to Supply warehouse shutter (deck four)
  maps/torch/torch2_deck4.dmm
Labels: Map

#25279 Allows setting stasis to x10 on sleepers
  html/changelogs/mikomyazaki - sleeper x10.yml
  nano/templates/sleeper.tmpl
Labels: Fix

#25272 Adjusts medical staffing numbers
  maps/torch/job/medical_jobs.dm
Labels: Jobs & Access, Map, Tweak

#25223 Allow Adherent to be prospector
  maps/torch/job/torch_jobs.dm
Labels: Jobs & Access, Lore approved, Map, Tweak, Update Wiki after Merge

#25282 Update README.md for mapcapturemerge
  tools/mapcapturemerge/README.md
Labels: Tools

#25262 Fixes voice changer issue while using a rig.
  code/modules/mob/living/carbon/human/say.dm
  html/changelogs/myazaki - stealth voice changer.yml
Labels: Fix

#25302 Fix defibrillator initialization race condition
  code/game/objects/items/weapons/defib.dm
Labels: Fix

#25300 Adds supply access to supply storage ladder, groups together supply area definitions
  maps/torch/torch3_deck3.dmm
  maps/torch/torch_areas.dm
Labels: Map, Ready for Review

#25303 Tweak : Blood bag size
  code/modules/reagents/reagent_containers/blood_pack.dm
Labels: Tweak

#25251 Makes the gas effects seamless
  icons/effects/tile_effects.dmi
Labels: Sprites

#25229 Research Assistant needs access
  maps/torch/job/research_jobs.dm
Labels: Jobs & Access, Map

#25314 Updates travis version; removes wall icon hack.
  .travis.yml
  code/game/turfs/simulated/wall_icon.dm
Labels: Revert/Removal

#25293 Make common reagents medically scannable
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Tweak

#25296 Unapologetic vox scavengers buff
  maps/away/voxship/voxship.dm
Labels: Map, Ready for Review

#25181 Re-add cult stun talisman and re-implement obscure/reveal runes.
  code/game/gamemodes/cult/ritual.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/cult/talisman.dm
Labels: Feature

#25328 Makes dev compile again
  code/modules/spells/spellbook/cleric.dm
  code/modules/spells/spellbook/druid.dm
Labels: Priority: High ⚠

#25326 Makes vox actually use their onmob glasses sprite sheet
  code/modules/clothing/glasses/glasses.dm
  icons/mob/species/vox/onmob_eyes_vox.dmi
Labels: Sprites

#25325 Makes Ion Thrusters Respect Thrust Goals, On State
  code/modules/overmap/ships/engines/ion_thruster.dm
Labels: Fix

#25333 Fixes syndicate ID cards not being examinable
  code/game/objects/items/weapons/cards_ids_syndicate.dm
Labels: Fix

#25207 Overhaul of sheet material icons, max sheets icon, halved dirt buildup, stacking bug fix, description changes, spelling unification
  code/__defines/colors.dm
  code/datums/supplypacks/dispcarts.dm
  code/game/objects/effects/chem/foam.dm
  code/game/objects/items/shooting_range.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/turfs/initialization/maintenance.dm
  code/game/turfs/simulated.dm
  code/modules/detectivework/tools/sample_kits.dm
  code/modules/item_worth/reagents.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/definitions/materials_mineral.dm
  code/modules/materials/definitions/materials_organic.dm
  code/modules/materials/definitions/materials_stone.dm
  code/modules/materials/material_sheets.dm
  code/modules/power/cable.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
  icons/obj/materials.dmi
  icons/obj/power.dmi
Labels: Feature, Fix, Ready for Review, Sprites, Tweak

#25311 Make Ryetalyn properly reset genes
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Fix

#25337 Adds mop to auxiliary janitor's closet
  maps/torch/torch2_deck4.dmm
Labels: Map

#25322 mesons only prevent hallucinations when active
  code/modules/supermatter/supermatter.dm
Labels: Tweak

#25318 Makes holocomms not transmit speech until call is picked up.
  code/game/machinery/hologram.dm
Labels: Fix

#25176 Adds lighting to energy weapons.
  code/__defines/colors.dm
  code/game/objects/items/weapons/melee/energy.dm
  html/changelogs/Datraen-ESwordLights.yml
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: Ready for Review, Sprites

#25255 Adds warning for silicon unconsciousness
  code/modules/mob/living/silicon/robot/life.dm
Labels: Feature

#25331 Adds Supply access to the outside of the Auxiliary Warehouse shutters
  maps/torch/torch2_deck4.dmm
Labels: Map

#25338 Changes the advanced mop's water synthesizer to synthesize space cleaner
  code/game/objects/items/weapons/mop.dm
Labels: Tweak

#25344 Fix deck 1 checkpoint shutters buttons
  maps/torch/torch5_deck1.dmm
Labels: Fix, Map

#25360 New Medical technicians equipments
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/suits/jobs.dm
  icons/mob/light_overlays.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/light_overlays.dmi
  maps/torch/structures/closets/medical.dm
Labels: Feature, Map, Ready for Review, Sprites, Tweak

#25365 Makes a variety of conditions prevent radio use.
  code/__defines/mobs.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
Labels: Tweak

#25353 Syringe resprite
  code/modules/reagents/reagent_containers/syringes.dm
  icons/obj/ammo.dmi
  icons/obj/reagentfillings.dmi
  icons/obj/syringe.dmi
  icons/obj/syringefilling.dmi
Labels: Sprites

#25346 Adds gendered icons to a few more clothing items.
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/syndicate.dm
  icons/mob/onmob/onmob_under.dmi
Labels: Sprites

#25385 admin narration tools upgrade
  code/_macros.dm
  code/controllers/configuration.dm
  code/datums/communication/pray.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/ticket.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/pray.dm
  code/modules/admin/verbs/randomverbs.dm
  config/example/config.txt
Labels: Admin, Config Update

#25355 Fixes shooting at the Torch with the BSA
  code/modules/overmap/sectors.dm
Labels: Fix

#25347 Buffs tactical armor brute/bullet values.
  code/modules/clothing/under/accessories/armor.dm
Labels: Tweak

#25387 Adminhelps not taken in five minutes automatically close.
  code/modules/admin/ticket.dm
Labels: Admin, Ready for Review

#25388 De-grillifies most windows
  code/game/objects/structures/wallframe_spawner.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

#25237 Species organ tweaks
  baystation12.dme
  code/game/machinery/bioprinter.dm
  code/modules/organs/external/head.dm
  code/modules/organs/external/species/adherent.dm
  code/modules/organs/external/species/blueforged.dm
  code/modules/organs/external/species/diona.dm
  code/modules/organs/external/species/nabber_stance.dm
  code/modules/organs/external/species/prometheans.dm
  code/modules/organs/external/species/skrell.dm
  code/modules/organs/external/species/unathi.dm
  code/modules/organs/external/species/vox.dm
  code/modules/organs/external/species/xenophage.dm
  code/modules/organs/external/species/yeosa.dm
  code/modules/organs/external/standard.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/eyes.dm
  code/modules/organs/internal/species/adherent.dm
  code/modules/organs/internal/species/blueforged.dm
  code/modules/organs/internal/species/nabber.dm
  code/modules/organs/internal/species/skrell.dm
  code/modules/organs/internal/species/starborn.dm
  code/modules/organs/internal/species/unathi.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/organs/internal/species/xenophage.dm
  code/modules/organs/organ.dm
  code/modules/species/outsider/starlight.dm
  code/modules/species/outsider/vox.dm
  code/modules/species/species.dm
  code/modules/species/station/lizard.dm
  code/modules/species/station/nabber.dm
  code/modules/species/station/station.dm
  icons/mob/human_races/species/blueforged/organs.dmi
Labels: Sprites

#25324 Fixes the chameleon items and includes some new
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/clothing/chameleon.dm
Labels: Feature, Fix

#25374 Default and Emergency Spacesuit resprite
  code/datums/outfits/misc.dm
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/mining/abandonedcrates.dm
  icons/mob/light_overlays.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  maps/torch/torch6_bridge.dmm
Labels: Map, Sprites

#25386 New exoplanet ruin - EC wreck
  baystation12.dme
  code/game/machinery/cryopod.dm
  icons/obj/Cryogenic2.dmi
  maps/away/icarus/icarus-1.dmm
  maps/away/icarus/icarus.dm
  maps/away/icarus/icarus_sprites.dmi
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dm
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dmm
Labels: Map, Sprites

#25406 Fix robots click-dragging on catwalks
  code/game/objects/structures/catwalk.dm
Labels: Fix
