Repository Baystation12/Baystation12, pull requests merged in 2019-11, with the labels that each got.

#27457 Fix oxy_mod being used in remove_oxygen_deprivation
  code/modules/mob/living/carbon/human/human_damage.dm
Labels: Tweak

#27447 Fix #27388
  code/modules/modular_computers/file_system/programs/engineering/shields_monitor.dm
Labels: Fix

#27445 Fix #27433
  code/modules/mechs/components/body.dm
Labels: Fix

#27463 Minor light change for welder and lighter
  code/game/objects/items/weapons/lighter.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
Labels: Feature, Tweak

#27469 Buffs accuracy bonus from standing still.
  code/modules/projectiles/gun.dm
Labels: Tweak

#27462 Minor Mining suit buff
  code/modules/clothing/spacesuits/void/station.dm
Labels: Tweak

#27449 Update tests to use Python 3
  .gitignore
  test/run-test.sh
  tools/PunctuationChecker/punctuation-checker.py
  tools/TagMatcher/tag-matcher.py
Labels: Tools

#27476 Borg alt click only shocks doors on harm
  code/_onclick/cyborg.dm
Labels: Tweak

#27440 Shotgun QOL Tweak
  code/modules/projectiles/ammunition/boxes.dm
Labels: Tweak

#27477 Add interact sounds to tablets
  code/modules/modular_computers/computers/subtypes/dev_tablet.dm
Labels: Tweak

#27422 Increases minimal player age for senior officers
  maps/torch/job/command_jobs.dm
Labels: Map

#27486 Allow cyborg materials to be used in machine construction
  code/game/machinery/_machines_base/machinery_components.dm
Labels: Fix

#27132 Moves antag bases out of centcom z into map templates
  baystation12.dme
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_add.dm
  code/game/antagonist/outsider/deity.dm
  code/game/antagonist/outsider/ert.dm
  code/game/antagonist/outsider/mercenary.dm
  code/game/antagonist/outsider/ninja.dm
  code/game/antagonist/outsider/raider.dm
  code/game/antagonist/outsider/wizard.dm
  code/game/area/Space Station 13 areas.dm
  code/game/objects/items/weapons/storage/wall_mirror.dm
  code/modules/spells/spellbook.dm
  maps/antag_spawn/antag_spawn_bases.dm
  maps/antag_spawn/deity/deity.dm
  maps/antag_spawn/deity/deity_base.dmm
  maps/antag_spawn/ert/ert.dm
  maps/antag_spawn/ert/ert_base.dmm
  maps/antag_spawn/heist/heist.dm
  maps/antag_spawn/heist/heist_base.dmm
  maps/antag_spawn/mercenary/mercenary.dm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/antag_spawn/ninja/ninja.dm
  maps/antag_spawn/ninja/ninja_base.dmm
  maps/antag_spawn/wizard/wizard.dm
  maps/antag_spawn/wizard/wizard_base.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_shuttles.dm
  maps/torch/torch_unit_testing.dm
  maps/torch/z1_admin.dmm
  maps/~mapsystem/maps_unit_testing.dm
Labels: Map

#27483 Adding inflatables dispenser to surveyor
  maps/torch/robot/module_flying_surveyor.dm
Labels: Feature, Map

#27482 Removes suit sensors from robotics console
  maps/torch/torch5_deck1.dmm
Labels: Fix, Map, Revert/Removal

#27475 Diona Update Billionty: Tales of Expanding IQ
  code/modules/species/station/station.dm
Labels: Lore approved

#27428 Editing the bridge, I guess
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
Labels: Map, Tweak

#27458 makes crates great again
  icons/obj/closets/bases/crate.dmi
  icons/obj/closets/decals/crate.dmi
Labels: Sprites

#27509 Remove skybox image from fake radstorm
  code/modules/events/radiation_storm.dm
Labels: Fix

#27446 Fix tablet issues
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
Labels: Fix

#27499 Miscellaneous terminal tweaks
  code/modules/modular_computers/hardware/_hardware.dm
  code/modules/modular_computers/hardware/battery_module.dm
  code/modules/modular_computers/hardware/card_slot.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  code/modules/modular_computers/hardware/nano_printer.dm
  code/modules/modular_computers/hardware/network_card.dm
  code/modules/modular_computers/terminal/terminal.dm
  code/modules/modular_computers/terminal/terminal_commands.dm
Labels: Fix, Tweak

#27519 Fixes #27339
  code/modules/multiz/structures.dm
Labels: Fix

#27528 Fix #27409
  maps/torch/items/clothing/solgov-suit.dm
Labels: Fix, Map

#27541 Fixes logic error which prevented char setup from working
  code/modules/client/preference_setup/preference_setup.dm
Labels: Fix

#27498 Fixes, engineering face mask and a few loadout tidbits
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/masks/breath.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_mask.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_mask.dmi
  icons/obj/light_overlays.dmi
  icons/obj/tank.dmi
Labels: Feature, Fix, Sprites, Tweak

#27512 Supply and other misc
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  nano/images/torch/torch-1.png
  nano/images/torch/torch-2.png
  nano/images/torch/torch-3.png
  nano/images/torch/torch-4.png
  nano/images/torch/torch-5.png
  nano/images/torch/torch-6.png
Labels: Fix, Map

#26808 Add RPD [Ready]
  baystation12.dme
  code/datums/supplypacks/atmospherics.dm
  code/game/machinery/pipe/pipe_datums/pipe_datums.dm
  code/game/objects/items/weapons/RPD.dm
  code/modules/mob/skills/skill.dm
  code/modules/research/designs/designs_tool.dm
  icons/obj/tools.dmi
Labels: Sprites, Work In Progress

#27544 Bodybags keep their label overlay after being opened/closed
  code/game/objects/items/bodybag.dm
Labels: Fix

#27560 Adds concrete and material wall textures
  code/__defines/materials.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/wall_types.dm
  code/modules/materials/_materials.dm
  code/modules/materials/definitions/materials_stone.dm
  code/modules/materials/material_sheets.dm
  icons/turf/wall_texture.dmi
Labels: Sprites

#27539 Radios and intercomms now display channels with no access flags
  code/game/objects/items/devices/radio/radio.dm
Labels: Fix

#27537 Fixes a couple of bugs.
  code/game/machinery/computer/arcade.dm
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  icons/obj/stationobjs.dmi
Labels: Sprites

#27532 NTNet Downloads no longer download the file too early
  code/modules/modular_computers/file_system/programs/generic/ntdownloader.dm
  code/modules/modular_computers/ntos/files.dm
Labels: Fix

#27557 Removes broken pressure accessory code
  code/modules/mob/living/carbon/human/life.dm
Labels: Revert/Removal

#27570 Fixes #27569 Gives alternate pen types their own names
  code/modules/paperwork/pen.dm
Labels: Fix

#27547 Fixes/expands loadout options for off-Torch roles.
  maps/torch/loadout/_defines.dm
Labels: Map, Tweak

#27542 Readds recipes to wood, adds titanium to supply.
  code/datums/supplypacks/materials.dm
  code/modules/materials/definitions/materials_wood.dm
  code/modules/materials/material_recipes.dm
Labels: Tweak

#27505 Makes uncuffing/unbuckling only visible within three tiles.
  code/modules/mob/living/carbon/resist.dm
Labels: Tweak

#27564 Fixes Roboticist's Skirt
  icons/mob/onmob/onmob_under.dmi
Labels: Fix, Sprites

#27538 Add soy and iced variants of the new lattes
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Feature

#27582 Emitter control button no longer goes invisible when clicked
  code/game/machinery/buttons.dm
Labels: Fix

#27578 Surg borg fixes
  code/modules/surgery/surgery.dm
Labels: Fix, Tweak

#27592 Buffs infection speed with weaker immune systems.
  code/modules/organs/organ.dm
Labels: Feature

#27580 Boiling a giant spider leg no longer keeps the name the same
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: Fix

#27561 Low effort megabot sprite touchups
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  icons/mob/simple_animal/megabot.dmi
Labels: Sprites

#27555 Tweaks geiger counter thresholds and volume
  code/__defines/misc.dm
  code/game/objects/items/devices/geiger.dm
Labels: Tweak

#27502 Minor Vox changes + Vox hardsuit improvements
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/species/outsider/vox.dm
Labels: Feature, Tweak

#27601 'Instruct' will now tell you exactly why you're a bad teacher
  code/modules/mob/skills/skill_verbs.dm
Labels: Tweak

#27583 Modular consoles now have a forced shutdown verb
  code/modules/modular_computers/computers/subtypes/dev_console.dm
Labels: Fix

#27602 Adds two bunny ear booster sprites.
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/subspecies/booster_hair.dmi
Labels: Sprites

#27572 Removing an ID no longer brings up a popup sometimes
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/hardware/card_slot.dm
Labels: Fix, Ready for Review

#27620 Fixes onmob headset icons for several headsets
  maps/torch/items/headsets.dm
Labels: Fix, Map

#27619 Booster bunny ears touchup.
  icons/mob/human_races/species/human/subspecies/booster_hair.dmi
Labels: Sprites

#27613 Add visible emote for swallowing pills and initiating a give
  code/modules/mob/living/carbon/give.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Tweak

#27581 Supermatter now checks for all sources of meson vision
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/supermatter/supermatter.dm
Labels: Fix

#27412 Implant tweaks and Ion nerf
  code/game/objects/items/weapons/implants/implants/imprinting.dm
  code/game/objects/items/weapons/implants/implants/uplink.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Tweak

#27552 Throw SS bug fixes
  code/controllers/subsystems/throwing.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/maneuvers/maneuver_leap.dm
Labels: Fix

#27615 Add the dispersive blaster
  baystation12.dme
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/modules/projectiles/effects.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/staves.dm
  code/modules/projectiles/projectile/beams.dm
  icons/effects/projectiles.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/incendiary_laser.dmi
  sound/weapons/scan.ogg
Labels: Feature, Sprites

#27618 Can now remove splints from yourself
  code/game/objects/items/stacks/medical.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/stripping.dm
Labels: Fix, Tweak

#27623 Removes the option for fleet mentalists/counselors to be O-2
  maps/torch/job/medical_jobs.dm
Labels: Map, Revert/Removal, Tweak

#27634 Fix Disappearing First Aid Kit
  code/controllers/subsystems/initialization/fabrication.dm
Labels: Fix

#27598 Vending machine has a sound when dispensing an item
  code/game/machinery/vending.dm
  sound/machines/vending_machine.ogg
Labels: Sound

#27591 Radiation damage now deals immune damage.
  code/modules/mob/living/carbon/human/life.dm
Labels: Feature

#27638 Fixes give emotes being reversed
  code/modules/mob/living/carbon/give.dm
Labels: Fix

#27608 Airlock controller resprite
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  icons/obj/airlock_machines.dmi
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map, Sprites, Tweak

#27630 SolGov Employees get uniform vendor items.
  maps/torch/datums/uniforms.dm
  maps/torch/items/uniform_vendor.dm
Labels: Fix, Map

#27632 Flashbang nerfs
  code/game/objects/items/weapons/grenades/flashbang.dm
Labels: Tweak

#27609 Minor deck 5 tweaks
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/game/objects/structures/crates_lockers/closets/_closet_appearance_definitions.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/research/designs/designs_circuits.dm
  icons/obj/computer.dmi
  maps/torch/torch1_deck5.dmm
Labels: Feature, Map, Sprites

#27643 Fix #27642
  maps/torch/job/command_jobs.dm
Labels: Fix, Map, Tweak

#27647 Firing a gun will remove rig cloaks.
  code/modules/projectiles/gun.dm
Labels: Tweak

#27654 Small ship shield buff.
  code/__defines/shields.dm
Labels: Tweak

#27653 Minor combat shield buff.
  code/game/objects/items/weapons/shields.dm
Labels: Tweak

#27648 Add duct tape to YouTool vending machine
  code/game/machinery/vending.dm
Labels: Feature

#27645 Ascent Drones do not get legalese
  code/modules/mob/living/silicon/robot/flying/module_flying_ascent.dm
Labels: Tweak

#27668 Adds pre-made exploration mech
  code/modules/mechs/premade/misc.dm
  code/modules/research/designs/designs_mechfab.dm
  icons/mecha/mech_parts.dmi
  maps/torch/items/mecha.dm
  maps/torch/torch.dm
  maps/torch/torch1_deck5.dmm
Labels: Map, Sprites

#27662 Made virology a perk instead of full skill
  code/__defines/skills.dm
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/mob/skills/skill.dm
  code/modules/virus2/analyser.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/diseasesplicer.dm
  code/modules/virus2/dishincubator.dm
  code/modules/virus2/helpers.dm
  maps/bearcat/bearcat_jobs.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/medical_jobs.dm
Labels: Map, Tweak

#27639 Fixes counselors not having min age set
  maps/torch/job/medical_jobs.dm
Labels: Map

#27607 Various ruin world tweaks
  code/game/objects/structures/rubble.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/garbage.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/overmap/exoplanets/random_map.dm
  code/modules/overmap/exoplanets/theme.dm
  code/modules/overmap/exoplanets/turfs.dm
  code/modules/random_map/random_map.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  icons/turf/flooring/misc.dmi
  sound/ambience/ominous1.ogg
  sound/ambience/ominous2.ogg
  sound/ambience/ominous3.ogg
Labels: Ready for Review, Sprites

#27681 Allow borgs to access console terminals
  code/_onclick/cyborg.dm
Labels: Tweak

#27671 Nerf to immunobooster.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Tweak

#27667 Adds header to codex entries
  code/controllers/subsystems/initialization/codex.dm
  code/modules/codex/entries/_codex_entry.dm
  code/modules/codex/entries/codex.dm
Labels: Tweak

#27685 Corrects get_or_create_extension()
  code/datums/extensions/extensions.dm
  code/modules/modular_computers/file_system/programs/research/ai_restorer.dm
  code/modules/modular_computers/file_system/programs/research/email_administration.dm
  code/modules/modular_computers/file_system/programs/research/ntmonitor.dm
  code/modules/paperwork/handlabeler.dm
  code/unit_tests/extension_tests.dm
Labels: Priority: High ⚠

#27554 Add scent extensions for reagents and cleanables
  baystation12.dme
  code/datums/extensions/scent/_scent.dm
  code/datums/extensions/scent/scent_candle.dm
  code/datums/extensions/scent/scent_misc.dm
  code/datums/extensions/scent/~scent_undefine.dm
  code/game/machinery/vending.dm
  code/game/objects/effects/decals/Cleanable/aliens.dm
  code/game/objects/effects/decals/Cleanable/fuel.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/robots.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/items/weapons/material/ashtray.dm
  code/modules/clothing/masks/smokable.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Ready for Review

#27674 Dionaea can be cured of viruses through radiation exposure
  code/modules/virus2/disease2.dm
Labels: Tweak

#27663 Changes Pharmacist to Lab Tech
  maps/torch/icons/assignment_hud.dmi
  maps/torch/job/medical_jobs.dm
  maps/torch/job/outfits/medical_outfits.dm
  maps/torch/job/research_jobs.dm
Labels: Jobs & Access, Map, Revert/Removal, Sprites, Tweak

#27695 Adds codex entries for all deity mode structures and spells
  baystation12.dme
  code/modules/codex/entries/spells.dm
  code/modules/codex/entries/structures.dm
  code/modules/spells/spell_code.dm
Labels: Feature

#27696 Added mining accesses to deck chief
  maps/torch/job/supply_jobs.dm
Labels: Map

#27691 Minor medbay tweaks
  code/modules/modular_computers/computers/subtypes/preset_telescreen.dm
  maps/torch/torch5_deck1.dmm
Labels: Fix, Map, Tweak

#27683 Update shield generator monitor readouts
  nano/templates/shields_monitor.tmpl
Labels: Tweak

#27706 Lab Tech Skill Fixes
  maps/torch/job/medical_jobs.dm
Labels: Map, Tweak

#27708 Add type check in volcanic cave system automata
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
Labels: Fix

#27633 Add two regular fauna for the lava exoplanet, proj damage tweak
  baystation12.dme
  code/modules/mob/living/simple_animal/hostile/retaliate/exoplanet.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_crab.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/jelly.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  icons/mob/simple_animal/animal.dmi
Labels: Feature, Ready for Review, Sprites, Tweak

#27713 Adds an error message for trying to cut into spacesuits/thick clothes/armor with a scalpel
  code/modules/surgery/surgery.dm
Labels: Tweak

#27710 Makes robotic limb reattachment consistently use robotic skills.
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/surgery.dm
Labels: Fix

#27724 Fixes deleting warrants in the main warrant window
  code/modules/modular_computers/file_system/programs/security/digitalwarrant.dm
Labels: Fix
