Repository Baystation12/Baystation12, pull requests merged in 2019-12, with the labels that each got.

#27549 Drink Expansion - 28 new drinks + recipes
  code/game/machinery/vending.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  icons/obj/drinks.dmi
Labels: Sprites, Update Wiki after Merge

#27740 Antagonist icons (e.g. cultist) no longer show up under the floor.
  code/game/antagonist/antagonist_update.dm
Labels: Fix

#27746 Z-Mimic / AO / Observ Fixes
  code/controllers/subsystems/lighting.dm
  code/datums/observation/observation.dm
  code/game/turfs/turf_ao.dm
  code/game/turfs/turf_changing.dm
  maps/away/bearcat/bearcat-2.dmm
Labels: Map

#27742 Candy bar sprite replacement
  icons/obj/food.dmi
Labels: Sprites, Tweak

#27719 replaces booster biomod hairs with markings
  baystation12.dme
  code/__defines/mobs.dm
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/organs/external/_external_icons.dm
  code/modules/organs/external/head.dm
  code/modules/sprite_accessories/_accessory_hair.dm
  code/modules/sprite_accessories/_accessory_markings.dm
  code/modules/sprite_accessories/accessory_booster.dm
  icons/mob/human_races/species/human/subspecies/booster_hair.dmi
  icons/mob/human_races/species/human/subspecies/booster_mods.dmi
Labels: Feature, Sprites

#27732 Add retractable pens, split up pen.dm
  baystation12.dme
  code/datums/supplypacks/operations.dm
  code/modules/modular_computers/computers/subtypes/dev_pda.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/pen.dm
  code/modules/paperwork/pen/chameleon_pen.dm
  code/modules/paperwork/pen/crayon.dm
  code/modules/paperwork/pen/fancy.dm
  code/modules/paperwork/pen/multi_pen.dm
  code/modules/paperwork/pen/pen.dm
  code/modules/paperwork/pen/reagent_pen.dm
  code/modules/paperwork/pen/retractable_pen.dm
  icons/obj/bureaucracy.dmi
  maps/torch/torch6_bridge.dmm
  sound/items/penclick.ogg
Labels: Feature, Map, Ready for Review, Sprites

#27752 removes unused dmf entries
  interface/skin.dmf
Labels: Revert/Removal

#27741 Taping paper to windows will now put it above the window
  code/game/objects/items/weapons/tape.dm
Labels: Fix

#27611 Allows labeling of storage items with intent check
  code/game/objects/items/weapons/storage/storage.dm
Labels: Tweak

#27758 Fixes Ahab's Harpoon thrusters being inoperational.
  maps/away/errant_pisces/errant_pisces.dm
Labels: Map

#27764 Make Aiming more stealth
  code/modules/projectiles/targeting/targeting_overlay.dm
Labels: Tweak

#27664 Engineering Bay and Atmospherics Remap
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch_areas.dm
Labels: Map

#27777 fixes EC officer under rolled and rolled sleeves
  maps/torch/icons/mob/onmob_under_solgov.dmi
Labels: Fix, Map

#27690 Few changes and fixes
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/client/preferences.dm
Labels: Feature, Fix, Revert/Removal

#27779 Nerfs burn damage from radiation by 75%
  code/modules/mob/living/carbon/damage_procs.dm
Labels: Tweak

#27778 Attempt to fix species client lag issues.
  code/modules/species/species_helpers.dm
Labels: Fix

#27784 Adds inventory icon for pod mech body
  icons/mecha/mech_parts_held.dmi
Labels: Fix, Sprites

#27780 Allows robots to unwrench rechargers
  code/game/machinery/recharger.dm
Labels: Fix

#27686 Lets goals check if they're impossible before adding them
  code/modules/goals/_goal.dm
  code/modules/goals/goal_department.dm
  maps/torch/datums/department_exploration.dm
Labels: Map

#27626 Adds clear-wall map helper landmarks, adds them to various ruins
  code/game/objects/effects/landmarks.dm
  code/modules/maps/helper_landmarks.dm
  icons/effects/landmarks.dmi
  maps/random_ruins/exoplanet_ruins/datacapsule/datacapsule.dmm
  maps/random_ruins/exoplanet_ruins/deserted_lab/deserted_lab.dmm
  maps/random_ruins/exoplanet_ruins/drill_site/drill_site.dmm
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dmm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dmm
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dm
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dmm
  maps/random_ruins/exoplanet_ruins/monoliths/monoliths.dmm
  maps/random_ruins/exoplanet_ruins/tar_anomaly/tar_anomaly.dmm
Labels: Map, Sprites

#27603 Allows roundstart ai spawning
  code/controllers/subsystems/jobs.dm
  code/game/machinery/computer/ai_core.dm
  code/modules/mob/living/silicon/ai/latejoin.dm
  code/modules/mob/transform_procs.dm
Labels: Fix

#27783 Reskin revolution to mutiny for the Torch
  code/game/antagonist/antagonist_create.dm
  code/game/antagonist/antagonist_factions.dm
  code/stylesheet.dm
  maps/torch/datums/game_modes/torch_revolution.dm
  maps/torch/torch.dm
Labels: Map

#27770 bald boosters get bald ears
  code/__defines/items_clothing.dm
  code/modules/organs/external/head.dm
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/subspecies/booster_mods.dmi
Labels: Sprites, Tweak

#27767 Updates recently added drink strength to a more realistic level.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
Labels: Fix

#27796 Fixes email issues.
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
Labels: Fix

#27803 Adjusts access for biowaste disposal cart
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Fix

#27786 Random computer parts resprite
  icons/obj/modular_components.dmi
Labels: Sprites

#27818 Revert "Merge pull request #27768 from afterthought2/topic_check"
  baystation12.dme
  code/game/objects/topic.dm
  code/modules/client/preference_setup/matchmaking/matchmaking.dm
  code/modules/mob/language/language.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/deity/deity_topic.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/software.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/crow/crow.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/nano/interaction/view.dm
  test/check-paths.sh
Labels: Revert/Removal

#27820 Mob Topic fixes.
  baystation12.dme
  code/game/objects/topic.dm
  code/modules/client/preference_setup/matchmaking/matchmaking.dm
  code/modules/mob/language/language.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/deity/deity_topic.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/software.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/crow/crow.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/nano/interaction/view.dm
  test/check-paths.sh
Labels: Priority: High ⚠

#27798 fix starborn, blueforged, partial prometheans
  code/modules/organs/external/species/prometheans.dm
  icons/mob/human_races/species/blueforged/body.dmi
  icons/mob/human_races/species/starborn/body.dmi
Labels: Fix, Sprites

#27821 Lowered renegade amount, removed duplicate vars
  code/game/antagonist/station/renegade.dm
Labels: Fix, Tweak

#27814 Enable weighted lobby track probabilities
  maps/~mapsystem/maps.dm
Labels: Map

#27838 QOL drill changes for exosuits
  code/modules/mechs/equipment/utility.dm
Labels: Feature

#27845 Fixes #27841- vox cold_level var should not be zero
  code/modules/species/outsider/vox.dm
Labels: Fix

#27824 Can now wear SFP badge on the neck (in mask slot)
  code/modules/clothing/under/accessories/badges.dm
  icons/mob/onmob/onmob_mask.dmi
Labels: Sprites

#27789 Add foam dart launchers
  baystation12.dme
  code/datums/uplink/badassery.dm
  code/game/machinery/computer/arcade.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/modules/projectiles/guns/launcher/foam_gun.dm
  code/modules/projectiles/guns/launcher/syringe_gun.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/foam.dmi
  icons/obj/storage.dmi
  sound/weapons/foamblaster.ogg
Labels: Feature, Ready for Review, Sprites

#27861 PTR bullets aren't hitscan
  code/modules/projectiles/projectile/bullets.dm
Labels: Tweak

#27716 Merc OVERMAP
  code/datums/outfits/spec_op.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/_machines_base/stock_parts/power/terminal.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/turret_control.dm
  code/game/objects/effects/misc.dm
  code/game/objects/structures/railing.dm
  code/game/turfs/flooring/flooring.dm
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/maps/helper_landmarks.dm
  code/modules/maps/map_template.dm
  code/modules/mechs/premade/heavy.dm
  code/modules/overmap/disperser/disperser_charge.dm
  code/modules/overmap/disperser/disperser_fire.dm
  code/modules/overmap/ships/engines/gas_thruster.dm
  code/modules/pointdefense/pointdefense.dm
  maps/antag_spawn/heist/heist.dm
  maps/antag_spawn/mercenary/mercenary.dm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_shuttles.dm
  maps/torch/z2_transit.dmm
Labels: Map

#27790 Buildable radio components; air sensor changes.
  baystation12.dme
  code/controllers/communications.dm
  code/datums/extensions/multitool/items/stock_parts_radio.dm
  code/game/machinery/_machines_base/machine_construction/item_chassis.dm
  code/game/machinery/_machines_base/machinery_components.dm
  code/game/machinery/_machines_base/stock_parts/radio/receiver.dm
  code/game/machinery/_machines_base/stock_parts/radio/transmitter.dm
  code/game/machinery/_machines_base/stock_parts/stock_parts_presets.dm
  code/game/machinery/air_sensor.dm
  code/game/machinery/pipe/construction.dm
  code/game/machinery/pipe/pipe_datums/device_pipe_datums.dm
  code/modules/fabrication/designs/general/designs_devices_components.dm
  maps/away/derelict/derelict-station.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Feature, Map, Tweak

#27866 Currency constant
  code/controllers/subsystems/jobs.dm
  code/controllers/subsystems/ticker.dm
  code/datums/trading/ai.dm
  code/datums/trading/food.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  code/datums/trading/trade.dm
  code/datums/uplink/devices and tools.dm
  code/game/jobs/job/job.dm
  code/game/machinery/computer/arcade_orion.dm
  code/game/objects/items/devices/scanners/price.dm
  code/game/objects/items/glassjar.dm
  code/modules/codex/entries/misc.dm
  code/modules/economy/ATM.dm
  code/modules/economy/Accounts.dm
  code/modules/economy/Accounts_DB.dm
  code/modules/economy/EFTPOS.dm
  code/modules/economy/cash.dm
  code/modules/events/money_lotto.dm
  code/modules/mob/skills/skill_verbs.dm
  code/modules/nano/nanoui.dm
  code/modules/projectiles/guns/launcher/money_cannon.dm
  html/changelogs/psycommando.yml
  maps/torch/datums/reports/corporate.dm
  maps/~mapsystem/maps.dm
  nano/templates/merchant.tmpl
Labels: Map

#27831 Adds Taperolls to Supply
  code/datums/supplypacks/supply.dm
  code/game/objects/items/weapons/storage/boxes.dm
Labels: Feature

#27782 Make uplinks other than PDA/headset less awful
  code/datums/uplink/uplink_sources.dm
Labels: Tweak

#27863 Fixes #27862
  code/game/machinery/Sleeper.dm
Labels: Fix, Tweak

#27870 Forensics provides a larger bonus to incisions on dead targets
  code/modules/surgery/generic.dm
Labels: Tweak

#27828 Meteor remix for Torch
  code/game/gamemodes/meteor/meteor.dm
  maps/torch/datums/game_modes/torch_meteor.dm
  maps/torch/torch.dm
Labels: Map

#27891 Updates traitor extended round description
  maps/torch/datums/game_modes/torch_traitor.dm
  maps/torch/torch.dm
Labels: Map, Tweak

#27898 Fixes issue with being able to walk through closed double doors
  code/game/machinery/doors/door.dm
Labels: Fix

#27872 Can't put objects in bags that are inside pockets anymore
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Fix

#27916 Map the Christmas tree
  maps/torch/torch3_deck3.dmm
Labels: Map

#27806 Increase fall damage
  code/modules/multiz/movement.dm
Labels: Tweak

#27878 Fixes bug with merchant machine currency display.
  code/datums/trading/trade.dm
  nano/templates/merchant.tmpl
Labels: Fix

#27880 sensor readout can ignore overmap visitables
  code/modules/overmap/sectors.dm
  maps/antag_spawn/mercenary/mercenary.dm
  maps/away/ascent/ascent.dm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/voxship/voxship.dm
  maps/torch/torch_setup.dm
Labels: Map, Tweak

#27896 Gives junior Scientists SolGov access
  maps/torch/job/research_jobs.dm
Labels: Jobs & Access, Map, Tweak

#27901 Raises the Mind Read time limit to a minute
  code/modules/psionics/faculties/coercion.dm
Labels: Tweak

#27906 Added Bolt Action Rifle to Mutiny Uplink
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/boltaction.dmi
Labels: Sprites

#27890 Prevent the mini spasm event from giving synthetics disabilities
  code/modules/psionics/events/mini_spasm.dm
Labels: Fix

#27922 SCBA sprite Fix
  icons/mob/onmob/onmob_mask.dmi
Labels: Sprites
