Repository Baystation12/Baystation12, pull requests merged in 2019-06, with the labels that each got.

#25654 Add non-expanding attacks to blobs
  code/game/objects/items/weapons/material/coins.dm
  code/modules/blob/blob.dm
Labels: Feature

#25143 Transactions refactor
  baystation12.dme
  code/game/jobs/job/job.dm
  code/game/machinery/vending.dm
  code/modules/economy/ATM.dm
  code/modules/economy/Accounts.dm
  code/modules/economy/Accounts_DB.dm
  code/modules/economy/EFTPOS.dm
  code/modules/economy/Transactions.dm
  code/modules/economy/_economy_misc.dm
  code/modules/events/money_hacker.dm
  code/modules/events/money_lotto.dm
  code/modules/modular_computers/laptop_vendor.dm
  maps/~mapsystem/maps.dm
Labels: Map, Ready for Review, Refactor

#25052 New IC components
  baystation12.dme
  code/modules/admin/create_object.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/prefab/test/testprefabs.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/integrated_electronics/subtypes/reagents.dm
  icons/obj/assemblies/electronic_components.dmi
Labels: Feature, Sprites

#25587 Rig module Tweaks and quick fix
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/mob/inventory.dm
Labels: Feature, Fix, Tweak

#25677 Random pilot suit nerf & explosuit buff
  code/modules/clothing/spacesuits/void/station.dm
  maps/torch/items/clothing/solgov-suit.dm
Labels: Map

#25688 remove resleever and laces except for vox
  baystation12.dme
  code/__defines/species.dm
  code/controllers/configuration.dm
  code/datums/repositories/follow.dm
  code/game/machinery/resleever.dm
  code/game/objects/items/devices/scanners/health.dm
  code/game/objects/items/weapons/circuitboards/machinery/cloning.dm
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/organs/internal/stack.dm
  code/modules/organs/organ.dm
  code/modules/research/designs/designs_biostorage.dm
  code/modules/research/designs/designs_circuits.dm
  code/modules/species/outsider/vox.dm
  code/modules/species/station/adherent.dm
  code/modules/species/station/machine.dm
  code/modules/species/station/nabber.dm
  code/modules/species/station/station.dm
  code/modules/surgery/organs_internal.dm
  config/example/config.txt
  maps/away/lar_maria/lar_maria.dm
  maps/torch/z1_admin.dmm
  nano/templates/resleever.tmpl
Labels: Config Update, Map, Revert/Removal, Update Wiki after Merge

#25696 Removes metagamey things from emag description
  code/game/objects/items/weapons/cards_ids.dm
Labels: Revert/Removal, Tweak

#25702 language post qol
  baystation12.dme
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_equip.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/say.dm
  maps/torch/game/antagonist/outsider/deathsquad.dm
  maps/torch/game/antagonist/outsider/ert.dm
  maps/torch/game/antagonist/outsider/foundation.dm
  maps/torch/game/antagonist/outsider/mercenary.dm
  maps/torch/game/antagonist/outsider/raider.dm
Labels: Map, Ready for Review, Tweak

#25699 Helm interface tweak
  code/modules/overmap/ships/computers/helm.dm
  nano/templates/helm.tmpl
Labels: Fix

#25667 Ghosts shouldn't be able to turn off antag program
  code/modules/modular_computers/file_system/programs/antagonist/uplink.dm
Labels: Fix

#25714 fixes research jumper colour
  maps/torch/items/clothing/solgov-accessory.dm
Labels: Map

#25720 Fix closet runtime and resultant bug
  code/game/objects/structures/crates_lockers/closets/__closet.dm
Labels: Fix

#25707 Cold slowdown adjustment
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Tweak

#25724 Makes buckled rotation easy
  code/modules/mob/mob.dm
Labels: Tweak

#25711 Removes/coalesces item_worth folder
  baystation12.dme
  code/game/objects/items/weapons/material/folding.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/material_weapons.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/material/swords.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/modules/item_worth/Value_procs/atoms.dm
  code/modules/item_worth/Value_procs/mob.dm
  code/modules/item_worth/Value_procs/obj.dm
  code/modules/item_worth/Value_procs/obj/machinery.dm
  code/modules/item_worth/Value_procs/obj/structures.dm
  code/modules/item_worth/material_weapons.dm
  code/modules/item_worth/materials.dm
  code/modules/item_worth/reagents.dm
  code/modules/item_worth/value_procs.dm
  code/modules/materials/_materials.dm
  code/modules/materials/definitions/materials_glass.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/definitions/materials_mineral.dm
  code/modules/materials/definitions/materials_organic.dm
  code/modules/materials/definitions/materials_stone.dm
  code/modules/materials/definitions/materials_wood.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: Revert/Removal

#25706 Tweak bonus blob attacks
  code/__defines/colors.dm
  code/modules/blob/blob.dm
Labels: Tweak

#25641 Fixes #25630 : Round two
  code/modules/multiz/movement.dm
Labels: Fix

#25705 Adds nine-pointed star to list of bible choices
  code/game/objects/items/weapons/storage/bible.dm
  icons/obj/storage.dmi
Labels: Feature, Sprites

#25661 New on-ship hum ambience
  code/game/area/areas.dm
  sound/ambience/shipambience.ogg
Labels: Feature

#25719 Fix invisidrone
  code/modules/mob/living/silicon/robot/modules/_module.dm
Labels: Fix

#25678 Random glasses reshuffle
  code/game/machinery/vending.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/drinkingglass/drinkingglass.dm
  code/modules/reagents/reagent_containers/drinkingglass/extras.dm
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  code/modules/reagents/reagent_containers/drinkingglass/shaker.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  icons/obj/drink_glasses/carafe.dmi
  icons/obj/drink_glasses/cocktail.dmi
  icons/obj/drink_glasses/coffecup.dmi
  icons/obj/drink_glasses/coffecup_tall.dmi
  icons/obj/drink_glasses/extras.dmi
  icons/obj/drink_glasses/fitness.dmi
  icons/obj/drink_glasses/mug.dmi
  icons/obj/drink_glasses/pint.dmi
  icons/obj/drink_glasses/rocks.dmi
  icons/obj/drink_glasses/shake.dmi
  icons/obj/drink_glasses/shot.dmi
  icons/obj/drink_glasses/square.dmi
  icons/obj/drink_glasses/teacup.dmi
  icons/obj/drink_glasses/wine.dmi
  icons/obj/drinks.dmi
  icons/pdrink.dmi
  maps/away/bearcat/bearcat-2.dmm
  maps/away/yacht/yacht.dmm
  maps/bearcat/bearcat-2.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_npcs.dm
  maps/torch/z1_admin.dmm
Labels: Map, Ready for Review, Sprites

#25738 Deck 4 and 5 map fixes
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
Labels: Map

#25747 Report fixes.
  maps/torch/datums/reports/exploration.dm
  maps/torch/datums/reports/science.dm
Labels: Fix, Map

#25741 no default language ident on radios
  code/__defines/languages.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/culture_descriptor/culture/cultures_hidden.dm
  code/modules/culture_descriptor/faction/factions_xenophage.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/language/alien/antag.dm
  code/modules/mob/language/human/misc/gutter.dm
  code/modules/mob/language/synthetic.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/posi_brainmob.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_remote_control.dm
  code/modules/mob/living/silicon/robot/drone/drone_say.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/borer/borer_powers.dm
  code/modules/organs/internal/species/xenophage.dm
Labels: Tweak

#25754 Removes remaining mapped stacks.
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
Labels: Map, Revert/Removal

#25742 Makes hangar catwalk all-access area
  maps/torch/torch_areas.dm
Labels: Map, Tweak

#25758 Fix attack_verb on swiss knives
  code/game/objects/items/weapons/material/swiss.dm
Labels: Fix

#25740 Hardsuit air tanks controls!!! + Tanks fixes + rig fixes
  baystation12.dme
  code/game/objects/items/weapons/tanks/tanks.dm
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/rig_verbs.dm
  nano/templates/hardsuit.tmpl
  nano/templates/tanks.tmpl
Labels: Feature, Fix

#25670 Uplink Description Update and Bugfixes
  code/datums/uplink/ammunition.dm
  code/datums/uplink/badassery.dm
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/grenades.dm
  code/datums/uplink/hardsuit_modules.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/datums/uplink/implants.dm
  code/datums/uplink/medical.dm
  code/datums/uplink/services.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
  code/datums/uplink/telecrystals.dm
  code/datums/uplink/uplink_categories.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  nano/templates/uplink.tmpl
Labels: Fix, Ready for Review, Tweak

#25734 torch is not a jail
  code/datums/extensions/multitool/items/clothing.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/stripping.dm
  maps/torch/structures/closets.dm
  maps/torch/torch5_deck1.dmm
Labels: Map, Ready for Review, Tweak, Update Wiki after Merge

#25763 Backported UI indicators.
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/robot.dm
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/mistakenot-ui.yml
  icons/mob/status_hunger.dmi
  icons/mob/status_indicators.dmi
Labels: Sprites

#25748 Adds urns for the dead
  baystation12.dme
  code/game/objects/items/weapons/material/urn.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_items.dm
  icons/obj/urn.dmi
Labels: Feature, Sprites

#25750 Added prosthetics for Vox.
  code/modules/organs/robolimbs.dm
  icons/mob/human_races/cyberlimbs/vox/improvised.dmi
  icons/mob/human_races/cyberlimbs/vox/primalis.dmi
Labels: Sprites

#25771 no ipc ocie
  maps/torch/torch_ranks.dm
Labels: Map, Tweak

#25776 Operation Lizard Hotbox (Heat comfort spam)
  code/modules/species/station/lizard.dm
Labels: Tweak

#25772 Adds a sink to Xilvuxix Op Theatre
  maps/away/skrellscoutship/skrellscoutship-1.dmm
Labels: Map

#25757 adds antag language on changer species change
  code/modules/mob/living/carbon/human/appearance.dm
Labels: Tweak

#25764 Added thirst.
  code/__defines/chemistry.dm
  code/_onclick/click.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/human.dm
  code/game/objects/auras/regenerating_aura.dm
  code/game/objects/items/crayons.dm
  code/game/objects/structures/fitness.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/alien/diona/nymph_attacks.dm
  code/modules/mob/living/carbon/alien/diona/nymph_life.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/xenobiological/life.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/transform_procs.dm
  code/modules/organs/internal/appendix.dm
  code/modules/organs/internal/liver.dm
  code/modules/organs/internal/species/diona.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/species/species.dm
  code/modules/species/station/prometheans.dm
  code/modules/virus2/effect.dm
  code/modules/xenoarcheaology/effects/heal.dm
  code/modules/xenoarcheaology/effects/hurt.dm
  html/changelogs/mistakenot-thirst.yml
Labels: Sprites

#25770 Deck 3 & Deck 5 tweaks
  maps/torch/torch1_deck5.dmm
  maps/torch/torch3_deck3.dmm
Labels: Map

#25672 Robustify Rig Flash
  code/game/objects/items/devices/flash.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
Labels: Tweak

#25783 Fix mirrors not opening appearance menu
  code/game/objects/items/weapons/storage/wall_mirror.dm
Labels: Fix

#25789 Power fixes.
  code/modules/power/apc.dm
  code/modules/power/power_components.dm
  code/modules/power/smes.dm
  code/modules/reagents/heat_sources/_heat_source.dm
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
Labels: Fix

#25625 Bridge Deck Tweaks
  maps/torch/torch6_bridge.dmm
Labels: Deferral Resolved :balance_scale:, Map

#25779 fix toxmod, early lava deletion
  code/modules/ZAS/Fire.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/unit_tests/mob_tests.dm
Labels: Fix

#25801 Adds Bahá'í Faith to human religions
  code/__defines/culture.dm
  code/modules/culture_descriptor/religion/religions_human.dm
  maps/~mapsystem/maps.dm
Labels: Feature, Map

#25786 Splits Chaplain and Counselor.
  code/datums/outfits/jobs/medical.dm
  code/game/jobs/access_datum.dm
  code/game/jobs/job/civilian_chaplain.dm
  code/game/jobs/job/medical.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/mob/living/deity/phenomena/starlight.dm
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  html/changelogs/mistakenot-counsel.yml
  icons/mob/hud.dmi
  maps/torch/icons/assignment_hud.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/outfits/corporate_outfits.dm
  maps/torch/job/outfits/medical_outfits.dm
  maps/torch/job/outfits/service_outfits.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/structures/closets/medical.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_unit_testing.dm
Labels: Jobs & Access, Map, Sprites, Update Wiki after Merge

#25785 Allows suit sensors to be set by alt click
  code/modules/clothing/clothing.dm
Labels: Tweak

#25743 Converting leap and tackle to a single ranged grab interaction.
  baystation12.dme
  code/_onclick/ai.dm
  code/_onclick/click.dm
  code/_onclick/cyborg.dm
  code/_onclick/other_mobs.dm
  code/modules/mob/living/bot/ed209bot.dm
  code/modules/mob/living/carbon/alien/diona/nymph_attacks.dm
  code/modules/mob/living/carbon/human/human_maneuvers.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_maneuvers.dm
  code/modules/mob/living/simple_animal/borer/borer_powers.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/multiz/turf.dm
  code/modules/psionics/mob/mob_interactions.dm
  code/modules/species/outsider/vox.dm
  code/modules/species/species.dm
  code/modules/species/xenomorphs/alien_species.dm
  html/changelogs/MistakeNot4892-leap.yml
Labels: Lore approved

#25813 Make changelog generator UTF-compatible
  test/run-test.sh
  tools/GenerateChangelog/ss13_genchangelog.py
Labels: Tools

#25805 More fixes.
  code/game/mecha/mech_fabricator.dm
  code/modules/atmospherics/components/unary/cold_sink.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/power/power_components.dm
  code/modules/power/smes.dm
  code/modules/research/stock_parts.dm
Labels: Fix

#25814 Adds icons for machinery power components
  code/modules/power/power_components.dm
  icons/obj/stock_parts.dmi
Labels: Sprites

#25822 Removes the adminspawn breacher from the raider list.
  code/game/objects/random/random.dm
Labels: Revert/Removal

#25737 Add 'megafauna system' and giant crab
  baystation12.dme
  code/_macros.dm
  code/game/objects/structures/fountain.dm
  code/modules/mob/living/simple_animal/friendly/crab.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_crab.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/random_map.dm
  code/stylesheet.dm
  icons/mob/animal.dmi
  maps/torch/torch1_deck5.dmm
Labels: Feature, Map, Sprites

#25753 Plasma cutter interaction tweaks & Girder/Wall construction fixes
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/catwalk.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/wall_frame.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/materials/_materials.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/surgery/robotics.dm
Labels: Fix, Tweak

#25645 Rename Brig Officer to Brig Chief
  code/modules/flufftext/Dreaming.dm
  maps/torch/datums/reports/security.dm
  maps/torch/icons/assignment_hud.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/stamps.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/outfits/security_outfits.dm
  maps/torch/job/security_jobs.dm
  maps/torch/structures/closets/security.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
Labels: Jobs & Access, Map, Tweak, Update Wiki after Merge

#25825 Fixes smes init, hopefully.
  code/modules/atmospherics/components/binary_devices/passive_gate.dm
  code/modules/power/smes.dm
  code/modules/power/smes_construction.dm
  code/modules/power/smes_presets.dm
  maps/away/voxship/voxship.dm
  maps/torch/torch_presets.dm
Labels: Map

#25834 Places unathi helmet in proper .dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_head_unathi.dmi
Labels: Sprites

#25829 Randomizes monkey gender on spawn
  code/modules/mob/living/carbon/human/human_species.dm
  maps/torch/torch_npcs.dm
Labels: Lore approved, Map

#25637 Makes it so you can't power entire planet with a single APC
  code/game/objects/items/blueprints.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/turfs.dm
  icons/obj/items.dmi
  test/check-paths.sh
Labels: Ready for Review, Sprites

#25842 Connect the (pristine) bearcat's atmos systems.
  maps/bearcat/bearcat-1.dmm
  maps/bearcat/bearcat-2.dmm
Labels: Fix, Map

#25845 Tweaked thirst for Dionaea.
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/overmap/exoplanets/turfs.dm
  code/modules/species/station/station.dm
  html/changelogs/mistakenot-thirstytree.yml
Labels: Fix

#25860 Sets default value for autoset access in airlock boards to on
  code/game/machinery/doors/airlock_electronics.dm
Labels: Tweak

#25851 Buildable cookers and appliances.
  baystation12.dme
  code/__defines/research.dm
  code/datums/extensions/multitool/circuitboards/buildtype_select.dm
  code/game/machinery/kitchen/cooking_machines/_cooker.dm
  code/game/machinery/kitchen/gibber.dm
  code/game/machinery/kitchen/microwave.dm
  code/game/machinery/machinery_components.dm
  code/game/machinery/seed_extractor.dm
  code/game/objects/items/weapons/circuitboards/circuitboard.dm
  code/game/objects/items/weapons/circuitboards/machinery/household.dm
  code/modules/hydroponics/beekeeping/beehive.dm
  code/modules/research/designs/designs_circuits.dm
Labels: Tweak

#25636 Adds follow links to holopad text for AI
  code/game/machinery/hologram.dm
Labels: Feature

#25685 Adherent Toolbox
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/tools_crystal.dm
  code/modules/codex/entries/tools.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/clothing/obj_belt.dmi
  icons/obj/storage.dmi
Labels: Feature, Sprites

#25751 shoe storage & hobbling & cuffs tweaks
  code/__defines/flags.dm
  code/game/gamemodes/wizard/servant_items/champion.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/material/shards.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/shoes/jobs.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/mob/living/carbon/resist.dm
Labels: Tweak

#25861 Various map fixes
  icons/turf/areas.dmi
  maps/torch/torch2_deck4.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
Labels: Map, Sprites

#25865 Coilgun Fixes
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/projectiles/guns/magnetic/magnetic_construction.dm
Labels: Fix

#25863 Fixes power channel swapping.
  code/modules/power/apc.dm
  code/modules/power/power_usage.dm
Labels: Fix

#25892 Raises meteor minimum player count
  code/game/gamemodes/meteor/meteor.dm
Labels: Tweak

#25849 Washer improvements.
  code/game/machinery/washing_machine.dm
  code/game/objects/items/weapons/circuitboards/machinery/household.dm
  code/modules/research/designs/designs_circuits.dm
  icons/obj/machines/washing_machine.dmi
Labels: Do Not Merge, Sprites, Tweak

#25867 Determine wall name by material
  code/__defines/materials.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/turfs/simulated/wall_icon.dm
  code/modules/materials/_materials.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/definitions/materials_organic.dm
  code/modules/organs/internal/species/vox.dm
  maps/bearcat/bearcat.dm
  maps/bearcat/bearcat_overrides.dm
  maps/torch/torch_define.dm
Labels: Map

#25899 Pipe fixes.
  code/game/machinery/machinery.dm
  code/game/machinery/pipe/construction.dm
  code/modules/power/apc.dm
Labels: Fix

#25806 Move chapel to deck 3, medical east wing changes
  baystation12.dme
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/service.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_furniture.dm
  icons/obj/furniture.dmi
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_unit_testing.dm
Labels: Map, Sprites

#25908 Pointed mission patches at appropriate codex entries.
  maps/torch/items/clothing/solgov-accessory.dm
Labels: Map

#25906 Generalized variant job joining.
  code/controllers/subsystems/jobs.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/silicon.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/corporate_jobs.dm
Labels: Map

#25874 Makes traitor robots always get their emag items, gives cultivator an emag item
  code/game/antagonist/station/traitor.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_cultivator.dm
Labels: Feature

#25773 Added sprinting and stamina.
  code/__defines/chemistry.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/alien_larva.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/configuration.dm
  code/datums/move_intent/move_intent.dm
  code/datums/movement/mob.dm
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/living_maneuvers.dm
  code/modules/mob/living/maneuvers/_maneuver.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  code/modules/species/species.dm
  code/modules/species/station/station.dm
  code/modules/vehicles/cargo_train.dm
  config/example/game_options.txt
  html/changelogs/mistakenot-sprinting.yml
  interface/skin.dmf
Labels: Config Update, Feature

#25911 Restores Petrov hacking to the access decrypter list.
  code/modules/modular_computers/file_system/programs/antagonist/access_decrypter.dm
Labels: Fix

#25901 Fixes Charon mapping errors, hopefully.
  maps/torch/torch1_deck5.dmm
Labels: Map

#25846 Expanded psionics for the Counselor.
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/codex/entries/psionics.dm
  code/modules/library/manuals/manuals.dm
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  html/changelogs/MistakeNot4892-psioniccounsel.yml
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
  icons/obj/card.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/drink_glasses/coffecup.dmi
  icons/obj/library.dmi
  icons/obj/machines/psimeter.dmi
  maps/torch/job/medical_jobs.dm
  maps/torch/job/misc_jobs.dm
  maps/torch/job/outfits/medical_outfits.dm
  maps/torch/job/outfits/misc_outfits.dm
  maps/torch/torch5_deck1.dmm
Labels: Jobs & Access, Map, Ready for Review, Sprites, Update Wiki after Merge

#25854 Add the disorientator, a ranged flash
  code/modules/mob/living/damage_procs.dm
  code/modules/projectiles/effects.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/projectile/dartgun.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/research/designs/designs_weapon.dm
  code/modules/spells/spell_projectile.dm
  code/modules/spells/targeted/projectile/projectile.dm
  icons/effects/projectiles.dmi
  icons/obj/guns/confuseray.dmi
  maps/torch/structures/closets/command.dm
  maps/torch/structures/closets/engineering.dm
  maps/torch/structures/closets/medical.dm
  maps/torch/structures/closets/research.dm
  sound/weapons/confuseray.ogg
Labels: Feature, Map, Sprites

#25881 Add checks for animalness on holopads
  code/game/machinery/hologram.dm
Labels: Fix

#25937 Removed the psi implant from the Counselor.
  maps/torch/job/medical_jobs.dm
  maps/torch/torch5_deck1.dmm
Labels: Map

#25897 CL/LPA tweaks
  maps/torch/items/encryption_keys.dm
  maps/torch/items/headsets.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/torch6_bridge.dmm
Labels: Map, Tweak

#25872 Ports wall ambient occlusion.
  baystation12.dme
  code/__defines/_planes+layers.dm
  code/__defines/ao.dm
  code/__defines/ao_misc.dm
  code/__defines/directions.dm
  code/_helpers/global_access.dm
  code/controllers/subsystems/ao.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor_icon.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_ao.dm
  code/game/turfs/turf_changing.dm
  icons/turf/flooring/shadows.dmi
  test/check-paths.sh
  test/run-test.sh
Labels: Sprites

#25916 Adds a warning if you break a RIG while hacking it
  code/modules/clothing/spacesuits/rig/rig_wiring.dm
Labels: Fix

#25924 Fixes to disposals stuff.
  code/__defines/atmospherics.dm
  code/game/machinery/pipe/pipe_datums/disposal_pipe_datums.dm
  code/game/machinery/pipe/pipe_datums/pipe_datum_base.dm
  code/modules/recycling/disposal-construction.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/disposalpipe.dm
  code/modules/recycling/sortingmachinery.dm
Labels: Fix, Tweak

#25935 Added Creep intent for movement.
  code/controllers/configuration.dm
  code/datums/move_intent/move_intent.dm
  code/modules/species/species.dm
  code/modules/species/station/station.dm
  config/example/game_options.txt
  html/changelogs/mistakenot-creeping.yml
  icons/mob/screen/midnight.dmi
  icons/mob/screen/minimalist.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
  icons/mob/screen1.dmi
  icons/mob/screen1_Midnight.dmi
  icons/mob/screen1_Orange.dmi
  icons/mob/screen1_White.dmi
  icons/mob/screen1_alien.dmi
  icons/mob/screen1_old.dmi
Labels: Config Update, Sprites

#25938 Fixes machine interact and process issues.
  code/game/machinery/doors/airlock_control.dm
  code/modules/power/smes_construction.dm
  code/modules/shield_generators/shield_generator.dm
Labels: Fix

#25942 uses the correct random closet on the torch again
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#25947 Minor Deity Mode Bugfixes (Robes and Punishment Menu)
  code/modules/mob/living/deity/phenomena/communication.dm
  code/modules/spells/aoe_turf/conjure/faithful_hound.dm
  code/modules/spells/aoe_turf/conjure/force_portal.dm
  code/modules/spells/targeted/cleric_spells.dm
  code/modules/spells/targeted/ethereal_jaunt.dm
Labels: Fix, Tweak

#25875 Chameleon Stamp Cleanup
  code/modules/admin/admin.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/economy/ATM.dm
  code/modules/economy/Accounts.dm
  code/modules/economy/EFTPOS.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/stamps.dm
  icons/obj/bureaucracy.dmi
  maps/torch/items/stamps.dm
  maps/torch/z1_admin.dmm
Labels: Map, Revert/Removal, Sprites, Tweak

#25949 Remove access requirement on old brig wall shield generators.
  maps/torch/torch3_deck3.dmm
Labels: Map

#25918 More deck 3 stuff
  maps/torch/torch3_deck3.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_unit_testing.dm
Labels: Fix, Map

#25890 Makes meteors terrifying
  code/game/gamemodes/meteor/meteor.dm
  code/game/gamemodes/meteor/meteors.dm
Labels: Tweak

#25922 Can no longer put polytool tools in pockets, behind your ear, etc.
  code/modules/mob/inventory.dm
Labels: Fix

#25961 Fixes pipe connection conflict in atmospherics
  maps/torch/torch4_deck2.dmm
Labels: Fix, Map

#25909 Mapping fixes + Piping fixes + thruster fixes
  code/game/machinery/pipe/pipe_datums/device_pipe_datums.dm
  code/modules/atmospherics/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/components/binary_devices/pump.dm
  code/modules/atmospherics/components/binary_devices/volume_pump.dm
  code/modules/overmap/ships/engines/gas_thruster.dm
  code/modules/shuttles/shuttle_engines.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

#25951 Make draining a proc of hygiene, retypes drains
  code/game/machinery/pipe/pipe_datums/device_pipe_datums.dm
  code/game/objects/structures/drain.dm
  code/game/objects/structures/watercloset.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#25944 Adds a very, very small chance for offmap roles to be latent psionics, take two.
  maps/torch/torch_submaps.dm
Labels: Map

#25930 Adds a wrapper trash item to monkey cubes
  code/game/objects/items/trash.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/trash.dmi
Labels: Sprites

#25091 Ports eris floor edge decal system, grass tiles & carpets take 2
  code/__defines/ao_misc.dm
  code/__defines/turfs.dm
  code/_helpers/turfs.dm
  code/datums/supplypacks/flooring.dm
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor_icon.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_ao.dm
  code/game/turfs/turf_changing.dm
  code/modules/multiz/turf.dm
  icons/obj/tiles.dmi
  icons/turf/flooring/carpet.dmi
  icons/turf/flooring/dirt.dmi
  icons/turf/flooring/grass.dmi
Labels: Feature, Sprites, Tweak

#25914 Pipeline unit test.
  code/modules/atmospherics/components/unary/tank.dm
  code/unit_tests/atmospherics_tests.dm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/lost_supply_base/lost_supply_base.dmm
  maps/away/magshield/magshield.dmm
  maps/away/slavers/slavers_base.dmm
  maps/away/unishi/unishi-1.dmm
  maps/away/unishi/unishi-2.dmm
  maps/away/unishi/unishi-3.dmm
  maps/away_sites_testing/away_sites_testing_define.dm
  maps/bearcat/bearcat-2.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/z1_admin.dmm
Labels: Map

#25976 Adds an Ascent drone with accompanying tools and languages.
  baystation12.dme
  code/__defines/languages.dm
  code/datums/ai_law_sets.dm
  code/game/jobs/access_datum.dm
  code/game/objects/items/ascent.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/electric_welder.dm
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  code/modules/culture_descriptor/culture/cultures_skrell.dm
  code/modules/emotes/definitions/_mob.dm
  code/modules/emotes/definitions/ascent.dm
  code/modules/mob/language/alien/mantid.dm
  code/modules/mob/language/human/human.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_ascent.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/login.dm
  code/modules/mob/living/silicon/robot/preset.dm
  code/modules/power/cell.dm
  code/modules/projectiles/effects.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/mantid.dm
  code/modules/projectiles/projectile/beams.dm
  icons/effects/projectiles.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/robots_flying.dmi
  icons/mob/screen1_robot.dmi
  icons/mob/species/nabber/onmob_lefthand_particle_rifle.dmi
  icons/mob/species/nabber/onmob_righthand_particle_rifle.dmi
  icons/obj/ascent.dmi
  icons/obj/guns/particle_rifle.dmi
  sound/effects/razorweb.ogg
  sound/effects/razorweb_hiss.ogg
  sound/voice/ascent1.ogg
Labels: Sprites

#25991 Add soap expansion pack content
  code/__defines/colors.dm
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/soap.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/_closet_appearance_definitions.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/item_worth/worths_list.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/mob/living/silicon/robot/modules/module_janitor.dm
  icons/obj/items.dmi
  icons/obj/lavatory.dmi
  icons/obj/soap.dmi
  maps/away/magshield/magshield.dmm
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/torch/structures/closets/command.dm
  maps/torch/structures/closets/engineering.dm
  maps/torch/structures/closets/exploration.dm
  maps/torch/structures/closets/medical.dm
  maps/torch/structures/closets/research.dm
  maps/torch/structures/closets/security.dm
  maps/torch/structures/closets/supply.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/z1_admin.dmm
Labels: Feature, Map, Sprites

#25855 No more gibs in vacuum.
  code/__defines/atmos.dm
  code/modules/mob/living/carbon/human/life.dm
Labels: Tweak

#26011 Fixes being able to drag people onto optables while buckled
  code/game/machinery/OpTable.dm
Labels: Fix

#25966 Fixes various recent issues.
  code/__defines/subsystems.dm
  code/game/machinery/pipe/pipe_datums/pipe_datum_base.dm
  code/game/machinery/status_light.dm
  code/modules/atmospherics/components/unary/outlet_injector.dm
  code/modules/atmospherics/pipes.dm
  code/modules/research/circuitprinter.dm
  code/modules/shieldgen/shieldwallgen.dm
Labels: Fix

#25986 Runtime fixes.
  code/__defines/MC.dm
  code/modules/overmap/ships/engines/engine.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/disposalholder.dm
Labels: Fix

#26003 Add megaleeches
  baystation12.dme
  code/game/gamemodes/cult/ritual.dm
  code/game/gamemodes/cult/runes.dm
  code/modules/mob/living/simple_animal/constructs/soulstone.dm
  code/modules/mob/living/simple_animal/hostile/leech.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  icons/mob/megaleech.dmi
  icons/mob/roaper.dmi
Labels: Feature, Sprites

#25796 Misc bridge tweaks
  maps/torch/torch6_bridge.dmm
Labels: Map

#26054 Adds a chemistry recipes guidebook to chemistry locker.
  code/modules/library/lib_items.dm
  code/modules/library/manuals/medical.dm
  icons/obj/library.dmi
  maps/torch/torch5_deck1.dmm
Labels: Feature, Map, Sprites

#26050 Unathi hair fixes and tweaks
  icons/mob/human_races/species/unathi/hair.dmi
Labels: Sprites, Tweak

#26049 Unathi glove icon fixes
  icons/mob/species/unathi/generated/onmob_hands_unathi.dmi
Labels: Sprites, Tweak

#26008 Moves some log stuff to a more modern proc.
  code/_onclick/rig.dm
  code/game/machinery/computer/arcade_orion.dm
  code/game/machinery/computer/robot.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/machinery/turret_control.dm
  code/game/objects/effects/chem/chemsmoke.dm
  code/game/objects/empulse.dm
  code/game/objects/explosion.dm
  code/game/objects/items/weapons/implants/implants/explosive.dm
  code/game/objects/items/weapons/implants/implants/imprinting.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/objects/items/weapons/weldbackpack.dm
  code/modules/admin/verbs/cinematic.dm
  code/modules/awaymissions/bluespaceartillery.dm
  code/modules/bsa/bsa_fire.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/mob/living/carbon/alien/diona/nymph_gestalting.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/power/lighting.dm
  code/modules/power/singularity/act.dm
  code/modules/power/smes_construction.dm
  code/modules/random_map/drop/droppod.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/security levels/keycard authentication.dm
  code/modules/shuttles/shuttle_emergency.dm
Labels: Admin

#26055 Potentially fix travis CI issues with colony map
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
Labels: Map

#26027 Helium and second hydrogen canister in R-UST
  maps/torch/torch4_deck2.dmm
Labels: Map

#26077 Mob offset fixes
  baystation12.dme
  code/__defines/flags.dm
  code/__defines/mobs.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/maneuvers/maneuver_leap.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/friendly/slime.dm
  code/modules/mob/living/simple_animal/friendly/tomato.dm
  code/modules/mob/mob_defines.dm
Labels: Fix

#26059 Removes outdated and empty skin category
  interface/skin.dmf
Labels: Revert/Removal

#25889 fix microwaves ejecting their components
  code/game/machinery/kitchen/microwave.dm
Labels: Fix, Tweak

#26062 Added semi-antagonist status for vox roles.
  baystation12.dme
  code/__defines/gamemode.dm
  code/game/antagonist/station/provocateur.dm
  code/game/jobs/job/job.dm
  code/modules/admin/topic.dm
  code/modules/submaps/submap_join.dm
  html/changelogs/mistakenot-agentprovocateur.yml
  maps/away/voxship/voxship_jobs.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/misc_jobs.dm
Labels: Map
