Repository Baystation12/Baystation12, pull requests merged in 2019-02, with the labels that each got.

#24362 Fixed pilot skill descriptions
  code/modules/mob/skills/skill.dm
Labels: Tweak

#24372 Fixes duplicated fire alarm. Adds a different fire alarm to deck fours
  maps/torch/torch-1.dmm
Labels: Map

#24363 Fixes Science Uniforms
  maps/torch/datums/uniforms_expedition.dm
  maps/torch/job/torch_outfits.dm
  maps/torch/loadout/loadout_suit.dm
Labels: Feature, Fix, Map

#24374 Null out non-rank name_shorts
  maps/torch/torch_ranks.dm
Labels: Map

#24382 Fixed /material/glass/phoron melting temperature to be consistent with pre-material overhaul
  code/modules/materials/definitions/materials_glass.dm
Labels: Fix, Tweak

#24387 Fixes #24136
  maps/torch/torch_areas.dm
  maps/torch/torch_elevator.dm
Labels: Map

#24321 Add CSO's hardsuit rig
  code/game/objects/items/weapons/grenades/light.dm
  icons/mob/onmob/onmob_rig_back.dmi
  maps/torch/icons/mob/onmob_feet_solgov.dmi
  maps/torch/icons/mob/onmob_hands_solgov.dmi
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/obj/obj_feet_solgov.dmi
  maps/torch/icons/obj/obj_hands_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/icons/obj/uniques.dmi
  maps/torch/items/rigs.dm
  maps/torch/torch-0.dmm
  maps/torch/torch-5.dmm
Labels: Map, Sprites

#24343 Exploration Shotgun
  code/datums/supplypacks/security.dm
  code/datums/uplink/ammunition.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/random/random.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile.dm
  html/changelogs/chinsky - gunsgunsguns.yml
  icons/obj/ammo.dmi
  icons/obj/guncabinet.dmi
  icons/obj/storage.dmi
  maps/away/bearcat/bearcat-2.dmm
  maps/away/casino/casino.dmm
  maps/away/icarus/icarus-2.dmm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/slavers/slavers_base.dmm
  maps/overmap_example/bearcat/bearcat-2.dmm
  maps/random_ruins/exoplanet_ruins/lodge/lodge.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/torch/datums/supplypacks/science.dm
  maps/torch/icons/obj/explshotgun.dmi
  maps/torch/items/explo_shotgun.dm
  maps/torch/torch-0.dmm
  maps/torch/torch-6.dmm
  maps/torch/torch.dm
Labels: Map, Sprites

#24381 Rearrange Guppy's interior (without me failing to squash)
  maps/torch/torch-0.dmm
Labels: Map, Tweak

#24411 Fixes #24410
  code/modules/research/rdconsole.dm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch_areas.dm
Labels: Fix, Map

#24414 Fixes #24413
  maps/torch/torch-5.dmm
Labels: Map

#24408 Bleaches skrell guns
  icons/obj/guns/skrell_carbine.dmi
  icons/obj/guns/skrell_pistol.dmi
  icons/obj/guns/skrell_rifle.dmi
Labels: Sprites

#24384 Make RCAs fail catastrophically if overheated
  code/modules/admin/view_variables/view_variables.dm
  code/modules/power/singularity/collector.dm
  icons/obj/singularity.dmi
Labels: Feature, Sprites

#24415 Fixes n tweaks to exploshotgun
  maps/torch/items/explo_shotgun.dm
Labels: Map

#24354 Add explosive harpoons to uplink
  code/datums/uplink/grenades.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  icons/obj/weapons.dmi
  sound/weapons/bombwhine.ogg
Labels: Feature, Sprites, Tweak

#24419 Changes game year to 2307
  code/_global_vars/configuration.dm
  code/_helpers/time.dm
  code/game/objects/effects/decals/posters/bs12.dm
  code/game/objects/items/paintkit.dm
  code/game/objects/structures/pit.dm
  code/modules/games/spaceball_cards.dm
  code/modules/library/manuals/engineering.dm
  code/modules/modular_computers/file_system/programs/antagonist/uplink.dm
  code/modules/projectiles/guns/launcher/crossbow.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  maps/torch/structures/signs.dm
  nano/templates/laptop_configuration.tmpl
  nano/templates/library.tmpl
  nano/templates/ntnet_downloader.tmpl
Labels: Lore approved, Map

#24424 Fixes Hangar Access Loophole
  maps/torch/torch-0.dmm
Labels: Fix, Map

#24348 Adds drag-to-fire full auto guns.
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Test Merge :heavy_check_mark:

#24423 Enforce material unity, map some more cups
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  maps/torch/torch-4.dmm
Labels: Map

#24429 Fix a few issues
  code/game/machinery/autolathe_datums.dm
  code/game/mecha/mech_fabricator.dm
  maps/torch/torch-4.dmm
Labels: Fix, Map

#24378 Add vox ship/base, Im terrible at git edition
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship.dm
  maps/away/voxship/voxship.dmi
  maps/away/voxship/voxship_areas.dm
  maps/away/voxship/voxship_jobs.dm
  maps/away_sites_testing/away_sites_testing.dm
  maps/away_sites_testing/away_sites_testing_unit_testing.dm
  maps/torch/torch-7.dmm
  maps/torch/torch.dm
  maps/torch/torch_unit_testing.dm
Labels: Feature, Map, Ready for Review

#24390 Adds new lobby screen
  maps/torch/icons/lobby.dmi
  maps/torch/torch_lobby.dm
Labels: Map

#24351 Replace the king of goats in hydrobase
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dmm
Labels: Lore approved, Map, ♨️HOT♨️

#24434 Removes the observe verb.
  code/modules/mob/mob.dm
Labels: Revert/Removal

#24442 Add borg rechargers to communal brig and merchant's station
  maps/torch/torch-4.dmm
  maps/torch/torch-6.dmm
Labels: Map

#24441 Add rechargers to merchant shuttle and merchant base
  maps/torch/torch-6.dmm
Labels: Map

#24420 Scales down traitor gun selection
  code/datums/uplink/ammunition.dm
  code/datums/uplink/hardsuit_modules.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Tweak

#24398 Gun Accuracy Changes
  code/__defines/guns.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/magnetic.dm
  html/changelogs/chinsky - gunsuck.yml
Labels: Tweak

#24385 Medstuff
  baystation12.dme
  code/game/machinery/Sleeper.dm
  code/game/objects/items/devices/auto_cpr.dm
  code/game/objects/structures/ironing_board.dm
  code/game/objects/structures/iv_drip.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/codex/entries/medical.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/organs/blood.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/liver.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  html/changelogs/chinsky - medstuff.yml
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/auto_cpr.dmi
  icons/obj/rollerbed.dmi
  maps/torch/torch-4.dmm
Labels: Map, Sprites

#24443 merc and raider don't autovote on leaving
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/godmode/godmode.dm
  code/game/gamemodes/heist/heist.dm
  code/game/gamemodes/malfunction/malfunction.dm
  code/game/gamemodes/mixed/bughunt.dm
  code/game/gamemodes/mixed/conflux.dm
  code/game/gamemodes/mixed/crossfire.dm
  code/game/gamemodes/mixed/faithless.dm
  code/game/gamemodes/mixed/infestation.dm
  code/game/gamemodes/mixed/intrigue.dm
  code/game/gamemodes/mixed/lizard.dm
  code/game/gamemodes/mixed/paranoia.dm
  code/game/gamemodes/mixed/siege.dm
  code/game/gamemodes/mixed/spyvspy.dm
  code/game/gamemodes/mixed/traitorling.dm
  code/game/gamemodes/mixed/unity.dm
  code/game/gamemodes/mixed/uprising.dm
  code/game/gamemodes/mixed/visitors.dm
  code/game/gamemodes/ninja/ninja.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/wizard/wizard.dm
  code/modules/shuttles/shuttles_multi.dm
Labels: Tweak

#24173 3/4 sprites port from Eris, TG
  icons/obj/bureaucracy.dmi
  icons/obj/library.dmi
  icons/obj/machines/research.dmi
  icons/obj/machines/shielding.dmi
  icons/obj/mining.dmi
  icons/obj/power.dmi
  icons/obj/stationobjs.dmi
  icons/obj/virology.dmi
Labels: Ready for Review, Sprites

#24438 Removes arms and armor from command lockers.
  maps/torch/structures/closets/command.dm
  maps/torch/structures/closets/misc.dm
Labels: Map, Revert/Removal

#24435 Resolves issues with loading maps which sleep in New.
  code/modules/maps/reader.dm
  code/modules/mining/mine_items.dm
Labels: Ready for Review

#24197 Updated to latest mapmerge2, patch for dmi tool from TG
  tools/dmitool/dmitool.jar
  tools/dmitool/src/main/java/dmitool/IconState.java
  tools/mapmerge2/README.md
  tools/mapmerge2/dmm.py
  tools/mapmerge2/precommit.py
  tools/mapmerge2/requirements.txt
Labels: Fix, Tools

#24463 makes the casino ship reasonably flyable
  maps/away/casino/casino.dm
Labels: Map, Tweak

#24458 Fix a bunch of issues
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/toys.dm
  code/modules/clothing/masks/smokable.dm
  code/modules/materials/material_sheets.dm
  code/modules/projectiles/gun.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
Labels: Fix, Sprites

#24453 voxship fixes
  maps/away/voxship/voxship-1.dmm
Labels: Fix, Map

#24467 Fixes #24466
  maps/torch/torch-6.dmm
Labels: Fix, Map

#24431 Add Pilot Voidsuit to Bridge EVA
  maps/torch/torch-5.dmm
Labels: Feature, Map, Ready for Review

#24483 Removes warrant officer datums from code
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/torch_ranks.dm
Labels: Map, Revert/Removal

#24470 Z interaction
  code/__defines/flags.dm
  code/game/machinery/doors/firedoor.dm
  code/modules/multiz/structures.dm
  code/modules/multiz/turf.dm
Labels: Feature

#24469 Gun safety tweaks
  code/datums/extensions/holster/holster.dm
  code/modules/mob/skills/skillset.dm
  code/modules/projectiles/gun.dm
  html/changelogs/chinsky - safetyfirst.yml
Labels: Tweak

#24481 Add alarms to deck 4 hanger bay catwalks
  maps/torch/torch-1.dmm
Labels: Map

#24449 Addresses carp lag, hopefully.
  code/modules/events/carp_migration.dm
Labels: Priority: High ⚠

#24493 Fix chem master close button
  code/modules/reagents/Chemistry-Machinery.dm
Labels: Fix

#24489 Rename some stuff on map
  maps/torch/torch-1.dmm
Labels: Map

#24462 A bunch of assorted init improvements and fixes.
  code/__defines/subsystems.dm
  code/controllers/subsystems/atoms.dm
  code/controllers/subsystems/shuttle.dm
  code/game/atoms.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/weapons/cosmetics.dm
  code/game/objects/items/weapons/dice.dm
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/safe.dm
  code/game/objects/structures/tank_dispenser.dm
  code/game/objects/structures/watercloset.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/maps/map_template.dm
  code/modules/maps/reader.dm
  code/modules/mining/mine_turfs.dm
  code/modules/modular_computers/hardware/_hardware.dm
  code/modules/multiz/basic.dm
  code/modules/overmap/overmap_shuttle.dm
  code/modules/overmap/sectors.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/unit_tests/subsystem_tests.dm
  maps/away/derelict/derelict-station.dmm
  maps/away/magshield/magshield.dmm
  maps/away/unishi/unishi-2.dmm
  maps/torch/structures/closets/command.dm
Labels: Map, Ready for Review

#24509 Removes odd null name setting line
  code/modules/mob/new_player/new_player.dm
Labels: Revert/Removal

#24506 Removes decoy AI
  baystation12.dme
  code/game/objects/items/devices/aicard.dm
  code/game/objects/structures/ai_decoy.dm
  code/modules/mob/living/carbon/brain/brain.dm
  code/modules/mob/living/silicon/decoy/death.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
  code/modules/mob/living/silicon/decoy/life.dm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dmm
  maps/torch/torch-6.dmm
Labels: Map, Revert/Removal

#24353 Makes stasis bags much more rare.
  code/datums/supplypacks/medical.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/item_worth/worths_list.dm
  code/modules/research/designs/designs_medical.dm
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
Labels: Map, Tweak

#24522 Eliminate initialization errors on colony map
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
Labels: Map

#24526 Fix robotics once and for all
  maps/torch/torch-3.dmm
Labels: Map

#24516 Adds ability to use autopsy scanner on detached organs
  code/game/objects/items/weapons/autopsy.dm
Labels: Tweak

#24527 Makes ethernet not work when outside comms range of station.
  code/modules/modular_computers/hardware/network_card.dm
Labels: Tweak

#24513 Mountains can now appear on any planet
  baystation12.dme
  code/__defines/colors.dm
  code/modules/mining/mine_turfs.dm
  code/modules/overmap/exoplanets/chlorine.dm
  code/modules/overmap/exoplanets/desert.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/garbage.dm
  code/modules/overmap/exoplanets/grass.dm
  code/modules/overmap/exoplanets/mountain.dm
  code/modules/overmap/exoplanets/planet_theme.dm
  code/modules/overmap/exoplanets/shrouded.dm
  code/modules/overmap/exoplanets/snow.dm
  code/modules/overmap/exoplanets/volcanic.dm
  code/modules/random_map/automata/caves.dm
  icons/turf/excavation_overlays.dmi
  icons/turf/flooring/lava.dmi
  icons/turf/walls.dmi
Labels: Feature, Sprites

#24507 Makes eyeblur overlay blurrier
  icons/mob/screen1.dmi
Labels: Sprites

#24503 Renames overmap_example map to bearcat
  .travis.yml
  baystation12.dme
  maps/bearcat/bearcat-1.dmm
  maps/bearcat/bearcat-2.dmm
  maps/bearcat/bearcat.dm
  maps/bearcat/bearcat_areas.dm
  maps/bearcat/bearcat_define.dm
  maps/bearcat/bearcat_jobs.dm
  maps/bearcat/bearcat_loadouts.dm
  maps/bearcat/bearcat_lobby.dm
  maps/bearcat/bearcat_lobby.dmi
  maps/bearcat/bearcat_overmap.dm
  maps/bearcat/bearcat_overrides.dm
  maps/bearcat/bearcat_shuttles.dm
  maps/bearcat/bearcat_unit_testing.dm
  maps/overmap_example/overmap_example.dm
Labels: Map

#24524 Random gun sprite tweaks
  icons/obj/guns/assault_rifle.dmi
  icons/obj/guns/heavysniper.dmi
  icons/obj/guns/holdout_pistol.dmi
  icons/obj/guns/magnum_pistol.dmi
  icons/obj/guns/revolvers.dmi
Labels: Sprites

#24422 Adds rescue bags
  baystation12.dme
  code/game/objects/items/rescuebag.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  html/changelogs/chinsky - baggie.yml
  icons/obj/closets/rescuebag.dmi
  icons/obj/rescuebag.dmi
  maps/torch/torch-4.dmm
Labels: Map, Sprites

#24535 Updated mapmerge2 requirements to fuzzy version
  tools/mapmerge2/requirements.txt
Labels: Tools

#24543 Removes (as Fake ID) from speaking messages
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/whisper.dm
Labels: Revert/Removal

#24456 Add chevaux de frise
  baystation12.dme
  code/game/machinery/deployable.dm
  code/game/objects/structures/barricade.dm
  code/modules/codex/entries/structures.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  icons/obj/structures.dmi
Labels: Feature, Sprites

#24395 XO has access to CSO offices.
  maps/torch/job/command_jobs.dm
Labels: Map, Tweak

#24542 Makes stasis bags non-orderable
  code/datums/supplypacks/medical.dm
Labels: Revert/Removal

#24559 Converted surgery overlays to greyscale coloured by species.
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/species/species_getters.dm
  icons/mob/surgery.dmi
Labels: Sprites

#24564 Converted crystal welder into a descendant of a new arc welder class.
  baystation12.dme
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/electric_welder.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/game/objects/items/weapons/tools_crystal.dm
  icons/obj/tools.dmi
Labels: Sprites

#24557 Psionic fixes/tweaks.
  code/__defines/colors.dm
  code/datums/mind.dm
  code/modules/materials/recipes_stacks.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/resist.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/constructs/soulstone.dm
  code/modules/psionics/complexus/complexus_helpers.dm
  code/modules/psionics/complexus/complexus_topic.dm
  code/modules/psionics/events/mini_spasm.dm
  code/modules/psionics/faculties/coercion.dm
  code/modules/psionics/null/chemistry.dm
  code/modules/psionics/null/flooring.dm
  code/modules/psionics/null/material.dm
  code/modules/reagents/Chemistry-Recipes.dm
  icons/obj/tiles.dmi
  icons/turf/flooring/tiles.dmi
Labels: Sprites

#24550 Added razorwebs.
  baystation12.dme
  code/game/objects/effects/razorweb.dm
  icons/effects/razorweb.dmi
Labels: Sprites

#24251 Adds Leporazine variants and Venaxilin
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Update Wiki after Merge

#24164 End Credits improvements
  code/game/movietitles.dm
  code/modules/admin/secrets/fun_secrets/change_credits.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/client/preference_setup/global/preferences.dm
  sound/serversound_list.txt
Labels: Feature, Last Chance :hourglass_flowing_sand:, Ready for Review, Tweak

#24581 Fixes #24580
  code/game/objects/structures/barricade.dm
Labels: Fix

#24572 Makes the merchant program not use ntnet.
  code/modules/merchant/merchant_programs.dm
  code/modules/modular_computers/hardware/portable_hard_drive.dm
  maps/torch/torch-6.dmm
Labels: Fix, Map, Tweak

#24585 Fixes shuttles ripping up asteroid tiles
  maps/away/mining/mining_areas.dm
Labels: Fix, Map

#24589 Quick viruses-related fix
  code/modules/organs/blood.dm
Labels: Fix

#24595 medals can go in wallets
  code/game/objects/items/weapons/storage/wallets.dm
Labels: Tweak

#24383 Duty glove resprite
  code/game/objects/random/random.dm
  code/modules/clothing/gloves/miscellaneous.dm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/smugglers/smugglers.dm
  maps/torch/datums/uniforms_expedition.dm
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/icons/mob/onmob_hands_solgov.dmi
  maps/torch/icons/obj/obj_hands_solgov.dmi
  maps/torch/items/clothing/solgov-hands.dm
  maps/torch/loadout/loadout_gloves.dm
  maps/torch/loadout/loadout_xeno.dm
  maps/torch/structures/closets/engineering.dm
  maps/torch/structures/closets/security.dm
  maps/torch/torch.dm
Labels: Feature, Map, Ready for Review

#24588 Fixes subtypes improperly configuring sector landmark lists.
  code/controllers/subsystems/shuttle.dm
  code/modules/overmap/sectors.dm
  code/modules/shuttles/landmarks.dm
  code/unit_tests/shuttle_tests.dm
  maps/torch/torch_overmap.dm
Labels: Map, Tweak

#24485 Adherent eyes now don't get blinded by welding
  code/modules/organs/internal/species/adherent.dm
Labels: Lore approved, Tweak

#24599 Fix Officer's Mess door access
  maps/torch/torch-2.dmm
  maps/torch/torch_areas.dm
Labels: Fix, Map

#24586 Merges contractor jobs into their counterparts
  html/changelogs/chinsky - merge.yml
  maps/torch/items/cards_ids.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/supply_jobs.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_outfits.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_eyes.dm
  maps/torch/loadout/loadout_suit.dm
  maps/torch/structures/closets/engineering.dm
  maps/torch/structures/closets/medical.dm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
Labels: Map

#24598 Make officer's mess booze-o-mat accessible by officers
  maps/torch/torch-1.dmm
Labels: Map

#24606 Duplicate items remove for issue #24551
  html/changelogs/mikomyazaki - duplicate items removal.yml
  maps/torch/torch-5.dmm
Labels: Map

#24607 Swapped the names around on the D3 Hallway Firing Range/Ladders cameras.
  html/changelogs/mikomyazaki - Camera Key Fix.yml
  maps/torch/torch-2.dmm
Labels: Map

#24608 Fixes Senior Researcher access
  maps/torch/job/research_jobs.dm
Labels: Fix, Map

#24610 Various access fixes
  maps/torch/job/medical_jobs.dm
  maps/torch/torch-0.dmm
  maps/torch/torch-1.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
Labels: Fix, Map

#24636 Adds an extra supply & denied stamp to the Deck Tech lockers.
  html/changelogs/myazaki - supply stamps.yml
  maps/torch/structures/closets/supply.dm
Labels: Map
