Repository Baystation12/Baystation12, pull requests merged in 2019-03, with the labels that each got.

#24641 Rename Petrov areas to use SRV prefix instead of NSV
  maps/torch/torch_areas.dm
Labels: Map, Tweak

#24644 Restores the Paramedic alt-title to the Corpsman job.
  html/changelogs/myazaki - paramedics.yml
  maps/torch/job/medical_jobs.dm
Labels: Jobs & Access, Map

#24646 Rename Soviet Cola to TerraCola
  code/modules/reagents/reagent_containers/food/cans.dm
Labels: Tweak

#24637 Updates Workplace Liaison description & access
  maps/torch/job/corporate_jobs.dm
Labels: Jobs & Access, Map, Tweak

#24620 Corrects runtime error in issue #22851, fixes Power Trans. Circuits
  code/modules/integrated_electronics/subtypes/power.dm
Labels: Ready for Review

#24657 Makes rescue bags always try to keep at least 51 kPa
  code/game/objects/items/rescuebag.dm
Labels: Fix

#24658 Fixes #24621
  code/controllers/subsystems/initialization/misc.dm
  code/controllers/subsystems/misc_late.dm
Labels: Fix

#24661 All uniform loadout items are now for non-uniformed folks only
  maps/torch/loadout/loadout_uniform.dm
  maps/torch/loadout/loadout_xeno.dm
Labels: Map

#24660 Rename medical base titles, various fixes
  maps/torch/icons/assignment_hud.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/items/headsets.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/torch_outfits.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/structures/closets/medical.dm
Labels: Fix, Jobs & Access, Map, Tweak

#24665 Fix #24664
  maps/torch/torch-6.dmm
Labels: Fix, Map

#24622 Make adherent no-slip if they're flying
  code/modules/hydroponics/spreading/spreading_response.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/power/singularity/act.dm
  code/modules/species/species.dm
  code/modules/species/station/adherent.dm
  icons/mob/human_races/species/adherent/body.dmi
Labels: Feature, Sprites, Tweak

#24688 Split up torch outfits file
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/outfits/corporate_outfits.dm
  maps/torch/job/outfits/engineering_outfits.dm
  maps/torch/job/outfits/exploration_outfits.dm
  maps/torch/job/outfits/medical_outfits.dm
  maps/torch/job/outfits/misc_outfits.dm
  maps/torch/job/outfits/research_outfits.dm
  maps/torch/job/outfits/security_outfits.dm
  maps/torch/job/outfits/service_outfits.dm
  maps/torch/job/outfits/supply_outfits.dm
  maps/torch/job/outfits/torch_outfits.dm
  maps/torch/job/outfits/unused_outfits.dm
  maps/torch/job/torch_outfits.dm
  maps/torch/torch.dm
Labels: Map

#24687 Re-add medical accesses to the officers mess door
  maps/torch/torch-2.dmm
Labels: Map

#24635 Fixes Prosthetics Restrictions for Human Subspecies
  code/modules/organs/external/_external.dm
  code/modules/organs/robolimbs.dm
  html/changelogs/mikomyazaki - prosthetic restrictions.yml
Labels: Merge Conflicts ☠

#24612 Domesticates the 2nd deck hallway
  icons/turf/areas.dmi
  maps/torch/torch-3.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_unit_testing.dm
Labels: Map, Sprites

#24685 bridge officer locker access
  maps/torch/structures/closets/command.dm
Labels: Map, Tweak

#24699 Fixes surgery.
  code/modules/surgery/generic.dm
  code/modules/surgery/surgery.dm
Labels: Fix, Priority: High ⚠

#24628 Automatic emotes from pain fix; issue #24188
  code/modules/emotes/emote_mob.dm
Labels: Ready for Review

#24655 Adds Chemist Job to Medical Poncho in loadout
  maps/torch/loadout/loadout_suit.dm
Labels: Map

#24704 Removes mentors and unused svndir config
  code/__defines/admin.dm
  code/_helpers/global_access.dm
  code/_helpers/type2type.dm
  code/datums/communication/dsay.dm
  code/game/verbs/ignore.dm
  code/game/world.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/observer/ghost/ghost.dm
  config/example/admin_ranks.txt
  config/example/mentors.txt
  config/example/svndir.txt
  test/run-test.sh
Labels: Config Update, Revert/Removal

#24700 Fixes Microwave Securing and Unsecuring
  code/game/machinery/kitchen/microwave.dm
Labels: Ready for Review

#24691 Wipes yet more merchant access from the Torch.
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
Labels: Map

#24640 Solgov glove tweaks
  maps/torch/items/clothing/solgov-hands.dm
Labels: Map, Revert/Removal

#24684 Makes cryo bags much more expensive.
  code/modules/research/designs/designs_medical.dm
Labels: Tweak

#24719 Extinguisher Text - Fixes #24156
  code/game/objects/items/weapons/extinguisher.dm
  html/changelogs/myazaki - full extinguisher message.yml
Labels: Fix

#24717 Fixes Invisible Cyborg Materials
  code/modules/materials/material_synth.dm
Labels: Fix

#24706 Codex adjustments.
  code/controllers/subsystems/initialization/codex.dm
  code/modules/codex/categories/category_cultures.dm
  code/modules/codex/categories/category_materials.dm
  code/modules/codex/categories/category_reagents.dm
  code/modules/codex/categories/category_species.dm
  code/modules/codex/codex_atom.dm
  code/modules/codex/codex_mob.dm
  code/modules/codex/entries/_codex_entry.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/species/species.dm
Labels: Fix, Tweak

#24425 Various Adjustments on the Torch
  code/__defines/atmos.dm
  code/_helpers/text.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/signs.dm
  code/modules/client/client_procs.dm
  code/modules/paperwork/adminpaper.dm
  html/images/exologo.png
  icons/obj/decals.dmi
  maps/torch/items/manuals.dm
  maps/torch/torch-0.dmm
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch_presets.dm
  maps/torch/torch_security_state.dm
  test/check-paths.sh
Labels: Feature, Map, Sprites, Tweak

#24715 Applies more door access fixes
  icons/turf/areas.dmi
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
  maps/torch/torch_areas.dm
Labels: Fix, Map, Sprites

#24590 Adds a weak TTV to the traitor uplink
  code/datums/uplink/devices and tools.dm
  code/game/objects/effects/spawners/bombspawner.dm
Labels: Feature

#24680 Converted stomach_contents to use the actual stomach organ.
  code/_onclick/item_attack.dm
  code/game/objects/items/blueprints.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/carbon_powers.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/internal/stomach.dm
  code/modules/species/species.dm
  code/modules/species/xenomorphs/alien_species.dm
  code/modules/ventcrawl/ventcrawl.dm
  html/changelogs/mistakenot-puke.yml
  icons/obj/action_buttons/organs.dmi
Labels: Sprites

#24714 Adds cultural exchange patch.
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  html/changelogs/myazaki - cultural exchange patch.yml
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/icons/obj/obj_accessories_solgov.dmi
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/loadout/loadout_xeno.dm
Labels: Map

#24725 Fixed AI hologram names, re-added holocat.
  code/datums/ai/ai_holo.dm
  icons/mob/hologram.dmi
Labels: Sprites

#24695 Allows doctors to colorpick scrubs again
  maps/torch/loadout/loadout_uniform.dm
Labels: Map

#24729 Makes merchant, antag, and admin shuttles rad/ion shielded
  code/game/area/Space Station 13 areas.dm
  maps/torch/torch_areas.dm
Labels: Map

#24679 Exports of virus dishes + litte Pathogen Incubator fix
  code/controllers/subsystems/supply.dm
  code/modules/virus2/antibodyanalyser.dm
  code/modules/virus2/dishincubator.dm
  code/modules/virus2/helpers.dm
Labels: Feature, Ready for Review

#24735 Makes IC printing cost materials; nerfs TP circuits.
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/integrated_electronics/core/prefab/prefabs.dm
  code/modules/integrated_electronics/core/printer.dm
  code/modules/integrated_electronics/core/saved_circuits.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
Labels: Fix, Tweak

#24694 Replace numbers in access consts with strings
  code/game/jobs/access.dm
  code/game/jobs/access_datum.dm
  code/modules/modular_computers/file_system/programs/antagonist/access_decrypter.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
  code/unit_tests/unique_tests.dm
  config/example/access levels.txt
  maps/away/bearcat/bearcat_access.dm
  maps/away/casino/casino.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/icarus/icarus-2.dmm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/lost_supply_base/lost_supply_base.dmm
  maps/away/smugglers/smugglers.dmm
  maps/away/unishi/unishi-1.dmm
  maps/torch/job/torch_access.dm
  maps/torch/torch-0.dmm
  maps/torch/torch-1.dmm
  maps/torch/torch-2.dmm
  maps/torch/torch-3.dmm
  maps/torch/torch-4.dmm
  maps/torch/torch-5.dmm
  maps/torch/torch-6.dmm
Labels: Config Update, Map, Ready for Review, Refactor

#24539 Crystalline limb repair and surgery.
  baystation12.dme
  code/game/objects/items/stacks/medical.dm
  code/modules/mob/living/carbon/xenobiological/items.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/wounds/wound_types.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/crystal.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/surgery.dm
  html/changelogs/mistakenot-crystals.yml
  icons/obj/medical_kits.dmi
Labels: Sprites

#24740 Resprited base vox body.
  code/modules/sprite_accessories/accessory_vox.dm
  icons/mob/human_races/species/eyes.dmi
  icons/mob/human_races/species/vox/body.dmi
  icons/mob/human_races/species/vox/eyes.dmi
  icons/mob/human_races/species/vox/hair.dmi
  icons/mob/species/vox/onmob_mask_vox.dmi
Labels: Sprites

#24752 Fixes #24750 - Stops condiment containers going inside food
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/myazaki - stuffing fix.yml
Labels: Fix

#24682 Various vox changes.
  code/__defines/mobs.dm
  code/modules/mob/language/outsider.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/species/outsider/vox.dm
  html/changelogs/mistakenot-vox.yml
  icons/obj/surgery.dmi
Labels: Sprites

#24754 Add a unit test to check req_access for numbers
  code/game/machinery/doors/airlock_electronics.dm
  code/game/objects/structures/door_assembly.dm
  code/unit_tests/map_tests.dm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dmm
  maps/torch/torch-4.dmm
Labels: Fix, Map

#24723 Fixes #24721 issue with some prosthetic selection for IPCs and humans.
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/organs/robolimbs.dm
  html/changelogs/myazaki - 24721 fix.yml
Labels: Fix

#24765 Fix medical access
  maps/torch/torch-4.dmm
  maps/torch/torch_areas.dm
Labels: Fix, Map

#24751 Fixes, mostly to research machines.
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
  code/modules/research/rdmachines.dm
  code/modules/species/species.dm
Labels: Fix

#24761 Uncaps planet size and doubles feature budget
  code/modules/overmap/exoplanets/exoplanet.dm
  maps/torch/torch_define.dm
Labels: Map, Test Merge :heavy_check_mark:

#24769 Removes giant spiders from random exoplanet fauna spawn
  code/modules/overmap/exoplanets/grass.dm
  code/modules/overmap/exoplanets/shrouded.dm
Labels: Revert/Removal

#24764 Add icons for flipped wood tables
  code/modules/tables/presets.dm
  icons/obj/tables.dmi
Labels: Sprites

#24773 Flight manifest adjustments
  code/modules/modular_computers/file_system/reports/people.dm
Labels: Tweak

#24763 Make deck 2 hallway more mainty beside janitorial
  maps/torch/torch-3.dmm
Labels: Map

#24760 Increased max rated power on multiple atmos devices
  code/__defines/atmos.dm
  code/modules/atmospherics/components/binary_devices/dp_vent_pump.dm
  code/modules/atmospherics/components/binary_devices/pump.dm
  code/modules/atmospherics/components/binary_devices/volume_pump.dm
  code/modules/atmospherics/components/omni_devices/filter.dm
  code/modules/atmospherics/components/omni_devices/mixer.dm
  code/modules/atmospherics/components/trinary_devices/filter.dm
  code/modules/atmospherics/components/trinary_devices/mixer.dm
  code/modules/atmospherics/components/unary/outlet_injector.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/atmospherics/components/unary/vent_scrubber.dm
Labels: Tweak

#24642 Can't use headsets when incapacitated
  code/__defines/chemistry.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: Ready for Review, Tweak

#24785 Xenoarch \ Anomalist core sampler fix
  code/modules/xenoarcheaology/sampling.dm
Labels: Fix

#24746 Vore simulation enhancements.
  code/game/atoms.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/organs/internal/stomach.dm
  code/modules/species/species_helpers.dm
  icons/effects/blood.dmi
  icons/effects/vomit.dmi
Labels: Sprites

#24753 Allows routing through proxies on NTnet.
  code/modules/modular_computers/hardware/network_card.dm
  code/modules/modular_computers/terminal/terminal_commands.dm
Labels: Feature

#24791 CO, XO, BOs, DC, and DT's can use supply admin. Nobody else can.
  code/modules/modular_computers/file_system/programs/generic/supply.dm
  maps/torch/job/command_jobs.dm
Labels: Fix, Map, Ready for Review

#24795 Add different map icons for different materials
  code/game/turfs/simulated/wall_types.dm
  code/game/turfs/unsimulated/walls.dm
  icons/turf/wall_masks.dmi
Labels: Sprites

#24796 Adds fire shutters to the cargo warehouse shutters
  maps/torch/torch-0.dmm
Labels: Map

#24777 Makes steel brighter and tweaks some weapon icons
  code/__defines/colors.dm
  code/game/objects/items/weapons/material/material_weapons.dm
  code/game/objects/items/weapons/material/swords.dm
  code/modules/materials/definitions/materials_metal.dm
  icons/obj/kitchen.dmi
  icons/obj/weapons.dmi
Labels: Sprites

#24802 Fixes #24800 - Wrong tea item in booze-o-mat.
  code/game/machinery/vending.dm
  html/changelogs/mikomyazaki - boozeomat tea.yml
Labels: Fix

#24782 Restores petrov and research access to normal function.
  code/game/machinery/doors/airlock_electronics.dm
  maps/torch/job/torch_jobs.dm
Labels: Map, Tweak

#24794 Removes trees from chlorine planets
  code/modules/overmap/exoplanets/chlorine.dm
Labels: Revert/Removal

#24801 Fixes access issues with officers' mess.
  maps/torch/torch-2.dmm
Labels: Map

#24816 Deactivate the firing range
  maps/torch/torch-2.dmm
Labels: Map

#24804 Allows Adherents to be Shuttle Pilot
  maps/torch/job/torch_jobs.dm
Labels: Feature, Lore approved, Map

#24813 Makes flooring decls use the decls repository.
  code/_helpers/global_access.dm
  code/game/gamemodes/cult/cultify/turf.dm
  code/game/objects/structures/catwalk.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/modules/mob/living/bot/floorbot.dm
  test/run-test.sh
Labels: Fix

#24421 Adds the Xilvuxix
  code/__defines/shuttle.dm
  code/controllers/communications.dm
  code/controllers/subsystems/shuttle.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/objects/effects/misc.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/multiz/basic.dm
  code/modules/multiz/structures.dm
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/landable.dm
  code/modules/power/solar.dm
  code/modules/shuttles/landmarks.dm
  code/modules/shuttles/shuttle.dm
  icons/turf/skrellturf.dmi
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship_areas.dm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
  maps/torch/torch-1.dmm
  maps/torch/torch.dm
  maps/torch/torch_overmap.dm
  maps/torch/torch_ranks.dm
Labels: Map, Sprites

#24799 Lizard nerfs: yet another attempt.
  code/game/objects/auras/regenerating_aura.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/species/station/lizard_subspecies.dm
Labels: Tweak

#24827 Make area icons unique-er: bridge
  icons/turf/areas.dmi
  maps/torch/torch_areas.dm
Labels: Map, Sprites

#24808 Ignore walls when autosetting door access
  code/game/machinery/doors/door.dm
Labels: Fix

#24828 Adjusts traitor TTVs to be in line with merc TTVs in terms of power.
  code/game/objects/effects/spawners/bombspawner.dm
Labels: Tweak

#24831 Prevents buckling mobs while the user is prone
  code/game/objects/buckling.dm
Labels: Fix, Tweak

#24820 Fixes #24817 Disassembling sleepers with an occupant will now eject t…
  code/game/machinery/Sleeper.dm
  html/changelogs/myazaki - sleeper trap fix.yml
Labels: Fix

#24845 Fixes #24839
  code/modules/integrated_electronics/subtypes/reagents.dm
  html/changelogs/mikomyazaki - reagent storage pins.yml
Labels: Fix

#24826 Rename the map files so I know which ones are which
  maps/torch/torch.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/z1_admin.dmm
  maps/torch/z2_transit.dmm
Labels: Map

#24866 Makes skrellship non-guaranteed spawn
  maps/away/skrellscoutship/skrellscoutship.dm
Labels: Fix, Map, Priority: High ⚠

#24846 Added blood regen, tendons and arteries to xenophage regeneration.
  code/modules/species/xenomorphs/alien_species.dm
  icons/mob/human_races/species/xenos/body_drone.dmi
  icons/mob/human_races/species/xenos/body_queen.dmi
  icons/mob/human_races/species/xenos/body_sentinel.dmi
  icons/mob/human_races/species/xenos/r_xenos_drone.dmi
  icons/mob/human_races/species/xenos/r_xenos_hunter.dmi
  icons/mob/human_races/species/xenos/r_xenos_queen.dmi
  icons/mob/human_races/species/xenos/r_xenos_sentinel.dmi
Labels: Sprites

#24860 Update guess pass terminals to use strings
  code/game/machinery/computer/guestpass.dm
Labels: Fix

#24838 Makes coffins metal
  code/game/objects/structures/crates_lockers/closets/coffin.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_furniture.dm
  html/changelogs/chinsky - 200.yml
  icons/obj/closets/coffin.dmi
  icons/obj/closets/coffin_wood.dmi
Labels: Sprites

#24836 Adds a new, simple exoplanet ruin
  baystation12.dme
  code/modules/overmap/exoplanets/chlorine.dm
  code/modules/overmap/exoplanets/desert.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/grass.dm
  code/modules/overmap/exoplanets/snow.dm
  html/changelogs/AutoChangeLog-pr-24808.yml
  maps/random_ruins/exoplanet_ruins/science_vessel/science_vessel.dm
  maps/random_ruins/exoplanet_ruins/science_vessel/science_vessel.dmm
Labels: Map

#24877 Revert "Adds a new, simple exoplanet ruin"
  baystation12.dme
  code/modules/overmap/exoplanets/chlorine.dm
  code/modules/overmap/exoplanets/desert.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/grass.dm
  code/modules/overmap/exoplanets/snow.dm
  html/changelogs/AutoChangeLog-pr-24808.yml
  maps/random_ruins/exoplanet_ruins/science_vessel/science_vessel.dm
  maps/random_ruins/exoplanet_ruins/science_vessel/science_vessel.dmm
Labels: Map, Revert/Removal

#24779 Brightens up base wall/wallframe icons
  code/__defines/colors.dm
  code/game/objects/items/devices/paint_gun.dm
  code/game/objects/structures/wall_frame.dm
  code/game/turfs/simulated/wall_types.dm
  icons/obj/wall_frame.dmi
  icons/turf/wall_masks.dmi
Labels: Sprites

#24857 Adds aluminium ore to underground deposites
  code/__defines/materials.dm
  code/game/turfs/simulated/floor_static.dm
  code/game/turfs/simulated/wall_types.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/material_sheets.dm
  code/modules/materials/materials_ore.dm
  code/modules/mining/drilling/drill.dm
  code/modules/random_map/noise/ore.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  maps/random_ruins/exoplanet_ruins/monoliths/monoliths.dm
Labels: Map, Ready for Review

#24867 Fixes #24793
  code/modules/client/preference_setup/general/02_body.dm
  html/changelogs/datraen-prostheticsfix.yml
Labels: Fix

#24869 Adds guest pass terminal to Deck Chief's office
  maps/torch/torch2_deck4.dmm
Labels: Map

#24863 Explorer shotgun tweaks
  maps/torch/icons/obj/explshotgun.dmi
  maps/torch/items/explo_shotgun.dm
Labels: Map

#24726 Flying drones.
  baystation12.dme
  code/__defines/mobs.dm
  code/controllers/subsystems/initialization/robots.dm
  code/datums/movement/robot.dm
  code/game/objects/effects/decals/Cleanable/robots.dm
  code/game/objects/effects/decals/remains.dm
  code/game/objects/items/robot/robot_frame.dm
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/flying/flying.dm
  code/modules/mob/living/silicon/robot/flying/flying_modules.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/research/designs/designs_mechfab.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  code/unit_tests/icon_tests.dm
  html/changelogs/mistakenot-borgs.yml
  icons/mob/robots.dmi
  icons/mob/robots_drones.dmi
  icons/mob/robots_flying.dmi
  icons/mob/robots_gibs.dmi
  icons/mob/screen1_robot.dmi
  icons/obj/robot_parts_flying.dmi
  maps/torch/job/torch_jobs.dm
Labels: Map, Sprites

#24874 Add atmospheric scanner module to pda of EVA jobs
  code/modules/modular_computers/computers/subtypes/dev_pda.dm
  code/modules/modular_computers/computers/subtypes/preset_pda.dm
  maps/torch/job/outfits/supply_outfits.dm
Labels: Map

#24859 Add bamboo, various tweaks
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/hydroponics/trays/tray_soil.dm
  code/modules/tables/tables.dm
Labels: Feature, Tweak

#24870 Re organize medical stuff
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#24898 removes binsult.ogg
  code/game/objects/items/devices/whistle.dm
  code/modules/integrated_electronics/subtypes/output.dm
  sound/voice/binsult.ogg
Labels: Revert/Removal

#24881 Fixes the last of the access area issues.
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
Labels: Map

#24855 Adds two more lobby tracks
  baystation12.dme
  code/datums/music_tracks/epicintro2015.dm
  code/datums/music_tracks/epicintro2017.dm
  maps/torch/torch_lobby.dm
  sound/music/epic2015.ogg
  sound/music/epic2017.ogg
Labels: Map

#24844 Fixes new chairs building with default materials
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
Labels: Fix

#24894 Refactored footsteps.
  code/__defines/movement.dm
  code/game/objects/structures.dm
  code/game/objects/structures/catwalk.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/simulated/floor_static.dm
  code/game/turfs/simulated/footsteps.dm
  code/game/turfs/turf.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/grass.dm
  code/modules/overmap/exoplanets/shrouded.dm
  code/modules/overmap/exoplanets/volcanic.dm
  code/modules/species/species.dm
  code/modules/species/species_getters.dm
  code/modules/species/station/adherent.dm
  code/modules/species/station/nabber.dm
Labels: Refactor

#24912 removes useless secrets
  baystation12.dme
  code/modules/admin/admin_secrets.dm
  code/modules/admin/secrets/admin_secrets/alter_narsie.dm
  code/modules/admin/secrets/final_solutions/summon_narsie.dm
  code/modules/admin/secrets/final_solutions/supermatter_cascade.dm
  code/modules/admin/secrets/fun_secrets/ghost_mode.dm
  code/modules/admin/secrets/fun_secrets/paintball_mode.dm
  code/modules/admin/secrets/fun_secrets/remove_all_clothing.dm
  code/modules/admin/secrets/fun_secrets/remove_internal_clothing.dm
  code/modules/admin/secrets/fun_secrets/send_strike_team.dm
  code/modules/admin/secrets/fun_secrets/toggle_bomb_cap.dm
  code/modules/admin/secrets/fun_secrets/turn_humans_into_corgies.dm
  code/modules/admin/secrets/fun_secrets/turn_humans_into_monkeys.dm
  code/modules/admin/secrets/random_events/gravity.dm
  code/modules/admin/secrets/random_events/trigger_cordical_borer_infestation.dm
  code/modules/admin/secrets/random_events/trigger_xenomorph_infestation.dm
Labels: Revert/Removal, Staff Tools :wrench:

#24878 Fixes in hand laptop usage
  code/modules/modular_computers/computers/subtypes/dev_laptop.dm
Labels: Fix, Ready for Review

#24915 Adds ocielogo to logos you can slap on paperwork.
  code/_helpers/text.dm
  code/modules/client/client_procs.dm
  code/modules/modular_computers/file_system/programs/generic/wordprocessor.dm
  code/modules/paperwork/adminpaper.dm
  html/images/ocielogo.png
Labels: Sprites

#24916 Unify living eyecheck(), various fixes
  code/__defines/mobs.dm
  code/game/machinery/flasher.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/organs/internal/eyes.dm
  code/modules/species/station/machine.dm
  icons/mob/king_of_goats.dmi
Labels: Sprites

#24837 Readded armalis as a humanoid species.
  baystation12.dme
  code/__defines/mobs.dm
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/suits/alien.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/hostile/armalis.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/organs/external/species/vox.dm
  code/modules/species/outsider/vox.dm
  code/modules/spells/racial_wizard.dm
  html/changelogs/mistakenot-voxen.yml
  icons/mob/armalis.dmi
  icons/mob/human_races/species/vox/armalis_body.dmi
  icons/mob/human_races/species/vox/armalis_eyes.dmi
  icons/mob/human_races/species/vox/armalis_husk.dmi
  icons/mob/human_races/species/vox/armalis_preview.dmi
  icons/mob/human_races/species/vox/blood_mask.dmi
  icons/mob/human_races/species/vox/blood_mask_armalis.dmi
  icons/mob/human_races/species/vox/damage_mask.dmi
  icons/mob/human_races/species/vox/damage_mask_armalis.dmi
  icons/mob/human_races/species/vox/damage_overlay.dmi
  icons/mob/human_races/species/vox/damage_overlay_armalis.dmi
  icons/mob/species/vox/onmob_eyes_vox_armalis.dmi
  icons/mob/species/vox/onmob_feet_vox_armalis.dmi
  icons/mob/species/vox/onmob_hands_vox_armalis.dmi
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/mob/species/vox/onmob_head_vox_armalis.dmi
  icons/mob/species/vox/onmob_mask_vox_armalis.dmi
  icons/mob/species/vox/onmob_suit_vox_armalis.dmi
  icons/mob/species/vox/onmob_under_vox.dmi
  icons/mob/species/vox/onmob_under_vox_armalis.dmi
  maps/away/mining/mining.dm
Labels: Map, Sprites

#24806 Adds binoculars, prybar and radio to CoS Office
  maps/torch/torch6_bridge.dmm
Labels: Feature, Map

#24917 Eject rubbish directly to space
  maps/torch/torch4_deck2.dmm
Labels: Map

#24932 Fix #24814
  code/game/mecha/mecha.dm
Labels: Fix

#24884 Wide-scale robot module refactor.
  baystation12.dme
  code/_helpers/mobs.dm
  code/_onclick/hud/robot.dm
  code/controllers/subsystems/initialization/robots.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/death.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/flying/flying_modules.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/modules/_module.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/mob/living/silicon/robot/modules/module_engineering.dm
  code/modules/mob/living/silicon/robot/modules/module_flying.dm
  code/modules/mob/living/silicon/robot/modules/module_flying_emergency.dm
  code/modules/mob/living/silicon/robot/modules/module_flying_filing.dm
  code/modules/mob/living/silicon/robot/modules/module_illegal.dm
  code/modules/mob/living/silicon/robot/modules/module_janitor.dm
  code/modules/mob/living/silicon/robot/modules/module_maintenance_drone.dm
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/mob/living/silicon/robot/modules/module_miner.dm
  code/modules/mob/living/silicon/robot/modules/module_research.dm
  code/modules/mob/living/silicon/robot/modules/module_security.dm
  code/modules/mob/living/silicon/robot/modules/module_standard.dm
  code/modules/mob/living/silicon/robot/modules/module_uncertified.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
Labels: Refactor

#24805 Removes the disposal bin from the brig
  maps/torch/torch5_deck1.dmm
Labels: Map, Revert/Removal

#24913 Makes Synaptizine overdose at 5u
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Tweak, Update Wiki after Merge

#24951 Virus effect limits
  code/modules/mob/living/living.dm
  code/modules/virus2/effect.dm
Labels: Tweak

#24807 Removes straight jackets from the Torch
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  maps/torch/torch4_deck2.dmm
Labels: Map, Ready for Review, Revert/Removal

#24904 Immediately flushes people who ghost
  code/game/machinery/cryopod.dm
Labels: Tweak

#24933 Simple animal butchery refactor
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/material/knives.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Tweak

#24941 Add bamboo material
  code/__defines/colors.dm
  code/__defines/materials.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/materials/definitions/materials_wood.dm
  code/modules/materials/material_sheets.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
Labels: Feature

#24950 Fixes a random space area in bridge starboard maintainance
  maps/torch/torch6_bridge.dmm
Labels: Map

#24922 Blobs will attempt to interact with diagonal turfs, various tweaks
  baystation12.dme
  code/_helpers/unsorted.dm
  code/game/gamemodes/endgame/supermatter_cascade/cascade_blob.dm
  code/modules/blob/blob.dm
  code/modules/clothing/masks/smokable.dm
  icons/mob/blob.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: Balance/Rebalance, Feature, Sprites

#24955 fixes 24926
  code/modules/surgery/robotics.dm
Labels: Fix

#24946 Fix #24945
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#24929 Access strings must exist
  code/unit_tests/map_tests.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#24841 Resolves Some Xilvuxix Issues
  code/__defines/colors.dm
  code/__defines/flags.dm
  code/__defines/shuttle.dm
  code/_helpers/turfs.dm
  code/controllers/communications.dm
  code/game/machinery/autolathe_datums.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/living/say.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  html/changelogs/datraen-xilvuxix_update1.yml
  icons/mob/onmob/onmob_under.dmi
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship_areas.dm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
  maps/torch/loadout/_defines.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
Labels: Map, Sprites

#24923 Carp spawn tweaks
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/unishi/unishi-1.dmm
  maps/away/unishi/unishi-2.dmm
  maps/away/unishi/unishi-3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#24948 Add folding knives; convert butterfly knives
  baystation12.dme
  code/game/objects/items/weapons/cane.dm
  code/game/objects/items/weapons/improvised_components.dm
  code/game/objects/items/weapons/material/folding.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/random/random.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/item_worth/material_weapons.dm
  icons/obj/folding_knife.dmi
  icons/obj/weapons.dmi
  maps/away/casino/casino.dmm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dmm
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dm
Labels: Feature, Map, Sprites

#24967 traitor ttvs are weaker and cheaper
  code/datums/uplink/devices and tools.dm
  code/game/objects/effects/spawners/bombspawner.dm
Labels: Tweak

#24882 Give Deck Chief exploration comms access
  maps/torch/items/encryption_keys.dm
Labels: Map, Tweak

#24949 Rename areas to be more descriptive
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_areas.dm
Labels: Map, Ready for Review

#24977 Adds Pulling Across Zlevels
  code/modules/multiz/movement.dm
Labels: Ready for Review, Tweak

#24988 Hide typing bubbles while hidden/cloaked
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/typing_indicator.dm
Labels: Tweak

#24989 Xilvuxix Fixes Round 2
  code/modules/mining/mine_items.dm
  icons/obj/mining.dmi
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
Labels: Map, Sprites

#24992 Corrects behavior of armbands and webbing to hide when jumpsuit is rolled down.
  code/modules/clothing/under/accessories/armband.dm
  code/modules/clothing/under/accessories/storage.dm
Labels: Fix

#24934 Make a few tools use color & overlay
  code/__defines/colors.dm
  code/game/objects/items/weapons/tools/crowbar.dm
  code/game/objects/items/weapons/tools/screwdriver.dm
  code/game/objects/items/weapons/tools/wirecutter.dm
  code/game/objects/items/weapons/tools_crystal.dm
  code/modules/augment/active/tool/engineering.dm
  code/modules/hydroponics/trays/tray_tools.dm
  code/modules/materials/definitions/materials_stone.dm
  code/modules/mining/mine_items.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/tools.dmi
Labels: Feature, Sprites

#24961 Slash armour values for heavy hardsuits
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: Balance/Rebalance

#24966 Add preview icons for airlocks
  code/game/machinery/doors/airlock.dm
  icons/obj/doors/station/door.dmi
Labels: Sprites

#25000 Handle energy guns with `charge_cost` of `0`
  code/modules/projectiles/guns/energy.dm
Labels: Fix

#24720 Shuttle Pilot Fax Machine Access - Fixes #24154
  html/changelogs/myazaki - pilot fax machine removal.yml
  maps/torch/torch1_deck5.dmm
Labels: Fix, Map

#24990 Set up the suit vest and waistcoat to use color var
  code/__defines/colors.dm
  code/datums/outfits/horror_killers.dm
  code/datums/supplypacks/nonessent.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/client/preference_setup/loadout/lists/clothing.dm
  code/modules/clothing/under/accessories/clothing.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/obj/clothing/obj_accessories.dmi
  maps/torch/datums/uniforms.dm
  maps/torch/z1_admin.dmm
Labels: Map, Sprites, Tweak

#24993 Minor clipping fix for WT-Econ IPC frame
  icons/mob/human_races/cyberlimbs/wardtakahashi/wardtakahashi_economy.dmi
Labels: Sprites

#24979 Touches up sprites for APCs, Air Alarms and Radio
  icons/obj/apc.dmi
  icons/obj/apc_repair.dmi
  icons/obj/monitors.dmi
  icons/obj/radio.dmi
Labels: Sprites

#24983 Fixes #24727
  code/datums/mind.dm
  code/modules/goals/_goal.dm
  code/modules/goals/goal_mind.dm
  code/modules/goals/goal_mob.dm
Labels: Fix

#24821 Allows construction of airtight plastic flaps
  code/game/objects/structures/plasticflaps.dm
  html/changelogs/mikomyazaki - airtight flaps.yml
  maps/torch/torch2_deck4.dmm
Labels: Map

#24931 Gives Bearcat and Unishi holopads
  code/game/machinery/hologram.dm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
  maps/away/unishi/unishi-3.dmm
Labels: Map

#24994 New wall charger sprites
  icons/obj/stationobjs.dmi
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map, Sprites

#25009 Goals runtime fixes
  code/datums/mind.dm
  code/modules/goals/goal_mob.dm
Labels: Fix

#24997 Makes Charon's gun locker properly wall mounted
  maps/torch/items/explo_shotgun.dm
Labels: Map

#25008 Make crawling slower; tweak attacking while downed
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
Labels: Tweak

#25010 Qdel circuit components when the frame is Destroy'd
  code/modules/integrated_electronics/core/assemblies.dm
Labels: Fix

#24987 Retouch some antag and hud icons
  code/game/antagonist/station/loyalist.dm
  code/game/antagonist/station/renegade.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/antagonist/station/traitor.dm
  icons/mob/hud.dmi
  maps/torch/icons/assignment_hud.dmi
Labels: Map, Sprites

#25001 Fix Deck 2 safe room APC positioning
  maps/torch/torch4_deck2.dmm
Labels: Map

#24984 Unify knives; add new folding type
  code/datums/outfits/horror_killers.dm
  code/datums/outfits/tournament.dm
  code/game/machinery/autolathe_datums.dm
  code/game/machinery/vending.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/weapons/cane.dm
  code/game/objects/items/weapons/improvised_components.dm
  code/game/objects/items/weapons/material/folding.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/random/random.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown_inedible.dm
  code/modules/item_worth/material_weapons.dm
  code/modules/materials/recipes_items.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/mob/living/simple_animal/hostile/russian.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/slimes.dm
  code/modules/xenoarcheaology/artifacts/replicator.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  icons/obj/folding_knife.dmi
  icons/obj/kitchen.dmi
  icons/obj/knife.dmi
  icons/obj/weapons.dmi
  maps/away/blueriver/blueriver-2.dmm
  maps/away/casino/casino.dmm
  maps/away/errant_pisces/errant_pisces.dm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/icarus/icarus-1.dmm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/magshield/magshield.dmm
  maps/away/slavers/slavers_base.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dmm
  maps/random_ruins/exoplanet_ruins/lodge/lodge.dmm
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/z1_admin.dmm
Labels: Fix, Map, Ready for Review, Sprites, Tweak

#25031 Makes intercom sprite lights represent current speaker/microphone state
  code/game/objects/items/devices/radio/intercom.dm
  icons/obj/radio.dmi
Labels: Ready for Review, Sprites

#25033 Fixes #25032
  icons/obj/apc.dmi
Labels: Sprites

#25045 added CSO to supervisors for pathfinder
  maps/torch/job/exploration_jobs.dm
Labels: Map

#25055 Removes tracking beacon from excavation locker
  code/modules/xenoarcheaology/misc.dm
Labels: Fix, Revert/Removal
