Repository Baystation12/Baystation12, pull requests merged in 2019-08, with the labels that each got.

#26537 Fixes #26508 - sanitizing underwear on species change runtime
  code/modules/client/preference_setup/general/02_body.dm
Labels: Fix

#26549 Rename tasers to electrolasers
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mob/living/bot/ed209bot.dm
  code/modules/paperwork/paper.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/research/designs/designs_mechfab.dm
  code/modules/research/designs/designs_rig_modules.dm
Labels: Tweak

#26519 Rebalance pass and 2 new parts for exosuits
  baystation12.dme
  code/modules/mechs/components/legs.dm
  code/modules/mechs/mech_movement.dm
  code/modules/mechs/premade/combat.dm
  code/modules/mechs/premade/heavy.dm
  code/modules/mechs/premade/light.dm
  code/modules/mechs/premade/misc.dm
  code/modules/mechs/premade/powerloader.dm
  code/modules/research/designs/designs_exosuits.dm
  code/modules/research/designs/designs_mechfab.dm
  icons/mecha/mech_parts.dmi
  icons/mecha/mech_parts_held.dmi
  icons/mecha/mech_weapon_overlays.dmi
Labels: Feature, Sprites, Tweak

#26515 Adjusts/fixes Sec-Tech machines (again)
  code/game/machinery/vending.dm
  maps/torch/items/machinery.dm
Labels: Map, Tweak

#26369 Executes border firedoors
  code/_onclick/adjacent.dm
  code/game/machinery/doors/firedoor.dm
  icons/obj/doors/DoorHazard2x1.dmi
  icons/obj/doors/edge_Doorfire.dmi
  maps/away/casino/casino.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/unishi/unishi-2.dmm
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map, Priority: Low, Sprites

#26547 Rad Collector adjustments
  code/modules/power/singularity/collector.dm
Labels: Tweak

#26573 Jumpsuit Icon Name Fixes
  icons/mob/onmob/onmob_under_corporate.dmi
  maps/torch/icons/mob/onmob_under_solgov.dmi
Labels: Fix, Map, Sprites

#26571 Fix using apc frame to repair apc
  code/modules/power/apc.dm
Labels: Fix

#26458 Fix Newscasters Eating Photos
  code/game/machinery/newscaster.dm
  test/check-paths.sh
Labels: Fix

#26566 Alarms and fire doors for Nacelles
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

#26520 Event Announcement Tweaks
  code/modules/events/brain_expansion.dm
  code/modules/events/brand_intelligence.dm
  code/modules/events/carp_migration.dm
  code/modules/events/disposals_explosion.dm
  code/modules/events/gravity.dm
  code/modules/events/infestation.dm
  code/modules/events/prison_break.dm
  code/modules/events/radiation_storm.dm
  code/modules/events/wallrot.dm
Labels: Sprites, Tweak

#26550 Broad shield rebalance.
  code/__defines/shields.dm
  code/modules/shield_generators/shield_generator.dm
  nano/templates/shieldgen.tmpl
Labels: Feature, Tweak

#26574 Removes stowaway spawn from the incinerator.
  maps/torch/torch4_deck2.dmm
Labels: Map, Revert/Removal

#26582 Fixes #24724 - Yeosa unathi get the same job restrictions as unathi.
  maps/torch/job/torch_jobs.dm
Labels: Fix, Map

#26583 Give CSO maint access
  maps/torch/job/command_jobs.dm
Labels: Feature, Fix, Map

#26584 Reshuffles contents of emergency closets
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
Labels: Ready for Review

#26581 Rad collectors resprite
  code/modules/power/singularity/collector.dm
  icons/obj/machines/rad_collector.dmi
  icons/obj/singularity.dmi
Labels: Sprites

#26586 Delay for inflatables
  code/game/objects/structures/inflatable.dm
Labels: Tweak

#26465 Fix Discarding Cards
  code/modules/games/cards.dm
  code/modules/tables/tables.dm
Labels: Fix

#26455 Less Minor Vox Additions
  baystation12.dme
  code/modules/clothing/spacesuits/rig/suits/vox.dm
  code/modules/projectiles/effects.dm
  code/modules/projectiles/guns/energy/vox.dm
  code/modules/projectiles/guns/launcher/alien.dm
  code/modules/projectiles/guns/launcher/slugsling.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/species/outsider/vox.dm
  icons/effects/projectiles.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/vox/onmob_feet_vox.dmi
  icons/mob/species/vox/onmob_hands_vox.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/guns/darkcannon.dmi
  icons/obj/guns/noise.dmi
  icons/obj/projectiles.dmi
  icons/obj/rig_modules.dmi
  sound/weapons/eLuger.ogg
  sound/weapons/spike.ogg
Labels: Feature, Sprites, Tweak

#26475 Codex additions
  code/controllers/subsystems/initialization/codex.dm
  code/modules/codex/categories/_category.dm
  code/modules/codex/categories/category_cultures.dm
  code/modules/codex/categories/category_gases.dm
  code/modules/codex/categories/category_languages.dm
  code/modules/codex/categories/category_materials.dm
  code/modules/codex/categories/category_reagents.dm
  code/modules/codex/categories/category_recipes.dm
  code/modules/codex/categories/category_species.dm
  code/modules/codex/codex_client.dm
  code/modules/codex/entries/_codex_entry.dm
  code/modules/codex/entries/codex.dm
Labels: Feature

#26555 Changes faction blurbs for EC and Fleet
  code/modules/culture_descriptor/faction/factions_human.dm
Labels: Lore approved

#26589 Random computer HDD part resprite
  icons/obj/modular_components.dmi
Labels: Sprites

#26590 Resisting will cancel resting
  code/modules/mob/living/living.dm
Labels: Tweak

#26594 Removes exo modules always calling attack interactions
  code/modules/mechs/equipment/_equipment.dm
  code/modules/mechs/mech_interaction.dm
Labels: Revert/Removal

#26554 Adds a timer for autoinjector use on other people
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Tweak

#26598 Low wall frames deconstruct into 3 steel sheets
  code/game/objects/structures/wall_frame.dm
Labels: Fix

#26601 Makes roboticist central windows not polarizable.
  maps/torch/torch5_deck1.dmm
Labels: Map

#26576 Backported Europa butchery.
  baystation12.dme
  code/__defines/materials.dm
  code/game/machinery/kitchen/gibber.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/objects/structures/kitchen_spike.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/butchery/butchery.dm
  code/modules/butchery/remains.dm
  code/modules/materials/definitions/materials_organic.dm
  code/modules/materials/material_sheets.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/organs/blood.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/species/outsider/shadow.dm
  code/modules/species/outsider/starlight.dm
  code/modules/species/species.dm
  code/modules/species/station/adherent.dm
  code/modules/species/station/golem.dm
  code/modules/species/station/lizard.dm
  code/modules/species/station/nabber.dm
  code/modules/species/station/prometheans.dm
  code/modules/species/station/station.dm
  html/changelogs/mistakenot-butcher.yml
  icons/obj/butchery.dmi
  icons/obj/materials.dmi
Labels: Sprites

#26600 Double sets of windoors on desks now have only the interior windoor
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

#26575 Removes Stowaway.
  code/modules/flufftext/Dreaming.dm
  html/changelogs/mistakenot-noaway.yml
  maps/torch/items/cards_ids.dm
  maps/torch/job/misc_jobs.dm
  maps/torch/job/outfits/misc_outfits.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/loadout/_defines.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
Labels: Map, Revert/Removal

#26533 Radiation balance adjustments
  code/__defines/misc.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/wall_frame.dm
  code/game/objects/structures/window.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/shoes/jobs.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/captain.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/clothing/spacesuits/void/wizard.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mechs/components/armour.dm
  code/modules/overmap/exoplanets/planet_types/garbage.dm
  code/modules/power/fusion/fuel_assembly/fuel_assembly.dm
  code/modules/power/fusion/fusion_reactions.dm
  code/modules/power/port_gen.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/radiation/radiation.dm
  code/modules/species/station/nabber.dm
  code/modules/supermatter/supermatter.dm
  code/modules/xenoarcheaology/tools/geosample_scanner.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/clothing/solgov-under.dm
  maps/torch/items/clothing/terran-under.dm
  maps/torch/items/rigs.dm
Labels: Map

#26051 Converts the unused shooting range into additional lavatory facilities
  code/game/machinery/alarm.dm
  code/game/objects/items/weapons/circuitboards/machinery/chemistry.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/research/designs/designs_circuits.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/janitor.dmi
  icons/obj/kitchen.dmi
  icons/obj/reagentfillings.dmi
  icons/turf/areas.dmi
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch_areas.dm
Labels: Map, Ready for Review, Sprites

#26618 Kills unapologetic meme names
  config/names/last.txt
Labels: Config Update, Revert/Removal

#26620 Possum.
  baystation12.dme
  code/game/objects/random/random.dm
  code/modules/mob/living/simple_animal/friendly/possum.dm
  icons/mob/simple_animal/possum.dmi
Labels: Ready for Review, Sprites

#26588 Adds upport for more generic mousedrag
  baystation12.dme
  code/_onclick/MouseDrag.dm
  code/modules/client/client_procs.dm
  code/modules/mechs/equipment/_equipment.dm
  code/modules/mechs/mech.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/projectiles/gun.dm
Labels: Awaiting Author

#26642 Relocating limbs now properly checks the medic's skill rather than the target's
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#26635 The asteroid is no longer guaranteed.
  maps/away/mining/mining.dm
  maps/torch/torch_overmap.dm
Labels: Map, Revert/Removal

#26645 Macroizes escape pods
  maps/torch/torch_shuttles.dm
Labels: Map

#26636 Fixes #26562 - airlock bolt door buttons
  code/game/machinery/buttons.dm
Labels: Fix

#26658 Caps medtechs at Trained Anatomy
  maps/torch/job/medical_jobs.dm
Labels: Map, Tweak

#26652 Tweaks to surgery skill checks
  code/modules/mob/skills/skill.dm
  code/modules/mob/skills/skillset.dm
  code/modules/surgery/__surgery_setup.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/slimes.dm
  code/modules/surgery/surgery.dm
  html/changelogs/chinsky - nerfmed.yml
  maps/torch/job/medical_jobs.dm
Labels: Map

#26523 Load all non-Away Site map templates before testing
  baystation12.dme
  code/controllers/subsystems/machines.dm
  code/game/gamemodes/events/clang.dm
  code/modules/maps/map_template.dm
  code/modules/maps/reader.dm
  code/modules/maps/ruins.dm
  code/unit_tests/_defines.dm
  code/unit_tests/_includes.dm
  code/unit_tests/unit_test.dm
  code/unit_tests/~unit_test_subsystems.dm
  code/unit_tests/~unit_test_types.dm
  maps/torch/torch.dm
  maps/torch/torch_map_templates.dm
  maps/~mapsystem/maps.dm
Labels: Map

#26662 Butterfly knife nerf
  code/game/objects/items/weapons/material/folding.dm
Labels: Tweak

#26553 HoS is now unable to be a traitor
  maps/torch/torch_antagonism.dm
Labels: Map, Tweak

#26593 Exterior window shutters.
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
Labels: Map

#26664 Fixes Vat-Grown Naming
  code/modules/culture_descriptor/culture/cultures_human.dm
Labels: Fix

#26599 pillbottle upgrade
  code/game/objects/items/weapons/storage/firstaid.dm
Labels: Feature

#26624 critical and noncritical fixes for deck 3 sauna-lavatory space
  code/modules/atmospherics/components/unary/vent_scrubber.dm
  maps/torch/torch3_deck3.dmm
Labels: Map, Revert/Removal

#26638 Fixes #26637 - Can now attack an unpowered door with a fire axe regardless of whether it is damaged or not.
  code/game/machinery/doors/airlock.dm
Labels: Fix

#26661 Buffed EVA Supply
  maps/torch/torch3_deck3.dmm
Labels: Map, Tweak

#26669 Can't reset techs you didn't have to gain them + Removes TECH_ARCANE
  code/__defines/research.dm
  code/game/objects/items/weapons/implants/implants/translator.dm
  code/modules/research/part_replacer.dm
  code/modules/research/research.dm
  code/modules/research/server.dm
Labels: Fix, Revert/Removal

#26671 Makes rigs chargable in the cyborg charger
  code/game/machinery/rechargestation.dm
Labels: Feature

#26670 Traitor Robots can permanently sever their external camera + robot console connection
  code/game/antagonist/station/traitor.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Feature

#26659 Autolathe cleanup.
  baystation12.dme
  code/__defines/inventory_sizes.dm
  code/__defines/machinery.dm
  code/_helpers/global_access.dm
  code/controllers/subsystems/initialization/fabrication.dm
  code/controllers/subsystems/misc_late.dm
  code/datums/wires/autolathe.dm
  code/datums/wires/fabricator.dm
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/weapons/circuitboards/machinery/research.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/trays.dm
  code/modules/ascent/ascent_machines.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/fabrication/__fabricator_defines.dm
  code/modules/fabrication/_fabricator.dm
  code/modules/fabrication/designs/_design.dm
  code/modules/fabrication/designs/designs_arms_ammo.dm
  code/modules/fabrication/designs/designs_devices_components.dm
  code/modules/fabrication/designs/designs_engineering.dm
  code/modules/fabrication/designs/designs_general.dm
  code/modules/fabrication/designs/designs_medical.dm
  code/modules/fabrication/designs/designs_tools.dm
  code/modules/fabrication/fabricator_hacked.dm
  code/modules/item_worth/worths_list.dm
  code/modules/multiz/movement.dm
  code/modules/surgery/implant.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  maps/away/ascent/ascent-1.dmm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/unishi/unishi-2.dmm
  maps/away/voxship/voxship-1.dmm
  maps/bearcat/bearcat-1.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/z1_admin.dmm
  test/run-test.sh
Labels: Map

#26666 Make mapping subsystem really load all templates
  baystation12.dme
  code/controllers/subsystems/mapping.dm
  code/datums/ruins.dm
  code/modules/maps/map_template.dm
  maps/torch/torch.dm
Labels: Map

#26677 Fixes #26673 - Airlock access buttons needing power
  code/game/machinery/doors/airlock_control.dm
Labels: Fix

#26672 Lowered Shield power usage
  code/__defines/shields.dm
Labels: Tweak

#26631 Ported boosters from Europa.
  code/__defines/mobs.dm
  code/modules/species/station/human_subspecies.dm
  html/changelogs/mistakenot-boosters.yml
Labels: Lore approved

#26680 Removes T_BOARD idiocy.
  code/game/objects/items/weapons/circuitboards/computer/air_management.dm
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/game/objects/items/weapons/circuitboards/computer/holodeckcontrol.dm
  code/game/objects/items/weapons/circuitboards/computer/research.dm
  code/game/objects/items/weapons/circuitboards/computer/telecomms.dm
  code/game/objects/items/weapons/circuitboards/machinery/biogenerator.dm
  code/game/objects/items/weapons/circuitboards/machinery/chemistry.dm
  code/game/objects/items/weapons/circuitboards/machinery/cloning.dm
  code/game/objects/items/weapons/circuitboards/machinery/commsantenna.dm
  code/game/objects/items/weapons/circuitboards/machinery/mech_recharger.dm
  code/game/objects/items/weapons/circuitboards/machinery/medical.dm
  code/game/objects/items/weapons/circuitboards/machinery/mining.dm
  code/game/objects/items/weapons/circuitboards/machinery/mining_drill.dm
  code/game/objects/items/weapons/circuitboards/machinery/oxyregenerator.dm
  code/game/objects/items/weapons/circuitboards/machinery/pacman.dm
  code/game/objects/items/weapons/circuitboards/machinery/power.dm
  code/game/objects/items/weapons/circuitboards/machinery/recharge_station.dm
  code/game/objects/items/weapons/circuitboards/machinery/replicator.dm
  code/game/objects/items/weapons/circuitboards/machinery/research.dm
  code/game/objects/items/weapons/circuitboards/machinery/shieldgen.dm
  code/game/objects/items/weapons/circuitboards/machinery/telecomms.dm
  code/game/objects/items/weapons/circuitboards/machinery/unary_atmos.dm
  code/game/objects/items/weapons/circuitboards/other.dm
Labels: Revert/Removal

#26689 Elevator will no longer get stuck
  code/modules/turbolift/turbolift.dm
Labels: Tweak

#26686 Emagged/Traitor Surveyor Module Borgs get an energy machete
  maps/torch/robot/module_flying_surveyor.dm
Labels: Feature, Map

#26693 Renames illegal tech to esoteric tech
  code/__defines/research.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/devices/powersink.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/spy_bug.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/weapons/AI_modules.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/cards_ids_syndicate.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/grenades/spawnergrenade.dm
  code/game/objects/items/weapons/implants/implants/adrenaline.dm
  code/game/objects/items/weapons/implants/implants/compressed.dm
  code/game/objects/items/weapons/implants/implants/explosive.dm
  code/game/objects/items/weapons/implants/implants/freedom.dm
  code/game/objects/items/weapons/implants/implants/loyalty.dm
  code/game/objects/items/weapons/implants/implants/translator.dm
  code/game/objects/items/weapons/implants/implants/uplink.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/masks/voice.dm
  code/modules/clothing/rings/rings.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/research/designs/design_aimodule.dm
  code/modules/research/designs/designs_circuits.dm
  code/modules/research/designs/designs_implant.dm
  code/modules/research/designs/designs_mechfab.dm
  code/modules/research/designs/designs_rig_modules.dm
  code/modules/research/designs/designs_singletons.dm
  code/modules/research/designs/designs_tool.dm
  code/modules/research/designs/designs_weapon.dm
  code/modules/research/part_replacer.dm
  code/modules/research/research.dm
  code/modules/shield_generators/handheld_diffuser.dm
Labels: Tweak

#26694 Petrov Fabrication Lab console will start with upload/download rights
  code/modules/research/server.dm
Labels: Fix

#26627 Refactor hostile SA ability backend, add drake mob
  baystation12.dme
  code/game/objects/items/weapons/melee/misc.dm
  code/modules/mob/living/simple_animal/familiars/familiars.dm
  code/modules/mob/living/simple_animal/hostile/antlion.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/mob/living/simple_animal/hostile/drake.dm
  code/modules/mob/living/simple_animal/hostile/faithful_hound.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/leech.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_crab.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_parrot/giant_parrot.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/projectiles/projectile/special.dm
  icons/mob/simple_animal/drake.dmi
  icons/obj/weapons.dmi
  maps/away/blueriver/blueriver.dm
Labels: Feature, Map, Refactor, Sprites

#26687 Improves utensil visibility versus greyscale everything
  code/game/objects/items/weapons/material/kitchen.dm
  icons/obj/kitchen.dmi
  icons/obj/knife.dmi
Labels: Sprites, Tweak

#26684 torch sensor scan report will show the round-start coords
  maps/torch/torch_setup.dm
Labels: Feature, Map

#26683 More FBP species mods fixes
  code/game/machinery/flasher.dm
  code/game/objects/items/devices/flash.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/organs/internal/eyes.dm
  code/modules/species/species.dm
Labels: Tweak

#26643 Fixed a bad init call with asteroid landmarks
  code/game/objects/effects/landmarks.dm
  code/modules/maps/map_template.dm
  maps/away/away_sites.dm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/blueriver/blueriver.dm
  maps/away/icarus/icarus-1.dmm
  maps/away/icarus/icarus-2.dmm
  maps/away/icarus/icarus.dm
  maps/away/lost_supply_base/lost_supply_base.dm
  maps/away/lost_supply_base/lost_supply_base.dmm
  maps/away/mining/mining-asteroid.dmm
  maps/away/mining/mining-orb.dmm
  maps/away/mining/mining-signal.dmm
  maps/away/mining/mining.dm
  maps/away/slavers/slavers_base.dm
  maps/away/slavers/slavers_base.dmm
  maps/away/smugglers/smugglers.dm
  maps/away/smugglers/smugglers.dmm
Labels: Map, Ready for Review

#26709 Robots can open the door menu again
  code/game/machinery/doors/airlock.dm
Labels: Tweak

#26695 Away site RnD servers will no longer be visible to the Torch.
  code/modules/research/server.dm
  maps/random_ruins/exoplanet_ruins/datacapsule/datacapsule.dmm
Labels: Fix, Map, Ready for Review

#26711 Fixes #18850 - Glasses that apply a vision overlay will no longer work with overmap sensors
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Fix

#26699 Fuel pipe remap!
  maps/torch/torch1_deck5.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

#26715 Added a microlathe for printing cutlery.
  baystation12.dme
  code/game/objects/items/weapons/circuitboards/machinery/research.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/knives.dm
  code/modules/fabrication/__fabricator_defines.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/fabrication/designs/general/designs_devices_components.dm
  code/modules/fabrication/designs/general/designs_engineering.dm
  code/modules/fabrication/designs/general/designs_general.dm
  code/modules/fabrication/designs/general/designs_medical.dm
  code/modules/fabrication/designs/general/designs_tools.dm
  code/modules/fabrication/designs/micro/designs_cutlery.dm
  code/modules/fabrication/fabricator_microlathe.dm
  icons/obj/machines/fabricators/microlathe.dmi
Labels: Sprites

#26723 Fixes inverted check on eye getters
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#26725 replaces dinnerware cutlery with public access microprinter
  code/game/machinery/vending.dm
  maps/torch/torch3_deck3.dmm
Labels: Map

#26737 Fixes bug where you could deconstruct an empty stack of material
  code/modules/research/rdconsole.dm
Labels: Fix

#26736 Ghosts can't interact with space heaters
  code/game/machinery/spaceheater.dm
Labels: Fix

#26707 Tweaks to chopping vines
  code/modules/hydroponics/spreading/spreading.dm
Labels: Tweak

#26741 fuelbay quick fix
  maps/torch/torch4_deck2.dmm
Labels: Map

#26632 Added a new human subspecies, the Mule, from Europa.
  code/__defines/damage_organs.dm
  code/__defines/mobs.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/species/station/human_subspecies.dm
  code/modules/submaps/submap_archetype.dm
  code/modules/submaps/submap_job.dm
  html/changelogs/mistakenot-mule.yml
  maps/torch/job/torch_jobs.dm
  test/check-paths.sh
Labels: Lore approved, Map, Update Wiki after Merge

#26748 Reverts using GROWTH_VINE for vine initialization.
  code/modules/hydroponics/spreading/spreading.dm
Labels: Revert/Removal

#26745 Surveyor drone gets skills
  maps/torch/robot/module_flying_surveyor.dm
Labels: Fix, Map

#26750 Prevents mules from spawning with psi-dampeners
  code/modules/submaps/submap_job.dm
  maps/torch/job/misc_jobs.dm
Labels: Fix, Map

#26747 Adds an icon for vines to default to if it has no icon state
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_vines.dmi
Labels: Fix, Sprites

#26690 removes GAS_STEAM as a lethal threat from Sauna Air Alarm definitions
  code/game/machinery/alarm.dm
Labels: Tweak

#26752 Yacht revamp 2 : Coding boogaloo
  maps/away/yacht/yacht.dmm
  maps/away/yacht/yacht_icons.dmi
Labels: Map

#26763 'Ejected Datapod' and map load landmark tweaks
  code/modules/maps/helper_landmarks.dm
  code/modules/maps/map_template.dm
  maps/random_ruins/exoplanet_ruins/datacapsule/contents_1.dmm
  maps/random_ruins/exoplanet_ruins/datacapsule/contents_2.dmm
  maps/random_ruins/exoplanet_ruins/datacapsule/contents_3.dmm
  maps/random_ruins/exoplanet_ruins/datacapsule/datacapsule.dm
  maps/random_ruins/exoplanet_ruins/datacapsule/datacapsule.dmm
Labels: Map

#26768 Removes tesla relay from mining brace
  code/game/objects/items/weapons/circuitboards/machinery/mining_drill.dm
Labels: Revert/Removal

#26764 Adds a missing growth stage icon
  icons/obj/hydroponics_growing.dmi
Labels: Sprites

#26772 Adds a random vending machine spawn in the commissary
  code/game/objects/random/random.dm
  maps/torch/torch2_deck4.dmm
Labels: Feature, Map

#26780 possum buffs
  code/modules/mob/living/simple_animal/friendly/possum.dm
  icons/mob/simple_animal/poppy_possum.dmi
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_npcs.dm
Labels: Feature, Map, Sprites

#26756 sauna tweakery, raise the heat
  code/game/machinery/alarm.dm
  maps/torch/torch3_deck3.dmm
Labels: Map, Tweak

#26775 Engine Room Emergency Vents
  maps/torch/torch4_deck2.dmm
Labels: Map

#26734 Fix so that Adherents get their speed boost again
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/external/_external.dm
Labels: Fix

#26691 Major firefighting buffs
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/structures/watercloset.dm
  code/modules/reagents/reagent_dispenser.dm
Labels: Feature, Fix

#26777 Floodlight update
  baystation12.dme
  code/game/machinery/_machines_base/stock_parts/legacy_parts.dm
  code/game/machinery/floodlight.dm
  code/game/objects/items/weapons/circuitboards/machinery/floodlight.dm
  code/game/objects/items/weapons/circuitboards/machinery/pacman.dm
  code/modules/research/designs/designs_circuits.dm
  icons/obj/machines/floodlight.dmi
Labels: Feature, Sprites

#26783 Adjusts some loadout defines
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_suit.dm
  maps/torch/loadout/loadout_uniform.dm
Labels: Map

#26795 Added seaweed.
  baystation12.dme
  code/game/objects/structures/seaweed.dm
  icons/obj/structures/plants.dmi
Labels: Sprites

#26782 Add Shield Bay, Remap Bluespace Drive
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_unit_testing.dm
Labels: Map

#26688 Adds 3 New Morpheus Heads
  code/modules/organs/robolimbs.dm
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_airborne.dmi
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_blitz.dmi
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_prime.dmi
Labels: Ready for Review, Sprites

#26788 Rebrands the Bluespace Artillery to Obstruction Field Disperser
  baystation12.dme
  code/__defines/bsa.dm
  code/__defines/overmap.dm
  code/datums/supplypacks/munitions.dm
  code/modules/bsa/bsa_charge.dm
  code/modules/bsa/bsa_circuit.dm
  code/modules/overmap/disperser/disperser.dm
  code/modules/overmap/disperser/disperser_charge.dm
  code/modules/overmap/disperser/disperser_circuit.dm
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/overmap/disperser/disperser_fire.dm
  code/modules/overmap/events/event.dm
  code/modules/research/designs/designs_circuits.dm
  icons/effects/beam.dmi
  icons/obj/disperser.dmi
  icons/turf/areas.dmi
  maps/torch/torch3_deck3.dmm
  maps/torch/torch_areas.dm
  nano/templates/disperser.tmpl
  sound/machines/disperser_fire.ogg
Labels: Map, Sprites, Tweak

#26751 QoL n Art assets for Ascent Cutter
  baystation12.dme
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/ascent/ascent_atoms.dm
  code/modules/ascent/ascent_doodads.dm
  code/modules/reagents/reagent_dispenser.dm
  icons/mob/species/mantid/onmob_lefthand_doodads_alate.dmi
  icons/mob/species/mantid/onmob_lefthand_doodads_gyne.dmi
  icons/mob/species/mantid/onmob_righthand_doodads_alate.dmi
  icons/mob/species/mantid/onmob_righthand_doodads_gyne.dmi
  icons/obj/ascent_doodads.dmi
  maps/away/ascent/ascent-1.dmm
Labels: Map, Sprites

#26767 Fire shutters fixes
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/firedoor_assembly.dm
Labels: Fix, Tweak

#26810 Fixes the Ascent nanofabricator icon.
  code/modules/ascent/ascent_machines.dm
  icons/obj/machines/fabricators/nanofabricator.dmi
  icons/obj/nanofabricator.dmi
Labels: Sprites

#26805 Removes the Biomechanical Engineer
  maps/torch/icons/assignment_hud.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/outfits/medical_outfits.dm
  maps/torch/job/torch_access.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_suit.dm
  maps/torch/loadout/loadout_uniform.dm
Labels: Jobs & Access, Map, Revert/Removal, Tweak, Update Wiki after Merge

#26798 Makes Sleepy Pen use Vecuronium Bromide rather than Chloral Hydrate
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
  code/modules/paperwork/pen.dm
Labels: Tweak

#26766 Toolbelt overlay fix attempt 2
  code/game/objects/items/weapons/tools/weldingtool.dm
  icons/obj/clothing/obj_belt_overlays.dmi
  icons/obj/power.dmi
  icons/obj/tools.dmi
Labels: Fix, Sprites

#26831 Adds adjacency checks for exosuits
  code/modules/mechs/equipment/_equipment.dm
  code/modules/mechs/equipment/utility.dm
Labels: Fix

#26839 Fix ghosts interacting with pagers
  code/game/machinery/pager.dm
Labels: Fix

#26841 The Disperser can no longer shoot at away sites
  code/__defines/overmap.dm
  code/modules/overmap/disperser/disperser_charge.dm
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/overmap/disperser/disperser_fire.dm
Labels: Revert/Removal

#26821 Ghost Hearing Arrivals Annoucement NRE
  code/modules/mob/hear_say.dm
Labels: Fix

#26712 Adds 3 new FBP types.
  code/modules/organs/robolimbs.dm
  icons/mob/human_races/cyberlimbs/bishop/bishop_rook.dmi
  icons/mob/human_races/cyberlimbs/xion/xion_econo.dmi
  icons/mob/human_races/cyberlimbs/zenghu/zenghu_spirit.dmi
Labels: Feature, Sprites

#26800 Reagent Sublimators (including the sauna heater) can now be emagged
  code/modules/reagents/Chemistry-Sublimator.dm
Labels: Feature, Needs Squash (DNM)

#26846 Add provocateur to skrellship
  maps/away/skrellscoutship/skrellscoutship.dm
Labels: Feature, Map

#26851 Fixes the bomb.
  code/game/machinery/nuclear_bomb.dm
Labels: Fix

#26854 Uses <spriter who does not want be named>'s TEG sprites
  code/modules/atmospherics/components/binary_devices/circulator.dm
  code/modules/power/generator.dm
  icons/obj/pipes.dmi
  icons/obj/power.dmi
Labels: Sprites

#26855 Adjusts shield bay area to not include maintenance
  maps/torch/torch4_deck2.dmm
Labels: Map

#26769 Added reagent storage/use to fabricators.
  baystation12.dme
  code/game/objects/items/weapons/circuitboards/machinery/replicator.dm
  code/game/objects/items/weapons/circuitboards/machinery/research.dm
  code/modules/codex/entries/machinery.dm
  code/modules/fabrication/__fabricator_defines.dm
  code/modules/fabrication/_fabricator.dm
  code/modules/fabrication/_fabricator_build_order.dm
  code/modules/fabrication/designs/_design.dm
  code/modules/fabrication/designs/replicator/designs_food.dm
  code/modules/fabrication/fabricator_build.dm
  code/modules/fabrication/fabricator_food.dm
  code/modules/fabrication/fabricator_intake.dm
  code/modules/fabrication/fabricator_microlathe.dm
  code/modules/fabrication/fabricator_topic.dm
  code/modules/fabrication/fabricator_ui.dm
  code/modules/food/replicator.dm
  code/modules/item_worth/worths_list.dm
  code/modules/research/designs/designs_circuits.dm
  code/unit_tests/machine_tests.dm
  icons/obj/machines/fabricators/replicator.dmi
  maps/away/lost_supply_base/lost_supply_base.dmm
  maps/away/unishi/unishi-2.dmm
Labels: Map, Sprites

#26675 Fixed misused sqllogging. Closes #26427
  code/_global_vars/sensitive.dm
  code/_helpers/global_access.dm
  code/controllers/configuration.dm
  code/procs/dbcore.dm
  config/example/config.txt
  config/example/dbconfig.txt
  test/run-test.sh
Labels: Config Update

#26804 Abolishes the dead shield rooms
  icons/atmos/vent_pump.dmi
  icons/atmos/vent_scrubber.dmi
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
Labels: Map, Sprites
