Repository Baystation12/Baystation12, pull requests merged in 2020-02, with the labels that each got.

#28048 Can throw things in the trash again
  code/modules/recycling/disposal.dm
Labels: Fix

#28049 Thrown items hit object on top of hit turf
  code/controllers/subsystems/throwing.dm
Labels: Fix

#27882 Prevents mobs that can't use psionics properly (due to lack of UI) from gaining psionics
  code/modules/psionics/mob/mob.dm
Labels: Admin, Fix

#28057 Fixes issue with polytools not working
  code/modules/augment/active/polytool.dm
Labels: Fix

#27994 Tweaks to drinks and drink accessories
  baystation12.dme
  code/game/gamemodes/cult/runes.dm
  code/game/machinery/vending.dm
  code/modules/fabrication/designs/general/designs_general.dm
  code/modules/fabrication/designs/micro/designs_glasses.dm
  code/modules/fabrication/fabricator_microlathe.dm
  code/modules/reagents/Chemistry-Colours.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/drinkingglass/drinkingglass.dm
  code/modules/reagents/reagent_containers/drinkingglass/extras.dm
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  code/unit_tests/reagent_color_test.dm
  icons/obj/chemical.dmi
  icons/obj/drink_glasses/carafe.dmi
  icons/obj/drink_glasses/cocktail.dmi
  icons/obj/drink_glasses/extras.dmi
  icons/obj/drink_glasses/flute.dmi
  icons/obj/drink_glasses/mug.dmi
  icons/obj/drink_glasses/pint.dmi
  icons/obj/drink_glasses/rocks.dmi
  icons/obj/drink_glasses/shake.dmi
  icons/obj/drink_glasses/shot.dmi
  icons/obj/drink_glasses/square.dmi
  icons/obj/drink_glasses/wine.dmi
  maps/torch/torch3_deck3.dmm
  nano/templates/fabricator.tmpl
Labels: Map, Sprites

#28064 Axes xenobio/xenoarch/toxins access from Explorers and Pilots
  maps/torch/job/exploration_jobs.dm
Labels: Map

#28063 Makes output atmos tank controller work again
  code/modules/atmospherics/components/unary/vent_pump.dm
Labels: Fix

#28069 Fleet engineering utility extra.
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/icons/obj/obj_under_solgov.dmi
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/clothing/solgov-under.dm
Labels: Feature, Map

#28083 Adds directions for coffee dispenser
  icons/obj/chemical.dmi
Labels: Sprites

#28080 Remove "Workplace Liaison" from supervisors of Research.
  maps/torch/job/research_jobs.dm
Labels: Map

#27973 Vox related map changes
  code/game/antagonist/outsider/raider.dm
  code/game/objects/random/random.dm
  maps/antag_spawn/heist/heist.dm
  maps/away/voxship/voxship-1.dmm
Labels: Feature, Fix, Map, Ready for Review

#28102 Bump Surgical borg medicine skill (without microwaves this time)
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
Labels: Tweak

#27857 Ports Sodas from the NSV Luna
  code/game/machinery/vending.dm
  code/game/objects/random/random.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  icons/obj/drinks.dmi
  icons/obj/vending.dmi
Labels: Feature, Sprites

#28109 Civilians get more access to informal hats
  maps/torch/loadout/loadout_head.dm
Labels: Map, Tweak

#28091 Changes name of Revolution game-mode voting to Mutiny (for torch map)
  maps/torch/datums/game_modes/torch_revolution.dm
  maps/torch/datums/game_modes/torch_siege.dm
  maps/torch/datums/game_modes/torch_uprising.dm
  maps/torch/torch.dm
Labels: Fix, Map

#28129 Ghosts can't detach IVs anymore
  code/game/objects/structures/iv_drip.dm
Labels: Fix
