Repository Baystation12/Baystation12, pull requests merged in 2020-01, with the labels that each got.

#27935 Fixes a runtime when using an atmos analyzer on a pit
  code/game/objects/structures/pit.dm
Labels: Fix

#27930 Fixes mercenary radio channel
  maps/antag_spawn/heist/heist_base.dmm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/torch/z1_admin.dmm
Labels: Fix, Map

#27887 Nymphs, Golems can no longer be auto-traitor'd
  code/modules/mob/living/carbon/alien/diona/_nymph.dm
  code/modules/species/station/golem.dm
Labels: Awaiting Lore (DNM) ✎, Fix

#27955 Replaces hard assistant paths with define.
  code/controllers/subsystems/jobs.dm
  code/datums/mil_ranks.dm
  code/game/objects/items/weapons/cards_ids.dm
  maps/torch/items/cards_ids.dm
Labels: Map

#27937 Adds welding goggles to loadout.
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  maps/torch/loadout/loadout_eyes.dm
Labels: Map, Tweak

#27938 farmbot refill rate changed to 100 per cycle
  code/modules/mob/living/bot/farmbot.dm
Labels: Tweak

#27914 Makes coffins lockable with a screwdriver
  code/game/objects/structures/crates_lockers/closets/coffin.dm
Labels: Feature

#27867 Combining stacks from an inventory no longer leaves bugged sprites
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/storage.dm
Labels: Fix

#27957 Fixes bugs with portable drives being unusable
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/modular_computers/file_system/programs/generic/file_browser.dm
Labels: Fix

#27968 May fix issue with vent connectivity for certain exoplanets.
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dm
Labels: Map

#27965 AI Multiline Announcments
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Tweak

#27976 Fixes some issues with tank control computers.
  code/game/machinery/atmo_control.dm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/derelict/derelict.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/torch/torch5_deck1.dmm
Labels: Fix, Map

#27992 Prevents unconscious people from 'seeing' with right-clicks
  code/__defines/dna.dm
  code/_helpers/medical_scans.dm
  code/_onclick/click.dm
  code/game/dna/genes/disabilities.dm
  code/game/gamemodes/setupgame.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/xenobiological/life.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/projectile/energy.dm
Labels: Fix

#27881 Runtime-proofs some IC trig functions
  code/modules/integrated_electronics/subtypes/trig.dm
Labels: Fix

#27931 Humanoid diona get chirp and (new) multichirp audible emotes
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/audible.dm
  sound/misc/multichirp.ogg
Labels: Sound, Tweak

#27964 Can't jump over dense objects anymore
  code/controllers/subsystems/throwing.dm
Labels: Fix

#27981 Fix solar control connection issue
  code/modules/power/solar.dm
Labels: Fix

#27987 Guest pass machine updates
  code/game/machinery/computer/guestpass.dm
  nano/templates/guestpass.tmpl
  test/check-paths.sh
Labels: Tweak

#27927 Vox can now return to their hangar landmark properly
  maps/away/voxship/voxship.dm
Labels: Fix, Map

#27982 Fixes net shotgun shell runtime
  code/game/objects/items/weapons/weaponry.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  maps/torch/items/explo_shotgun.dm
Labels: Fix, Map

#28022 Tweaks welded sound for airlock and vent
  code/game/machinery/doors/airlock.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/atmospherics/components/unary/vent_scrubber.dm
Labels: Tweak

#27933 Adherent can pass over tables when floating
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/organs/internal/species/adherent.dm
Labels: Feature

#28010 Peridaxon side effects fix
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Fix

#28011 Adds a sound effect and animation for the bodyscanner and sleeper
  code/game/machinery/Sleeper.dm
  code/game/machinery/bodyscanner.dm
  code/game/machinery/bodyscanner_console.dm
  icons/obj/Cryogenic2.dmi
  sound/machines/medbayscanner.ogg
Labels: Sound, Sprites

#28028 Drones can't open windoors fix
  code/game/machinery/doors/windowdoor.dm
Labels: Fix

#28031 Revert "Map the Christmas tree"
  maps/torch/torch3_deck3.dmm
Labels: Map, Revert/Removal

#28007 Sec HUD goggles description grammar fix
  code/modules/clothing/glasses/sunglasses.dm
Labels: Grammar and Formatting

#28014 Tweaks space-adapted species mods
  code/__defines/species.dm
  code/datums/movement/mob.dm
  code/modules/species/station/human_subspecies.dm
Labels: Tweak

#27960 Forbid IPCs from being counselor
  maps/torch/job/torch_jobs.dm
Labels: Map, Tweak

#28032 Decreases difficulty for installing augments
  code/modules/surgery/organs_internal.dm
Labels: Tweak

#28041 Hand teleporter bugfix
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
Labels: Fix, Tweak

#28013 Ports some space-adapted themed xenowear
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/clothing/under/accessories/clothing.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/obj/clothing/obj_accessories.dmi
Labels: Sprites

#27990 Add new roles to Vox Scavengers
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship.dm
  maps/away/voxship/voxship_jobs.dm
Labels: Feature, Map

#28044 More Security templates for Reports program
  maps/torch/datums/reports/security.dm
Labels: Map, Tweak

#28042 Pen / Retractable Pen tweaks
  code/modules/paperwork/paper.dm
  code/modules/paperwork/pen/pen.dm
  code/modules/paperwork/pen/retractable_pen.dm
Labels: Ready for Review, Tweak
