Repository Baystation12/Baystation12, pull requests merged in 2020-09, with the labels that each got.

#29269 SEA is now limited to Experienced Combat Skills.
  maps/torch/job/command_jobs.dm
Labels: Map, Tweak

#29246 anfon't
  code/modules/organs/internal/species/vox.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Revert/Removal

#29244 Computers can no longer turn on when they should not
  code/modules/modular_computers/computers/modular_computer/core.dm
Labels: Fix

#29248 QuickEquip works with underwear
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Tweak

#29251 Removes one way of Punitelli screwing itself over
  code/modules/multiz/turf.dm
  code/modules/species/station/monkey.dm
Labels: Revert/Removal, Tweak

#29252 Minor Ascent and Seedship stuff
  code/game/objects/structures/wall_frame.dm
  code/game/objects/structures/wallframe_spawner.dm
  code/modules/ascent/ascent_rigs.dm
  maps/away/ascent/ascent-1.dmm
Labels: Map

#29264 Gives thrusters some overlays
  code/modules/overmap/ships/engines/gas_thruster.dm
  icons/obj/ship_engine.dmi
Labels: Sprites

#29224 adds config main menu delays for respawning
  code/controllers/configuration.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/observer/ghost/ghost.dm
  config/example/config.txt
Labels: Config Update

#29266 Adds ETA timer to shuttle consoles
  code/modules/shuttles/shuttle_console.dm
  nano/templates/shuttle_control_console.tmpl
  nano/templates/shuttle_control_console_antag.tmpl
  nano/templates/shuttle_control_console_exploration.tmpl
  nano/templates/shuttle_control_console_multi.tmpl
Labels: Feature

#29274 Give forensic technician webbing
  maps/torch/structures/closets/security.dm
Labels: Feature, Map

#29249 Fixes sprites not updating after getting touched by space cleaner
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
Labels: Fix

#29293 Deletes the XO's Quarters camera
  maps/torch/torch6_bridge.dmm
Labels: Map

#29281 Legalese has a shorthand
  code/modules/mob/language/human/misc/legalese.dm
Labels: Tweak

#29278 Fixes the leak on the mercenary ship
  maps/antag_spawn/mercenary/mercenary_base.dmm
Labels: Fix, Map

#28833 Summary Documents
  maps/torch/items/summarydocuments.dm
  maps/torch/torch.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#29222 Fix paging and alert changes
  code/game/machinery/alarm.dm
  code/modules/research/message_server.dm
Labels: Fix

#29282 Fix protein bar reagents reacting
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: Fix

#29285 Allow outfits to have multiple id cards
  code/datums/outfits/_defines.dm
  code/datums/outfits/horror_killers.dm
  code/datums/outfits/jobs/cargo.dm
  code/datums/outfits/jobs/civilian.dm
  code/datums/outfits/jobs/command.dm
  code/datums/outfits/jobs/engineering.dm
  code/datums/outfits/jobs/job.dm
  code/datums/outfits/jobs/medical.dm
  code/datums/outfits/jobs/science.dm
  code/datums/outfits/jobs/security.dm
  code/datums/outfits/misc.dm
  code/datums/outfits/nanotrasen.dm
  code/datums/outfits/outfit.dm
  code/datums/outfits/spec_op.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/ascent/ascent_outfit.dm
  code/modules/mob/inventory.dm
  code/modules/shuttles/landmarks.dm
  maps/away/bearcat/bearcat_jobs.dm
  maps/away/scavver/scavver_gantry_jobs.dm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/voxship/voxship_jobs.dm
  maps/bearcat/bearcat_jobs.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/playablecolony.dm
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/outfits/corporate_outfits.dm
  maps/torch/job/outfits/engineering_outfits.dm
  maps/torch/job/outfits/exploration_outfits.dm
  maps/torch/job/outfits/medical_outfits.dm
  maps/torch/job/outfits/misc_outfits.dm
  maps/torch/job/outfits/research_outfits.dm
  maps/torch/job/outfits/security_outfits.dm
  maps/torch/job/outfits/service_outfits.dm
  maps/torch/job/outfits/supply_outfits.dm
Labels: Map

#29301 Fixes protein bars being un-eatable
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: Fix

#29218 Improves the paint gun (with sprites made by bishop)
  baystation12.dme
  code/__defines/flags.dm
  code/datums/supplypacks/nonessent.dm
  code/datums/trading/goods.dm
  code/game/atoms.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/effects/chem/water.dm
  code/game/objects/items/devices/paint_gun.dm
  code/game/objects/items/devices/paint_sprayer.dm
  code/game/objects/structures/wall_frame.dm
  code/game/turfs/simulated/walls.dm
  code/modules/codex/entries/tools.dm
  code/modules/mechs/components/_components.dm
  code/modules/mechs/components/frame.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_repair.dm
  code/modules/mob/living/silicon/robot/modules/module_engineering.dm
  code/modules/mob/living/silicon/robot/modules/module_maintenance_drone.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/device.dmi
  maps/bearcat/bearcat-1.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/z1_admin.dmm
Labels: Fix, Map, Sprites, Tweak

#29277 Revises power cell types
  code/datums/trading/weaponry.dm
  code/game/objects/items/devices/inducer.dm
  code/game/objects/items/devices/personal_shield.dm
  code/game/objects/items/weapons/circuitboards/machinery/mining_drill.dm
  code/game/objects/items/weapons/circuitboards/machinery/portable_atmospherics.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/random/random.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mechs/components/body.dm
  code/modules/power/apc.dm
  code/modules/power/cell.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/research/designs/designs_powercell.dm
  maps/away/voxship/voxship-2.dmm
Labels: Map

#29325 Update overlooked power cell references
  code/datums/supplypacks/engineering.dm
  code/datums/trading/goods.dm
  code/game/machinery/vending.dm
  code/game/objects/structures/crates_lockers/closets/malfunction.dm
  code/modules/xenoarcheaology/artifacts/replicator.dm
Labels: Fix

#29308 Deletes redundant access define, modifies area name
  maps/torch/torch_areas.dm
Labels: Map

#29067 Gives Gantry a Cryopod, other small Gantry changes.
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/scavver/scavver_gantry.dm
  maps/away_sites_testing/away_sites_testing.dm
Labels: Fix, Map

#29309 Fix null account runtime
  code/datums/outfits/outfit.dm
Labels: Fix

#29340 Fix gantry paint sprayer reference
  maps/away/scavver/scavver_gantry-1.dmm
Labels: Map

#29291 Add tactical and speed reloading
  code/modules/mob/skills/skill.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Feature

#29307 Remove medical THERA door braces
  maps/torch/torch5_deck1.dmm
Labels: Map, Tweak

#29306 Chemists glass door, swaps 2 machines around
  maps/torch/torch5_deck1.dmm
Labels: Map

#29305 Fixes the hangar control tower bin
  maps/torch/torch2_deck4.dmm
Labels: Map

#29304 Sets the medical cooler to 80 kelvin
  maps/torch/torch5_deck1.dmm
Labels: Map, Tweak

#29295 Removes unusable solars from bridge deck
  maps/torch/torch6_bridge.dmm
Labels: Map, Revert/Removal

#29265 Muting AOOC now only informs people with AOOC
  code/datums/communication/aooc.dm
  code/datums/communication/channel.dm
  code/modules/admin/admin.dm
  test/check-paths.sh
Labels: Tweak

#29333 Removes illegal reference in dispersive blaster
  code/modules/projectiles/guns/energy/special.dm
Labels: Revert/Removal, Tweak

#29280 Allows forensicing bags, tables, racks, etc on non-help intents
  code/modules/detectivework/tools/sample_kits.dm
Labels: Fix, Tweak

#29330 Raise exception on base cell type use
  code/modules/power/cell.dm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/derelict/derelict-station.dmm
  maps/torch/torch4_deck2.dmm
Labels: Map

#29336 Properly limits Crashed pod slots
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dm
Labels: Map

#29338 Makes Torch exterior area not a child of maint
  maps/torch/torch4_deck2.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_unit_testing.dm
Labels: Map

#29341 Manually configures the Foyer door access
  maps/torch/torch5_deck1.dmm
Labels: Fix, Map

#29342 Make the anonymous ghost toggle a persistent preference
  code/datums/communication/dsay.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/observer/ghost/ghost.dm
Labels: Tweak

#29348 Removes renegade from department heads and XO
  code/game/antagonist/station/renegade.dm
Labels: Revert/Removal, Tweak

#29368 Fix broken job outfit flags
  code/datums/outfits/_defines.dm
  code/datums/outfits/jobs/cargo.dm
  code/datums/outfits/jobs/engineering.dm
  code/datums/outfits/jobs/job.dm
  code/datums/outfits/jobs/medical.dm
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/outfits/engineering_outfits.dm
  maps/torch/job/outfits/medical_outfits.dm
  maps/torch/job/outfits/supply_outfits.dm
Labels: Fix, Map

#29300 Add access restrictions for medical/security HUD eye wear.
  code/modules/clothing/glasses/eyepatch.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/glasses/sunglasses.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Ready for Review, Tweak

#29256 Fixes station nukes
  code/game/machinery/nuclear_bomb.dm
Labels: Needs Changelog (DNM), Ready for Review, Tweak

#29349 Janitor Lightswitch shifted properly
  maps/torch/torch2_deck4.dmm
Labels: Map

#29353 Fixes runtimes
  code/game/turfs/simulated/floor_attackby.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/mob/living/living.dm
  code/modules/shield_generators/shield_generator.dm
Labels: Fix

#29363 Tweaks personal lockers
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
Labels: Tweak

#29361 Includes a changing section in D3 head
  maps/torch/torch3_deck3.dmm
Labels: Map

#29299 Fixes psionic armor not working at all
  code/datums/extensions/armor/armor_psionic.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/psionics/complexus/complexus.dm
  code/modules/psionics/complexus/complexus_helpers.dm
  code/modules/psionics/complexus/complexus_process.dm
Labels: Fix

#29346 targetted_emote + check_range
  code/modules/emotes/definitions/audible.dm
  code/modules/emotes/definitions/visible.dm
  code/modules/emotes/emote_define.dm
Labels: Tweak

#29364 Limit money cannon max money
  code/modules/projectiles/guns/launcher/money_cannon.dm
Labels: Tweak

#29271 Fixes/Tweaks around the personal shield
  code/game/objects/items/devices/personal_shield.dm
Labels: Feature, Fix, Revert/Removal

#29315 Lockers no longer protect you from disposal damage
  code/modules/recycling/disposal.dm
  code/modules/recycling/disposalholder.dm
Labels: Admin, Tweak

#29375 Removes the Fire Axe from Bridge Storage
  maps/torch/torch6_bridge.dmm
Labels: Map, Revert/Removal

#29354 Gantry pipe/wire/filter fix
  maps/away/scavver/scavver_gantry-2.dmm
Labels: Map

#29359 Allow trained engines to fully use SM monitor
  code/modules/modular_computers/file_system/programs/engineering/supermatter_monitor.dm
Labels: Tweak

#28937 Limit atmosphere control to connected z levels
  code/modules/modular_computers/file_system/programs/engineering/atmos_control.dm
Labels: Tweak

#29393 Various Bugfixes.
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/modular_computers/computers/modular_computer/interaction.dm
Labels: Fix

#29388 Add trainee roles to protected antag jobs
  maps/torch/torch_antagonism.dm
Labels: Map, Tweak

#29390 Admin - Hard deletes Secrets -> Investigations -> AdminPms
  baystation12.dme
  code/modules/admin/secrets/investigation/admin_pms.dm
Labels: Admin, Revert/Removal

#29386 NTOS programs will not start when there's no network connection
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/ntos/ntos.dm
Labels: Tweak

#29385 Makes paint sprayers be able to paint pipes
  baystation12.dme
  code/datums/supplypacks/nonessent.dm
  code/datums/trading/goods.dm
  code/game/objects/items/devices/paint_sprayer.dm
  code/game/objects/items/devices/pipe_painter.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/modules/atmospherics/_atmos_setup.dm
  code/modules/atmospherics/atmospherics.dm
  code/modules/atmospherics/components/unary/tank.dm
  code/modules/atmospherics/pipes.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/codex/entries/tools.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_repair.dm
  code/modules/mob/living/silicon/robot/modules/module_engineering.dm
  code/modules/mob/living/silicon/robot/modules/module_maintenance_drone.dm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/scavver/scavver_gantry-1.dmm
  maps/bearcat/bearcat-2.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/torch4_deck2.dmm
Labels: Feature, Map, Revert/Removal, Tweak

#29316 Adds volume input, preview button to Play Global Sound
  code/modules/admin/verbs/playsound.dm
Labels: Admin

#29337 Removes SolGov crew from Infirmary Staging
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
Labels: Map, Revert/Removal, Tweak

#29404 Revert "NTOS programs will not start when there's no network connection"
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/ntos/ntos.dm
Labels: Revert/Removal

#29357 Gantry Shuttles/Overmap behaviour changes
  code/game/objects/effects/misc.dm
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/scavver/scavver_gantry.dm
  maps/away/scavver/scavver_gantry_shuttles.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_overmap.dm
  maps/torch/z2_transit.dmm
Labels: Map

#29402 Adds more loadout options for contractors
  maps/torch/loadout/_defines.dm
Labels: Feature, Map

#29397 petrov toxins tweaks
  maps/torch/job/research_jobs.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch_areas.dm
Labels: Map, Tweak

#29389 Admin - Removes old player panel
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_panel.dm
  interface/skin.dmf
Labels: Admin, Revert/Removal

#29410 Fixes Tricop missing wire
  maps/away/ascent/ascent-1.dmm
Labels: Map

#29413 Removes the "interior access button" in the window at EVA
  maps/torch/torch2_deck4.dmm
Labels: Map, Revert/Removal

#29378 Stasis clamp deletion logic fixes
  code/game/machinery/atmoalter/clamp.dm
  code/modules/atmospherics/pipes.dm
Labels: Fix

#29379 Various bug fixes
  code/game/objects/items/weapons/storage/secure.dm
  code/modules/reagents/Chemistry-Machinery.dm
  maps/torch/torch5_deck1.dmm
Labels: Fix, Map

#29374 Fix drone targeting
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dm
Labels: Fix, Map

#29372 Allow grinding crayons for dust
  code/game/objects/items/crayons.dm
  code/modules/paperwork/pen/crayon.dm
Labels: Fix

#29380 Colony map tweaks - Pipes and air alarms
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
Labels: Map

#29423 Fixes PlayerPanel keybinding
  interface/skin.dmf
Labels: Admin

#29414 adds methyl bromide filter masks to the ascent seedship
  code/modules/ascent/ascent_outfit.dm
  maps/away/ascent/ascent-1.dmm
Labels: Feature, Lore approved, Map, Ready for Review

#29198 New Verne
  code/datums/supplypacks/supply.dm
  code/game/objects/effects/misc.dm
  code/game/objects/items/weapons/circuitboards/machinery/pacman.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/wall_frame.dm
  code/game/objects/structures/wallframe_spawner.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/goose.dm
  code/modules/power/port_gen.dm
  code/modules/power/singularity/emitter.dm
  code/modules/research/designs/designs_circuits.dm
  icons/mob/simple_animal/goose.dmi
  maps/away/unishi/unishi-1.dmm
  maps/away/unishi/unishi-2.dmm
  maps/away/unishi/unishi-3.dmm
  maps/away/unishi/unishi.dm
  maps/away/unishi/unishi.dmi
  maps/away/unishi/unishi_areas.dm
  maps/away/unishi/unishi_jobs.dm
  maps/away/verne/verne-1.dmm
  maps/away/verne/verne-2.dmm
  maps/away/verne/verne-3.dmm
  maps/away/verne/verne.dm
  maps/away/verne/verne.dmi
  maps/away/verne/verne_areas.dm
  maps/away/verne/verne_jobs.dm
  maps/away/verne/verne_shuttles.dm
  maps/away/voxship/voxship_jobs.dm
  maps/away_sites_testing/away_sites_testing.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_suit.dm
  maps/torch/torch.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_overmap.dm
  maps/torch/z2_transit.dmm
Labels: Map, Sprites

#29429 Moves R-UST air alarm into the main chamber
  maps/torch/torch4_deck2.dmm
Labels: Map

#29431 Over The Shoulder
  code/modules/events/mail.dm
  code/modules/synthesized_instruments/real_instruments/Guitar/guitar.dm
  code/modules/synthesized_instruments/real_instruments/Synthesizer/synthesizer.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/items.dmi
  icons/obj/musician.dmi
Labels: Feature, Sprites, Tweak

#29425 Pool fun!
  code/controllers/subsystems/fluids.dm
  code/game/machinery/pipe/pipe_datums/device_pipe_datums.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/drain.dm
  code/game/objects/structures/watercloset.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/turf.dm
  code/modules/materials/recipes_stacks.dm
  icons/obj/drain.dmi
  icons/obj/tiles.dmi
  icons/obj/watercloset.dmi
  icons/turf/flooring/pool.dmi
  maps/torch/torch3_deck3.dmm
Labels: Feature, Map, Sprites

#29370 Hide AOOC broadcasts from non-AOOC users
  code/datums/communication/aooc.dm
Labels: Fix

#29437 Fixes an instance of dual wielded items not getting updated
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Fix

#29436 Fixes underwear getting quick-equipped into pockets
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Fix

#29432 Removes robotics access to engineering suit storage units
  code/game/machinery/suit_storage_units.dm
Labels: Revert/Removal, Tweak

#29412 Paint sprayer QoL changes
  baystation12.dme
  code/datums/observation/hands_swapped.dm
  code/game/atoms.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/paint_sprayer.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/modules/codex/entries/tools.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/inventory.dm
  icons/obj/device.dmi
Labels: Sprites

#29446 Adjust LOOC color
  code/game/verbs/who.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/goonchat/browserassets/css/styles_template.css
  code/stylesheet.dm
Labels: Tweak

#29416 Vi's New Alcohol
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
Labels: Feature, Update Wiki after Merge

#29442 removes ingame_manuals
  code/game/gamemodes/malfunction/newmalf_ability_trees/HELPERS.dm
  code/modules/mob/living/silicon/ai/malf.dm
  ingame_manuals/README.txt
  ingame_manuals/malf_ai.html
Labels: Revert/Removal

#29441 removes space
  baystation12.dme
  code/modules/client/asset_cache.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/file_system/news_article.dm
  code/modules/modular_computers/file_system/programs/generic/news_browser.dm
  news_articles/images/issue1.png
  news_articles/images/issue2.png
  news_articles/images/issue3.png
  news_articles/images/issue4.png
  news_articles/images/issue5.png
  news_articles/images/issue6.png
  news_articles/space_magazine_1.html
  news_articles/space_magazine_2.html
  news_articles/space_magazine_3.html
  news_articles/space_magazine_4.html
  news_articles/space_magazine_5.html
  news_articles/space_magazine_6.html
Labels: Revert/Removal

#29440 Fixes the inconsistency in the guitar back onmob
  icons/mob/onmob/onmob_back.dmi
Labels: Sprites, Tweak

#29444 Give CE access to Robot cameras
  code/modules/modular_computers/file_system/programs/generic/camera.dm
Labels: Tweak

#29448 reagent heaters/coolers are not dense
  code/modules/reagents/heat_sources/_heat_source.dm
Labels: Tweak

#29399 Tweak gun firing messages, add point blank attack log
  code/modules/projectiles/gun.dm
Labels: Admin, Ready for Review, Tweak

#29418 Add picnic baskets
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/lunchbox.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/storage.dmi
Labels: Feature, Sprites

#29424 Known sector processing optimization & helm message
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/computers/helm.dm
Labels: Tweak

#29433 Call proc now notifies admins
  code/modules/admin/callproc/callproc.dm
Labels: Admin

#29434 Enhance feedback messages and logs for place map
  code/modules/admin/verbs/map_template_loadverb.dm
Labels: Admin

#29438 More Gantry Tweaks
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/scavver/scavver_gantry.dm
Labels: Map

#29443 Changes the Security voidsuit helmet to match other suits
  icons/mob/onmob/onmob_head.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/species/skrell/obj_head_skrell.dmi
  icons/obj/clothing/species/unathi/obj_head_unathi.dmi
Labels: Feature, Sprites

#29367 Implements Monarch Serpentids + Some ascent fixes
  code/modules/ascent/ascent_outfit.dm
  code/modules/ascent/ascent_rigs.dm
  code/modules/clothing/clothing.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/organs/internal/species/nabber.dm
  code/modules/projectiles/guns/energy/mantid.dm
  code/modules/species/mantid/mantid.dm
  code/modules/species/station/nabber.dm
  icons/mob/human_races/species/nabber/body_msw.dmi
  icons/mob/human_races/species/nabber/msq/blood_mask.dmi
  icons/mob/human_races/species/nabber/msq/body.dmi
  icons/mob/human_races/species/nabber/msq/damage_mask.dmi
  icons/mob/human_races/species/nabber/msq/eyes.dmi
  icons/mob/human_races/species/nabber/msq/preview.dmi
  icons/mob/species/nabber/msq/onmob_back_msq.dmi
  icons/mob/species/nabber/msq/onmob_belt_msq.dmi
  icons/mob/species/nabber/msq/onmob_hands_msq.dmi
  icons/mob/species/nabber/msq/onmob_head_msq.dmi
  icons/mob/species/nabber/msq/onmob_lefthand_particle_rifle.dmi
  icons/mob/species/nabber/msq/onmob_mask_msq.dmi
  icons/mob/species/nabber/msq/onmob_righthand_particle_rifle.dmi
  icons/mob/species/nabber/msq/onmob_suit_msq.dmi
  icons/mob/species/nabber/msq/onmob_under_msq.dmi
  maps/away/ascent/ascent_jobs.dm
Labels: Feature, Lore approved, Map, Sprites, Test Merge :heavy_check_mark:, Tweak

#29220 Away site telecomms
  code/__defines/colors.dm
  code/_helpers/global_access.dm
  code/controllers/communications.dm
  code/game/machinery/telecomms/presets.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/goonchat/browserassets/css/styles_template.css
  code/modules/mob/living/say.dm
  code/stylesheet.dm
  maps/antag_spawn/ert/ert_base.dmm
  maps/antag_spawn/heist/heist_base.dmm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/away/ascent/ascent-1.dmm
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_areas.dm
  maps/away/bearcat/bearcat_jobs.dm
  maps/away/bearcat/bearcat_radio.dm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship_radio.dm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/verne/verne-1.dmm
  maps/away/verne/verne-2.dmm
  maps/away/verne/verne-3.dmm
  maps/away/verne/verne.dm
  maps/away/verne/verne_jobs.dm
  maps/away/verne/verne_radio.dm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship.dm
  maps/away/voxship/voxship_jobs.dm
  maps/away/voxship/voxship_radio.dm
  maps/example/example-1.dmm
  maps/example/example.dm
  maps/example/example_radio.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/playablecolony.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/playablecolony_radio.dm
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmi
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony2/playablecolony2.dm
  maps/random_ruins/exoplanet_ruins/playablecolony2/playablecolony2_radio.dm
  maps/torch/items/encryption_keys.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_presets.dm
  maps/~mapsystem/maps.dm
  nano/templates/radio_basic.tmpl
  test/run-test.sh
Labels: Feature, Map

#29461 Hide source name from gun auth notifications
  code/modules/modular_computers/file_system/programs/security/forceauthorization.dm
  code/modules/projectiles/secure.dm
Labels: Tweak

#29460 Makes railings paintable
  code/game/objects/items/devices/paint_sprayer.dm
  code/game/objects/structures/railing.dm
Labels: Feature

#29451 Only display ion law messages if law is changed
  code/game/gamemodes/events.dm
  code/modules/events/ion_storm.dm
  code/modules/mob/living/silicon/laws.dm
Labels: Fix, Ready for Review

#29455 Fixes modular computers emitting light when offline
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/modular_computers/ntos/subtypes/device.dm
Labels: Fix

#29457 Adjusts the Coilgun's research values to be more reasonable.
  code/modules/projectiles/guns/magnetic/magnetic.dm
Labels: Tweak

#28532 fiddles with mech drills
  code/modules/mechs/equipment/utility.dm
  code/modules/mechs/premade/powerloader.dm
  maps/antag_spawn/mercenary/mercenary_base.dmm
Labels: Map

#29273 publicly visible do_after + progressbar for atoms
  code/__defines/mobs.dm
  code/_helpers/mobs.dm
  code/datums/progressbar.dm
  code/game/objects/items/weapons/mop.dm
Labels: Fix, Tweak

#29400 Whitelist diona nymphs
  code/modules/client/preference_setup/antagonism/01_candidacy.dm
  code/modules/ghosttrap/trap.dm
Labels: Lore approved, Ready for Review, Tweak

#29454 adds helm access to torch, torch shuttles, and damaged bearcat
  maps/away/bearcat/bearcat-2.dmm
  maps/torch/job/command_jobs.dm
  maps/torch/job/torch_access.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map, Tweak

#29467 Tweaks the new sec helmet to properly hide nose.
  icons/mob/onmob/onmob_head.dmi
Labels: Sprites, Tweak

#29464 Discourage Combat Secretaries
  maps/torch/items/items.dm
  maps/torch/job/corporate_jobs.dm
  maps/torch/structures/closets/misc.dm
Labels: Map, Tweak

#29470 Removes SolGov accent color duty gloves from lockers
  maps/torch/structures/closets/engineering.dm
  maps/torch/structures/closets/security.dm
Labels: Map, Revert/Removal

#29471 Verne spawn weight added, made rarer.
  maps/away/verne/verne.dm
Labels: Map, Tweak

#29479 do_mob bandaid
  code/_helpers/mobs.dm
Labels: Fix
