Repository Baystation12/Baystation12, pull requests merged in 2020-06, with the labels that each got.

#28639 Changes Corp helmet cover to be a more generic white helmet cover
  code/modules/clothing/under/accessories/armor.dm
Labels: Tweak

#28644 Ports opacity fix from nebula
  code/datums/observation/opacity_set.dm
  code/game/atoms.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_changing.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/lighting/lighting_turf.dm
Labels: Fix

#28649 Vox Asteroid Base slight overhaul
  maps/away/voxship/voxship-1.dmm
Labels: Map

#28651 Fixes CL's office door buttons and bad clipties icon_states
  icons/mob/onmob/onmob_accessories.dmi
  maps/torch/torch6_bridge.dmm
Labels: Map, Sprites

#28645 Add control-alt-clicking to point at things
  code/_onclick/click.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/projectiles/guns/launcher/foam_gun.dm
Labels: Feature

#28643 Energy gun mob icons update correctly now
  code/modules/projectiles/guns/energy.dm
Labels: Fix

#28631 Give AI Master IT
  code/game/jobs/job/job.dm
  code/game/jobs/job/silicon.dm
  code/modules/mob/skills/skillset.dm
  code/modules/mob/transform_procs.dm
Labels: Tweak

#28624 Bunch of limb reattachment fixes
  code/modules/surgery/limb_reattach.dm
Labels: Fix

#28190 New Mining Station for visitable Away site
  icons/mob/simple_animal/nightmaremonsters.dmi
  maps/away/miningstation/miningstation.dm
  maps/away/miningstation/miningstation.dmm
  maps/away/miningstation/miningstation_areas.dm
  maps/away_sites_testing/away_sites_testing.dm
  maps/torch/torch.dm
Labels: Feature, Map, Sprites

#28586 Remove Limbs from the Bioprinter
  code/game/machinery/bioprinter.dm
Labels: Revert/Removal

#28656 Fixes nabber slowdown bug
  code/__defines/damage_organs.dm
  code/modules/organs/internal/species/nabber.dm
Labels: Fix

#28657 Check fax history verb
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: Admin

#27984 adds character email prefs
  code/_helpers/text.dm
  code/controllers/subsystems/jobs.dm
  code/datums/mil_ranks.dm
  code/modules/client/preference_setup/_defines.dm
  code/modules/client/preference_setup/background/03_records.dm
  code/modules/client/preferences.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  maps/torch/torch_ranks.dm
Labels: Feature, Map

#28667 Adds complex devices to default surgical loadout
  maps/away/voxship/voxship_jobs.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/medical_jobs.dm
Labels: Map

#28672 Adds new residencies for Unathi
  code/__defines/culture.dm
  code/modules/culture_descriptor/location/locations_unathi.dm
  code/modules/species/station/lizard.dm
Labels: Feature

#28671 rejuv reapplies appearance stuff
  code/modules/mob/living/carbon/human/life.dm
Labels: Fix

#28658 fax destination tweaks
  code/modules/paperwork/faxmachine.dm
  maps/torch/torch_define.dm
  maps/~mapsystem/maps.dm
Labels: Map, Tweak

#28587 implements yeosa job restrictions
  maps/torch/torch_ranks.dm
Labels: Fix, Map

#28488 you can't mop overlays
  code/game/objects/items/weapons/mop.dm
  code/game/turfs/turf.dm
Labels: Fix

#28689 Adds flora disks to the protolathe
  code/modules/research/designs/designs_disk.dm
Labels: Tweak

#28692 Research Assistants and Scientists now default to contractor
  maps/torch/job/research_jobs.dm
Labels: Map, Tweak

#28189 implements species exertion
  baystation12.dme
  code/modules/emotes/definitions/exertion.dm
  code/modules/emotes/emote_define.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/species/mantid/mantid.dm
  code/modules/species/outsider/random.dm
  code/modules/species/outsider/vox.dm
  code/modules/species/species.dm
  code/modules/species/station/lizard.dm
  code/modules/species/station/machine.dm
  code/modules/species/station/nabber.dm
  code/modules/species/station/station.dm
Labels: Fix, Tweak

#28670 connects vox ship fuel to thrusters
  maps/away/voxship/voxship-2.dmm
Labels: Map

#28694 Cats, like corgis, can now be ordered through supply
  code/datums/supplypacks/livecargo.dm
Labels: Feature

#28684 Makes SM Filters by default start set to H2
  maps/torch/torch4_deck2.dmm
Labels: Map

#28693 Change skiranhi to skrianhi
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
Labels: Grammar and Formatting

#28682 Removes subversive collaborators from traitor
  code/game/antagonist/station/traitor.dm
Labels: Revert/Removal

#28675 Passports update + travel visas
  code/modules/client/preference_setup/loadout/lists/misc.dm
  icons/obj/bureaucracy.dmi
  maps/torch/items/items.dm
Labels: Feature, Grammar and Formatting, Map, Sprites

#28638 Chorus fixes
  baystation12.dme
  code/game/antagonist/station/god_cult.dm
  code/modules/materials/definitions/materials_organic.dm
  code/modules/mob/living/chorus/buildings/blueprint_obj.dm
  code/modules/mob/living/chorus/buildings/building_chorus.dm
  code/modules/mob/living/chorus/buildings/building_datum.dm
  code/modules/mob/living/chorus/buildings/generic.dm
  code/modules/mob/living/chorus/buildings/growth/tier_five.dm
  code/modules/mob/living/chorus/buildings/growth/tier_four.dm
  code/modules/mob/living/chorus/buildings/growth/tier_three.dm
  code/modules/mob/living/chorus/buildings/growth/tier_two.dm
  code/modules/mob/living/chorus/chorus.dm
  code/modules/mob/living/chorus/chorus_click.dm
  code/modules/mob/living/chorus/chorus_followers.dm
  code/modules/mob/living/chorus/chorus_life.dm
  code/modules/mob/living/chorus/forms/growth.dm
  code/modules/mob/observer/freelook/chunk.dm
  code/modules/mob/observer/freelook/eye.dm
  icons/obj/cult.dmi
  icons/obj/cult_tall.dmi
  icons/obj/device.dmi
Labels: Sprites

#28502 Add chance to stumble on OFD firing
  code/modules/overmap/disperser/disperser_fire.dm
Labels: Ready for Review, Tweak

#28701 Update donuts recipes
  code/modules/food/recipes_microwave.dm
Labels: Tweak, Update Wiki after Merge

#28711 Reverts PGUP and PGDOWN to old hotkeys.
  code/modules/mob/observer/freelook/eye.dm
Labels: Revert/Removal

#28695 More Hairstyles
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Sprites

#28581 vox ship is now a pleasant green on the outside
  code/game/objects/structures/wall_frame.dm
  code/game/objects/structures/wallframe_spawner.dm
  code/game/turfs/simulated/wall_types.dm
  maps/away/voxship/voxship-2.dmm
Labels: Map, Tweak

#28560 vox smes goes faster
  maps/away/voxship/voxship.dm
Labels: Map, Tweak

#28559 objects don't fall down up ladders
  code/modules/multiz/structures.dm
Labels: Fix

#28298 Prevent map tags
  maps/antag_spawn/heist/heist_base.dmm
  maps/away/meatstation/meatstation.dmm
  maps/away/mining/mining-orb.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/unishi/unishi-1.dmm
  maps/away/unishi/unishi-2.dmm
  maps/away/unishi/unishi-3.dmm
  maps/bearcat/bearcat-1.dmm
  maps/bearcat/bearcat-2.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dmm
  maps/random_ruins/exoplanet_ruins/lodge/lodge.dmm
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/z1_admin.dmm
  test/check-paths.sh
Labels: Map

#28468 sensor report no-vermap
  code/controllers/subsystems/shuttle.dm
  maps/torch/torch_setup.dm
Labels: Map

#28721 Fix #28661
  maps/torch/torch5_deck1.dmm
Labels: Fix, Map

#28704 Buffs powersinks to match the power capacity of the Torch
  code/game/objects/items/devices/powersink.dm
Labels: Feature

#28038 Generalized organ w_class scaling.
  code/game/machinery/bioprinter.dm
  code/modules/organs/organ.dm
  code/modules/species/species_helpers.dm
Labels: Ready for Review

#28674 Removes a footgun from firemodes code
  code/modules/projectiles/gun.dm
Labels: Ready for Review, Revert/Removal

#28726 Fixes space tile under window tiles on Old Lab spawn
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dmm
Labels: Map

#28591 removes superfluous second robotics access
  maps/torch/job/command_jobs.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/torch_access.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
Labels: Map

#28723 Change Config Tag of Chorus
  code/game/gamemodes/chorus/chorus.dm
Labels: Fix

#28720 Adds multiple new drinking glasses, several tall mugs, and adds snacks to the lunchbox (take 2)
  code/game/machinery/vending.dm
  code/modules/fabrication/designs/micro/designs_glasses.dm
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  code/modules/reagents/reagent_containers/food/lunch.dm
  icons/obj/drink_glasses/coffecup.dmi
  icons/obj/drink_glasses/coffecup_tall.dmi
  icons/obj/drink_glasses/cognac.dmi
  icons/obj/drink_glasses/goblet.dmi
Labels: Feature, Sprites

#28734 fix regex snafu
  maps/antag_spawn/heist/heist_base.dmm
Labels: Map

#28733 Adds Cabbage Juice
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
Labels: Feature

#28735 scan consoles and displays connect by shared zlevel
  code/game/machinery/bodyscanner_console.dm
  maps/away/miningstation/miningstation.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

#28687 Reworks merchant communication
  baystation12.dme
  code/datums/trading/_trading_defines.dm
  code/datums/trading/ai.dm
  code/datums/trading/food.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  code/datums/trading/ship.dm
  code/datums/trading/trade.dm
  code/datums/trading/trade_response.dm
  code/datums/trading/unique.dm
  code/datums/trading/vox.dm
  code/datums/trading/weaponry.dm
  code/modules/merchant/merchant_programs.dm
  html/changelogs/TheWelp - merchantRework.yml
Labels: Ready for Review

#28744 Adds chef to semi and formal loadout roles
  maps/torch/loadout/_defines.dm
Labels: Map, Tweak

#28736 Medical try 3
  code/game/area/Space Station 13 areas.dm
  code/game/objects/structures/signs.dm
  code/game/turfs/flooring/flooring_decals.dm
  icons/obj/decals.dmi
  icons/turf/flooring/decals.dmi
  maps/torch/datums/game_modes/torch_meteor.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_elevator.dm
  maps/torch/torch_shuttles.dm
  maps/torch/torch_unit_testing.dm
  maps/torch/z2_transit.dmm
  maps/~mapsystem/maps_unit_testing.dm
Labels: Map, Sprites

#28619 adds forbidden message regex configuration
  code/controllers/configuration.dm
  code/datums/communication/channel.dm
  code/datums/communication/ooc.dm
  config/example/config.txt
Labels: Admin, Config Update

#28731 adds protein bar flavors
  baystation12.dme
  code/_global_vars/edible.dm
  code/game/machinery/vending.dm
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/mre.dm
  code/game/objects/random/random.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
Labels: Feature, Map

#28753 Small Grammar fixes
  code/modules/events/maint_drones.dm
  code/modules/reagents/reagent_containers/dropper.dm
Labels: Grammar and Formatting

#28676 Allow loadout items to have custom setup procs
  code/datums/underwear/underwear.dm
  code/game/objects/structures/under_wardrobe.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preferences.dm
  code/unit_tests/loadout_tests.dm
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/items.dm
  maps/torch/loadout/loadout_accessories.dm
Labels: Map

#28477 adds scrubber backpacks
  code/datums/supplypacks/atmospherics.dm
  code/datums/supplypacks/engineering.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/game/objects/items/weapons/weldbackpack.dm
  code/modules/clothing/spacesuits/rig/rig_attackby.dm
  code/modules/clothing/spacesuits/void/void.dm
  icons/mob/onmob/onmob_back.dmi
  icons/obj/storage.dmi
  icons/obj/tank.dmi
  maps/torch/structures/closets/engineering.dm
  sound/machines/scrubber-active.ogg
Labels: Feature, Map, Ready for Review, Sprites, Tweak
