Repository Baystation12/Baystation12, pull requests merged in 2020-04, with the labels that each got.

#28233 Show Ckey in End Credits applies to special roles 2
  code/controllers/subsystems/ticker.dm
  code/game/antagonist/antagonist_print.dm
  code/modules/client/preference_setup/global/preferences.dm
Labels: Tweak

#28249 Fixes ascent shuttle dragging space tiles
  maps/away/ascent/ascent-1.dmm
Labels: Fix, Map

#28244 Wide Medical Visor now protects your eyeballs
  code/modules/clothing/glasses/hud.dm
Labels: Tweak

#28245 Conduct minor Travis cleanup
  .travis.yml
Labels: Fix

#28242 Add verb to reset AI encryption keys
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Tweak

#28256 Fixes the pitcher not heaving fill overlays for 90 and 100 fullness
  icons/obj/drink_glasses/carafe.dmi
Labels: Fix, Sprites

#28260 Adds tinting overlay to tinted helmets
  code/modules/clothing/spacesuits/spacesuits.dm
Labels: Tweak

#28209 Small buff to shields
  code/__defines/shields.dm
Labels: Tweak

#27940 Made inflamed appendix harder to miss on scan + fixed riot helmets
  code/_helpers/medical_scans.dm
  code/modules/clothing/head/helmet.dm
Labels: Fix, Sprites, Tweak

#28218 New survival pod, fixes colony airlock, by albens
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
Labels: Map

#28237 Moves the chemistry subsystem's wait interval from 20 ds to 5 ds
  code/controllers/subsystems/chemistry.dm
Labels: Tweak

#28254 sprite hump remove
  icons/mob/onmob/onmob_accessories.dmi
Labels: Sprites

#28273 Makes merc require at least 3 people in the merc team
  code/game/gamemodes/nuclear/nuclear.dm
Labels: Tweak

#28263 removes superfluous check from pull facing
  code/modules/mob/living/living.dm
Labels: Revert/Removal

#28280 Enabled Partial Understanding for Unathi language
  code/modules/mob/language/alien/unathi.dm
Labels: Tweak

#28258 Xenoarch bugs and QoL
  code/modules/xenoarcheaology/tools/coolant_tank.dm
  code/modules/xenoarcheaology/tools/suspension_generator.dm
Labels: Fix, Ready for Review, Tweak

#28288 Added new Unathi Emotes
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/audible.dm
  sound/voice/LizardBellow.ogg
  sound/voice/LizardSqueal.ogg
Labels: Feature

#28275 Adds food coloring/food dye, used to change the color of food, drinks, and reagents
  code/datums/supplypacks/galley.dm
  code/datums/uplink/devices and tools.dm
  code/game/atoms.dm
  code/game/objects/items/devices/uplink_random_lists.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/reagent_containers/food.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
Labels: Feature

#28267 Add fleet cap to loadout, rename existing 'fleet cap' to utility cover
  maps/torch/loadout/loadout_head.dm
Labels: Map, Tweak

#28261 Changes Terran hat to look less ugly on the sides.
  maps/torch/icons/mob/onmob_head_terran.dmi
Labels: Map, Tweak

#28235 Gives corporate security a few more items
  maps/torch/loadout/loadout_storage.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/torch.dm
Labels: Map, Tweak

#28046 SEA re-issued Armor & Disorienter
  maps/torch/structures/closets/command.dm
Labels: Map, Tweak

#28293 allow setting IPC monitor state on alt-click
  code/modules/clothing/masks/monitor.dm
Labels: Feature

#28311 Rename Officer's Mess Entrance and Vacant Office Cameras
  maps/torch/torch3_deck3.dmm
Labels: Map, Tweak

#28318 Reduce skill requirements for scanning planet atmosphere's to trained
  code/modules/overmap/exoplanets/exoplanet.dm
Labels: Tweak

#28307 Fix name of CoS' office on CamMon
  maps/torch/torch6_bridge.dmm
Labels: Map

#28290 Adds EC and Fleet Roboticists/Mechsuit technicians
  maps/torch/job/engineering_jobs.dm
Labels: Feature, Map

#28323 Quick fixes to Roboticist
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/outfits/engineering_outfits.dm
Labels: Map, Tweak

#28315 Moves the shutters in the brig
  maps/torch/torch5_deck1.dmm
Labels: Map

#28310 Mech armor fixes and rebalance pass
  code/modules/mechs/components/armour.dm
  code/modules/mechs/components/body.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mechs/mech_damage.dm
  code/modules/mechs/premade/combat.dm
  code/modules/mechs/premade/heavy.dm
  code/modules/mechs/premade/light.dm
  code/modules/mechs/premade/misc.dm
  code/modules/mechs/premade/powerloader.dm
Labels: Tweak

#28322 windoors don't block fluids when open
  code/game/machinery/doors/windowdoor.dm
Labels: Fix

#28341 Two very small tweaks to Operating Room 2
  maps/torch/torch5_deck1.dmm
Labels: Map

#28271 Update to spacemandmm 1.4
  .travis.yml
  code/__defines/spaceman_dmm.dm
  code/_helpers/unsorted.dm
  code/controllers/subsystems/timer.dm
  code/datums/wires/wires.dm
  code/game/dna/genes/powers.dm
  code/game/machinery/camera/camera.dm
  code/game/objects/auras/regenerating_aura.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/autopsy.dm
  code/modules/admin/admin_memo.dm
  code/modules/client/preference_setup/laws/laws_pref.dm
  code/modules/clothing/clothing.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/integrated_electronics/core/prefab/prefab.dm
  code/modules/integrated_electronics/subtypes/smart.dm
  code/modules/mechs/interface/screen_objects.dm
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/mob_movement.dm
  code/modules/modular_computers/file_system/programs/generic/deck_management.dm
  code/modules/nano/interaction/default.dm
  code/modules/power/singularity/particle_accelerator/particle_accelerator.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/shuttles/escape_pods.dm
  code/modules/shuttles/shuttle_emergency.dm
  code/modules/synthesized_instruments/song.dm
Labels: Ready for Review

#28319 Add control-click to remove pen from PDA
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/computers/subtypes/dev_pda.dm
Labels: Feature

#28312 Fixes low walls not being interactable with windows on them
  code/_onclick/adjacent.dm
Labels: Fix

#28253 Microwaves now perform better with stronger parts + general microwave code cleanup
  code/game/machinery/kitchen/microwave.dm
Labels: Feature, Tweak

#28332 Skrell Ship Remake
  code/modules/projectiles/ammunition/magnetic.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/pulse.dm
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship_areas.dm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
Labels: Map

#28351 Makes config tag of mutiny just 'mutiny'
  maps/torch/datums/game_modes/torch_revolution.dm
Labels: Map, Tweak, 📜Requires Config Update

#28368 Ported EMS Helmet Sprites from Aurora
  icons/mob/onmob/onmob_head.dmi
  icons/obj/clothing/obj_head.dmi
Labels: Sprites

#28369 Addition of Items to Skrell Ship
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

#28356 Change say/me inputs to text|null
  code/modules/mob/typing_indicator.dm
Labels: Tweak

#28350 Makes mech clamps better
  code/modules/mechs/equipment/utility.dm
  code/modules/mechs/mech_interaction.dm
Labels: Tweak

#28349 Make Mutiny require at least 4 antagonists and 10 players
  maps/torch/datums/game_modes/torch_revolution.dm
Labels: Map, Tweak

#28282 New overmap colors
  code/modules/overmap/_defines.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/ships/ship.dm
  icons/obj/overmap.dmi
  icons/turf/space.dmi
Labels: Sprites, Tweak

#28277 Passports please.
  maps/torch/icons/obj/uniques.dmi
  maps/torch/items/items.dm
  maps/torch/loadout/loadout_accessories.dm
Labels: Feature, Map

#28346 AI Upload Map Changes
  maps/torch/torch3_deck3.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#28372 Replace Ascent walls with RWalls
  maps/away/ascent/ascent-1.dmm
Labels: Map

#28272 Corporate Liaison can now use the departmental audit form
  maps/torch/datums/reports/solgov.dm
Labels: Map, Tweak

#28198 Remodel shield bay, leaving only one shield.
  maps/torch/torch4_deck2.dmm
Labels: Map

#28127 Adds medical resident role
  maps/torch/icons/assignment_hud.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/outfits/medical_outfits.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_suit.dm
Labels: Feature, Map, Revert/Removal

#28377 Add more missing Items to Skrellship
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

#28337 Fixes and tweaks for the meatstation away site
  maps/away/meatstation/meatstation.dmm
Labels: Map

#28340 Fire tweaks, chapter 1, take #I-dunno
  code/modules/ZAS/Fire.dm
Labels: Ready for Review, Tweak

#28359 Fire Equipment PR
  code/datums/supplypacks/engineering.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/game/objects/items/weapons/tools/crowbar.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/clothing.dm
  code/modules/mob/living/carbon/human/life.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
Labels: Fix, Map, Tweak

#28308 GUP airlock overhaul
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/embedded_controller/airlock_program.dm
  code/game/machinery/embedded_controller/tin_can.dm
  maps/torch/torch1_deck5.dmm
  nano/templates/tin_can.tmpl
Labels: Map, Tweak

#28329 Security/Medical Intercom Channel Tweaks
  code/__defines/colors.dm
  code/controllers/communications.dm
  code/game/machinery/telecomms/presets.dm
  code/stylesheet.dm
  maps/torch/items/machinery.dm
  maps/torch/torch6_bridge.dmm
  nano/templates/radio_basic.tmpl
Labels: Map, Tweak

#28294 Xenobotany Atmospheric Chamber Fix
  maps/torch/torch5_deck1.dmm
Labels: Map

#28374 Adds pencil cases to the loadout and gives explorer a light first-aid kit (in their lockers).
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/client/preference_setup/loadout/lists/utility.dm
  icons/obj/storage.dmi
  maps/torch/structures/closets/exploration.dm
Labels: Feature, Map, Sprites

#28364 Changed shield breach rate while intregrity is below 100%
  code/__defines/shields.dm
  code/modules/shield_generators/shield_generator.dm
Labels: Ready for Review, Tweak

#28339 Internals and the SEA's whistle now fit in equipment belts and holster belts
  code/game/objects/items/weapons/storage/belt.dm
Labels: Tweak

#28292 Rewrites food tray code, improves functionality
  code/game/objects/items/weapons/trays.dm
  code/game/sound.dm
  code/modules/codex/entries/tools.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  test/check-paths.sh
Labels: Ready for Review, Tweak

#28385 Fixes med tech access
  maps/torch/items/cards_ids.dm
Labels: Map, Tweak

#28309 Assorted wizard fixes
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/spells/general/area_teleport.dm
  code/modules/spells/spell_code.dm
  code/modules/spells/spellbook.dm
  code/modules/spells/targeted/cleric_spells.dm
  code/modules/spells/targeted/equip/holy_relic.dm
  code/modules/spells/targeted/ethereal_jaunt.dm
  code/modules/spells/targeted/projectile/dumbfire.dm
  code/modules/spells/targeted/projectile/fireball.dm
Labels: Fix, Tweak

#28390 Added more and brighter lights to engineering
  maps/torch/torch4_deck2.dmm
Labels: Map

#28391 Fruit Update 2
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  icons/obj/food.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/seeds.dmi
Labels: Feature, Sprites

#28399 makes it easier to reload savefiles
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
Labels: Admin

#28395 Fix unathi arm gibbing
  code/game/objects/auras/regenerating_aura.dm
Labels: Fix

#28394 Add missing vents and scrubbers to shield bay
  maps/torch/torch4_deck2.dmm
  maps/torch/torch_unit_testing.dm
Labels: Map

#28389 toggle-tint helmets tint less
  code/modules/clothing/spacesuits/spacesuits.dm
Labels: Tweak

#28407 Fixes incorrect state name for exosuit laser carbine
  icons/mecha/mech_weapon_overlays.dmi
Labels: Sprites

#28406 Removes advanced weapons board for mechs
  code/modules/mechs/_mech_setup.dm
  code/modules/mechs/components/software.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mechs/premade/combat.dm
  code/modules/mechs/premade/heavy.dm
  code/modules/research/designs/designs_exosuits.dm
Labels: Revert/Removal

#28381 adds external config for maps
  code/_helpers/text.dm
  code/controllers/configuration.dm
  code/game/world.dm
  config/example/torch_config.txt
  maps/torch/torch_define.dm
  maps/~mapsystem/maps.dm
Labels: Config Update, Map

#28429 Radiation suit closet now have Radiation Pouches instead.
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
Labels: Tweak

#28423 Remove supply, engineering, security, and research access from CL and LPA
  maps/torch/items/encryption_keys.dm
  maps/torch/job/corporate_jobs.dm
Labels: Map, Tweak

#28430 ascent glow is sign language
  code/modules/mob/language/alien/mantid.dm
Labels: Fix

#28436 Clean rustle1.ogg
  sound/effects/rustle1.ogg
Labels: Sound

#28286 Alternative medical uniform and medical jacket.
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/onmob/onmob_under.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/obj_under.dmi
Labels: Feature, Sprites

#28362 Improves light tube code, and makes a few tweaks in relevant areas
  code/game/machinery/wall_frames.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_items.dm
  code/modules/power/lighting.dm
Labels: Feature, Fix, Ready for Review, Tweak

#28383 Adds abandoned lab as an exoplanet spawn
  baystation12.dme
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dm
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dmm
Labels: Feature, Map
