Repository Baystation12/Baystation12, pull requests merged in 2020-07, with the labels that each got.

#28707 Change experienced weapons to only need 6 points
  code/modules/mob/skills/skill.dm
Labels: Tweak

#28713 Fix decloner crafting
  code/modules/research/designs/designs_weapon.dm
Labels: Tweak

#28770 Buffs mounted RCD somewhat
  code/game/objects/items/weapons/RCD.dm
Labels: Tweak

#28781 Change Mercenary Ship description
  maps/antag_spawn/mercenary/mercenary.dm
Labels: Map

#28787 Tweaks engi and surveyor borg tools and materials
  code/modules/mob/living/silicon/robot/flying/module_flying_repair.dm
  code/modules/mob/living/silicon/robot/modules/module_engineering.dm
  maps/torch/robot/module_flying_surveyor.dm
Labels: Map, Ready for Review

#28790 Hide possible round types for secret rounds from non-admins via config
  code/controllers/configuration.dm
  code/controllers/subsystems/ticker.dm
  config/example/config.txt
Labels: Config Update

#28786 Fixes windows not blocking movement onto low walls
  code/game/objects/structures/window.dm
Labels: Fix, Ready for Review

#28435 Firedoors will now close on mobs Part 3
  code/game/machinery/doors/firedoor.dm
  sound/machines/firedoor.ogg
Labels: Tweak

#28803 Fixes Missing Texture for Boiled Slime Cores
  icons/obj/food.dmi
Labels: Sprites, Tweak

#28794 Fixes scan target ghost verb
  code/modules/mob/observer/ghost/ghost.dm
Labels: Tweak

#28809 Fixes EC section beret descriptions
  maps/torch/items/clothing/solgov-head.dm
Labels: Fix, Map

#28811 Adds emergency forcing tool to autolathe
  code/modules/fabrication/designs/general/designs_tools.dm
Labels: Tweak

#28799 Add robotics pager
  code/controllers/subsystems/jobs.dm
  code/game/machinery/pager.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/torch5_deck1.dmm
  test/check-paths.sh
Labels: Feature, Map

#28793 Changed survival kit masks to SCBA masks.
  code/game/objects/items/weapons/storage/boxes.dm
Labels: Tweak

#28752 Various updates to Medical, Others.
  code/game/objects/random/random.dm
  code/game/objects/structures/skele_stand.dm
  icons/obj/surgery.dmi
  maps/torch/torch1_deck5.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
Labels: Map, Ready for Review, Sprites

#28810 Tweaks flavor_more to use a variable
  code/modules/mob/mob.dm
Labels: Fix

#28785 Assorted patch
  code/modules/mob/mob.dm
  icons/obj/drinks.dmi
Labels: Fix, Ready for Review, Sprites, Tweak

#28830 Updates all maps not in a PR to use proper TGM format
  maps/antag_spawn/deity/deity_base.dmm
  maps/antag_spawn/ert/ert_base.dmm
  maps/antag_spawn/heist/heist_base.dmm
  maps/antag_spawn/ninja/ninja_base.dmm
  maps/antag_spawn/wizard/wizard_base.dmm
  maps/away/ascent/ascent-1.dmm
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/casino/casino.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/icarus/icarus-1.dmm
  maps/away/icarus/icarus-2.dmm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/lost_supply_base/lost_supply_base.dmm
  maps/away/magshield/magshield.dmm
  maps/away/meatstation/meatstation.dmm
  maps/away/mining/mining-asteroid.dmm
  maps/away/mining/mining-orb.dmm
  maps/away/mining/mining-signal.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/slavers/slavers_base.dmm
  maps/away/smugglers/smugglers.dmm
  maps/away/unishi/unishi-1.dmm
  maps/away/unishi/unishi-2.dmm
  maps/away/unishi/unishi-3.dmm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/yacht/yacht.dmm
  maps/bearcat/bearcat-1.dmm
  maps/bearcat/bearcat-2.dmm
  maps/example/example-1.dmm
  maps/example/example-2.dmm
  maps/example/example-3.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/datacapsule/contents_1.dmm
  maps/random_ruins/exoplanet_ruins/datacapsule/contents_2.dmm
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dmm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dmm
  maps/random_ruins/exoplanet_ruins/lodge/lodge.dmm
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dmm
  maps/random_ruins/exoplanet_ruins/monoliths/monoliths.dmm
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/torch/z1_admin.dmm
Labels: Map

#28837 Adds Sikh holy book
  code/game/objects/items/weapons/storage/bible.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  icons/obj/storage.dmi
Labels: Feature, Sprites

#28807 Changes GUP APC access
  maps/torch/torch1_deck5.dmm
Labels: Map

#28797 Removes the Nuke from the Merc Ship
  maps/antag_spawn/mercenary/mercenary_base.dmm
Labels: Map, Revert/Removal

#28783 Adds internal storage to exosuits
  code/modules/mechs/components/_components.dm
  code/modules/mechs/components/body.dm
  code/modules/mechs/mech_interaction.dm
Labels: Feature

#28843 Fix inability to repair card slot parts
  code/modules/modular_computers/hardware/card_slot.dm
Labels: Fix

#28852 Changes augment armblade on mob icons
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: Sprites, Tweak

#28824 Loss Prevention Associate job title replaced with Executive Assistant
  maps/torch/icons/assignment_hud.dmi
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/outfits/command_outfits.dm
Labels: Map, Tweak

#28712 Shield's icons rework
  code/modules/shield_generators/shield.dm
  code/modules/shield_generators/shield_generator.dm
  code/modules/xenoarcheaology/effects/forcefield.dm
  icons/obj/machines/shielding.dmi
  maps/antag_spawn/mercenary/mercenary.dm
Labels: Map, Sprites

#28842 Fixes #28680
  code/modules/species/species.dm
Labels: Fix

#28778 Adds flare gun
  baystation12.dme
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/projectiles/guns/projectile/flaregun.dm
  code/modules/projectiles/projectile/energy.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/flaregun.dmi
  maps/torch/torch1_deck5.dmm
Labels: Feature, Map, Ready for Review, Sprites

#28819 Add configuring readout threshholds in supermatter monitoring
  code/__defines/machinery.dm
  code/modules/modular_computers/file_system/programs/engineering/supermatter_monitor.dm
  code/modules/supermatter/supermatter.dm
  nano/templates/supermatter_monitor.tmpl
Labels: Tweak

#28851 Add PCRC and SAARE berets to loadout
  code/__defines/culture.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/culture_descriptor/faction/factions_human.dm
  icons/mob/onmob/onmob_head.dmi
  icons/obj/clothing/obj_head.dmi
Labels: Feature, Sprites

#28829 Add firedoor locking
  code/game/area/areas.dm
  code/game/machinery/doors/firedoor.dm
  test/check-paths.sh
Labels: Feature, Tweak

#28864 Lets flashlights be put in the suit storage of plate carriers
  code/modules/clothing/suits/armor.dm
Labels: Tweak

#28856 Fix replacement lights box in medical
  maps/torch/torch5_deck1.dmm
Labels: Fix, Map

#28714 Implements personal shields totally.
  code/datums/uplink/devices and tools.dm
  code/game/objects/auras/aura.dm
  code/game/objects/items/devices/personal_shield.dm
  code/modules/item_worth/worths_list.dm
  icons/obj/device.dmi
  maps/torch/structures/closets/security.dm
Labels: Feature, Map, Ready for Review, Sprites

#28860 Fixes runtimes when loading marooned.dmm caused by decals in passthrough turfs
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dmm
Labels: Map

#28579 fix helm accel & speed limit inputs
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/ship.dm
Labels: Fix

#27858 positronic brain updates, part 1
  code/modules/ghosttrap/trap.dm
  code/modules/organs/internal/eyes.dm
  code/modules/organs/internal/species/fbp.dm
  code/modules/organs/internal/species/ipc.dm
  code/modules/organs/organ.dm
  test/check-paths.sh
Labels: Feature, Fix, Tweak

#28489 removes matchmaking
  baystation12.dme
  code/_helpers/global_access.dm
  code/datums/mind/mind.dm
  code/modules/client/preference_setup/matchmaking/matchmaking.dm
  code/modules/client/preference_setup/matchmaking/relations.dm
  code/modules/client/preference_setup/matchmaking/relations_types.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/new_player/new_player.dm
  test/run-test.sh
Labels: Revert/Removal

#28871 increases positronic brain health
  code/modules/organs/internal/species/ipc.dm
Labels: Tweak

#28849 adds configuration for forbidden message outcomes
  code/controllers/configuration.dm
  code/datums/communication/channel.dm
  config/example/config.txt
Labels: Config Update

#28866 adds ftech & research fax, makes fax rights assignable
  maps/torch/job/command_jobs.dm
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/supply_jobs.dm
  maps/torch/job/torch_access.dm
  maps/torch/machinery/faxmachine.dm
  maps/torch/torch.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map, Ready for Review

#28885 Edits turban icon
  icons/obj/clothing/obj_head.dmi
Labels: Sprites, Tweak

#28889 Block AI access to objects that are not on connected z-levels
  code/modules/nano/interaction/default.dm
Labels: Revert/Removal

#28896 Add t-ray scanners to maint drones
  code/modules/mob/living/silicon/robot/modules/module_maintenance_drone.dm
Labels: Feature

#28859 Tweaks premium items in vending machines, allow access to contraband via emagging
  code/_macros.dm
  code/datums/wires/vending.dm
  code/game/machinery/vending.dm
Labels: Feature

#28872 SAARE & corporate beret fixes
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  maps/torch/loadout/loadout_head.dm
  maps/~mapsystem/maps.dm
Labels: Fix, Map

#28873 Spawn grilles after windows in wingrille and wallframe spawners
  code/game/objects/structures/wallframe_spawner.dm
  code/game/objects/structures/window_spawner.dm
Labels: Fix

#28899 Soporific shows up on medical scanners
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: Tweak

#28839 You can now Alt Click to open a storage box / pills bottle / whatever.
  code/game/objects/items/weapons/storage/storage.dm
Labels: Feature, Sprites

#28906 Fixes "Lungs bug" and change CPR a bit
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/organs/internal/lungs.dm
Labels: Fix, Ready for Review, Tweak

#28905 Unathi are no longer affected by capsaicin
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
Labels: Ready for Review, Tweak

#28894 Security/Forensics Equipment Tweaks
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/detectivework/tools/crimekit.dm
  maps/torch/structures/closets/security.dm
Labels: Feature, Map, Tweak

#28892 Remove blood drop from marooned exterior
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dmm
Labels: Map

#28881 Tweaks personal shields
  code/game/objects/items/devices/personal_shield.dm
  code/modules/power/cell.dm
Labels: Feature, Fix

#28917 Syringes now cause pain when injecting or drawing blood
  code/modules/mob/living/carbon/hallucinations.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Tweak

#28925 Robotics Workshop tweaks
  maps/torch/torch4_deck2.dmm
Labels: Map

#28880 Staff can edit admin-faxes instead of re-writing the whole thing
  code/modules/paperwork/adminpaper.dm
Labels: Tweak

#28919 Fixes typos in disposal conveyor switches and a few codex entries
  code/modules/codex/entries/atmospherics.dm
  code/modules/codex/entries/engineering.dm
  code/modules/codex/entries/machinery.dm
  code/modules/codex/entries/misc.dm
  code/modules/codex/entries/mobs.dm
  maps/torch/torch4_deck2.dmm
Labels: Grammar and Formatting, Map, Ready for Review

#28923 Handheld radios now use device power cells
  code/game/objects/items/devices/radio/radio.dm
Labels: Tweak

#28933 Give forensics drones anatomy for autopsies
  code/modules/mob/living/silicon/robot/flying/module_flying_forensics.dm
Labels: Tweak

#28930 Fixes issue with shortwave radio charge and adds charge to examine text
  code/game/objects/items/devices/radio/radio.dm
Labels: Feature, Fix, Ready for Review

#28621 runtime patch blob 2020may28
  code/_helpers/atom_movables.dm
  code/game/machinery/kitchen/microwave.dm
  code/game/objects/items/weapons/implants/implants/loyalty.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/game/objects/structures/grille.dm
  code/game/turfs/turf_ao.dm
  code/modules/ZAS/Fire.dm
  code/modules/admin/buildmode/areas.dm
  code/modules/admin/buildmode/click_handler.dm
  code/modules/admin/ticket.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  code/modules/mechs/interface/screen_objects.dm
  code/modules/mechs/mech_damage.dm
  code/modules/mechs/mech_movement.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/mob.dm
  code/modules/mob/skills/skillset.dm
  code/modules/power/lighting.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/disposalpipe.dm
Labels: Fix

#28628 runtime patch blob 2020may29
  code/controllers/subsystems/throwing.dm
  code/datums/trading/trade.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/turfs/turf_ao.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/events/rogue_drones.dm
  code/modules/mechs/interface/screen_objects.dm
  code/modules/mining/drilling/drill.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  code/modules/modular_computers/hardware/ai_slot.dm
  code/modules/multiz/structures.dm
  code/modules/nano/nanoui.dm
  code/modules/psionics/complexus/complexus.dm
  code/modules/reagents/reagent_containers/drinkingglass/drinkingglass.dm
Labels: Fix

#28932 Fix CSI kit not being able to carry forensics items
  code/modules/detectivework/tools/crimekit.dm
Labels: Fix

#28918 Fixes the Flat Cap's Colouring and Adds a Mariner's Cap
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/clothing/head/misc.dm
  icons/mob/onmob/onmob_head.dmi
  icons/obj/clothing/obj_head.dmi
Labels: Ready for Review, Sprites

#28891 Long Range Holopad Restrictions
  code/game/machinery/hologram.dm
Labels: Tweak
