Repository Baystation12/Baystation12, pull requests merged in 2021-10, with the labels that each got.

#31232 Fix a typo in the trashbag of holding recipe
  code/modules/research/designs/designs_singletons.dm
Labels: Fix

#31233 Sets meteor to require one person
  code/game/gamemodes/meteor/meteor.dm
Labels: Tweak

#31231 lazy add custom icon state to fix custom jackets
  code/modules/clothing/buttons.dm
Labels: Fix

#31218 Removes robotics surgery kit + nanoblood
  maps/torch/torch4_deck2.dmm
Labels: Map, Revert/Removal

#31234 Fix overlapping button mapping in ai buildmode
  code/modules/admin/buildmode/ai.dm
Labels: Fix, Admin

#31235 Add 'set round length' and 'toggle continue vote' buttons
  code/controllers/autotransfer.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: Feature, Admin

#31201 Space suits have a wear delay
  code/__defines/items_clothing.dm
  code/_helpers/global_access.dm
  code/_helpers/mobs.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/auto_cpr.dm
  code/modules/awaymissions/corpse.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/mob/holder.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/mob/living/carbon/human/stripping.dm
  code/modules/spells/artifacts/spellbound_servants.dm
  code/modules/spells/general/toggle_armor.dm
  maps/away/bearcat/bearcat.dm
  test/run-test.sh
Labels: Tweak

#31242 Adds exosuit jump climbing
  code/modules/mechs/mech_damage.dm
  code/modules/mechs/mech_interaction.dm
Labels: Feature

#31248 Fix Set Round Length default time not being in minutes
  code/modules/admin/admin.dm
Labels: Fix, Admin

#31244 All body armour now has a two second equip delay
  code/modules/clothing/suits/armor.dm
Labels: Tweak

#31318 Circuit imprinter menu fixes, add container content disassembling
  code/modules/research/rdconsole.dm
Labels: Tweak, Fix

#31090 Supermatter alarms and color shifting
  baystation12.dme
  code/_helpers/matrices.dm
  code/datums/observation/supermatter_status.dm
  code/game/machinery/wall_frames.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_items.dm
  code/modules/supermatter/supermatter.dm
  icons/obj/supermatter.dmi
  maps/torch/torch4_deck2.dmm
  test/check-paths.sh
Labels: Feature, Tweak

#31323 Add quick-deconstructing to the rnd deconstructor
  code/modules/research/destructive_analyzer.dm
  code/modules/research/rdconsole.dm
Labels: Feature, Fix
