Repository Baystation12/Baystation12, pull requests merged in 2021-07, with the labels that each got.

#30905 Adds A Panama Hat
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/clothing/head/misc.dm
  icons/mob/onmob/onmob_head.dmi
  icons/obj/clothing/obj_head.dmi
Labels: Feature, Sprites

#30896 add asillyn00b jackets
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: Feature, Sprites

#30871 Port: major fixes of SStimer subsystem from RU SS220 Paradise based on SStimer from TGstation
  code/__defines/lists.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/timer.dm
  config/example/config.txt
Labels: Fix, Refactor, Test Merge :heavy_check_mark:

#30891 adds pointy ears
  code/__defines/mobs.dm
  code/modules/organs/external/head.dm
  code/modules/sprite_accessories/_accessory.dm
  code/modules/sprite_accessories/accessory_booster.dm
  icons/mob/human_races/species/human/subspecies/booster_mods.dmi
Labels: Feature, Sprites

#30915 Adds a friendly new companion
  baystation12.dme
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
  code/game/objects/items/dehydrated_carp.dm
  code/game/objects/items/toys.dm
Labels: Feature

#30895 everything pixel scales, humans can have sizes
  code/__defines/_planes+layers.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystems/skybox.dm
  code/datums/mutable_appearance.dm
  code/datums/progressbar.dm
  code/datums/repositories/images.dm
  code/game/atoms_movable.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/machinery/kitchen/cookers.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/items/cryobag.dm
  code/game/objects/items/devices/slide_projector.dm
  code/game/objects/items/devices/t_scanner.dm
  code/game/objects/items/weapons/material/material_weapons.dm
  code/game/objects/items/weapons/policetape.dm
  code/game/objects/items/weapons/storage/med_pouch.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/structures/barsign.dm
  code/game/objects/structures/rubble.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/turf_ao.dm
  code/modules/admin/buildmode/_overlay.dm
  code/modules/admin/holoverbs.dm
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/hydroponics/seed.dm
  code/modules/lighting/lighting_overlay.dm
  code/modules/lighting/lighting_planemaster.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/_gestalt.dm
  code/modules/mob/living/carbon/human/descriptors/descriptors_generic.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/_giant_spider.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/observer/ghost/login.dm
  code/modules/mob/observer/observer.dm
  code/modules/organs/external/_external.dm
  code/modules/overmap/exoplanets/exoplanet_skybox.dm
  code/modules/pointdefense/pointdefense.dm
  code/modules/psionics/complexus/complexus.dm
  code/modules/xgm/xgm_gas_data.dm
  code/procs/hud.dm
  maps/random_ruins/exoplanet_ruins/monoliths/monoliths.dm
Labels: Tweak

#30907 GLOB members are static
  code/__datastructures/globals.dm
Labels: Refactor

#30877 fix renegade intro text, fix clothing wizard var
  code/game/antagonist/outsider/wizard.dm
  code/game/antagonist/station/renegade.dm
Labels: Tweak

#30893 add pp thing to easily clone prefs onto a mob
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
Labels: Admin, Feature

#30890 improve rag burning & molotovs + bottles splash more than what they hit
  baystation12.dme
  code/modules/detectivework/tools/rag.dm
  code/modules/reagents/Chemistry-Reagents/gas_properties.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
Labels: Tweak

#30878 clothing Initialize, remove starting_accessories
  code/datums/outfits/horror_killers.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/corporate.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  maps/torch/items/clothing/solgov-armor.dm
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/clothing/solgov-under.dm
Labels: Refactor

#30908 unats can wear soft hats again
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/soft_caps.dm
Labels: Fix

#30909 30734 redux
  maps/torch/torch5_deck1.dmm
Labels: Map, Tweak

#30903 refactor configuration
  code/_global_vars/logging.dm
  code/_helpers/global_access.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/ticker.dm
  code/datums/cinematic.dm
  code/datums/vote/gamemode.dm
  code/game/world.dm
  code/modules/admin/verbs/cinematic.dm
  code/modules/admin/view_variables/helpers.dm
  test/run-test.sh
  ~code/global_init.dm
Labels: Refactor

#30926 Adds foam clog shoes
  code/modules/client/preference_setup/loadout/lists/footwear.dm
  code/modules/clothing/shoes/miscellaneous.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/obj/clothing/obj_feet.dmi
  maps/torch/loadout/loadout_shoes.dm
Labels: Feature, Sprites

#30920 Prevents Entering Charger When Buckled
  code/game/machinery/rechargestation.dm
Labels: Fix

#30852 Add intercom construction/deconstruction
  code/game/machinery/vending.dm
  code/game/machinery/wall_frames.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/fabrication/designs/general/designs_engineering.dm
  code/modules/item_worth/worths_list.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_items.dm
  icons/obj/radio.dmi
Labels: Feature, Sprites

#30770 Destructible Artifacts
  baystation12.dme
  code/modules/admin/admin.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
  code/modules/xenoarcheaology/effect.dm
  code/modules/xenoarcheaology/effects/badfeeling.dm
  code/modules/xenoarcheaology/effects/celldrain.dm
  code/modules/xenoarcheaology/effects/cold.dm
  code/modules/xenoarcheaology/effects/dnaswitch.dm
  code/modules/xenoarcheaology/effects/emp.dm
  code/modules/xenoarcheaology/effects/goodfeeling.dm
  code/modules/xenoarcheaology/effects/heal.dm
  code/modules/xenoarcheaology/effects/heat.dm
  code/modules/xenoarcheaology/effects/hellportal/hell_portal.dm
  code/modules/xenoarcheaology/effects/hellportal/portals.dm
  code/modules/xenoarcheaology/effects/hurt.dm
  code/modules/xenoarcheaology/effects/pushback.dm
  code/modules/xenoarcheaology/effects/radiate.dm
  code/modules/xenoarcheaology/effects/roboheal.dm
  code/modules/xenoarcheaology/effects/robohurt.dm
  code/modules/xenoarcheaology/effects/sleepy.dm
  code/modules/xenoarcheaology/effects/stun.dm
  code/modules/xenoarcheaology/tools/artifact_analyser.dm
  icons/obj/xenoarchaeology.dmi
Labels: Admin, Feature, Sprites

#30927 configurable glide_size
  code/controllers/configuration.dm
  code/game/atoms_movable.dm
Labels: Tweak

#30906 integrated circuits - video camera circuit update
  code/modules/integrated_electronics/subtypes/output.dm
Labels: Tweak

#30917 integrated circuits - clock circuit bug fixes
  code/modules/integrated_electronics/subtypes/time.dm
Labels: Fix

#30934 fix secret
  code/controllers/configuration.dm
Labels: Fix

#30933 Generate debug logs for failed round starts
  code/controllers/subsystems/ticker.dm
Labels: Admin

#30928 disables build width scaling for humans
  code/modules/mob/living/carbon/human/descriptors/descriptors_generic.dm
Labels: Revert/Removal, Sprites

#30765 tentative 513+ification
  code/_helpers/text.dm
  code/datums/repositories/admin_pm.dm
  code/modules/admin/verbs/SDQL.dm
  code/modules/client/asset_cache.dm
  code/modules/client/preference_setup/global/prefixes.dm
  code/modules/flufftext/TextFilters.dm
  code/modules/mob/language/generic.dm
  code/modules/mob/language/language.dm
  code/modules/mob/living/autohiss.dm
  code/modules/mob/living/carbon/alien/say.dm
  code/modules/mob/living/carbon/brain/say.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/xenobiological/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/robot/drone/drone_say.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/mob/living/simple_animal/borer/say.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/say.dm
  code/unit_tests/icon_tests.dm
Labels: Refactor, Tweak

#30921 Missing sanitize
  code/modules/admin/verbs/adminpm.dm
Labels: Fix

#30940 Reverts #30756
  code/modules/mob/skills/skill_ui.dm
Labels: Balance/Rebalance, Revert/Removal

#30947 Typo fix, 'floot' to 'floor'.
  code/modules/materials/recipes_stacks.dm
Labels: Grammar and Formatting

#30954 adds a light and a table to the research lab
  maps/torch/torch5_deck1.dmm
Labels: Map

#30953 Adds several plushes with a firey twist!
  baystation12.dme
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
  code/game/objects/items/dehydrated_carp.dm
  code/game/objects/items/traitor_plush.dm
Labels: Feature

#30942 Increases Oxygenation Threshold of Brain Scarring
  code/modules/organs/internal/brain.dm
Labels: Balance/Rebalance, Tweak

#30944 Fix #30941
  code/modules/species/station/monkey.dm
Labels: Fix

#30952 integrated circuits - adds a new string filter circuit
  code/modules/integrated_electronics/subtypes/filter.dm
  icons/obj/electronic_assemblies.dmi
Labels: Feature, Sprites

#30855 Dangerous chemical fixes, chemistry tweaks and improvements to game readability.
  code/game/objects/effects/chem/chemsmoke.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: Balance/Rebalance, Tweak, Update Wiki after Merge

#30948 Added verb to dump storage contents
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/lunchbox.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/storage/toolbox.dm
Labels: Feature

#30958 CBMs no longer mention they are contraband
  code/modules/codex/entries/augments.dm
Labels: Tweak

#30965 Resprites the EMS helmet and Medtech chest rig
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: Sprites, Tweak

#30963 Fixes `examine()` override for `spirit_board`
  code/game/objects/items/spirit_board.dm
Labels: Fix

#30967 Quick fix for turning boxes into cardboard after addition of storage dumping
  code/game/objects/items/weapons/storage/storage.dm
Labels: Fix, Needs Changelog (DNM)

#30977 Slightly increases the threshold for adminwarnings about the supermatter
  code/modules/supermatter/supermatter.dm
Labels: Admin, Tweak

#30979 Rebalances death sting
  code/game/gamemodes/changeling/changeling_powers.dm
Labels: Balance/Rebalance, Tweak

#30970 Fixes buckets and rags shattering when thrown
  code/modules/reagents/reagent_containers/glass.dm
Labels: Fix

#30988 Medical Residents cannot be antags
  maps/torch/torch_antagonism.dm
Labels: Tweak

#30990 fix simple mobs being able to open doors they shouldn't
  code/modules/ai/ai_holder_combat.dm
Labels: Fix

#30999 add opacity/density caching for turfs
  code/controllers/subsystems/processing/airflow.dm
  code/datums/observation/opacity_set.dm
  code/game/atoms.dm
  code/game/machinery/self_destruct.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/game/objects/structures/railing.dm
  code/game/turfs/turf.dm
  code/modules/mechs/components/frame.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/tier_two.dm
Labels: Refactor

#30968 integrated circuits - assemblies are now fun to smash and destroy
  code/modules/integrated_electronics/core/assemblies.dm
Labels: Tweak
