Repository Baystation12/Baystation12, pull requests merged in 2021-03, with the labels that each got.

#30260 fixes crates/closets being deleted when fired from the ofd
  code/modules/overmap/disperser/disperser_fire.dm
Labels: Fix

#30224 Paintable lights
  code/modules/power/lighting.dm
Labels: Admin, Feature, Tweak

#30200 Adds pre-loaded coilguns and codex entries
  code/modules/codex/entries/guns.dm
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  maps/away/scavver/scavver_gantry-2.dmm
Labels: Map, Ready for Review, Tweak

#30271 Synthetics can't smell gunshot residue
  code/modules/detectivework/forensics.dm
Labels: Tweak

#30253 iv stands and rollers can only take iv bags
  code/game/objects/structures/iv_drip.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
Labels: Fix

#30251 Fixes an emitter nullref when controlling its status remotely
  code/modules/power/singularity/emitter.dm
Labels: Fix

#30222 Removes DM version tests spread through the repo, puts them in one file
  baystation12.dme
  code/_helpers/type2type.dm
  code/_helpers/unsorted.dm
  code/_macros.dm
  code/_version.dm
  code/controllers/configuration.dm
  code/game/dna/dna2.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/synthesized_instruments/song.dm
  config/example/config.txt
Labels: Config Update, Revert/Removal

#30270 Hair fade thing
  baystation12.dme
  code/__defines/mobs.dm
  code/_helpers/cmp.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/external/_external_icons.dm
  code/modules/organs/external/head.dm
  code/modules/sprite_accessories/_accessory.dm
  code/modules/sprite_accessories/_accessory_markings.dm
  code/modules/sprite_accessories/accessory_booster.dm
  code/modules/sprite_accessories/accessory_hair_fade.dm
  icons/mob/human_races/species/human/hair_fade.dmi
Labels: Feature, Sprites

#30252 Remove action logs from main build mode again
  code/modules/admin/buildmode/build.dm
Labels: Admin

#30109 Removes thermals from the uplinks
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/hardsuit_modules.dm
  code/game/objects/items/devices/uplink_random_lists.dm
Labels: Revert/Removal

#30165 adds new artifact effects and edits
  baystation12.dme
  code/_helpers/turfs.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
  code/modules/xenoarcheaology/effects/hell_portal.dm
  code/modules/xenoarcheaology/effects/pushback.dm
  code/modules/xenoarcheaology/effects/teleport.dm
  code/modules/xenoarcheaology/effects/teleporter_far.dm
Labels: Feature, Tweak

#30283 Remove escape pod shuttle landmarks from the Icarus
  maps/away/icarus/icarus-2.dmm
Labels: Fix, Map

#30278 Runtime fix for synthetic forensics
  code/modules/detectivework/forensics.dm
Labels: Fix

#30292 Removes lack of robotics paint sprayer
  maps/torch/torch4_deck2.dmm
Labels: Map, Revert/Removal

#30311 Voleyball > Volleyball
  code/modules/holodeck/HolodeckObjects.dm
  maps/torch/torch_holodecks.dm
Labels: Grammar and Formatting, Map

#30314 Fix teleport_far breaking the player_levels global
  code/modules/xenoarcheaology/effects/teleporter_far.dm
Labels: Fix

#30308 Prevent borg/drone grippers from grabbing modules
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
Labels: Fix

#30299 buffs to some simple mobs damage
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/meat_horrors.dm
  code/modules/mob/living/simple_animal/natural_weapons.dm
Labels: Tweak

#30284 Adds automatic plasma cutter as exosuit gear
  code/modules/mechs/equipment/_equipment.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/research/designs/designs_mechfab.dm
  icons/mecha/mech_equipment.dmi
  icons/mecha/mech_weapon_overlays.dmi
Labels: Feature, Sprites

#30296 tweak send_to_department() to handle all handheld devices
  code/modules/research/message_server.dm
Labels: Tweak

#30240 Removes some returns in spawns that cause dreamchecker warnings
  baystation12.dme
  code/_helpers/global_access.dm
  code/game/antagonist/station/rogue_ai.dm
  code/game/world.dm
  code/modules/flufftext/Dreaming.dm
  code/modules/maps/swapmaps.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/external/species/diona.dm
  code/modules/organs/internal/species/diona.dm
  code/modules/shuttles/shuttle.dm
  code/modules/species/station/station.dm
  code/unit_tests/equipment_tests.dm
  test/check-paths.sh
  test/run-test.sh
Labels: Revert/Removal

#30264 Security barrier revamp
  baystation12.dme
  code/datums/supplypacks/security.dm
  code/game/machinery/barrier.dm
  code/game/machinery/deployable.dm
  code/game/objects/effects/effect_system.dm
  code/modules/item_worth/worths_list.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map, Tweak

#30267 ram horns are too big - can't use them with ears
  code/modules/sprite_accessories/accessory_booster.dm
Labels: Tweak

#30272 Synthetics are no longer smelly
  code/datums/extensions/scent/_scent.dm
Labels: Tweak

#30318 Add firer to hostile simple mob projectiles
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/projectiles/projectile.dm
Labels: Admin

#30255 Teleporter sprites
  code/game/machinery/teleporter.dm
  icons/obj/teleporter.dmi
  maps/example/example-1.dmm
  test/check-paths.sh
Labels: Map, Sprites

#30323 cable coil examine text standardization
  code/modules/power/cable.dm
Labels: Fix

#30325 Removes base type storage accessory from raiders
  maps/antag_spawn/heist/heist_base.dmm
Labels: Map, Revert/Removal

#30326 Steel and plasteel are stronk
  code/modules/materials/definitions/materials_metal.dm
Labels: Tweak

#30291 Succumb verb is gone
  code/modules/mob/living/living.dm
Labels: Tweak

#30279 Removes lack of RUST coloration
  code/modules/power/fusion/core/core_field.dm
Labels: Feature, Revert/Removal

#30289 Add player threshold for sites with slots & cost per site
  code/_helpers/cmp.dm
  code/datums/ruins.dm
  code/modules/maps/ruins.dm
  config/example/torch_config.txt
  maps/away/ascent_caulship/_ascent_caulship.dm
  maps/away/bearcat/bearcat.dm
  maps/away/blueriver/blueriver.dm
  maps/away/casino/casino.dm
  maps/away/derelict/derelict.dm
  maps/away/errant_pisces/errant_pisces.dm
  maps/away/icarus/icarus.dm
  maps/away/lar_maria/lar_maria.dm
  maps/away/lost_supply_base/lost_supply_base.dm
  maps/away/magshield/magshield.dm
  maps/away/meatstation/meatstation.dm
  maps/away/mining/mining.dm
  maps/away/mininghome/mininghome.dm
  maps/away/miningstation/miningstation.dm
  maps/away/mobius_rift/mobius_rift.dm
  maps/away/scavver/scavver_gantry.dm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/slavers/slavers_base.dm
  maps/away/smugglers/smugglers.dm
  maps/away/verne/verne.dm
  maps/away/voxship/voxship.dm
  maps/away/yacht/yacht.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dm
  maps/random_ruins/exoplanet_ruins/datacapsule/datacapsule.dm
  maps/random_ruins/exoplanet_ruins/deserted_lab/deserted_lab.dm
  maps/random_ruins/exoplanet_ruins/drill_site/drill_site.dm
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dm
  maps/random_ruins/exoplanet_ruins/fountain/fountain_ruin.dm
  maps/random_ruins/exoplanet_ruins/hut/hut.dm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dm
  maps/random_ruins/exoplanet_ruins/lodge/lodge.dm
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dm
  maps/random_ruins/exoplanet_ruins/monoliths/monoliths.dm
  maps/random_ruins/exoplanet_ruins/oasis/oasis.dm
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dm
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/playablecolony.dm
  maps/random_ruins/exoplanet_ruins/playablecolony2/playablecolony2.dm
  maps/random_ruins/exoplanet_ruins/radshrine/radshrine.dm
  maps/random_ruins/exoplanet_ruins/spider_nest/spider_nest.dm
  maps/random_ruins/exoplanet_ruins/tar_anomaly/tar_anomaly.dm
  maps/random_ruins/space_ruins/space_ruins.dm
  maps/torch/torch_define.dm
  maps/~mapsystem/maps.dm
Labels: Config Update, Map, Test Merge :heavy_check_mark:

#30340 Fixes bug with loading crossbows
  code/modules/projectiles/guns/launcher/crossbow.dm
Labels: Fix

#30327 Reinforcen't
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#30256 Fixes few binoculars/scopes bugs
  code/game/atoms.dm
  code/game/objects/items.dm
  code/modules/mechs/mech.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Fix, Tweak

#30351 Fix rust light color thing to update when color changed
  code/modules/power/fusion/core/core_field.dm
Labels: Fix

#30307 Exoplanet Habitability Project
  code/_helpers/lists.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/garbage.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
Labels: Feature, Fix, Tweak

#30330 Add health to consoles
  code/game/machinery/computer/computer.dm
Labels: Fix

#30341 Rename hull blue to Sol blue
  code/__defines/colors.dm
  code/game/objects/items/devices/paint_sprayer.dm
  code/game/objects/structures/wall_frame.dm
  code/game/turfs/simulated/wall_types.dm
  code/modules/mechs/premade/_premade.dm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
  maps/torch/items/items.dm
  maps/torch/torch_turfs.dm
Labels: Map, Tweak

#30369 Fix gardener toy sprite
  code/game/objects/items/toys.dm
Labels: Fix

#30370 Loadout fixes
  code/modules/clothing/suits/jobs.dm
  maps/torch/loadout/loadout_xeno.dm
Labels: Fix, Map, Tweak

#30372 Replaces supply leather chairs with office chairs
  maps/torch/torch2_deck4.dmm
Labels: Map, Tweak

#30373 Reduce balaclava availability to Security only
  maps/torch/loadout/loadout_head.dm
Labels: Map, Tweak

#30359 Removes lack of paint from teleporter walls
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map, Revert/Removal

#30353 Admin faxes no longer open the fax editing menu after being written on
  code/modules/paperwork/photocopier.dm
Labels: Fix

#30348 Stunbaton help fix
  code/_onclick/item_attack.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/stunbaton.dm
Labels: Fix

#30345 Skrell are more resistant to space drugs
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: Tweak

#30238 Expands intercomm talking to use exosuits too.
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/nano/interaction/mech.dm
Labels: Fix, Tweak

#30374 Fixes icon issue with mech cockpits
  code/modules/mechs/mech_icon.dm
  icons/mecha/mech_parts.dmi
Labels: Sprites

#30360 Move crashed pod fuel tank to less exposed area
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
Labels: Map

#30364 Allow automatic feedback for do_after failures
  code/__defines/mobs.dm
  code/_helpers/mobs.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/weapons/weldbackpack.dm
  code/game/objects/structures/barricade.dm
  code/game/objects/structures/crates_lockers/closets/coffin.dm
  code/game/objects/structures/fitness.dm
  code/game/objects/structures/watercloset.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/organs/external/diagnostics.dm
  code/modules/paperwork/papershredder.dm
Labels: Tweak

#30324 Rewrote teleporters
  baystation12.dme
  code/_onclick/ghost.dm
  code/game/machinery/teleporter.dm
  code/game/machinery/teleporter/console.dm
  code/game/machinery/teleporter/pad.dm
  code/game/machinery/teleporter/projector.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  maps/antag_spawn/ert/ert_base.dmm
  maps/antag_spawn/ninja/ninja_base.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/mining/mining-asteroid.dmm
  maps/away/mining/mining-signal.dmm
  maps/example/example-1.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/z1_admin.dmm
Labels: Map

#30378 Nymphs now leave a shard when engulfing glasses
  code/modules/reagents/reagent_containers/drinkingglass/drinkingglass.dm
Labels: Tweak

#30379 Grant shoes to the monkey
  maps/torch/torch_npcs.dm
Labels: Map, Tweak

#30389 Remove the 'teleport_far' artifact effect
  baystation12.dme
  code/modules/xenoarcheaology/effects/teleporter_far.dm
Labels: Ready for Review, Revert/Removal

#30391 Removes /global|static/ test from tests
  test/check-paths.sh
Labels: Revert/Removal

#30294 Migrates changelog generation to github actions
  .github/workflows/changelog_generation.yml
  .github/workflows/make_changelogs.yml
  html/changelogs/mistakenot4892-caulshipupdate.yml
  test/run-test.sh
  tools/changelog/generate_cl.py
  tools/changelog/makeChangelog.bat
  tools/changelog/ss13_genchangelog.py
  tools/changelog/tags.yml
Labels: Tools

#30336 Adds Exosuit power management V1
  code/modules/mechs/_mech_setup.dm
  code/modules/mechs/components/head.dm
  code/modules/mechs/equipment/_equipment.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/mechs/interface/_interface.dm
  code/modules/mechs/interface/screen_objects.dm
  code/modules/mechs/mech.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mechs/mech_life.dm
  sound/mecha/mech-shutdown.ogg
Labels: Feature, Tweak

#30335 Removes sudden disappearance of speech bubbles
  code/modules/mob/living/say.dm
  icons/mob/talk.dmi
Labels: Revert/Removal, Sprites, Tweak

#30380 Ports slide projectors from nebula
  baystation12.dme
  code/game/objects/items/devices/slide_projector.dm
  icons/effects/effects.dmi
  icons/obj/projector.dmi
  maps/torch/torch5_deck1.dmm
  sound/machines/slide_change.ogg
Labels: Feature, Map, Sprites

#30333 build mode for atmosphere editing
  baystation12.dme
  code/modules/admin/buildmode/atmosphere.dm
  icons/misc/buildmode.dmi
  nano/templates/atmosphere_editor.tmpl
Labels: Admin, Sprites

#30349 Adds splashing with drinking glasses + shattering/spilling beakers
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/drinkingglass/drinkingglass.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: Feature, Tweak

#30338 Mapping tool for putting text files on modular computers + puts some on ahab's harpoon
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/file_system/data.dm
  maps/away/errant_pisces/errant_pisces.dm
  maps/away/errant_pisces/errant_pisces.dmm
Labels: Map, Tweak

#30344 Fixes NTNet Relay construction
  code/modules/modular_computers/NTNet/NTNet_relay.dm
Labels: Fix

#30343 RCDs can be topped-up with matter cartridges
  code/game/objects/items/weapons/RCD.dm
  code/modules/projectiles/guns/launcher/crossbow.dm
Labels: Tweak

#30342 Fixes some microwave issues
  code/game/machinery/kitchen/microwave.dm
Labels: Fix

#30297 Cult gamemode bugfixes, polish, and minor tweaks
  code/_onclick/other_mobs.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/cult/ritual.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  code/modules/mob/living/simple_animal/natural_weapons.dm
  code/modules/spells/aoe_turf/conjure/construct.dm
  code/modules/spells/spell_code.dm
  code/modules/spells/targeted/ethereal_jaunt.dm
  code/modules/spells/targeted/shift.dm
Labels: Fix, Tweak

#30317 appearance editor has languages
  code/__defines/languages.dm
  code/__defines/mobs.dm
  code/game/antagonist/antagonist_equip.dm
  code/game/antagonist/antagonist_update.dm
  code/game/antagonist/outsider/mercenary.dm
  code/game/antagonist/outsider/raider.dm
  code/game/objects/items/weapons/storage/wall_mirror.dm
  code/modules/acting/acting_items.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/preference_setup/background/02_language.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/nano/modules/human_appearance.dm
  code/modules/species/outsider/vox.dm
  code/modules/spells/artifacts/spellbound_servants.dm
  maps/antag_spawn/heist/heist.dm
  maps/antag_spawn/heist/heist_base.dmm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  nano/templates/appearance_changer.tmpl
  test/check-paths.sh
Labels: Map

#30414 Flareguns can set you on fire
  code/modules/projectiles/projectile/energy.dm
Labels: Tweak

#30423 Lowered Groin Multiplier to 1.5
  code/modules/organs/external/_external_damage.dm
Labels: Tweak

#30432 Makes augments jump gooder more reliably
  code/modules/augment/passive/boost/muscle.dm
Labels: Fix

#30352 Add spawn delay to exoplanet awakening
  code/modules/events/exo_awaken.dm
Labels: Tweak

#30387 Prevent unremoval items and natural weapons from embedding
  code/game/objects/items.dm
  code/game/objects/objs.dm
  code/modules/mob/living/simple_animal/natural_weapons.dm
Labels: Fix

#30429 Windows & Wall damage update
  code/game/objects/structures.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/walls.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/materials/_materials.dm
Labels: Feature, Fix, Revert/Removal, Tweak

#30444 Fixes Issue #30443
  icons/mob/onmob/onmob_eyes.dmi
Labels: Fix, Sprites

#30440 minor updates to exo-awakening
  code/modules/events/exo_awaken.dm
Labels: Fix, Tweak

#30434 Torch Fleet Uniformity
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/icons/obj/obj_under_solgov.dmi
  maps/torch/items/clothing/solgov-under.dm
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/outfits/exploration_outfits.dm
Labels: Revert/Removal

#30439 Fixes unpowered exosuits not recharging
  code/game/machinery/mech_recharger.dm
Labels: Fix
