Repository Baystation12/Baystation12, pull requests merged in 2021-06, with the labels that each got.

#30766 Fixes being unable to light molotovs with welding torches/etc, only lighters
  code/modules/detectivework/tools/rag.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
Labels: Fix

#30767 Adds scienceHUD implants
  code/modules/augment/active/hudimplants.dm
  code/modules/client/preference_setup/loadout/lists/augments.dm
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  code/modules/research/designs/designs_mechfab.dm
  icons/obj/augment.dmi
  maps/torch/loadout/loadout_augments.dm
Labels: Feature, Sprites

#30712 Aesthetic changes to the Infirmary
  maps/torch/torch5_deck1.dmm
Labels: Map, Needs Changelog (DNM), Tweak

#30718 Changes to personal goals
  code/datums/mind/mind.dm
  code/game/jobs/job/job.dm
  code/modules/goals/_goal.dm
  code/modules/goals/goal_ambition.dm
  code/modules/goals/goal_department.dm
  code/modules/goals/goal_mind.dm
  code/modules/goals/goal_mob.dm
  maps/torch/job/misc_jobs.dm
Labels: Fix, Tweak

#30795 Further changes to New Medbay
  maps/torch/torch5_deck1.dmm
Labels: Fix, Map, Tweak

#30794 Prevent certain mob types from being buckled
  code/game/objects/buckling.dm
  code/modules/mechs/mech.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/mob/living/living_defines.dm
Labels: Fix

#30792 Fix Character Setup preview icon not updating on character swaps.
  code/modules/client/preferences.dm
Labels: Fix

#30778 Change life-seeded planets to have more optimal temperatures.
  code/modules/overmap/exoplanets/planet_types/grass.dm
Labels: Tweak

#30773 More fixes and changes from nebula
  baystation12.dme
  code/__defines/zmimic.dm
  code/controllers/subsystems/skybox.dm
  code/controllers/subsystems/zcopy.dm
  code/datums/mutable_appearance.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_changing.dm
  code/modules/multiz/zmimic/mimic_docs.dm
  code/modules/multiz/zmimic/mimic_movable.dm
  code/modules/multiz/zmimic/mimic_turf.dm
Labels: Refactor

#30747 Mob AI fixes
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/possum.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/exoplanet.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
Labels: Fix

#30811 Headshot KO tweak
  code/modules/organs/internal/brain.dm
Labels: Balance/Rebalance, Tweak

#30797 Revert 30712
  maps/torch/torch5_deck1.dmm
Labels: Map, Revert/Removal

#30787 sdmm suite 1.5 -> 1.7 + debugger extools -> auxtools
  .github/workflows/test.yml
  SpacemanDMM.toml
  code/__defines/spaceman_dmm.dm
  code/controllers/subsystems/fluids.dm
  code/datums/outfits/outfit.dm
  code/game/gamemodes/objective.dm
  code/game/turfs/simulated.dm
  code/game/turfs/turf_fluids.dm
  code/game/world.dm
  code/modules/client/ui_style.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/hydroponics/grown.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/paperwork/adminpaper.dm
  code/modules/paperwork/paper.dm
  code/modules/surgery/organs_internal.dm
  code/modules/synthesized_instruments/real_instruments.dm
Labels: Refactor

#30798 Change/Fix some mob AI behaviour
  code/controllers/subsystems/aifast.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/simple_animal/combat.dm
  code/modules/mob/living/simple_animal/friendly/juvenile_space_whale.dm
  code/modules/mob/living/simple_animal/hostile/bad_drone.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/_giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/nurse.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/meat_horrors.dm
  code/modules/mob/living/simple_animal/hostile/pike.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
Labels: Fix, Tweak

#30769 Port Overmap Pixel-Movement from Nebula
  code/game/machinery/_machines_base/machinery.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
  code/modules/overmap/ships/computers/ship.dm
  code/modules/overmap/ships/ship.dm
Labels: Feature

#30790 Autolandmarks radius defination
  code/__defines/misc.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/shuttles/landmarks.dm
Labels: Fix, Refactor

#30799 Groins are now more pain resistant
  code/modules/organs/external/_external_damage.dm
Labels: Fix

#30802 Remove Ckey display from Round-end Purchaser List
  code/datums/repositories/uplink_purchases.dm
Labels: Tweak

#30804 burn causes less direct blood removal
  code/__defines/damage_organs.dm
Labels: Balance/Rebalance, Tweak

#30808 Add a button to forcefully end the round
  code/controllers/subsystems/ticker.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: Admin, Feature

#30805 add some more hair fade patterns
  code/modules/sprite_accessories/accessory_hair_fade.dm
  icons/mob/human_races/species/human/hair_fade.dmi
Labels: Feature, Sprites, Tweak

#30825 storing items in uniform accessories is real again
  code/modules/clothing/clothing_accessories.dm
Labels: Fix

#30828 Robotic analyzers give info if organ is irreparable
  code/modules/mob/living/silicon/robot/analyzer.dm
Labels: Tweak

#30686 Suicide Revamp
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/organs/internal/brain.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/targeting/targeting_overlay.dm
  code/modules/projectiles/targeting/targeting_triggers.dm
Labels: Tweak

#30820 Fixes a case of double messages in helm controls
  code/modules/overmap/ships/computers/helm.dm
Labels: Fix

#30826 Runtime fix batch 2021-06-11
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/game/machinery/doors/airlock.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Fix

#30807 Fix service borg consumables not recharging
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
Labels: Fix

#30831 fix holsters
  code/datums/extensions/holster/holster.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/under/accessories/holster.dm
Labels: Fix, Tweak

#30832 fix tinted helmets not tinting on mob
  code/modules/clothing/spacesuits/spacesuits.dm
Labels: Fix, Sprites

#30834 various mob helpers cleanups
  code/_macros.dm
  code/controllers/subsystems/vote.dm
  code/datums/vote/custom.dm
  code/datums/vote/gamemode.dm
  code/datums/vote/map.dm
  code/datums/vote/restart.dm
  code/datums/vote/transfer.dm
  code/game/jobs/access.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/movietitles.dm
  code/game/objects/items.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/modules/admin/admin.dm
  code/modules/admin/buildmode/atmosphere.dm
  code/modules/admin/buildmode/build.dm
  code/modules/admin/buildmode/mob_spawning.dm
  code/modules/augment/cbm.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/silicon/ai/examine.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/skills/skill_ui.dm
  code/modules/nano/modules/law_manager.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/species/outsider/zombie.dm
  code/modules/surgery/surgery.dm
Labels: Refactor

#30843 Removes Thermals from antags except traitors
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/hardsuit_modules.dm
  code/game/antagonist/outsider/raider.dm
  code/game/objects/items/devices/uplink_random_lists.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  maps/antag_spawn/heist/heist_base.dmm
  maps/antag_spawn/mercenary/mercenary_base.dmm
Labels: Map, Revert/Removal

#30857 Fixes oxygen typo in Deck 1
  maps/torch/torch5_deck1.dmm
Labels: Grammar and Formatting

#30838 Changes to the forensics locker
  maps/torch/structures/closets/security.dm
Labels: Revert/Removal, Tweak

#30849 Ported coin flipping sound and message from Nebula
  code/game/objects/items/weapons/material/coins.dm
  sound/effects/coin_flip.ogg
Labels: Feature, Sound

#30833 Fixes mobs being able to drop items they shouldnt be able to drop
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
Labels: Fix

#30854 Add Items to Antag Uplink
  code/datums/uplink/badassery.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/datums/uplink/medical.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Balance/Rebalance, Feature

#30860 Plasma Cutter no longer uses charge when slicing
  code/modules/projectiles/guns/energy/special.dm
Labels: Balance/Rebalance, Tweak

#30836 Window polarization tweaks
  code/game/objects/structures/window.dm
Labels: Feature, Tweak

#30868 Adds a new sprite for Concealed Armor Vests
  icons/mob/onmob/onmob_accessories.dmi
Labels: Sprites

#30872 Vox trader fix
  code/datums/trading/vox.dm
Labels: Fix

#30858 Mindbreaker Cigarette has Mindbreaker
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: Fix

#30821 Gives the Sol voidsuits/hardsuits a facelift
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/station.dm
  icons/mob/light_overlays.dmi
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/skrell/onmob_suit_skrell.dmi
  icons/mob/species/unathi/generated/onmob_feet_unathi.dmi
  icons/mob/species/unathi/generated/onmob_hands_unathi.dmi
  icons/mob/species/unathi/generated/onmob_head_unathi.dmi
  icons/mob/species/unathi/generated/onmob_rig_back_unathi.dmi
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/species/skrell/obj_head_skrell.dmi
  icons/obj/clothing/species/skrell/obj_suit_skrell.dmi
  icons/obj/clothing/species/unathi/obj_head_unathi.dmi
  icons/obj/clothing/species/unathi/obj_suit_unathi.dmi
  icons/obj/light_overlays.dmi
  icons/obj/rig_modules.dmi
  maps/torch/icons/mob/onmob_feet_solgov.dmi
  maps/torch/icons/mob/onmob_hands_solgov.dmi
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/mob/skrell/onmob_head_solgov_skrell.dmi
  maps/torch/icons/mob/skrell/onmob_suit_solgov_skrell.dmi
  maps/torch/icons/mob/unathi/onmob_head_solgov_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_suit_solgov_unathi.dmi
  maps/torch/icons/obj/obj_feet_solgov.dmi
  maps/torch/icons/obj/obj_hands_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/icons/obj/skrell/obj_head_solgov_skrell.dmi
  maps/torch/icons/obj/skrell/obj_suit_solgov_skrell.dmi
  maps/torch/icons/obj/unathi/obj_head_solgov_unathi.dmi
  maps/torch/icons/obj/unathi/obj_suit_solgov_unathi.dmi
  maps/torch/icons/obj/uniques.dmi
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/rigs.dm
Labels: Fix, Sprites, Tweak

#30869 strip permissions opinions from channel ignore
  code/datums/communication/channel.dm
Labels: Admin, Fix

#30781 Razor Hat
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
  code/game/objects/items/weapons/material/misc.dm
  code/modules/clothing/head/misc.dm
Labels: Feature

#30848 Hivebot beacon fixes
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
Labels: Fix, Tweak

#30865 Fix zooming in being instantly reset
  code/modules/mob/mob.dm
Labels: Fix

#30873 Adds wrist watch accessory
  baystation12.dme
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/under/accessories/wristwatches.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/obj/clothing/obj_accessories.dmi
Labels: Feature, Sprites

#30875 The CSO and SR can now actually take scihud implants
  maps/torch/loadout/loadout_augments.dm
Labels: Fix

#30859 Adds bulk-buy and bulk-trade functionality to Merchant's List
  code/datums/trading/food.dm
  code/datums/trading/trade.dm
  code/modules/merchant/merchant_programs.dm
  nano/templates/merchant.tmpl
Labels: Feature

#30902 Fix #30901
  maps/torch/job/torch_jobs.dm
Labels: Fix

#30866 Buckshot & Flechette update
  code/datums/uplink/ammunition.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/random.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/obj/projectiles.dmi
Labels: Balance/Rebalance, Feature, Fix, Sprites

#30879 Fixes wall dismantle bug & SMES coil dupe
  code/game/turfs/simulated/wall_attacks.dm
  code/game/turfs/simulated/walls.dm
  code/modules/power/smes_construction.dm
Labels: Fix

#30810 Adds chameleon extension to holodeck clothing
  code/modules/holodeck/HolodeckControl.dm
Labels: Fix, Tweak
