Repository Baystation12/Baystation12, pull requests merged in 2021-02, with the labels that each got.

#30098 Add equipment and toolbelts to loadout
  code/modules/client/preference_setup/loadout/lists/storage.dm
Labels: Feature

#30097 Robot/Surveyor module quality of life changes
  code/game/objects/buckling.dm
  code/modules/hydroponics/spreading/spreading_response.dm
  code/modules/mob/living/carbon/resist.dm
  code/modules/mob/living/living.dm
  code/modules/projectiles/guns/launcher/net.dm
  code/modules/xenoarcheaology/tools/tools.dm
  maps/torch/robot/module_flying_surveyor.dm
Labels: Feature, Fix, Map, Tweak

#30066 removes the nar'sie skybox and summoned mobs when nar'sie is removed
  code/game/gamemodes/cult/cultify/de-cultify.dm
  code/game/gamemodes/cult/hell_universe.dm
  code/game/gamemodes/cult/runes.dm
Labels: Ready for Review, Tweak

#30102 removes zombie juice from available reagents for xenobotany
  code/modules/hydroponics/seed.dm
Labels: Revert/Removal

#30104 removes some of the huge energy from portable floodlamps
  code/game/objects/items/devices/flashlight.dm
Labels: Ready for Review, Tweak

#30105 removes door integrity when you hit them with THE CLAW
  code/modules/mechs/equipment/utility.dm
Labels: Tweak

#30111 remove gravity generator announcement spam
  code/modules/events/gravity.dm
Labels: Fix

#30101 removes static antag intro text
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_create.dm
  code/game/antagonist/station/changeling.dm
  code/game/antagonist/station/provocateur.dm
Labels: Fix, Revert/Removal

#30116 removes the IPC soft-lock from merc hardsuits
  code/modules/clothing/spacesuits/rig/suits/merc.dm
Labels: Tweak

#30115 removes brainwashing implants from merc uplinks
  code/datums/uplink/implants.dm
Labels: Tweak

#30118 Remove lack of binoculars from bridge
  maps/torch/torch6_bridge.dmm
Labels: Feature, Map

#30120 removes ability of voxship thruster APC to keep its secrets from Shoal Technicians
  maps/away/voxship/voxship-2.dmm
Labels: Fix, Map, Revert/Removal

#30119 Removes some grammar inconsistencies and rewrites some examine texts
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/utility.dm
Labels: Grammar and Formatting, Ready for Review

#30127 Removes "custom event" text showing every round
  code/modules/admin/verbs/custom_event.dm
  code/modules/client/client_procs.dm
Labels: Fix, Revert/Removal

#30131 removes disparity between RPDs and RCDs in suit storage availability
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/spacesuits/void/station.dm
Labels: Tweak

#30135 Removes ability to remove specialty limbguards
  code/modules/clothing/under/accessories/armor.dm
Labels: Revert/Removal, Tweak

#30123 removes un-paperlike behaviour of departmental memos and replaces it with new behaviour
  code/modules/paperwork/faxmachine.dm
  code/modules/paperwork/paper.dm
  maps/torch/items/summarydocuments.dm
Labels: Feature, Map, Ready for Review, Tweak

#30132 removes inability to click through new bm overlays
  code/modules/admin/buildmode/areas.dm
  code/modules/admin/buildmode/build_mode.dm
  code/modules/admin/buildmode/overlay.dm
Labels: Admin, Revert/Removal

#30137 removes teleport beacon from inside misc research containment, and also vacuum
  maps/torch/torch5_deck1.dmm
Labels: Map

#30143 Remove radshrine.dmm's lack of aliumness
  maps/random_ruins/exoplanet_ruins/radshrine/radshrine.dmm
Labels: Map

#30141 removes goals correctly when mind is destroyed
  code/datums/mind/mind.dm
Labels: Fix

#30140 Removes mSv (mostly) and replaces it with Ionization Units
  code/controllers/subsystems/jobs.dm
  code/game/objects/items/devices/geiger.dm
  code/modules/mob/observer/ghost/ghost.dm
Labels: Tweak

#30112 removes monolithic endgame survivor count
  maps/torch/torch_procs.dm
  maps/~mapsystem/maps.dm
Labels: Map, Tweak

#30126 Removes a bunch of src. and raw spans in body scanner code, touches up feedback and documentation
  code/_helpers/medical_scans.dm
  code/game/machinery/bodyscanner.dm
  code/game/machinery/bodyscanner_console.dm
  code/modules/mob/skills/skill.dm
Labels: Grammar and Formatting, Revert/Removal, Tweak

#30146 Remove the last bastion of shuttle walls
  maps/torch/z1_admin.dmm
Labels: Map

#30148 Addition of a Memorial room
  maps/torch/icons/obj/solgov-64x.dmi
  maps/torch/structures/signs.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch_areas.dm
Labels: Feature, Map

#30114 removes lighting from where shuttles are landing
  code/modules/shuttles/shuttle.dm
Labels: Feature

#30110 removes secrecy from manual valve interactions
  code/modules/atmospherics/components/valve.dm
Labels: Ready for Review, Tweak

#30142 removes old mob spawner overlay in favor of new one
  code/modules/admin/buildmode/mob_spawning.dm
Labels: Revert/Removal

#30129 removes ec service unders and makes them dress unders instead, no more colored jumpers
  maps/torch/datums/uniforms.dm
  maps/torch/datums/uniforms_expedition.dm
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/clothing/solgov-under.dm
Labels: Map, Revert/Removal, Tweak, Update Wiki after Merge

#30130 removes restriction on scarfs on EC service jacket
  maps/torch/items/clothing/solgov-suit.dm
Labels: Map, Revert/Removal, Tweak, Update Wiki after Merge

#30149 removes the need to open character setup to swap characters
  code/modules/mob/new_player/new_player.dm
Labels: Feature

#30151 removes the other-other raider thermals
  maps/antag_spawn/heist/heist_base.dmm
Labels: Map, Revert/Removal

#30154 Remove un-purpleness from Ascent's burnt-out BSD
  maps/away/ascent_caulship/ascent-1.dmm
Labels: Map

#30160 Adds information about max pilots in exosuits
  code/modules/mechs/mech.dm
Labels: Feature

#30155 Removes inability to juice big fruits
  code/modules/reagents/Chemistry-Grinder.dm
Labels: Fix, Revert/Removal

#30157 Removes magic numbers from truth vars in modcomp programs
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/antagonist/access_decrypter.dm
  code/modules/modular_computers/file_system/programs/antagonist/dos.dm
  code/modules/modular_computers/file_system/programs/antagonist/hacked_camera.dm
  code/modules/modular_computers/file_system/programs/antagonist/revelation.dm
  code/modules/modular_computers/file_system/programs/antagonist/uplink.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/modular_computers/file_system/programs/engineering/alarm_monitor.dm
  code/modules/modular_computers/file_system/programs/engineering/atmos_control.dm
  code/modules/modular_computers/file_system/programs/engineering/power_monitor.dm
  code/modules/modular_computers/file_system/programs/engineering/rcon_console.dm
  code/modules/modular_computers/file_system/programs/engineering/shields_monitor.dm
  code/modules/modular_computers/file_system/programs/engineering/supermatter_monitor.dm
  code/modules/modular_computers/file_system/programs/generic/camera.dm
  code/modules/modular_computers/file_system/programs/generic/configurator.dm
  code/modules/modular_computers/file_system/programs/generic/crew_manifest.dm
  code/modules/modular_computers/file_system/programs/generic/deck_management.dm
  code/modules/modular_computers/file_system/programs/generic/docks.dm
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  code/modules/modular_computers/file_system/programs/generic/file_browser.dm
  code/modules/modular_computers/file_system/programs/generic/game.dm
  code/modules/modular_computers/file_system/programs/generic/library.dm
  code/modules/modular_computers/file_system/programs/generic/ntdownloader.dm
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/generic/nttransfer.dm
  code/modules/modular_computers/file_system/programs/generic/records.dm
  code/modules/modular_computers/file_system/programs/generic/reports.dm
  code/modules/modular_computers/file_system/programs/generic/scanner.dm
  code/modules/modular_computers/file_system/programs/generic/supply.dm
  code/modules/modular_computers/file_system/programs/generic/wordprocessor.dm
  code/modules/modular_computers/file_system/programs/medical/suit_sensors.dm
  code/modules/modular_computers/file_system/programs/research/ai_restorer.dm
  code/modules/modular_computers/file_system/programs/research/email_administration.dm
  code/modules/modular_computers/file_system/programs/research/ntmonitor.dm
  code/modules/modular_computers/file_system/programs/security/digitalwarrant.dm
  code/modules/modular_computers/file_system/reports/report.dm
  maps/torch/datums/reports/command.dm
  maps/torch/datums/reports/corporate.dm
  maps/torch/datums/reports/deck.dm
  maps/torch/datums/reports/exploration.dm
  maps/torch/datums/reports/medical.dm
  maps/torch/datums/reports/robotics.dm
  maps/torch/datums/reports/science.dm
  maps/torch/datums/reports/security.dm
  maps/torch/datums/reports/solgov.dm
Labels: Map, Revert/Removal

#30168 Removes the last match for non-list non-string req_access in maps
  maps/torch/torch4_deck2.dmm
Labels: Map, Revert/Removal

#30159 Refresh main menu on game start and character swap
  code/controllers/subsystems/ticker.dm
  code/modules/client/preferences.dm
Labels: Ready for Review, Tweak

#30170 Removes the Aquila's mass for maximum vroomage.
  maps/torch/torch_overmap.dm
Labels: Map, Revert/Removal, Tweak

#30169 Addition of swimwear at the pool
  maps/torch/torch3_deck3.dmm
Labels: Feature, Map

#30156 Removes lack of a newscast program for modular computers/tablets/PDAs
  baystation12.dme
  code/game/machinery/newscaster.dm
  code/modules/modular_computers/computers/subtypes/preset_pda.dm
  code/modules/modular_computers/file_system/programs/generic/news.dm
  nano/templates/newscast.tmpl
Labels: Feature, Ready for Review

#30174 Fix skipjack vent tag
  maps/antag_spawn/heist/heist_base.dmm
Labels: Fix, Map

#30158 Stop character setup menu from opening on quickswap
  code/modules/client/preferences.dm
  code/modules/mob/new_player/new_player.dm
Labels: Ready for Review, Tweak

#30177 Removes an erroneous comment about damage multipliers from machetes
  code/game/objects/items/weapons/material/misc.dm
Labels: Ready for Review

#30176 removes zombiejuice from science, but actually
  code/modules/hydroponics/seed.dm
Labels: Revert/Removal

#30178 Fixes Emags
  code/game/machinery/doors/door.dm
Labels: Ready for Review

#30175 Removes inability of exosuits to slice and dice
  code/_onclick/item_attack.dm
  code/modules/mechs/equipment/_equipment.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mechs/premade/powerloader.dm
  code/modules/mob/animations.dm
  code/modules/research/designs/designs_mechfab.dm
  icons/effects/effects.dmi
  icons/mecha/mech_equipment.dmi
  icons/mecha/mech_weapon_overlays.dmi
Labels: Feature, Ready for Review, Revert/Removal, Sprites

#30179 Removes inability of stacks to automatically merge on the same tile
  code/game/objects/items/stacks/stack.dm
Labels: Feature, Ready for Review, Revert/Removal

#30180 Removes lack of chocolate milk in choccy milk cartons
  code/game/machinery/biogenerator.dm
  code/game/machinery/vending.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  maps/away/casino/casino.dmm
Labels: Fix, Map, Revert/Removal

#30187 Removes shuttle shadows from 30114
  code/modules/shuttles/shuttle.dm
Labels: Revert/Removal

#30145 removes build mode color code duplication
  baystation12.dme
  code/modules/admin/buildmode/_color_pool.dm
  code/modules/admin/buildmode/areas.dm
  code/modules/admin/buildmode/mob_spawning.dm
Labels: Revert/Removal

#30184 Removes lack of handheld opossum, including Poppy
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/possum.dm
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/simple_animal/poppy_possum.dmi
  icons/mob/simple_animal/possum.dmi
Labels: Feature, Sprites

#30108 removes confusion over which planet area is which
  code/modules/overmap/exoplanets/exoplanet.dm
Labels: Revert/Removal

#30124 removes vars pathed as obj/item/weapon instead of obj/item
  code/game/objects/items/weapons/tape.dm
  code/modules/admin/secrets/admin_secrets/prison_warp.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/modular_computers/hardware/nano_printer.dm
  code/modules/organs/external/diagnostics.dm
  code/modules/paperwork/clipboard.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/paperwork/paperbin.dm
  code/modules/paperwork/papershredder.dm
  code/modules/paperwork/photocopier.dm
  code/modules/research/destructive_analyzer.dm
  code/modules/spells/targeted/equip/dyrnwyn.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  code/modules/xenoarcheaology/finds/fossils.dm
Labels: Revert/Removal

#30193 removes unlethality of disposals
  code/modules/recycling/disposalholder.dm
Labels: Revert/Removal

#30188 Removes inability to pull facemasks down
  code/modules/clothing/masks/gasmask.dm
  icons/obj/clothing/obj_mask.dmi
Labels: Feature, Ready for Review, Revert/Removal, Sprites

#30190 Removes absence of Boron fusion
  code/datums/supplypacks/dispcarts.dm
  code/modules/power/fusion/_setup.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fusion_reactions.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
Labels: Feature, Revert/Removal, Update Wiki after Merge

#30195 Removes some mech equipment removing itself many times
  code/modules/mechs/equipment/_equipment.dm
Labels: Revert/Removal

#30191 Removes inability to test absolute location from do_after
  code/__defines/mobs.dm
  code/_helpers/mobs.dm
Labels: Revert/Removal

#30182 Removes venting and titanium from the TEV crash
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dmm
Labels: Map, Revert/Removal

#30183 Removes not having a suit cycler and coolers from the bearcat, removes salvage suits status as a suit you can't cycle
  code/datums/item_modifiers/space_suits.dm
  code/game/machinery/suit_cycler_units.dm
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/skrell/onmob_suit_skrell.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/species/skrell/obj_head_skrell.dmi
  icons/obj/clothing/species/skrell/obj_suit_skrell.dmi
  icons/obj/clothing/species/unathi/obj_head_unathi.dmi
  icons/obj/clothing/species/unathi/obj_suit_unathi.dmi
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bearcat/bearcat_access.dm
Labels: Map, Revert/Removal, Sprites

#30181 Chorus polishing pass
  code/game/antagonist/outsider/chorus.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/building_chorus.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/generic.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/tier_five.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/tier_four.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/tier_one.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/tier_three.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/tier_two.dm
Labels: Feature, Fix, Grammar and Formatting, Ready for Review, Tweak

#30189 Reverts some exosuit clamp changes
  code/modules/mechs/equipment/utility.dm
Labels: Revert/Removal

#30201 Removes rare null turf runtimes in light updates
  code/modules/lighting/lighting_source.dm
Labels: Revert/Removal

#30153 removes previous lack of HUD implants
  baystation12.dme
  code/modules/augment/active/hudimplants.dm
  code/modules/research/designs/designs_mechfab.dm
Labels: Feature, Ready for Review

#30204 Revamps culture entry selection for character backgrounds
  code/modules/client/preference_setup/background/01_culture.dm
  code/modules/culture_descriptor/_culture.dm
Labels: Tweak

#30203 Makes supply net default for Prospectors
  maps/torch/items/encryption_keys.dm
Labels: Map, Tweak

#30192 Removes lack of Exosuit Ballistic Shields
  code/_onclick/item_attack.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mechs/mech_construction.dm
  code/modules/mechs/mech_damage.dm
  code/modules/mechs/premade/powerloader.dm
  code/modules/mob/living/living_defense.dm
  code/modules/research/designs/designs_mechfab.dm
  icons/mecha/ballistic_shield.dmi
  icons/mecha/mech_equipment.dmi
Labels: Feature, Sprites

#30215 Fixes cyborg window repairing
  code/game/objects/structures/window.dm
Labels: Fix

#30122 removes disparity between drop bags and webbing
  code/__defines/inventory_sizes.dm
  code/__defines/items_clothing.dm
  code/__defines/subsystems.dm
  code/datums/supplypacks/operations.dm
  code/modules/client/preference_setup/loadout/lists/storage.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/clothing/under/accessories/storage.dm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
Labels: Map, Revert/Removal, Tweak

#30133 removes privacy poll from like, 2011 tg
  baystation12.dme
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/poll.dm
  sql/migrate/v006__Remove_Polls.sql
Labels: Revert/Removal

#30216 Tweaks Miner Rig and Voidsuit armour values
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/station.dm
Labels: Tweak

#30220 Removes humans under common age of majority
  code/modules/species/station/station.dm
Labels: Revert/Removal, Tweak

#30164 removes a particularly bad source of destroy before initialize
  code/modules/power/singularity/particle_accelerator/particle.dm
Labels: Revert/Removal

#30162 removes runtime spam from adherents created by change mob appearance
  code/modules/mob/living/carbon/human/life.dm
Labels: Revert/Removal

#30138 removed all the escapes from memo documents & other misc improvements
  code/modules/paperwork/paper.dm
  maps/torch/items/memos.dm
  maps/torch/items/summarydocuments.dm
  maps/torch/torch.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#30172 Chem dispenser touchup and nanoUI-ification
  code/modules/reagents/Chemistry-Machinery.dm
  nano/templates/chemmaster.tmpl
Labels: Tweak

#30227 Removes robot component sprite eye-soreness
  code/modules/mechs/components/armour.dm
  code/modules/mob/living/silicon/robot/component.dm
  icons/mecha/mech_equipment.dmi
  icons/obj/robot_component.dmi
Labels: Feature, Revert/Removal, Sprites

#30232 Fixes cremation attack log
  code/game/objects/structures/morgue.dm
Labels: Admin, Fix

#30231 Fixes the admin log for turrets
  code/game/machinery/turret_control.dm
Labels: Admin, Fix

#30219 Add recent calls + incoming call for holopad
  code/game/machinery/hologram.dm
Labels: Feature, Ready for Review

#30230 Modernizes emitter code and updates messages, adds info on examine for trained personnel
  code/__defines/machinery.dm
  code/modules/power/fusion/gyrotron/gyrotron.dm
  code/modules/power/singularity/emitter.dm
Labels: Grammar and Formatting, Tweak

#30152 removes build mode basic
  baystation12.dme
  code/modules/admin/buildmode/_build_mode.dm
  code/modules/admin/buildmode/_buttons.dm
  code/modules/admin/buildmode/_click_handler.dm
  code/modules/admin/buildmode/_overlay.dm
  code/modules/admin/buildmode/advance.dm
  code/modules/admin/buildmode/basic.dm
  code/modules/admin/buildmode/build.dm
  icons/misc/buildmode.dmi
Labels: Admin, Ready for Review, Revert/Removal, Sprites

#30234 Removes inability of swamp unat to spawn where sand unat can spawn
  code/__defines/mobs.dm
Labels: Fix, Revert/Removal

#30247 Make CL's carpet green
  maps/torch/torch6_bridge.dmm
Labels: Map

#29994 Readds OFD firing at away sites
  code/__defines/overmap.dm
  code/modules/overmap/disperser/disperser_charge.dm
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/overmap/disperser/disperser_fire.dm
  nano/templates/disperser.tmpl
Labels: Feature

#30254 Supermatter writing and feedback pass
  code/modules/supermatter/supermatter.dm
Labels: Grammar and Formatting

#30244 Suicide & supply beacon attack logs
  code/game/machinery/supplybeacon.dm
  code/modules/projectiles/gun.dm
Labels: Admin
