Repository Baystation12/Baystation12, pull requests merged in 2021-09, with the labels that each got.

#31150 AI runtime fixes & buildmode tweaks
  code/modules/admin/buildmode/ai.dm
  code/modules/client/client_procs.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Labels: Tweak, Fix, Admin

#31130 Standardized health fixes
  code/datums/extensions/health/atom.dm
  code/modules/blob/blob.dm
Labels: Fix

#31153 Remove hydrobase from round start spawn options
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dm
Labels: Map, Revert/Removal

#31145 Fixes crashed ship catwalks spawning inside walls
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dmm
Labels: Map, Fix

#31078 Adds more new weapons
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/game/antagonist/outsider/raider.dm
  code/game/objects/random/random.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/item_worth/worths_list.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/broomstick.dmi
  icons/obj/guns/garand.dmi
  sound/weapons/guns/interaction/garand_magout.ogg
Labels: Feature, Sprites, Tweak, Sound

#31144 Adds smol humanoid pAI chassis
  code/modules/mob/living/silicon/pai/pai.dm
  icons/mob/pai.dmi
Labels: Feature, Sprites

#31056 Removes the Verne
  code/modules/supermatter/supermatter.dm
  maps/away/verne/verne-1.dmm
  maps/away/verne/verne-2.dmm
  maps/away/verne/verne-3.dmm
  maps/away/verne/verne.dm
  maps/away/verne/verne.dmi
  maps/away/verne/verne_areas.dm
  maps/away/verne/verne_jobs.dm
  maps/away/verne/verne_radio.dm
  maps/away/verne/verne_shuttles.dm
  maps/away_sites_testing/away_sites_testing.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_suit.dm
  maps/torch/torch.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/z2_transit.dmm
Labels: Revert/Removal

#31157 Nerf spiderling spawn counts
  code/game/objects/effects/spiders.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/carrier.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/nurse.dm
Labels: Tweak, Balance/Rebalance, Revert/Removal

#31170 Fix name of carotid artery
  code/modules/organs/external/_external.dm
  code/modules/organs/external/head.dm
Labels: Grammar and Formatting

#31171 Fix lizards having no ai
  code/_macros.dm
  code/datums/mind/mind.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/objects/items/glassjar.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/turfs/initialization/maintenance.dm
  code/modules/admin/topic.dm
  code/modules/assembly/mousetrap.dm
  code/modules/events/infestation.dm
  code/modules/events/whale_migration.dm
  code/modules/goals/definitions/personal_achievement_specific_object.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/simple_animal/friendly/_friendly.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/friendly/crab.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/juvenile_space_whale.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/friendly/mushroom.dm
  code/modules/mob/living/simple_animal/friendly/possum.dm
  code/modules/mob/living/simple_animal/friendly/tomato.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/space_whale.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/transform_procs.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/random_map/noise/desert.dm
  code/modules/random_map/noise/tundra.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/spells/artifacts/spellbound_servants.dm
  code/modules/spells/targeted/shapeshift.dm
  code/modules/xenoarcheaology/artifacts/autocloner.dm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/space_ruins/multi_zas_test.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_npcs.dm
Labels: Fix

#31172 Remove dress shoes from EC service uniform vending
  maps/torch/datums/uniforms.dm
Labels: Tweak

#31161 No :pawnty:'s were used in the creation of these lizords
  code/modules/sprite_accessories/accessory_unathi.dm
  icons/mob/human_races/species/unathi/body.dmi
  icons/mob/human_races/species/unathi/hair.dmi
  icons/mob/human_races/species/unathi/preview.dmi
  icons/mob/species/unathi/unathi_tail.dmi
Labels: Feature, Sprites, Tweak

#31179 Exploding spider delay
  code/modules/mob/living/simple_animal/hostile/giant_spider/phorogenic.dm
Labels: Tweak

#31169 Use `audible_message()` for talking atoms
  code/modules/xenoarcheaology/finds/talking.dm
Labels: Tweak, Fix

#31173 Fixes blob cores not growing
  code/modules/blob/blob.dm
Labels: Fix

#31174 Blob expansion tweaks & fixes
  code/modules/blob/blob.dm
Labels: Tweak, Fix

#31184 Hair Tweaks
  code/modules/sprite_accessories/_accessory_facial.dm
  code/modules/sprite_accessories/_accessory_hair.dm
Labels: Tweak

#30932 adjusts behavior of forensic fibers stuff
  baystation12.dme
  code/modules/clothing/_clothing.dm
  code/modules/clothing/_clothing_flags.dm
  code/modules/clothing/clothing_forensics.dm
  code/modules/clothing/under/accessories/armor.dm
  maps/torch/items/clothing/solgov-accessory.dm
Labels: Feature

#31187 Firedoor W/E sprite slightly improved
  icons/obj/doors/hazard/door.dmi
Labels: Sprites, Tweak

#31186 Fixes wall frames spawning with the wrong materials
  code/game/objects/structures/wall_frame.dm
Labels: Fix

#31185 augment tweaks and fixes
  baystation12.dme
  code/__defines/damage_organs.dm
  code/__defines/mobs.dm
  code/_helpers/medical_scans.dm
  code/datums/uplink/augments.dm
  code/modules/augment/active.dm
  code/modules/augment/active/adaptive_binoculars.dm
  code/modules/augment/active/armblades.dm
  code/modules/augment/active/circuit.dm
  code/modules/augment/active/corrective_lenses.dm
  code/modules/augment/active/glare_dampeners.dm
  code/modules/augment/active/hudimplants.dm
  code/modules/augment/active/iatric_monitor.dm
  code/modules/augment/active/internal_air_system.dm
  code/modules/augment/active/leukocyte_breeder.dm
  code/modules/augment/active/nerve_dampeners.dm
  code/modules/augment/active/polytool.dm
  code/modules/augment/active/popout_shotgun.dm
  code/modules/augment/active/tool/engineering.dm
  code/modules/augment/active/tool/surgical.dm
  code/modules/augment/augment.dm
  code/modules/augment/cbm.dm
  code/modules/augment/equip.dm
  code/modules/augment/implanter.dm
  code/modules/augment/item.dm
  code/modules/augment/passive/armor.dm
  code/modules/augment/passive/boost.dm
  code/modules/augment/passive/boost/muscle.dm
  code/modules/augment/passive/boost/reflex.dm
  code/modules/augment/passive/boost/shooting.dm
  code/modules/augment/passive/fluff.dm
  code/modules/augment/passive/nanoaura.dm
  code/modules/augment/simple.dm
  code/modules/client/preference_setup/loadout/lists/augments.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/codex/entries/augments.dm
  code/modules/mob/living/carbon/human/human_maneuvers.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/external/diagnostics.dm
  code/modules/organs/organ.dm
  code/modules/research/designs/designs_mechfab.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/robotics.dm
  maps/torch/loadout/loadout_augments.dm
  maps/torch/torch.dm
  test/check-paths.sh
Labels: Tweak, Fix

#31191 Nobody on the Torch knows you worship Poppy
  code/__defines/culture.dm
  code/modules/culture_descriptor/religion/religions_human.dm
  code/modules/culture_descriptor/religion/religions_unathi.dm
  code/modules/species/species.dm
  code/modules/species/station/lizard.dm
  maps/~mapsystem/maps.dm
Labels: Tweak

#31180 Mob AI adjustments
  code/modules/ai/ai_holder_cooperation.dm
  code/modules/mob/living/simple_animal/combat.dm
Labels: Tweak, Balance/Rebalance

#31197 Removes EC Duty gloves from fleet uniform vendor
  maps/torch/datums/uniforms_fleet.dm
Labels: Tweak

#31195 Fixes the ITV Vulcan thrusters connecting to the gantry
  maps/away/scavver/scavver_gantry-2.dmm
Labels: Map, Fix

#31203 New mech equipment sprites
  code/modules/mechs/equipment/utility.dm
  code/modules/mechs/mech_icon.dm
  icons/mecha/ballistic_shield.dmi
  icons/mecha/mech_equipment.dmi
  icons/mecha/mech_parts.dmi
  icons/mecha/mech_weapon_overlays.dmi
Labels: Feature, Sprites, Tweak

#31205 Makes security processing more private
  maps/torch/torch5_deck1.dmm
Labels: Map, Tweak

#31193 Mercenary suit sprite update (And an engineering HCM)
  code/game/machinery/suit_cycler_units.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/merc.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/skrell/onmob_suit_skrell.dmi
  icons/mob/species/unathi/generated/onmob_feet_unathi.dmi
  icons/mob/species/unathi/generated/onmob_hands_unathi.dmi
  icons/mob/species/unathi/generated/onmob_head_unathi.dmi
  icons/mob/species/unathi/generated/onmob_rig_back_unathi.dmi
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/mob/species/vox/onmob_feet_vox.dmi
  icons/mob/species/vox/onmob_hands_vox.dmi
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/mob/species/vox/onmob_suit_vox.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/species/skrell/obj_head_skrell.dmi
  icons/obj/clothing/species/skrell/obj_suit_skrell.dmi
  icons/obj/clothing/species/unathi/obj_head_unathi.dmi
  icons/obj/clothing/species/unathi/obj_suit_unathi.dmi
  icons/obj/clothing/species/vox/obj_head_vox.dmi
  icons/obj/clothing/species/vox/obj_suit_vox.dmi
  icons/obj/rig_modules.dmi
Labels: Sprites, Tweak

#31131 Apply standardized health to items
  code/game/objects/items.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/material/ashtray.dm
  code/game/objects/items/weapons/material/material_weapons.dm
  code/game/objects/structures/inflatable.dm
  code/modules/clothing/_clothing.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/mob/living/carbon/resist.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/psionics/null/material_weapon.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  maps/away/meatstation/meatstation.dm
  test/check-paths.sh
Labels: Refactor

#31200 fix some augment bugs after 31185
  code/modules/augment/active/armblades.dm
  code/modules/augment/augment.dm
  code/modules/augment/implanter.dm
  code/modules/client/preference_setup/loadout/loadout.dm
Labels: Fix

#31210 SSD examine messages now clarify SSD status and are pink
  code/modules/mob/living/carbon/human/examine.dm
Labels: Tweak

#31206 Area lighting
  code/__defines/lighting.dm
  code/game/area/Space Station 13 areas.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/modules/lighting/lighting_area.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/power/lighting.dm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/torch/torch_areas.dm
  test/check-paths.sh
Labels: Map, Tweak

#31213 Remove Brig Headset/Remove 2/3 Labelers in Sec
  maps/torch/torch5_deck1.dmm
Labels: Map, Tweak

#31209 Use input instead of chat for borg hypospray selection
  code/modules/reagents/reagent_containers/borghydro.dm
Labels: Tweak

#31217 Removes Solgov utes parent object from random spawn list
  maps/torch/items/items.dm
Labels: Tweak

#31214 Move Clamp from macros to version, use clamp >512
  code/_macros.dm
  code/_version.dm
Labels: Refactor

#31225 controller performance tweaks
  baystation12.dme
  code/__defines/chemistry.dm
  code/controllers/subsystem.dm
  code/controllers/subsystems/ai.dm
  code/controllers/subsystems/aifast.dm
  code/controllers/subsystems/alarm.dm
  code/controllers/subsystems/antags.dm
  code/controllers/subsystems/ao.dm
  code/controllers/subsystems/atoms.dm
  code/controllers/subsystems/chemistry.dm
  code/controllers/subsystems/circuit_component.dm
  code/controllers/subsystems/circuits.dm
  code/controllers/subsystems/processing/airflow.dm
  code/controllers/subsystems/processing/circuit.dm
  code/controllers/subsystems/processing/processing.dm
  code/datums/extensions/multitool/circuitboards/stationalert.dm
  code/modules/codex/categories/category_reagents.dm
  code/modules/integrated_electronics/core/helpers.dm
  code/modules/integrated_electronics/core/saved_circuits.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/silicon/subsystems.dm
  code/modules/modular_computers/file_system/programs/engineering/alarm_monitor.dm
  code/modules/reagents/Chemistry-Holder.dm
Labels: Refactor, Test Merge :heavy_check_mark:

#31223 Adds a cryocomputer to the merc base
  maps/antag_spawn/mercenary/mercenary_base.dmm
Labels: Map, Fix

#31222 Incendiary Laser Stuff
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/beams.dm
  icons/obj/guns/incendiary_laser.dmi
Labels: Sprites, Tweak, Balance/Rebalance

#31226 Purge health extension
  baystation12.dme
  code/__defines/health.dm
  code/datums/extensions/health/_health.dm
  code/datums/extensions/health/atom.dm
  code/datums/extensions/health/damage_sources.dm
  code/game/atoms.dm
  code/game/atoms_health.dm
  code/game/gamemodes/cult/runes.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/material/material_weapons.dm
  code/game/objects/structures/inflatable.dm
  code/modules/blob/blob.dm
  code/modules/integrated_electronics/core/assemblies.dm
Labels: Refactor

#31212 Separate exo events from station events
  code/__defines/misc.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/event.dm
  code/modules/events/event_container.dm
  code/modules/events/exo_awakening/exo_awaken.dm
Labels: Tweak

#31227 Make dehydrated carp work properly
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
  code/game/objects/items/traitor_plush.dm
Labels: Fix
