Repository Baystation12/Baystation12, pull requests merged in 2021-11, with the labels that each got.

#31317 Replace-all function for RPED, lower cost
  code/game/machinery/_machines_base/machinery_components.dm
  code/modules/research/designs/designs_stock_part.dm
  code/modules/research/part_replacer.dm
Labels: Tweak

#31324 Fix Arm-Shotgun not having sprite when unloaded
  icons/obj/augment.dmi
Labels: Sprites, Fix

#31348 Removes wing fang chu
  code/datums/trading/food.dm
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: Revert/Removal

#31322 Fixes health death state calls being reversed
  code/game/atoms_health.dm
Labels: Fix

#31289 Structure standardized health
  code/game/atoms.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/machinery/doors/airlock_interactions.dm
  code/game/objects/items/devices/t_scanner.dm
  code/game/objects/structures.dm
  code/game/objects/structures/barricade.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/game/objects/structures/crates_lockers/closets/secure/_secure_closets.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/game/objects/structures/displaycase.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/railing.dm
  code/game/objects/structures/rubble.dm
  code/game/objects/structures/wall_frame.dm
  code/game/objects/structures/window.dm
  code/modules/blob/blob.dm
  code/modules/events/disposals_explosion.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/building_chorus.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/tier_five.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/tier_four.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/tier_one.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/tier_three.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/tier_two.dm
  code/modules/recycling/disposalpipe.dm
  code/modules/tables/flipping.dm
  code/modules/tables/interactions.dm
  code/modules/tables/tables.dm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/blueriver/blueriver.dm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/lost_supply_base/lost_supply_base.dmm
  maps/away/meatstation/meatstation.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/z1_admin.dmm
  test/check-paths.sh
Labels: Refactor

#31325 ZAS fixes
  code/modules/ZAS/Turf.dm
Labels: Fix

#31333 Add Command Suit Cycler
  code/datums/item_modifiers/space_suits.dm
  code/game/machinery/suit_cycler.dm
  code/game/machinery/suit_cycler_units.dm
  code/game/machinery/suit_storage_units.dm
  maps/torch/torch6_bridge.dmm
Labels: Map, Tweak

#31359 blobs don't spread over walls and lava
  code/__defines/turfs.dm
  code/game/turfs/space/space.dm
  code/game/turfs/unsimulated.dm
  code/game/turfs/unsimulated/beach.dm
  code/modules/blob/blob.dm
  code/modules/mining/mine_turfs.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
Labels: Tweak, Fix

#31360 Fix blob update icon calling too early
  code/modules/blob/blob.dm
Labels: Sprites, Fix

#31361 Fix windows not breaking when dead
  code/game/objects/structures/window.dm
Labels: Fix

#31277 Adds Powerfist Augment Weapon
  baystation12.dme
  code/modules/augment/active/powerfist.dm
  code/modules/codex/entries/augments.dm
  code/modules/research/designs/designs_mechfab.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/augment.dmi
Labels: Feature, Sprites

#31366 fix being unable to put suits on other people
  code/modules/mob/living/carbon/human/stripping.dm
Labels: Fix

#31367 Lessen carp stunlocking
  code/modules/mob/living/simple_animal/hostile/carp.dm
Labels: Tweak, Balance/Rebalance

#31368 Add Powerfist to Uplink
  code/datums/uplink/augments.dm
  code/modules/augment/active/powerfist.dm
  code/modules/augment/implanter.dm
Labels: Feature

#31372 Increase exo awakening rarity
  code/modules/events/event_container.dm
Labels: Tweak

#31286 divides head augments in two
  code/__defines/mobs.dm
  code/modules/augment/augment.dm
  code/modules/augment/passive/fluff.dm
Labels: Tweak, Fix
