Repository Baystation12/Baystation12, pull requests merged in 2021-01, with the labels that each got.

#29939 Fixes the caulship airlock
  maps/random_ruins/exoplanet_ruins/ascent_caulship/ascent-1.dmm
Labels: Fix, Map

#29947 The pilot can now get TECHNICAL
  maps/torch/loadout/_defines.dm
Labels: Map, Tweak

#29951 increases voxship spawn chance
  maps/away/voxship/voxship.dm
Labels: Map, Tweak

#29948 Minerborg magboots
  code/modules/mob/living/silicon/robot/modules/module_miner.dm
Labels: Tweak

#29942 Remove pink light tones
  code/modules/power/lighting.dm
Labels: Tweak

#29946 Wallets can hold passports
  code/game/objects/items/weapons/storage/wallets.dm
Labels: Tweak

#29944 Makes webbings and drop pouches lists in loadout
  code/modules/client/preference_setup/loadout/lists/storage.dm
Labels: Tweak

#29968 Remove the 'failed to find viable turf' debug message from exo awakening
  code/modules/events/exo_awaken.dm
Labels: Admin, Revert/Removal

#29956 knife consistency tweaks
  code/game/objects/items/weapons/material/folding.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/material/material_weapons.dm
Labels: Tweak

#29967 Remove rockets from megabot
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
Labels: Revert/Removal

#29958 Fix ascent lights getting random human tones
  code/modules/ascent/ascent_atoms.dm
  code/modules/power/lighting.dm
  maps/away/skrellscoutship/skrellscoutship.dm
Labels: Fix, Map

#29929 Add user message to tweak item failures
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
Labels: Tweak

#29901 Mob spawner tool for admins
  baystation12.dme
  code/modules/admin/buildmode/_datums/mob_spawner.dm
  code/modules/admin/buildmode/mob_spawning.dm
  icons/misc/buildmode.dmi
  nano/templates/mob_mode.tmpl
Labels: Admin, Sprites

#29957 Converts caulship back into an away site, adds docking ring.
  baystation12.dme
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/ascent/ascent_turfs.dm
  html/changelogs/mistakenot4892-caulshipupdate.yml
  maps/away/ascent_caulship/_ascent_caulship.dm
  maps/away/ascent_caulship/ascent-1.dmm
  maps/away/ascent_caulship/ascent_areas.dm
  maps/away/ascent_caulship/ascent_jobs.dm
  maps/away/ascent_caulship/ascent_props.dm
  maps/away/ascent_caulship/ascent_shuttles.dm
  maps/random_ruins/exoplanet_ruins/ascent_caulship/ascent-1.dmm
Labels: Map, Ready for Review

#29983 Adds Smokes to Sec Equipment
  maps/torch/torch5_deck1.dmm
Labels: Feature, Map

#29977 Removes mention of AI from "prison break" event
  code/modules/events/prison_break.dm
Labels: Revert/Removal, Tweak

#29970 Merges boosters and Baselines
  code/__defines/mobs.dm
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/client/preferences_persist.dm
  code/modules/species/outsider/zombie.dm
  code/modules/species/station/human_subspecies.dm
  code/modules/sprite_accessories/accessory_booster.dm
  maps/away/scavver/scavver_gantry_jobs.dm
  maps/away/verne/verne_jobs.dm
Labels: Map, Revert/Removal, Tweak

#28232 Makes chameleon behavior an extension 2
  baystation12.dme
  code/datums/extensions/chameleon.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/clothing/chameleon.dm
  code/modules/codex/entries/guns.dm
  test/check-paths.sh
Labels: Ready for Review, Tweak

#29985 Demaps Space Bikes
  maps/antag_spawn/heist/heist_base.dmm
Labels: Map, Revert/Removal

#29979 Makes lightbulb overlay above lighting
  code/modules/power/lighting.dm
Labels: Tweak

#29925 Make windows paintable
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/devices/paint_sprayer.dm
  code/game/objects/structures/window.dm
  code/modules/codex/entries/tools.dm
  icons/obj/doors/station/fill_glass.dmi
Labels: Feature, Sprites

#29980 Mob spawner fixes
  code/_helpers/turfs.dm
  code/modules/admin/buildmode/_datums/mob_spawner.dm
  code/modules/admin/buildmode/mob_spawning.dm
Labels: Fix

#29993 Fixes shuttles being able to use restricted docks
  maps/torch/torch_overmap.dm
Labels: Fix, Map

#29916 Portal buildmode tool
  baystation12.dme
  code/modules/admin/buildmode/mob_spawning.dm
  code/modules/admin/buildmode/portals.dm
  icons/misc/buildmode.dmi
Labels: Admin, Ready for Review, Sprites

#29468 remove weapon-specific tests
  code/game/machinery/OpTable.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/simple.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/newscaster.dm
  code/modules/admin/admin.dm
  code/modules/admin/create_object.dm
  code/modules/admin/topic.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/random_map/drop/supply.dm
  code/modules/tables/interactions.dm
  code/modules/xenoarcheaology/triggers/force.dm
Labels: Admin

#29995 fixes missing pixels in some prosthetic hands
  icons/mob/human_races/cyberlimbs/bishop/bishop_main.dmi
  icons/mob/human_races/cyberlimbs/bishop/bishop_rook.dmi
  icons/mob/human_races/cyberlimbs/hephaestus/hephaestus_main.dmi
  icons/mob/human_races/cyberlimbs/hephaestus/hephaestus_titan.dmi
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_main.dmi
  icons/mob/human_races/cyberlimbs/nanotrasen/nanotrasen_main.dmi
  icons/mob/human_races/cyberlimbs/xion/xion_main.dmi
  icons/mob/human_races/cyberlimbs/zenghu/zenghu_main.dmi
  icons/mob/human_races/cyberlimbs/zenghu/zenghu_spirit.dmi
Labels: Fix, Sprites

#29981 Newmerc and Admin Shuttle Fixes
  maps/antag_spawn/mercenary/mercenary.dm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_overmap.dm
Labels: Fix, Map

#29997 Fix spawners putting mobs in dense objects, fix copy/paste bug
  code/modules/admin/buildmode/_datums/mob_spawner.dm
  code/modules/admin/buildmode/mob_spawning.dm
Labels: Fix

#29976 The rogue drone swarm no longer claims laser fire was detected.
  code/modules/events/rogue_drones.dm
Labels: Tweak

#29992 Remove submap joining debug log
  code/modules/submaps/submap_join.dm
Labels: Admin

#29991 Render pumps/valves above catwalks
  code/__defines/_planes+layers.dm
  code/modules/atmospherics/components/binary_devices/binary_atmos_base.dm
  code/modules/atmospherics/components/omni_devices/omni_base.dm
  code/modules/atmospherics/components/valve.dm
Labels: Tweak

#29999 Items no longer attack on help intent
  code/_onclick/item_attack.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/detectivework/tools/rag.dm
  html/changelogs/sierrakomodo-help-intent-no-hit.yml
Labels: Tweak

#30012 Ensure doors are always on appropriate turfs
  code/unit_tests/map_tests.dm
  maps/away/casino/casino.dmm
  maps/away/lost_supply_base/lost_supply_base.dmm
  maps/away/miningstation/miningstation.dmm
  maps/away/slavers/slavers_base.dmm
  maps/random_ruins/exoplanet_ruins/radshrine/radshrine.dmm
Labels: Map

#30026 Prevent self-buckle when trying to fold beds
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
Labels: Tweak

#30009 Prevent common id card VV issues
  code/datums/mil_ranks.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/admin/view_variables/vv_set_handlers.dm
Labels: Fix

#30035 Restricts the light/ninja hardsuits to humans and IPCs
  code/modules/clothing/spacesuits/rig/suits/light.dm
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/species/unathi/obj_head_unathi.dmi
  icons/obj/clothing/species/unathi/obj_suit_unathi.dmi
Labels: Sprites, Tweak

#30002 Update exoplanet_ruins/oldpod
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dmm
Labels: Map

#29998 Window color tweaks/fixes
  code/__defines/colors.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/window.dm
  code/modules/turbolift/turbolift_door.dm
  html/changelogs/sierrakomodo-window-color-fixes.yml
Labels: Fix, Tweak

#30042 Revert "Correct linter warnings and errors, update to latest version"
  .github/workflows/test.yml
  code/controllers/subsystems/jobs.dm
  code/controllers/subsystems/vote.dm
  code/datums/outfits/outfit.dm
  code/game/antagonist/station/rogue_ai.dm
  code/game/gamemodes/endgame/endgame.dm
  code/game/gamemodes/endgame/nuclear_explosion/nuclear_explosion.dm
  code/game/gamemodes/objective.dm
  code/game/turfs/simulated.dm
  code/game/world.dm
  code/modules/clothing/rings/material.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/flufftext/Dreaming.dm
  code/modules/hydroponics/grown.dm
  code/modules/maps/swapmaps.dm
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/paperwork/paper.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/shuttles/shuttle.dm
  code/modules/species/station/station.dm
  code/modules/synthesized_instruments/real_instruments.dm
  code/unit_tests/equipment_tests.dm
  test/check-paths.sh
Labels: Revert/Removal

#30038 Raise ZAC-Selenian Understanding
  code/modules/mob/language/human/euro.dm
Labels: Tweak

#30040 Mining beacons emit usable light
  code/modules/mining/mine_items.dm
Labels: Tweak

#30044 material weapon force_divisor is actually a multiplier
  code/game/objects/items/weapons/material/ashtray.dm
  code/game/objects/items/weapons/material/bell.dm
  code/game/objects/items/weapons/material/coins.dm
  code/game/objects/items/weapons/material/folding.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/material/material_weapons.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/items/weapons/material/stick.dm
  code/game/objects/items/weapons/material/swords.dm
  code/game/objects/items/weapons/material/thrown.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/modules/augment/active/armblades.dm
  code/modules/crafting/crafting_butterflyknife.dm
Labels: Ready for Review

#30054 removes two hour rounds
  code/_helpers/time.dm
  code/controllers/configuration.dm
  config/example/config.txt
Labels: Config Update, Revert/Removal, 📜Requires Config Update

#30053 Fixes xenoarch tank size
  code/modules/xenoarcheaology/tools/coolant_tank.dm
Labels: Fix

#30049 Adds Stop Sound button
  code/game/sound.dm
Labels: Feature, Ready for Review

#30056 Quadruples Cyclopes fuel
  maps/antag_spawn/mercenary/mercenary_base.dmm
Labels: Map, Tweak

#30045 remove bug 21jan16
  code/game/antagonist/station/provocateur.dm
  code/modules/mob/language/language.dm
  code/modules/mob/living/carbon/alien/chorus/chorus_topic.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/software.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/mob.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/weapons/melee_physical.dmi
Labels: Fix, Sprites

#30029 Fix Airlocks on Lar Maria away site
  maps/away/lar_maria/lar_maria-2.dmm
Labels: Fix, Map

#30055 Mercs have lost chameleon clothing on spawn.
  maps/antag_spawn/mercenary/mercenary_base.dmm
Labels: Map, Tweak

#30060 Replace lost_supply_base.dmm shuttle with broken supply drone
  maps/away/lost_supply_base/lost_supply_base.dmm
Labels: Map

#30062 Various labcoat sprite fixes
  icons/mob/onmob/onmob_suit.dmi
Labels: Sprites, Tweak

#30047 Adds Neckerchiefs to Loadout
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/under/accessories/accessory.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/obj/clothing/obj_accessories.dmi
  maps/torch/loadout/loadout_accessories.dm
Labels: Feature, Map, Sprites

#30010 Fixes airlock/door placements in away sites
  maps/away/derelict/derelict-station.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/mining/mining-asteroid.dmm
  maps/away/mining/mining-signal.dmm
Labels: Map, Ready for Review

#30034 Fix exoevent runtime
  code/modules/events/exo_awaken.dm
Labels: Ready for Review

#30064 Add Janitor closet light & signs
  code/game/objects/structures/signs.dm
  icons/obj/decals.dmi
  maps/torch/torch2_deck4.dmm
Labels: Map, Sprites

#30020 Nanomed content shuffling
  code/game/machinery/Sleeper.dm
  code/game/machinery/vending.dm
Labels: Ready for Review, Tweak

#30065 Replace voxship-2.dmm's shuttle walls with reinforced titanium
  maps/away/voxship/voxship-2.dmm
Labels: Map

#30075 Makes DN and paralyze logs visible to all staff, not just those with R_ADMIN
  code/modules/admin/admin.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Admin

#30074 Change the 'show job' pref to instead toggle showing overall ready status or not
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/new_player/new_player.dm
Labels: Tweak

#30072 Flag changes in torch6_bridge.dmm
  maps/torch/torch6_bridge.dmm
Labels: Fix, Map

#30037 Window repairing
  code/game/objects/structures.dm
  code/game/objects/structures/window.dm
  code/modules/materials/_materials.dm
  html/changelogs/sierrakomodo-repairable-windows.yml
Labels: Feature, Tweak

#30080 removes mining-signal.dmm's cursed walls
  maps/away/mining/mining-signal.dmm
Labels: Map

#30085 Add pref option to toggle the observer join message on/off.
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/new_player/new_player.dm
Labels: Feature

#30084 Medium-size update to the Icarus away site
  maps/away/icarus/icarus-1.dmm
  maps/away/icarus/icarus-2.dmm
Labels: Map

#30086 Prevents inflatables from being used in space
  code/game/objects/structures/inflatable.dm
Labels: Ready for Review, Tweak

#29987 removes ascent control minds not being able to state laws on worldnet
  code/modules/mob/living/silicon/robot/preset.dm
Labels: Fix, Ready for Review

#30087 removes neutral colors from lightbulbs during emergencies
  code/modules/power/lighting.dm
Labels: Fix

#30089 Remove shuttle walls from casino.dmm
  maps/away/casino/casino.dmm
Labels: Map

#30081 removes uncertainty about round lengths
  code/modules/mob/new_player/new_player.dm
Labels: Revert/Removal, Tweak

#30095 Swaps raider thermals for NVGs
  code/game/antagonist/outsider/raider.dm
  maps/antag_spawn/heist/heist_base.dmm
Labels: Map, Tweak

#30093 removes planet mob repopulation via an admin verb
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/overmap/exoplanets/exoplanet.dm
Labels: Admin, Ready for Review

#30092 removes some globals in favor of other globals
  baystation12.dme
  code/__defines/misc.dm
  code/_global_vars/configuration.dm
  code/_global_vars/sensitive.dm
  code/_helpers/files.dm
  code/_helpers/global_access.dm
  code/_helpers/time.dm
  code/_helpers/type2type.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/initialization/misc.dm
  code/controllers/subsystems/initialization/webhooks.dm
  code/controllers/subsystems/jobs.dm
  code/controllers/subsystems/ticker.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/explosion.dm
  code/game/objects/structures/pit.dm
  code/game/world.dm
  code/hub.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_investigate.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/secrets/fun_secrets/triple_ai_mode.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/custom_event.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/getlogs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/tripAI.dm
  code/modules/client/client_procs.dm
  code/modules/economy/Accounts.dm
  code/modules/events/gravity.dm
  code/modules/games/spaceball_cards.dm
  code/modules/mob/logout.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/webhooks/webhook_custom_event.dm
  config/example/config.txt
  config/example/torch_config.txt
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dm
  maps/torch/structures/signs.dm
  maps/~mapsystem/maps.dm
  test/check-paths.sh
  test/run-test.sh
Labels: Admin, Config Update, Map, Revert/Removal

#30094 removes old suit icons in favor of new ones
  html/changelogs/pebblesthe2nd-PR-30094.yml
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_suit.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
Labels: Map, Sprites

#30079 removes previous mob spawner qol in favor of better qol
  code/modules/admin/buildmode/_datums/mob_spawner.dm
  code/modules/admin/buildmode/mob_spawning.dm
  nano/templates/mob_mode.tmpl
Labels: Admin
