Repository Baystation12/Baystation12, pull requests merged in 2022-12, with the labels that each got.

#32769 correct map format after 32727
  maps/away/bearcat/bearcat-2.dmm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/casino/casino.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/yacht/yacht.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#32754 vending machine housekeeping
  baystation12.dme
  code/datums/vending/vending.dm
  code/datums/wires/vending.dm
  code/datums/wires/wires.dm
  code/game/machinery/vending.dm
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/_vending_products.dm
  code/game/machinery/vending/_vending_refill.dm
  code/game/machinery/vending/_wires.dm
  code/game/machinery/vending/adherent.dm
  code/game/machinery/vending/antag.dm
  code/game/machinery/vending/boda.dm
  code/game/machinery/vending/boozeomat.dm
  code/game/machinery/vending/cigarette.dm
  code/game/machinery/vending/coffee.dm
  code/game/machinery/vending/cola.dm
  code/game/machinery/vending/containers.dm
  code/game/machinery/vending/dinnerware.dm
  code/game/machinery/vending/engineering.dm
  code/game/machinery/vending/engivend.dm
  code/game/machinery/vending/fashion.dm
  code/game/machinery/vending/fitness.dm
  code/game/machinery/vending/games.dm
  code/game/machinery/vending/generic.dm
  code/game/machinery/vending/hotfood.dm
  code/game/machinery/vending/hydronutrients.dm
  code/game/machinery/vending/hydroseeds.dm
  code/game/machinery/vending/lavatory.dm
  code/game/machinery/vending/medical.dm
  code/game/machinery/vending/mre.dm
  code/game/machinery/vending/phoron.dm
  code/game/machinery/vending/props.dm
  code/game/machinery/vending/robotics.dm
  code/game/machinery/vending/security.dm
  code/game/machinery/vending/snack.dm
  code/game/machinery/vending/snix.dm
  code/game/machinery/vending/soda.dm
  code/game/machinery/vending/sol.dm
  code/game/machinery/vending/tool.dm
  code/game/machinery/vending/wallmed1.dm
  code/game/machinery/vending/wallmed2.dm
  code/game/machinery/vending/weeb.dm
  code/game/machinery/vending/wizard.dm
  code/game/machinery/vending_deconstruction.dm
  code/game/objects/items/weapons/circuitboards/machinery/household.dm
  maps/antag_spawn/ert/ert_base.dmm
  maps/away/casino/casino.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/z1_admin.dmm
Labels: Map

#32772 Re-do mapping of distress signals
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/casino/casino.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/yacht/yacht.dmm
  maps/event/iccgn_ship/icgnv_hound.dmm
  maps/event/sfv_arbiter/sfv_arbiter.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#32777 Move aft hallway area boundaries to match physical separators
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

#32786 Return nanoblood to medbay
  maps/torch/torch5_deck1.dmm
Labels: Map

#32790 Offsite aluminum & cooling
  maps/antag_spawn/heist/heist_base.dmm
  maps/antag_spawn/ninja/ninja_base.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmm
Labels: Map

#32800 Sensor fixes
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/research/designs/designs_circuits.dm
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/torch/torch1_deck5.dmm
Labels: Map

#32796 Explosion updates
  code/__defines/misc.dm
  code/controllers/configuration.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/HARDWARE.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_manipulation.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/machinery/barrier.dm
  code/game/machinery/bluespace_drive.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/arcade_orion.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/nuclear_bomb.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/effects/mines.dm
  code/game/objects/explosion.dm
  code/game/objects/items/devices/personal_shield.dm
  code/game/objects/items/devices/powersink.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/traitor_plush.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/grenades/explosive.dm
  code/game/objects/items/weapons/grenades/supermatter.dm
  code/game/objects/items/weapons/implants/implants/explosive.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/objects/items/weapons/weldbackpack.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/mechs/mech_life.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/phorogenic.dm
  code/modules/mob/living/simple_animal/hostile/hivebot/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
  code/modules/organs/external/_external.dm
  code/modules/overmap/disperser/disperser_charge.dm
  code/modules/overmap/disperser/disperser_fire.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fusion_reactions.dm
  code/modules/power/lighting.dm
  code/modules/power/port_gen.dm
  code/modules/power/singularity/act.dm
  code/modules/power/singularity/collector.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/smes.dm
  code/modules/power/smes_construction.dm
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/projectiles/guns/projectile/flaregun.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/random_map/drop/droppod.dm
  code/modules/random_map/drop/supply.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/shieldgen/emergency_shield.dm
  code/modules/spells/targeted/projectile/fireball.dm
  code/modules/supermatter/supermatter.dm
  config/example/config.txt
  test/check-paths.sh
Labels: Config Update, Repo

#32803 double vox ship generators & uranium, add coolant
  code/modules/materials/material_sheets.dm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship.dm
Labels: Map

#32802 Clear trash heap turfs
  maps/random_ruins/exoplanet_ruins/trash_heap/trash_heap.dmm
Labels: Map

#32808 Weapon touchups and shotgun sawing
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/guns/shotguns.dmi
Labels: Sprites

#32812 More shotgun fixes
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/obj/guns/shotguns.dmi
Labels: Sprites

#32814 Standardized Health Everything
  code/game/atoms_health.dm
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/barrier.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/doors/airlock_interactions.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/admin/buildmode/turret.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/modular_computer/damage.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/computers/modular_computer/variables.dm
  code/modules/modular_computers/computers/subtypes/dev_laptop.dm
  code/modules/modular_computers/computers/subtypes/dev_telescreen.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/power/solar.dm
  code/modules/shieldgen/emergency_shield.dm
  maps/away/errant_pisces/errant_pisces.dm
  test/check-paths.sh
Labels: Repo

#32841 fixes alert light position in bridge saferoom
  maps/torch/torch6_bridge.dmm
Labels: Map

#32837 Runtime batch 2022 12 26
  code/controllers/subsystems/zcopy.dm
  code/datums/trading/unique.dm
  code/game/atoms_movable.dm
  code/modules/mining/machinery/mineral_console.dm
  code/modules/organs/internal/species/ipc.dm
  code/modules/species/species_random.dm
  maps/away/casino/casino.dm
  maps/away/casino/casino.dmm
Labels: Map
