Repository Baystation12/Baystation12, pull requests merged in 2022-10, with the labels that each got.

#32594 fixes invisible shields
  code/game/objects/items/weapons/shields.dm
  icons/mob/onmob/onmob_back.dmi
Labels: Sprites

#32593 Adds Deck Crew Helmets and new hazard vests
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/jobs.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  maps/torch/loadout/loadout_head.dm
  maps/torch/structures/closets/supply.dm
Labels: Sprites

#32618 saws the sawed-off shotgun off
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
Labels: Sprites

#32575 Anomaly Containers are now machinery
  code/datums/supplypacks/science.dm
  code/game/objects/items/weapons/circuitboards/machinery/research.dm
  code/modules/research/designs/designs_circuits.dm
  code/modules/xenoarcheaology/anomaly_container.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
  icons/obj/xenoarchaeology.dmi
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/random_ruins/exoplanet_ruins/deserted_lab/deserted_lab.dmm
  maps/random_ruins/exoplanet_ruins/icarus/icarus.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/torch/torch1_deck5.dmm
Labels: Map, Sprites

#32611 Add more Soap
  code/game/objects/items/weapons/soap.dm
  code/game/objects/random/random.dm
  icons/obj/soap.dmi
Labels: Sprites

#32616 White/Medical Hazard Vests
  code/modules/clothing/suits/jobs.dm
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: Sprites

#32513 Bloodbags
  code/datums/supplypacks/medical.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  maps/torch/torch5_deck1.dmm
Labels: Map

#32657 Resprites medical tools, IVs, Prosthfabs, freezers and nanopaste
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/game/objects/structures/iv_drip.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  icons/obj/bloodpack.dmi
  icons/obj/iv_drip.dmi
  icons/obj/medical.dmi
  icons/obj/nanopaste.dmi
  icons/obj/surgery.dmi
Labels: Sprites

#32646 Miscellaneous changes to Bags of holding, recycling, crystal agent and swiss knives
  code/game/objects/items/weapons/circuitboards/circuitboard.dm
  code/game/objects/items/weapons/material/swiss.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/pointdefense/pointdefense.dm
  code/modules/psionics/null/chemistry.dm
  code/modules/psionics/null/material.dm
  code/modules/psionics/null/material_sheet.dm
  code/modules/reagents/heat_sources/_heat_source.dm
  code/modules/research/designs/designs_bluespace.dm
  code/modules/research/designs/designs_circuits.dm
  code/modules/research/designs/designs_medical.dm
  code/modules/research/designs/designs_singletons.dm
  icons/mob/onmob/onmob_back.dmi
  icons/obj/storage.dmi
  icons/turf/flooring/tiles.dmi
Labels: Sprites

#32647 Cheeki/challenge coins
  baystation12.dme
  code/__defines/flags.dm
  code/__defines/materials.dm
  code/_helpers/maths.dm
  code/_onclick/item_attack.dm
  code/datums/extensions/multitool/items/cable.dm
  code/game/machinery/biogenerator.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/cable_painter.dm
  code/game/objects/items/weapons/material/coins.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/random/random.dm
  code/game/turfs/simulated.dm
  code/game/turfs/space/space.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/client/preference_setup/loadout/lists/trinkets.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/material_sheets.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/multiz/turf.dm
  code/modules/power/cable_coil.dm
  code/modules/power/cable_structure.dm
  code/modules/power/power.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  icons/obj/coin.dmi
  maps/away/magshield/magshield.dmm
  maps/torch/icons/obj/coins.dmi
  maps/torch/items/coins.dm
  maps/torch/loadout/loadout_misc.dm
  maps/torch/torch.dm
  packs/faction_iccgn/_pack.dm
  packs/faction_iccgn/coins.dm
  packs/faction_iccgn/coins.dmi
  test/check-paths.sh
Labels: Map, Sprites, Repo

#32658 Ports some Sprites (by Cerebulon/listerla/walterje)
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/simple_animal/animal.dmi
  icons/obj/guns/plasmacutter.dmi
  icons/obj/items.dmi
  icons/obj/machines/shielding.dmi
  icons/obj/stationobjs.dmi
  icons/obj/storage.dmi
  icons/obj/structures.dmi
  icons/obj/tools.dmi
  icons/obj/weapons/melee_physical.dmi
Labels: Sprites

#32668 New Icons for Many, Many Guns
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/boltaction.dmi
  icons/obj/guns/broomstick.dmi
  icons/obj/guns/bullpup_rifle.dmi
  icons/obj/guns/bullpup_rifle_light.dmi
  icons/obj/guns/garand.dmi
  icons/obj/guns/pistol_throwback.dmi
  icons/obj/guns/semistrip.dmi
  maps/torch/datums/supplypacks/security.dm
Labels: Sprites

#32674 Add empty sector for event usage
  maps/event/empty/empty.dm
  maps/event/empty/empty.dmm
  maps/torch/torch.dm
Labels: Map

#32675 Resprites medical equipment
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/mob/onmob/onmob_belt.dmi
  icons/obj/chemical.dmi
  icons/obj/defibrillator.dmi
  icons/obj/medical.dmi
  icons/obj/reagentfillings.dmi
  icons/obj/syringe.dmi
Labels: Sprites

#32680 Adds a bluespace ghost simplemob
  baystation12.dme
  code/modules/mob/living/simple_animal/hostile/bluespace.dm
  icons/mob/simple_animal/bluespace.dmi
Labels: Sprites

#32693 Add aromantic pin
  code/datums/supplypacks/nonessent.dm
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/under/accessories/pride_pin.dm
  icons/obj/clothing/obj_accessories.dmi
Labels: Sprites

#32694 Remove tails from collectible cat/bun ears
  icons/mob/onmob/onmob_head.dmi
Labels: Sprites

#32697 update byond version for tests to 1589
  .github/workflows/test.yml
Labels: Repo

#32692 More Canon Memorablia
  code/game/objects/munition.dm
  icons/obj/munitions.dmi
  maps/torch/structures/memorabilia.dm
  maps/torch/torch3_deck3.dmm
Labels: Map, Sprites

#32698 code and map CI is skipped if dreamchecker fails
  .github/workflows/test.yml
Labels: Repo
