Repository Baystation12/Baystation12, pull requests merged in 2022-09, with the labels that each got.

#32499 Revamped Barsigns
  code/game/objects/structures/barsign.dm
  icons/obj/barsigns.dmi
Labels: Sprites

#32502 SSV anomaly and science equipment
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship_areas.dm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
Labels: Map

#32506 Skrellship lab tweaks
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

#32507 Adds Th'oom plushie to Skrellship
  code/game/objects/items/toys.dm
  icons/obj/toy.dmi
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map, Sprites

#32473 Add a new event shuttle, let the Hound dock to the Torch
  code/controllers/communications.dm
  maps/event/iccgn_ship/icgnv_hound.dmm
  maps/event/iccgn_ship/icgnv_hound_shuttle.dm
  maps/event/sfv_arbiter/sfv_arbiter.dm
  maps/event/sfv_arbiter/sfv_arbiter.dmm
  maps/event/sfv_arbiter/sfv_arbiter_shuttle.dm
  maps/torch/torch.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_overmap.dm
Labels: Map

#32504 strict suite diagnostics
  SpacemanDMM.toml
  code/_onclick/hud/ability_screen_objects.dm
  code/datums/datum.dm
  code/datums/observation/density_set.dm
  code/datums/observation/dir_set.dm
  code/datums/observation/equipped.dm
  code/datums/observation/hands_swapped.dm
  code/datums/observation/unequipped.dm
  code/game/atoms.dm
  code/game/atoms_fluids.dm
  code/game/objects/items.dm
  code/modules/ZAS/Atom.dm
  code/modules/admin/view_variables/helpers.dm
  code/modules/detectivework/forensics.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
  code/unit_tests/map_tests.dm
  maps/_maps.dm
  maps/mapsystem/map_preferences.dm
  maps/mapsystem/map_ranks.dm
  maps/mapsystem/maps.dm
  maps/mapsystem/maps_announcements.dm
  maps/mapsystem/maps_areas.dm
  maps/mapsystem/maps_jobs.dm
  maps/mapsystem/maps_unit_testing.dm
  maps/unit_tests/unit_testing.dm
  maps/unit_tests/virtual_mob_test.dmm
Labels: Map, Repo

#32511 Attempts to fix the mining station airlock
  maps/away/mininghome/mininghome.dm
  maps/away/mininghome/mininghome.dmm
Labels: Map

#32492 more tooling
  .codebeatignore
  .codebeatsettings
  .github/workflows/codeql-analysis.yml
  .vscode/extensions.json
  code/modules/goonchat/browserassets/html/browserOutput.html
  code/modules/goonchat/browserassets/js/browserOutput.js
  rome.json
Labels: Repo, github_actions

#32498 serving bowl & sandwich fixes and enhancements
  code/modules/reagents/reagent_containers/food/sandwich.dm
  code/modules/reagents/reagent_containers/food/servingbowl.dm
  icons/obj/food_custom.dmi
Labels: Sprites

#32522 Fix SFV Arbiter access, add syndicate ids
  maps/event/sfv_arbiter/sfv_arbiter.dm
  maps/event/sfv_arbiter/sfv_arbiter.dmm
Labels: Map

#32526 Voxship QOL Changes
  maps/away/voxship/voxship-2.dmm
Labels: Map, Lore Approved

#32505 upgrade the maintenance jack
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/braces.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/research/designs/designs_tool.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/tools.dmi
  maps/away/scavver/scavver_gantry-1.dmm
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dmm
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/torch/structures/closets/engineering.dm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map, Sprites

#32406 Integrate bugmeat into main repo
  baystation12.dme
  code/modules/reagents/reagent_containers/food/snacks/bugmeat.dm
  icons/obj/food_bugmeat.dmi
  packs/event_2022jul30/_pack.dm
Labels: Sprites

#32534 adds skrell emotes and speech sounds
  baystation12.dme
  code/modules/emotes/definitions/audible.dm
  code/modules/emotes/skrell.dm
  code/modules/species/station/station.dm
  sound/skrell/anger1.ogg
  sound/skrell/anger2.ogg
  sound/skrell/credit.txt
  sound/skrell/laughter1.ogg
  sound/skrell/peep1.ogg
  sound/skrell/trill1.ogg
  sound/skrell/trill2.ogg
  sound/skrell/warble1.ogg
  sound/skrell/warble2.ogg
  sound/skrell/warble3.ogg
Labels: Sound, Lore Approved

#32533 adds exactly one hair
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Sprites

#32537 More Barsigns AND 4-way moog sprites
  code/game/objects/structures/barsign.dm
  code/modules/synthesized_instruments/real_instruments/Synthesizer/synthesizer.dm
  icons/obj/barsigns.dmi
  icons/obj/musician.dmi
Labels: Sprites

#32549 adds 2 pistols
  code/datums/trading/weaponry.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/game/antagonist/station/renegade.dm
  code/game/objects/effects/spawners/guns.dm
  code/game/objects/random/random.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  icons/obj/guns/machine_pistol.dmi
  icons/obj/guns/magnum_pistol.dmi
  icons/obj/guns/military_pistol.dmi
  icons/obj/guns/military_pistol2.dmi
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/event/iccgn_ship/icgnv_hound.dmm
  maps/event/sfv_arbiter/sfv_arbiter.dmm
  maps/random_ruins/exoplanet_ruins/icarus/icarus.dm
  maps/random_ruins/exoplanet_ruins/icarus/icarus.dmm
  maps/torch/datums/antags/deathsquad.dm
  maps/torch/datums/antags/ert.dm
  maps/torch/datums/antags/foundation.dm
  maps/torch/datums/antags/mercenary.dm
  maps/torch/datums/antags/raider.dm
  maps/torch/datums/antags/renegade.dm
  maps/torch/datums/supplypacks/security.dm
  maps/torch/datums/traders.dm
  maps/torch/datums/uplink.dm
  maps/torch/icons/obj/weapons.dmi
  maps/torch/items/wallets.dm
  maps/torch/items/weapons.dm
  maps/torch/spawners.dm
  maps/torch/torch.dm
  packs/faction_iccgn/_pack.dm
  packs/faction_iccgn/weapons.dm
  packs/faction_iccgn/weapons.dmi
Labels: Map, Sprites

#32550 add codeql config, codql only runs on tools & nano
  .github/codeql/config.yml
  .github/workflows/codeql-analysis.yml
Labels: Repo

#32552 adds th'oom juice
  code/datums/supplypacks/galley.dm
  code/game/machinery/vending.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  icons/obj/drinks.dmi
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map, Sprites

#32554 Minor grammar, spelling fixes
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/bugmeat.dm
  icons/obj/food.dmi
Labels: Sprites

#32561 Adds Meatbeast
  baystation12.dme
  code/modules/mob/living/simple_animal/friendly/alien.dm
  icons/mob/simple_animal/animal.dmi
Labels: Sprites, Lore Approved

#32572 update workflows
  .github/workflow-config/codeql.yml
  .github/workflow-config/preflight-filters.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
Labels: Repo

#32573 resolve post-merge tests issue
  scripts/validateTestingContainsAllMaps.sh
  test/run-test.sh
Labels: Repo

#32574 Lore related updates
  code/game/objects/items/passport.dm
  code/modules/culture_descriptor/culture/cultures_human.dm
  code/modules/culture_descriptor/location/locations_human.dm
Labels: Do Not Merge

#32559 Adds th'oom
  code/modules/ai/say_list.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  icons/mob/simple_animal/animal.dmi
Labels: Sprites, Lore Approved

#32579 Shield resprite, minor unathi bomb/fire suit fixes
  code/game/objects/items/weapons/shields.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/mob/species/unathi/generated/onmob_head_unathi.dmi
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
  icons/obj/weapons/melee_energy.dmi
  icons/obj/weapons/melee_physical.dmi
Labels: Sprites

#32580 Remove noback panties
  code/datums/underwear/bottom.dm
  icons/mob/human.dmi
Labels: Sprites

#32577 add some more plushies
  code/game/objects/items/toys.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  icons/obj/toy.dmi
Labels: Sprites

#32565 Adds Aquaculture
  baystation12.dme
  code/__defines/hydroponics.dm
  code/datums/supplypacks/hydroponics.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/objects/items/devices/scanners/plant.dm
  code/game/objects/items/weapons/storage/specialized.dm
  code/modules/food/recipes_microwave.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/mob/living/simple_animal/friendly/crab.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/exoplanet.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_crab.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/shellfish.dm
  icons/obj/food.dmi
  icons/obj/food_shellfish.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/seeds.dmi
Labels: Update Wiki after Merge, Sprites

#32587 hopefully corrects codeql to not die
  .github/workflows/codeql-analysis.yml
Labels: Repo

#32588 re-corrects codeql scope & config path
  .github/workflows/codeql-analysis.yml
Labels: Repo
