Repository Baystation12/Baystation12, pull requests merged in 2022-11, with the labels that each got.

#32713 audio tweaks
  code/controllers/master.dm
  code/datums/vote/vote.dm
  code/game/world.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/mob/login.dm
  sound/ui/lobby-notify.ogg
  sound/ui/pm-notify.ogg
  sound/ui/vote-notify.ogg
Labels: Sound

#32710 Ports THE RAT from Polaris
  code/modules/client/preference_setup/loadout/lists/pet.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  icons/mob/simple_animal/animal.dmi
Labels: Sprites

#32721 Puppies, bluespace dragons, and simplemob revives
  code/modules/mob/living/simple_animal/friendly/juvenile_space_whale.dm
  code/modules/mob/living/simple_animal/hostile/drake.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/space_whale.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/simple_animal/animal.dmi
  icons/mob/simple_animal/bluespace_dragon.dmi
Labels: Sprites

#32730 Re-adds NanoBlood to medical.
  maps/torch/torch5_deck1.dmm
Labels: Map

#32715 energy shields have sounds
  code/_macros.dm
  code/game/objects/items/weapons/shields.dm
  sound/obj/item/shield/energy/shield-loop.ogg
  sound/obj/item/shield/energy/shield-start.ogg
  sound/obj/item/shield/energy/shield-stop.ogg
Labels: Sound

#32735 New sprites for xenobio
  code/modules/mob/living/carbon/xenobiological/items.dm
  icons/obj/chemical.dmi
Labels: Sprites

#32746 Fixes Crackers and dopplers
  code/game/machinery/cracker.dm
  code/game/machinery/doppler_array.dm
  icons/obj/machines/research.dmi
Labels: Sprites

#32558 Deepmaint
  baystation12.dme
  code/game/objects/random/random.dm
  code/modules/events/deepmaint_event.dm
  code/modules/random_map/dungeon/deepmaint.dm
  code/modules/random_map/dungeon/jp_dungeon_gen.dm
  code/modules/random_map/dungeon/rooms/deepmain_room.dm
  maps/deepmaint/deepmaint-1.dmm
  maps/deepmaint/deepmaint-2.dmm
  maps/deepmaint/deepmaint-3.dmm
  maps/deepmaint/deepmaint.dm
  maps/deepmaint/deepmaint_rooms/core/_core_rooms.dm
  maps/deepmaint/deepmaint_rooms/core/ai_core.dmm
  maps/deepmaint/deepmaint_rooms/core/archive.dmm
  maps/deepmaint/deepmaint_rooms/core/diner.dmm
  maps/deepmaint/deepmaint_rooms/core/maint_asteroid.dmm
  maps/deepmaint/deepmaint_rooms/core/medbay.dmm
  maps/deepmaint/deepmaint_rooms/core/telecoms.dmm
  maps/deepmaint/deepmaint_rooms/normal/_normal_rooms.dm
  maps/deepmaint/deepmaint_rooms/normal/angry_unionists.dmm
  maps/deepmaint/deepmaint_rooms/normal/asteroid_bar.dmm
  maps/deepmaint/deepmaint_rooms/normal/casino.dmm
  maps/deepmaint/deepmaint_rooms/normal/catwalks.dmm
  maps/deepmaint/deepmaint_rooms/normal/diner.dmm
  maps/deepmaint/deepmaint_rooms/normal/engine_room.dmm
  maps/deepmaint/deepmaint_rooms/normal/geese_observation.dmm
  maps/deepmaint/deepmaint_rooms/normal/lab.dmm
  maps/deepmaint/deepmaint_rooms/normal/medical.dmm
  maps/deepmaint/deepmaint_rooms/normal/office.dmm
  maps/deepmaint/deepmaint_rooms/normal/pirate_asteroid.dmm
  maps/deepmaint/deepmaint_rooms/normal/robot_asteroid.dmm
  maps/deepmaint/deepmaint_rooms/normal/ship_wreck.dmm
  maps/deepmaint/deepmaint_rooms/normal/supply.dmm
  maps/deepmaint/deepmaint_rooms/normal/tundra.dmm
  maps/deepmaint/deepmaint_rooms/normal/vampire_lair.dmm
  maps/deepmaint/deepmaint_rooms/template.dm
  maps/deepmaint/deepmaint_rooms/template.dmm
  test/check-paths.sh
Labels: Map, Repo
