Repository Baystation12/Baystation12, pull requests merged in 2022-06, with the labels that each got.

#32150 Allow any do_after bars to appear over actor or actee
  code/__defines/mobs.dm
  code/_helpers/mobs.dm
  code/datums/progressbar.dm
  code/game/atoms.dm
  code/game/machinery/computer/ai_core.dm
  code/modules/mob/living/maneuvers/_maneuver.dm
  icons/effects/progessbar.dmi
Labels: Sprites

#32171 Fire at the disco
  baystation12.dme
  code/controllers/subsystems/air.dm
  code/controllers/subsystems/turf_fire.dm
  code/game/machinery/alarm.dm
  code/game/machinery/doors/door.dm
  code/game/objects/effects/decals/Cleanable/fuel.dm
  code/game/objects/effects/fire/fire.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_changing.dm
  code/modules/ZAS/Fire.dm
  code/modules/ZAS/Zone.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/codex/entries/exosuits.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/research/designs/designs_mechfab.dm
  icons/effects/turf_fire.dmi
  icons/mecha/mech_equipment.dmi
  icons/mecha/mech_weapon_overlays.dmi
  icons/obj/flamethrower_new.dmi
  sound/items/welderactivate.ogg
  sound/items/welderdeactivate.ogg
  sound/weapons/guns/flamethrower1.ogg
  sound/weapons/guns/flamethrower2.ogg
  sound/weapons/guns/flamethrower3.ogg
  sound/weapons/guns/flamethrower_empty.ogg
Labels: Sprites, Sound

#32192 Minor survivability update for raiders
  maps/antag_spawn/heist/heist_base.dmm
Labels: Map

#32200 Fix skybox and openspace light issues
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/_onclick/hud/skybox.dm
  code/controllers/subsystems/zcopy.dm
  icons/effects/lighting_overlay.dmi
Labels: Sprites

#32209 Add gas meter to charon main fuel line
  maps/torch/torch1_deck5.dmm
Labels: Map

#32199 Add EC science duty gloves + Science bowman + Bowman sprite changes
  icons/mob/onmob/onmob_ears.dmi
  icons/obj/radio.dmi
  maps/torch/datums/uniforms_expedition.dm
  maps/torch/icons/mob/onmob_hands_solgov.dmi
  maps/torch/icons/obj/obj_hands_solgov.dmi
  maps/torch/items/clothing/solgov-hands.dm
  maps/torch/items/encryption_keys.dm
  maps/torch/items/headsets.dm
  maps/torch/job/outfits/corporate_outfits.dm
  maps/torch/job/outfits/research_outfits.dm
  maps/torch/outfits/scgec.dm
  maps/torch/structures/closets/research.dm
Labels: Sprites

#32227 Adds Foam Flip Flobsters
  code/modules/client/preference_setup/loadout/lists/footwear.dm
  code/modules/clothing/shoes/miscellaneous.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/obj/clothing/obj_feet.dmi
Labels: Sprites
