Repository Baystation12/Baystation12, pull requests merged in 2022-04, with the labels that each got.

#31819 Add paint build mode
  baystation12.dme
  code/modules/admin/buildmode/paint.dm
  icons/misc/buildmode.dmi
Labels: Sprites

#31832 test workflow to current build
  .github/workflows/test.yml
Labels: Repo

#31825 callproc global proc fix, add path argument
  code/modules/admin/callproc/callproc.dm
  test/check-paths.sh
Labels: Repo

#31833 Holomaps
  baystation12.dme
  code/__defines/_planes+layers.dm
  code/__defines/holomap.dm
  code/__defines/misc.dm
  code/__defines/subsystems.dm
  code/_macros.dm
  code/_onclick/hud/global_hud.dm
  code/controllers/subsystems/holomap.dm
  code/game/area/Space Station 13 areas.dm
  code/game/machinery/constructable_frame.dm
  code/game/objects/items/weapons/circuitboards/machinery/household.dm
  code/modules/holomap/holomap_areas.dm
  code/modules/holomap/ship_holomap.dm
  code/modules/research/designs/designs_circuits.dm
  icons/480x480.dmi
  icons/effects/64x64.dmi
  icons/misc/holomap_markers.dmi
  icons/obj/machines/stationmap.dmi
  icons/obj/stock_parts.dmi
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
  test/run-test.sh
Labels: Map, Sprites, Repo

#31835 Reworked SCG decorations (medals & ribbons)
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/icons/obj/obj_accessories_solgov.dmi
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/loadout/loadout_accessories.dm
Labels: Sprites

#31861 revert planet unsim
  code/game/objects/items/blueprints.dm
  code/game/objects/items/devices/scanners/mining.dm
  code/game/objects/structures/pit.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/footsteps.dm
  code/game/turfs/turf.dm
  code/modules/mining/drilling/drill.dm
  code/modules/mining/mine_items.dm
  code/modules/mining/mine_turfs.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/exoplanets/exoplanet_fauna.dm
  code/modules/overmap/exoplanets/planet_themes/radiation_bombing.dm
  code/modules/overmap/exoplanets/planet_themes/ruined_city.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/overmap/exoplanets/random_map.dm
  code/modules/overmap/exoplanets/turfs.dm
  code/modules/random_map/noise/ore.dm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/meatstation/meatstation.dmm
  maps/away/mining/mining-orb.dmm
  maps/away/mobius_rift/mobius_rift.dmm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dmm
  maps/random_ruins/exoplanet_ruins/monoliths/monoliths.dm
  maps/random_ruins/exoplanet_ruins/oasis/oasis.dmm
  maps/random_ruins/exoplanet_ruins/oasis/oasis2.dmm
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/radshrine/radshrine.dmm
  maps/random_ruins/exoplanet_ruins/tar_anomaly/tar_anomaly.dmm
Labels: Map

#31859 Dress shirts for Mogelix
  code/datums/underwear/undershirt.dm
  icons/mob/human.dmi
Labels: Sprites

#31870 git ignores changes to maps/using.dm
  .gitignore
Labels: Repo

#31867 New Balaclava and Gas Mask
  icons/mob/onmob/onmob_mask.dmi
  icons/obj/clothing/obj_mask.dmi
Labels: Sprites

#31788 Engineering redesign part 3: Jetpacks and utility packs
  baystation12.dme
  code/game/objects/items/devices/suit_cooling.dm
  code/game/objects/items/weapons/scrubpack.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/game/objects/items/weapons/weldbackpack.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/codex/entries/engineering.dm
  code/modules/item_worth/worths_list.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/storage.dmi
  icons/obj/suitcooler.dmi
  icons/obj/tank.dmi
  maps/torch/torch5_deck1.dmm
Labels: Map, Sprites

#31842 Engineering Redesign part 5: SMES and PSU
  code/modules/power/batteryrack.dm
  code/modules/power/smes.dm
  icons/obj/cellrack.dmi
  icons/obj/power.dmi
Labels: Sprites

#31880 Backpack Resprite
  code/game/objects/items/weapons/storage/backpack.dm
  icons/mob/onmob/items/lefthand_backpacks.dmi
  icons/mob/onmob/items/righthand_backpacks.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/holowarrant.dmi
  icons/obj/storage.dmi
  maps/torch/items/items.dm
Labels: Sprites

#31881 Denim Hoodie / Jeans tweaks
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/onmob/onmob_under_pants.dmi
Labels: Sprites

#31865 Engineering redesign part 6: Portatmos
  icons/obj/atmos.dmi
Labels: Sprites

#31834 ICCGN event ship
  maps/event/iccgn_ship/icgnv_hound.dm
  maps/event/iccgn_ship/icgnv_hound.dmm
  maps/event/iccgn_ship/icgnv_hound_shuttle.dm
  maps/torch/torch.dm
Labels: Map

#31844 Add security level rotating alarms
  baystation12.dme
  code/datums/security_state.dm
  code/game/machinery/rotating_alarm.dm
  code/game/machinery/rotating_alarm/station_alerts.dm
  code/modules/supermatter/supermatter.dm
  icons/obj/rotating_alarm.dmi
  icons/obj/supermatter.dmi
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_security_state.dm
Labels: Map, Sprites

#31897 Remove bluespace drive from casino
  maps/away/casino/casino.dmm
Labels: Map

#31911 Revert "Reflect Upon your deeds"
  code/game/objects/items/weapons/storage/wall_mirror.dm
  code/modules/lighting/lighting_overlay.dm
  icons/obj/watercloset.dmi
Labels: Sprites

#31914 Gives the rollerbed a new sprite
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/rollerbed.dmi
Labels: Sprites

#31907 Fax tweaks
  code/modules/paperwork/faxmachine.dm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/torch/machinery/faxmachine.dm
  maps/torch/torch.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#31921 Make cyborg upload less hyper-secure
  maps/torch/torch4_deck2.dmm
Labels: Map

#31928 Adds Missing Area Icons
  code/game/area/Space Station 13 areas.dm
  icons/turf/areas.dmi
  maps/away/derelict/derelict_areas.dm
  maps/torch/torch_areas.dm
Labels: Sprites

#31918 New hair sprites by Nol4
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Sprites

#31919 Fixes my sins from previous Bagsprite Port
  icons/mob/onmob/items/lefthand_backpacks.dmi
  icons/mob/onmob/items/righthand_backpacks.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/storage.dmi
Labels: Sprites

#31931 update CODEOWNERS for newer config files
  .github/CODEOWNERS
Labels: Repo

#31930 update editorconfig, vscode settings, extensions
  .editorconfig
  .vscode/extensions.json
  .vscode/settings.json
Labels: Repo

#31934 Fix petrov cables
  maps/torch/torch1_deck5.dmm
Labels: Map

#31936 Deck 4 Hallway Redesign
  icons/turf/areas.dmi
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_areas.dm
Labels: Map, Sprites

#31940 Fixes Overlooked Shuttle Ceiling Tiles
  maps/torch/torch2_deck4.dmm
Labels: Map

#31937 Add codebeat to Repo autotagger
  .github/labeler.yml
Labels: Repo

#31933 Charon Remap
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_shuttles.dm
  maps/torch/torch_unit_testing.dm
Labels: Map

#31942 Updates access requirements on air alarms and atmos laptop
  code/game/machinery/computer/atmos_control.dm
  maps/torch/torch5_deck1.dmm
Labels: Map

#31952 Adds Xenobio Cell Areas
  code/game/area/Space Station 13 areas.dm
  icons/turf/areas.dmi
  maps/torch/torch5_deck1.dmm
Labels: Map, Sprites

#31944 Adds Boron gas to the game, minor RUST chamber tweak
  code/__defines/atmos.dm
  code/datums/supplypacks/atmospherics.dm
  code/game/machinery/atmoalter/canister.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fusion_reactions.dm
  code/modules/xgm/gases.dm
  icons/obj/atmos.dmi
  maps/torch/torch4_deck2.dmm
Labels: Map, Sprites

#31947 Particle time
  baystation12.dme
  code/game/objects/effects/effect_system.dm
  code/game/objects/effects/particles/particles.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/mining/mine_turfs.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/projectiles/guns/projectile/flaregun.dm
  code/modules/projectiles/projectile/energy.dm
  icons/effects/particles.dmi
Labels: Sprites

#31938 workflow permissions limits, tools is core review
  .github/CODEOWNERS
  .github/workflows/cancel.yml
  .github/workflows/changelog_generation.yml
  .github/workflows/close_stale.yml
  .github/workflows/generate_documentation.yml
  .github/workflows/labeler.yml
  .github/workflows/make_changelogs.yml
  .github/workflows/test.yml
Labels: Repo

#31974 fixes 2022apr23
  code/game/gamemodes/game_mode.dm
  code/game/world.dm
  code/world.dm
  config/example/moderators.txt
Labels: Config Update

#31969 Adds missing Charon cams and also airlock buttons
  maps/torch/torch1_deck5.dmm
Labels: Map

#31994 Adds Rust Area Icon, Fixes Atmos Console
  icons/turf/areas.dmi
  maps/torch/torch4_deck2.dmm
  maps/torch/torch_areas.dm
Labels: Map, Sprites

#31999 add dm-invalid-utf8-discovery, clean up matches
  .github/dependabot.yml
  .gitignore
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_interdiction.dm
  code/modules/events/communications_blackout.dm
  code/modules/flufftext/TextFilters.dm
  code/modules/mob/living/silicon/ai/login.dm
  tools/dm-invalid-utf8-discovery/index.js
  tools/dm-invalid-utf8-discovery/package.json
Labels: Repo

#32008 Removes the bio-printer from medical.
  code/modules/reagents/reagent_containers/dropper.dm
  maps/torch/torch5_deck1.dmm
Labels: Map

#31981 Make iccgn ship bigger, fix airlock
  maps/event/iccgn_ship/icgnv_hound.dmm
Labels: Map

#31992 Glass Airlocks + Moved Airlock button
  maps/torch/torch1_deck5.dmm
Labels: Map

#31909 Fax overhaul
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/paperwork/adminpaper.dm
  code/modules/paperwork/faxmachine.dm
  html/changelogs/sierrakomodo-more-fax-tweaks.yml
  maps/example/example-1.dmm
Labels: Map
