Repository Baystation12/Baystation12, pull requests merged in 2022-01, with the labels that each got.

#31494 Remove certain messages for removing handcuffs
  code/modules/mob/living/carbon/resist.dm
Labels: Tweak

#31496 Adds an atmosphere sensor to crashed pod
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
Labels: Map

#31495 Display warrant type in warrant projector list
  code/game/objects/items/devices/holowarrant.dm
Labels: Fix

#31492 Fixes all the Calypso references on the Charon
  maps/torch/torch1_deck5.dmm
  maps/torch/torch_overmap.dm
  maps/torch/torch_presets.dm
  maps/torch/torch_shuttles.dm
Labels: Refactor

#31503 SSao loop update
  code/controllers/subsystems/ao.dm
Labels: Refactor

#31513 controller stat lines only update once per second
  code/controllers/controller.dm
  code/controllers/failsafe.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/controllers/subsystems/ai.dm
  code/controllers/subsystems/air.dm
  code/controllers/subsystems/alarm.dm
  code/controllers/subsystems/ao.dm
  code/controllers/subsystems/atoms.dm
  code/controllers/subsystems/chemistry.dm
  code/controllers/subsystems/circuit_component.dm
  code/controllers/subsystems/event.dm
  code/controllers/subsystems/fluids.dm
  code/controllers/subsystems/garbage.dm
  code/controllers/subsystems/ghost_images.dm
  code/controllers/subsystems/initialization/misc.dm
  code/controllers/subsystems/initialization/misc_early.dm
  code/controllers/subsystems/initialization/misc_late.dm
  code/controllers/subsystems/lighting.dm
  code/controllers/subsystems/machines.dm
  code/controllers/subsystems/misc_slow.dm
  code/controllers/subsystems/mobs.dm
  code/controllers/subsystems/processing/icon_updates.dm
  code/controllers/subsystems/processing/processing.dm
  code/controllers/subsystems/radiation.dm
  code/controllers/subsystems/shuttle.dm
  code/controllers/subsystems/sun.dm
  code/controllers/subsystems/supply.dm
  code/controllers/subsystems/throwing.dm
  code/controllers/subsystems/ticker.dm
  code/controllers/subsystems/timer.dm
  code/controllers/subsystems/trade.dm
  code/controllers/subsystems/vote.dm
  code/controllers/subsystems/zcopy.dm
Labels: Refactor

#31442 Remap firelocks and alarms
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
Labels: Map, Tweak

#31511 Rework `health_resistance` overrides
  code/game/objects/structures/barricade.dm
  code/game/objects/structures/grille.dm
Labels: Fix, Refactor

#31514 Fix random guns not spawning guns
  code/game/objects/effects/spawners/guns.dm
Labels: Fix

#31507 31454 + corrections
  code/game/objects/structures/watercloset.dm
  icons/obj/watercloset.dmi
Labels: Feature, Sprites

#31504 ssmachines goes a bit faster
  code/controllers/subsystems/machines.dm
Labels: Refactor

#31505 sstrade, sssun are in misc_slow instead
  baystation12.dme
  code/_global_vars/lists/objects.dm
  code/_helpers/global_access.dm
  code/controllers/subsystems/misc_slow.dm
  code/controllers/subsystems/sun.dm
  code/controllers/subsystems/trade.dm
  code/controllers/verbs.dm
  code/datums/sun.dm
  code/modules/admin/verbs/trading_verbs.dm
  code/modules/merchant/merchant_programs.dm
  code/modules/power/solar.dm
  test/run-test.sh
Labels: Refactor

#31519 goonchat only adds to payload if opted in
  code/controllers/subsystems/chat.dm
  code/modules/goonchat/browserOutput.dm
Labels: Fix

#31521 tests update to suite 1.7.2
  .github/workflows/test.yml
Labels: Repo

#31522 Remove rogue pixel from `gentlesuit`
  icons/mob/onmob/onmob_under.dmi
Labels: Sprites, Fix

#31502 silver cutlery, two cooks no bartender
  code/datums/outfits/jobs/civilian.dm
  code/datums/supplypacks/dispcarts.dm
  code/datums/supplypacks/galley.dm
  code/game/jobs/access_datum.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/structures/barsign.dm
  code/game/objects/structures/crates_lockers/closets/secure/bar.dm
  code/modules/client/preference_setup/loadout/lists/gloves.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/culture_descriptor/culture/cultures_serpentid.dm
  maps/torch/icons/assignment_hud.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/outfits/service_outfits.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_gloves.dm
  maps/torch/loadout/loadout_suit.dm
  maps/torch/structures/closets/services.dm
  maps/torch/torch_areas.dm
  maps/torch/z1_admin.dmm
Labels: Map, Sprites, Tweak

#31520 static garbage members
  code/controllers/subsystems/garbage.dm
Labels: Refactor

#31523 Changes the deployable shades to moderate eye protection
  code/modules/clothing/glasses/glasses.dm
Labels: Tweak

#31509 Fixes movable atoms not using parent attackby calls
  code/_onclick/item_attack.dm
  code/game/atoms_health.dm
Labels: Fix

#31526 new unused generic item audio, glass bell
  code/game/objects/items/weapons/material/bell.dm
  maps/torch/torch3_deck3.dmm
  sound/items/bottle_clink_1.ogg
  sound/items/bottle_clink_2.ogg
  sound/items/bottle_clink_3.ogg
  sound/items/breaker_flip.ogg
  sound/items/cap_close.ogg
  sound/items/cap_open.ogg
  sound/items/cap_screw.ogg
  sound/items/cap_unscrew.ogg
  sound/items/chain.ogg
  sound/items/gas_can_flick_1.ogg
  sound/items/gas_can_flick_2.ogg
  sound/items/gas_can_flick_3.ogg
  sound/items/glass_1.ogg
  sound/items/glass_2.ogg
  sound/items/glass_3.ogg
  sound/items/glass_4.ogg
  sound/items/glass_5.ogg
  sound/items/glass_6.ogg
  sound/items/lid_close_1.ogg
  sound/items/lid_close_2.ogg
  sound/items/lid_open_1.ogg
  sound/items/lid_open_2.ogg
  sound/items/metal_clack.ogg
  sound/items/metal_clicking_1.ogg
  sound/items/metal_clicking_10.ogg
  sound/items/metal_clicking_11.ogg
  sound/items/metal_clicking_12.ogg
  sound/items/metal_clicking_13.ogg
  sound/items/metal_clicking_14.ogg
  sound/items/metal_clicking_15.ogg
  sound/items/metal_clicking_2.ogg
  sound/items/metal_clicking_3.ogg
  sound/items/metal_clicking_4.ogg
  sound/items/metal_clicking_5.ogg
  sound/items/metal_clicking_6.ogg
  sound/items/metal_clicking_7.ogg
  sound/items/metal_clicking_8.ogg
  sound/items/metal_clicking_9.ogg
  sound/items/pipe_hit.ogg
  sound/items/plastic_handle.ogg
  sound/items/pressure_puff_1.ogg
  sound/items/pressure_puff_2.ogg
  sound/items/scrape_clunk.ogg
  sound/items/spray_1.ogg
  sound/items/spray_2.ogg
  sound/items/spray_3.ogg
  sound/items/spray_4.ogg
  sound/items/tinkly_bell.ogg
  sound/items/tinkly_bell_many.ogg
Labels: Map, Tweak, Sound

#31525 adds a friendlier staff notify sound, uses it
  code/game/world.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/mob/login.dm
  sound/misc/staff_message.ogg
Labels: Tweak, Sound

#31535 removes the concept of minimal access from jobs
  code/controllers/configuration.dm
  code/game/jobs/job/assistant.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/civilian_chaplain.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: Config Update, Fix, Refactor

#31531 Small AI fixes
  code/modules/admin/buildmode/ai.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/webslinger.dm
Labels: Fix, Refactor

#31538 Add dmdoc autogeneration workflow
  .github/workflows/generate_documentation.yml
  SpacemanDMM.toml
Labels: Repo

#31527 Creates a dedicated vox raider armor set
  code/modules/clothing/spacesuits/alien.dm
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/mob/species/vox/onmob_suit_vox.dmi
  icons/obj/clothing/species/vox/obj_head_vox.dmi
  icons/obj/clothing/species/vox/obj_suit_vox.dmi
  maps/antag_spawn/vox/vox_raider.dmm
Labels: Feature, Sprites

#31540 Adds an extra detail to concealed powerfist
  code/datums/uplink/augments.dm
Labels: Tweak

#31543 Moves all the exosuit parts to their bits instead of prebuilt
  baystation12.dme
  code/modules/mechs/components/arms.dm
  code/modules/mechs/components/body.dm
  code/modules/mechs/components/head.dm
  code/modules/mechs/components/legs.dm
  code/modules/mechs/premade/combat.dm
  code/modules/mechs/premade/heavy.dm
  code/modules/mechs/premade/light.dm
  code/modules/mechs/premade/misc.dm
  code/modules/mechs/premade/powerloader.dm
Labels: Refactor

#31544 add hub entry config
  code/controllers/configuration.dm
  code/game/world.dm
  config/example/config.txt
  config/example/hub.txt
Labels: Config Update

#31550 Fix walls being invincible to most explosions
  code/game/turfs/turf.dm
Labels: Fix

#31551 Fix health changes not rounding.
  code/game/atoms_health.dm
Labels: Fix, Refactor

#31552 mobs add NOTARGET on init if not living
  code/modules/mob/mob.dm
Labels: Fix

#31554 Additional info for admins in lobby and for 'Who' verb
  code/game/verbs/who.dm
  code/modules/mob/new_player/new_player.dm
Labels: Feature, Admin

#31556 Adds cosmosharks to the carp event
  code/modules/events/carp_migration.dm
Labels: Feature

#31565 Auto-shutoff teleporters after 1 minute
  code/game/machinery/teleporter/console.dm
  code/game/machinery/teleporter/pad.dm
Labels: Tweak

#31560 Remove crashed pod from ship command report
  code/modules/overmap/sectors.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dm
  maps/torch/torch_setup.dm
Labels: Map, Tweak

#31590 Vox shtuff
  code/datums/outfits/misc.dm
  code/modules/clothing/spacesuits/alien.dm
  maps/antag_spawn/vox/vox_raider.dmm
Labels: Map, Tweak, Balance/Rebalance

#31591 Carbines do 80% prior damage and 50% prior pen
  code/modules/projectiles/projectile/beams.dm
Labels: Tweak, Balance/Rebalance

#31581 tanks have tank_size, path changes, etc
  code/__defines/inventory_sizes.dm
  code/datums/outfits/spec_op.dm
  code/datums/supplypacks/atmospherics.dm
  code/datums/supplypacks/engineering.dm
  code/game/machinery/oxygen_pump.dm
  code/game/objects/items/rescuebag.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/l3closet.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/objects/structures/crates_lockers/closets/walllocker.dm
  code/modules/augment/active/internal_air_system.dm
  code/modules/augment/active/powerfist.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/spacesuits/captain.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  icons/obj/tank.dmi
  maps/antag_spawn/ert/ert_base.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/voxship/voxship-2.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/structures/closets/engineering.dm
  maps/torch/structures/closets/medical.dm
  maps/torch/structures/closets/research.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/z1_admin.dmm
Labels: Sprites, Tweak

#31593 no more cryo forced sleepy stuff
  code/modules/client/preferences_spawnpoints.dm
Labels: Tweak, Fix

#31596 no character setup lawed meatborgs
  code/controllers/subsystems/initialization/robots.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Tweak

#31588 Allow atmos editor to work on unsimmed turfs
  code/modules/admin/buildmode/atmosphere.dm
Labels: Feature, Admin

#31589 VV options for adding/removing movement handlers
  code/modules/admin/view_variables/helpers.dm
  code/modules/admin/view_variables/topic.dm
Labels: Admin

#31599 auto close/mark issues as stale, mark prs as stale
  .github/workflows/close_stale.yml
Labels: Repo

#31603 Add missing waitfor = FALSE for AI special attacks
  code/modules/mob/living/simple_animal/combat.dm
Labels: Fix

#31605 Increase pikecube uplink cost
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Tweak, Balance/Rebalance

#31608 fix existing uses of sspresence to use get_z
  code/controllers/subsystems/ai.dm
  code/controllers/subsystems/mobs.dm
Labels: Priority: High ⚠

#31610 between the sheets -> drifter
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Ethanol.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Tweak

#31607 Ups the ninja hardsuit's laser, energy and EMP protections
  code/modules/clothing/spacesuits/rig/suits/light.dm
Labels: Tweak, Balance/Rebalance

#31606 antag map shtuff
  maps/antag_spawn/ninja/ninja_base.dmm
  maps/antag_spawn/vox/vox_raider.dmm
Labels: Map, Tweak

#31380 Fix simple mobs not having movement cooldowns
  code/modules/ai/interfaces.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/_giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/carrier.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/lurker.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/nurse.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/phorogenic.dm
  code/modules/mob/living/simple_animal/hostile/meat_horrors.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#31611 Runtime batch fix
  code/game/area/Space Station 13 areas.dm
  code/game/machinery/atmoalter/meter.dm
  code/game/machinery/cryopod.dm
  code/game/objects/explosion_recursive.dm
  code/modules/clothing/under/accessories/bowtie.dm
  code/modules/clothing/under/accessories/flannel_shirt.dm
  code/modules/merchant/merchant_guns.dm
  code/modules/mob/living/life.dm
Labels: Fix

#31600 Bug fixes/tweaks
  code/__defines/misc.dm
  code/modules/ghosttrap/trap.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/simple_animal/constructs/soulstone.dm
Labels: Tweak, Fix

#31616 Purge vehicle code
  baystation12.dme
  code/_helpers/mobs.dm
  code/datums/movement/mob.dm
  code/datums/supplypacks/operations.dm
  code/game/objects/structures/plasticflaps.dm
  code/modules/blob/blob.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/bike.dm
  code/modules/vehicles/cargo_train.dm
  code/modules/vehicles/engine.dm
  code/modules/vehicles/train.dm
  code/modules/vehicles/vehicle.dm
  maps/antag_spawn/heist/heist_base.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/meatstation/meatstation.dmm
  maps/away/miningstation/miningstation.dmm
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/torch/torch6_bridge.dmm
  test/check-paths.sh
Labels: Map, Revert/Removal

#31619 plushies are small
  code/game/objects/items/toys.dm
Labels: Tweak

#31542 New Boot Sprites
  icons/mob/onmob/onmob_feet.dmi
Labels: Sprites, Tweak

#31622 Fix spider counts being low in infestation event
  code/modules/events/spider_infestation.dm
Labels: Fix

#31627 Tersten is Dead
  code/__defines/culture.dm
  code/game/movietitles.dm
  code/game/objects/items/passport.dm
  code/modules/culture_descriptor/culture/cultures_unathi.dm
  code/modules/culture_descriptor/faction/factions_unathi.dm
  code/modules/culture_descriptor/location/locations_human.dm
  code/modules/culture_descriptor/location/locations_unathi.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Ethanol.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/species/station/lizard.dm
  maps/~mapsystem/maps.dm
Labels: Awaiting Lore (DNM) ✎, Update Wiki after Merge, Revert/Removal

#31621 Runtime batch 20210122
  code/game/objects/structures/banner.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/exoplanet.dm
  code/modules/overmap/ships/computers/ship.dm
Labels: Fix

#31625 squish /maps includes & easier build map selection
  baystation12.dme
  maps/_maps.dm
  maps/example/map.dm
  maps/torch/map.dm
  maps/using.dm
Labels: Refactor

#31614 Fix 'Who' verb not showing late-joined antags
  code/game/antagonist/antagonist.dm
Labels: Fix, Admin

#31618 Add turret buildmode
  baystation12.dme
  code/modules/admin/buildmode/turret.dm
  icons/misc/buildmode.dmi
  nano/templates/turret_editor.tmpl
Labels: Feature, Admin

#31631 Add Drand and Nrand
  code/_helpers/maths.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/clothing/under/accessories/badges.dm
  maps/torch/job/outfits/security_outfits.dm
Labels: Refactor

#31633 faction is only visible to antags
  code/modules/culture_descriptor/_culture.dm
  code/modules/culture_descriptor/faction/factions_human.dm
  code/modules/culture_descriptor/faction/factions_ipc.dm
  code/modules/culture_descriptor/faction/factions_skrell.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
Labels: Tweak

#31635 Replaces several planets
  code/__defines/culture.dm
  code/game/machinery/vending.dm
  code/game/movietitles.dm
  code/game/objects/items/passport.dm
  code/modules/culture_descriptor/location/locations_human.dm
  code/modules/culture_descriptor/location/locations_unathi.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Ethanol.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  icons/obj/drinks.dmi
  maps/~mapsystem/maps.dm
Labels: Update Wiki after Merge, Sprites, Tweak

#31636 Reverts industrial mech speed back to 4
  code/modules/mechs/components/legs.dm
Labels: Tweak

#31638 Fix spelling in SEV Icarus disk description
  maps/random_ruins/exoplanet_ruins/icarus/icarus.dm
Labels: Fix

#31651 Removes the whale choir lobby song
  code/datums/audio/_tracks.dm
  maps/torch/torch_lobby.dm
  sound/music/Clouds_of_Neptune.ogg
Labels: Revert/Removal, Sound

#31654 Fix spider event always being chosen
  code/modules/events/event_container.dm
Labels: Fix

#31652 copy mc change from tgstation/tgstation#64500
  code/controllers/subsystem.dm
Labels: Refactor

#31653 fix bad sandals -> sandal path
  code/game/gamemodes/wizard/servant_items/overseer.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_items.dm
  code/modules/spells/artifacts/spellbound_servants.dm
Labels: Refactor

#31639 Wall explosion tweaks
  code/game/atoms_health.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/wall_types.dm
  code/game/turfs/simulated/walls.dm
Labels: Tweak

#31659 root and mozz hair
  icons/mob/human_races/species/human/hair.dmi
Labels: Sprites, Tweak

#31660 Rad Storms are less predictable
  code/modules/events/radiation_storm.dm
Labels: Tweak

#31658 Knockout Changes/Fixes
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/organs/internal/brain.dm
Labels: Tweak, Balance/Rebalance, Fix

#31664 add license and codebeat buttons to project readme
  README.md
Labels: Repo

#31665 Condiment-Bottle Label refactor
  code/modules/reagents/reagent_containers/food/condiment.dm
Labels: Fix

#31667 sspresence runs much more often
  code/controllers/subsystems/presence.dm
Labels: Refactor

#31668 Remove tourettes disability
  code/__defines/dna.dm
  code/game/dna/genes/disabilities.dm
  code/modules/organs/internal/brain.dm
  code/modules/psionics/events/mini_spasm.dm
Labels: Revert/Removal

#31656 heck you, un-magics your hardsuits
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/rig_verbs.dm
  nano/templates/hardsuit.tmpl
Labels: Tweak

#31662 QoL turret buildmode changes
  code/modules/admin/buildmode/turret.dm
Labels: Tweak, Admin

#31669 imposes my twisted idea of scarcity on all of you
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map, Tweak

#31670 purges some locker contents
  code/game/objects/items/weapons/storage/belt.dm
  maps/torch/structures/closets/command.dm
  maps/torch/structures/closets/engineering.dm
  maps/torch/structures/closets/exploration.dm
  maps/torch/structures/closets/medical.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/structures/closets/research.dm
  maps/torch/structures/closets/security.dm
  maps/torch/structures/closets/services.dm
  maps/torch/structures/closets/supply.dm
Labels: Tweak
