Repository Baystation12/Baystation12, pull requests merged in 2022-07, with the labels that each got.

#32244 Add new Fleet rank sprites
  maps/torch/icons/obj/obj_accessories_solgov.dmi
  maps/torch/items/clothing/solgov-accessory.dm
Labels: Sprites

#32253 Allow ranks to show up onmob
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/items/clothing/solgov-accessory.dm
Labels: Sprites

#32245 Officer's lounge map tweaks
  maps/torch/torch2_deck4.dmm
Labels: Map

#32239 Empty autoinjectors and reagent colored tags
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/random/random.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/fabrication/designs/general/designs_medical.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  maps/torch/torch5_deck1.dmm
Labels: Map

#32248 Minor Xenoarchaeology additions
  code/modules/research/designs/designs_mining.dm
  code/modules/xenoarcheaology/tools/suspension_generator.dm
  code/modules/xenoarcheaology/tools/tools.dm
  code/modules/xenoarcheaology/tools/tools_pickaxe.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/storage.dmi
  icons/obj/xenoarchaeology.dmi
Labels: Sprites

#32266 New sleeper and body scanner sprites
  icons/obj/Cryogenic2.dmi
Labels: Sprites

#32276 update tests byond target to 1585
  .github/workflows/test.yml
Labels: Repo

#32258 Redesigns security armors and their respective attachments
  code/modules/clothing/suits/armor.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_modular_armor.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit_modular_armor.dmi
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
Labels: Sprites

#32265 Various explosive related admin goodies.
  code/_helpers/areas.dm
  code/game/gamemodes/meteor/meteors.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/buildmode/meteor.dm
  code/modules/admin/verbs/randomverbs.dm
  icons/obj/missile.dmi
  test/check-paths.sh
Labels: Sprites, Repo

#32282 cheese is now fresh, aged, and blue cheese
  baystation12.dme
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/cheese.dm
  icons/obj/food.dmi
Labels: Update Wiki after Merge, Sprites

#32289 resprites racks, firesuits, bombsuits and diving helmets
  icons/mob/onmob/onmob_accessories.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_accessories.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/objects.dmi
Labels: Sprites

#32287 Fix sabot missile not having directions
  icons/obj/missile.dmi
Labels: Sprites

#32295 add event bridge documents to main
  maps/torch/torch.dm
  maps/torch/torch6_bridge.dmm
  packs/event_2022jul30/_pack.dm
  packs/event_2022jul30/documents.dm
Labels: Map

#32275 Makeshift weapon QoL and Additions
  baystation12.dme
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/weapons/grenades/explosive.dm
  code/game/objects/items/weapons/material/swords.dm
  code/game/objects/random/random.dm
  code/modules/clothing/suits/armor.dm
  code/modules/crafting/_crafting_stage.dm
  code/modules/crafting/crafting_butterflyknife.dm
  code/modules/crafting/crafting_cannon.dm
  code/modules/crafting/crafting_coilgun.dm
  code/modules/crafting/crafting_components.dm
  code/modules/crafting/crafting_crossbow.dm
  code/modules/crafting/crafting_knives_misc.dm
  code/modules/crafting/crafting_spear_prod.dm
  code/modules/crafting/crafting_weapons_ranged.dm
  code/modules/crafting/crafting_zipgun.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_furniture.dm
  code/modules/materials/recipes_items.dm
  code/modules/projectiles/guns/projectile/zipgun.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/buildingobject.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/crafting_icons.dmi
  icons/obj/grenade.dmi
  icons/obj/guns/coilgun.dmi
  icons/obj/guns/crossbow.dmi
  icons/obj/guns/zipgun.dmi
  icons/obj/weapons/melee_physical.dmi
Labels: Sprites

#32319 Fix oldlab shutters being seethrough
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dmm
Labels: Map

#32318 [EVENT] Removes most vendors on Torch
  maps/torch/torch1_deck5.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

#32322 [EVENT] Adds bug meat, adjusts galley and hydroponics contents
  maps/torch/torch3_deck3.dmm
  packs/event_2022jul30/_pack.dm
  packs/event_2022jul30/bugmeat.dm
  packs/event_2022jul30/bugmeat.dmi
Labels: Map, Sprites

#32325 adds option to disable same-ip warnings for staff
  code/controllers/configuration.dm
  code/modules/mob/login.dm
  config/example/config.txt
Labels: Config Update

#32324 adds fruit pizza
  code/datums/supplypacks/galley.dm
  code/game/objects/random/random.dm
  code/modules/food/recipes_microwave.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
Labels: Update Wiki after Merge, Sprites
