Repository Baystation12/Baystation12, pull requests merged in 2022-05, with the labels that each got.

#31982 Emp refactor
  code/__defines/misc.dm
  code/game/machinery/atmoalter/pump.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/effects/overlays.dm
  code/game/objects/empulse.dm
  code/game/objects/items/devices/boombox.dm
  code/game/objects/items/devices/personal_shield.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/t_scanner.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/implants/implant.dm
  code/game/objects/items/weapons/implants/implants/imprinting.dm
  code/game/objects/items/weapons/implants/implants/tracking.dm
  code/game/objects/items/weapons/implants/implants/uplink.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/modules/augment/active/hudimplants.dm
  code/modules/augment/active/iatric_monitor.dm
  code/modules/augment/active/leukocyte_breeder.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/integrated_electronics/subtypes/memory.dm
  code/modules/mechs/components/_components.dm
  code/modules/mechs/mech_damage.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  code/modules/modular_computers/computers/modular_computer/damage.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/internal/_internal.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/power/port_gen.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/psionics/equipment/implant.dm
  code/modules/shield_generators/shield.dm
  code/modules/shieldgen/emergency_shield.dm
  code/modules/shieldgen/shieldwallgen.dm
  test/check-paths.sh
Labels: Repo

#32011 Tweaks and resprites leeches, adds snakes, maps one in to the BC office.
  baystation12.dme
  code/modules/mob/living/simple_animal/hostile/leech.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/snake.dm
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/simple_animal/animal.dmi
  icons/mob/simple_animal/megaleech.dmi
  maps/torch/torch5_deck1.dmm
Labels: Map, Sprites

#32009 Mech mender
  code/modules/mechs/equipment/medical.dm
  code/modules/mechs/premade/light.dm
  code/modules/research/designs/designs_mechfab.dm
  icons/mecha/mech_weapon_overlays.dmi
Labels: Sprites

#32014 correct z mimics not getting changes on things
  code/modules/multiz/zmimic/mimic_common.dm
  test/check-paths.sh
Labels: Repo

#32017 updates cult portal and hellportal sprites
  code/game/gamemodes/cult/cult_structures.dm
  icons/effects/64x64.dmi
Labels: Sprites

#32019 Resprites the OFD, by Pawn And Azlan
  code/modules/overmap/disperser/disperser.dm
  icons/effects/beam.dmi
  icons/obj/disperser.dmi
Labels: Sprites

#32029 Allows chickens + lizards to be picked up, other holder tweaks
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
  icons/mob/onmob/onmob_head.dmi
Labels: Sprites

#32023 Resprites command hardsuits
  icons/mob/onmob/onmob_rig_back.dmi
  maps/torch/icons/mob/onmob_feet_solgov.dmi
  maps/torch/icons/mob/onmob_hands_solgov.dmi
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/obj/obj_feet_solgov.dmi
  maps/torch/icons/obj/obj_hands_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/icons/obj/uniques.dmi
Labels: Sprites

#32034 Adds bacon, resprites old food
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
Labels: Sprites

#32037 removed editorconfig plugin recommendation
  .vscode/extensions.json
Labels: Repo

#32039 Remove Asset Protection rig/Add Fleet rig
  code/game/antagonist/outsider/deathsquad.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  maps/antag_spawn/ert/ert_base.dmm
Labels: Map, Sprites

#32049 ICCGN shuttle updates
  code/modules/overmap/overmap_shuttle.dm
  maps/event/iccgn_ship/icgnv_hound.dm
  maps/event/iccgn_ship/icgnv_hound.dmm
  maps/event/iccgn_ship/icgnv_hound_shuttle.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_overmap.dm
Labels: Map

#32072 Fixes up the back end of the event ship
  maps/event/iccgn_ship/icgnv_hound.dmm
Labels: Map

#32064 Don't ignore whitespace diffs in VSC config
  .vscode/settings.json
Labels: Repo

#32026 Remaps the GUP and Aquila
  maps/torch/machinery/apc_shuttle.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_shuttles.dm
  maps/torch/torch_unit_testing.dm
Labels: Map

#32041 Adds custom serving bowls, cooker tweaks, nameable sandwiches
  baystation12.dme
  code/game/machinery/kitchen/cookers.dm
  code/game/machinery/vending.dm
  code/modules/fabrication/designs/micro/designs_cutlery.dm
  code/modules/materials/recipes_items.dm
  code/modules/reagents/reagent_containers/food/fish.dm
  code/modules/reagents/reagent_containers/food/sandwich.dm
  code/modules/reagents/reagent_containers/food/servingbowl.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food_custom.dmi
Labels: Sprites

#32090 Faucet sprite and logic fixes
  code/game/objects/structures/watercloset.dm
  icons/obj/watercloset.dmi
Labels: Sprites

#32056 game does not pass the lobby without ready players
  code/controllers/configuration.dm
  code/controllers/subsystems/ticker.dm
  config/example/config.txt
  test/check-paths.sh
Labels: Config Update, Repo

#32102 Engineering redesign part 7: Generators
  icons/obj/power.dmi
Labels: Sprites

#32103 Minor Aquila and Charon Changes
  maps/torch/torch1_deck5.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#32109 leftover booster -> human
  baystation12.dme
  code/modules/sprite_accessories/accessory_human.dm
  icons/mob/human_races/species/human/bodymods.dmi
Labels: Sprites

#32074 Engineering redesign part 4: Bluespace drive part 1
  baystation12.dme
  code/game/machinery/bluespace_drive.dm
  code/game/objects/items/weapons/circuitboards/machinery/bluespacedrive.dm
  code/modules/research/designs/designs_circuits.dm
  icons/obj/machines/bluespacedrive.dmi
  maps/torch/torch4_deck2.dmm
  sound/machines/BSD_damaging.ogg
  sound/machines/BSD_explosion.ogg
  sound/machines/BSD_idle.ogg
  sound/machines/BSD_interact.ogg
Labels: Map, Sprites, Sound

#32099 Port some polaris hivebots
  baystation12.dme
  code/modules/mob/living/simple_animal/hostile/hivebot/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/hivebot/ranged.dm
  code/modules/mob/living/simple_animal/hostile/hivebot/tank.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/projectiles/projectile/beams.dm
  icons/mob/simple_animal/hivebot.dmi
  sound/weapons/gunshot/mech_autocannon.ogg
Labels: Sprites, Sound

#32107 adds overmap ship placeholders
  baystation12.dme
  icons/misc/buildmode.dmi
  maps/event/placeholders/gcn-64.dmi
  maps/event/placeholders/placeholders.dm
  maps/event/placeholders/scg-32.dmi
  maps/event/placeholders/scg-64.dmi
Labels: Sprites

#32110 tattoo & ipc markings get their own files
  baystation12.dme
  code/modules/organs/external/_external_icons.dm
  code/modules/sprite_accessories/_accessory_markings.dm
  code/modules/sprite_accessories/accessory_ipc.dm
  code/modules/sprite_accessories/accessory_tattoo.dm
  code/modules/sprite_accessories/accessory_unathi.dm
  icons/mob/human_races/species/default_markings.dmi
  icons/mob/human_races/species/ipc/markings.dmi
  icons/mob/human_races/species/legacy_markings.dmi
  icons/mob/human_races/species/tattoos.dmi
  icons/mob/human_races/species/unathi/markings.dmi
Labels: Sprites

#32131 added dmi v5 safety workflow
  .github/workflows/prevent_dmi5_icons.yml
Labels: Repo

#32123 Gives the charon thrusters gas pumps so fuel doesn't get stuck
  maps/torch/torch1_deck5.dmm
Labels: Map
