Repository Baystation12/Baystation12, pull requests merged in 2022-02, with the labels that each got.

#31676 Added onion-soup
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
Labels: Feature, Sprites

#31677 add Crand
  code/_helpers/maths.dm
Labels: Refactor

#31701 Remove chorus
  baystation12.dme
  code/_helpers/unsorted.dm
  code/_macros.dm
  code/_onclick/hud/chorus.dm
  code/game/antagonist/outsider/chorus.dm
  code/game/gamemodes/chorus/chorus.dm
  code/game/objects/items/devices/scanners/xenobio.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/building_chorus.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/building_datum.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/generic.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/growth_base.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/tier_five.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/tier_four.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/tier_one.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/tier_three.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/growth/tier_two.dm
  code/modules/mob/living/carbon/alien/chorus/chorus.dm
  code/modules/mob/living/carbon/alien/chorus/chorus_browser.dm
  code/modules/mob/living/carbon/alien/chorus/chorus_building.dm
  code/modules/mob/living/carbon/alien/chorus/chorus_click.dm
  code/modules/mob/living/carbon/alien/chorus/chorus_datum.dm
  code/modules/mob/living/carbon/alien/chorus/chorus_resources.dm
  code/modules/mob/living/carbon/alien/chorus/chorus_topic.dm
  code/modules/mob/living/carbon/alien/chorus/form/form_datum.dm
  code/modules/mob/living/carbon/alien/chorus/form/growth.dm
  code/modules/mob/living/carbon/alien/chorus/resources/growth.dm
  code/modules/mob/living/carbon/alien/chorus/resources/resource_datum.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/observer/freelook/cult/cultnet.dm
  icons/mob/screen_chorus_big.dmi
  nano/templates/chorus.tmpl
Labels: Revert/Removal, Refactor

#31689 Improve room and area buildmodes
  code/modules/admin/buildmode/_build_mode.dm
  code/modules/admin/buildmode/areas.dm
  code/modules/admin/buildmode/room_builder.dm
Labels: Tweak, Admin

#31707 Meteors break walls
  code/__defines/health.dm
  code/game/atoms_health.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/objects/explosion.dm
  code/game/turfs/simulated.dm
  code/modules/tables/tables.dm
Labels: Tweak

#31705 Allow CnC programme to be authorised once and used without ID
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/procs/announce.dm
Labels: Tweak

#31712 you can emag helms to remove access requirements
  code/modules/overmap/ships/computers/helm.dm
Labels: Feature

#31709 Prebuilt floor_light fix
  code/game/machinery/floor_light.dm
Labels: Fix

#31714 Fixes switch linter issues
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/syndicatebeacon.dm
  code/modules/mob/mob_helpers.dm
  code/modules/power/singularity/singularity.dm
  code/unit_tests/zas_tests.dm
Labels: Refactor

#31722 Allow AltClick to remove ID from wallets
  code/game/objects/items/weapons/storage/wallets.dm
Labels: Feature

#31719 tweak exo awakening mob spawning for performance
  code/modules/events/exo_awakening/exo_awaken.dm
Labels: Refactor

#31728 Allow mods to do all variants of Direct/Local Narrates
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Tweak, Admin

#31726 Engineering Resprite: Part 2 - stockparts
  code/game/machinery/_machines_base/stock_parts/legacy_parts.dm
  code/modules/power/smes_construction.dm
  icons/obj/stock_parts.dmi
Labels: Sprites, Tweak

#31731 Added Lettuce
  code/game/machinery/vending.dm
  code/modules/food/recipes_microwave.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/hydroponics_products.dmi
  icons/obj/seeds.dmi
Labels: Update Wiki after Merge, Sprites

#31732 Small Map Changes/Sec Armoury Rebalance
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map
