Repository Baystation12/Baystation12, pull requests merged in 2023-08, with the labels that each got.

#34001 allows Run Tests to be manually triggered
  .github/workflows/test.yml
Labels: Repo

#34002 bump spacemandmm version to 1.7.3
  .github/workflows/generate_documentation.yml
  .github/workflows/test.yml
Labels: Repo

#33891 Lets EMP affect energy melee and e-shields + some eshield related stuff
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/shields.dm
  maps/antag_spawn/mercenary/mercenary_base.dmm
Labels: Map

#33969 Make placeholders /visitable + Add 3 new sensor targets
  maps/event/placeholders/gcn-32.dmi
  maps/event/placeholders/gen-32.dmi
  maps/event/placeholders/gen-64.dmi
  maps/event/placeholders/placeholders.dm
Labels: Sprites

#33711 Adds Antag Challenge Coins
  code/datums/uplink/devices and tools.dm
  code/game/machinery/_machines_base/machinery_components.dm
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/boda.dm
  code/game/machinery/vending/boozeomat.dm
  code/game/machinery/vending/cigarette.dm
  code/game/machinery/vending/coffee.dm
  code/game/machinery/vending/cola.dm
  code/game/machinery/vending/dinnerware.dm
  code/game/machinery/vending/engineering.dm
  code/game/machinery/vending/engivend.dm
  code/game/machinery/vending/fashion.dm
  code/game/machinery/vending/fitness.dm
  code/game/machinery/vending/games.dm
  code/game/machinery/vending/generic.dm
  code/game/machinery/vending/hotfood.dm
  code/game/machinery/vending/hydronutrients.dm
  code/game/machinery/vending/lavatory.dm
  code/game/machinery/vending/medical.dm
  code/game/machinery/vending/phoron.dm
  code/game/machinery/vending/robotics.dm
  code/game/machinery/vending/security.dm
  code/game/machinery/vending/snack.dm
  code/game/machinery/vending/snix.dm
  code/game/machinery/vending/sol.dm
  code/game/machinery/vending/tool.dm
  code/game/machinery/vending/wallmed1.dm
  code/game/machinery/vending/wallmed2.dm
  code/game/objects/items/devices/uplink_random_lists.dm
  code/game/objects/items/weapons/material/coins.dm
  code/game/objects/items/weapons/storage/fancy/_fancy.dm
  code/game/objects/items/weapons/storage/fancy/smokable/basic.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  icons/obj/cigarettes.dmi
  icons/obj/machines/vending.dmi
  icons/obj/materials/coin.dmi
Labels: Sprites

#34017 sprite fixes batch #1/?
  code/game/machinery/doors/airlock.dm
  code/modules/mining/machinery/mineral_console.dm
  icons/obj/doors/Doorglass.dmi
  icons/obj/doors/centcomm/door.dmi
  icons/obj/doors/doorint.dmi
  icons/obj/doors/doorlift.dmi
  icons/obj/doors/doormorgue.dmi
  icons/obj/doors/double/door.dmi
  icons/obj/doors/elevator/door.dmi
  icons/obj/doors/external/door.dmi
  icons/obj/doors/hatch/door.dmi
  icons/obj/doors/hazard/door.dmi
  icons/obj/doors/hightechsecurity.dmi
  icons/obj/doors/material_doors.dmi
  icons/obj/doors/rapid_pdoor.dmi
  icons/obj/doors/secure/door.dmi
  icons/obj/doors/station/door.dmi
  icons/obj/doors/vault.dmi
  icons/obj/doors/vault/door.dmi
  icons/obj/doors/windoor.dmi
  icons/obj/flora/hydroponics_vines.dmi
Labels: Sprites

#34022 fix beehive assembly icon
  code/modules/hydroponics/beekeeping/beehive.dm
  icons/obj/beekeeping.dmi
Labels: Sprites

#34023 Adjust wristwatch and examine code
  code/datums/wires/wires.dm
  code/game/atoms.dm
  code/game/machinery/body_scanner.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items.dm
  code/game/objects/items/cryobag.dm
  code/game/objects/items/devices/slide_projector.dm
  code/modules/augment/implanter.dm
  code/modules/clothing/under/accessories/wristwatches.dm
  code/modules/mob/examinations.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/pai/examine.dm
  code/modules/mob/living/silicon/robot/examine.dm
  code/modules/multiz/zmimic/mimic_movable.dm
  code/modules/persistence/noticeboards.dm
  test/check-paths.sh
Labels: Repo

#33962 Self destruct tile fixes
  code/game/machinery/nuclear_bomb.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  maps/torch/torch5_deck1.dmm
Labels: Map

#34039 fix some morpheus head icons
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_airborne.dmi
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_blitz.dmi
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_prime.dmi
Labels: Sprites

#34038 more sprite fixes
  code/game/machinery/body_scanner_console.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/modular_computers/file_system/programs/generic/reports.dm
  code/modules/research/message_server.dm
  code/modules/xenoarcheaology/anomaly_container.dm
  icons/obj/flora/hydroponics_products.dmi
  icons/obj/structures/rubble.dmi
  maps/torch/z1_admin.dmm
Labels: Map, Sprites

#33990 Fixes Dociler and bullpup grenade launcher
  code/game/objects/items/devices/dociler.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  test/check-paths.sh
Labels: Repo

#34067 even more sprite fixes
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/mining/drilling/drill.dm
  icons/obj/doors/station/sparks_broken.dmi
  icons/obj/doors/station/sparks_damaged.dmi
  icons/obj/flora/hydroponics_growing.dmi
  icons/obj/flora/hydroponics_misc.dmi
  icons/obj/guns/merc_smg.dmi
  icons/obj/structures/portgen.dmi
  icons/obj/tools/bloodpack.dmi
  icons/obj/tools/card.dmi
  icons/obj/tools/wirecutter.dmi
Labels: Sprites

#33914 Fixes D2 wiring issues and removes unnecessary SMESes
  maps/torch/items/manuals.dm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch_presets.dm
Labels: Map

#34062 Apply `use_*` to `/obj/item/holder`
  code/modules/mob/holder.dm
  test/check-paths.sh
Labels: Repo

#34090 Make check icon state limit script faster
  icons/mob/custom_synthetic.dmi
  test/check_icon_state_limit.py
  test/run-test.sh
Labels: Sprites, Repo

#34107 more sprite fixes
  code/modules/detectivework/microscope/microscope.dm
  code/modules/power/sensors/sensor_monitoring.dm
  icons/obj/beekeeping.dmi
  icons/obj/closets/coffin.dmi
  icons/obj/closets/coffin_wood.dmi
  icons/obj/structures/structures.dmi
Labels: Sprites

#34109 Removes lock from the hydro closet
  code/game/objects/structures/crates_lockers/closets/_closet_appearance_definitions.dm
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dmm
  maps/torch/structures/closets/services.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map
