Repository Baystation12/Baystation12, pull requests merged in 2023-04, with the labels that each got.

#33181 Can anchor proc
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/jukebox.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/vending/_vending.dm
  code/game/objects/objs.dm
  code/game/objects/structures/plasticflaps.dm
  test/check-paths.sh
Labels: Repo

#33195 Reduces transparency on Sec Aviators
  icons/mob/onmob/onmob_eyes.dmi
Labels: Sprites

#33205 Connection checker fixes
  code/modules/admin/connectioncheck/connectioncheck_functions.dm
  code/modules/client/client_procs.dm
  test/check-paths.sh
Labels: Repo

#33211 Maintenance Jack Resprite
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: Sprites

#33217 fix incorrect spawn count
  test/check-paths.sh
Labels: Repo

#33222 Removes Root and the Posi Union. Adds new IPC cultures
  baystation12.dme
  code/__defines/culture.dm
  code/modules/culture_descriptor/culture/cultures_ipc.dm
  code/modules/culture_descriptor/faction/factions_ipc.dm
  code/modules/culture_descriptor/location/locations_ipc.dm
  code/modules/species/station/machine.dm
Labels: Lore Approved

#33219 new EC rank sprites by DasFox
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/icons/obj/obj_accessories_solgov.dmi
Labels: Sprites

#33218 Misc sprite fixes
  code/modules/mob/living/bot/remotebot.dm
  code/modules/projectiles/ammunition/bullets.dm
  icons/obj/ammo.dmi
  icons/obj/food_custom.dmi
Labels: Sprites

#33223 Fix outlying pixel on unbranded arms
  icons/mob/human_races/cyberlimbs/robotic.dmi
Labels: Sprites

#33226 collect deepmaint into a pack
  baystation12.dme
  code/modules/maps/map_template.dm
  code/unit_tests/~unit_test_subsystems.dm
  maps/away/away_sites.dm
  maps/torch/torch.dm
  packs/deepmaint/_pack.dm
  packs/deepmaint/deepmaint-1.dmm
  packs/deepmaint/deepmaint-2.dmm
  packs/deepmaint/deepmaint-3.dmm
  packs/deepmaint/deepmaint.dm
  packs/deepmaint/deepmaint_rooms/core/_core_rooms.dm
  packs/deepmaint/deepmaint_rooms/core/ai_core.dmm
  packs/deepmaint/deepmaint_rooms/core/archive.dmm
  packs/deepmaint/deepmaint_rooms/core/diner.dmm
  packs/deepmaint/deepmaint_rooms/core/maint_asteroid.dmm
  packs/deepmaint/deepmaint_rooms/core/medbay.dmm
  packs/deepmaint/deepmaint_rooms/core/telecoms.dmm
  packs/deepmaint/deepmaint_rooms/normal/_normal_rooms.dm
  packs/deepmaint/deepmaint_rooms/normal/angry_unionists.dmm
  packs/deepmaint/deepmaint_rooms/normal/asteroid_bar.dmm
  packs/deepmaint/deepmaint_rooms/normal/casino.dmm
  packs/deepmaint/deepmaint_rooms/normal/catwalks.dmm
  packs/deepmaint/deepmaint_rooms/normal/diner.dmm
  packs/deepmaint/deepmaint_rooms/normal/engine_room.dmm
  packs/deepmaint/deepmaint_rooms/normal/geese_observation.dmm
  packs/deepmaint/deepmaint_rooms/normal/lab.dmm
  packs/deepmaint/deepmaint_rooms/normal/medical.dmm
  packs/deepmaint/deepmaint_rooms/normal/office.dmm
  packs/deepmaint/deepmaint_rooms/normal/pirate_asteroid.dmm
  packs/deepmaint/deepmaint_rooms/normal/robot_asteroid.dmm
  packs/deepmaint/deepmaint_rooms/normal/ship_wreck.dmm
  packs/deepmaint/deepmaint_rooms/normal/supply.dmm
  packs/deepmaint/deepmaint_rooms/normal/tundra.dmm
  packs/deepmaint/deepmaint_rooms/normal/vampire_lair.dmm
  packs/deepmaint/deepmaint_rooms/template.dm
  packs/deepmaint/deepmaint_rooms/template.dmm
  packs/deepmaint/generator/deepmain_room.dm
  packs/deepmaint/generator/deepmaint.dm
  packs/deepmaint/generator/deepmaint_event.dm
  packs/deepmaint/generator/jp_dungeon_gen.dm
Labels: Map

#33215 Adds transport drone
  baystation12.dme
  code/datums/beam.dm
  code/game/objects/items/weapons/circuitboards/other.dm
  code/modules/codex/entries/machinery.dm
  code/modules/codex/entries/tools.dm
  code/modules/fabrication/designs/general/designs_tools.dm
  code/modules/research/designs/designs_circuits.dm
  code/modules/xenoarcheaology/tools/transport_drone.dm
  icons/obj/landing_pad.dmi
  maps/torch/torch1_deck5.dmm
Labels: Map, Sprites

#33191 Chemistry iv bags
  code/game/machinery/kitchen/smartfridge.dm
  maps/torch/torch5_deck1.dmm
Labels: Map

#33221 Biscotti
  code/modules/food/recipes_microwave.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
Labels: Sprites

#33235 Aurora unbranded port and morpheus standard tweak
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_main.dmi
  icons/mob/human_races/cyberlimbs/robotic.dmi
Labels: Sprites

#33236 Change the hidden D3 loot spawn so it doesn't spawn guns
  maps/torch/torch3_deck3.dmm
Labels: Map

#33237 Fixes chameleon suit, cleans up missing clothing files
  code/datums/extensions/chameleon.dm
  code/datums/trading/goods.dm
  code/game/gamemodes/wizard/servant_items/fiend.dm
  code/game/gamemodes/wizard/servant_items/infiltrator.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/masks/monitor.dm
  code/modules/clothing/masks/smokable.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/clothing/suits/alien.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/clothing/under/accessories/chaplain.dm
  code/modules/clothing/under/accessories/helmet_decor.dm
  code/modules/clothing/under/accessories/pride_pin.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/shorts.dm
  code/modules/clothing/under/skirts.dm
  code/modules/item_worth/worths_list.dm
  code/modules/xenoarcheaology/tools/equipment.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_mask.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/onmob/onmob_under.dmi
  icons/mob/species/unathi/onmob_head_unathi.dmi
  icons/mob/species/unathi/onmob_mask_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/mob/species/unathi/onmob_under_unathi.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/obj_under.dmi
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/mob/unathi/onmob_head_solgov_unathi.dmi
  maps/torch/items/clothing/solgov-hands.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/clothing/solgov-under.dm
  packs/faction_iccgn/badges.dm
  packs/faction_iccgn/clothing.dm
  packs/faction_iccgn/clothing.dmi
  packs/faction_iccgn/patches.dm
  packs/faction_iccgn/ranks.dm
Labels: Sprites

#33260 fixes the AWFUL morpheus mistake I made
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_main.dmi
Labels: Sprites

#33250 A very boron pedantry PR
  code/__defines/colors.dm
  code/__defines/materials.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/wallframe_spawner.dm
  code/game/objects/structures/window.dm
  code/game/objects/structures/window_spawner.dm
  code/game/turfs/simulated/walls.dm
  code/modules/item_worth/worths_list.dm
  code/modules/materials/definitions/materials_glass.dm
  code/modules/materials/definitions/materials_mineral.dm
  code/modules/materials/material_sheets.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/random_map/automata/caves.dm
  code/modules/tables/presets.dm
  code/modules/xenoarcheaology/anomaly_container.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  maps/antag_spawn/ert/ert_base.dmm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/event/sfv_arbiter/sfv_arbiter.dmm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dmm
  maps/random_ruins/exoplanet_ruins/monoliths/monoliths.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

#33253 Upgrades bridge deck solars roundstart
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_presets.dm
Labels: Map

#33255 Ported /tg/ emissives
  baystation12.dme
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/emissives.dm
  code/_helpers/emissives.dm
  code/datums/beam.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/computer/computer.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  code/modules/mob/mob_defines.dm
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/modular_computers/file_system/programs/security/forceauthorization.dm
  code/modules/modular_computers/ntos/visuals.dm
  icons/obj/computer.dmi
Labels: Sprites

#33259 Reinforce event shuttle exterior walls
  maps/event/iccgn_ship/icgnv_hound.dmm
  maps/event/sfv_arbiter/sfv_arbiter.dmm
Labels: Map

#33275 Ports food sprites from TG and Aurora, cooker tweaks
  code/game/machinery/kitchen/cookers.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/game/objects/items/weapons/storage/mre.dm
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/sandwich.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  icons/obj/food.dmi
  icons/obj/food_custom.dmi
  icons/obj/food_ingredients.dmi
  test/check-paths.sh
Labels: Sprites, Repo

#33270 Bearcat adjustments
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
Labels: Map

#33292 Swaps hamburger and cheeseburger sprite
  icons/obj/food.dmi
Labels: Sprites

#33267 Bug Fixes 2023-04-11
  maps/torch/torch3_deck3.dmm
Labels: Map

#33257 Mines
  baystation12.dme
  code/game/objects/effects/mines.dm
  code/game/objects/structures/mines.dm
  icons/obj/mines.dmi
  icons/obj/weapons/other.dmi
  maps/away/meatstation/meatstation.dmm
  test/check-paths.sh
Labels: Map, Sprites, Repo

#33209 New Advanced Energy Gun Sprites
  code/modules/projectiles/guns/energy/nuclear.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/adv_egun.dmi
Labels: Sprites

#33307 Corrects spelling of "meatstake" icon to "meatsteak"
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
Labels: Sprites

#33299 fix torch chef closet to correct closet
  maps/torch/torch3_deck3.dmm
Labels: Map

#33303 Bug fixes 2023 04 16
  code/datums/browser.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/inflatable.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/tables/tables.dm
  maps/torch/torch2_deck4.dmm
Labels: Map

#33321 Changes zipgun trigger to be a lightswitch
  code/modules/crafting/crafting_weapons_ranged.dm
Labels: Update Wiki after Merge

#33296 SCG and ICCG rifles
  code/__defines/guns.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/guns/bullpup_rifle.dmi
  icons/obj/guns/bullpup_rifle_light.dmi
  icons/obj/guns/terran_rifle.dmi
Labels: Sprites

#33344 Fixes missing pixels in unbranded hand sides
  icons/mob/human_races/cyberlimbs/robotic.dmi
Labels: Sprites

#33354 Bug Fixes 2023-04-26
  code/modules/mob/living/carbon/human/human_maneuvers.dm
  code/modules/mob/observer/freelook/ai/update_triggers.dm
  code/modules/organs/external/_external.dm
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/casino/casino.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/meatstation/meatstation.dmm
  maps/away/miningstation/miningstation.dmm
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#33360 Flag supermatter core and waste chamber as airless
  maps/torch/torch4_deck2.dmm
Labels: Map

#33343 Adds more chest-rigs
  code/game/objects/random/random.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/clothing/suits/jobs.dm
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_suit.dmi
  maps/torch/loadout/loadout_suit.dm
  maps/torch/structures/closets/engineering.dm
Labels: Sprites

#33304 Hot/Cold plate
  code/game/objects/items/weapons/circuitboards/machinery/chemistry.dm
  code/modules/reagents/heat_sources/_heat_source.dm
  code/modules/research/designs/designs_circuits.dm
  maps/away/meatstation/meatstation.dmm
  maps/away/miningstation/miningstation.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/voxship/voxship-2.dmm
  maps/example/example-2.dmm
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

#33007 Vox Raiders: Lootbox Edition
  code/datums/outfits/misc.dm
  code/game/antagonist/outsider/vox.dm
  code/modules/augment/active/nerve_dampeners.dm
  code/modules/augment/implanter.dm
  maps/antag_spawn/vox/vox.dmi
  maps/antag_spawn/vox/vox_raider.dmm
Labels: Map, Update Wiki after Merge, Sprites, Test Merge, Lore Approved

#33370 (azlan) adds new sprites for drones (33308)
  code/modules/xenoarcheaology/tools/transport_drone.dm
  icons/obj/landing_pad.dmi
Labels: Sprites

#33377 updates new chest-rigs to use better palette
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: Sprites
