Repository Baystation12/Baystation12, pull requests merged in 2023-02, with the labels that each got.

#32999 Replace Spikethrower on Heist
  maps/antag_spawn/heist/heist_base.dmm
Labels: Map

#32988 add chief steward, remap some stuff to account for it
  maps/torch/icons/assignment_hud.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/items/encryption_keys.dm
  maps/torch/items/headsets.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/outfits/service_outfits.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/torch_access.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/loadout/_defines.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_ranks.dm
Labels: Map, Sprites

#33013 Rotates Aquila air tanks
  maps/torch/torch6_bridge.dmm
Labels: Map

#33030 Bishop labcoat/ suit
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/corporate.dm
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/onmob/onmob_under_corporate.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/obj_under.dmi
Labels: Sprites

#33031 fix grass borders being drawn underneath turfs
  code/game/turfs/flooring/flooring.dm
  maps/torch/torch3_deck3.dmm
Labels: Map

#32985 Changes to preset modular computers
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#33029 Add attackby override test
  test/check-paths.sh
Labels: Repo

#33036 Remap the contents of the galley, remap cold storage, improve Chief Steward's office
  maps/torch/torch3_deck3.dmm
Labels: Map

#33053 Fix invalid id_tag in SFV Arbiter external airlock sensor
  maps/event/sfv_arbiter/sfv_arbiter.dmm
Labels: Map

#33043 Fixes pAI holder icon states
  code/modules/mob/living/silicon/pai/pai.dm
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
  icons/mob/onmob/onmob_head.dmi
Labels: Sprites

#33046 fancy storage & smokable storage refactors
  baystation12.dme
  code/datums/supplypacks/galley.dm
  code/datums/trading/goods.dm
  code/game/machinery/biogenerator.dm
  code/game/machinery/vending/cigarette.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/fancy/_fancy.dm
  code/game/objects/items/weapons/storage/fancy/crackers.dm
  code/game/objects/items/weapons/storage/fancy/crayons.dm
  code/game/objects/items/weapons/storage/fancy/egg_box.dm
  code/game/objects/items/weapons/storage/fancy/pencilcase.dm
  code/game/objects/items/weapons/storage/fancy/smokable/_smokable.dm
  code/game/objects/items/weapons/storage/fancy/smokable/antag.dm
  code/game/objects/items/weapons/storage/fancy/smokable/basic.dm
  code/game/objects/items/weapons/storage/fancy/vials.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/clothing/masks/smokable.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/materials/recipes_storage.dm
  code/modules/random_map/drop/drop_types.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/reagent_containers/food/snacks/bugmeat.dm
  code/modules/reagents/reagent_containers/syringes.dm
  maps/antag_spawn/ert/ert_base.dmm
  maps/antag_spawn/heist/heist_base.dmm
  maps/away/casino/casino.dmm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/meatstation/meatstation.dmm
  maps/away/miningstation/miningstation.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/scavver/scavver_gantry.dm
  maps/event/sfv_arbiter/sfv_arbiter.dmm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/z1_admin.dmm
Labels: Map

#33059 fix a cigarette pack icon state
  icons/obj/cigarettes.dmi
Labels: Sprites

#33061 Re-adds CoS office console
  maps/torch/torch6_bridge.dmm
Labels: Map

#33039 Adds more seafood, tweaks sushi
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/fish.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/shellfish.dm
  code/modules/reagents/reagent_containers/food/sushi.dm
  icons/obj/food.dmi
  icons/obj/sushi.dmi
  test/check-paths.sh
Labels: Sprites, Repo

#33057 Adds Gravikinetic Rig Module
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/research/designs/designs_mechfab.dm
  icons/obj/rig_modules.dmi
Labels: Sprites

#33069 makes the z9 rifle more usable + sprite edits
  code/datums/supplypacks/security.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/bullpup_rifle_light.dmi
Labels: Sprites

#33040 Adjust D3 changes
  maps/torch/torch3_deck3.dmm
Labels: Map

#33045 Add rank_category singleton, restrict access of the Officer's Mess
  code/datums/mil_ranks.dm
  code/game/objects/items/weapons/cards_ids.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/torch_access.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_ranks.dm
Labels: Map

#33091 Fix SFV Arbiter's pipes to external vents
  maps/event/sfv_arbiter/sfv_arbiter.dmm
Labels: Map

#33085 Bullpup Mag Interchangability, Jamming Implementation
  code/datums/supplypacks/security.dm
  code/datums/trading/weaponry.dm
  code/datums/uplink/ammunition.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/obj/ammo.dmi
  maps/antag_spawn/ert/ert_base.dmm
  maps/away/smugglers/smugglers.dm
  maps/torch/datums/traders.dm
  maps/torch/z1_admin.dmm
Labels: Map, Sprites

#33100 Fleet mobpack update + simplemob casings
  baystation12.dme
  code/modules/clothing/under/accessories/helmcover.dm
  code/modules/mob/living/carbon/human/corpse.dm
  code/modules/mob/living/simple_animal/combat.dm
  icons/mob/onmob/onmob_modular_armor.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/simple_animal/animal.dmi
  icons/obj/clothing/obj_suit_modular_armor.dmi
  icons/obj/rig_modules.dmi
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/icons/obj/obj_accessories_solgov.dmi
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/job/outfits/misc_outfits.dm
  maps/torch/torch.dm
  maps/torch/torch_simplemobs.dm
Labels: Sprites
