Repository Baystation12/Baystation12, pull requests merged in 2023-11, with the labels that each got.

#34263 Makes storage take priority on use_after
  code/_onclick/item_attack.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/scanners/_scanner.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/weldbackpack.dm
  code/game/objects/objs.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/research/message_server.dm
  test/check-paths.sh
Labels: Repo

#34299 Unathi clothing cleanup
  code/modules/clothing/under/accessories/frontier.dm
  code/modules/clothing/under/frontier.dm
  icons/mob/species/unathi/onmob_accessories_frontier_unathi.dmi
  icons/mob/species/unathi/onmob_feet_unathi.dmi
  icons/mob/species/unathi/onmob_head_unathi.dmi
  icons/mob/species/unathi/onmob_mask_unathi.dmi
  icons/mob/species/unathi/onmob_under_frontier_unathi.dmi
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/icons/mob/unathi/onmob_accessories_solgov_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_head_solgov_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_suit_solgov_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_under_solgov_unathi.dmi
  packs/factions/scga/badges.dm
  packs/factions/scga/clothing.dm
  packs/factions/scga/ranks.dm
  packs/factions/scga/species/badges_unathi.dmi
  packs/factions/scga/species/clothing_unathi.dmi
  packs/factions/scga/species/ranks_unathi.dmi
Labels: Sprites

#34272 add gunpowder
  code/modules/hydroponics/trays/tray.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/presets/chemistry.dm
  code/modules/xenoarcheaology/triggers/chemical.dm
Labels: Update Wiki after Merge

#34313 Grav-worlders can wear shirts now (and Species Info stuff)
  code/modules/species/outsider/random.dm
  code/modules/species/outsider/shadow.dm
  code/modules/species/outsider/starlight.dm
  code/modules/species/outsider/vox.dm
  code/modules/species/outsider/zombie.dm
  code/modules/species/species.dm
  code/modules/species/station/golem.dm
  code/modules/species/station/human_subspecies.dm
  code/modules/species/station/lizard_subspecies.dm
  code/modules/species/station/machine.dm
  code/modules/species/station/monkey.dm
  code/modules/species/station/prometheans.dm
  code/modules/species/station/station.dm
  icons/mob/human_races/species/adherent/body.dmi
  icons/mob/human_races/species/adherent/preview.dmi
  icons/mob/human_races/species/blueforged/body.dmi
  icons/mob/human_races/species/diona/body.dmi
  icons/mob/human_races/species/diona/preview.dmi
  icons/mob/human_races/species/golem/body.dmi
  icons/mob/human_races/species/human/body.dmi
  icons/mob/human_races/species/human/preview.dmi
  icons/mob/human_races/species/human/subspecies/gravworlder_body.dmi
  icons/mob/human_races/species/human/subspecies/gravworlder_preview.dmi
  icons/mob/human_races/species/human/subspecies/mule_preview.dmi
  icons/mob/human_races/species/human/subspecies/spacer_body.dmi
  icons/mob/human_races/species/human/subspecies/spacer_preview.dmi
  icons/mob/human_races/species/human/subspecies/tritonian_body.dmi
  icons/mob/human_races/species/human/subspecies/tritonian_preview.dmi
  icons/mob/human_races/species/human/subspecies/vatgrown_body.dmi
  icons/mob/human_races/species/human/subspecies/vatgrown_preview.dmi
  icons/mob/human_races/species/humanoid/body.dmi
  icons/mob/human_races/species/ipc/preview.dmi
  icons/mob/human_races/species/monkey/farwa_body.dmi
  icons/mob/human_races/species/monkey/monkey_body.dmi
  icons/mob/human_races/species/monkey/neaera_body.dmi
  icons/mob/human_races/species/monkey/stok_body.dmi
  icons/mob/human_races/species/nabber/body.dmi
  icons/mob/human_races/species/nabber/msq/preview.dmi
  icons/mob/human_races/species/nabber/preview.dmi
  icons/mob/human_races/species/shadow/body.dmi
  icons/mob/human_races/species/skrell/body.dmi
  icons/mob/human_races/species/skrell/preview.dmi
  icons/mob/human_races/species/starborn/body.dmi
  icons/mob/human_races/species/unathi/preview.dmi
  icons/mob/human_races/species/unathi/skin.dmi
  icons/mob/human_races/species/unathi/yeosa_preview.dmi
  icons/mob/human_races/species/vox/body.dmi
  icons/mob/human_races/species/vox/preview.dmi
Labels: Sprites, Lore Approved

#34287 Attackby Fixes
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/detectivework/tools/sample_kits.dm
  code/modules/materials/material_sheets.dm
  code/modules/mining/mine_items.dm
  test/check-paths.sh
Labels: Repo

#34315 Adds support for cold mist effect for low temperatures
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/atmos.dm
  code/controllers/configuration.dm
  code/game/objects/effects/misc.dm
  code/game/objects/effects/particles/particles.dm
  code/modules/xgm/xgm_gas_data.dm
  code/modules/xgm/xgm_gas_mixture.dm
  icons/effects/particles.dmi
  icons/effects/tile_effects.dmi
Labels: Sprites

#34334 Revert "Merge pull request #34315 from CrimsonShrike/Mistborn"
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/atmos.dm
  code/controllers/configuration.dm
  code/game/objects/effects/misc.dm
  code/game/objects/effects/particles/particles.dm
  code/modules/xgm/xgm_gas_data.dm
  code/modules/xgm/xgm_gas_mixture.dm
  icons/effects/particles.dmi
  icons/effects/tile_effects.dmi
Labels: Sprites

#34329 You can trim grass
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  maps/away/abandoned_hotel/abandoned_hotel-1.dmm
  maps/away/abandoned_hotel/abandoned_hotel-2.dmm
Labels: Map

#34318 New chemsprayer sprite + sound
  code/modules/reagents/reagent_containers/spray.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons/other.dmi
Labels: Sprites

#34335 Adds support for cold mist effect for low temperatures
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/__defines/atmos.dm
  code/controllers/configuration.dm
  code/game/objects/effects/misc.dm
  code/game/objects/effects/particles/particles.dm
  code/modules/xgm/xgm_gas_data.dm
  code/modules/xgm/xgm_gas_mixture.dm
  icons/effects/particles.dmi
  icons/effects/tile_effects.dmi
Labels: Sprites

#34267 Skip abstract types in merchant list generation
  code/datums/trading/trade.dm
Labels: Has Dependencies

#34354 Flowers from hydroponics can be made into hair pins
  code/datums/supplypacks/nonessent.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/clothing/head/misc.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed_datums.dm
  icons/mob/onmob/onmob_ears.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/species/unathi/onmob_ears_unathi.dmi
  icons/mob/species/unathi/onmob_head_unathi.dmi
  icons/obj/clothing/obj_head.dmi
Labels: Sprites

#34353 Add some posters
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/effects/decals/posters/bs12.dm
  icons/obj/structures/contraband.dmi
Labels: Sprites

#34360 no free merc ofd charges + add charges to uplink
  baystation12.dme
  code/datums/uplink/structures_and_vehicles.dm
  code/datums/uplink/uplink_categories.dm
  maps/antag_spawn/mercenary/mercenary_base.dmm
Labels: Map
