Repository Baystation12/Baystation12, pull requests merged in 2023-03, with the labels that each got.

#33098 Bugfix Batch 2023-02-24
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  maps/torch/torch6_bridge.dmm
Labels: Map

#33112 More Unathi/Vox clothes fixes (bandanas, cigarettes, towels)
  code/game/objects/items/weapons/towels.dm
  code/game/objects/structures/watercloset.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/masks/chewable.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/masks/smokable.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/species/unathi/onmob_head_unathi.dmi
  icons/mob/species/unathi/onmob_mask_unathi.dmi
  icons/mob/species/unathi/onmob_modular_armor_unathi.dmi
  icons/mob/species/unathi/onmob_rig_back_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_accessories_solgov_unathi.dmi
Labels: Sprites

#33114 Adds two hairstyles from Aurora
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Sprites

#33118 Adds Fleet duty gloves
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/icons/mob/onmob_hands_solgov.dmi
  maps/torch/icons/obj/obj_hands_solgov.dmi
  maps/torch/items/clothing/solgov-hands.dm
Labels: Sprites

#33047 Add onmob for L6 SAW
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
Labels: Sprites

#33116 Makes laborer's overalls not give you tiny legs
  icons/mob/onmob/onmob_under.dmi
Labels: Sprites

#33071 Add new Crashed Probe for exoplanet Ruin
  code/modules/mob/living/simple_animal/hostile/bad_drone.dm
  icons/mob/simple_animal/animal.dmi
  maps/_maps.dm
  maps/random_ruins/exoplanet_ruins/crashed_probe/crashed_probe.dm
  maps/random_ruins/exoplanet_ruins/crashed_probe/crashed_probe.dmm
Labels: Map, Sprites

#33131 Move botany screwdriver to table
  maps/torch/torch3_deck3.dmm
Labels: Map

#33123 Move aura interaction checks to separate procs
  code/__defines/mobs.dm
  code/game/objects/auras/aura.dm
  code/game/objects/auras/blueforge_aura.dm
  code/game/objects/auras/personal_shields/personal_shield.dm
  code/game/objects/auras/radiant_aura.dm
  code/game/objects/auras/regenerating_aura.dm
  code/game/objects/auras/shadowling_aura.dm
  code/game/objects/auras/starlight.dm
  code/modules/augment/passive/nanoaura.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/webslinger.dm
  test/check-paths.sh
Labels: Repo

#33144 adds a sink to the laundry room
  maps/torch/torch2_deck4.dmm
Labels: Map

#33124 Add `use_*` calls to `/obj/effect/*`
  code/__defines/feedback.dm
  code/_helpers/mobs.dm
  code/_onclick/item_attack.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/machinery/suit_cycler.dm
  code/game/machinery/suit_storage.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/weapons/RCD.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/items/weapons/tools_crystal.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets/walllocker.dm
  code/game/objects/structures/railing.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/wall_types.dm
  code/game/turfs/space/transit.dm
  code/modules/blob/blob.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/bot/medibot.dm
  code/modules/mob/living/bot/remotebot.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/persistence/graffiti.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/shield_generators/shield.dm
  code/modules/spells/general/mark_recall.dm
  test/check-paths.sh
Labels: Repo

#33107 Add `use_*` to `/atom/movable`
  code/modules/multiz/zmimic/mimic_movable.dm
  test/check-paths.sh
Labels: Repo

#33145 Adds baseball item reflection and batting
  code/game/objects/items/weapons/material/twohanded.dm
  sound/items/baseball/baseball_hit_01.wav
  sound/items/baseball/baseball_hit_02.wav
  sound/items/baseball/play_ball.wav
  sound/items/baseball/swing_woosh.wav
Labels: Sound

#33153 Fix LMG onmob sprites
  icons/mob/onmob/items/lefthand_guns.dmi
Labels: Sprites

#33155 Readds Singulo barsign
  code/game/objects/structures/barsign.dm
  icons/obj/barsigns.dmi
Labels: Sprites

#33108 Add `use_*` to `/mob`
  code/__defines/feedback.dm
  code/_onclick/item_attack.dm
  code/modules/mechs/mech_construction.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mob/living/bot/secbot.dm
  code/modules/mob/living/carbon/alien/diona/nymph_attacks.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/defense.dm
  code/modules/mob/living/simple_animal/friendly/alien.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/webslinger.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  test/check-paths.sh
Labels: Repo

#33163 Revert moving `attack` to `use_weapon`
  code/_onclick/item_attack.dm
  test/check-paths.sh
Labels: Repo

#33135 Paintable Cables
  baystation12.dme
  code/__defines/colors.dm
  code/_global_vars/lists/flavor.dm
  code/datums/extensions/multitool/items/cable.dm
  code/datums/supplypacks/nonessent.dm
  code/datums/trading/goods.dm
  code/game/machinery/CableLayer.dm
  code/game/machinery/vending/tool.dm
  code/game/objects/items/devices/cable_painter.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/codex/entries/tools.dm
  code/modules/power/cable_coil.dm
  code/modules/power/cable_structure.dm
  code/unit_tests/unique_tests.dm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/voxship/voxship-2.dmm
  maps/deepmaint/deepmaint_rooms/normal/supply.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dmm
Labels: Map

#33159 Add 3 new pets
  code/modules/client/preference_setup/loadout/lists/pet.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/snake.dm
  maps/torch/torch5_deck1.dmm
Labels: Map

#33161 Tweaks to suit cyclers
  code/datums/item_modifiers/_defines.dm
  code/datums/item_modifiers/item_modifier.dm
  code/datums/item_modifiers/space_suits.dm
  code/datums/item_modifiers/~defines.dm
  code/game/machinery/suit_cycler.dm
  code/game/machinery/suit_cycler_units.dm
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/unathi/onmob_head_unathi.dmi
  maps/torch/items/machinery.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map, Sprites

#33168 Add crowplush + New mouseplush sprite
  code/game/objects/items/toys.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  icons/obj/toy.dmi
Labels: Sprites

#33180 Adds Frontier Alliance logo for paperwork
  code/_helpers/text.dm
  code/modules/client/client_procs.dm
  code/modules/codex/entries/paperwork.dm
  code/modules/paperwork/adminpaper.dm
  html/images/falogo.png
Labels: Lore Approved
