Repository Baystation12/Baystation12, pull requests merged in 2023-01, with the labels that each got.

#32856 potted plants; our trimmable friends
  baystation12.dme
  code/datums/supplypacks/hydroponics.dm
  code/game/objects/items/flora.dm
  code/game/objects/structures/flora.dm
  maps/away/meatstation/meatstation.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#32857 Emp wire pulsing
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/doors/airlock.dm
  code/modules/power/apc.dm
  test/check-paths.sh
Labels: Repo

#32859 Eggcluster spiderling death
  code/game/objects/effects/spiders.dm
Labels: Has Dependencies

#32850 unathi can have tattoos, they layer over plates
  code/modules/species/station/lizard.dm
  code/modules/sprite_accessories/accessory_tattoo.dm
  code/modules/sprite_accessories/accessory_unathi.dm
  icons/mob/human_races/species/tattoos.dmi
  icons/mob/human_races/species/unathi/body.dmi
  icons/mob/human_races/species/unathi/deformed.dmi
  icons/mob/human_races/species/unathi/markings.dmi
  icons/mob/human_races/species/unathi/skin.dmi
  icons/mob/human_races/species/unathi/tattoo.dmi
Labels: Sprites

#32865 tweaks, 2023-01-03
  code/game/objects/effects/fire/fire.dm
  code/game/objects/structures/inflatable.dm
  code/game/turfs/simulated/walls.dm
  test/check-paths.sh
Labels: Repo

#32868 move mapcapturemerge & midi2piano to org/Tools
  tools/Readme.md
  tools/mapcapturemerge/.gitignore
  tools/mapcapturemerge/README.md
  tools/mapcapturemerge/captures/.gitkeep
  tools/mapcapturemerge/imageHelpers.py
  tools/mapcapturemerge/merge.py
  tools/midi2piano/README.txt
  tools/midi2piano/easygui/__init__.py
  tools/midi2piano/midi/__init__.py
  tools/midi2piano/midi/midi.py
  tools/midi2piano/midi2piano.py
  tools/midi2piano/pyperclip/__init__.py
  tools/midi2piano/pyperclip/clipboards.py
  tools/midi2piano/pyperclip/exceptions.py
  tools/midi2piano/pyperclip/windows.py
Labels: Repo

#32866 add node make-suid tool and /proc/is_suid
  code/_helpers/text.dm
  tools/make-suid/index.js
  tools/make-suid/package.json
Labels: Repo

#32880 Supermatter fire containment
  code/game/atoms.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/walls.dm
  code/modules/materials/_materials.dm
  maps/torch/torch4_deck2.dmm
Labels: Map

#32887 telescopic baton sprites + description fixes
  code/game/objects/items/weapons/swords_axes_etc.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons/melee_physical.dmi
Labels: Sprites

#32895 only generate dmdoc when dm changes
  .github/workflows/generate_documentation.yml
Labels: Repo

#32896 generate docs self cancels
  .github/workflows/generate_documentation.yml
Labels: Repo

#32878 Add `ci skip` flag to changelog compilation action
  .github/workflows/changelog_generation.yml
Labels: Repo

#32848 Resprites EMS jackets and autocomps
  code/modules/clothing/suits/jobs.dm
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/auto_cpr.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: Sprites

#32897 Allows everyone to spawn with their very own large plant bug
  code/modules/client/preference_setup/loadout/lists/pet.dm
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
Labels: Sprites

#32911 Runtime batch 2023 01 12
  code/datums/trading/misc.dm
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/_machines_base/machinery_components.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/kitchen/gibber.dm
  code/modules/admin/topic.dm
  code/modules/mob/living/simple_animal/friendly/crab.dm
  code/modules/mob/transform_procs.dm
  code/modules/random_map/noise/tundra.dm
  code/modules/xenoarcheaology/artifacts/autocloner.dm
  maps/antag_spawn/wizard/wizard_base.dmm
  maps/torch/z1_admin.dmm
Labels: Map

#32920 Mechs: punches are now telegraphed, Nerfs ballistic shield, Fall damage tweaks
  code/modules/mechs/components/arms.dm
  code/modules/mechs/components/body.dm
  code/modules/mechs/components/legs.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mechs/interface/screen_objects.dm
  code/modules/mechs/mech.dm
  code/modules/mechs/mech_interaction.dm
  sound/mecha/mech_punch.ogg
  sound/mecha/mech_punch_fast.ogg
  sound/mecha/mech_punch_slow.ogg
Labels: Sound

#32938 Fireproofing Fireproof Areas
  code/game/machinery/doors/blast_door.dm
  code/game/turfs/simulated/floor_acts.dm
  maps/torch/torch4_deck2.dmm
Labels: Map

#32905 Fixes FR jackets for unathi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
Labels: Sprites

#32956 Add a light to the kitchen counter
  maps/torch/torch3_deck3.dmm
Labels: Map

#32979 Makes Substations appear in order
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

#32972 Makes IV Bags show the right color (again)
  icons/obj/iv_drip.dmi
Labels: Sprites

#32989 move behavior of strange fountains to subtype
  code/game/objects/random/date_based.dm
  code/game/objects/structures/fountain.dm
  maps/away/mining/mining-orb.dmm
  maps/random_ruins/exoplanet_ruins/fountain/fountain_ruin.dmm
  maps/torch/z1_admin.dmm
Labels: Map
