Repository Baystation12/Baystation12, pull requests merged in 2023-10, with the labels that each got.

#34190 New icons and bugfixes for body scanner and cryopod
  code/game/machinery/body_scanner.dm
  code/game/machinery/cryopod.dm
  icons/obj/machines/medical/bodyscanner.dmi
  icons/obj/machines/medical/cryopod.dmi
Labels: Sprites

#34206 eliminates new\s*/list style of list definition
  code/_helpers/areas.dm
  code/_helpers/game.dm
  code/_helpers/unsorted.dm
  code/game/machinery/vitals_monitor.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/storage/storage_ui/default.dm
  code/modules/clothing/suits/armor.dm
  code/modules/integrated_electronics/subtypes/smart.dm
  code/modules/modular_computers/file_system/programs/engineering/rcon_console.dm
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/paperwork/paperbin.dm
  code/modules/power/apc.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/turbine.dm
  code/modules/projectiles/guns/launcher/foam_gun.dm
  code/modules/projectiles/guns/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/launcher/rocket.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/procs/AStar.dm
  packs/deepmaint/generator/deepmaint_event.dm
  test/check-paths.sh
Labels: Repo

#34202 fix tcomms lights not updating on init
  code/game/machinery/bluespacerelay.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/NTNet/NTNet_relay.dm
  code/modules/research/message_server.dm
  code/modules/research/server.dm
  icons/obj/machines/telecomms.dmi
  test/check-paths.sh
Labels: Sprites, Repo

#34208 Block merging of PRs flagged for test merge
  .github/workflows/testmerge-blocker.yml
Labels: Test Merge, Repo, Test Merge Passed

#34157 Improves Giftwrapping
  baystation12.dme
  code/datums/supplypacks/nonessent.dm
  code/datums/supplypacks/supply.dm
  code/game/machinery/vending/games.dm
  code/game/objects/effects/misc.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/gifts.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/items/weapons/wrapping_paper.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/accessories/_accessory.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_filing.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/recycling/sortingmachinery.dm
  icons/obj/gifts.dmi
  icons/obj/parcels.dmi
  maps/torch/items/items.dm
  maps/torch/structures/closets/supply.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  test/check-paths.sh
Labels: Map, Sprites, Repo

#34213 misc sprite and text fixes
  code/game/machinery/bioprinter.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/vitals_monitor.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/surgery/organs_internal.dm
  icons/obj/machines/medical/bodyscanner.dmi
  icons/obj/tools/bloodpack.dmi
Labels: Sprites

#34205 Integration (and tweaks) for Polaris AI Framework
  baystation12.dme
  code/__defines/ai.dm
  code/__defines/mobs.dm
  code/__defines/subsystem-priority.dm
  code/controllers/subsystems/aifast.dm
  code/game/machinery/portable_turret.dm
  code/modules/ai/__readme.dm
  code/modules/ai/ai_holder.dm
  code/modules/ai/ai_holder_combat.dm
  code/modules/ai/ai_holder_combat_unseen.dm
  code/modules/ai/ai_holder_communication.dm
  code/modules/ai/ai_holder_cooperation.dm
  code/modules/ai/ai_holder_fleeing.dm
  code/modules/ai/ai_holder_movement.dm
  code/modules/ai/ai_holder_subtypes/alien_ai.dm
  code/modules/ai/ai_holder_subtypes/human_ai.dm
  code/modules/ai/ai_holder_subtypes/simple_mob_ai.dm
  code/modules/ai/ai_holder_targeting.dm
  code/modules/ai/interfaces.dm
  code/modules/ai/say_list.dm
  code/modules/emotes/definitions/_mob.dm
  code/modules/mob/living/carbon/alien/diona/_nymph.dm
  code/modules/mob/living/carbon/alien/diona/nymph_life.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/defense.dm
  code/modules/mob/living/simple_animal/life.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
  code/modules/species/outsider/zombie.dm
  code/modules/species/species.dm
  code/modules/species/station/monkey.dm
  code/modules/species/station/station.dm
Labels: Test Merge, Test Merge Passed

#34238 More obvious neural suppressors for OR tables
  code/game/machinery/OpTable.dm
  icons/obj/machines/medical/operatingtable.dmi
Labels: Sprites

#34246 Update some posters icons
  icons/obj/structures/contraband.dmi
Labels: Sprites

#34237 Fix decals on open closets
  code/game/objects/structures/crates_lockers/closets/_closet_appearance_definitions.dm
  code/unit_tests/closets.dm
  icons/obj/closets/bases/closet.dmi
  icons/obj/closets/decals/closet.dmi
  icons/obj/closets/decals/crate.dmi
  icons/obj/closets/decals/wall.dmi
Labels: Sprites

#34216 Replace xenofauna carbine spawn with SMG(and rubber SMG mag) spawn
  maps/torch/torch5_deck1.dmm
Labels: Map

#34275 2ndFleet corrections + Ceti Expansion
  code/__defines/culture.dm
  code/modules/culture_descriptor/culture/cultures_human.dm
  code/modules/culture_descriptor/location/locations_human.dm
  code/modules/species/station/station.dm
  maps/mapsystem/maps.dm
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/clothing/solgov-head.dm
Labels: Lore Approved

#34255 Remove extra R&D sign from deck 1 stairs
  maps/torch/torch5_deck1.dmm
Labels: Map

#34278 fixed generate_cl yaml loading
  tools/changelog/generate_cl.py
Labels: Repo

#34224 Planet Gen Redo to make exploration more fun, two
  code/__defines/misc.dm
  code/modules/mob/living/simple_animal/hostile/leech.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/exoplanets/exoplanet_atmosphere.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
Labels: Test Merge, Test Merge Passed
