Repository Baystation12/Baystation12, pull requests merged in 2023-07, with the labels that each got.

#33775 Not nebula sensors
  code/_helpers/game.dm
  code/modules/overmap/contacts/_contacts.dm
  code/modules/overmap/contacts/contact_sensors.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/ship.dm
  icons/obj/overmap.dmi
  icons/turf/space.dmi
  maps/antag_spawn/mercenary/mercenary.dm
  maps/antag_spawn/vox/voxraider.dm
  maps/away/scavver/scavver_gantry.dm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/voxship/voxship.dm
  maps/event/iccgn_ship/icgnv_hound.dm
  maps/event/placeholders/placeholders.dm
  maps/event/sfv_arbiter/sfv_arbiter.dm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_setup.dm
  nano/templates/shipsensors.tmpl
Labels: Map, Sprites

#33725 removes flashing nav lights, sets Torch lights to be nautically correct
  baystation12.dme
  code/modules/power/lighting.dm
  code/modules/power/nav_light.dm
  icons/obj/lighting.dmi
  icons/obj/lighting_nav.dmi
  icons/obj/nav_light.dmi
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/event/iccgn_ship/icgnv_hound.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map, Sprites

#33754 Modular Armour Tags
  code/modules/client/preference_setup/loadout/lists/tactical.dm
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/icons/obj/obj_accessories_solgov.dmi
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_head.dm
Labels: Sprites

#33815 Adds template to lizard, removes incorrect offsets from limbs
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/species/station/lizard.dm
  icons/mob/human_races/species/unathi/template.dmi
Labels: Sprites

#33827 VSCode improvements
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Labels: Repo

#33817 Port radial menus from Neb
  baystation12.dme
  code/__defines/__renderer.dm
  code/_helpers/lists.dm
  code/_helpers/maths.dm
  code/_onclick/hud/radial.dm
  code/_onclick/hud/radial_persistent.dm
  code/modules/clothing/clothing_accessories.dm
  icons/screen/radial.dmi
Labels: Sprites

#33814 SSinput and Keybinds. And Gliding.
  baystation12.dme
  code/__defines/admin.dm
  code/__defines/colors.dm
  code/__defines/misc.dm
  code/__defines/movement.dm
  code/__defines/subsystem-priority.dm
  code/__defines/subsystems.dm
  code/_global_vars/client.dm
  code/_helpers/global_lists.dm
  code/_helpers/sanitize_values.dm
  code/_onclick/click.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/input.dm
  code/controllers/subsystems/typing.dm
  code/datums/movement/atom_movable.dm
  code/datums/movement/mob.dm
  code/datums/movement/movement.dm
  code/game/atoms_movable.dm
  code/game/machinery/cryopod.dm
  code/game/verbs/ooc.dm
  code/modules/admin/callproc/callproc.dm
  code/modules/admin/spam_prevention.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/controls/01_keybindings.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/client/preferences.dm
  code/modules/keybindings/_defines.dm
  code/modules/keybindings/_keybindings.dm
  code/modules/keybindings/admin.dm
  code/modules/keybindings/bindings_atom.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/keybindings/carbon.dm
  code/modules/keybindings/client.dm
  code/modules/keybindings/communication.dm
  code/modules/keybindings/human.dm
  code/modules/keybindings/living.dm
  code/modules/keybindings/mob.dm
  code/modules/keybindings/movement.dm
  code/modules/keybindings/readme.md
  code/modules/keybindings/robot.dm
  code/modules/keybindings/setup.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/login.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/organs/external/_external.dm
  config/example/game_options.txt
  icons/effects/mouse_pointers/examine_pointer.dmi
  interface/interface.dm
  interface/skin.dmf
Labels: Sprites, Config Update

#33838 Revert SSInput/mob gliding
  baystation12.dme
  code/__defines/admin.dm
  code/__defines/colors.dm
  code/__defines/misc.dm
  code/__defines/movement.dm
  code/__defines/subsystem-priority.dm
  code/__defines/subsystems.dm
  code/_global_vars/client.dm
  code/_helpers/global_lists.dm
  code/_helpers/sanitize_values.dm
  code/_onclick/click.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/input.dm
  code/controllers/subsystems/typing.dm
  code/datums/movement/atom_movable.dm
  code/datums/movement/mob.dm
  code/datums/movement/movement.dm
  code/game/atoms_movable.dm
  code/game/machinery/cryopod.dm
  code/game/verbs/ooc.dm
  code/modules/admin/callproc/callproc.dm
  code/modules/admin/spam_prevention.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/controls/01_keybindings.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/client/preferences.dm
  code/modules/keybindings/_defines.dm
  code/modules/keybindings/_keybindings.dm
  code/modules/keybindings/admin.dm
  code/modules/keybindings/bindings_atom.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/keybindings/carbon.dm
  code/modules/keybindings/client.dm
  code/modules/keybindings/communication.dm
  code/modules/keybindings/human.dm
  code/modules/keybindings/living.dm
  code/modules/keybindings/mob.dm
  code/modules/keybindings/movement.dm
  code/modules/keybindings/readme.md
  code/modules/keybindings/robot.dm
  code/modules/keybindings/setup.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/login.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/organs/external/_external.dm
  config/example/game_options.txt
  icons/effects/mouse_pointers/examine_pointer.dmi
  interface/interface.dm
  interface/skin.dmf
Labels: Sprites, Config Update

#33820 fix the rust observation shutters
  maps/torch/torch4_deck2.dmm
Labels: Map

#33822 Trials a switch of Torch to ballistics
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  maps/torch/items/weapons.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/structures/closets/security.dm
  maps/torch/torch5_deck1.dmm
Labels: Map, Test Merge

#33731 Select Fire Shotgun
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/game/objects/effects/spawners/guns.dm
  code/game/objects/random/random.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/magshot.dmi
Labels: Sprites

#33839 Replace all 'type' VV lists with inputs
  code/modules/admin/callproc/callproc.dm
  code/modules/admin/verbs/massmodvar.dm
  test/check-paths.sh
Labels: Repo

#33862 Sec ballistics tweaks
  maps/torch/job/torch_access.dm
  maps/torch/structures/closets/security.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
Labels: Map

#33868 Fixes white brig walls
  maps/torch/torch5_deck1.dmm
Labels: Map

#33885 fix spin() never ending if called with no args
  code/modules/mob/animations.dm
  test/check-paths.sh
Labels: Repo

#33890 Adds species fall sounds
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/species/species.dm
  code/modules/species/station/machine.dm
  code/modules/species/station/station.dm
  sound/effects/bodyfall.ogg
  sound/effects/bodyfall_machine.ogg
  sound/effects/bodyfall_skrell.ogg
Labels: Sound

#33910 update to_world() test
  test/check-paths.sh
Labels: Repo

#33901 Remaps security armory
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/structures/closets/security.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#33911 Cane Expansion
  code/game/objects/items/weapons/cane.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_items.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons/melee_physical.dmi
Labels: Sprites

#33928 adds sounds to showers
  code/game/objects/structures/watercloset.dm
  sound/machines/shower.ogg
Labels: Sound

#33934 ballistics stuff 3
  code/datums/supplypacks/security.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/beams.dm
  icons/effects/projectiles.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/laser_carbine.dmi
  maps/away/meatstation/meatstation.dm
  maps/away/meatstation/meatstation.dmm
  maps/away/meatstation/meatstation_left_hand.dmi
  maps/away/meatstation/meatstation_right_hand.dmi
  maps/away/meatstation/meatstation_sprites.dmi
  maps/torch/datums/supplypacks/security.dm
  maps/torch/torch5_deck1.dmm
Labels: Map, Sprites

#33960 Adds Fleet Sweaters
  maps/torch/datums/uniforms.dm
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/items/clothing/solgov-suit.dm
Labels: Sprites

#33977 remove trailing comma in vscode repo settings
  .vscode/settings.json
Labels: Repo

#33976 add parser diagnostics block to spacemandmm config
  SpacemanDMM.toml
  code/_helpers/game.dm
  code/game/machinery/telecomms/broadcaster.dm
Labels: Repo

#33974 CSO changes
  maps/torch/items/rigs.dm
  maps/torch/structures/closets/research.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#33972 adds surgery sounds
  code/modules/surgery/bones.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/face.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/slimes.dm
  sound/items/amputation.ogg
  sound/items/bonegel.ogg
  sound/items/bonesetter.ogg
  sound/items/cautery.ogg
  sound/items/circularsaw.ogg
  sound/items/fixovein.ogg
  sound/items/hemostat.ogg
  sound/items/retractor.ogg
  sound/items/scalpel.ogg
  sound/items/surgicaldrill.ogg
Labels: Sound
