Repository Baystation12/Baystation12, pull requests merged in 2024-02, with the labels that each got.

#34504 Vox only get neuter pronouns
  code/modules/species/outsider/vox.dm
Labels: Lore Approved

#34510 device/spaceflare -> shuttle_beacon, add /active type
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/shuttles/landmarks.dm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/antag_spawn/vox/vox_raider.dmm
  maps/away/scavver/scavver_gantry-1.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmm
  maps/random_ruins/exoplanet_ruins/skrell_biodome/skrell_biodome.dmm
  maps/random_ruins/exoplanet_ruins/transshipment/transshipment.dmm
  maps/torch/structures/closets.dm
  maps/torch/structures/closets/exploration.dm
  maps/torch/torch1_deck5.dmm
Labels: Map

#34515 FIx: rig_modules.dmi absence of icons
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  icons/obj/rig_modules.dmi
  maps/away/blueriver/blueriver-1.dmm
Labels: Map, Sprites

#34477 adds portable radio jammer
  baystation12.dme
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/radio_jammer.dm
  icons/obj/radio_jammer.dmi
  nano/templates/radio_jammer.tmpl
Labels: Sprites

#34513 Adds TC and FPE outfits/accessories.
  code/datums/outfits/misc.dm
  code/modules/clothing/under/accessories/frontier.dm
  code/modules/clothing/under/frontier.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/mob/onmob/onmob_accessories_frontier.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/onmob/onmob_under_frontier.dmi
  icons/obj/clothing/obj_accessories.dmi
  icons/obj/clothing/obj_accessories_frontier.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/obj_under_frontier.dmi
Labels: Sprites

#34523 packified frontier alliance and terran commonwealth assets
  baystation12.dme
  code/datums/outfits/misc.dm
  code/modules/clothing/under/accessories/frontier.dm
  code/modules/clothing/under/frontier.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/mob/onmob/onmob_accessories_frontier.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/onmob/onmob_under_frontier.dmi
  icons/obj/clothing/obj_accessories.dmi
  icons/obj/clothing/obj_accessories_frontier.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/obj_under_frontier.dmi
  maps/torch/torch.dm
  packs/factions/fa/_pack.dm
  packs/factions/fa/badges.dm
  packs/factions/fa/badges.dmi
  packs/factions/fa/badges_unathi.dmi
  packs/factions/fa/clothing.dm
  packs/factions/fa/clothing.dmi
  packs/factions/fa/clothing_unathi.dmi
  packs/factions/fa/misc.dm
  packs/factions/fa/outfits.dm
  packs/factions/fa/tweaks.dm
  packs/factions/tc/_pack.dm
  packs/factions/tc/badges.dm
  packs/factions/tc/badges.dmi
  packs/factions/tc/clothing.dm
  packs/factions/tc/clothing.dmi
  packs/factions/tc/misc.dm
  packs/factions/tc/outfits.dm
  packs/factions/tc/tweaks.dm
Labels: Sprites

#34524 rsf improvement pass
  code/game/objects/items/weapons/RSF.dm
  test/check-paths.sh
Labels: Repo

#34525 repath /tc*/ to /commonwealth*/ & fix rolling utes
  maps/torch/torch.dm
  packs/factions/commonwealth/_pack.dm
  packs/factions/commonwealth/badges.dm
  packs/factions/commonwealth/badges.dmi
  packs/factions/commonwealth/clothing.dm
  packs/factions/commonwealth/clothing.dmi
  packs/factions/commonwealth/misc.dm
  packs/factions/commonwealth/outfits.dm
  packs/factions/commonwealth/tweaks.dm
  packs/factions/fa/clothing.dm
  packs/factions/tc/misc.dm
Labels: Sprites

#34526 adds sink to chemistry (medical)
  maps/torch/torch5_deck1.dmm
Labels: Map
