Repository Baystation12/Baystation12, pull requests merged in 2024-03, with the labels that each got.

#34529 Issue bingo
  code/game/objects/items/glassjar.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/mob/species/unathi/onmob_eyes_unathi.dmi
  icons/mob/species/unathi/onmob_under_unathi.dmi
  icons/obj/flora/seeds.dmi
Labels: Sprites

#34533 adds an air alarm to chemistry
  maps/torch/torch5_deck1.dmm
Labels: Map

#34531 Spotty frogs, lizard tatts
  code/modules/organs/external/head.dm
  code/modules/sprite_accessories/accessory_hair_fade.dm
  code/modules/sprite_accessories/accessory_skrell.dm
  code/modules/sprite_accessories/accessory_tattoo.dm
  code/modules/sprite_accessories/accessory_unathi.dm
  icons/mob/human_races/species/skrell/markings.dmi
  icons/mob/human_races/species/unathi/body.dmi
  icons/mob/human_races/species/unathi/tattoo.dmi
Labels: Sprites, Lore Approved

#34536 Assorted bug fixes
  code/game/machinery/computer/message.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
  code/modules/species/station/nabber.dm
  icons/mob/human_races/species/nabber/threat.dmi
  test/check-paths.sh
Labels: Sprites, Repo

#34539 ballistic goggles
  baystation12.dme
  code/__defines/items_clothing.dm
  code/_helpers/cmp.dm
  code/datums/uplink/devices and tools.dm
  code/game/antagonist/outsider/raider.dm
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/random/random.dm
  code/modules/client/client_color.dm
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/accessories/goggle_mods.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/skills/skill_verbs.dm
  icons/mob/onmob/onmob_eyes.dmi
  icons/mob/onmob/onmob_goggle_mod.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/species/unathi/onmob_eyes_unathi.dmi
  icons/mob/species/unathi/onmob_goggle_mod_unathi.dmi
  icons/mob/species/vox/onmob_eyes_vox.dmi
  icons/mob/species/vox/onmob_goggle_mod_vox.dmi
  icons/obj/clothing/obj_accessories.dmi
  icons/obj/clothing/obj_eyes.dmi
  icons/obj/clothing/obj_head.dmi
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/loadout/loadout_eyes.dm
Labels: Sprites
