Repository Baystation12/Baystation12, pull requests merged in 2024-01, with the labels that each got.

#34424 FIX: Various sprites from PR#33877 thread
  code/game/objects/items/devices/radio/electropack.dm
  code/game/objects/items/weapons/staff.dm
  code/game/objects/items/weapons/teleportation.dm
  code/game/objects/structures/barsign.dm
  code/modules/power/fusion/kinetic_harvester.dm
  code/modules/reagents/Chemistry-Sublimator.dm
  code/modules/spells/spellbook.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/obj/clothing/obj_feet.dmi
  maps/away/casino/casino.dmm
Labels: Map, Sprites

#34420 Reduce survival pod spawn rate, remove bearcat radio beacon and holopad
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dm
Labels: Map

#34436 Move punitelli to safer spawns
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_npcs.dm
Labels: Map

#34431 MAP: Some exoplanet ruins
  code/game/turfs/simulated/wall_types.dm
  code/modules/mechs/premade/_premade.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  maps/_maps.dm
  maps/random_ruins/exoplanet_ruins/crashed_shuttle/crashed_shuttle.dm
  maps/random_ruins/exoplanet_ruins/crashed_shuttle/crashed_shuttle.dmm
  maps/random_ruins/exoplanet_ruins/droppod/contents_1.dmm
  maps/random_ruins/exoplanet_ruins/droppod/contents_2.dmm
  maps/random_ruins/exoplanet_ruins/droppod/contents_3.dmm
  maps/random_ruins/exoplanet_ruins/droppod/droppod.dm
  maps/random_ruins/exoplanet_ruins/droppod/droppod.dmm
  maps/random_ruins/exoplanet_ruins/excavation_site/excavation_site.dm
  maps/random_ruins/exoplanet_ruins/excavation_site/excavation_site.dmm
  maps/random_ruins/exoplanet_ruins/fountain/fountain_ruin.dmm
  maps/random_ruins/exoplanet_ruins/skrell_biodome/skrell_biodome.dm
  maps/random_ruins/exoplanet_ruins/skrell_biodome/skrell_biodome.dmm
Labels: Map

#34427 Makes status display destructible
  code/game/machinery/status_display.dm
  icons/obj/machines/status_display.dmi
Labels: Sprites

#34440 Add: New sprites for fossils
  icons/obj/xenoarchaeology_finds.dmi
Labels: Sprites

#34449 Fix: Skrellian Biodome unit tests
  maps/random_ruins/exoplanet_ruins/skrell_biodome/skrell_biodome.dm
  maps/random_ruins/exoplanet_ruins/skrell_biodome/skrell_biodome.dmm
Labels: Map

#34458 null equality to isnull
  code/_helpers/unsorted.dm
  code/controllers/subsystems/ambient_lighting.dm
  code/controllers/subsystems/zcopy.dm
  code/game/antagonist/antagonist.dm
  code/game/gamemodes/changeling/modularchangling.dm
  code/game/machinery/computer/arcade_orion.dm
  code/game/machinery/computer/message.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/nuclear_bomb.dm
  code/game/machinery/teleporter/beacon.dm
  code/game/movietitles.dm
  code/game/objects/effects/fire/fire.dm
  code/game/objects/effects/spawners/bombspawner.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/implants/implants/compressed.dm
  code/game/objects/items/weapons/policetape.dm
  code/game/objects/items/weapons/storage/storage_ui/default.dm
  code/game/objects/structures/transit_tubes.dm
  code/modules/admin/admin.dm
  code/modules/admin/verbs/SDQL_2/SDQL_2_parser.dm
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/atmospherics/components/omni_devices/filter.dm
  code/modules/atmospherics/components/pipesparker.dm
  code/modules/client/preferences_persist.dm
  code/modules/clothing/under/accessories/buddy_tag.dm
  code/modules/economy/EFTPOS.dm
  code/modules/error_handler/error_handler.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/integrated_electronics/subtypes/converters.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/materials/_materials.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/carbon/give.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/modular_computers/file_system/programs/engineering/alarm_monitor.dm
  code/modules/modular_computers/laptop_vendor.dm
  code/modules/overmap/exoplanets/planet_themes/mountains.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/overmap/exoplanets/random_map.dm
  code/modules/power/cell_rack.dm
  code/modules/power/port_gen.dm
  code/modules/radiation/radiation.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/research/rdconsole.dm
  code/modules/spells/contracts.dm
  code/unit_tests/unit_test.dm
  maps/mapsystem/maps.dm
  packs/deepmaint/generator/jp_dungeon_gen.dm
  test/check-paths.sh
Labels: Repo

#34455 Tweak: Mech interface, disposals and some fixes
  code/modules/mechs/interface/_interface.dm
  code/modules/recycling/disposal.dm
  icons/mob/onmob/onmob_under.dmi
  icons/obj/weapons/flamethrower_new.dmi
Labels: Sprites

#34460 Fixes the ICGNV Hound's oxygen canister.
  maps/event/iccgn_ship/icgnv_hound.dmm
Labels: Map

#34461 tweaked playsound, changes & fixes for storage items
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/fancy/crackers.dm
  code/game/objects/items/weapons/storage/fancy/egg_box.dm
  code/game/objects/items/weapons/storage/fancy/matchbox.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/laundry_basket.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/game/objects/items/weapons/storage/pill_bottle.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/items/weapons/storage/specialized.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/structures/inflatable.dm
  code/game/sound.dm
  code/game/turfs/turf.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/detectivework/tools/crimekit.dm
  code/modules/mining/mine_turfs.dm
  code/modules/paperwork/photography.dm
  code/modules/reagents/reagent_containers/drinkingglass/glass_boxes.dm
  code/modules/reagents/reagent_containers/food/snacks/bugmeat.dm
  code/modules/research/part_replacer.dm
  code/modules/xenoarcheaology/tools/equipment.dm
  code/modules/xenoarcheaology/tools/tools.dm
  code/modules/xenoarcheaology/tools/tools_pickaxe.dm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/torch/items/wallets.dm
  packs/factions/iccgn/tweaks.dm
  packs/factions/scga/tweaks.dm
  test/check-paths.sh
Labels: Repo

#34456 transfer controller -> ssroundend
  baystation12.dme
  code/controllers/autotransfer.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/initialization/misc.dm
  code/controllers/subsystems/roundend.dm
  code/controllers/verbs.dm
  code/datums/vote/add_antag.dm
  code/game/gamemodes/game_mode_latespawn.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/new_player/new_player.dm
  config/example/config.txt
Labels: Config Update

#34426 Add the 'bluespace interlude'
  code/datums/helper_datums/teleport.dm
  code/game/machinery/bluespace_drive.dm
  code/game/machinery/teleporter/console.dm
  code/game/machinery/teleporter/pad.dm
  code/modules/events/bsd_instability.dm
  code/modules/mob/living/simple_animal/hostile/bluespace.dm
  maps/bluespace_interlude/bluespace_interlude.dm
  maps/bluespace_interlude/bluespace_interlude.dmm
  maps/mapsystem/maps.dm
  maps/torch/torch.dm
  maps/torch/torch_define.dm
  maps/torch/torch_procs.dm
  maps/torch/torch_unit_testing.dm
  sound/ambience/bluespace_interlude_ambience.ogg
Labels: Map, Sound

#34448 Vending machines have standardized health
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/coffee.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
  test/check-paths.sh
Labels: Repo

#34469 Fixes #34462
  code/game/objects/items/weapons/storage/secure.dm
  code/modules/mechs/equipment/medical.dm
  test/check-paths.sh
Labels: Repo

#34414 Turf to use_tool
  code/game/gamemodes/cult/cultify/de-cultify.dm
  code/game/machinery/floorlayer.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/game/turfs/simulated/floor_static.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/game/turfs/space/space.dm
  code/modules/mining/mine_turfs.dm
  code/modules/multiz/turf.dm
  code/modules/overmap/exoplanets/turfs.dm
  test/check-paths.sh
Labels: Repo

#34485 (re)moves the fleet report
  maps/torch/torch6_bridge.dmm
  packs/event_2022jul30/documents.dm
Labels: Map

#34492 Adds new overmap vessel placeholder sprite
  maps/event/placeholders/placeholders.dm
  maps/event/placeholders/scg-64.dmi
Labels: Sprites
