Repository Baystation12/Baystation12, pull requests merged in 2024-05, with the labels that each got.

#34587 Bullet Sounds and a Sprite
  code/modules/mob/living/simple_animal/hostile/robotic/hivebot/ranged.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/flaregun.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/guns/projectile/zipgun.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  sound/weapons/gunshot/gunshot_smg.ogg
  sound/weapons/gunshot/minigun.ogg
Labels: Sprites, Sound

#34586 Anomaly analysis QOL Tweaks
  code/modules/xenoarcheaology/tools/ano_device_battery.dm
  code/modules/xenoarcheaology/tools/artifact_analyser.dm
  code/modules/xenoarcheaology/tools/artifact_harvester.dm
  maps/torch/torch1_deck5.dmm
Labels: Map

#34601 replaced airlock audio, fixed denied sound not playing
  code/game/machinery/doors/airlock.dm
  sound/machines/AirlockClose.ogg
  sound/machines/AirlockClose_heavy.ogg
  sound/machines/airlock_close.ogg
  sound/machines/airlock_close_force.ogg
  sound/machines/airlock_open.ogg
  sound/machines/airlock_open_force.ogg
  sound/obj/machinery/door/airlock/access.ogg
  sound/obj/machinery/door/airlock/bolts_down.ogg
  sound/obj/machinery/door/airlock/bolts_up.ogg
  sound/obj/machinery/door/airlock/close.ogg
  sound/obj/machinery/door/airlock/close_force.ogg
  sound/obj/machinery/door/airlock/open.ogg
  sound/obj/machinery/door/airlock/open_force.ogg
Labels: Sound

#34602 shards are a teeny bit dangerous
  code/_helpers/lists.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/game/machinery/vending/dinnerware.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/items/weapons/storage/lunchbox.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/clothing/shoes/jobs.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/persistence/noticeboards.dm
  icons/obj/materials/shards.dmi
  maps/antag_spawn/ert/ert_base.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/mining/mining-signal.dmm
  maps/away/miningstation/miningstation.dmm
  maps/away/smugglers/smugglers.dmm
  maps/bluespace_interlude/bluespace_interlude.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  sound/obj/item/material/shard/caltrop.ogg
  sound/obj/item/material/shard/shrapnel.ogg
  sound/obj/item/material/shard/tack.ogg
Labels: Map, Sprites, Sound

#34604 airlock audio qol tweaks
  code/game/machinery/doors/airlock.dm
  sound/obj/machinery/door/airlock/close.ogg
  sound/obj/machinery/door/airlock/close_force.ogg
  sound/obj/machinery/door/airlock/open.ogg
  sound/obj/machinery/door/airlock/open_force.ogg
Labels: Sound

#34609 remove mapped tacks, add single tacks to junk spawns and a tack pot to office supply crates, shard embed limits
  code/datums/supplypacks/operations.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/random/random.dm
  maps/antag_spawn/ert/ert_base.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/mining/mining-signal.dmm
  maps/away/miningstation/miningstation.dmm
  maps/away/smugglers/smugglers.dmm
  maps/bluespace_interlude/bluespace_interlude.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#34624 empty round check is a timeout instead of periodic
  code/controllers/configuration.dm
  code/controllers/subsystems/roundend.dm
  config/example/config.txt
Labels: Config Update

#34625 QoL and immersion engineering improvements
  code/game/objects/structures/wall_frame.dm
  code/game/objects/structures/wallframe_spawner.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/supermatter/supermatter.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch4_deck2.dmm
Labels: Map
