Repository Baystation12/Baystation12, pull requests merged in 2024-11, with the labels that each got.

#34500 Adds Allergies
  baystation12.dme
  code/__defines/mobs.dm
  code/datums/traits/_defines.dm
  code/datums/traits/maluses/allergy.dm
  code/datums/traits/maluses/animal_protein.dm
  code/datums/traits/maluses/ethanol.dm
  code/datums/traits/maluses/sugar.dm
  code/datums/traits/maluses/water.dm
  code/datums/traits/traits.dm
  code/game/objects/items/weapons/storage/med_pouch.dm
  code/modules/admin/view_variables/helpers.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/allergy.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living_defines.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
  code/modules/species/species.dm
  test/check-paths.sh
Labels: Test Merge, Repo, Test Merge Passed

#34848 Various legion updates
  html/changelogs/legion_event_2_caled.yml
  html/changelogs/legion_event_2_sierrakomodo.yml
  html/changelogs/legion_event_2_spookerton.yml
  icons/mob/simple_animal/hivebot.dmi
  packs/legion/_globals.dm
  packs/legion/_pack.dm
  packs/legion/hivebot.dmi
  packs/legion/icons/beacon.dmi
  packs/legion/legion_beacon.dm
  packs/legion/legion_hivebot.dm
  packs/legion/legion_mob.dm
  packs/legion/legion_narrate.dm
  packs/legion/sounds/legion_arrive.ogg
  packs/legion/sounds/legion_voices1.ogg
Labels: Sprites, Sound

#34830 Add envelopes crafting and sealing
  code/game/machinery/nuclear_bomb.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_storage.dm
  code/modules/paperwork/folders.dm
  maps/torch/items/manuals.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch6_bridge.dmm
  packs/event_2022jul30/documents.dm
  packs/event_2024jul20/documents.dm
Labels: Map

#34822 Refactors mil_rank sort_order
  maps/torch/datums/uniforms_expedition.dm
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/icons/obj/obj_accessories_solgov.dmi
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/torch_ranks.dm
  packs/factions/iccgn/faction.dm
  packs/factions/scga/faction.dm
Labels: Sprites

#34851 Paint sprayer features and bugfix
  code/game/objects/items/devices/paint_sprayer.dm
  code/game/turfs/flooring/flooring_decals.dm
  icons/screen/radial.dmi
  icons/turf/flooring/decals.dmi
Labels: Sprites

#34852 change nacelles apcs to be critical
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

#34840 Readds the airlock controller for the engine room
  code/game/machinery/embedded_controller/airlock_program.dm
  maps/torch/torch4_deck2.dmm
Labels: Map

#34867 Shuffles both armouries
  maps/torch/torch5_deck1.dmm
Labels: Map

#34903 table knives are utensils, removed /kitchen/ path chunk from utensils
  code/datums/outfits/tournament.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/vending/dinnerware.dm
  code/game/objects/items/weapons/grenades/explosive.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/storage/mre.dm
  code/game/objects/items/weapons/trays.dm
  code/modules/fabrication/designs/micro/designs_cutlery.dm
  code/modules/materials/recipes_items.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/reagents/reagent_containers/drinkingglass/drinkingglass.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/surgery/face.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/robotics.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  maps/away/abandoned_hotel/abandoned_hotel-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/casino/casino.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/lost_supply_base/lost_supply_base.dmm
  maps/away/magshield/magshield.dmm
  maps/away/meatstation/meatstation.dmm
  maps/away/mining/mining-corporate.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/slavers/slavers_base.dmm
  maps/example/example-2.dmm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dmm
  maps/random_ruins/exoplanet_ruins/lodge/lodge.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/z1_admin.dmm
  packs/deepmaint/deepmaint_rooms/core/archive.dmm
Labels: Map

#34888 Various map changes
  code/game/objects/structures/crates_lockers/med_crate.dm
  maps/torch/structures/closets/medical.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#34909 Fix firstaid kits in the brig
  maps/torch/torch5_deck1.dmm
Labels: Map

#34905 Fix railgun overlays
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  icons/obj/guns/railgun.dmi
  icons/obj/guns/railgun_adv.dmi
  icons/obj/guns/railgun_heavy.dmi
  icons/obj/guns/railgun_old.dmi
Labels: Sprites

#34917 Better contrasted wall sprites & wall paint layering system
  code/__defines/doors.dm
  code/__defines/materials.dm
  code/_global_vars/lists/objects.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/effects/misc.dm
  code/game/objects/items/devices/paint_sprayer.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/wall_frame.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/wall_types.dm
  code/game/turfs/simulated/walls.dm
  code/modules/materials/_materials.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/definitions/materials_mineral.dm
  code/modules/materials/definitions/materials_organic.dm
  code/modules/materials/definitions/materials_other.dm
  code/modules/materials/definitions/materials_stone.dm
  code/modules/materials/definitions/materials_wood.dm
  code/modules/turbolift/turbolift_door.dm
  html/changelogs/Cakey-prettywalls.yml
  icons/obj/structures/wall_frame.dmi
  icons/screen/radial.dmi
  icons/turf/wall_masks.dmi
Labels: Sprites
