Repository Baystation12/Baystation12, pull requests merged in 2024-07, with the labels that each got.

#34679 Updates WW2 Gun Sprites
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/guns/battlerifle.dmi
  icons/obj/guns/pistol_throwback.dmi
Labels: Sprites

#34702 Update to SpacemanDMM v1.9
  .github/workflows/generate_documentation.yml
  .github/workflows/test.yml
  code/__spaceman_dmm.dm
Labels: Repo

#34713 adjusted recommended extensions
  .vscode/extensions.json
Labels: Repo

#34710 Remove unnecessary attackby test
  test/check-paths.sh
Labels: Repo

#34718 Add event-specific fluff doc
  maps/torch/torch.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch6_bridge.dmm
  packs/event_2024jul20/_pack.dm
  packs/event_2024jul20/documents.dm
Labels: Map

#34719 Add legionified hivebots and beacon
  baystation12.dme
  code/_macros.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/goonchat/browserassets/css/styles_template.css
  code/stylesheet.dm
  packs/legion/_pack.dm
  packs/legion/hivebot.dm
  packs/legion/hivebot.dmi
  packs/legion/legion.dmi
  packs/legion/legion_narrate.dm
  packs/legion/mob.dm
  packs/legion/structure.dm
Labels: Sprites

#34732 Various supply changes
  code/datums/supplypacks/engineering.dm
  code/datums/supplypacks/munitions.dm
  code/datums/supplypacks/operations.dm
  code/datums/supplypacks/science.dm
  code/modules/clothing/suits/jobs.dm
  maps/torch/datums/supplypacks/security.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
Labels: Map
