Repository Baystation12/Baystation12, pull requests merged in 2025-01, with the labels that each got.

#35025 Add canon deaths to the chapel's memorial
  maps/torch/structures/signs.dm
  maps/torch/torch3_deck3.dmm
Labels: Map

#35027 clean up /obj/overlay a little
  baystation12.dme
  code/game/atoms.dm
  code/game/objects/effects/decals/bullet_holes.dm
  code/game/objects/effects/overlays.dm
  code/game/objects/empulse.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/shields.dm
  code/game/turfs/simulated/wall_attacks.dm
  test/check-paths.sh
Labels: Repo

#35020 split hangar substation into a full room, added console & map to expedition prep
  maps/torch/torch1_deck5.dmm
  maps/torch/torch_areas.dm
Labels: Map

#35026 removed deck four central
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_areas.dm
Labels: Map

#35030 Rename reaver to bellator
  packs/legion/_pack.dm
  packs/legion/icons/bellator.dmi
  packs/legion/mob/legion_bellator.dm
  packs/legion/weapon/legion_projectile.dm
Labels: Sprites

#35041 clean up server location config
  code/controllers/configuration.dm
  code/game/world.dm
  code/modules/ext_scripts/irc.dm
  config/example/config.txt
Labels: Config Update

#35053 Fix spawn uses test
  test/check-paths.sh
Labels: Repo

#35058 Revert "Organ Surgery Restyling & Documentation"
  code/game/objects/items/weapons/autopsy.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/face.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/slimes.dm
  code/modules/surgery/surgery.dm
  test/check-paths.sh
Labels: Repo
