Repository Baystation12/Baystation12, pull requests merged in 2025-05, with the labels that each got.

#35178 remove remaining legion paperwork
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

#35188 516: Initial goonchat fixes
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/goonchat/browserassets/css/styles_template.css
  code/modules/goonchat/browserassets/js/browserOutput.js
Labels: BYOND 516

#35235 Restores missing syringe preview icons
  icons/obj/tools/syringe.dmi
Labels: Sprites

#35247 Enforce usage of `*_REF` in callbacks
  code/datums/callbacks.dm
  code/modules/weather/weather_init.dm
  code/modules/weather/weather_mob_tracking.dm
  packs/legion/helpers/legion_recall.dm
  packs/legion/mob/legion_speculator.dm
  test/check-paths.sh
Labels: Repo

#35245 Add alarm sounds to supermatter warning lights
  code/game/machinery/rotating_alarm.dm
  code/modules/supermatter/supermatter.dm
  html/changelogs/rockton-supermatter-alarms.yml
  html/changelogs/sierrakomodo-supermatter-alarms.yml
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch6_bridge.dmm
  packs/event_legion_capaneus/capaneus_alarm.dm
  sound/obj/machinery/rotating_alarm/supermatter.ogg
Labels: Map, Sound

#35238 Fix hardsuit thrusters
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  test/check-paths.sh
Labels: Repo

#35241 Deck Four Catwalk Access Gets Windows + Floating/Window Lights Removal
  maps/torch/torch2_deck4.dmm
Labels: Map
