Repository Baystation12/Baystation12, pull requests merged in 2025-02, with the labels that each got.

#35040 makes it so the warehouse actually has more then 2 sheets of glass
  maps/torch/torch1_deck5.dmm
Labels: Map

#35095 NT Lunchbox changes
  code/game/machinery/vending/dinnerware.dm
  code/game/objects/items/weapons/storage/lunchbox.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  icons/obj/lunchboxes.dmi
Labels: Sprites

#35078 Add a wholesome poster to the therapy room
  icons/obj/structures/contraband.dmi
  maps/torch/structures/posters.dm
  maps/torch/torch5_deck1.dmm
Labels: Map, Sprites

#35014 Overmap movement refactor
  baystation12.dme
  code/_global_vars/overmap.dm
  code/modules/events/meteors.dm
  code/modules/overmap/contacts/_contacts.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/landable.dm
  code/modules/overmap/ships/ship.dm
  icons/obj/overmap.dmi
  maps/away/scavver/scavver_gantry_shuttles.dm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
  maps/away/voxship/voxship.dm
  maps/event/iccgn_ship/icgnv_hound.dm
  maps/event/placeholders/placeholders.dm
  maps/event/sfv_arbiter/sfv_arbiter.dm
Labels: Update Wiki after Merge, Sprites

#35036 Legion Speculator
  code/__defines/flags.dm
  code/game/atoms_movable.dm
  code/game/turfs/turf.dm
  packs/legion/_pack.dm
  packs/legion/ai/legion_ai_speculator.dm
  packs/legion/icons/speculatore.dmi
  packs/legion/mob/legion_speculator.dm
  packs/legion/sounds/speculator_cloak_1.ogg
  packs/legion/sounds/speculator_decloak_1.ogg
  packs/legion/sounds/speculator_hint_1.ogg
  packs/legion/sounds/speculator_hint_2.ogg
  packs/legion/sounds/speculator_hint_3.ogg
  packs/legion/weapon/speculator_weapons.dm
Labels: Sprites, Sound

#35152 Added Bee Plush & Fixed Farwa Plush
  code/game/objects/items/toys.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/toy.dmi
Labels: Sprites

#35139 Remove unathi wound/organ regen (Keeps their limb regen)
  code/game/objects/auras/regenerating_aura.dm
  code/modules/species/station/lizard_subspecies.dm
Labels: Update Wiki after Merge, Lore Approved
